﻿@model Sabis.Bolum.Core.ABS.GENEL.GeriBildirimOdev
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading bar-arkaplan">Sorun Bildirimi</div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Öğrenci</th>
                            <td>@Model.OgrenciAd @Model.OgrenciSoyad (<span style="color:#8e8e8e"></span>@Model.OgrenciNumara)</td>
                        </tr>
                        <tr>
                            <th>Başlık</th>
                            <td>@Model.BildirimBaslik</td>
                        </tr>
                        <tr>
                            <th>İçerik</th>
                            <td>@Model.BildirimIcerik</td>
                        </tr>
                        <tr>
                            <th>Bildirim Tarihi</th>
                            <td>@Model.BildirimTarih</td>
                        </tr>
                        <tr>
                            <th>Dosya</th>
                            <td>
                                @if (Model.BildirimDosya != null && Model.BildirimDosya != "")
                                {
                                    <img src="@SDFSClient.FileClient.GetUrl(Model.BildirimDosya)" style="max-width:600px !important; max-height:300px !important; overflow:scroll;" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>Cevap</th>
                            <td>
                                @Html.TextAreaFor(model => model.BildirimCevap, new { rows = 5, style = "width:600px" })
                                @*cevap*@
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a href="#" id="BildirimKaydet" data-bildirimid="@Model.GeriBildirimID" class="btn btn-success">İşlemi Tamamla</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading bar-arkaplan">Ödev Detayı</div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Ödev Ad</th>
                            <td>@Model.OdevAd</td>
                        </tr>
                        <tr>
                            <th>Ödev Açıklama</th>
                            <td>@Model.OdevAciklama</td>
                        </tr>
                        <tr>
                            <th>Ödev Dosyası</th>
                            <td>
                                @if (Model.OdevDosya != null && Model.OdevDosya != "")
                                {
                                    <a href="@SDFSClient.FileClient.GetUrl(Model.OdevDosya)" class="btn btn-success btn-label"><i class="fa fa-download"></i> Ödev Dosyası</a>
                                }
                                
                            </td>
                        </tr>
                        <tr>
                            <th>Başlangıç-Bitiş</th>
                            <td>@Model.BaslangicTarihi - @Model.BitisTarihi</td>
                        </tr>
                        <tr>
                            <th>Ödev Türü</th>
                            <td>
                                @if (Model.OdevOnline)
                                {
                                    if (Model.OdevGenel)
                                    {
                                        <span>Online Ödev (Genel Altivite)</span>
                                    }
                                    else
                                    {
                                        <span>Online Ödev (Sınıf Altivite)</span>
                                    }
                                }
                                else
                                {
                                    if(Model.OdevGenel)
                                    {
                                        <span> Klasik Ödev(Genel Altivite) </span>
                                    }
                                    else
                                    {
                                        <span> Klasik Ödev(Sınıf Altivite) </span>
                                    }
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading bar-arkaplan">Öğrenci Ödev Detayı</div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Öğrenci Ödev Yükleme Tarihi</th>
                            <td>@Model.OdevYuklemeTarih</td>
                        </tr>
                        <tr>
                            <th>Öğrenci Ödev Dosyası</th>
                            <td>
                                @if (Model.OdevOgrenciDosya != null && Model.OdevOgrenciDosya != "")
                                {
                                    <a href="@SDFSClient.FileClient.GetUrl(Model.OdevOgrenciDosya)" class="btn btn-success btn-label"><i class="fa fa-download"></i> Ödev Dosyası</a>

                                }

                            </td>
                        </tr>
                        <tr>
                            <th>Dosya Türü</th>
                            <td>@Model.OdevDosyaTuru</td>
                        </tr>
                        <tr>
                            <th>Not</th>
                            <td>
                                @if (Model.OdevNotu == -1)
                                {
                                    <span>Notu Girilmedi</span>
                                }
                                else
                                {
                                    @Model.OdevNotu
                                }

                            </td>
                        </tr>
                        <tr>
                            <th>Hoca Açıklama</th>
                            <td>@Model.OdevNotuAciklamasi</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .info 
    {
        background-color:#d0d0d0 !important;
    }
</style>
<script>
    $("#BildirimKaydet").on("click", function () {
        var data = {
            ID: $("#BildirimKaydet").attr("data-bildirimid"),
            Cevap: $('#BildirimCevap').val()
        };
        $.post("/Ders/Sinav/BildirimKaydet", data)
             .done(function (json) {
                 json ? toastr.success("Tamamlandı") : toastr.error("Hata oluştu");
                 setTimeout(function () {
                     location.reload();
                 }, 2000);
             });
    });
</script>