﻿@model List<Sabis.Bolum.Core.ABS.GENEL.GeriBildirimOdev>
@{
    Layout = null;
}
<label class="radio-inline">
    <input name="form-field-radio" type="radio" class="ace" checked="checked" onchange="StatusFilter(-1)">
    <span class="lbl"> Tümü</span>
</label>
<label class="radio-inline">
    <input name="form-field-radio" type="radio" class="ace" onchange="StatusFilter(0)">
    <span class="lbl"> Yeni</span>
</label>
<label class="radio-inline">
    <input name="form-field-radio" type="radio" class="ace" onchange="StatusFilter(1)">
    <span class="lbl"> Okunan</span>
</label>
<label class="radio-inline">
    <input name="form-field-radio" type="radio" class="ace" onchange="StatusFilter(2)">
    <span class="lbl"> Tamamlanan</span>
</label>
<br />
<br />
<div id="example_wrapper" class="dataTables_wrapper" role="grid">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables dataTable" id="example" aria-describedby="example_info">
        <thead>
            <tr role="row">
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 282px;">Bildirim - Aktivite</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 412px;">Ad Soyad</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 369px;">Sınıf / Öğretim Görevlisi</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 242px;">Bildirim Tarih</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 175px;">Bildirim Durumu</th>
            </tr>
        </thead>

        <tbody role="alert" aria-live="polite" aria-relevant="all">
            @foreach (var item in Model)
            {
                <tr class="gradeA odd Bildirim_@item.BildirimDurum">
                    <td class="">
                        <span class="text-primary">
                            <a href="javascript:;" class="" data-title="@item.OdevAd" data-toggle="tooltip modal" data-source="/EBS/GeriBildirim/_OdevGeriBildirimRapor?OdevID=@item.OdevID&FKOgrenciID=@item.FKOgrenciID&FKDersGrupID=@item.FKDersGrupID" data-size="30" data-backdrop="false" data-keyboard="true" data-original-title="" title="">@item.BildirimBaslik</a>
                        </span>
                        <br />
                        <span style="color:#858585 !important; font-size:11px !important;">@item.OdevAd</span>
                    </td>
                    <td class="">@item.OgrenciAd @item.OgrenciSoyad <span style="color:#858585">(@item.OgrenciNumara)</span></td>
                    <td class="">@item.GrupAd / @item.HocaAd</td>
                    <td class="">@item.BildirimTarih</td>
                    <td class="">
                        @if (item.BildirimDurum == 0)
                        {
                            <a href="#" class="btn btn-sm btn-danger">Yeni</a>
                        }
                        @if (item.BildirimDurum == 1)
                        {
                            <a href="#" class="btn btn-sm btn-warning">Okundu</a>
                        }
                        @if (item.BildirimDurum == 2)
                        {
                            <a href="#" class="btn btn-sm btn-success">Tamamlandı</a>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
<style>
    .modal-dialog {
        width: 900px !important;
    }
</style>
<script>
    function StatusFilter(enStatus) {
        status = parseInt(enStatus);
        var islem = "";
        if (status == -1) islem = "tumu";
        if (status == 0) islem = "yeni";
        if (status == 1) islem = "okundu";
        if (status == 2) islem = "tamamlandi";


        switch (islem) {
            case "tumu":
                $(".Bildirim_0").show();
                $(".Bildirim_1").show();
                $(".Bildirim_2").show();
                break;
            case "yeni":
                $(".Bildirim_0").show();
                $(".Bildirim_1").hide();
                $(".Bildirim_2").hide();
                break;
            case "okundu":
                $(".Bildirim_0").hide();
                $(".Bildirim_1").show();
                $(".Bildirim_2").hide();
                break;
            case "tamamlandi":
                $(".Bildirim_0").hide();
                $(".Bildirim_1").hide();
                $(".Bildirim_2").show();
                break;
        }

    }
</script>