﻿@model Sabis.Bolum.Core.ABS.GENEL.GeriBildirimSanalSinif
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading bar-arkaplan">Sorun Bildirimi</div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Öğrenci</th>
                            <td>@Model.OgrenciAd @Model.OgrenciSoyad (<span style="color:#8e8e8e"></span>@Model.OgrenciNumara)</td>
                        </tr>
                        <tr>
                            <th>Başlık</th>
                            <td>@Model.BildirimBaslik</td>
                        </tr>
                        <tr>
                            <th>İçerik</th>
                            <td>@Model.BildirimIcerik</td>
                        </tr>
                        <tr>
                            <th>Bildirim Tarihi</th>
                            <td>@Model.BildirimTarih</td>
                        </tr>
                        <tr>
                            <th>Dosya</th>
                            <td>
                                @if (Model.BildirimDosya != null && Model.BildirimDosya != "")
                                {
                                    <img src="@SDFSClient.FileClient.GetUrl(Model.BildirimDosya)" style="max-width:600px !important; max-height:300px !important; overflow:scroll;" />
                                }
                            </td>
                        </tr>
                        @*<tr>
                            <th>
                                İzleme Linki
                            </th>
                            <td>
                                <a href="@Model.OgrenciSanalSinifAdres" target="_blank">İzle</a>
                            </td>
                        </tr>*@
                        <tr>
                            <th>Cevap</th>
                            <td>
                                @Html.TextAreaFor(model => model.BildirimCevap, new { rows = 5, style = "width:600px" })
                                @*cevap*@
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a href="#" id="BildirimKaydet" data-bildirimid="@Model.GeriBildirimID" class="btn btn-success">İşlemi Tamamla</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading bar-arkaplan">Sanal SInıf Oturumu</div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Aktivite Adı</th>
                            <td>@Model.SanalSinifAd</td>
                        </tr>
                        <tr>
                            <th>Başlangıç Tarihi</th>
                            <td>@Model.SanalSinifBaslangic</td>
                        </tr>
                        <tr>
                            <th>Bitiş Tarihi</th>
                            <td>@Model.SanalSinifBitis</td>
                        </tr>
                        <tr>
                            <th>AktiviteID/SunucuID</th>
                            <td>@Model.SanalSinifID - (Perculus @Model.SunucuID - @Model.RoomID)</td>
                        </tr>
                        <tr>
                            <th>Aktif Süre</th>
                            <td>@Model.AktifSure Dakika</td>
                        </tr>
                        
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .info {
        background-color: #d0d0d0 !important;
    }
</style>
<script>
    $("#BildirimKaydet").on("click", function () {
        var data = {
            ID: $("#BildirimKaydet").attr("data-bildirimid"),
            Cevap: $('#BildirimCevap').val()
        };
        $.post("/Ders/Sinav/BildirimKaydet", data)
             .done(function (json) {
                 json ? toastr.success("Tamamlandı") : toastr.error("Hata oluştu");
                 setTimeout(function () {
                     location.reload();
                 }, 2000);
                 
             });
    });
</script>