﻿@model Sabis.Bolum.Core.ABS.GENEL.GeriBildirimSinav
@{
    Layout = null;
    var mazeretSinaviVarmi = Sabis.Bolum.Bll.SOURCE.ABS.DERS.SINAVMAIN.MazeretSinavi(Model.SinavID);
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading bar-arkaplan">Sorun Bildirimi</div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Öğrenci</th>
                            <td>@Model.OgrenciAd @Model.OgrenciSoyad (<span style="color:#8e8e8e"></span>@Model.OgrenciNumara)</td>
                        </tr>
                        <tr>
                            <th>Başlık</th>
                            <td>@Model.BildirimBaslik</td>
                        </tr>
                        <tr>
                            <th>İçerik</th>
                            <td>@Model.BildirimIcerik</td>
                        </tr>
                        <tr>
                            <th>Bildirim Tarihi</th>
                            <td>@Model.BildirimTarih</td>
                        </tr>
                        <tr>
                            <th>Dosya</th>
                            <td>
                                @if (Model.BildirimDosya != null && Model.BildirimDosya != "")
                                {
                                    <img src="@SDFSClient.FileClient.GetUrl(Model.BildirimDosya)" style="max-width:600px !important; max-height:300px !important; overflow:scroll;" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>Oturum Durumu</th>
                            <td id="td_OturumDurum">@Model.OturumunDurumu</td>
                        </tr>
                        @if (mazeretSinaviVarmi)
                        {
                            <tr id="tr_MazeretHakButon">
                                <th>Mazeret Hakkı</th>
                                <td id="td_MazeretButon">
                                    @if (Model.OturumDurum != 3 && Model.OturumDurum != 4 && Model.OturumDurum != 5)
                                    {
                                        <a href="#" class="btn btn-sm btn-primary pull-left mazeretHak" data-sinavid="@Model.SinavID" data-ogrenciid="@Model.FKOgrenciID" data-grupid="@Model.FKDersGrupID">Mazeret Hakkı Ver</a>
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }

                                </td>
                            </tr>
                        }

                        <tr>
                            <th>Cevap</th>
                            <td>
                                @Html.TextAreaFor(model => model.BildirimCevap, new { rows = 5, style = "width:600px" })
                                @*cevap*@
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a href="#" id="BildirimKaydet" data-bildirimid="@Model.GeriBildirimID" class="btn btn-success">İşlemi Tamamla</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading bar-arkaplan">Sınav Oturumları</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Oturum</th>
                            <th>Başlangıç - Bitiş Tarihi</th>
                            <th>Soru Sayısı</th>
                            <th>Doğru - Yanlış Sayısı</th>
                            <th>Sonuç</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>1</td>
                            <td>
                                @Model.TarihOturumBaslangic <br /> @Model.TarihOturumBitis
                            </td>
                            <td><span class="btn btn-primary">@Model.SoruSayisi</span></td>
                            <td>
                                <span class="btn btn-success" title="Doğru">@Model.DogruSayisi</span>
                                <span class="btn btn-danger" title="Yanlış">@Model.YanlisSayisi</span>
                                <span class="btn btn-default" title="Boş">@Model.BosSayisi</span>
                            </td>
                            <td>@Model.Notu</td>
                            <td>
                                <a href="#" id="oturumTemizle" class="btn btn-danger" data-eid="3"><i class="fa fa-times"></i> Oturumu Temizle</a>
                            </td>
                        </tr>
                        @if (Model.OturumDurum == 3 || Model.OturumDurum == 4 || Model.OturumDurum == 5)
                        {
                            <tr>
                                <td>Mazeret</td>
                                <td>
                                    @Model.TarihMazeretOturumBaslangic <br />
                                    @Model.TarihMazeretOturumBitis
                                </td>
                                <td>
                                    <span class="btn btn-primary">@Model.SoruSayisi</span>
                                </td>
                                <td>
                                    <span class="btn btn-success" title="Doğru">@Model.MazeretDogruSayisi</span>
                                    <span class="btn btn-danger" title="Yanlış">@Model.MazeretYanlisSayisi</span>
                                    <span class="btn btn-default" title="Boş">@Model.MazeretBosSayisi</span>
                                </td>
                                <td>@Model.MazeretNotu</td>
                                <td>
                                    <a href="#" id="oturumTemizleMazeret" class="btn btn-danger" data-eid="4"><i class="fa fa-times"></i> Oturumu Temizle</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>

                <div class="tab-content">
                    <div class="tab-pane active" id="domtabs">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="tab-container tab-danger">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#normal" data-toggle="tab"> 1.Oturum</a></li>
                                        @if (Model.OturumDurum == 3 || Model.OturumDurum == 4 || Model.OturumDurum == 5)
                                        {
                                            <li><a href="#mazeret" data-toggle="tab"> Mazeret Oturumu</a></li>
                                        }
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="normal">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel-group panel-info" id="accordion">
                                                        @if (Model.oturumdetay != null)
                                                    	{
                                                    	    foreach (var item in Model.oturumdetay.Where(x => x.MazeretSoru == false && x.MazeretCevap == false).ToList())
                                                            {
                                                                <div class="panel panel-default">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.SoruNo" class="collapsed">
                                                                        <div class="panel-heading cevap_@item.CevapDogru.ToString()">
                                                                            <h4>@item.SoruNo. Soru </h4>

                                                                        </div>
                                                                    </a>
                                                                    <div id="collapse_@item.SoruNo" class="panel-collapse collapse" style="height: 0px;">
                                                                        <div class="panel-body">
                                                                            <strong>Soru :</strong> @Html.Raw(item.Baslik)

                                                                            <br />
                                                                            <strong>Öğrenci Cevap : </strong> @item.OgrenciCevap
                                                                            <br />
                                                                            <strong>Doğru Cevap : </strong> @item.DogruCevap
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <span>Oturum Bulunamadı.</span>
                                                        }



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="mazeret">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel-group panel-info" id="accordion">
                                                        @if (Model.oturumdetay != null)
                                                    	{
                                                    		 foreach (var item in Model.oturumdetay.Where(x => x.MazeretSoru == true && x.MazeretCevap == true).ToList())
                                                             {
                                                                <div class="panel panel-default">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.SoruNo" class="collapsed">
                                                                        <div class="panel-heading cevap_@item.CevapDogru.ToString()">
                                                                            <h4>@item.SoruNo. Soru </h4>

                                                                        </div>
                                                                    </a>
                                                                    <div id="collapse_@item.SoruNo" class="panel-collapse collapse" style="height: 0px;">
                                                                        <div class="panel-body">
                                                                            <strong>Soru :</strong> @Html.Raw(item.Baslik)

                                                                            <br />
                                                                            <strong>Öğrenci Cevap : </strong> @item.OgrenciCevap
                                                                            <br />
                                                                            <strong>Doğru Cevap : </strong> @item.DogruCevap
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <span>Oturum Bulunamadı.</span>
                                                        }



                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>





            </div>
        </div>
    </div>
</div>
<style>
    .accordion-item {
        background-color: #2ad11e !important;
        padding: 10px !important;
        color: white !important;
    }

    .cevap_True {
        background-color: #247535 !important;
        color: white !important;
        text-decoration: none;
    }

    .cevap_False {
        background-color: #ff3d3d !important;
        color: white !important;
        text-decoration: none;
    }
</style>
<script>
    $("#oturumTemizle").click(function () {
        //var data = {
        //    EID: $("#oturumTemizle").attr("data-eid"),
        //    mazeret: false
        //};
        //$.post("/Ders/Sinav/OturumTemizle", data)
        //     .success(function (json) {
        //         toastr.success("Oturum Temizlendi. Öğrenci Sınava Tekrar Girebilir.");
        //         location.reload();
        //     }
        //);

    });
    $("#oturumTemizleMazeret").click(function () {
        //var data = {
        //    EID: $("#oturumTemizleMazeret").attr("data-eid"),
        //    mazeret: true
        //};
        //$.post("/Ders/Sinav/OturumTemizle", data)
        //     .success(function (json) {
        //         toastr.success("Mazeret Oturumu Temizlendi. Öğrenci Sınava Tekrar Girebilir.");
        //         location.reload();
        //     }
        //);

    });

    $(".mazeretHak").click(function () {
        var data = {
            sinavID: $(this).attr("data-sinavid"),
            ogrenciID: $(this).attr("data-ogrenciid"),
            FKDersGrupID: $(this).attr("data-grupid"),

        };
        $.post("/Ders/Sinav/MazeretHakVer2", data)
             .success(function (json) {
                 toastr.success("Mazeret Hakkı Verildi. Öğrenci Mazeret Sınavı Tarihi Geldiğinde Sınava Tekrar Girebilir.");
                 $("#td_OturumDurum").text("Mazeret Hakkı Verildi.");
                 $("#td_MazeretButon").text("-");
                 $("#tr_MazeretHakButon").hide();

             }
        );

    });


    $("#BildirimKaydet").on("click", function () {
        var data = {
            ID: $("#BildirimKaydet").attr("data-bildirimid"),
            Cevap: $('#BildirimCevap').val()
        };
        $.post("/Ders/Sinav/BildirimKaydet", data)
             .done(function (json) {
                 json ? toastr.success("Tamamlandı") : toastr.error("Hata oluştu");
                 setTimeout(function () {
                     location.reload();
                 }, 2000);
             });
    });

</script>
