﻿@model Sabis.Bolum.Core.ABS.GENEL.GeriBildirimVM
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Geri Bildirim Detay</li>
        </ul>
    </div>
}
<input type="hidden" id="hdnModulTip" value="@Model.ModulTip"/>
<div id="page-heading">
    @*<ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li>UI Components</li>
            <li class="active">Tabs &amp; Accordions</li>
        </ol>*@

    <h4 class="text-primary">@Model.BirimAd > @Model.DersAd</h4>

</div>
<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Geri Bildirimler</div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane active" id="domtabs">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="tab-container tab-danger">
                            <ul class="nav nav-tabs">
                                <li class="_sinav"><a href="#sinav" data-toggle="tab"><i class="fa fa-pencil red"></i> Sınav</a></li>
                                <li class="_odev"><a href="#odev" data-toggle="tab"><i class="fa fa-plus red"></i> Ödev</a></li>
                                <li class="_ssinif"><a href="#ssinif" data-toggle="tab"><i class="fa fa-users red"></i> Sanal Sınıf</a></li>
                                <li class="_icerik"><a href="#icerik" data-toggle="tab"><i class="fa fa-camera red"></i> İçerik</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="sinav">
                                    @Html.Action("_SinavGeriBildirimleri")
                                </div>
                                <div class="tab-pane" id="odev">
                                    @Html.Action("_OdevGeriBildirimleri")
                                </div>
                                <div class="tab-pane" id="ssinif">
                                    @Html.Action("_SanalSinifGeriBildirimleri")
                                </div>
                                <div class="tab-pane" id="icerik">
                                    @*@Html.Action("_IcerikGeriBildirimleri")*@
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
<style>
    select {
        margin-bottom: 10px;
    }
    /*.red {
        color:red;
    }*/
    .tab-content > .active {
        display: block;
        visibility: visible;
    }
</style>
<script>
    $(document).ready(function () {
        var m = $("#hdnModulTip").val();
        if (m == 2) {
            $("._ssinif").addClass("active");
        }
    });
</script>
