﻿@model Sabis.Bolum.Core.ABS.DERS.DERSDETAY.DevamsizOgrenciVM
@using Dil = DilWebClient.Cevir
@{
    ViewBag.Title = "Devamsız Öğrenci Girişi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class="fa fa-chevron-right"></i></li>
            <li>Devamsız Öğrenci</li>
        </ul>
    </div>
}
@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")

@Html.Action("_pGrupDersDetaylari", "Detay")

<div class="alert alert-dismissable alert-danger">
    <strong>@Dil.Getir("dikkat").ToUpper()!</strong> @Dil.Getir("devamsiz_giris_bilgi")
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">

            <div class="panel-heading">
                @Dil.Getir("ogrenci_listesi")
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="active">
                            <th class="col-md-1 text-center">@Dil.Getir("durum")</th>
                            <th class="col-md-3">@Dil.Getir("numara")</th>
                            <th class="col-md-8">@Dil.Getir("ad_soyad")</th>
                        </tr>
                    </thead>
                    <tbody id="ogrenciListesi"></tbody>
                </table>
            </div>
            <div class="panel-footer">

                <button class="btn btn-success btn-label" style="margin:10px; margin-left: 0;" title="Kaydet" id="BtnKaydet">
                    <i class="fa fa-check"></i>@Dil.Getir("kaydet")
                </button>
                @*<a class="btn btn-inverse btn-label" href="/Ders/Detay/Grup/@Request.RequestContext.RouteData.Values["id"]" style="margin:10px; margin-left: 0;"><i class="fa fa-times"></i>@Dil.Getir("vazgec")</a>*@

            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {
        var liste = $.post("/Ders/DevamsizOgrenci/GetirOgrenciListesi", { id: '@Request.RequestContext.RouteData.Values["id"]' })
            .success(function (data) {
                console.log(data);
            for(var i = 0; i < data.length; i++)
            {
                var devam = "";
                if (data[i].Notu == 130) { devam = "checked"; }
                if (data[i].Notu >= 0 && data[i].Notu < 101 && data[i].Notu != null) {
                    $("#ogrenciListesi").append("<tr><td class='col-md-1 text-center'>" + data[i].Notu + "</td><td class='col-md-3'>" + data[i].Numara + "</td><td class='col-md-8'>" + data[i].Ad + " " + data[i].Soyad + "</td></tr>");
                }
                else {
                    $("#ogrenciListesi").append("<tr><td class='col-md-1 text-center'><input " + '@dersDetay.SonHalVerildiMi.ToString().ToLower().Replace("true", "disabled")' + " style='width: 20px; height: 20px;'" + devam + " class='check' type='checkbox' data-ogrenciid=" + data[i].OgrenciID + " data-payid=" + data[i].PayID + " data-dersplananaid=" + data[i].DersPlanAnaID + " data-dersgrupid=" + data[i].DersGrupID + " data-dersplanid=" + data[i].DersPlanID + " data-notu=" + data[i].Notu + "></td><td class='col-md-3'>" + data[i].Numara + "</td><td class='col-md-8'>" + data[i].Ad + " " + data[i].Soyad + "</td></tr>");
                }
            }
        });
    });

    $("#BtnKaydet").click(function() {

        var devamsizListe = [];

        //tanımlamalar
        var KaydedenKulanici = '@Sabitler.KullaniciAdi';
        var Yil = '@Sabitler.Yil';
        var Donem = '@Sabitler.Donem';
        //tanımlamalar

        var secilen = $(".check");

        $.each(secilen, function (key, value) {
            var notu = null;
            if ($(this).is(':checked')) { notu = "130"; }

            var data = {
                Notu: notu,
                KaydedenKulanici: KaydedenKulanici,
                Yil: Yil,
                Donem: Donem,
                DersGrupID: $(this).data("dersgrupid"),
                DersPlanID: $(this).data("dersplanid"),
                DersPlanAnaID: $(this).data("dersplananaid"),
                OgrenciID: $(this).data("ogrenciid"),
                PayID: $(this).data("payid")
            };
            devamsizListe.push(data);
        });


        var kaydet = $.post("/Ders/DevamsizOgrenci/DevamsizOgrenciKaydet", { liste: devamsizListe })
            .success(function (json) {
                if (json == true) {
                    toastr.success("@Dil.Getir("basariyla_kaydedildi")");
                }
                else {
                    toastr.error("@Dil.Getir("istek_sirasinda_bir_hata_olustu")");
                }
            });
    });

</script>