﻿@model Sabis.Bolum.WebUI.Areas.Ders.Controllers.ExcelNotGirisController.ExcelFileModel
@using Dil = DilWebClient.Cevir

@*<script src="~/assets/js/jquery-ui-1.9.2.min.js"></script>*@
<script src="~/Content/assets/global/plugins/jquery-fileupload/js/jquery.fileupload.js"></script>
<script src="~/Content/assets/global/plugins/jquery-fileupload/js/jquery.fileupload-ui.js"></script>
<script src="~/Content/assets/global/plugins/jquery-fileupload/js/jquery.iframe-transport.js"></script>

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Excel Dosyası Seçiniz</div>
    <div class="panel-body">
        <a class="fileUpload btn btn-inverse btn-label">
            <i class="fa fa-cloud-upload"></i> Dosya Seçiniz

            <input id="fu-my-simple-upload" type="file" class="upload" name="ExcelFile" />
        </a>

        <div style="margin-top: 20px;">
            <div id="islemDers" class="alert alert-dismissable alert-info">Başıkları, excel dosyasında bulunan başlıklar ile eşleştiriniz.</div>

            <table class="table table-bordered">
                <thead>
                    <tr class="active">
                        <th>Başlık</th>
                        <th>Excel Başlıkları</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Öğrenci Numarası:</td>
                        <td>
                            <select id="ddlExcelOGRNumara" class="form-control"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Puanı</td>
                        <td><select id="ddlExcelOGRNot" class="form-control"></select></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button id="btnKaydet" class="btn btn-success">Kaydet</button>

    </div>
</div>

<script>
    $(document).ready(function() {
        $.post("/Ders/ExcelNotGiris/GetirPayList")
    });
</script>

@*EXCEL NOT GİRİŞ*@
<script type="text/javascript">
    var jqXHRData;
    $(document).ready(function () {
        initSimpleFileUpload();
        $("#hl-start-upload").on('click', function () {
            if (jqXHRData) {
                jqXHRData.submit();
            }
            return false;
        });
    });

    function initSimpleFileUpload() {
        'use strict';
        $('#fu-my-simple-upload').fileupload({
            url: '/Ders/ExcelNotGiris/ExcelUpload',
            dataType: 'json',
            add: function (e, data) {
                jqXHRData = data
                if (jqXHRData) {
                    jqXHRData.submit();
                }
            },
            done: function (event, data) {
                $.each(data.result, function(index, value) {
                    //$("#tblAlanEslestir").append('<tr><td>');
                    $("#ddlExcelOGRNumara, #ddlExcelOGRNot").append("<option value='" + value.SiraNo + "'>" + value.KolonAdi + "</option>");
                })
                excelSecildi();
            },
            fail: function (event, data) {
                if (data.files[0].error) {
                    //alert(data.files[0].error);
                    toastr.error("Notlar aktarılırken bir hata oluştu.");
                }
            }
        });
    }


    //$("#btnKaydet").one("click", function () {
    //    $.post("/NotGiris/Excel/SetColumnTempData", { dersPlanAnaID: dersPlanAnaID, payID: payid, numaraKolon: $("#ddlExcelOGRNumara").val(), notKolon: $("#ddlExcelOGRNot").val() })
    //     .done(function() {
    //         $.post("/NotGiris/Excel/NotKaydet");
    //     });

    //});

</script>
@*EXCEL NOT GİRİŞ*@

<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        /*margin: 0;*/
        cursor: pointer;
        height: 32px !important;
    }

        .fileUpload input.upload {
            position: absolute;
            width: 100% !important;
            /*height: 30px !important;*/
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            /*font-size: 20px;*/
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
</style>
