﻿@model Sabis.Bolum.Core.ABS.DERS.HOME.UstDersViewModel

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Ders Seçiniz</div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead></thead>
            <tbody>
                @foreach (var subItem in Model.AltDersList.OrderBy(x => x.DersAd))
                {
                    <tr>
                        <td id="@subItem.DersPlanAnaID" data-dersad="@subItem.DersAd" class="tdDersSec">@subItem.DersAd</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*<tr>
        <td class="col-md-1 text-center"><button class="btn btn-success btnDersSec" data-dersplananaid="@item.DersPlanAnaID" data-dersgruphocaidlist="@Newtonsoft.Json.JsonConvert.SerializeObject(subItem.Where(x=>x.DersKod == subItem.Key).Select(x=>x.DersGrupHocaID).ToArray())" data-dersad="@subItem.FirstOrDefault(x=>x.DersKod == subItem.Key).DersAd (@subItem.Key)">Seç</button></td>
        <td class="col-md-9">@subItem.FirstOrDefault(x => x.DersKod == subItem.Key).DersAd (@subItem.Key)</td>
        <td class="col-md-2">@subItem.Count(x => x.DersKod == subItem.Key) Grup</td>
    </tr>*@

<script>
    $(document).on("click", ".tdDersSec", function () {
        console.log($(this).attr("id"));
    });
</script>

<style>
    .tdDersSec {
        cursor: pointer;
    }
</style>