﻿
@model List<Sabis.Bolum.Core.ABS.NOT.DersPayListVM>
@*@model Core.ViewModel.Ders.Home.UstDersViewModel*@
@using Dil = DilWebClient.Cevir
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
}

@*<script src="~/assets/js/jquery-ui-1.9.2.min.js"></script>*@
<script src="~/Content/assets/global/plugins/jquery-fileupload/js/jquery.fileupload.js"></script>
<script src="~/Content/assets/global/plugins/jquery-fileupload/js/jquery.fileupload-ui.js"></script>
<script src="~/Content/assets/global/plugins/jquery-fileupload/js/jquery.iframe-transport.js"></script>

@Html.Action("_pAnaDersDetaylari", "Detay")

<div class="col-md-12" style="padding-left: 0;">

    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading bar-arkaplan">Ders ve Pay Listesi</div>
            <div class="panel-body">
                @foreach (var item in Model)
                {
                    <ul>
                        <li>@item.DersAd (@item.DersPlanAnaID)</li>
                        <ul>
                            @foreach (var subItem in item.PayList)
                            {
                                <li>
                                    @subItem.Sira @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)subItem.EnumCalismaTip) (
                                    @if (subItem.Oran.HasValue)
                                    {
                                        <span>@subItem.Oran</span>
                                    }
                                    else
                                    {
                                        <span>@subItem.Pay / @subItem.Payda</span>
                                    }
                                    )
                                </li>
                            }
                        </ul>

                    </ul>
                }
            </div>
        </div>
    </div>

    <div id="islemAlani" class="col-md-9">

        <div class="panel panel-primary">
            <div class="panel-heading bar-arkaplan">Excel Dosyası Seçiniz</div>
            <div class="panel-body">
                <a class="fileUpload btn default btn-label">
                    <i class="fa fa-cloud-upload"></i> Dosya Seçiniz

                    <input id="fu-my-simple-upload" type="file" class="upload" name="ExcelFile" style="width: 100% !important; height: 40px !important;" />
                </a>

                <div style="margin-top: 20px;">
                    <div id="islemDers" class="alert alert-dismissable alert-info">Başıkları, excel dosyasında bulunan başlıklar ile eşleştiriniz.</div>

                    <table class="table table-bordered">
                        <thead>
                            <tr class="active">
                                <th>Başlık</th>
                                <th>Excel Başlıkları</th>
                            </tr>
                        </thead>
                        <tbody id="tblPayList">
                            <tr>
                                <td>Öğrenci Numarası:</td>
                                <td>
                                    <select id="ddlExcelOGRNumara" class="ddlPay form-control"></select>
                                </td>
                            </tr>
                            @foreach (var item in Model)
                            {
                                foreach (var subItem in item.PayList)
                                {
                                    <tr>
                                        <td data-dersplananaid="@subItem.FKDersPlanAnaID" data-dersplanid="@subItem.FKDersPlanID" data-dersgrupid="@subItem.FKDersGrupID">@item.DersAd - @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)subItem.EnumCalismaTip) (<span>@subItem.ID</span>)</td>
                                        <td>
                                            <select class="ddlPay form-control"></select>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <button id="btnKaydet" class="btn btn-success">Kaydet</button>

            </div>
        </div>


    </div>


</div>

<script>
    var excelSecildi = function () {
        $("#islemExcel").text("Excel seçildi.").removeClass("alert-info").addClass("alert-success");
    };
</script>

@*EXCEL NOT GİRİŞ*@
<script type="text/javascript">
    var jqXHRData;
    $(document).ready(function () {
        initSimpleFileUpload();
        $("#hl-start-upload").on('click', function () {
            if (jqXHRData) {
                jqXHRData.submit();
            }
            return false;
        });
    });

    function initSimpleFileUpload() {
        'use strict';
        $('#fu-my-simple-upload').fileupload({
            url: '/Ders/ExcelNotGiris/ExcelUpload',
            dataType: 'json',
            add: function (e, data) {
                jqXHRData = data
                if (jqXHRData) {
                    jqXHRData.submit();
                }
            },
            done: function (event, data) {
                $(".ddlPay").empty();
                $(".ddlPay").append("<option value='0'>Boş</option>");
                $.each(data.result, function (index, value) {
                    $(".ddlPay").append("<option value='" + value.SiraNo + "'>" + value.KolonAdi + "</option>");
                })
                excelSecildi();
            },
            fail: function (event, data) {
                if (data.files[0].error) {
                    toastr.error("Notlar aktarılırken bir hata oluştu.");
                }
            }
        });
    }

    $("#btnKaydet").one("click", function () {
        var payListArray = [];
        $("#tblPayList > tr").each(function () {
            var yeniPay = {
                payID: $(this).children().first().children("span").text(),
                sira: $(this).children().last().children("select").val(),
                FKDersPlanAnaID: $(this).children().first().attr("data-dersplananaid"),
                FKDersplanID: $(this).children().first().attr("data-dersplanid"),
                FKDersGrupID: $(this).children().first().attr("data-dersgrupid")
            };
            if (yeniPay.sira != 0) {
                payListArray.push(yeniPay);
            }
        });
        console.log(payListArray);

        console.log('@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.DersPlanAnaID).ToList())');
        $.post("/Ders/ExcelNotGiris/PayEslestir", { secilenPaylar: payListArray, FKDersPlanAnaID: '@dersPlanAnaID'})
         .success(function(json) {
             if (json) {
                 toastr.success("Not aktarımı tamamlandı");
             }
             else {
                 toastr.error('@Dil.Getir("islem_yapilirken_bir_hata")');
             }
         });
    });

    //$("#btnKaydet").one("click", function () {
    //    $.post("/NotGiris/Excel/SetColumnTempData", { dersPlanAnaID: dersPlanAnaID, payID: payid, numaraKolon: $("#ddlExcelOGRNumara").val(), notKolon: $("#ddlExcelOGRNot").val() })
    //     .done(function() {
    //         $.post("/NotGiris/Excel/NotKaydet");
    //     });

    //});

</script>
@*EXCEL NOT GİRİŞ*@

<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        /*margin: 0;*/
        cursor: pointer;
        height: 32px !important;
    }

        .fileUpload input.upload {
            position: absolute;
            width: 100% !important;
            /*height: 30px !important;*/
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            /*font-size: 20px;*/
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
</style>
