﻿@model List<Sabis.Bolum.Core.EBS.DERS.DegerlendirmeGruplariVM>
@{ 
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    List<Sabis.Bolum.Core.EBS.DERS.DersGrupHocaVM> hocaList = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersHocaListesi(dersPlanAnaID, Sabitler.Yil, Sabitler.Donem);
    List<Sabis.Bolum.Core.EBS.DERS.DegerlendirmeDersGruplariVM> dersGrupListesi = new List<Sabis.Bolum.Core.EBS.DERS.DegerlendirmeDersGruplariVM>();
    foreach (var item in Model)
    {
        foreach (var subItem in item.DersGrupListesi)
        {
            dersGrupListesi.Add(subItem);
        }
    }
}

@if (Model.Count > 0 && !Model.FirstOrDefault().DegisiklikYapilabilirMi)
{
    <span>Bir grupta son hal verildikten sonra değişiklik yapılamaz.</span>
    <script>$("#btnYeniGrupEkle").remove();</script>
}

    <table class="table table-bordered table-striped" style="margin-top: 20px;">
        <thead>
            <tr class="info">
                <th></th>
                <th>Grup No</th>
                <th>Ders Grupları</th>
                <th class="text-center">Personel</th>
                <th class="text-right">Grup Değişikliği</th>
                <td>Değerlendirme</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (Model.IndexOf(item) != 0 && Model.FirstOrDefault().DegisiklikYapilabilirMi)
                        {
                            <button class="btn btn-danger btnSil" data-ortakgrupid="@item.ID">Sil</button>
                        }
                    </td>
                    <td>
                        @Convert.ToInt32(Model.IndexOf(item) + 1) . Grup
                    </td>
                    <td>
                        @foreach (var subItem in item.DersGrupListesi)
                    {
                            @subItem.FKDersGrupID <span>-</span> @subItem.BirimAdi <span>(</span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumDil)subItem.EnumDil)<span>)</span> <br />
                        }
                        @if (item.DersGrupListesi.Count == 0)
                    {
                            <span>Bu gruba eklenmiş ders grubu bulunmuyor.</span>
                        }
                    </td>
                    <td class="text-center">
                        Bu gruptaki <b> @item.DersGrupListesi.Count() </b> adet ders grubu <br />
                        <select class="hocaDegistir">
                            <option value="0">Seçiniz</option>
                            @foreach (var sItem in hocaList)
                            {
                                if (sItem.FKPersonelID == item.FKPersonelID)
                                {
                                    <option data-ortakgrupid="@item.ID" data-personelid="@sItem.FKPersonelID" value="@sItem.FKPersonelID" selected>@sItem.PersonelAdSoyadUnvan</option>
                                }
                                else
                                {
                                    <option data-ortakgrupid="@item.ID" data-personelid="@sItem.FKPersonelID" value="@sItem.FKPersonelID">@sItem.PersonelAdSoyadUnvan</option>
                                }
                            }
                        </select>
                        <br />tarafından değerlendirilecektir.
                    </td>
                    <td>
                        @if (item.DegisiklikYapilabilirMi)
                        {
                            <div class="btn-group pull-right">
                                <a class="btn default" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">Ders Grubu Seçiniz</a>
                                <ul class="dropdown-menu" style="min-width: 500px; padding: 5px;">
                                    @foreach (var gItem in dersGrupListesi.Where(x => !item.DersGrupListesi.Contains(x)))
                                    {
                                        <li style="cursor: pointer; padding: 5px;" class="btnGrupDegistir" data-ortakgrupid="@gItem.ID" data-degerlendirmegrupid="@item.ID">@gItem.FKDersGrupID @gItem.BirimAdi <span>(</span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumDil)gItem.EnumDil)<span>)</span></li>
                                    }
                                </ul>
                            </div>
                        }
                    </td>
                    <td>
                        <a id="btnDegerlendirme" href="/Ders/Degerlendirme/Index/@item.FKDersGrupHocaID" class="btn btn-danger pull-right" target="_blank">Değerlendirme</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<style>
    li:hover {
        background-color: silver;
    }
</style>


<script>
    $(".hocaDegistir").on("change", function () {
        if ($(this).val() != 0) {
            $.post("/EBS/DersBilgileri/DegistirDegerlendirmeGrupHoca", { OrtakDegerlendirmeID: $(this).find(":selected").attr("data-ortakgrupid"), FKPersonelID: $(this).find(":selected").attr("data-personelid") })
             .success(function (json) {
                 if (json) {
                     toastr.success("Değerlendirme hocası değiştirildi.");
                 }
                 else {
                     toastr.error("Hata oluştu");
                 }
             });
        }
    });

    //$(".grupDegistir").on("change", function () {
    //    $.post("/EBS/DersBilgileri/DegistirDegistirDersDegerlendirmeGrup", { OrtakGrupID: $(this).find(":selected").attr("data-ortakgrupid"), FKOrtakDegerlendirmeID: $(this).find(":selected").attr("data-degerlendirmegrupid") })
    //     .success(function (json) {
    //         if (json) {
    //             toastr.success("Ders grubu değiştirildi.");
    //             yenile();
    //         }
    //         else {
    //             toastr.error("Hata oluştu.");
    //         }
    //     });
    //});

    $(".btnGrupDegistir").on("click", function () {
        $.post("/EBS/DersBilgileri/DegistirDegistirDersDegerlendirmeGrup", { OrtakGrupID: $(this).attr("data-ortakgrupid"), FKOrtakDegerlendirmeID: $(this).attr("data-degerlendirmegrupid") })
         .success(function (json) {
             if (json) {
                 toastr.success("Ders grubu değiştirildi.");
                 yenile();
             }
             else {
                 toastr.error("Hata oluştu.");
             }
         });
    });

    $(".btnSil").on("click", function () {
        if (confirm("Değerlendirme grubu silinsin mi?")) {
            $.post("/EBS/DersBilgileri/SilDegerlendirmeGrup", { DegerlendirmeGrupID: $(this).attr("data-ortakgrupid") })
         .success(function (json) {
             if (json) {
                 toastr.info("Değerlendirme grubu silindi.");
                 yenile();
             }
             else {
                 toastr.error("Bir hata oluştu.");
             }
         });
        }
    });
</script>