﻿@{
    Layout = null;
}

@model Sabis.Bolum.Core.EBS.DERS.DersBilgiVM

<table class="table table-bordered" style="margin-top: 20px;">
    <thead>
        <tr class="info">
            <th class="col-md-3">Ders</th>
            <th>Kodu</th>
            <th class="text-center">Z / S</th>
            <th class="text-center">T+U Saat</th>
            <th class="text-center">Kredi</th>
            <th class="text-center">AKTS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-md-3">@Model.DersAd</td>
            <td>@Model.DersKodu</td>
            <td class="text-center">
                @if (Model.EnumDersPlanAnaZorunlu.HasValue)
                {
                    @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumDersPlanZorunlu)Model.EnumDersPlanAnaZorunlu);
                }

            </td>
            <td class="text-center">@Model.TUSaat</td>
            <td class="text-center">@Model.Kredi</td>
            <td class="text-center" id="dersAKTS">@Model.AKTS</td>
        </tr>
    </tbody>
</table>