﻿@{
    if (Request.QueryString["dil"] == null)
    {
        Response.Redirect(Request.Url.AbsolutePath + "?dil=tr");
    }
    int birimID = Convert.ToInt32(Request.QueryString["birim"]);
}

<div class="btn-group pull-right">
    <button type="button" class="btn btn-inverse dropdown-toggle alt-border" data-toggle="dropdown">
        DİL: @Request.QueryString["dil"].Replace("tr", "TÜRKÇE").Replace("en", "İNGİLİZCE") <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
        <li><a href="@Request.Url.AbsolutePath?dil=tr&birim=@birimID">Türkçe</a></li>
        <li><a href="@Request.Url.AbsolutePath?dil=en&birim=@birimID">İngilizce</a></li>
    </ul>
</div>