﻿

<div class="row">
    <div class="col-md-12">

        <div class="col-md-12">
            <div class="col-md-3">
                Hafta No:
            </div>
            <div class="col-md-9">
                <select id="ddlHaftaNo" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                </select>
            </div>

        </div>

        <div class="col-md-12">
            <div class="col-md-3" style="margin-top: 15px;">
                İçerik (Türkçe):
            </div>
            <div class="col-md-9" style="margin-top: 15px;">
                <input id="txtIcerik" type="text" class="form-control" placeholder="Konu içeriği (Türkçe)">
            </div>
        </div>


        <div class="col-md-12">
            <div class="col-md-3" style="margin-top: 15px;">
                Ön Hazırlık (Türkçe):
            </div>
            <div class="col-md-9" style="margin-top: 15px;">
                <input id="txtOnHazirlik" type="text" class="form-control" placeholder="Ön hazırlık kaynakları (Türkçe)">
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3" style="margin-top: 15px;">
                İçerik (İngilizce):
            </div>
            <div class="col-md-9" style="margin-top: 15px;">
                <input id="txtIcerikEn" type="text" class="form-control" placeholder="Konu içeriği (İngilizce)">
            </div>
        </div>


        <div class="col-md-12">
            <div class="col-md-3" style="margin-top: 15px;">
                Ön Hazırlık (İngilizce):
            </div>
            <div class="col-md-9" style="margin-top: 15px;">
                <input id="txtOnHazirlikEn" type="text" class="form-control" placeholder="Ön hazırlık kaynakları (İngilizce)">
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-9" style="margin-top: 15px;">
                <button id="btnYeniKonuKaydet" class="btn btn-success">Kaydet</button>
            </div>
        </div>

    </div>
</div>

<button id="btnKapat" type="button" class="btn btn-default" data-dismiss="modal" style="visibility: hidden;">Kapat</button>

<script>
    $(document).ready(function () {

        $("#ddlDil").val('@Request.QueryString["dil"].Replace("tr", "1").Replace("en", "2")');

        $("#btnYeniKonuKaydet").click(function () {
            var icerikListe = [];

            var icerik = {
                Icerik: $("#txtIcerik").val(),
                OnHazirlikIcerik: $("#txtOnHazirlik").val(),
                EnumDilID: 1
            };

            var icerikEn = {
                Icerik: $("#txtIcerikEn").val(),
                OnHazirlikIcerik: $("#txtOnHazirlikEn").val(),
                EnumDilID: 2
            };

            icerikListe.push(icerik);
            icerikListe.push(icerikEn);

            var data = {
                FKDersPlanAnaID: '@Request.RequestContext.RouteData.Values["id"]',
                Yil: '@Sabitler.EBSYil',
                DersAkisiIcerik: icerikListe,
                HaftaNo: $("#ddlHaftaNo").val()
            };

            $.post("/EBS/DersBilgileri/EkleDersAkisiYeniKonu", { yeniKonu: data, kullaniciAdi: '@Sabitler.KullaniciAdi' })
            .success(function (json) {
                if (json) {
                    toastr.success("Kayıt işlemi tamamlandı");
                    window.setTimeout(window.location.reload(), 3000);
                }
                else {
                    toastr.error("Hata oluştu. Aynı hafta için yeni kayıt eklenemez.");
                }
            });
        });
    });
</script>