﻿
<div class="row">
    <div class="col-md-12">

        <div class="col-md-12">
            <div class="col-md-2">
                Etkinlik:
            </div>
            <div class="col-md-10">
                <input id="txtEtkinlik" type="text" class="form-control" />
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                Sayısı:
            </div>
            <div class="col-md-10">
                <input id="txtSayi" type="text" class="form-control" />
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                Süresi (Saat):
            </div>
            <div class="col-md-10">
                <input id="txtSure" type="text" class="form-control" />
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                İçerik Dili:
            </div>
            <div class="col-md-10">
                <select id="ddlDil" class="form-control">
                    <option value="1">Türkçe</option>
                    <option value="2">İngilizce</option>
                </select>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="margin: 15px;"></div>
            <div class="col-md-10" style="margin: 15px;">
                <button id="btnKaydet" class="btn btn-success">Kaydet</button>
            </div>
        </div>

    </div>
</div>


<style>
    div.col-md-2 {
        margin-top: 15px;
    }

    div.col-md-10 {
        margin-top: 15px;
    }
</style>

<button id="btnKapat" type="button" class="btn btn-default" data-dismiss="modal" style="visibility: hidden;">Close</button>

<script>
    $("#btnKaydet").click(function () {
        var data = {
            DersPlanAnaID: '@Request.RequestContext.RouteData.Values["id"]',
            AktsAd: $("#txtEtkinlik").val(),
            Sayi: $("#txtSayi").val(),
            Sure: $("#txtSure").val(),
            Yil: '@Sabitler.EBSYil',
            EnumDilID: $("#ddlDil").val()
        };

        $.post("/EBS/DersBilgileri/EkleAKTSIsYuku", { yeniDersAkts: data, kullaniciAdi: '@Sabitler.KullaniciAdi' })
            .success(function (json) {
                toastr.success("Kayıt işlemi tamamlandı")
                    window.setTimeout(window.location.reload(), 3000);
            });
    });
</script>