﻿@model List<Sabis.Bolum.Core.EBS.DERS.DersProgramCiktilariVM>
@{ 
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    int birimID = Convert.ToInt32(Request.QueryString["birim"]);
    int dil = Convert.ToInt32(Request.QueryString["enumDil"]);
    var dersDetay = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersBilgi(dersPlanAnaID, Sabitler.EBSYil, 1, birimID);


    List<Sabis.Bolum.Core.EBS.BIRIM.BolumProgramCiktilariVM> bolumProgramCiktiList = new List<Sabis.Bolum.Core.EBS.BIRIM.BolumProgramCiktilariVM>();

    if (Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.BOLUMMAIN.GetirBolumProgramCiktilari(birimID, Sabitler.EBSYil, dil).Any())
    {
        bolumProgramCiktiList = Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.BOLUMMAIN.GetirBolumProgramCiktilari(birimID, Sabitler.EBSYil, dil);
    }
}


@if (bolumProgramCiktiList.Count > 0)
{
    <div id="programCiktiListesi" style="margin-top: 15px;">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="info">
                    <th class="text-center" rowspan="2">Sıra</th>
                    <th rowspan="2">Program Çıktısı</th>
                    <th colspan="6" class="text-center">Katkı Düzeyi</th>
                </tr>
                <tr>
                    <td class="text-center">Yok</td>
                    <td class="text-center">1</td>
                    <td class="text-center">2</td>
                    <td class="text-center">3</td>
                    <td class="text-center">4</td>
                    <td class="text-center">5</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in bolumProgramCiktiList)
                {
                    <tr>
                        <td class="text-center">@item.YetID</td>
                        <td>@item.Icerik</td>
                        <td class="text-center"><input name="@item.ID" type="radio" value="0" class="@item.ID md-radiobtn" data-id="@Convert.ToInt32(Model.Any(x=> x.YeterlilikID == item.ID) ? Model.FirstOrDefault(x=> x.YeterlilikID == item.ID).ID : 0)" @Model.Any(x=> x.YeterlilikID == item.ID && x.KatkiDuzeyi == 0).ToString().ToLower().Replace("true", "checked").Replace("false", "")></td>
                        <td class="text-center"><input name="@item.ID" type="radio" value="1" class="@item.ID md-radiobtn" data-id="@Convert.ToInt32(Model.Any(x=> x.YeterlilikID == item.ID) ? Model.FirstOrDefault(x=> x.YeterlilikID == item.ID).ID : 0)" @Model.Any(x=> x.YeterlilikID == item.ID && x.KatkiDuzeyi == 1).ToString().ToLower().Replace("true", "checked").Replace("false", "")></td>
                        <td class="text-center"><input name="@item.ID" type="radio" value="2" class="@item.ID md-radiobtn" data-id="@Convert.ToInt32(Model.Any(x=> x.YeterlilikID == item.ID) ? Model.FirstOrDefault(x=> x.YeterlilikID == item.ID).ID : 0)" @Model.Any(x=> x.YeterlilikID == item.ID && x.KatkiDuzeyi == 2).ToString().ToLower().Replace("true", "checked").Replace("false", "")></td>
                        <td class="text-center"><input name="@item.ID" type="radio" value="3" class="@item.ID md-radiobtn" data-id="@Convert.ToInt32(Model.Any(x=> x.YeterlilikID == item.ID) ? Model.FirstOrDefault(x=> x.YeterlilikID == item.ID).ID : 0)" @Model.Any(x=> x.YeterlilikID == item.ID && x.KatkiDuzeyi == 3).ToString().ToLower().Replace("true", "checked").Replace("false", "")></td>
                        <td class="text-center"><input name="@item.ID" type="radio" value="4" class="@item.ID md-radiobtn" data-id="@Convert.ToInt32(Model.Any(x=> x.YeterlilikID == item.ID) ? Model.FirstOrDefault(x=> x.YeterlilikID == item.ID).ID : 0)" @Model.Any(x=> x.YeterlilikID == item.ID && x.KatkiDuzeyi == 4).ToString().ToLower().Replace("true", "checked").Replace("false", "")></td>
                        <td class="text-center"><input name="@item.ID" type="radio" value="5" class="@item.ID md-radiobtn" data-id="@Convert.ToInt32(Model.Any(x=> x.YeterlilikID == item.ID) ? Model.FirstOrDefault(x=> x.YeterlilikID == item.ID).ID : 0)" @Model.Any(x=> x.YeterlilikID == item.ID && x.KatkiDuzeyi == 5).ToString().ToLower().Replace("true", "checked").Replace("false", "")></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8" class="text-right">
                        <button id="btnKaydet" class="btn btn-success">Kaydet</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{
    <div class="alert alert-info">
        <strong>BİLGİ!</strong> Ortak derslerde program çıktılarına katkı seçilmemektedir.
    </div>
}

<script>
    $("#btnKaydet").click(function () {
        var elements = $("input[type=radio]:checked");
        var katkiArray = [];
        $.each(elements, function (i, obj) {
            var data = {
                ID: $(obj).attr("data-id"),
                YeterlilikID: $(obj).attr("name"),
                DersPlanAnaID: '@dersPlanAnaID',
                FKBirimID: $("#dersBirimListesi").val(),
                KatkiDuzeyi: $(this).val(),
                Yil: '@Sabitler.EBSYil',
                KullaniciAdi: '@Sabitler.KullaniciAdi',
                Zaman: '@DateTime.Now'
            };
            katkiArray.push(data);
        });

        //console.log(katkiArray);

        $.post("/EBS/DersBilgileri/GuncelleDersProgramCiktiKatkiDuzeyi", { katkiDuzeyList: katkiArray, fkDersPlanAnaID: '@dersPlanAnaID' })
        .success(function (json) {
            if (json) {
                toastr.info("Bilgiler güncellendi.");
                //window.location.reload();
            }
        });

    });
</script>