﻿@model List<Sabis.Bolum.Core.EBS.DERS.OgrenmeCiktilariVM>

@{
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    int fkBirimID = Convert.ToInt32(Request.QueryString["B"]);
    var yontemList = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersCiktiYontemleri(Sabitler.EBSYil);
    var yeterlilikList = Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.BOLUMMAIN.GetirBolumProgramCiktilari(fkBirimID, Sabitler.EBSYil, 1);
    string dil = Convert.ToString(Request.QueryString["dil"]);
}

<link href="~/Content/assets/global/plugins/jquery-multiselect/jquery.multiselect.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-multiselect/jquery.multiselect.min.js"></script>
@*<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>*@

<table id="tblOgrenmeCiktilari" class="table table-striped table-bordered table-hover" style="margin-top: 20px;">
    <thead>
        <tr class="info">
            <td class="col-md-1 text-center">Sıra</td>
            <td class="col-md-5">Ders Öğrenme Çıktıları</td>
            <td class="col-md-2 text-center">Öğretim Yöntemleri</td>
            <td class="col-md-2 text-center">Ölçme Yöntemleri</td>
            @*<td class="col-md-2 text-center">Program Çıktıları</td>*@
            <td class="col-md-2 text-center">İşlem</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center"><input id="txtSira-@item.ID" type="text" value="@item.CiktiNo" class="form-control text-center txtSira" /></td>
                <td><input id="txtIcerik-@item.ID" data-id="@item.ID" data-dilid="@item.DilDersCiktiID" class="txtIcerik form-control" type="text" value="@item.Icerik" /></td>
                <td>
                    <select id="o1.@item.ID" class="ciktiYontem" multiple="multiple" data-yontemtur="1" data-ociktiid="@item.ID">
                        @foreach (var yItem in yontemList.Where(x => x.YontemTur == 1))
                        {
                            string durum = "";
                            if (item.DersCiktiYontemleri.Any(x => x.YontemTur == 1 && x.YontemNo == yItem.YontemNo))
                            {
                                durum = "selected=selected";
                            }
                            <option value="@yItem.ID" @durum> @yItem.YontemNo - @yItem.Icerik</option>
                        }
                    </select>
                    <hr style="padding: 0; margin: 0; margin-top: 5px; margin-bottom: 5px;" />
                    @foreach (var subItem in item.DersCiktiYontemleri.Where(y => y.YontemTur == 1))
                    {
                        if (item.DersCiktiYontemleri.Where(y => y.YontemTur == 1).LastOrDefault().Equals(subItem))
                        {
                            <span>@subItem.YontemNo - @subItem.Icerik</span>
                        }
                        else
                        {
                            <span>@subItem.YontemNo - @subItem.Icerik ,</span>
                        }
                    }
                </td>
                <td>
                    <select id="o2.@item.ID" class="ciktiYontem" multiple="multiple" data-yontemtur="2" data-ociktiid="@item.ID">
                        @foreach (var yItem in yontemList.Where(x => x.YontemTur == 2))
                        {
                            string durum = "";
                            if (item.DersCiktiYontemleri.Any(x => x.YontemTur == 2 && x.YontemNo == yItem.YontemNo))
                            {
                                durum = "selected=selected";
                            }
                            <option value="@yItem.ID" @durum> @yItem.YontemNo - @yItem.Icerik</option>
                        }
                    </select>
                    <hr style="padding: 0; margin: 0; margin-top: 5px; margin-bottom: 5px;" />
                    @foreach (var subItem in item.DersCiktiYontemleri.Where(y => y.YontemTur == 2))
                    {
                        if (item.DersCiktiYontemleri.Where(y => y.YontemTur == 2).LastOrDefault().Equals(subItem))
                        {
                            <span>@subItem.YontemNo - @subItem.Icerik</span>
                        }
                        else
                        {
                            <span>@subItem.YontemNo - @subItem.Icerik ,</span>
                        }
                    }
                </td>
                @*<td>
                    <select class="programCiktilari" multiple="multiple" style="max-width: 150px;" data-ociktiid="@item.ID">
                        @foreach (var subItem in yeterlilikList)
                        {
                            if (item.DersCiktiYeterlilikListe.Any(x => x.FKYeterlilikID == subItem.ID))
                            {
                                <option value="@subItem.ID" selected>@subItem.YetID @subItem.Icerik</option>
                            }
                            else
                            {
                                <option value="@subItem.ID">@subItem.YetID @subItem.Icerik</option>
                            }
                        }
                    </select>
                    <hr style="padding: 0; margin: 0; margin-top: 5px; margin-bottom: 5px;" />
                    @foreach (var subItem in item.DersCiktiYeterlilikListe)
                    {
                        if (item.DersCiktiYeterlilikListe.LastOrDefault().Equals(subItem))
                        {
                            <span title="@subItem.Icerik">PÇ @subItem.YetID</span>
                        }
                        else
                        {
                            <span title="@subItem.Icerik">PÇ @subItem.YetID ,</span>
                        }
                    }
                </td>*@
                <td class="text-center">
                    <button data-id="@item.ID" data-dilid="@item.DilDersCiktiID" class="btn btn-success btnGuncelle">Güncelle</button>
                    <button data-id="@item.ID" class="btn btn-danger btnSil">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $(".btnGuncelle").on("click", function () {
        var dataID = $(this).attr("data-id");
        var dersPlanAnaID = '@dersPlanAnaID';
        var dilID = '@dil.Replace("tr", "1").Replace("en", "2")';
        var yil = '@Sabitler.EBSYil';
        var ekleyen = '@Sabitler.KullaniciAdi';
        var zaman = '@DateTime.Now';

        var data = {
            ID: dataID,
            FKDersPlanAnaID: dersPlanAnaID,
            CiktiNo: $('#txtSira-' + dataID).val(),
            EnumDilID: dilID,
            Icerik: $('#txtIcerik-' + dataID).val(),
            Yil: yil,
            Ekleyen: ekleyen,
            Zaman: zaman,
            DilDersCiktiID: $(this).attr("data-dilid")
        };

        $.post("/EBS/DersBilgileri/GuncelleOgrenmeCiktisi", { ogrenmeCiktisi: data })
         .success(function(json) {
             if (json) {
                 toastr.success("Kaydedildi");
             }
             else {
                 toastr.error("Hata oluştu");
             }
         });
    });

    $(function () {

        $(".programCiktilari").multiselect({
            header: false,
            selectedText: '# adet seçildi',
            noneSelectedText: "Program Çıktısı Seçiniz",
            height: 400,
            close: function () {

                var fkCiktiID = $(this).attr("data-ociktiid");
                var fkBirimID = $("#dersBirimListesi").val();
                var pCiktiList = new Array();


                $(this).find("option:selected").each(function () { //.filter(":not(option[disabled])")
                    pCiktiList.push($(this).val());
                    //if ($(this).parent().attr("class") == "optProgramCiktilari") {

                    //}
                });

                //if (pCiktiList.length > 0) {
                //}
                    $.post("/EBS/DersBilgileri/KaydetDersCiktiYeterlilikIliski", { fkDersPlanAnaID: '@dersPlanAnaID', fkCiktiID: fkCiktiID, fkBirimID: fkBirimID, pCiktiList: pCiktiList })
                      .success(function (json) {
                          if (json) {
                              toastr.success("İşlem tamamlandı");
                          } else {
                              toastr.error("Hata oluştu");
                          }
                      }).promise().done(function () {
                          yenile();
                      });

            }
        });



        $(".ciktiYontem").multiselect({
            header: false,
            selectedText: '# adet seçildi',
            noneSelectedText: "Çıktı Seçiniz",
            close: function () {
                var fkCiktiID = $(this).attr("data-ociktiid");
                var yontemTur = $(this).attr("data-yontemtur");
                var yontemIliskiList = new Array();

                $(this).find("option:selected").each(function () {
                    yontemIliskiList.push($(this).val());
                });

                $.post("/EBS/DersBilgileri/KaydetDersCiktiYontemIliski", { fkCiktiID: fkCiktiID, fkCiktiYontemIDList: yontemIliskiList, yontemTur: yontemTur })
                 .success(function (json) {
                     if (json) {
                         toastr.success("İşlem tamamlandı");
                         yenile();
                     }
                     else {
                         toastr.error("Hata oluştu");
                     }
                 })
            }
        });

        //$(document).tooltip();
    });
</script>

@*<style>
    #tblOgrenmeCiktilari td, #tblOgrenmeCiktilari th, hr {
        border-color: gray !important;
    }
</style>*@