﻿@model List<Sabis.Bolum.Core.EBS.DERS.DegerlendirmePayListesiVM>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="info">
                    <th class="col-md-1 text-center">İşlem</th>
                    <th class="col-md-6">Yarıyıl İçi Çalışmaları</th>
                    <th class="text-center">Sıra</th>
                    <th class="text-center">Katkı Yüzdesi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.EnumCalismaTip != (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya && x.EnumCalismaTip != (int)Sabis.Enum.EnumCalismaTip.Final))
                {
                    <tr>
                        <td class="col-md-1 text-center">
                            @if (item.NotGirilmisMi) //  item.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya
                            {
                                <span>Not girişi yapılmış!</span>
                            }
                            else
                            {
                                <button data-id="@item.PayID" class="btn btn-danger btnPaySil">Sil</button>
                            }
                        </td>
                        <td class="col-md-9 vert-align">
                            @*<a href="#" style="text-decoration: none;" data-title='Pay Ölçme' data-toggle='tooltip modal' data-source='/EBSYonetim/DersBilgileri/_pPayOlcme/@item.PayID?dersPlanAnaID=@Oturum.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"])).DersPlanAnaID&enumCalismaTipi=@item.EnumCalismaTip&dersGrupHocaID=@Convert.ToInt32(Request.RequestContext.RouteData.Values["id"])&koordinator=true' data-width='10' data-backdrop='false' data-keyboard='false'>*@
                            <a href="#" style="text-decoration: none;" data-title="" data-toggle="modal tooltip" data-source="/EBSYonetim/DersBilgileri/_pPayOlcme/@item.PayID?dersPlanAnaID=@Convert.ToInt32(Request.RequestContext.RouteData.Values["id"])&enumCalismaTipi=@item.EnumCalismaTip&dersGrupHocaID=@Convert.ToInt32(Request.RequestContext.RouteData.Values["id"])&koordinator=true" data-width="10" data-keyboard="true" data-original-title="" title="">
                                @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTip)
                            </a>
                        </td>
                        <td class="col-md-1 text-center"><input type="text" value="@item.Sira" class="form-control" maxlength="3" /></td>
                        <td class="col-md-1 text-center"><input type="text" value="@item.Oran" data-payid="@item.PayID" class="txtListe form-control yilIci" maxlength="3" /></td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr class="info">
                    <td></td>
                    <td></td>
                    <td class="text-right"><b>Toplam</b></td>
                    <td class="text-center">
                        <b id="yilIciToplam">
                            @Model.Where(x => x.EnumCalismaTip != (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya && x.EnumCalismaTip != (int)Sabis.Enum.EnumCalismaTip.Final).Select(x => x.Oran).Sum()
                        </b>
                    </td>
                </tr>
            </tfoot>
        </table>

        <table class="table table-bordered table-striped table-hover">
            <tbody>
                @foreach (var item in Model.Where(x => x.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya || x.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.Final))
                {
                    <tr>
                        <td class="col-md-1 text-center">
                            @if (item.NotGirilmisMi)
                            {
                                if (item.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya)
                                {

                                }
                                else
                                {
                                    <span>Not girişi yapılmış!</span>
                                }
                            }
                            else
                            {
                                <button data-id="@item.PayID" class="btn btn-danger btnPaySil">Sil</button>
                            }
                        </td>
                        <td class="col-md-9 vert-align"><b>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTip)</b></td>

                        @if (item.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya)
                        {
                            <td class="col-md-1 text-center"><input type="text" value="@item.Sira" class="form-control" maxlength="3" @*disabled*@ /></td>
                            <td class="col-md-1 text-center"><input type="text" value="@item.Oran" data-tip="@item.EnumCalismaTip" data-payid="@item.PayID" class="txtListe form-control yilSonu" data-enumseviye="@item.EnumSeviye" maxlength="3" @*disabled*@ /></td>
                        }
                        else
                        {
                            <td class="col-md-1 text-center"><input type="text" value="@item.Sira" class="form-control" maxlength="3" /></td>
                            <td class="col-md-1 text-center"><input type="text" value="@item.Oran" data-tip="@item.EnumCalismaTip" data-payid="@item.PayID" class="txtListe form-control yilSonu" data-enumseviye="@item.EnumSeviye" maxlength="3" /></td>
                        }
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="info ">
                    <td></td>
                    <td></td>
                    <td class="text-right"><b>Toplam</b></td>
                    <td class="text-center"><b id="yilSonuToplam">@Model.Where(x => x.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya || x.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.Final).Select(x => x.Oran).Sum()</b></td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>