﻿@{
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    string dil = Convert.ToString(Request.QueryString["dil"]);
    bool adaMYOmu = Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.FAKULTEMAIN.AdaMYOmu(dersPlanAnaID);
}

<nav class="navbar navbar-default yamm" role="navigation" style="background: #e5e5e5 !important;">
    <div class="collapse navbar-collapse navbar-ex1-collapse large-icons-nav" id="horizontal-navbar">
        <ul class="nav navbar-nav">
            <li><a href="/EBS/DersBilgileri/DersOzet/@dersPlanAnaID?dil=@dil"><i class="fa fa-info"></i> <span>Ders Bilgileri</span></a></li>
            <li><a href="/EBS/DersBilgileri/DersAkisi/@dersPlanAnaID?dil=@dil"><i class="fa fa-bar-chart-o"></i> <span>Ders Akışı</span></a></li>
            <li><a href="/EBS/DersBilgileri/DersOgrenmeCiktilari/@dersPlanAnaID?dil=@dil"><i class="fa fa-crop"></i> <span>Dersin Öğr. Çık.</span></a></li>
            <li><a href="/EBS/DersBilgileri/DersProgramCiktilari/@dersPlanAnaID?dil=@dil"><i class="fa fa-code-fork"></i> <span>Dersin Prg. Çık. Kat.</span></a></li>
            @if (!adaMYOmu || (adaMYOmu && Sabitler.SimulasyonKullaniciAdi == "umit"))
            {
                
            }
            <li><a href="/EBS/DersBilgileri/DegerlendirmeSistemi/@dersPlanAnaID?dil=@dil"><i class="fa fa-pencil"></i> <span>Değerlendirme Sistemi</span></a></li>
            <li><a href="/EBS/DersBilgileri/DegerlendirmeGruplari/@dersPlanAnaID?dil=@dil"><i class="fa fa-object-ungroup"></i> Değerlendirme Grupları</a></li>
            <li><a href="/EBS/DersBilgileri/AKTSIsYuku/@dersPlanAnaID?dil=@dil"><i class="fa fa-folder-o"></i> <span>AKTS İş Yükü</span></a></li>
            <li><a href="/EBS/DersBilgileri/DersKategorisi/@dersPlanAnaID?dil=@dil"><i class="fa fa-bars"></i> <span>Ders Kategorisi</span></a></li>
            <li><a href="/EBS/DersBilgileri/Sinav/@dersPlanAnaID?dil=@dil"><i class="fa fa-sticky-note-o"></i> Sınav İşlemleri</a></li>
        </ul>
    </div>
</nav>