﻿@model List<Sabis.Bolum.Core.EBS.DERS.DersAktsVM>
@{
    ViewBag.Title = "Ders AKTS İş Yükü";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    int? enumDersTipi = Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.GetirDersPlanAnaDersTipi(dersPlanAnaID);
    int enumDilID = Convert.ToInt32(Request.QueryString["dil"].Replace("tr", "1").Replace("en", "2"));
    var aktsTNMList = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirAktsListesi((byte)enumDilID, Sabitler.EBSYil);
    var payList = Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.GetirPaylarByDersPlanAnaID(dersPlanAnaID, Sabitler.EBSYil, Sabitler.EBSDonem);
    var dersDetay = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersBilgi(dersPlanAnaID, Sabitler.EBSYil, enumDilID, 0);
}

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Eğitim Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/EBS/DersBilgileri/DersOzet/@dersPlanAnaID?dil=@Request.QueryString["dil"]'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i></li>
            <li>AKTS İş Yükü</li>
        </ul>
    </div>
}

@Html.Partial("_pMenu")
@Html.Action("_pDersBilgi")

<table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
        <tr class="info">
            <th class="col-md-6">Etkinlik</th>
            <th class="col-md-2 text-center">Sayısı</th>
            <th class="col-md-2 text-center">Süresi (Saat)</th>
            <th class="col-md-2 text-center">Toplam İş Yükü (Saat)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in aktsTNMList)
        {
            string durum = "";
            if (!payList.Any(x => x.EnumCalismaTip == (item.AktsNo - 1)))
            {
                //durum = "disabled";
            }
            <tr>

                @if (Model.Any(x => x.AktsID == item.AktsID))
                {
                    var subItem = Model.FirstOrDefault(x => x.AktsID == item.AktsID);
                    <td data-aktsyukid="@subItem.AktsYukID" data-id="@subItem.AktsID" class="txtIcerik" data-kayitlimi="true">@item.AktsAd</td>
                    <td>
                        <input @durum class="form-control text-center TXT" name="SAYI" type="text" data-aktsyukid="@subItem.AktsYukID" data-id="@subItem.AktsID" value="@subItem.Sayi" maxlength="2" />
                    </td>
                    <td>
                        <input @durum class="form-control text-center TXT" name="SURE" type="text" data-aktsyukid="@subItem.AktsYukID" data-id="@subItem.AktsID" value="@subItem.Sure" maxlength="2" />
                    </td>
                    <td class="text-center" name="TOPLAM" data-aktsyukid="@subItem.AktsYukID" data-id="@item.AktsID">@(subItem.Sayi * subItem.Sure)</td>
                }
                else
                {
                    <td data-aktsyukid="@item.AktsYukID" data-id="@item.AktsID" class="txtIcerik" data-kayitlimi="false">@item.AktsAd</td>
                    <td>
                        <input @durum class="form-control text-center TXT" name="SAYI" type="text" data-aktsyukid="" data-id="@item.AktsID" value="0" maxlength="3" />
                    </td>
                    <td>
                        <input @durum class="form-control text-center TXT" name="SURE" type="text" data-aktsyukid="" data-id="@item.AktsID" value="0" maxlength="3 " />
                    </td>
                    <td class="text-center" data-aktsyukid="" name="TOPLAM" data-id="@item.AktsID">0</td>
                }


            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <button id="btnTumunuGuncelle" class="btn btn-success">Tümünü Güncelle</button>
            </td>
            <td class="text-right">Toplam İş Yükü:</td>
            <td id="toplamIsYuku" class="text-center"></td>
        </tr>
        <tr>
            <td colspan="2"></td>

            @if (enumDersTipi == 3)
            {
                <td class="text-right">Toplam İş Yükü / 30 (s):</td>
            }
            else
            {
                <td class="text-right">Toplam İş Yükü / 25 (s):</td>
            }
            <td id="toplamIsYukuHesap" class="text-center"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td id="hesapSonuc" class="text-center" colspan="2" style="color: white"></td>
        </tr>
    </tfoot>
</table>

<script>
    var dAKTS = 0;
    $(document).ready(function () {
        dAKTS = $("#dersAKTS").text();
        $("#dersAKTS").css("cssText", "background-color: red !important; color: white !important;");
        topla();
    });

    $(document).on("click", ".btnSil", function () {
        var respond = confirm("Kayıt silinecek onaylıyor musunuz?");
        if (respond) {
            $.post("/EBS/DersBilgileri/SilAKTSIsYuku", { dersAktsYukID: $(this).attr("data-id") })
                .success(function (json) {
                    toastr.info("Kayıt silindi");
                    window.setTimeout(window.location.reload(), 4000);
                });
        }
    });

    $(document).on("keyup", ".TXT", function () {
        var sayi = $("input[name=SAYI][data-id='" + $(this).attr("data-id") + "']").val();
        var sure = $("input[name=SURE][data-id='" + $(this).attr("data-id") + "']").val()
        $("td[name=TOPLAM][data-id='" + $(this).attr("data-id") + "']").text(Number(sayi * sure));
        topla();
    });

    var topla = function () {
        var bolumOrani = 25;
        if ('@enumDersTipi' == 3) {
            bolumOrani = 30;
        }
        var toplam = 0;
        $("td[name=TOPLAM]").each(function () {
            toplam = toplam + Number($(this).text());
        });
        $("#toplamIsYuku").text(toplam);
        $("#toplamIsYukuHesap").text(toplam / bolumOrani);
        if (Math.round((toplam / bolumOrani)) == dAKTS) {
            $("#hesapSonuc").text("Hesaplanan AKTS değeri, gerçek AKTS değeri ile uyum sağladı.").css("background-color", "green");
            //$("#dersAKTS").css("background-color", "").removeClass("aktsHatali").addClass("aktsBasarili");
            $("#dersAKTS").css("cssText", "background-color: green !important; color: white !important;");
        }
        else {
            $("#hesapSonuc").text("Hesaplanan AKTS değeri, gerçek AKTS değeri ile uyum sağlamadı.").css("background-color", "red");
            //$("#dersAKTS").css("background-color", "").removeClass("aktsBasarili").addClass("aktsHatali");
            $("#dersAKTS").css("cssText", "background-color: red !important; color: white !important;");
        }
    };

    $("#btnTumunuGuncelle").click(function () {
        var dersPlanAnaID = '@dersPlanAnaID';
        var dilID = '@Request.QueryString["dil"].Replace("tr", "1").Replace("en", "2")';
        var yil = '@Sabitler.EBSYil';
        var ekleyen = '@Sabitler.KullaniciAdi';
        var zaman = '@DateTime.Now';

        var listAKTSIsYuku = [];

        $(".txtIcerik").each(function () {
            var data = {
                AktsID: $(this).attr("data-id"),
                AktsYukID: $(this).attr("data-aktsyukid"),
                DersPlanAnaID: dersPlanAnaID,
                //AktsAd: $(this).val(),
                Sayi: $("input[name=SAYI][data-id='" + $(this).attr("data-id") + "']").val(),
                Sure: $("input[name=SURE][data-id='" + $(this).attr("data-id") + "']").val(),
                Yil: yil,
                EnumDilID: dilID,
                KayitliMi: $(this).attr("data-kayitlimi")
            };
            listAKTSIsYuku.push(data);
        });

        //console.log(listAKTSIsYuku);

        $.post("/EBS/DersBilgileri/GuncelleAKTSIsYuku", { dersAktsList: listAKTSIsYuku, kullaniciAdi: '@Sabitler.KullaniciAdi' })
        .success(function (json) {
            if (json == true) {
                toastr.info("Güncelleme işlemi başarılı.");
                window.location.reload();
            }
        });
    });
</script>