﻿
@{
    ViewBag.Title = "DegerlendirmeGruplari";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    int dersGrupHocaID = Sabis.Bolum.Bll.SOURCE.ABS.DERS.SINAVMAIN.GetirDersGrupHocaID(dersPlanAnaID, Sabitler.Yil, Sabitler.Donem);
}

@Html.Partial("_pMenu")
@Html.Action("_pDersBilgi")

<button id="btnYeniGrupEkle" class="btn default">Yeni Grup Ekle</button>

<button id="btnGruplariDagit" class="btn default pull-right" style="margin-left: 10px;">Hocaları Gruplara Ayır</button>

<button id="btnDegerlendirmeYapilmayanlariTekGrupYap" class="btn default pull-right" style="margin-left: 10px;">Grupları Birleştir</button>

@*<a id="btnDegerlendirme" href="/Ders/Degerlendirme/Index/@dersGrupHocaID" class="btn btn-danger pull-right" target="_blank">Değerlendirme</a>*@


<div id="degerlendirmeGrupListesi"></div>

<script>
    function yenile()
    {
        $("#degerlendirmeGrupListesi").load("/EBS/DersBilgileri/_pDegerlendirmeGrupListesi/" + @dersPlanAnaID);
    }

    $(document).ready(function () {
        $("#degerlendirmeGrupListesi").load("/EBS/DersBilgileri/_pDegerlendirmeGrupListesi/" + @dersPlanAnaID);
    });

    $("#btnYeniGrupEkle").click(function () {
        $.post("/EBS/DersBilgileri/EkleYeniDegerlendirmeGrup", { FKDersPlanAnaID: '@dersPlanAnaID' })
         .success(function(json) {
             if(json)
             {
                 toastr.success("Değerlendirme grubu eklendi.");
                 $("#degerlendirmeGrupListesi").load("/EBS/DersBilgileri/_pDegerlendirmeGrupListesi/" + @dersPlanAnaID);
             }
             else {
                 toastr.error("Bir hata oluştu.");
             }
         });
    });

    $("#btnGruplariDagit").click(function() {
        $.post("/EBS/DersBilgileri/HocalariGruplaraAyir", { FKDersPlanAnaID: '@dersPlanAnaID' })
        .success(function(json) {
            if(json)
            {
                toastr.success("Gruplar ayırıldı.");
                $("#degerlendirmeGrupListesi").load("/EBS/DersBilgileri/_pDegerlendirmeGrupListesi/" + @dersPlanAnaID);
            }
            else {
                toastr.error("Bir hata oluştu.");
            }
        });
    });

    $("#btnDegerlendirmeYapilmayanlariTekGrupYap").click(function() {
        $.post("/EBS/DersBilgileri/GruplariBirlestir", { FKDersPlanAnaID: '@dersPlanAnaID' })
        .success(function(json) {
            if(json)
            {
                toastr.success("İşlem tamamlandı.");
                $("#degerlendirmeGrupListesi").load("/EBS/DersBilgileri/_pDegerlendirmeGrupListesi/" + @dersPlanAnaID);
            }
            else {
                toastr.error("Bir hata oluştu.");
            }
        });
    });
</script>


