﻿@model List<Sabis.Bolum.Core.EBS.DERS.DegerlendirmePayListesiVM>
@{
    ViewBag.Title = "Ders Değerlendirme Sistemi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var dersGruplari = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersBirimListesi(dersPlanAnaID, Sabitler.EBSYil, false);
    var fkDersPlanID = Convert.ToInt32(Request.QueryString["DP"]);
    var dersBirimList = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersBirimListesi(dersPlanAnaID, Sabitler.EBSYil);
    bool sonHalVerildiMi = Sabis.Bolum.Bll.SOURCE.ABS.GENEL.GENELMAIN.SonHalVerildiMiByDersPlanAnaID(dersPlanAnaID, Sabitler.EBSYil, Sabitler.EBSDonem);
    int dilID = Convert.ToInt32(Request.QueryString["dil"].Replace("tr", "1").Replace("en", "2"));
    var dersDetay = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersBilgi(dersPlanAnaID, Sabitler.EBSYil, dilID, 0);
    string yil = Sabitler.EBSYil + " - " + Convert.ToInt32(Sabitler.EBSYil + 1);
}

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Eğitim Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/EBS/DersBilgileri/DersOzet/@dersPlanAnaID?dil=@Request.QueryString["dil"]'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i></li>
            <li>Değerlendirme Sistemi</li>
        </ul>
    </div>
}

@Html.Partial("_pMenu")
@Html.Action("_pDersBilgi")

@if (dersDetay.HiyerarsikMi)
{
    <script>window.location.href = "/EBS/HiyerarsikDegerlendirme/Liste/@dersPlanAnaID";</script>
}

<script src="~/Content/assets/global/plugins/jquery.pulsate.min.js"></script>

<div id="uyari" class="alert alert-warning alert-dismissible" role="alert">
    <strong>DİKKAT!</strong> Burada yapılan değişiklikler @yil Eğitim Yılı itibariyle geçerli olacaktır.
</div>

@*<script>
    $(document).ready(function () {
        $("#uyari").pulsate({ color: "red" });
    });
</script>*@


@if (sonHalVerildiMi)
{
    <h3>Son hal verildikten sonra işlem yapılamaz.</h3>
}
else if(false)
{
    <h3>Şuanda pay güncelleme işlemleri yapılmamaktadır.</h3>
}
else
{
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12">
            <div class="col-md-2" style="margin-left: 0; padding-left: 0;">
                <select id="ddlCalismaTipi" class="calismaTip form-control">
                    @foreach (Sabis.Enum.EnumCalismaTip tip in Enum.GetValues(typeof(Sabis.Enum.EnumCalismaTip)))
                    {
                        <option data-enumcalismatip="@Convert.ToInt32(tip)" value="@Convert.ToInt32(tip)">@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)tip)</option>
                    }
                </select>
            </div>

            <button id="btnYeniPayEkle" class="btn btn-primary">YENİ PAY EKLE</button>
            

            <div class="col-m-3 pull-right">
                @if (Sabitler.KullaniciAdi == "umit" || Sabitler.SimulasyonKullaniciAdi == "umit" || Sabitler.KullaniciAdi == "cagil" || dersBirimList.Any(x => x.ID == 1231) || dersBirimList.Any(x => x.ID == 1282))
                {
                    <select id="ddlGruplar" class="form-control">
                        <option value="0">Ders Grubu Seçiniz</option>
                    @foreach (var item in dersGruplari)
                    {
                        if (item.FKDersPlanID == fkDersPlanID)
                        {
                                <option selected value="@item.FKDersPlanID">@item.Ad</option>
                            }
                            else
                            {
                                <option value="@item.FKDersPlanID">@item.Ad</option>
                            }
                        }
                    </select>
                }
            </div>
        </div>
    </div>

    <div class="alert alert-info" style="margin-top: 15px;">
        <b>Uyarılar</b>
        <ul>
            <li>Ön Lisans ve Lisans derslerinde yarıyıl içi en az 4 çalışma tipi olmalıdır.</li>
            <li>Ön Lisans ve Lisans derslerinde Final yüzdesi 40 ile 60 arasında bir tamsayı olmalıdır.</li>
            <li>Yarıyıl içi toplamı ve yarıyıl sonu toplamı 100'e eşit olmalıdır.</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="info">
                        <th class="col-md-1 text-center">İşlem</th>
                        <th class="col-md-6">Yarıyıl İçi Çalışmaları</th>
                        <th class="text-center">Katkı Yüzdesi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(x => x.EnumCalismaTip != (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya && x.EnumCalismaTip != (int)Sabis.Enum.EnumCalismaTip.Final))
                {
                        <tr>
                            <td class="col-md-1 text-center">
                                @if (item.NotGirilmisMi) //  item.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya
                                {
                                    <span>Not girişi yapılmış!</span>
                                }
                                else if (item.SinavOdevVarMi)
                                {
                                    <span>Sınav/Ödev oluşturulmuş!</span>
                                }
                                else if (!Model.Any(x => x.EnumCalismaTip == item.EnumCalismaTip && x.Sira > item.Sira))
                                {
                                    <button data-id="@item.PayID" class="btn btn-danger btnPaySil">SİL</button>
                                }
                            </td>
                            <td class="col-md-9 vert-align">
                                <a href="#" style="text-decoration: none;" data-title="" data-toggle="modal tooltip" data-source="/EBSYonetim/DersBilgileri/_pPayOlcme/@item.PayID?dersPlanAnaID=@Convert.ToInt32(Request.RequestContext.RouteData.Values["id"])&enumCalismaTipi=@item.EnumCalismaTip&dersGrupHocaID=@Convert.ToInt32(Request.RequestContext.RouteData.Values["id"])&koordinator=true" data-width="10" data-keyboard="true" data-original-title="" title="">
                                   @item.Sira<span>.</span> @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTip)
                                </a>
                            </td>
                            <td class="col-md-1 text-center"><input type="text" value="@item.Oran" data-payid="@item.PayID" class="txtListe form-control yilIci" maxlength="3" /></td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr class="info">
                        <td></td>
                        <td class="text-right"><b>Toplam</b></td>
                        <td class="text-center">
                            <b id="yilIciToplam">
                                @Model.Where(x => x.EnumCalismaTip != (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya && x.EnumCalismaTip != (int)Sabis.Enum.EnumCalismaTip.Final).Select(x => x.Oran).Sum()
                            </b>
                        </td>
                    </tr>
                </tfoot>
            </table>
            
            <table class="table table-bordered table-striped table-hover">
                <tbody>
                    @foreach (var item in Model.Where(x => x.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya || x.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.Final))
                    {
                        <tr>
                            <td class="col-md-1 text-center">
                                @if (item.NotGirilmisMi)
                                {
                                    if (item.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya)
                                    {

                                    }
                                    else
                                    {
                                        <span>Not girişi yapılmış!</span>
                                    }
                                }
                                else if (item.SinavOdevVarMi)
                                {
                                    <span>Sınav/Ödev oluşturulmuş!</span>
                                }
                                else
                                {
                                    <button data-id="@item.PayID" class="btn btn-danger btnPaySil">SİL</button>
                                }
                            </td>
                            <td class="col-md-9 vert-align"><b>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTip)</b></td>

                            @if (item.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya)
                            {
                                <td class="col-md-1 text-center"><input type="text" value="@item.Oran" data-tip="@item.EnumCalismaTip" data-payid="@item.PayID" class="txtListe form-control yilSonu" data-enumseviye="@item.EnumSeviye" maxlength="3" @*disabled*@ /></td>
                            }
                            else
                            {
                                <td class="col-md-1 text-center"><input type="text" value="@item.Oran" data-tip="@item.EnumCalismaTip" data-payid="@item.PayID" class="txtListe form-control yilSonu" data-enumseviye="@item.EnumSeviye" maxlength="3" /></td>
                            }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="info ">
                        <td></td>
                        <td class="text-right"><b>Toplam</b></td>
                        <td class="text-center"><b id="yilSonuToplam">@Model.Where(x => x.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya || x.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.Final).Select(x => x.Oran).Sum()</b></td>
                    </tr>
                </tfoot>
            </table>


        </div>

    </div>
}


<script>
    //tanımlamalar
    var Yil = '@Sabitler.EBSYil';
    var EnumDonem = '@Sabitler.EBSDonem';
    var FKPersonelID = '@Sabitler.KullaniciID';

    var FKDersPlanID = '@fkDersPlanID';
    var FKDersGrupID = null;
    var FKDersPlanAnaID = '@dersPlanAnaID';

    var kullaniciAdi = '@Sabitler.KullaniciAdi'
    var IPAdres = '@Sabitler.IPAdresi';
    //tanımlamalar
</script>

<script src="~/Scripts/Areas/EBS/DersBilgileri/DegerlendirmeSistemi.js?version=8"></script>

<style>
    input {
        text-align: center;
    }

    .table tbody > tr > td.vert-align {
        vertical-align: middle;
    }
</style>

