﻿


@model List<Sabis.Bolum.Core.EBS.DERS.DersKategoriVM>
@{
    ViewBag.Title = "Ders Kategorisi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    int dilID = Convert.ToInt32(Request.QueryString["dil"].Replace("tr", "1").Replace("en", "2"));
    var dersDetay = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersBilgi(dersPlanAnaID, Sabitler.EBSYil, dilID, 0);
}

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Eğitim Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/EBS/DersBilgileri/DersOzet/@dersPlanAnaID?dil=@Request.QueryString["dil"]'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i></li>
            <li>Ders Kategorisi</li>
        </ul>
    </div>
}

@Html.Partial("_pMenu")
@Html.Action("_pDersBilgi")

<table class="table table-bordered">
    <tbody>
        <tr class="info">
            <td colspan="@Model.Count()">Ders Kategorisi</td>
        </tr>
        <tr>
            @foreach (var item in Model)
            {
                <td class="col-md-2 text-center">@item.Icerik</td>
            }
        </tr>
        <tr>
            @foreach (var item in Model)
            {
                string durum = "";
                if (item.SeciliMi)
                {
                    durum = "checked";
                }
                <td class="col-md-2 text-center"><input class="md-radiobtn" type="radio" name="kategori" data-kategoriid="@item.ID" data-dersplananaid="@dersPlanAnaID" data-icerik="@item.Icerik" @durum /></td>
            }
        </tr>
    </tbody>
</table>

<script>
    $("input").on("change", function () {
        var kategoriAdi = $(this).attr("data-icerik");
        $.post("/EBS/DersBilgileri/GuncelleDersKategori", { dersPlanAnaID: $(this).attr("data-dersplananaid"), dersKategoriID: $(this).attr("data-kategoriid") })
         .success(function(json) {
             if (json) {
                 toastr.info("Ders kategorisi " + kategoriAdi + " olarak değiştirildi.");
             } else {
                 toastr.error("Hata oluştu.");
             }
         });
    });
</script>

<style>
    input {
        width: 25px;
        height: 25px;
    }
</style>