﻿@model List<Sabis.Bolum.Core.EBS.DERS.DersProgramCiktilariVM>
@{
    ViewBag.Title = "Ders Program Çıktıları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    int dil = Convert.ToInt32(Convert.ToString(Request.QueryString["dil"]).Replace("tr", "1").Replace("en", "2"));
    var dersDetay = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersBilgi(dersPlanAnaID, Sabitler.EBSYil, dil, 0);
}

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Eğitim Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/EBS/DersBilgileri/DersOzet/@dersPlanAnaID?dil=@Request.QueryString["dil"]'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i></li>
            <li>Dersin Program Çıktılarına Katkısı</li>
        </ul>
    </div>
}

@Html.Partial("_pMenu")
@Html.Action("_pDersBilgi")

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 pull-right text-right">
        <select id="dersBirimListesi"></select>
    </div>
</div>

<div id="programCiktiListesi">Açılıyor...</div>

<script>
    function yenile()
    {
        if ($("#dersBirimListesi").val() != null && $("#dersBirimListesi").length > 0) {
            $("#programCiktiListesi").load("/EBS/DersBilgileri/_pGetirDersProgramCiktilari/" + '@dersPlanAnaID' + '?birim=' + $("#dersBirimListesi").val() + "&enumDil=" + '@dil');
        }
        else {
            $("#programCiktiListesi").text("Birim bulunamadı.");
        }
    }

    $(document).ready(function () {
        $.post("/EBS/DersBilgileri/GetirDersBirimListesi/@dersPlanAnaID?fakulteGoster=" + true)
            .success(function (json) {
                $.each(json, function (i, obj) {
                    $("#dersBirimListesi").append('<option value="' + obj.ID + '">' + obj.Ad + '</option>');
                });
                yenile();
            });
    });

    $("#dersBirimListesi").on("change", function () {
        yenile();
    });
</script>

<style>
    input {
        width: 25px !important;
        height: 25px !important;
    }
</style>