﻿
@{
    ViewBag.Title = "Dersin Öğrenme Çıktılarına İlişkisi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    string dil = Convert.ToString(Request.QueryString["dil"]);
    int dilID = Convert.ToInt32(Request.QueryString["dil"].Replace("tr", "1").Replace("en", "2"));
    var dersDetay = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersBilgi(dersPlanAnaID, Sabitler.EBSYil, dilID, 0);
}

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Eğitim Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/EBS/DersBilgileri/DersOzet/@dersPlanAnaID?dil=@Request.QueryString["dil"]'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i></li>
            <li>Dersin Öğrenme Çıktıları</li>
        </ul>
    </div>
}

@Html.Partial("_pMenu")
@Html.Action("_pDersBilgi")

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <button id="btnYeniEkle" class="btn btn-primary">YENİ EKLE</button>

        @Html.Partial("_pDilDegistir")

    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 pull-right text-right">
        <select id="dersBirimListesi"></select>
    </div>
</div>

<div id="ogrenmeCiktiListesi">Açılıyor...</div>

<script>
    function yenile() {
        if ($("#dersBirimListesi").val() != null) {
            $("#ogrenmeCiktiListesi").load("/EBS/DersBilgileri/_pGetirDersOgrenmeCiktilari/" + '@dersPlanAnaID' + "?dil=" + '@dil' + '&B=' + $("#dersBirimListesi").val());
        }
        else {
            $("#ogrenmeCiktiListesi").text("Birim bulunamadı!");
        }
    }

    $(document).ready(function () {
        $.post("/EBS/DersBilgileri/GetirDersBirimListesi/@dersPlanAnaID")
         .success(function (json) {
             $.each(json, function (i, obj) {
                 $("#dersBirimListesi").append('<option value="' + obj.ID + '">' + obj.Ad + '</option>');
             });
             yenile();
         });
    }); //<-- document ready

    $("#dersBirimListesi").on("change", function () {
        yenile();
    });

    $("#btnYeniEkle").click(function () {
        var data = {
            FKDersPlanAnaID: '@Request.RequestContext.RouteData.Values["id"]',
            EnumDilID: '@dil.Replace("tr", "1").Replace("en", "2")',
            Icerik: "",
            Yil: '@Sabitler.EBSYil',
            Ekleyen: '@Sabitler.KullaniciAdi',
            Zaman: '@DateTime.Now'
        };

        $.post("/EBS/DersBilgileri/EkleYeniDersOgrenmeCiktisi", { yeniOgrenmeCiktisi: data })
        .success(function (json) {
            if (json == true) {
                toastr.success("Yeni öğrenme çıktısı eklendi.");
                yenile();
            }
        });

    });

    $(document).on("click", ".btnSil", function () {
        var response = confirm("İçerik silinecektir. Onaylıyor musunuz?");
        if (response) {
            $.post("/EBS/DersBilgileri/SilDersOgrenmeCiktisi", { dersCiktiID: $(this).attr("data-id") })
            .success(function (json) {
                if (json == true) {
                    toastr.info("Silme işlemi başarılı.");
                    yenile();
                }
            });
        }
    });
</script>