﻿@model List<Sabis.Bolum.Core.EBS.DERS.DersAkisiVM>
@{
    ViewBag.Title = "Ders Akışı";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dilID = Convert.ToInt32(Request.QueryString["dil"].Replace("tr", "1").Replace("en", "2"));
    var dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var dersDetay = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersBilgi(dersPlanAnaID, Sabitler.EBSYil, dilID, 0);
}

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Eğitim Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/EBS/DersBilgileri/DersOzet/@dersPlanAnaID?dil=@Request.QueryString["dil"]'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i></li>
            <li>Ders Akışı</li>
        </ul>
    </div>
}

@Html.Partial("_pMenu")
@Html.Action("_pDersBilgi")

<div style="margin-top: 20px;">
    <button class="btn btn-primary" style="text-decoration: none;" data-title="Yeni Ders Konusu Ekle" data-toggle="modal" data-source="/EBS/DersBilgileri/_pEkleDersAkisiYeniKonu/@Request.RequestContext.RouteData.Values["id"]?dil=@Request.QueryString["dil"]" data-width="6" data-keyboard="true" data-original-title="" title="">
        Yeni Konu Ekle
    </button>

    @Html.Partial("_pDilDegistir")

</div>

<table class="table table-bordered table-striped table-hover" style="margin-top: 20px;">
    <thead>
        <tr class="info">
            <th class="text-center vert-align">Hafta</th>
            <th class="vert-align">Konular</th>
            <th class="vert-align">Ön Hazırlık</th>
            <th class="text-center vert-align">İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            foreach (var subItem in item.DersAkisiIcerik)
            {
                <tr>
                    <td class="text-center vert-align col-md-1">
                        <input class="form-control text-center" type="text" value="@item.HaftaNo" />
                    </td>
                    <td class="vert-align">
                        <input class="form-control" type="text" value="@subItem.Icerik" />
                    </td>
                    <td class="vert-align">
                        <input class="form-control" type="text" value="@subItem.OnHazirlikIcerik" />
                    </td>
                    <td class="text-center vert-align col-md-2">
                        <button class="btn btn-success btnGuncelle" data-derskonuid="@item.ID" data-dilderskonuid="@subItem.ID">Güncelle</button>
                        <button class="btn btn-danger btnSil" data-derskonuid="@item.ID" data-dilderskonuid="@subItem.ID">Sil</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@*<style>
        .table tbody > tr > td.vert-align {
            vertical-align: middle;
        }
    </style>*@

<script>

    $(document).delegate(".btnSil", "click", function () {
        var respond = confirm("İçerik silinecektir. Onaylıyor musunuz?");
        if (respond) {
            $.post("/EBS/DersBilgileri/SilDersAkisiKonu", { dersKonuID: $(this).attr("data-derskonuid") })
            .success(function () {
                window.location.reload();
            });
        }
    });

    $(document).on("click", ".btnGuncelle", function () {
        var data = {
            ID: $(this).attr("data-dilderskonuid"),
            FKDersKonuID: $(this).attr("data-derskonuid"),
            HaftaNo: $(this).parent().prev().prev().prev().children("input").val(),
            Icerik: $(this).parent().prev().prev().children("input").val(),
            OnHazirlikIcerik: $(this).parent().prev().children("input").val(),
            EnumDilID: '@dilID'
        };

        $.post("/EBS/DersBilgileri/GuncelleDersAkisiKonu", data)
         .success(function (json) {
             if (json) {
                 toastr.success("Güncelleme başarılı.");
             }
         });
    });
</script>

