﻿@model Sabis.Bolum.Core.EBS.DERS.DersBilgiVM
@{
    ViewBag.Title = "Ders Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var enumDilID = Convert.ToInt32(Request.QueryString["dil"].Replace("tr", "1").Replace("en", "2"));
    var dersDetay = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersBilgi(dersPlanAnaID, Sabitler.EBSYil, enumDilID, 0);
}

<script src="~/Content/assets/global/plugins/ckeditor/ckeditor.js"></script>

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Eğitim Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/EBS/DersBilgileri/DersOzet/@dersPlanAnaID?dil=@Request.QueryString["dil"]'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i></li>
            <li>Ders Bilgileri</li>
        </ul>
    </div>
}

@Html.Partial("_pMenu")

@Html.Action("_pDersBilgi")

<div class="row" style="margin-bottom: 15px;">
    <div class="col-md-12">
        @Html.Partial("_pDilDegistir")
    </div>
</div>

<table class="table table-bordered table-advance">
    <tbody>
        <tr>
            <td class="col-md-3 active">Dersin Koordinatörü</td>
            <td>@Model.KoordinatorAdSoyad</td>
        </tr>
        <tr>
            <td class="col-md-3">Dersi Verenler</td>
            <td>
                @foreach (var item in Model.DersiVerenPersonelIDList.Where(x => x.HasValue && x.Value != Model.FKKoordinatorID))
                {
                    var personelBilgi = Sabis.Bolum.Bll.SOURCE.ABS.PERSONEL.PERSONELMAIN.GetirPersonelBilgiByID(item.Value);
                    <span>@personelBilgi.UnvanAd @personelBilgi.Ad @personelBilgi.Soyad</span>
                    if (!Model.DersiVerenPersonelIDList.Where(x => x.Value != Model.FKKoordinatorID).LastOrDefault().Equals(item))
                    {<span>,</span>}
                }
            </td>
        </tr>
        <tr>
            <td class="col-md-3">Dersin Yardımcıları</td>
            <td>
                <textarea id="txtDersinYardimcilari" class="form-control txtDuzenle" rows="3">@Model.DersinYardimcilari</textarea>
            </td>
        </tr>
        <tr>
            <td class="col-md-3">Dersin Amacı</td>
            <td>
                <textarea id="txtDersinAmaci" class="form-control txtDuzenle" rows="3">@Model.DersinAmaci</textarea>
            </td>
        </tr>
        <tr>
            <td class="col-md-3">Dersin İçeriği</td>
            <td>
                <textarea id="txtDersinIcerigi" class="form-control txtDuzenle" rows="3">@Model.DersinIcerigi</textarea>
            </td>
        </tr>
        <tr>
            <td class="col-md-3">Ders Notları</td>
            <td>
                <textarea id="txtDersNotlari" class="form-control txtDuzenle" rows="3">@Model.DersNotlari</textarea>
            </td>
        </tr>
        <tr>
            <td class="col-md-3">Ders Kaynakları</td>
            <td>
                <textarea id="txtDersKaynaklari" class="form-control txtDuzenle" rows="3">@Model.DersKaynaklari</textarea>
            </td>
        </tr>
        <tr>
            <td class="col-md-3">Ön Koşul Dersleri</td>
            <td>
                <textarea id="txtOnKosulDersleri" class="form-control txtDuzenle" rows="3">@Model.OnKosulDersleri</textarea>
            </td>
        </tr>
        <tr>
            <td class="col-md-3">Önerilen Seçmeli Dersler</td>
            <td>
                <textarea id="txtOnerilenSecmeliDersler" class="form-control txtDuzenle" rows="3">@Model.OnerilenSecmeliDersler</textarea>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td><button id="btnGuncelle" class="btn btn-success">Bilgileri Güncelle</button></td>
        </tr>
    </tfoot>
</table>

<script>

    $(document).ready(function () {
        $('.txtDuzenle').each(function () {
            CKEDITOR.config.height = 100;
            CKEDITOR.replace(this.id, {
                removePlugins: 'toolbar,elementspath,resize',

            });

            //CKEDITOR.inline(this.id, {
            //    removePlugins: 'toolbar'
            //});

        });

    });

    $("#btnGuncelle").click(function () {
        var data = {
            FKDersPlanAnaID: '@dersPlanAnaID',
            DersinAmaci: CKEDITOR.instances["txtDersinAmaci"].getData(),
            DersinIcerigi: CKEDITOR.instances["txtDersinIcerigi"].getData(),
            OnKosulDersleri: CKEDITOR.instances["txtOnKosulDersleri"].getData(),
            OnerilenSecmeliDersler: CKEDITOR.instances["txtOnerilenSecmeliDersler"].getData(),
            DersinYardimcilari: CKEDITOR.instances["txtDersinYardimcilari"].getData(),
            DersNotlari: CKEDITOR.instances["txtDersNotlari"].getData(),
            DersKaynaklari: CKEDITOR.instances["txtDersKaynaklari"].getData(),
            EnumDilID: '@enumDilID'
        };
        //console.log(data);
        $.post("/EBS/DersBilgileri/GuncelleDersBilgi", data)
         .success(function(json) {
             if (json) {
                 toastr.success("Bilgiler güncellendi.");
             }
             else {
                 toastr.error("Bir hata oluştu");
             }
         });
    });
</script>