﻿@model Sabis.Bolum.Core.ABS.DERS.DERSDETAY.HiyerarsikDersListesiVM
@{
    ViewBag.Title = "HiyerarsikDegerlendirme";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int DersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var DersPlanID = Convert.ToInt32(Request.QueryString["DP"]);
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />



<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <h2>@Model.DersAd</h2>
        </div>
        <div class="col-md-9 text-right">
            <div class="col-md-2" style="margin-left: 0; padding-left: 0;">
                <select id="ddlCalismaTipi" class="calismaTip form-control">
                    @foreach (Sabis.Enum.EnumCalismaTip tip in Enum.GetValues(typeof(Sabis.Enum.EnumCalismaTip)))
                    {
                        <option data-enumcalismatip="@Convert.ToInt32(tip)" value="@Convert.ToInt32(tip)">@tip</option>
                    }
                </select>
            </div>

            <button id="btnYeniPayEkle" class="btn btn-primary">Yeni Pay Ekle</button>
            <button id="btnTumunuGuncelle" class="btn btn-success">Tümünü Güncelle</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <div id="jstree">
                <ul>
                    @foreach (var item in Model.AltDersListesi)
                    {
                        <li class="liDers" data-fkdersplananaid="@item.DersPlanAnaID">
                            @item.DersAd (@item.DersPlanAnaID)
                            <ul>
                                <li id="child_node_1">Child node 1</li>
                                <li>Child node 2</li>
                            </ul>
                        </li>
                    }
                </ul>
                @*<ul>
                <li>
                    Root node 1
                    <ul>
                        <li id="child_node_1">Child node 1</li>
                        <li>Child node 2</li>
                    </ul>
                </li>
                <li>Root node 2</li>
            </ul>*@
            </div>
        </div>

        <div id="payListesi" class="col-md-9"></div>
    </div>
</div>


<script>
    //tanımlamalar
    var Yil = '@Sabitler.EBSYil';
    var EnumDonem = '@Sabitler.EBSDonem';
    var FKPersonelID = '@Sabitler.KullaniciID';

    var FKDersPlanID = '@DersPlanID';
    var FKDersGrupID = null;
    var FKDersPlanAnaID = '@DersPlanAnaID';

    var kullaniciAdi = '@Sabitler.KullaniciAdi'
    var IPAdres = '@Sabitler.IPAdresi';
    //tanımlamalar
</script>

@*<script src="~/Scripts/Areas/EBS/DersBilgileri/DegerlendirmeSistemi.js?version=6"></script>*@

<script>
    $("#btnYeniPayEkle").click(function () {
        var calismaTipi = $("#ddlCalismaTipi").val();
        var payListe = [];

        if (FKDersPlanID == 0) {
            FKDersPlanID = null;
        }

        var data = {
            PayID: null,
            EnumCalismaTipi: $("#ddlCalismaTipi").val(),
            SiraNo: null,
            KatkiOrani: 0,
            Donem: EnumDonem,
            Yil: Yil,
            DersPlanID: FKDersPlanID,
            DersGrupID: FKDersGrupID,
            DersPlanAnaID: FKDersPlanAnaID,
            PersonelID: FKPersonelID,
            KullaniciAdi: kullaniciAdi,
            IP: IPAdres
        };

        payListe.push(data);

        $.post("/Ders/PayDuzenle/EklePay", { liste: payListe, id: FKDersPlanAnaID })
                .success(function (data) {
                    $("#payListesi").load("/EBS/DersBilgileri/_pGetirPayListesi?fkDersPlanAnaID=" + FKDersPlanAnaID + "&yil=" + '@Sabitler.EBSYil' + "&donem=" + '@Sabitler.EBSDonem');
                });

    });

    $("#btnTumunuGuncelle").click(function () {
        var listGuncelle = [];
        $(".txtListe").each(function () {
            var data = {
                ID: $(this).attr("data-payid"),
                Sira: $(this).parent().prev().children("input").first().val(),
                Oran: $(this).val()
            };
            listGuncelle.push(data);
        });

        $.post("/Ders/PayDuzenle/GuncellePay", { payListesi: listGuncelle }).success(function (data) {
            $("#payListesi").load("/EBS/DersBilgileri/_pGetirPayListesi?fkDersPlanAnaID=" + FKDersPlanAnaID + "&yil=" + '@Sabitler.EBSYil' + "&donem=" + '@Sabitler.EBSDonem');
        });
    });

    $(document).on("click", ".btnPaySil", function () {
        var response = confirm("Pay silinecek! Onaylıyor musunuz?");
        if (response) {
            $.post("/Ders/PayDuzenle/SilPay", { payID: $(this).attr("data-id"), FKKoordinatorID: FKPersonelID, FKDersPlanAnaID: FKDersPlanAnaID }).success(function (data) {
                $("#payListesi").load("/EBS/DersBilgileri/_pGetirPayListesi?fkDersPlanAnaID=" + FKDersPlanAnaID + "&yil=" + '@Sabitler.EBSYil' + "&donem=" + '@Sabitler.EBSDonem');
            });
        }
    });
</script>

<script>
    $(function () {
        // 6 create an instance when the DOM is ready
        $('#jstree').jstree();
        // 7 bind to events triggered on the tree
        $('#jstree').on("changed.jstree", function (e, data) {
            //console.log(data.selected);
        });

        $("#payListesi").load("/EBS/DersBilgileri/_pGetirPayListesi?fkDersPlanAnaID=" + '@DersPlanAnaID' + "&yil=" + '@Sabitler.EBSYil' + "&donem=" + '@Sabitler.EBSDonem');
    });

    $(document).on("click", ".liDers", function () {
        FKDersPlanAnaID = $(this).attr("data-fkdersplananaid");
        console.log(FKDersPlanAnaID);
        //$(this).html("asdad");
        $(".liDers").removeClass("jstree-hovered");
        $(this).addClass("jstree-hovered");
        $("#payListesi").load("/EBS/DersBilgileri/_pGetirPayListesi?fkDersPlanAnaID=" + $(this).attr("data-fkdersplananaid") + "&yil=" + '@Sabitler.EBSYil' + "&donem=" + '@Sabitler.EBSDonem');
    });
</script>