﻿@model List<Sabis.Bolum.Core.EBS.DERS.DersListesiVM>
@{
    ViewBag.Title = "Ders Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string yil = Sabitler.EBSYil + " - " + Convert.ToInt32(Sabitler.EBSYil + 1);
    //ViewBag.Home = true;
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Ders Bilgileri</li>
        </ul>
    </div>
}

@*@Html.Partial("~/Views/Shared/_YilveDonemSecim.cshtml")*@

<div class="panel panel-primary">
    <div class="panel-heading">@yil Eğitim Yılı Eğitim Bilgi Sistemi Koordinatör Ders Listesi</div>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="active">
                    @*<th>Ders Kodu</th>*@
                    <th>Ders Adı</th>
                    <th>Ders Tipi</th>
                    @*<th class="text-center">Grup Sayısı</th>*@
                    <th class="text-center">Öğrenci Sayısı</th>
                    @*<th class="col-md-3">Grup Listesi</th>*@
                    <th class="col-md-3">Koordinatör İşlemleri</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a href="/EBS/DersBilgileri/DersOzet/@item.ID?dil=tr">@item.DersAd</a></td>
                        <td><a href="/EBS/DersBilgileri/DersOzet/@item.ID?dil=tr">@if (item.DersTipi != null)
                        {
                            @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumDersBirimTipi)item.DersTipi)
                        }</a></td>
                        @*<td class="text-center"><a href="/EBS/DersBilgileri/DersOzet/@item.ID?dil=tr">@item.BirimListe.Count().ToString().Replace("0", "")</a></td>*@
                        <td class="text-center">@item.ToplamOgrenciSayisi.ToString().Replace("0", "")</td>
                        @*<td>
                            @if (item.BirimListe.Count > 0)
                            {
                                <select class="form-control">
                                    @foreach (var subItem in item.BirimListe)
                                    {
                                        <option>@subItem.BirimDersKod - @subItem.BirimAdi</option>
                                    }
                                </select>
                            }
                        </td>*@
                        <th>
                            
                            @*<a href="javascript:;" class="btn btn-xs default">Duyuru Yönetimi</a>*@
                            @*<a href="javascript:;" class="btn btn-xs blue" data-title="Doküman Ekle" data-toggle="tooltip modal" data-source="/Ders/Dokuman/_pEkle/@item.FKDersGrupHocaID?tip=1" data-size="60" data-backdrop="false" data-keyboard="true" data-original-title="" title="">Doküman Yönetimi</a>*@
                            @if (item.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.BITIRME || item.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.TASARIM || item.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.STAJ)
                            {
                                <a href="javascript:;" class="btn btn-xs yellow-lemon" data-title="Proje Takvimi" data-toggle="tooltip modal" data-source="/Ders/Proje/_pProjeTakvimi/@item.ID" data-size="60" data-backdrop="false" data-keyboard="true" data-original-title="" title="">Proje Takvimi</a>
                            }
                        </th>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>