﻿@model List<Sabis.Bolum.Core.ABS.DERS.DERSDETAY.PayBilgileriVM>
@{
    ViewBag.Title = "Sinav";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    int dersGrupHocaID = Sabis.Bolum.Bll.SOURCE.ABS.DERS.SINAVMAIN.GetirDersGrupHocaID(dersPlanAnaID, Sabitler.Yil, Sabitler.Donem);
    int dilID = Convert.ToInt32(Request.QueryString["dil"].Replace("tr", "1").Replace("en", "2"));
    var dersDetay = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersBilgi(dersPlanAnaID, Sabitler.EBSYil, dilID, 0);
}

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Eğitim Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/EBS/DersBilgileri/DersOzet/@dersPlanAnaID?dil=@Request.QueryString["dil"]'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i></li>
            <li>Sınav İşlemleri</li>
        </ul>
    </div>
}


<div class="panel panel-default">
    <div class="panel-heading">Sınav İşlemleri</div>
    <div class="panel-body">
        @*@if (Sabitler.Yil != Sabitler.EBSYil && Sabitler.Donem != Sabitler.EBSDonem)
        {
            <div>Şuanda sınavlar ile ilgili değişiklikler kapalıdır.</div>
        }
        else
        {*@
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Çalışma Tipi</td>
                        <td>Sınav</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)</td>
                            <td>
                                @if (item.EnumCalismaTipi == (int)Sabis.Enum.EnumCalismaTip.Odev)
                                {
                                    <a href="/Ders/Detay/Odev/@dersGrupHocaID?P=@item.PayID" class="btn default" target="_blank">Ödev Düzenle</a>
                                }
                                else
                                {
                                    <a href="/Ders/Detay/Sinav/@dersGrupHocaID?P=@item.PayID" class="btn default" target="_blank">Sınav Düzenle</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        @*}*@
    </div>
</div>