﻿
<div class="col-md-3">
    <select id="ddlFakulteListesi" class="form-control birimSec" data-tur="Fakülte">
        <option>Fakülte Seçiniz</option>
        <option value="1578">BİLGİSAYAR VE BİLİŞİM BİLİMLERİ FAKÜLTESİ</option>
        <option value="254">MÜHENDİSLİK FAKÜLTESİ</option>
        <option value="21393">SAĞLIK BİLİMLERİ FAKÜLTESİ</option> @*SAĞLIK YÜKSEK OKULU İD Sİ SONRADAN DEĞİŞECEK*@
    </select>
</div>
<div class="col-md-3">
    <select id="ddlBolumListesi" class="form-control birimSec" data-tur="Bölüm">
        <option value="" selected>Bölüm Seçiniz</option>
    </select>
</div>
<div class="col-md-3">
    <select id="ddlProgramListesi" class="form-control birimSec" data-tur="Ara">
        <option selected>Program Seçiniz</option>
    </select>
</div>

@*<div class="col-md-1">
    <select id="ddlOgretimTuru" class="form-control">
        <option value="1">1. Öğretim</option>
        <option value="2">2. Öğretim</option>
    </select>
</div>*@
<div class="col-md-2">
    <select id="ddlDonem" class="form-control">
        <option value="1">Güz Dönemi</option>
        <option value="2" selected>Bahar Dönemi</option>
    </select>
</div>
<div class="col-md-1">
    <button id="btnAra" class="btn btn-success">Listele</button>
</div>

<script>
    $(document).ready(function() {
        @*$.post("/tr/Home/GetirBirimListe", { ustBirimID: 1426, FKPersonelID: '@Oturum.PersonelBilgisi.ID', EnumBirimTuru: 0, yetkiKontrol: false })
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlFakulteListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                });*@
    });

    $("#ddlFakulteListesi").on("change", function () {
        $("#ddlBolumListesi").empty();

        $("#ddlBolumListesi").append('<option value="" selected>Bölüm Seçiniz</option>');
        $.post("/Home/GetirBirimListe", { ustBirimID: $(this).val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false })
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlBolumListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                });
    });

    $("#ddlBolumListesi").on("change", function () {
        $("#ddlProgramListesi").empty();
        $("#ddlProgramListesi").append('<option value="" selected>Program Seçiniz</option>');
        $.post("/Home/GetirBirimListe", { ustBirimID: $(this).val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: 4, yetkiKontrol: false, enumOgretimTur: null })
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlProgramListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                });
    });

</script>