﻿@{
    int dersGrupID = Convert.ToInt32(Request.QueryString["dersGrupID"]);
    int payID = Convert.ToInt32(Request.QueryString["payID"]);
    int dersGrupHocaID = Convert.ToInt32(Request.QueryString["dersGrupHocaID"]);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
    bool sonHalVeridiMi = Convert.ToBoolean(Request.QueryString["sonHalVerildiMi"]);
}


<div>
    <table id="tblSoru" class="table table-bordered">
        <thead id="tblHead"></thead>
        <tbody id="tblBody"></tbody>
    </table>

    <div id="chart_div"></div>

    <div id="indir"></div>
</div>

<script>



    var grafikHazirla = function (json, baslik) {
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawTitleSubtitle);

        function drawTitleSubtitle() {
            var data = google.visualization.arrayToDataTable(json);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1, { calc: "stringify", sourceColumn: 1, type: "string", role: "annotation" }, 2]);

            var options = {
                title: baslik,
                width: "100%",
                height: 400,
                legend: { position: 'none' },
                //chart: {
                //    title: 'Program Çıktılarının Başarı Oranları',
                //},
                vAxis: {
                    //gridlines: { count: 5 }
                    ticks: [0, 0.20, 0.40, 0.60, 0.80, 1]
                },
            };

            var material = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            google.visualization.events.addListener(material, 'ready', function () {
                indir.innerHTML = '<a download="Grafik.png" class="btn btn-success" href="' + material.getImageURI() + '">Resim Olarak Kaydet</a>';
            });
            material.draw(view, options);
        }
    }


    $(document).ready(function () {
        $.post("/Akreditasyon/GetirPCBasariJson", { dersGrupID: '@dersGrupID', payID: '@payID', sonHalVerildiMi: '@sonHalVeridiMi' })
         .success(function (json) {
             var newJson = [];
             newJson.push(['Soru Başarı Oranları', 'Başarı Oranı', { role: 'style' }]);

             var satir2 = "<td>Başarı Ortalaması</td>";
             var baslik = "<th class='active'></th>";

             $.each(json, function (index, value) {
                 baslik += "<th class='text-center active'>PÇ " + value.Sira + "</th>";
                 satir2 += "<td class='text-center'>" + Number(Math.round(value.CiktiPuanOrtalama * 100) / 100) + "</td>";
                 newJson.push([value.Cikti, value.CiktiPuanOrtalama, value.Renk]);
             });

             $("#tblHead").append("<tr>" + baslik + "</tr>")
             $("#tblBody").append("<tr>" + satir2 + "</tr>")

             console.log(newJson);

             setTimeout(function () { grafikHazirla(newJson, htmlentities.decode("Program Çıktılarının Başarı Oranları - " + '@dersDetay.SinifAdi')); }, 500);
         });
    });
</script>

