﻿@{
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    int yil = Convert.ToInt32(Request.QueryString["yil"]);
    int donem = Convert.ToInt32(Request.QueryString["donem"]);
    int birimID = Convert.ToInt32(Request.QueryString["birimID"]);
    //string dersAd = Request.QueryString["dersAd"];
}


<div id="chart_div"></div>

<div id="indir"></div>




<script>

    function dynamicSort(property) {
        var sortOrder = 1;
        if (property[0] === "-") {
            sortOrder = -1;
            property = property.substr(1);
        }
        return function (a, b) {
            var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
            return result * sortOrder;
        }
    };

    function groupBy(array, col, value) {
        var r = [], o = {};
        array.forEach(function (a) {
            if (!o[a[col]]) {
                o[a[col]] = {};
                o[a[col]][col] = a[col];
                o[a[col]][value] = 0;
                o[a[col]]['count'] = 0;
                r.push(o[a[col]]);
            }
            o[a[col]][value] += +a[value];
            o[a[col]]['count'] += 1;
        });
        return r;
    };

    function average(array, col, value, count) {
        array.forEach(function (a) {
            a[value] = Number(a[value] / a[count]).toFixed(2);
        })
        return array;
    };

    $(document).ready(function () {

        $.post("/Akreditasyon/GetirGenelPCRapor", { dersPlanAnaID: '@dersPlanAnaID', yil: '@yil', enumDonem: '@donem', birimID: '@birimID' })
         .success(function (json) {
             //console.log(json);

             var pcArray = [];
             $.each(json, function (i, obj) {
                 $.each(obj.PCListe, function (j, sObj) {
                     pcArray.push(sObj);
                 });

             });



             var gJson = groupBy(pcArray, 'PCNo', 'PCPuan');
             gJson = gJson.sort(dynamicSort("PCNo"));
             //console.log(gJson);
             aJson = average(gJson, 'PCNo', 'PCPuan', 'count');
             console.log(aJson);
             var newJson = [];
             newJson.push(['Program Çıktı Başarı Oranları', 'Başarı Oranı', { role: 'style' }]);
             $.each(aJson, function (c, cObj) {
                 //console.log(cObj);
                 newJson.push($.map(cObj, function (value, index) {
                     //console.log(value);
                     //console.info(index);
                     if (index == "PCPuan") {
                         return parseFloat(value)
                     }
                     return [value];
                 }));
             });
             console.log(newJson);

             grafikHazirla(newJson, "Dersin Program Çıktılarına Katkısı");
             //console.log(aJson);
         });
    });




    var grafikHazirla = function (json, baslik) {
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawTitleSubtitle);

        function drawTitleSubtitle() {
            var data = google.visualization.arrayToDataTable(json);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1, { calc: "stringify", sourceColumn: 1, type: "string", role: "annotation" }, 2]);

            var options = {
                //title: "Program Çıktılarının Başarı Oranları",
                width: "100%",
                height: 400,
                legend: { position: 'none' },
                title: baslik,
                //chart: {
                //    title: 'Program Çıktılarının Başarı Oranları',
                //    subtitle: 'Sınıf',
                //},
                vAxis: {
                    //gridlines: { count: 5 }
                    ticks: [0, 0.20, 0.40, 0.60, 0.80, 1]
                },
            };

            var material = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            google.visualization.events.addListener(material, 'ready', function () {
                indir.innerHTML = '<a download="Grafik.png" class="btn btn-success" href="' + material.getImageURI() + '">Resim Olarak Kaydet</a>';
            });
            material.draw(view, options);
        }
    }
</script>
