﻿@{
    int dersGrupID = Convert.ToInt32(Request.QueryString["dersGrupID"]);
    int payID = Convert.ToInt32(Request.QueryString["payID"]);
    bool sonHalVeridiMi = Convert.ToBoolean(Request.QueryString["sonHalVerildiMi"]);
}

<div>
    <table id="tblSoru" class="table table-bordered col-md-12">
        <thead id="tblHead"></thead>
        <tbody id="tblBody"></tbody>
    </table>
</div>

<div id="chart_div" style="margin-top: 150px;"></div>

<div id="indir"></div>

<script>
    var grafikHazirla = function (json)
    {
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawTitleSubtitle);

        function drawTitleSubtitle() {
            var data = google.visualization.arrayToDataTable(json);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                             {
                                 calc: "stringify",
                                 sourceColumn: 1,
                                 type: "string",
                                 role: "annotation"
                             },
                             2]);

            var options = {
                //title: 'Öğrencilerin Sınav Sorularındaki Başarı Oranları',
                width: "100%",
                height: 400,
                legend: { position: 'none' },
                colors: ['#9575cd'],
                chart: {
                    title: 'Öğrencilerin Sınav Sorularındaki Başarı Oranları',
                    //subtitle: 'Based on a scale of 1 to 10'
                },
                vAxis: {
                    //gridlines: { count: 5 }
                    ticks: [0, 0.20, 0.40, 0.60, 0.80, 1]
                },
                //hAxis: { textPosition: 'none' },
                //hAxis: {
                //    title: 'Time of Day',
                //    format: 'h:mm a',
                //    viewWindow: {
                //        min: [7, 30, 0],
                //        max: [17, 30, 0]
                //    }
                //},
                //vAxis: {
                //    title: 'Başarı Oranı'
                //}
            };

            //var material = new google.charts.Bar(document.getElementById('chart_div'));
            //var material = new google.visualization.BarChart(document.getElementById('chart_div'));
            var material = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            google.visualization.events.addListener(material, 'ready', function () {
                indir.innerHTML = '<a download="Grafik.png" class="btn btn-success" href="' + material.getImageURI() + '">Resim Olarak Kaydet</a>';
            });
            material.draw(view, options);
        }
    }
    $(document).ready(function () {
            $.post("/Akreditasyon/GetirSoruBasariJson", { dersGrupID: '@dersGrupID', payID: '@payID', sonHalVerildiMi: '@sonHalVeridiMi' })
            .success(function (json) {
                console.log(json);
             var newJson = [];
             newJson.push(['Soru Başarı Oranları', 'Başarı Oranı', { role: 'style' }]);

             var satir1 = "<td>Puanlama</td>";
             var satir2 = "<td>Başarı Ortalaması</td>";
             var baslik = "<th class='active'></th>";

             $.each(json, function (i, obj) {
                 baslik += "<th class='text-center active'>Soru " + Number(i + 1) + "</th>";
                 satir1 += "<td class='text-center'>" + obj.SoruPuan + "</td>";
                 satir2 += "<td class='text-center'>" + Number(Math.round(obj.SoruPuanOrtalama * 100) / 100) + "</td>";
                 delete obj.SoruPuan;
                 newJson.push($.map(obj, function (el) { return el }));
             });

             $("#tblHead").append("<tr>" + baslik + "</tr>")
             $("#tblBody").append("<tr>" + satir1 + "</tr>")
             $("#tblBody").append("<tr>" + satir2 + "</tr>")
             console.log(newJson);
             setTimeout(function () { grafikHazirla(newJson); }, 1000);
         });
    });

</script>