﻿
@{
    ViewBag.Title = "Ders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Program ve Öğrenme Çıktıları</li>
        </ul>
    </div>
}
<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Ders Program Çıktıları</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-3">
                <select id="ddlFakulteListesi" class="form-control birimSec" data-tur="Fakülte">
                    <option>Fakülte Seçiniz</option>
                    <option value="1578">BİLGİSAYAR VE BİLİŞİM BİLİMLERİ FAKÜLTESİ</option>
                    <option value="254">MÜHENDİSLİK FAKÜLTESİ</option>
                    <option value="21393">SAĞLIK BİLİMLERİ FAKÜLTESİ</option>
                    <option value="1098">TEKNOLOJİ FAKÜLTESİ</option>
                    <option value="1107">İŞLETME FAKÜLTESİ</option>
                </select>

                @*<select id="ddlAraProgramListesi" class="form-control birimSec" data-tur="Ara" style="visibility: hidden;">
                    <option>Ara Program / Program Seçiniz</option>
                </select>
                <select id="ddlAraProgramListesi2" class="form-control birimSec" data-tur="Ara" style="visibility: hidden;">
                    <option>Ara Program / Program Seçiniz</option>
                </select>*@
            </div>
            <div class="col-md-3">
                <select id="ddlBolumListesi" class="form-control birimSec" data-tur="Bölüm">
                    <option>Bölüm Seçiniz</option>
                </select>
            </div>

            <div class="col-md-3">
                <select id="ddlProgramListesi" class="form-control birimSec" data-tur="Program">
                    <option>Program Seçiniz</option>
                </select>
            </div>


            <div class="col-md-2">
                <select id="ddlYil" class="form-control">
                    <option data-yil="2015" data-donem="2" value="2016">2015 - 2016 Bahar Dönemi</option>
                    <option data-yil="2016" data-donem="1">2016 - 2017 Güz Dönemi</option>
                    <option data-yil="2016" data-donem="2" selected>2016 - 2017 Bahar Dönemi</option>
                </select>
            </div>

            <div class="col-md-1">
                <select id="ddlCiktiTur" class="form-control">
                    <option value="pc">Program Çıktıları</option>
                    <option value="oc">Öğrenme Çıktıları</option>
                </select>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12" id="chartList"></div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-3">Ders Adı</th>
                            <th class="col-md-2 text-center">Tür</th>
                            <th class="col-md-1 text-center">Yarıyıl</th>
                            <th class="col-md-1 text-center">AKTS</th>
                            <th class="col-md-5 text-center" id="baslik">Program Çıktıları</th>
                            <th class="col-md-1 text-center"></th>
                        </tr>
                    </thead>
                    <tbody id="tblGrafikListesi"></tbody>
                </table>
                

                @*<div id="indir"></div>*@
            
        </div>


    </div>
</div>
<div id="chart_div"></div>
<script>

    //$(document).ready(function () {

    //    $.post("/Akreditasyon/GetirProgramCiktiListesi", { birimID: 1102, programID: 1255, yil: 2016, donem: 2 }).always(function (jsonPC) {
    //        console.log(jsonPC);
    //        console.log(JSON.parse(jsonPC.responseText));
            
    //    });
    //});

    var grafikHazirla = function (json, baslik, grfID) {
        google.charts.load('current', { packages: ['corechart', 'bar'] });
      //google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(json);
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: baslik,
            width: 800, //"100%
            height: 200,
            //curveType: 'function',
            legend: { position: 'none' },
            vAxis: {
                ticks: [0, 0.20, 0.40, 0.60, 0.80, 1]
            },
        };

        var material = new google.visualization.ColumnChart(document.getElementById(grfID));
        google.visualization.events.addListener(material, 'ready', function () {
            $("#indir" + grfID).html('<a download="' + baslik + '.png" class="btn btn-success" href="' + material.getImageURI() + '">Kaydet</a>');
            //indir.innerHTML = '<a download="Grafik.png" class="btn btn-success" href="' + material.getImageURI() + '">Resim Olarak Kaydet</a>';
        });
        material.draw(view, options);

        //var chart = new google.visualization.ColumnChart();
        //chart.draw(data, options);
      }
    }


    @*$(document).ready(function () {
        $.post("/Home/GetirBirimListe", { ustBirimID: '@Sabitler.UniversiteID', FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: 0 })
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlFakulteListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                });
    });*@

    

    $("#ddlFakulteListesi").on("change", function () {
        $("#tblDersListesi").html("");
        $("#ddlBolumListesi").empty().append(' <option value="0">Bölüm Seçiniz</option>');
        $("#ddlAraProgramListesi").css("visibility", "hidden");
        $("#ddlAraProgramListesi").empty();

        $.post("/Home/GetirBirimListe", { ustBirimID: $("#ddlFakulteListesi").val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false })
            .success(function (json) {
                $.each(json, function (i, val) {
                    $("#ddlBolumListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                });
            });
    });

    $("#ddlBolumListesi").on("change", function () {
        $("#ddlProgramListesi").empty();
        $("#ddlProgramListesi").append('<option value="" selected>Program Seçiniz</option>');
        $.post("/Home/GetirBirimListe", { ustBirimID: $(this).val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: 4, yetkiKontrol: false, enumOgretimTur: null })
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlProgramListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                });
    });

    $("#ddlProgramListesi").on("change", function () {
        if ($("#ddlCiktiTur").val() == "pc") {
            programCiktiGetir();
        }
        if ($("#ddlCiktiTur").val() == "oc") {
            ogrenmeCiktiGetir();
        }
    });

    
    $("#ddlYil").on("change", function () {
        if ($("#ddlCiktiTur").val() == "pc") {
            programCiktiGetir();
        }
        if ($("#ddlCiktiTur").val() == "oc") {
            ogrenmeCiktiGetir();
        }
    });


    $("#ddlCiktiTur").on("change", function () {
        if ($("#ddlCiktiTur").val() == "pc") {
            programCiktiGetir();
        }
        if ($("#ddlCiktiTur").val() == "oc") {
            ogrenmeCiktiGetir();
        }
    });

    function programCiktiGetir() {

        if ($("#ddlProgramListesi").val() == null) {
            return false;
        }

        $("#tblGrafikListesi").html('');
        $("#baslik").html('Program Çıktıları');
        var yil = $('select#ddlYil option:selected').attr('data-yil');
        var donem = $('select#ddlYil option:selected').attr('data-donem');
        var bID = $("#ddlBolumListesi").val();

        $("#tblDersListesi").html("");
        var jsonList = "";

        

        $.post("/Akreditasyon/GetirBirimDersIDListe", { birimID: $("#ddlBolumListesi").val(), yil: yil })
        .done(function (json2) {
            var dersIDList = [];
            //console.log(json2);

            $.each(json2, function (i, obj) {
                dersIDList.push(obj);
            });

            $.post("/Akreditasyon/GetirProgramCiktiListesi", { dersIDList: dersIDList, birimID: bID, programID: $("#ddlProgramListesi").val(), yil: yil, donem: donem }).always(function (jsonPC) {
                //console.log(jsonPC);
                //var json = JSON.parse(jsonPC.responseText);
                $.each(jsonPC, function (i, obj) {
                    $("#tblGrafikListesi").append("<tr><td>" + obj.DersAd + "</td><td class='text-center'>" + obj.DersTuru + "</td><td class='text-center'>" + obj.Yariyil + "</td><td class='text-center'>" + obj.AKTS + "</td><td id='" + obj.DersPlanAnaID + "'></td><td id='indir" + obj.DersPlanAnaID + "'></td></tr>");
                    $("#tblGrafikListesi").append("<tr class='info'><td colspan='4' class='text-right'>Katkı Düzeyleri</td><td class='text-center'><div style='width: 100% !important;' id='katki" + obj.DersPlanAnaID + "'></div></td></tr>")

                    var newJson = [];
                    newJson.push(['Program Çıktıları Başarı Oranları', 'Başarı Oranı', { role: 'style' }]);

                    $.each(obj.CiktiListesi, function (j, sObj) {
                        newJson.push([sObj.Cikti, sObj.CiktiPuanOrtalama, sObj.Renk]);
                        $("#katki" + obj.DersPlanAnaID).append('<span style="padding: 23px !important;">' + sObj.KatkiDuzeyi + '</span>');
                    });
                    //console.log(json);
                    //console.log(newJson);
                    grafikHazirla(newJson, obj.DersAd, obj.DersPlanAnaID);
                });

                ortalamaCiktiGetir();
            });
        });
    };

    var ortalamaCiktiGetir = function () {

        if ($("#ddlProgramListesi").val() == null) {
            return false;
        }

        var yil = $('select#ddlYil option:selected').attr('data-yil');
        var donem = $('select#ddlYil option:selected').attr('data-donem');
        var bID = $("#ddlBolumListesi").val();
        $.post("/Akreditasyon/GetirOrtalamaProgramCiktiListesi", { birimID: bID, programID: $("#ddlProgramListesi").val(), yil: yil, donem: donem }).done(function (json) {
                      var agirlikliJson = [];
                      var katkiPayiJson = [];
                      agirlikliJson.push(['Ağırlıklı Ortalama', 'Başarı Oranı', { role: 'style' }]);
                      katkiPayiJson.push(['Ağırlıklı Ortalama (Katkı Düzeyi Dahil)', 'Başarı Oranı', { role: 'style' }]);
                      $("#tblGrafikListesi").append("<tr><td></td><td class='text-center'></td><td class='text-center'></td><td class='text-center'></td><td id='agirlikliOrtalama'></td></tr>");
                      $("#tblGrafikListesi").append("<tr><td colspan='4'></td><td class='text-center' style='color:red'>Bu grafiklerde zorunlu dersler dikkate alınmıştır.</td></tr>");
                      $("#tblGrafikListesi").append("<tr><td></td><td class='text-center'></td><td class='text-center'></td><td class='text-center'></td><td id='agirlikliOrtalamaKatki'></td></tr>");
                      $.each(json, function (i, obj) {
                          if (isNaN(obj.CiktiPuanOrtalama)) {

                          }
                          else {
                              if (obj.CiktiToplamPuan == 1) {
                                  agirlikliJson.push([obj.Cikti, obj.CiktiPuanOrtalama, obj.Renk]);
                              }
                              if (obj.CiktiToplamPuan == 2) {
                                  katkiPayiJson.push([obj.Cikti, obj.CiktiPuanOrtalama, obj.Renk]);
                              }
                          }
                          
                      });
                      grafikHazirla(agirlikliJson, "Ağırlıklı Ortalama", "agirlikliOrtalama");
                      grafikHazirla(katkiPayiJson, "Katkı Düzeyi Dahil Ağırlıklı Ortalama", "agirlikliOrtalamaKatki");
                  });
    };

    var ogrenmeCiktiGetir = function () {

        $("#tblGrafikListesi").html('');
        $("#baslik").html('Öğrenme Çıktıları');
            var yil = $('select#ddlYil option:selected').attr('data-yil');
            var donem = $('select#ddlYil option:selected').attr('data-donem');
            var bID = $("#ddlBolumListesi").val();
            //$("#ddlAraProgramListesi").css("visibility", "hidden");
            //$("#ddlAraProgramListesi").empty().append('<option value="0">Ara Program Seçiniz</option>');
            $("#tblDersListesi").html("");
            var jsonList = "";
            //$.post("/Admin/DersKoordinatorleri/GetirBirimDersList", { FKBirimID: bID }).success(function (json2) {
            $.post("/Akreditasyon/GetirBirimDersIDListe", { birimID: $("#ddlBolumListesi").val(), yil: yil })
            .done(function (json2) {
                var dersIDList = [];

                $.each(json2, function (i, obj) {
                    dersIDList.push(obj);
                });

                $.post("/Akreditasyon/GetirOgrenmeCiktiListesi", { dersIDList: dersIDList, birimID: bID, programID: $("#ddlProgramListesi").val(), yil: yil, donem: donem })
                 .done(function (json) {

                     $.each(json, function (i, obj) {
                         $("#tblGrafikListesi").append("<tr><td>" + obj.DersAd + "</td><td class='text-center'>" + obj.DersTuru + "</td><td class='text-center'>" + obj.Yariyil + "</td><td class='text-center'>" + obj.AKTS + "</td><td id='" + obj.DersPlanAnaID + "'></td></tr>");
                         var newJson = [];
                         newJson.push(['Öğrenme Çıktıları Başarı Oranları', 'Başarı Oranı', { role: 'style' }]);

                         $.each(obj.CiktiListesi, function (j, sObj) {
                             newJson.push([sObj.Cikti, sObj.CiktiPuanOrtalama, sObj.Renk]);
                         });
                         console.log(newJson);
                         grafikHazirla(newJson, obj.DersAd, obj.DersPlanAnaID);
                     });

                     $.post("/Akreditasyon/GetirOrtalamaProgramCiktiListesi", { birimID: bID, yil: yil })
                      .done(function (json) {
                          var newJson = [];
                          newJson.push(['Ağırlıklı Ortalama', 'Başarı Oranı', { role: 'style' }]);
                          $("#tblGrafikListesi").append("<tr><td></td><td class='text-center'></td><td class='text-center'></td><td class='text-center'></td><td id='agirlikliOrtalama'></td></tr>");
                          $.each(json, function (i, obj) {
                              newJson.push([obj.Cikti, obj.CiktiPuanOrtalama, obj.Renk]);
                          });
                          console.log(newJson);
                          grafikHazirla(newJson, "Ağırlıklı Ortalama", "agirlikliOrtalama");
                      });
                 });

            });

    };

</script>