﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int yil = Sabitler.Yil;
}

<script src="~/Content/assets/global/plugins/morris/morris.min.js"></script>
<link href="~/Content/assets/global/plugins/morris/morris.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/morris/raphael.min.js"></script>

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Birimler</div>
    <div class="panel-body">

        @Html.Partial("_pBirimSecim")

    </div>
</div>

@*<div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
            <div class="panel-heading bar-arkaplan"><h4>Program Çıktıları Genel Dönem Ortalaması</h4></div>
        </a>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">



            </div>
        </div>
    </div>
    <div id="divDonemOrtalama"></div>*@


@*<table id="tblDonemOrtalamasi" class="table table-bordered table-hover table-condensed" style="visibility: hidden">
        <thead>
            <tr></tr>
        </thead>
    </table>*@

<table id="tblZorunlu" class="table table-bordered table-hover table-condensed" style="visibility: hidden">
    <thead>
        <tr class="active" id="tblZorunluBaslik"></tr>
    </thead>
    <tbody id="tblZorunluDersListe"></tbody>
</table>

<table id="tblSecmeli" class="table table-bordered table-hover table-condensed" style="visibility: hidden">
    <thead>
        <tr class="active" id="tblSecmeliBaslik"></tr>
    </thead>
    <tbody id="tblSecmeliDersListe"></tbody>
</table>

<script>

    var grafikHazirla = function (json, target) {
        Morris.Bar({
            element: target,
            data: json,
            xkey: 'PCNo',
            ykeys: ['PCBasariYuzde'],
            labels: ['Başarı Yüzdesi'],
            resize: true
        });
    }

    var pcSayi = 0;
    $("#ddlProgramListesi").on("change", function () {
        $("#tblZorunluBaslik").html('');
        $("#tblSecmeliBaslik").html('');
        $.post("/Akreditasyon/GetirBirimPCListe", { birimID: $(this).val(), yil: '@Sabitler.Yil' })
         .success(function (json) {
             $("#tblZorunluBaslik").append('<th style="min-width: 350px;">Zorunlu Dersler</th>');
             $("#tblZorunluBaslik").append('<th class="text-center">AKTS</th>');
             $("#tblSecmeliBaslik").append('<th style="min-width: 350px;">Seçmeli Dersler</th>');
             $("#tblSecmeliBaslik").append('<th class="text-center">AKTS</th>');
             $.each(json, function (i, obj) {
                 pcSayi = json.length;
                 $("#tblZorunluBaslik").append('<th class="col-md-1 text-center"><span data-toggle="tooltip" data-title="' + obj.PCIcerik + '">PÇ ' + obj.PCNo + '</span></th>');
                 $("#tblSecmeliBaslik").append('<th class="col-md-1 text-center"><span data-toggle="tooltip" data-title="' + obj.PCIcerik + '">PÇ ' + obj.PCNo + '</span></th>');
             });
             $("#tblZorunluBaslik").append('<th class"col-md-1 text-center">Rapor</th>');
             $("#tblSecmeliBaslik").append('<th class"col-md-1 text-center">Rapor</th>');
         });
    });

    $("#ddlProgramListesi").on("change", function () {
        $("#tblZorunluBaslik").css("visibility", "hidden");
        $("#tblSecmeliBaslik").css("visibility", "hidden");
        $("#tblZorunluDersListe").html('');
        $("#tblSecmeliDersListe").html('');
    });

    $("#btnAra").click(function () {
        //var baslikEklendiMi = false;
        $("#tblZorunluBaslik").removeAttr("style");
        $("#tblSecmeliBaslik").removeAttr("style");
        $("#tblZorunluDersListe").html('');
        $("#tblSecmeliDersListe").html('');
        $.post("/Akreditasyon/GetirBirimDersListe", { birimID: $("#ddlProgramListesi").val(), yil: '@Sabitler.Yil', enumDonem: $("#ddlDonem").val() })
         .success(function (json) {
             @*if ($("#ddlBolumListesi").val() == "290") {
                 $("#tblZorunluDersListe").append('<tr><td>OLASILIK VE İSTATİSTİK</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><a class="btn btn-primary" style="text-decoration: none; margin-top: 5px;" data-title="Genel Program Çıktı Başarı Raporu" data-toggle="tooltip modal" data-source="/Akreditasyon/_pPCGenelRapor/65460?yil=' + @yil + '&donem=' + $("#ddlDonem").val() + '&birimID=' + $("#ddlProgramListesi").val() + "&dersAd=" + obj.DersAd + '" data-size="70" data-backdrop="false" data-keyboard="true" data-original-title="" title="">PÇ</a><a class="btn btn-info" style="text-decoration: none; margin-top: 5px;" data-title="Genel Öğrenme Çıktı Başarı Raporu" data-toggle="tooltip modal" data-source="/Akreditasyon/_pOCGenelRapor/65460?yil=' + @yil + '&donem=' + $("#ddlDonem").val() + '&birimID=' + $("#ddlProgramListesi").val() + '" data-width="10" data-backdrop="false" data-keyboard="true" data-original-title="" title="" data-size="70">ÖÇ</a></td></tr>');
             }*@

             $.each(json.ZorunluDersListe, function (i, obj) {
                 var satir = "";
                 satir += '<tr>';
                 satir += '<td class="active text-danger" data-dersplananaid="' + obj.ID + '">' + obj.DersAd + '</td>';
                 satir += '<td class="active text-center text-danger">' + obj.DersAKTS + '</td>';
                 $.each(obj.DersPCList, function (j, subObj) {
                     if (subObj.KatkiDuzey == null || subObj.KatkiDuzey == 0) {
                         subObj.KatkiDuzey = "";
                     }
                     satir += '<td class="text-center" data-pcno="' + subObj.PCNo + '">' + subObj.KatkiDuzey + '</td>';
                     //if (baslikEklendiMi == false) {
                     //    $("#tblZorunluBaslik").append("<th></th>");
                     //}
                 });

                 if (obj.DersPCList < 1) {
                     for (var i = 0; i < pcSayi; i++) {
                         satir += "<td></td>";
                     }
                 }

                 satir += '<td style="min-width: 150px;" class="text-center"><a class="btn btn-primary" style="text-decoration: none; margin-top: 5px;" data-title="Genel Program Çıktı Başarı Raporu" data-toggle="tooltip modal" data-source="/Akreditasyon/_pPCGenelRapor/' + obj.ID + '?yil=' + @yil + '&donem=' + $("#ddlDonem").val() + '&birimID=' + $("#ddlProgramListesi").val() + '" data-size="70" data-backdrop="false" data-keyboard="true" data-original-title="" title="">PÇ</a><a class="btn btn-info" style="text-decoration: none; margin-top: 5px;" data-title="Genel Öğrenme Çıktı Başarı Raporu" data-toggle="tooltip modal" data-source="/Akreditasyon/_pOCGenelRapor/' + obj.ID + '?yil=' + @yil + '&donem=' + $("#ddlDonem").val() + '&birimID=' + $("#ddlProgramListesi").val() + '" data-width="10" data-backdrop="false" data-keyboard="true" data-original-title="" title="" data-size="70">ÖÇ</a></td>';
                 satir += '</tr>';
                 $("#tblZorunluDersListe").append(satir);
                 //baslikEklendiMi = true;
             });

             $.each(json.SecmeliDersListe, function (i, obj) {
                 var satir = "";
                 satir += '<tr>';
                 satir += '<td class="active text-primary" data-dersplananaid="' + obj.ID + '">' + obj.DersAd + '</td>';
                 satir += '<td class="active text-center text-primary">' + obj.DersAKTS + '</td>';
                 $.each(obj.DersPCList, function (j, subObj) {
                     if (subObj.KatkiDuzey == null || subObj.KatkiDuzey == 0) {
                         subObj.KatkiDuzey = "";
                     }
                     satir += '<td class="text-center" data-pcno="' + subObj.PCNo + '">' + subObj.KatkiDuzey + '</td>';

                 });

                 if (obj.DersPCList < 1) {
                     for (var i = 0; i < pcSayi; i++) {
                         satir += "<td></td>";
                     }
                 }

                 satir += '<td style="min-width: 150px;" class="text-center"><a class="btn btn-primary" style="text-decoration: none; margin-top: 5px;" data-title="Genel Program Çıktı Başarı Raporu" data-toggle="tooltip modal" data-source="/Akreditasyon/_pPCGenelRapor/' + obj.ID + '?yil=' + @yil + '&donem=' + $("#ddlDonem").val() + '&birimID=' + $("#ddlProgramListesi").val() + '" data-size="70" data-backdrop="false" data-keyboard="true" data-original-title="" title="">PÇ</a><a class="btn btn-info" style="text-decoration: none; margin-top: 5px;" data-title="Genel Öğrenme Çıktı Başarı Raporu" data-toggle="tooltip modal" data-source="/Akreditasyon/OgrenmeCiktilari/_pOCGenelRapor/' + obj.ID + '?yil=' + @yil + '&donem=' + $("#ddlDonem").val() + '&birimID=' + $("#ddlProgramListesi").val() + '" data-width="10" data-backdrop="false" data-keyboard="true" data-original-title="" title="" data-size="70">ÖÇ</a></td>';
                 satir += '</tr>';
                 $("#tblSecmeliDersListe").append(satir);
             });
             $("#tblZorunlu").removeAttr("style");
             $("#tblSecmeli").removeAttr("style");
         });
        //$.post("/Akreditasyon/ProgramCiktilari/GetirPCDonemOrtalama", { birimID: $("#ddlProgramListesi").val(), enumDonem: $("#ddlDonem").val() })
        // .success(function (json) {
        //     console.log(json);


        //     grafikHazirla(json, 'divDonemOrtalama');

        // });
        //$("#divDonemOrtalama").load("/Akreditasyon/ProgramCiktilari/GetirPCDonemOrtalama?birimID=" + $("#ddlProgramListesi").val() + "&enumDonem=" + $("#ddlDonem").val());

    });
</script>

<style>
    .tooltip-inner {
        min-width: 200px;
        max-width: 100%;
    }
</style>