﻿@using Dil = DilWebClient.Cevir
@model List<Sabis.Bolum.Core.ABS.DERS.DERSDETAY.DuyuruVM>

@if (Model.Count > 0)
{
    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <th class="col-md-2">@Dil.Getir("tarih")</th>
                <th class="col-md-3">@Dil.Getir("baslik")</th>
                <th class="col-md-7">@Dil.Getir("mesaj")</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-md-2">@item.Tarih</td>
                    <td class="col-md-3"> @item.Konu</td>
                    <td class="col-md-7">@MvcHtmlString.Create((HttpUtility.HtmlDecode(item.Mesaj)))</td>
                </tr>
            }



        </tbody>
    </table>
}
else
{
        <span>Henüz yayınlanmış duyuru yok.</span>
}
