﻿@using Dil = DilWebClient.Cevir
@{
    ViewBag.Title = "Duyuru";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
    var koordinatorMu = Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.DersKoordinatoruMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            @*<li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class="fa fa-chevron-right"></i></li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                    }
                    - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                </a>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li>Duyuru</li>
        </ul>
    </div>
}
@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")

@*@Html.Action("_pGrupDersDetaylari", "Detay")*@

<script src="http://cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>

@Scripts.Render("~/bundles/jquery-fileupload")
@Styles.Render("~/bundles/jquery-fileupload-styles")

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">
        @Dil.Getir("yeni_duyuru_yayinla")
    </div>
    <div class="panel-body collapse in">
        <form id="duyuruEkle" action="" class="form-horizontal row-border">
            <div class="form-group">
                <label class="col-sm-3 control-label">@Dil.Getir("duyuru_basligi")</label>
                <div class="col-sm-6">
                    <input id="msgbaslik" name="msghead" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-6">
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" id="chkTumGruplaraGonder" style="width: 15px; height: 15px;"> @Dil.Getir("ders_gruplarima_donder")
                        <span></span>
                    </label>
                </div>
            </div>
            @if (koordinatorMu)
            {
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" id="chkTumDersGruplaraGonder" style="width: 15px; height: 15px;"> @Dil.Getir("tum_ders_gruplarina_gonder")
                            <span></span>
                        </label>
                        <span id="uyari1" style="display: none; color: red;">Dikkat: duyuru diğer öğretim elemanlarının ders gruplarına da gönderilecektir.</span>
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="col-sm-3 control-label">@Dil.Getir("duyuru_metni")</label>
                <div class="col-sm-6">
                    <textarea id="msg" name="msg" cols="80" rows="20" class="ckeditor"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">@Dil.Getir("duyuru_eki")</label>
                <div class="col-sm-6">
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>@Dil.Getir("dosya_seciniz")...</span>
                        <input id="fileupload" type="file" name="files[]" multiple>
                    </span>
                    <span id="dosyaSayisi" style="display: none;"></span>
                    <div id="progress" class="progress" style="display: none;">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    @*<div id="dosyaBilgi">
                        <ul>
                            <li>Seçilen dosyalar indirme adresi ile öğrencilere gönderilecektir.</li>
                            <li>Yalnızca 1 adet dosya gönderilebilir</li>
                            <li>Birden fazla dosya seçildiğinde son seçilen dosya gönderilecektir.</li>
                        </ul>
                    </div>*@
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-6">
                    <ul>
                        <li>Seçilen dosya indirme adresi ile öğrencilere gönderilecektir.</li>
                        <li>Yalnızca 1 adet en fazla 5 mb boyutunda dosya gönderilebilir</li>
                        <li>Birden fazla dosya seçildiğinde son seçilen dosya gönderilecektir.</li>
                    </ul>
                </div>

            </div>
        </form>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6 pull-right">
                    <div class="btn-toolbar pull-right">
                        <button id="btnDuyuruKaydet" type="button" class="btn-success btn">@Dil.Getir("gonder")</button>
                        <button id="btnReset" class="btn-inverse btn">@Dil.Getir("temizle")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"> </div>

<div class="alert alert-danger">
    @Dil.Getir("duyuru_bilgi")
</div>

<div class="row">
    <div class="col-md-12">
        <div style="margin-top:15px;" class="panel panel-green">
            <div class="panel-heading bar-arkaplan">
                @Dil.Getir("yayinlanan_duyurular")
                <div class="options"></div>
            </div>
            <div class="panel-body">
                @Html.Action("_pDuyuruListesi", "Duyuru", new { id = dersDetay.DersGrupHocaID })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    @*$("body").on("keyup", function() {
        blockStatus = true;
        $.post("/Ders/Duyuru/_pDuyuruOnizle/", { id: '@DersGrupHocaID', baslik: $('#msgbaslik').val(), duyuru: CKEDITOR.instances['msg'].getData() })
         .success(function(json) {
             $("#duyuruOnizle").html(json.Mesaj);  
             console.log(json);
         });
    });*@

    $(document).ready(function() {
        var dosyaSayisi = 1;
        'use strict';
        $('#fileupload').fileupload({
                maxNumberOfFiles: 5,
                url: '/Ders/Duyuru/DosyaEkle',
                dataType: 'json',
                formData: {DersGrupHocaID: '@dersDetay.DersGrupHocaID'},
                done: function (e, data) {
                    console.log(data);
                    toastr.success("Seçilen dosya yüklendi.")
                    //$("#dListe").load(url);
                    //$("#dosyaBilgi").html("Seçilen dosya yüklendi");
                    //$("#dosyaSayisi").show().html(dosyaSayisi + " adet dosya yüklendi");
                    dosyaSayisi++;
                    $("#progress").hide();
                },
                progressall: function (e, data) {
                    $("#progress").show();
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css('width', progress + '%');
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });

    $(document).ready(function () {
        CKEDITOR.replace('msg',
        {
       //uiColor: '#9AB8F3',
       toolbar:
      [
          { name: 'document', items: ['-', 'Save', 'NewPage', 'DocProps', 'Preview', 'Print', '-', 'Templates'] },
          { name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
          { name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll', '-', 'SpellChecker', 'Scayt'] },
          {
              name: 'forms', items: ['Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton',
                'HiddenField']
          },
          '/',
          { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'] },
          {
              name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv',
              '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl']
          },
          { name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
          { name: 'insert', items: ['Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe'] },
          '/',
          { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] },
          { name: 'colors', items: ['TextColor', 'BGColor'] },
          { name: 'tools', items: ['Maximize', 'ShowBlocks', '-', 'About'] }
        ],

       removePlugins: 'elementspath',
       fillEmptyBlocks: false

        });

        $("#btnDuyuruKaydet").click(function () {
            var ckmessage = CKEDITOR.instances['msg'].getData();
            //console.log(ckmessage);
            var data = { msghead: $('#msgbaslik').val(), message: ckmessage, id: @dersDetay.DersGrupHocaID, tumGruplaraGonderilsinMi: $("#chkTumGruplaraGonder").is(":checked"), tumDersGruplarinaGonderilsinMi: $("#chkTumDersGruplaraGonder").is(":checked") };
            var gonder = $.post('@Url.Action("DuyuruKaydet")', data);
            gonder.success(function () {
                window.location.href = "?Uyari=1";
            });
        });

        var deger = queryString('Uyari');
        if (deger != null && deger != "") {
            if (deger == 1) {
                toastr.success("@Dil.Getir("duyuru_eklendi")");
            }
        }
    });


    $("#btnReset").click(function(){
        CKReset();
    });

    function CKReset() {
        $('#msgbaslik').prop("value", "");
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
        CKEDITOR.instances[instance].setData('');
    }


    $("#chkTumDersGruplaraGonder").on("click", function() {
        if ($(this).is(":checked")) {
            $("#uyari1").show();
        }
        else {
            $("#uyari1").hide();
        }
    });
</script>