﻿@model List<Sabis.Bolum.Core.dto.Yoklama.YoklamaListeVM>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
    @foreach (var item in Model)
    {
        <table border="1" width="100%" style="border-collapse:collapse;">
            <tr>
                <td rowspan="5" style="width:15%" align="center">
                    <img src="http://abs.sakarya.edu.tr/Content/dikeylogo.png" style="width:100px; height:140px;" />
                </td>
                <td class="bilgi" style="width:70%">
                    @item.DersDetay.FakulteAd
                </td>
                <td style="width:15%" rowspan="5" align="center">
                    <img id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=@item.qrCode" alt="" title="qrcode" width="80" height="80" />
                </td>
            </tr>
            <tr>
                <td class="bilgi" style="width:70%">@item.DersDetay.BolumAd  - @item.DersDetay.EnumOgretimTur .Ogretim</td>
            </tr>
            <tr>
                <td class="bilgi" style="width:70%">@item.DersDetay.DersAd (@item.DersDetay.GrupAd) @item.DersDetay.BolumKod @item.DersDetay.DersKod / @item.DersDetay.Yil - @(@item.DersDetay.Yil + 1) @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumDonem)@item.DersDetay.Donem)</td>
            </tr>
            <tr>
                <td class="bilgi" style="width:70%">@item.DersDetay.PersonelID</td>
            </tr>
            <tr>
                <td class="bilgi" style="width:70%">@item.Tarih (@item.Sure Ders Saati)</td>
            </tr>
        </table>
        <br />
        <br />
        <table border="1" width="100%" style="border-collapse:collapse;">
            <thead>
                <tr class="ogrencialanbaslik">
                    <td style="width:10%">Numara</td>
                    <td style="width:15%">Ad Soyad</td>
                    <td style="width:8%"></td>
                    <td style="width:10%">Numara</td>
                    <td style="width:15%">Ad Soyad</td>
                    <td style="width:8%"></td>
                    <td style="width:10%">Numara</td>
                    <td style="width:15%">Ad Soyad</td>
                    <td style="width:8%"></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item2 in item.OgrenciListe)
                {
                    <tr>
                        <td class="ogrencialan" style="width:10%">@item2.Numara</td>
                        <td class="ogrencialan" style="width:15%">@item2.Ad @item2.Soyad</td>
                        <td class="ogrencialan" style="width:8%"></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class='page-break'></div>
    }
    <style>
        .page-break	{ display: block; page-break-before: always; }
        .bilgi {
            padding: 5px;
            /*font: 13px arial, sans-serif;*/
            font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
            font-size: 14px;
        }

        .ogrencialanbaslik {
            font: 13px arial, sans-serif;
            padding: 2px;
        }

        .ogrencialan {
            font: 13px arial, sans-serif;
            padding: 2px;
        }

        tr.ogrencialanbaslik td {
            font: 13px arial, sans-serif;
            padding: 2px;
        }
    </style>
</body>
</html>
