﻿@model Sabis.Bolum.Core.dto.Yoklama.YoklamaListeVM
@{
    Layout = null;
}
<html>
<head>

</head>
<body>
    <table id="page" border="1" width="100%" style="border-collapse:collapse;">
        <tr>
            <td rowspan="5" style="width:15%" align="center">
                <img src="http://abs.sakarya.edu.tr/Content/dikeylogo.png" style="width:100px; height:140px;" />
            </td>
            <td class="bilgi" style="width:70%">
                @Model.DersDetay.FakulteAd
            </td>
            <td style="width:15%" rowspan="5" align="center">
                <img id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=@Model.qrCode" alt="" title="qrcode" width="80" height="80" />
            </td>
        </tr>
        <tr>
            <td class="bilgi" style="width:70%">@Model.DersDetay.BolumAd  - @Model.DersDetay.EnumOgretimTur .Ogretim</td>
        </tr>
        <tr>
            <td class="bilgi" style="width:70%">@Model.DersDetay.DersAd (@Model.DersDetay.GrupAd) @Model.DersDetay.BolumKod @Model.DersDetay.DersKod / @Model.DersDetay.Yil - @(Model.DersDetay.Yil + 1) @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumDonem)Model.DersDetay.Donem)</td>
        </tr>
        <tr>
            <td class="bilgi" style="width:70%">@Model.DersDetay.PersonelID</td>
        </tr>
        <tr>
            <td class="bilgi" style="width:70%">@Model.Tarih (@Model.Sure Ders Saati)</td>
        </tr>
    </table>
    <br />
    <br />
    <table id="ogrliste" border="1" width="100%" style="border-collapse:collapse;">
        <thead>
            <tr class="ogrencialanbaslik">
                <td style="width:10%">Numara</td>
                <td style="width:15%">Ad Soyad</td>
                <td style="width:8%"></td>
                <td style="width:10%">Numara</td>
                <td style="width:15%">Ad Soyad</td>
                <td style="width:8%"></td>
                <td style="width:10%">Numara</td>
                <td style="width:15%">Ad Soyad</td>
                <td style="width:8%"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OgrenciListe)
            {
                <tr>
                    <td class="ogrencialan" style="width:10%">@item.Numara</td>
                    <td class="ogrencialan" style="width:15%">@item.Ad @item.Soyad</td>
                    <td class="ogrencialan" style="width:8%"></td>
                </tr>
            }
        </tbody>
    </table>
    <style>
        .bilgi {
            padding: 5px;
            /*font: 13px arial, sans-serif;*/
            font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
            font-size: 14px;
        }

        .ogrencialanbaslik {
            font: 13px arial, sans-serif;
            padding: 2px;
        }

        .ogrencialan {
            font: 13px arial, sans-serif;
            padding: 2px;
        }
        tr.ogrencialanbaslik td 
        {
            font: 13px arial, sans-serif;
            padding: 2px;
        }
    </style>
</body>
</html>
