﻿@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL
@{
    ViewBag.Title = "Index";
    Layout = null;

    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);

    int FKPaylarID = Convert.ToInt32(Request.QueryString["P"]);
    var payBilgi = PAYMAIN.GetirPayBilgi(FKPaylarID);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
    int FKKoordinatorID = Sabitler.KullaniciID;
    bool koordinatorMu = GENELMAIN.KoordinatorMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);

    string soruUrl = "/Ders/Odev/_pGetirOdev/" + dersGrupHocaID + "?P=" + FKPaylarID;

    var sinavSorulari = SINAVMAIN.GetirPaySinavSoruListesi(dersGrupHocaID, FKPaylarID, Sabitler.Yil, Sabitler.Donem, 1);

    var degerlendirmeKoordinatorluguVarMi = GENELMAIN.DegerlendirmeGrupKoordinatorluguVarMi(dersDetay.DersPlanAnaID, Sabitler.KullaniciID, Sabitler.Yil, Sabitler.Donem);
    bool degerlendirmeKoordinatoruMu = GENELMAIN.DegerlendirmeKoordinatoruMu(dersGrupHocaID, Sabitler.KullaniciID, Sabitler.Yil, Sabitler.Donem);

    var sinavad = payBilgi.Sira + ". " + Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)Convert.ToInt32(payBilgi.EnumCalismaTip));

    bool degerlendirmeGruplariOlusuturulmusMu = GENELMAIN.DegerlendirmeGruplariOlusturulmusMu(dersGrupHocaID);
}

<link href="~/Content/assets/global/plugins/jquery-multiselect/jquery.multiselect.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-multiselect/jquery.multiselect.min.js"></script>

@if (koordinatorMu)
{
    <div class="col-md-12" style="padding-left: 0 !important;">
        <div class="col-md-5" style="padding-left: 0 !important;" id="divOdevIslem">
            <div class="col-md-12" style="padding-left: 0 !important;">
                <label class="mt-radio form-control pull-left" style="width: 100% !important;">
                    <input id="rdGrupOdevi" type="radio" value="3" name="odevTur">
                    <span></span>Grup Ödevi
                </label>
            </div>
            <div class="col-md-12" style="padding-left: 0 !important;">
                <label class="mt-radio form-control pull-right" style="width: 100% !important;">
                    <input id="rdGenelOdev" type="radio" value="6" name="odevTur" checked="checked">
                    <span></span>Genel Ödev (bu dersin tüm grupları için geçerlidir)
                </label>
            </div>
            <div class="col-md-12" style="padding-left: 0 !important;">
                <button id="btnOdevOlustur" class="btn btn-success">Oluştur</button>
            </div>
        </div>

        <div class="col-md-5 alert alert-info" id="divOdevBaslik" style="margin-bottom: 10px; display: none;"></div>
        <div class="col-md-7"></div>
    </div>

    <button id="btnOdevSil" class="btn btn-danger" style="display: none;">ÖDEV SİL</button>
    <a href="/Ders/Odev/Guncelle/@dersGrupHocaID?P=@FKPaylarID" id="btnOdevDetaylari" class="btn btn-success" style="display: none;">ÖDEV DETAYLARI</a>
}
else
{
    <h3>Bu sayfadaki bilgileri dersin koordinatörü değiştirebilir.</h3>
}

<script src="~/Scripts/Areas/Ders/Odev/Duzenle.js?version=1"></script>

@*<h3 style="color: red;" class="pull-right">Bu sayfadaki program ve öğrenme çıktıları dersin tüm gruplarında ortaktır.</h3>

<div id="soruListe" style="margin-top: 20px;"></div>*@

<script>
    @*var bilgiler = { FKPaylarID: '@FKPaylarID', soruURL: '@soruUrl', soruSayisi: soruSayisi, FKKoordinatorID: '@FKKoordinatorID' };
    bilgiler.soruURL = bilgiler.soruURL.replace(/&amp;/g, '&');*@

    var FKPaylarID = '@FKPaylarID';
    var soruURL = '@soruUrl';
    soruURL = soruURL.replace(/&amp;/g, '&');
    var soruSayisi = soruSayisi;
    var FKKoordinatorID = '@FKKoordinatorID';
    var FKDersGrupID = '@dersDetay.DersGrupID';
    var dersGrupHocaID = '@dersGrupHocaID';
    var sinavad = '@sinavad';
    var odevVarmi = false;
    var fkPersonelID = '@Sabitler.KullaniciID';
    var kullaniciAdi = '@Sabitler.KullaniciAdi';
    var ipAdresi = '@Sabitler.IPAdresi';
    var tarih = '@DateTime.Now';
</script>

<script>
    function yenile() {
        $("#soruListe").load("/Ders/Odev/_pGetirOdev/@dersGrupHocaID?P=@FKPaylarID");
    }

    $(document).ready(function () {
        $("#soruListe").load("/Ders/Odev/_pGetirOdev/@dersGrupHocaID?P=@FKPaylarID");
    });
</script>

<script src="~/Scripts/Areas/Ders/Odev/_pDuzenle.js?version=4"></script>