﻿@model Sabis.Bolum.Core.ABS.DERS.ODEV.OdevVM
@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL

@{
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    int FKPaylarID = Convert.ToInt32(Request.QueryString["P"]);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
    var degerlendirmeKoordinatorluguVarMi = GENELMAIN.DegerlendirmeGrupKoordinatorluguVarMi(dersDetay.DersPlanAnaID, Sabitler.KullaniciID, Sabitler.Yil, Sabitler.Donem);
    var degerlendirmeKoordinatoruMu = GENELMAIN.DegerlendirmeGrupKoordinatorluguVarMi(dersDetay.DersPlanAnaID, Sabitler.KullaniciID, Sabitler.Yil, Sabitler.Donem);
    bool koordinatorMu = GENELMAIN.KoordinatorMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);


    string pCikti = koordinatorMu ? "pCiktiSil" : "";
    string oCikti = koordinatorMu ? "oCiktiSil" : "";


    List<Sabis.Bolum.Core.EBS.BIRIM.BolumProgramCiktilariVM> pcListe = new List<Sabis.Bolum.Core.EBS.BIRIM.BolumProgramCiktilariVM>();

    if (dersDetay.ProgramID.HasValue)
    {
        pcListe = Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.BOLUMMAIN.GetirBolumProgramCiktilari(dersDetay.ProgramID.Value, Sabitler.Yil, 1);
    }

    var ocListe = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersOgrenmeCiktilari(dersDetay.DersPlanAnaID, Sabitler.Yil, 1);
}

@if (Model.ABSPaylarOlcme != null)
{
    <div class="col-md-12" style="padding:0 !important">

        @if (Model.ABSPaylarOlcme != null && Model.ABSPaylarOlcme.Count > 0)
        {
            <script>
                $("#btnOdevOlustur").hide();
                $("#divOdevIslem").hide();
                if ('@Model.GenelOdevMi.ToString().ToLower()' == "true") {
                    $("#divOdevBaslik").text("Genel Ödev (bu dersin tüm grupları için geçerlidir)");
                }
                else {
                    $("#divOdevBaslik").text("Grup Ödevi");
                }
                $("#divOdevBaslik").show();
                $("#btnOdevSil").show();
            </script>


            if (Model.FKPersonelID != Sabitler.KullaniciID)
            {
                <script>
                    $("#btnOdevSil").remove();
                    $("#btnOdevOlustur").remove();
                </script>
            }

            <table class="table table-bordered table-striped" style="margin-top: 20px;">
                <thead>
                    <tr class="info">
                        <th class="col-md-1 text-center">Sıra</th>
                        <th class="col-md-1 text-center">Puan</th>
                        @if (koordinatorMu)
                        {
                            <th class="col-md-1 text-center">Sil</th>
                        }

                        <th class="col-md-4 hidden-sm hidden-xs">Program Çıktıları</th>
                        @if (koordinatorMu)
                        {
                            <th class="col-md-3">Program Çıktıları Seçimi</th>
                        }
                        <th class="col-md-3 hidden-sm hidden-xs">Öğrenme Çıktıları</th>
                        @if (koordinatorMu)
                        {
                            <th class="col-md-3">Öğrenme Çıktıları Seçimi</th>
                        }
                        @*<th class="col-md-2">İşlem</th>*@

                    </tr>
                </thead>
                <tbody id="tblSorular">
                    @foreach (var item in Model.ABSPaylarOlcme)
                    {
                        <tr data-kayit="true" data-id="@item.ID">
                            <td class="col-md-1 text-center">
                                @if (item.EnumSinavTuru == (int)Sabis.Bolum.Core.ENUM.ABS.EnumSinavTuru.KARMA && item.EnumSoruTipi.HasValue)
                                {
                                    @Sabis.Enum.Utils.GetEnumDescription((Sabis.Bolum.Core.ENUM.ABS.EnumSoruTipi)item.EnumSoruTipi).Substring(0, 1)
                                }
                                @item.SoruNo
                            </td>
                            <td class="col-md-1 text-center">
                                @if (koordinatorMu)
                                {
                                    <input data-soruid="@item.ID" class="txtSoruPuan" type="text" value="@item.SoruPuan" />
                                }
                                else
                                {
                                    <input data-soruid="@item.ID" class="" type="text" value="@item.SoruPuan" disabled />
                                }
                            </td>
                            @if (koordinatorMu)
                            {
                                <td class="col-md-1 text-center">
                                    @if (item.SoruNo != 1)
                                    {
                                        <button data-soruid="@item.ID" class="btn btn-danger btnOdevSoruSil">Sil</button>
                                    }
                                </td>
                            }
                            
                            <td class="col-md-2 hidden-sm hidden-xs">
                                @if (item.ProgramCiktilari != null)
                                {
                                    <ol class="prgCikti">
                                        @if (koordinatorMu)
                                        {
                                            foreach (var item3 in item.ProgramCiktilari)
                                            {
                                                <span data-id="@item3.ID" data-pciktiid="@item3.FKProgramCiktiID" data-pid="@item.ID" class="@pCikti badge" data-toggle="tooltip" title="@item3.Icerik">PÇ-@item3.Sira <span class="silButon" style="font-size: 14px;" title="Silmek için üzerine tıklayın">x</span></span>
                                            }
                                        }
                                        else
                                        {
                                            foreach (var item3 in item.ProgramCiktilari)
                                            {
                                                <span class="badge" data-toggle="tooltip" title="@item3.Icerik">PÇ-@item3.Sira</span>
                                            }
                                        }
                                    </ol>
                                }
                            </td>

                            @if (koordinatorMu)
                            {
                                <td class="col-md-3">
                                    <p>
                                        <select data-fkpaylarolcmeid="@item.ID" class="selectPcikti" name="example-optgroup" multiple="multiple" size="5" style="width:150px; max-width:150px; z-index:20000;">
                                            <optgroup class="optProgramCiktilari" label="Program Çıktıları">
                                                @foreach (var sItem in pcListe)
                                                {
                                                    if (item.ProgramCiktilari.Any(y => y.FKProgramCiktiID == sItem.ID))
                                                    {
                                                        <option value="@sItem.ID" selected disabled>@sItem.YetID @sItem.Icerik</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@sItem.ID">@sItem.YetID @sItem.Icerik</option>
                                                    }
                                                }
                                            </optgroup>
                                        </select>
                                    </p>
                                </td>
                            }
                            <td class="col-md-2 hidden-sm hidden-xs">
                                @if (item.OgrenmeCiktilari != null)
                                {
                                    <ol class="ogrCikti">
                                        @if (koordinatorMu)
                                        {
                                            foreach (var item3 in item.OgrenmeCiktilari)
                                            {
                                                <span data-id="@item3.ID" data-ociktiid="@item3.FKOgrenmeCiktiID" data-oid="@item.ID" class="@oCikti badge" data-container="body" data-toggle="tooltip" title="@item3.Icerik" data-trigger="hover" data-content="@item3.Icerik">ÖÇ-@item3.Sira <span class="silButon" style="font-size: 14px;" title="Silmek için üzerine tıklayın">x</span></span>
                                            }
                                        }
                                        else
                                        {
                                            foreach (var item3 in item.OgrenmeCiktilari)
                                            {
                                                <span class="badge" data-toggle="tooltip" title="@item3.Icerik">ÖÇ-@item3.Sira</span>
                                            }
                                        }
                                    </ol>
                                }
                            </td>
                            @if (koordinatorMu)
                            {
                                <td class="col-md-3">
                                    <p>
                                        <select data-fkpaylarolcmeid="@item.ID" class="selectOcikti" name="example-optgroup" multiple="multiple" size="5" style="width: 150px; max-width: 150px; z-index: 20000;">
                                            <optgroup class="optOgrenmeCiktilari" label="Öğrenme Çıktıları">
                                                @foreach (var sItem in ocListe)
                                                {
                                                    if (item.OgrenmeCiktilari.Any(y => y.FKOgrenmeCiktiID == sItem.ID))
                                                    {
                                                        <option value="@sItem.ID" selected disabled>@sItem.CiktiNo @sItem.Icerik</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@sItem.ID">@sItem.CiktiNo @sItem.Icerik</option>
                                                    }
                                                }
                                            </optgroup>
                                        </select>
                                    </p>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

                if (koordinatorMu)
                {
                    <button id="btnYeniSoruEkle" class="btn btn-success">Yeni Soru</button>
                }
        }
    </div>
}

<script>
    var odevID = '@Model.ID';
    var fkPaylarID = '@FKPaylarID';
    var kullaniciID = '@Sabitler.KullaniciID';
    var dersGrupID = '@dersDetay.DersGrupID';
    var kullaniciAdi = '@Sabitler.KullaniciAdi';
    var iPAdresi = '@Sabitler.IPAdresi';

    function yenile() {
        $("#soruListe").load("/Ders/Odev/_pGetirOdev/@dersGrupHocaID?P=@FKPaylarID");
    }

</script>

<script src="~/Scripts/Areas/Ders/Odev/_pGetirOdev.js?version=8"></script>

<style>
    input {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid silver;
        width: 35px;
        padding: 3px;
        text-align: center;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        z-index: 20000 !important;
    }
</style>