﻿@model Sabis.Bolum.Core.ABS.DERS.ODEV.OdevVM
@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL
@{
    ViewBag.Title = "";
    Layout = null;

    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    int FKPaylarID = Convert.ToInt32(Request.QueryString["P"]);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
    var degerlendirmeKoordinatorluguVarMi = GENELMAIN.DegerlendirmeGrupKoordinatorluguVarMi(dersDetay.DersPlanAnaID, Sabitler.KullaniciID, Sabitler.Yil, Sabitler.Donem);
    var degerlendirmeKoordinatoruMu = GENELMAIN.DegerlendirmeGrupKoordinatorluguVarMi(dersDetay.DersPlanAnaID, Sabitler.KullaniciID, Sabitler.Yil, Sabitler.Donem);
    bool koordinatorMu = GENELMAIN.KoordinatorMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);
    bool goster = !Model.GenelOdevMi || (Model.GenelOdevMi && koordinatorMu);
}

@Scripts.Render("~/bundles/jquery-fileupload")
@Styles.Render("~/bundles/jquery-fileupload-styles")

<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

@if (Model.GenelOdevMi && !koordinatorMu)
{
    <div class="alert alert-dismissable alert-danger">
        Ortak ödev bilgilerini sadece dersin koordinatörü değiştirebilir.
    </div>
}


@if (Model.DersGrupListesi != null)
{

    <div id="divUyari" class="alert alert-dismissable alert-danger">
        <strong>BİLGİ!</strong> ".zip" ve ".rar" uzantılı dosyalar 7-zip yazılımı kullanılarak sorunsuz bir şekilde açılabilmektedir. Yükleme adresi <a href="http://www.7-zip.org/" target="_blank">www.7-zip.org</a>
    </div>

    <div class="col-md-12" style="padding: 0 !important; margin-bottom: 30px;">
        <div class="col-md-6" style="padding-left: 0 !important;">
            <div class="panel panel-primary">
                <div class="panel-heading">Ödev Bilgileri</div>
                <div class="panel-body">
                    <table class="table table-bordered col-md-6">
                        <tbody>
                            <tr>
                                <td>Başlık</td>
                                <td>@Model.Ad</td>
                            </tr>
                            <tr>
                                <td>Açıklama</td>
                                <td><input id="txtAciklama" type="text" class="form-control" value="@Model.Aciklama" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <label class="mt-radio form-control pull-left" style="width: 100% !important;">
                                        <input id="rdKlasikOdev" type="radio" value="3" name="odevTur" @Model.OnlineOdevMi.ToString().ToLower().Replace("true", "").Replace("false", "checked")>
                                        <span></span>Klasik Ödev (öğrenciler ödevi elden teslim edecektir)
                                    </label>
                                    <label class="mt-radio form-control pull-left" style="width: 100% !important;">
                                        <input id="rdOnlineOdev" type="radio" value="3" name="odevTur" @Model.OnlineOdevMi.ToString().ToLower().Replace("true", "checked").Replace("false", "")>
                                        <span></span>Online Ödev (öğrenciler ödevi sistem üzerinden teslim edecektir)
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>Başlangıç</td>
                                <td>
                                    <input id="txtOdevBaslangicTarihi" type="text" class="form-control tarihBaslangic" value="@Model.Baslangic" />
                                </td>
                            </tr>
                            <tr>
                                <td>Bitiş</td>
                                <td>
                                    <input id="txtOdevBitisTarihi" type="text" class="form-control tarihBitis" value="@Model.Bitis" />
                                </td>
                            </tr>
                            @*@if (!Model.GenelOdevMi)
                                {
                                    <tr>
                                        <td>Ortak Ödev</td>
                                        <td>
                                            <input id="cbTumGruplarimaEkle" @Model.OrtakOdevMi.ToString().ToLower().Replace("true", "checked").Replace("false", "") class="form-control" /> Diğer Ders Gruplarıma Ekle
                                        </td>
                                    </tr>
                                }*@
                            <tr>
                                <td>Ödev Dokümanı</td>
                                <td>
                                    @if (goster)
                                    {
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Dosya seçiniz...</span>
                                            <input id="fileuploadOdevDokuman" type="file" name="files[]" multiple>
                                        </span>

                                        <div id="progress" class="progress" style="display: none;">
                                            <div class="progress-bar progress-bar-success"></div>
                                        </div>
                                    }

                                    @if (Model.OdevDosyaKey != null)
                                    {
                                        <a href="@SDFSClient.FileClient.GetUrl(Model.OdevDosyaKey)">Ödev Dokümanını İndir</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @if (goster)
                                    {
                                        <button id="btnOdevKaydet" class="btn btn-uccess">Kaydet</button>
                                    }
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-right: 0 !important;">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    Yükleme Yapan Öğrenci Listesi

                    <a href="/Ders/Odev/TopluIndir/@dersGrupHocaID?P=@FKPaylarID" class="btn dark btn-xs pull-right" target="_blank">Tümünü İndir</a>

                </div>
                <div class="panel-body">
                    <table id="tblOdevListesi" class="display">
                        <thead style="table-layout: fixed;">
                            @*<tr>
                                <th style="float: left; width: 20%">Numara</th>
                                <th style="float: left; width: 20%">Ad Soyad</th>
                                <th style="float: left; width: 20%">Yükleme Tarihi</th>
                                <th style="float: left; width: 20%">Ödev Dosyası</th>
                                <th style="float: left; width: 20%">Yükleme Hakkı</th>
                            </tr>*@
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ogrenci in Model.OdevOgrenciListesi)
                            {
                                <tr>
                                    <td>@ogrenci.OgrenciNumara</td>
                                    <td>@ogrenci.OgrenciAdSoyad</td>
                                    <td>@ogrenci.YuklemeTarihi</td>
                                    <td class="text-center"><a data-dosyaadi="@ogrenci.DosyaAdi" href="@SDFSClient.FileClient.GetUrl(ogrenci.DosyaKey)" class="odevLink">Ödevi İndir</a></td>
                                    <td><button data-odevdosyaid="@ogrenci.ID" class="btn btn-xs default btnYuklemeHakkiVer">Yükleme Hakkı Ver</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
}
else
{
    <h3>Ödev bilgilerinin girilebilmesi için ders koordinatörünün ödev oluşturması gerekmektedir.</h3>
}

@if (!koordinatorMu && Model.GenelOdevMi)
{
    <script>
        $("input").prop("disabled", true);
    </script>
}

@*<style>
    .dataTables_scroll {
        overflow: hidden;
    }
</style>*@

@*<style>
    #tblOdevListesi {
        float: left;
        width: 100%;
        text-align: center;
    }
</style>*@

<script>
    $(document).ready(function () {
        $('#tblOdevListesi').DataTable({
            "scrollY": 380,
            //"scrollCollapse": true,
            //"scrollX": true,
            "paging": false,
            "ordering": false,
            "searching": false,
            //"autoWidth": false
            "info": false
        });
        //$('#tblOdevListesi thead tr th').removeAttr("style");
    });

    $(".btnYuklemeHakkiVer").on("click", function () {
        $btn = $(this);
        var result = prompt("Öğrenciye yeni yükleme hakkı verilecektir. Onaylıyor musunuz? (Aşağıdaki kutuya yazacağınız açıklama öğrenciye gönderilecektir)");
        if (result != null) {
            $.post("/Ders/Odev/YuklemeHakkiVer", { odevDosyaID: $btn.attr("data-odevdosyaid"), fkDersGrupHocaID: dersGrupHocaID, aciklama: result})
                .done(function (result) {
                    if (result) {
                        toastr.success("Yükleme hakkı verildi.");
                        $btn.parent().parent().remove();
                    }
                    else {
                        toastr.error("Hata oluştu.");
                    }
                });
        }

        //if (confirm("Öğrenciye yeni yükleme hakkı verilecektir. Onaylıyor musunuz?")) {
        //    $.post("/Ders/Odev/YuklemeHakkiVer", { odevDosyaID: $btn.attr("data-odevdosyaid") })
        //        .done(function (result) {
        //            if (result) {
        //                toastr.success("Yükleme hakkı verildi.");
        //                $btn.parent().parent().remove();
        //            }
        //            else {
        //                toastr.error("Hata oluştu.");
        //            }
        //        });
        //}
    });
</script>

<script>
    fkPaylarID = '@FKPaylarID';
    kullaniciID = '@Sabitler.KullaniciID';
    dersGrupID = '@dersDetay.DersGrupID';
    kullaniciAdi = '@Sabitler.KullaniciAdi';
    iPAdresi = '@Sabitler.IPAdresi';
</script>

<script>
    dosyaKey = null;
    dosyaBoyutu = null;
    dosyaTuru = null;

    $(document).ready(function () {
        blockStatus = true;
        $.datetimepicker.setLocale('tr');
        $('.tarihBaslangic').datetimepicker({
            timepicker: false,
            step: 10,
            format: 'd.m.Y H:i',
            minTime: '00:01',
            maxTime: '00:01',
            defaultTime: '00:01',
            scrollInput: false,
        });
        $('.tarihBitis').datetimepicker({
            timepicker: false,
            step: 10,
            format: 'd.m.Y H:i',
            minTime: '23:59',
            maxTime: '23:59',
            defaultTime: '23:59',
            scrollInput: false,
        });
    });


    $("#btnOdevKaydet").on("click", function () {
        var data = {
            Baslangic: $("#txtOdevBaslangicTarihi").val(),
            Bitis: $("#txtOdevBitisTarihi").val(),
            FKAbsPaylarID: fkPaylarID,
            Aciklama: $("#txtAciklama").val(),
            FKPersonelID: kullaniciID,
            FKDersGrupID: dersGrupID,
            //EnumSinavTuru: $("input[name=sinavTur]:checked").val(),
            //MaxYuklemeSayisi: $("#ddlYuklemeHakki").val(),
            OdevDosyakey: dosyaKey,
            OdevDosyaBoyut: dosyaBoyutu,
            OdevDosyaTuru: dosyaTuru,
            Yayinlandi: true,//$("#cbYayinlandi").is(":checked"),
            //SGTarih: '@DateTime.Now',
            SGKullanici: kullaniciAdi,
            SGIP: iPAdresi,
            OnlineOdevMi: $("#rdOnlineOdev").is(":checked"),
            Silindi: false,
            //TumGruplaraEklensinMi: $("input[name=tumGruplaraEklensinMi]:checked").val()
        };

        if (data.OnlineOdevMi == false) {
            data.MaxYuklemeSayisi = 0;
        }

        $.post("/Ders/Odev/OdevGuncelle", { odev: data })
         .done(function (json) {
             if (json) {
                 toastr.success("Bilgiler güncellendi");
                 //yenile();
                 window.location.reload();
             }
             else {
                 toastr.error("Hata oluştu");
             }
         });
    });

    $("#rdKlasikOdev").on("click", function () {
        $.post("/Ders/Odev/OdevTuruDegistir", { fkAbsPaylarID: '@FKPaylarID', fkDersGrupID: '@dersDetay.DersGrupID', EnumSinavTuru: 3 })
         .done(function (json) {
             if (json) {
                 toastr.success("Ödev türü değiştirildi");
             }
             else {
                 toastr.error("Hata oluştu");
             }
         });
    });

    $("#rdOnlineOdev").on("click", function () {
        $.post("/Ders/Odev/OdevTuruDegistir", { fkAbsPaylarID: '@FKPaylarID', fkDersGrupID: '@dersDetay.DersGrupID', EnumSinavTuru: 6 })
         .done(function (json) {
             if (json) {
                 toastr.success("Ödev türü değiştirildi");
             }
             else {
                 toastr.error("Hata oluştu");
             }
         });
    });
</script>

<script>
    $('#fileuploadOdevDokuman').fileupload({
        url: '/Ders/Dokuman/Upload',
        dataType: 'json',
        //maxChunkSize: 50000000,
        //formData: { FKPaylarID: FKPaylarID, FKDersGrupID: FKDersGrupID },
        done: function (e, data) {

            dosyaKey = data.result.DosyaKey;
            dosyaTuru = data.result.DosyaTuru;
            dosyaBoyutu = data.result.DosyaBoyutu;

            console.log(data.result);

            if (data.result.DosyaKey == null) {
                toastr.error("Geçersiz dosya türü");
            }
            else {
                $("#txtDosyaAdi").val(data.result.DosyaAdi);
                toastr.success("Dosya yüklendi");
            }
        },
        progressall: function (e, data) {
            $("#progress").show();
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css('width', progress + '%');
        },
        stop: function (e) {
            //$.post("/Ders/Sinav/GuncelleSinavDurum", { FKSinavID: FKSinavID, Durum: 1 });
            //$("#dListe").load(url);
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
</script>
