﻿@model List<Sabis.Bolum.Core.ABS.DERS.ODEV.OdevGrupListesiVM>

<div class="panel panel-default">
    <div class="panel-heading">Ders Grup Listesi</div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td><input class="form-control" data-fkdersgrupid="@item.FKDersGrupID" data-id="@item.ID" /></td>*@
                        <td>@Convert.ToInt32(Model.IndexOf(item)+1)</td>
                        <td>@item.GrupAd</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>