﻿@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);

    int FKPaylarID = Convert.ToInt32(Request.QueryString["P"]);
    var payBilgi = PAYMAIN.GetirPayBilgi(FKPaylarID);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
    int FKKoordinatorID = Sabitler.KullaniciID;
    bool koordinatorMu = GENELMAIN.KoordinatorMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);

    string soruUrl = "/Ders/Odev/_pGetirOdev/" + dersGrupHocaID + "?P=" + FKPaylarID;

    var sinavSorulari = SINAVMAIN.GetirPaySinavSoruListesi(dersGrupHocaID, FKPaylarID, Sabitler.Yil, Sabitler.Donem, 1);

    var degerlendirmeKoordinatorluguVarMi = GENELMAIN.DegerlendirmeGrupKoordinatorluguVarMi(dersDetay.DersPlanAnaID, Sabitler.KullaniciID, Sabitler.Yil, Sabitler.Donem);
    bool degerlendirmeKoordinatoruMu = GENELMAIN.DegerlendirmeKoordinatoruMu(dersGrupHocaID, Sabitler.KullaniciID, Sabitler.Yil, Sabitler.Donem);

    var sinavad = payBilgi.Sira + ". " + Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)Convert.ToInt32(payBilgi.EnumCalismaTip));

    bool degerlendirmeGruplariOlusuturulmusMu = GENELMAIN.DegerlendirmeGruplariOlusturulmusMu(dersGrupHocaID);
}

<link href="~/Content/assets/global/plugins/jquery-multiselect/jquery.multiselect.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-multiselect/jquery.multiselect.min.js"></script>


@Html.Action("_pGrupDersDetaylari", "Detay")

@if (true) //(Sabitler.KullaniciAdi == "umit" || Sabitler.KullaniciAdi == "ntasbasi")
{
    if (koordinatorMu)
    {
        <div class="col-md-12" style="padding-left: 0 !important;">
            <div class="col-md-5" style="padding-left: 0 !important;" id="divOdevIslem">
                <div class="col-md-12" style="padding-left: 0 !important;">
                    <label class="mt-radio form-control pull-left" style="width: 100% !important;">
                        <input id="rdGrupOdevi" type="radio" value="3" name="odevTur">
                        <span></span>Grup Ödevi
                    </label>
                </div>
                <div class="col-md-12" style="padding-left: 0 !important;">
                    <label class="mt-radio form-control pull-right" style="width: 100% !important;">
                        <input id="rdGenelOdev" type="radio" value="6" name="odevTur" checked>
                        <span></span>Genel Ödev (bu dersin tüm grupları için geçerlidir)
                    </label>
                </div>
                <div class="col-md-12" style="padding-left: 0 !important;">
                    <button id="btnOdevOlustur" class="btn btn-success">Oluştur</button>
                </div>
            </div>

            <div class="col-md-5 alert alert-info" id="divOdevBaslik" style="margin-bottom: 10px; display: none;"></div>
            <div class="col-md-7"></div>
        </div>

        <button id="btnOdevSil" class="btn btn-danger" style="display: none;">ÖDEV SİL</button>
        <a href="/Ders/Odev/Guncelle/@dersGrupHocaID?P=@FKPaylarID" id="btnOdevDetaylari" class="btn btn-success" style="display: none;">ÖDEV DETAYLARI</a>
    }
    else
    {
        <h3>Bu sayfadaki bilgileri dersin koordinatörü değiştirebilir.</h3>
    }
}
else
{
    <h3>Ödev sistemi geçici olarak devre dışıdır.</h3>  @*<h3>Ödev oluşturulabilmesi için Eğitim Bilgi Sistemi üzerinden değerlendirme gruplarının belirlenmesi gerekmektedir.</h3>*@
}

<script src="~/Scripts/Areas/Ders/Odev/Duzenle.js?version=1"></script>

<h3 style="color: red;" class="pull-right">Bu sayfadaki program ve öğrenme çıktıları dersin tüm gruplarında ortaktır.</h3>

<div id="soruListe" style="margin-top: 20px;"></div>

<script>
    var FKPaylarID = '@FKPaylarID';
    var soruURL = '@soruUrl';
    soruURL = soruURL.replace(/&amp;/g, '&');
    var soruSayisi = soruSayisi;
    var FKKoordinatorID = '@FKKoordinatorID';
    var FKDersGrupID = '@dersDetay.DersGrupID';
    var dersGrupHocaID = '@dersGrupHocaID';
    var sinavad = '@sinavad';
    var odevVarmi = false;
</script>

<script>
    function yenile() {
        $("#soruListe").load("/Ders/Odev/_pGetirOdev/@dersGrupHocaID?P=@FKPaylarID");
    }

    $(document).ready(function () {
        $("#soruListe").load("/Ders/Odev/_pGetirOdev/@dersGrupHocaID?P=@FKPaylarID");
    });
</script>



<script>
    

    $("#btnOdevOlustur").on("click", function () {
        var data = {
            Baslangic: $("#txtOdevBaslangicTarihi").val(),
            Bitis: $("#txtOdevBitisTarihi").val(),
            FKAbsPaylarID: '@FKPaylarID',
            Aciklama: $("#txtAciklama").val(),
            FKPersonelID: '@Sabitler.KullaniciID',
            FKDersGrupID: '@dersDetay.DersGrupID',
            EnumSinavTuru: 3,
            MaxYuklemeSayisi: $("#ddlYuklemeHakki").val(),
            OdevDosyakey: dosyaKey,
            OdevDosyaBoyut: dosyaBoyutu,
            OdevDosyaTuru: dosyaTuru,
            Yayinlandi: true,//$("#cbYayinlandi").is(":checked"),
            SGTarih: '@DateTime.Now',
            SGKullanici: '@Sabitler.KullaniciAdi',
            SGIP: '@Sabitler.IPAdresi',
            OnlineOdevMi: $("#rdOnlineOdev").is(":checked"),
            Silindi: false,
            GenelOdevMi: $("#rdGenelOdev").is(":checked"),
        };

        if (data.OnlineOdevMi == false) {
            data.MaxYuklemeSayisi = 0;
        }

        $.post("/Ders/Odev/OdevOlustur", { odev: data })
         .done(function (json) {
             if (json) {
                 toastr.success("Ödev oluşturuldu");
                 if ($("#rdGenelOdev").is(":checked")) {
                     $("#divOdevBaslik").text("Genel Ödev (bu dersin tüm grupları için geçerlidir)");
                 }
                 else {
                     $("#divOdevBaslik").text("Grup Ödevi");
                 }
                 $("#divOdevBaslik").show();
                 yenile();
                 
             }
             else {
                 toastr.error("Hata oluştu");
             }
         });
    });

    $("#btnOdevSil").on("click", function () {
        if (confirm("Ödev silinecektir. Onaylıyor musunuz?")) {
            $.post("/Ders/Odev/OdevSil", { id: '@dersGrupHocaID', P: '@FKPaylarID' })
             .done(function (json) {
                 if (json) {
                     toastr.info("Ödev silindi");
                     $("#btnOdevOlustur").show();
                     $("#divOdevIslem").show();
                     $("#divOdevBaslik").hide();
                     $("#btnOdevSil").hide();
                     $("#btnOdevDetaylari").hide();
                     yenile();
                 }
                 else {
                     toastr.error("Hata oluştu");
                 }
             });
        }
    });
</script>



<style>
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        z-index: 20000 !important;
    }

    .ui-multiselect {
        max-width: 350px !important;
    }
</style>

<script>
    $("#rdOdev").click(function () {
        $("#yuklemeHakki").hide();
    });

    $("#rdOnlineOdev").click(function () {
        $("#yuklemeHakki").show();
    });

    $(document).on('click', '#haftaListe', function (e) {
        e.stopPropagation();
    });
</script>