﻿@model List<Sabis.Bolum.Core.EBS.DERS.YandalDersVM>
    @{ 
        int FKCapTanimID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    }

<link href="~/Content/assets/global/css/components-md.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/css/plugins-md.min.css" rel="stylesheet" />

<div class="form-group">
    <div class="mt-checkbox-list">
        @foreach (var ders in Model)
        {
            <label class="mt-checkbox mt-checkbox-outline">
                <input type="checkbox" class="cbDers" @ders.Secili.ToString().ToLower().Replace("true", "checked").Replace("false", "") data-dersplananaid="@ders.FKDersPlanAnaID"> @ders.DersAdi
                <span></span>
            </label><br />
        }
    </div>
</div>

@*<ul>
    @foreach (var ders in Model)
    {
        <li data-dersplananaid="@ders.FKDersPlanAnaID">@ders.DersAdi</li>
    }
</ul>*@

<button id="btnKaydet" class="btn btn-success">Kaydet</button>

<script>
    $("#btnKaydet").on("click", function () {
        var dersList = [];
        var boxes = $(":checkbox:checked");

        $.each(boxes, function (i, obj) {
            var data = {
                FKCapTanimID: @FKCapTanimID,
                Kullanici: '@Sabitler.KullaniciAdi',
                Yil: @Sabitler.EBSYil,
                FKDersPlanAnaID: $(this).attr("data-dersplananaid"),
            };
            dersList.push(data);
        });
        //console.log(dersList);

        $.post("/EBS/Yandal/EkleYandalDers", { yandalDersList: dersList }).done(function (result) {
            console.log(result);
        });
    });
</script>