﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Yandal İşlemleri</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">
                <select id="ddlFakulteListesi" class="form-control birimSec" data-tur="Fakülte">
                    <option>Fakülte Seçiniz</option>
                </select>
            </div>

            <div class="col-md-4">
                <select id="ddlBolumListesi" class="form-control birimSec" data-tur="Bölüm">
                    <option>Bölüm Seçiniz</option>
                </select>
            </div>
            <div class="col-md-4">
                @*<button class="btn btn-success" data-title="Yeni Yandal Ekle" data-toggle="tooltip modal" data-source="/EBS/Yandal/_pEkleYandal/" data-size="50" data-backdrop="false" data-keyboard="true">Yeni Yandal Ekle</button>*@
                <button id="yenile" class="btn btn-icon-only blue"><i class="fa fa-refresh"></i></button>
                <button id="yeniYandalEkle" class="btn btn-success">Yeni Yandal Ekle</button>
            </div>

                

                @*<select id="ddlAraProgramListesi" class="form-control birimSec" data-tur="Ara" style="visibility: hidden;">
                    <option>Ara Program Seçiniz</option>
                </select>*@
            
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover" style="margin-top: 20px;">
                    <thead>
                        <tr>
                            <th>Yandal Programı</th>
                            <th class="text-center">Kontenjan</th>
                            <th class="text-center">Ders</th>
                            <th class="text-center">AKTS</th>
                            <th class="text-center">İşlem</th>
                        </tr>
                    </thead>
                    <tbody id="tblDersListesi"></tbody>
                </table>
            </div>
        </div>


    </div>
</div>

<script>



    $("#yeniYandalEkle").on("click", function () {
        var data = {
            EnumGecisTipi: 2,
            FKAnaBirimID: $("#ddlBolumListesi").val(),
            FKAltBirimID: 0,
            Kullanici: '@Sabitler.KullaniciAdi',
            Kontenjan: 1,
            Yil: @Sabitler.Yil,
            Donem: @Sabitler.Donem
        };
        $.post("/EBS/Yandal/EkleYeniYandal", { yandal: data }).done(function (result) {
            console.log(result);
            $("#ddlBolumListesi").trigger("change");
        });
    });


    $(document).ready(function () {
        $.post("/Home/GetirBirimListe", { ustBirimID: 21398, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: 0, yetkiKontrol: false })
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlFakulteListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                });
    });

    $("#ddlFakulteListesi").on("change", function () {
        $("#tblDersListesi").html("");
        $("#ddlBolumListesi").empty().append(' <option value="0">Bölüm Seçiniz</option>');

        $.post("/EBS/Yandal/ListeleYandalBirim", { fkFakulteID: $("#ddlFakulteListesi").val() })
            .success(function (json) {
                $.each(json, function (i, val) {
                    $("#ddlBolumListesi").append('<option value="' + val.ID + '">' + val.BirimAdi + '</option>');
                });
            });
    });

    $("#ddlBolumListesi").on("change", function () {
        var bID = $(this).val();
        $("#tblDersListesi").html("");
        var jsonList = "";
        $.post("/EBS/Yandal/ListeleYandal", { fkBirimID: bID }).success(function (json) {
            $.each(json, function (i, obj) {
                $("#tblDersListesi").append('<tr><td>' + obj.BirimAdi + '</td><td class="text-center"><input maxlength="3" data-id="' + obj.ID + '" class="txtKontenjan" style="text-align: center" value="' + obj.Kontenjan + '"/></td><td class="text-center">' + obj.DersAdet + '</td><td class="text-center">' + obj.AKTS + '</td><td class="text-center"><button class="btn btn-success" data-title="Ders Listesi" data-toggle="tooltip modal" data-source="/EBS/Yandal/_pDersListesi/' + obj.ID + '" data-size="50" data-backdrop="false" data-keyboard="true">Ders Listesi</button></td></tr>');
            });
        });

    });

    $("#yenile").on("click", function () {
        $("#ddlBolumListesi").trigger("change");
    });

    $(document).on("keyup", ".txtKontenjan", function () {
        $.post("/EBS/Yandal/GuncelleKontenjan", { fkTanimID: $(this).attr("data-id"), adet: $(this).val() }).done(function (result) {
            result ? toastr.success("Kontenjan güncellendi") : toastr.error("Hata");
        });
    });

</script>