﻿
@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Yardım</li>
        </ul>
    </div>
}
<h2><i class="fa fa-info"></i> Sistem Yardım Dökümanları</h2>
<div class="row">
    <div class="col-md-12">
        <div class="tab-container tab-danger">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#sinav" data-toggle="tab">Sınav</a></li>
                <li class=""><a href="#odev" data-toggle="tab">Ödev</a></li>
                <li class=""><a href="#sanalsinif" data-toggle="tab">Sanal Sınıf</a></li>
                <li class=""><a href="#dokuman" data-toggle="tab">Döküman</a></li>
                <li class=""><a href="#cikti" data-toggle="tab">Program/Öğrenme Çıktıları</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="sinav">
                    <div id="accordioninpanel" class="accordion-group">
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinOne"><h4><strong>Online Sınav Nasıl Oluşturulur</strong></h4></a>
                            <div id="collapseinOne" class="collapse" style="height: 0px; padding:0 !important;">
                                <div class="accordion-body" style="padding:0 !important;">
                                    <video width="800" height="600" controls>
                                        <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/sinav/Online_Sinav_Nasil_Olusturulur/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinTwo"><h4><strong>Sınav Nasıl Silinir</strong></h4></a>
                            <div id="collapseinTwo" class="collapse" style="height: 0px;">
                                <video width="800" height="600" controls>
                                    <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/sinav/Sinav_Nasil_Silinir/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                    <source src="movie.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinThree"><h4><strong>Online Sınav İşlemleri Nasıl Düzenlenir</strong></h4></a>
                            <div id="collapseinThree" class="collapse">
                                <video width="800" height="600" controls>
                                    <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/sinav/Online_Sinav_Islemleri_Nasil_Duzenlenmektedir/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                    <source src="movie.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinFour"><h4><strong>Sınav Soru Ekleme İşlemi Nasıl Yapılmaktadır</strong></h4></a>
                            <div id="collapseinFour" class="collapse">
                                <video width="800" height="600" controls>
                                    <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/sinav/Sinav_Soru_Ekleme_Islemi_Nasil_Yapilmaktadir/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                    <source src="movie.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinFive"><h4><strong>Sınav Soru Puanları Nasıl Güncellenir</strong></h4></a>
                            <div id="collapseinFive" class="collapse">
                                <video width="800" height="600" controls>
                                    <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/sinav/Sinav_Soru_Puanlari_Nasil_Guncellenmektedir/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                    <source src="movie.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinSix"><h4><strong>Sınav Nasıl Yayınlanır</strong></h4></a>
                            <div id="collapseinSix" class="collapse">
                                <video width="800" height="600" controls>
                                    <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/sinav/Sinav_Nasil_Yayinlanir/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                    <source src="movie.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinSeven"><h4><strong>Sınav Oturum İşlemleri</strong></h4></a>
                            <div id="collapseinSeven" class="collapse">
                                <video width="800" height="600" controls>
                                    <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/sinav/Sinav_Oturum_Islemleri/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                    <source src="movie.ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#collapseinEight"><h4><strong>Sınav Modülü E-Kitap</strong></h4></a>
                            <div id="collapseinEight" class="collapse">
                                <a href="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/sinav/ekitap/ekitap_sinavmodulu.pdf">Sınav Modülü Kullanım Rehberini İndirmek İçin Tıklayınız</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="odev">
                    <div id="accordioninpanel" class="accordion-group">
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#OdevcollapseinOne"><h4><strong>Ödev Aktivitesi Nasıl Oluşturulur</strong></h4></a>
                            <div id="OdevcollapseinOne" class="collapse" style="height: 0px; padding:0 !important;">
                                <div class="accordion-body" style="padding:0 !important;">
                                    <video width="800" height="600" controls>
                                        <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/odev/Odev_Aktivitesi_Nasil_Olusturulur/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#OdevcollapseinTwo"><h4><strong>Ödev Aktivitesi Nasıl Silinir</strong></h4></a>
                            <div id="OdevcollapseinTwo" class="collapse" style="height: 0px; padding:0 !important;">
                                <div class="accordion-body" style="padding:0 !important;">
                                    <video width="800" height="600" controls>
                                        <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/odev/Odev_Aktivitesi_Nasil_Silinir/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#OdevcollapseinThree"><h4><strong>Ödev Aktivitesinin Detayları Nasıl Düzenlenir</strong></h4></a>
                            <div id="OdevcollapseinThree" class="collapse" style="height: 0px; padding:0 !important;">
                                <div class="accordion-body" style="padding:0 !important;">
                                    <video width="800" height="600" controls>
                                        <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/odev/Odev_Aktivitesi_Detaylari_Nasil_Duzenlenir/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#OdevcollapseinFour"><h4><strong>Ödev Aktivitesinin Değerlendirmesi Nasıl Yapılır</strong></h4></a>
                            <div id="OdevcollapseinFour" class="collapse" style="height: 0px; padding:0 !important;">
                                <div class="accordion-body" style="padding:0 !important;">
                                    <video width="800" height="600" controls>
                                        <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/odev/Odev_Aktivitesi_Degerlendirmesi_Nasil_Yapilir/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="sanalsinif">
                    <div id="accordioninpanel" class="accordion-group">
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#SanalSinifcollapseinOne"><h4><strong>Sanal Sınıf Modülü</strong></h4></a>
                            <div id="SanalSinifcollapseinOne" class="collapse" style="height: 0px; padding:0 !important;">
                                <div class="accordion-body" style="padding:0 !important;">
                                    <video width="800" height="600" controls>
                                        <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/sanalsinif/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#SanalSinifcollapseinTwo"><h4><strong>Sanal Sınıf Kullanımı Hakkında Eğitim Videosu </strong></h4></a>
                            <div id="SanalSinifcollapseinTwo" class="collapse" style="height: 0px; padding:0 !important;">
                                <div class="accordion-body" style="padding:0 !important;">
                                    <video width="800" height="600" controls>
                                        <source src="http://abs.sakarya.edu.tr/Content/files/perculusegitim_video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#SanalSinifcollapseinThree"><h4><strong>Sistem Uyumluluk Kontrolü </strong></h4></a>
                            <div id="SanalSinifcollapseinThree" class="collapse" style="height: 0px; padding:0 !important;">
                                <div class="accordion-body" style="padding:0 !important;">
                                    <iframe width="800" height="600" src="etoplanti.local.apollo.gtu.edu.tr/help/systemcheck.aspx?embed=true&mediaserver=&lang=tr-TR"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="dokuman">
                    <div id="accordioninpanel" class="accordion-group">
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#DokumancollapseinOne"><h4><strong>Döküman Modülü</strong></h4></a>
                            <div id="DokumancollapseinOne" class="collapse" style="height: 0px; padding:0 !important;">
                                <div class="accordion-body" style="padding:0 !important;">
                                    <video width="800" height="600" controls>
                                        <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/dokuman/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    </div>
                <div class="tab-pane" id="cikti">
                    <div id="accordioninpanel" class="accordion-group">
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#CikticollapseinOne"><h4><strong>Ders Öğrenme Çıktıları</strong></h4></a>
                            <div id="CikticollapseinOne" class="collapse" style="height: 0px; padding:0 !important;">
                                <div class="accordion-body" style="padding:0 !important;">
                                    <video width="800" height="600" controls>
                                        <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/cikti/Ders_Ogrenme_Ciktilari/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#CikticollapseinTwo"><h4><strong>Program Öğrenme Çıktıları</strong></h4></a>
                            <div id="CikticollapseinTwo" class="collapse" style="height: 0px; padding:0 !important;">
                                <div class="accordion-body" style="padding:0 !important;">
                                    <video width="800" height="600" controls>
                                        <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/cikti/Program_Ogrenme_Ciktilari/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="accordion-item">
                            <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#CikticollapseinThree"><h4><strong>Değerlendirme Sistemi Nasıl Düzenlenir</strong></h4></a>
                            <div id="CikticollapseinThree" class="collapse" style="height: 0px; padding:0 !important;">
                                <div class="accordion-body" style="padding:0 !important;">
                                    <video width="800" height="600" controls>
                                        <source src="http://abs.sakarya.edu.tr/Content/files/Yardim_Dokuman/cikti/Degerlendirme_Sistemi/video.mp4" type="video/mp4" style="margin:0 !important; padding:0 !important;">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

