﻿<div class="row">

    <div class="col-md-12">

        <div class="col-md-2">
            Bölüm:
        </div>
        <div class="col-md-10">
            <select id="ddlFakulteListesi1" class="form-control birimSec" data-tur="Fakülte">
                <option>Fakülte Seçiniz</option>
            </select>

            <select id="ddlBolumListesi1" class="form-control birimSec" data-tur="Bölüm">
                <option>Bölüm Seçiniz</option>
            </select>

            <select id="ddlAraProgramListesi1" class="form-control birimSec" data-tur="Ara" style="visibility: hidden;">
                <option>Ara Program Seçiniz</option>
            </select>

            <select id="ddlAraProgramListesi2" class="form-control birimSec" data-tur="Ara" style="visibility: hidden;">
                <option>Program Seçiniz</option>
            </select>
        </div>



        <div class="col-md-2">
            Kişi:
        </div>
        <div class="col-md-10">
            <input id="txtKisi" type="text" class="form-control arama" data-personelid="" />
        </div>
    </div>

</div>

<div class="row" style="margin-top: 20px; padding-left: 7px;">
    <div class="col-md-10 col-md-offset-2">
        <button id="btnKoordinatorEkle" class="btn btn-success">Ekle</button>
    </div>
</div>

<script>
    var birimID = 0;
    var durum = false;
    $(document).ready(function () {
        $.post("/Home/GetirBirimListe", { ustBirimID: '@Sabitler.UniversiteID', FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false })
        .success(function (json) {
            $.each(json, function (i, val) {
                $("#ddlFakulteListesi1").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
            });
        });

    });

    var araProgramGetir = function (ustBirimID) {
        $.post("/Home/GetirBirimListe", { ustBirimID: ustBirimID, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false })
             .success(function (json) {
                 $.each(json, function (i, val) {
                     $("#ddlAraProgramListesi1").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                 });
                 $("#ddlAraProgramListesi1").removeAttr("style");
             });
    };

    var araProgramGetir2 = function (ustBirimID) {
        $.post("/Home/GetirBirimListe", { ustBirimID: ustBirimID, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false })
             .success(function (json) {
                 $.each(json, function (i, val) {
                     $("#ddlAraProgramListesi2").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                 });
                 $("#ddlAraProgramListesi2").removeAttr("style");
             });
    };

    $("#ddlFakulteListesi1").on("change", function () {
        $("#ddlBolumListesi1").empty().append('<option value="0">Bölüm Seçiniz</option>');
        $("#ddlAraProgramListesi1").css("visibility", "hidden");
        $("#ddlAraProgramListesi1").empty();

        $.post("/Home/GetirBirimListe", { ustBirimID: $("#ddlFakulteListesi1").val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false })
            .success(function (json) {
                $.each(json, function (i, val) {
                    $("#ddlBolumListesi1").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                });
            });
    });

    $("#ddlBolumListesi1").on("change", function () {
        var bID = $(this).val();
        $("#ddlAraProgramListesi1").css("visibility", "hidden");
        $("#ddlAraProgramListesi1").empty().append('<option value="null">Ara Program Seçiniz</option>');
        $("#ddlAraProgramListesi2").empty();
        $("#ddlAraProgramListesi2").css("visibility", "hidden");
        //$("#tblDersListesi").html("");
        var jsonList = "";
        $.post("/Admin/DersKoordinatorleri/GetirBirimDersList", { FKBirimID: bID }).success(function (json2) {
            if (json2.length > 0) {
                console.log(json2);
                //console.log(json2.length);
                //$.each(json2, function (index, value) {
                //    var placeholder = "";
                //    if (value.PersonelAdSoyadUnvan == null) {
                //        value.PersonelAdSoyadUnvan = "";
                //        placeholder = "Ad soyad giriniz";
                //    }
                //    $("#tblDersListesi").append('<tr><td class="col-md-1">' + value.ID + '</td><td class="col-md-6">' + value.DersAdi + '</td><td class="col-md-4"><input type="text" class="form-control arama" value="' + value.PersonelAdSoyadUnvan + '" placeholder="' + placeholder + '"/></td><td class="col-md-1 text-center"><button class="btn btn-primary btnGuncelle" data-personelid="' + value.FKPersonelID + '" data-dersplananaid="' + value.FKDersPlanAnaID + '">Güncelle</button></td></tr>');
                //});
            }
            else {
                araProgramGetir(bID);
            }
        });


    });

    $("#ddlAraProgramListesi1").on("change", function () {
        $("#ddlAraProgramListesi2").empty().append('<option value="null">Program Seçiniz</option>');
        $("#ddlAraProgramListesi2").css("visibility", "hidden");
        $.post("/Home/GetirBirimListe", { ustBirimID: $(this).val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false })
            .success(function (json) {
                if (json.length > 0) {
                    $.each(json, function (i, val) {
                        $("#ddlAraProgramListesi2").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                    $("#ddlAraProgramListesi2").removeAttr("style");
                }
            });
    });

</script>

<script>
    $(document).on("keyup", ".arama", function () {
        $(this).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Admin/DersKoordinatorleri/GetirPersonelBilgi',
                    data: { aranan: request.term },
                    dataType: 'json',
                    type: 'POST',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Text,
                                value: item.Value
                            }
                        }));
                    }
                })
            },
            messages: {
                noResults: '',
                results: function () { }
            },
            select: function (event, ui) {
                $(this).val(ui.item.label);
                $(this).attr("data-personelid", ui.item.value);
                return false;
            },
            minLength: 3
        });
    });
</script>

<style>
    .ui-autocomplete {
        z-index: 11111;
        /*position: absolute;*/
    }

    #btnKoordinatorEkle {
        z-index: 11111;
    }
</style>

<script>
    $(document).on("click", "#btnKoordinatorEkle", function () {
        if ($("#txtKisi").attr("data-personelid") != "")
        {
            var data = {
                FakulteID: $("#ddlFakulteListesi1").val(),
                BolumID: $("#ddlBolumListesi1").val(),
                ProgramID: $("#ddlAraProgramListesi1").val(),
                AnaBilimDaliID: $("#ddlAraProgramListesi2").val(),
                FKPersonelID: $("#txtKisi").attr("data-personelid")
            };
            console.log(data);
            if (durum == false) {
                $.post("/Admin/BolumKoordinatorleri/EkleBolumKoordinator", data)
                 .success(function (json) {
                     durum = true;
                     if (json) {
                         toastr.success("Yeni bölüm koordinatörü eklendi");
                         durum = false;
                     }
                     else {
                         toastr.error("Bir hata oluştu");
                     }
                 });
            }

        }
    });
</script>