﻿
@{
    ViewBag.Title = "Bölüm Koordinatör Yönetimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Bölüm Koordinatörleri</li>
        </ul>
    </div>
}
<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Bölüm Koordinatör Yönetimi</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12" style="padding: 0">
                <div class="col-md-4">
                    <select id="ddlFakulteListesi" class="form-control birimSec" data-tur="Fakülte">
                        <option>Fakülte Seçiniz</option>
                    </select>
                </div>
                @*<div class="col-md-4">
                        <select id="ddlBolumListesi" class="form-control birimSec" data-tur="Bölüm">
                            <option>Bölüm Seçiniz</option>
                        </select>
                    </div>*@
                <div class="col-md-4 col-md-offset-4 text-right">
                    <button id="yeniKoordinatorEkle" class="btn btn-primary" data-toggle="modal" data-title="Yeni Koordinatör Ekle" data-source="/Admin/BolumKoordinatorleri/_pBolumKoordinatorEkle">Yeni Koordinatör Ekle</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">#ID</th>
                            <th class="col-md-4">Birim</th>
                            <th class="col-md-4">Koordinator</th>
                            <th class="col-md-3">Görev</th>
                        </tr>
                    </thead>
                    <tbody id="tblBolumKoordinatorListesi"></tbody>
                </table>
            </div>
        </div>


    </div>
</div>

<style>
    select {
        margin-bottom: 10px;
    }
</style>

<script>
    var birimID = 0;
        $(document).ready(function () {
            $.post("/Home/GetirBirimListe", { ustBirimID: 21398, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false })
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlFakulteListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                });
        });

        $("#ddlFakulteListesi").on("change", function () {
            $.post("/Admin/BolumKoordinatorleri/GetirKoordinatorListesi", { fakulteID: $(this).val() })
            .success(function (json) {
                $("#tblBolumKoordinatorListesi").text("");
                $.each(json, function (i, obj) {
                    var silStr = '<button class="btn btn-danger btnSil" data-id="' + obj.ID + '" data-personelid="' + obj.FKPersonelID + '">Sil</button>';
                    if (obj.IdariMi) {
                        silStr = '';
                    }
                    //$("#tblBolumKoordinatorListesi").append('<tr><td class="text-center">' + obj.ID + '</td><td>' + $("#ddlBolumListesi option:selected").text() + '</td><td><input class="form-control arama" type="text" value="' + obj.AdSoyad + '"></td><td class="col-md-2 text-center"><button class="btn btn-primary btnGuncelle" data-id="' + obj.ID + '" data-personelid="' + obj.FKPersonelID + '">Güncelle</button><button class="btn btn-danger btnSil" data-id="' + obj.ID + '" data-personelid="' + obj.FKPersonelID + '">Sil</button></td></tr>');
                    $("#tblBolumKoordinatorListesi").append('<tr><td class="text-center">' + obj.ID + '</td><td>' + obj.YetkiliBirimAd + '</td><td><input class="form-control arama" type="text" value="' + obj.AdSoyad + '" ' + obj.IdariMi.toString().replace(/true/g, "disabled").replace(/false/g, "") + '></td><td>' + obj.YetkiAd + " (" + obj.IdariMi.toString().replace(/true/g, "İdari").replace(/false/g, "İdari Değil") + ")" + '</td><td>' + silStr +  '</td></tr>');
                });
            });
        });

</script>


<script>
    $(document).on("keyup", ".arama", function () {
        $(this).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Admin/DersKoordinatorleri/GetirPersonelBilgi',
                    data: { aranan: request.term },
                    dataType: 'json',
                    type: 'POST',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Text,
                                value: item.Value
                            }
                        }));
                    }
                })
            },
            messages: {
                noResults: '',
                results: function () { }
            },
            select: function (event, ui) {
                $(this).val(ui.item.label);
                $(this).parent().next().children("button").attr("data-personelid", ui.item.value);
                return false;
            },
            minLength: 3
        });
    });

    $(document).on("click", ".btnGuncelle", function () {
        var response = confirm("Bölüm koordinatörü değiştirilecektir! Onaylıyor musunuz?");
        if (response) {
            $.post("/Admin/BolumKoordinatorleri/GuncelleBolumKoordinator", { id: $(this).attr("data-id"), FKPersonelID: $(this).attr("data-personelid") })
             .success(function (data) {
                if (data) {
                    toastr.success("Koordinatör değiştirildi.");
                }
            });
        }
    });

    $(document).on("click", ".btnSil", function () {
        var response = confirm("Bölüm koordinatörü silinecektir! Onaylıyor musunuz?");
        if (response) {
            $.post("/Admin/BolumKoordinatorleri/SilBolumKoordinator", { id: $(this).attr("data-id") })
             .success(function (data) {
                 if (data) {
                     toastr.info("Koordinatör silindi.");
                     $("#ddlBolumListesi").trigger("change");
                 }
             });
        }
    });
</script>
