﻿@model List<Sabis.Bolum.Core.ADMIN.IPYetkiVM>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="info">
            <th>IP</th>
            <th>Ad Soyad</th>
            <th>Kullanıcı Adı</th>
            <th>Birim</th>
            <th>Açıklama</th>
            <th>Yetki Veren</th>
            <th>Tarih</th>
            <th>Durum</th>
            <th>Son Hal Yetki</th>
            <th>Simule Yetki</th>
            <th class="active">İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.IpYetkiID">
                <td>@item.IPAdresi</td>
                <td>@item.AdSoyad</td>
                <td>@item.KullaniciAdi</td>
                <td>@item.BirimBolum</td>
                <td>@item.Aciklama</td>
                <td>@item.YetkiVeren</td>
                <td>@Convert.ToDateTime(item.Tarih)</td>
                <td>@item.YetkiVar</td>
                <td>@item.SonHalKaldirmaVarMi</td>
                <td>@item.SimuleYetkisiVarMi</td>
                <td class="text-center">
                    <button class="btn btn-danger btnSil" data-id="@item.IpYetkiID">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).on("click", ".btnSil", function () {
        var response = confirm("Yetki silinecektir! Onaylıyor musunuz?");
        if (response) {
            var dID = $(this).attr("data-id");
            $.post("/Admin/IPYetkilendirme/SilIPYetki", { id: dID })
             .success(function (json) {
                 if (json) {
                     $("#" + dID).remove();
                     toastr.info("Yetki silindi");
                 }
             });
        }
    });
</script>