﻿<table class="table table-hover">
    <tbody>
        <tr>
            <td>IP:</td>
            <td><input id="txtIP" type="text" class="form-control" /></td>
        </tr>
        <tr>
            <td>Ad Soyad</td>
            <td><input id="txtAdSoyad" type="text" class="form-control" /></td>
        </tr>
        <tr>
            <td>Kullanıcı Adı</td>
            <td><input id="txtKullaniciAdi" type="text" class="form-control" /></td>
        </tr>
        <tr>
            <td>Birim / Bölüm</td>
            <td><input id="txtBirim" type="text" class="form-control" /></td>
        </tr>
        <tr>
            <td>Açıklama</td>
            <td><input id="txtAciklama" type="text" class="form-control" /></td>
        </tr>
        <tr>
            <td>Son Hal Kaldırma</td>
            <td><input id="chkSonHalKaldirma" type="checkbox" class="form-control pull-left" /></td>
        </tr>
        <tr>
            <td>Simule</td>
            <td><input id="chkSimule" type="checkbox" class="form-control pull-left" /></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td><button id="btnEkle" class="btn btn-success">Ekle</button></td>
            <td></td>
        </tr>
    </tfoot>
</table>

<script>
    $("#btnEkle").one("click", function () {
        var data = {
            ID: null,
            IPAdresi: $("#txtIP").val(),
            AdSoyad: $("#txtAdSoyad").val(),
            BirimBolum: $("#txtBirim").val(),
            Aciklama: $("#txtAciklama").val(),
            KullaniciAdi: $("#txtKullaniciAdi").val(),
            YetkiVeren: '@Sabitler.SimulasyonKullaniciAdi',
            Tarih: '@DateTime.Now',
            YetkiVar: true,
            SonHalKaldirmaVarMi: $("#chkSonHalKaldirma").is(":checked"),
            SimuleYetkisiVarMi: $("#chkSimule").is(":checked")
        };

        $.post("/Admin/IPYetkilendirme/EkleIPYetki", { yeniYetki: data })
         .success(function (json) {
             if (json) {
                 toastr.success("Yeni yetki eklendi");
                 window.location.reload();
             }
         });
    });
</script>