﻿
@{
    ViewBag.Title = "IP Yetki Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>IP Yetkilendirme</li>
        </ul>
    </div>
}
<a href="#" style="margin-bottom: 20px;" class="btn btn-primary pull-right" data-title="IP Yetki Ekle" data-toggle="modal" data-source="/Admin/IPYetkilendirme/_pYeniYetkiEkle" data-width="6" data-keyboard="true" data-original-title="" title="">Yeni Ekle</a>

@Html.Action("_pGetirIPYetkiListesi")

