﻿@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL
@using System.Web.UI.WebControls;
@{
    ViewBag.Title = "_OnlineSinavSorunlari";
    Layout = null;
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
    bool koordinatorMu = GENELMAIN.KoordinatorMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);

}

<input id="hdnGrupHocaID" type="hidden" value="@ViewBag.GrupHocaID" />

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        @Html.DropDownList("ddlPay", new SelectList(ViewBag.XX, "Value", "Text", "Aktivite Seçiniz"), new { @class = "form-control" })
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        @if (koordinatorMu)
        {
            @*@Html.DropDownList("ddlGrups", new SelectList(ViewBag.YY, "Value", "Text"), new { @class = "form-control" })*@
        }

    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12 col-md-12">
        <table class="table table-striped table-bordered table-hover" style="overflow-x: scroll;">
            <thead>
                <tr>
                    <th>Sıra</th>
                    <th>Öğrenci No</th>
                    <th>Ad Soyad</th>
                    <th>Bildirim Tarih</th>
                    <th>Bildirim Başlık</th>
                    <th>Bildirim Detay</th>
                    <th>Ek</th>
                    <th>Durum</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody id="tblSorunListe">
                <tr>
                    <td>{{:#index+1}}</td>
                    <td>{{:OgrenciNo}}</td>
                    <td style="width:15%">{{:AdSoyad}}</td>
                    <td style="width:15%">{{:EklemeTarih}}</td>
                    <td style="width:15%">{{:Baslik}}</td>
                    <td style="width:40%">{{:Icerik}}</td>
                    <td>
                        {{if DosyaKey == 0 }}
                        <span class="label label-sm label-danger"> - </span>
                        {{/if}}
                        {{if DosyaKey != 0 }}


                        <a href="javascript:;"  data-title="{{:AdSoyad}}" data-toggle="tooltip modal" data-source="/Ders/SorunBildirim/_DosyaGoruntule?key={{:DosyaKey}}" data-size="60" data-backdrop="false" data-keyboard="true" data-original-title="" title=""><i class="fa fa-eye"></i></a>

                        {{/if}}
                    </td>
                    <td>
                        {{if EnumGeriBildirimDurum == 0 }}
                        <span class="label label-sm label-danger">Yeni</span>
                        {{/if}}
                        {{if EnumGeriBildirimDurum == 1 }}
                        <span class="label label-sm label-warning">Okundu</span>
                        {{/if}}
                        {{if EnumGeriBildirimDurum == 2 }}
                        <span class="label label-sm label-success">Tamamlandı</span>
                        {{/if}}

                    </td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>
<script type="text/javascript">
    var template;
    $(document).ready(function () {
        template = $.templates("#tblSorunListe");

        var gruphocaid = $('#hdnGrupHocaID').val();
        var payid = $("#ddlPay").val();

        $("#tblSorunListe").html("");
        var jsonList = "";
        $.post("/Ders/SorunBildirim/SorunListele", { GrupHocaID: gruphocaid, PayID: payid }).success(function (data) {
            if (data.length > 0) {
                $("#tblSorunListe").html(template.render(data));
                var sorunsayisi = $("#hdnSinavSorunSayisi").val();
                $("#sinavsorunCount").text(data.length);
            }

        });
    });
    $("#ddlPay").on("change", function () {
        var gruphocaid = $('#hdnGrupHocaID').val();
        var payid = $(this).val();

        $("#tblSorunListe").html("");
        var jsonList = "";
        $.post("/Ders/SorunBildirim/SorunListele", { GrupHocaID: gruphocaid, PayID: payid }).success(function (data) {
            if (data.length > 0) {
                $("#tblSorunListe").html(template.render(data));
                var sorunsayisi = $("#hdnSinavSorunSayisi").val();
                $("#sinavsorunCount").text(data.length);
            }
            else {
                $("#sinavsorunCount").empty();
            }
        });
    });
</script>



