﻿@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int DersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
    bool koordinatorMu = GENELMAIN.KoordinatorMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.84/jsrender.min.js"></script>
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            @*<li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i></li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)

                    }
                            - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                            <
                        </a>
                        <i class="fa fa-chevron-right"></i>
                    </li>
                    <li>Sorun Bildirimi
           </li>
                </ul>
            </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="portlet light ">
            <div class="portlet-body">
                <ul class="nav nav-tabs">
                    <li class="active" id="Sinav">
                        <a href="#tab_Sinav" data-toggle="tab" aria-expanded="true"><i class="fa fa-pencil"></i>Sınav <span class="badge badge-danger" id="sinavsorunCount"></span></a>
                    </li>
                    <li class="" id="Odev">
                        <a href="#tab_Odev" data-toggle="tab" aria-expanded="false"><i class="fa fa-list"></i>Ödev</a>
                    </li>
                    <li class="" id="Dokuman">
                        <a href="#tab_Dokuman" data-toggle="tab" aria-expanded="false"><i class="fa fa-question"></i>Döküman</a>
                    </li>
                    <li class="" id="SanalSinif">
                        <a href="#tab_SanalSinif" data-toggle="tab" aria-expanded="false"><i class="fa fa-file-o"></i>Sanal Sınıf</a>
                    </li>
                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab_Sinav">
                        <p>
                            @Html.Action("_OnlineSinavSorunlari", "SorunBildirim", new { @id = DersGrupHocaID })
                        </p>
                    </div>
                    <div class="tab-pane fade" id="tab_Odev">
                        <p>
                            Ödev
                        </p>
                    </div>
                    <div class="tab-pane fade" id="tab_Dokuman">
                        <p>
                            döküman
                        </p>
                    </div>
                    <div class="tab-pane fade" id="tab_SanalSinif">
                        <p>
                            Sanal Sınıf
                        </p>
                    </div>
                    
                </div>
                <div class="clearfix margin-bottom-20"> </div>


            </div>
        </div>
    </div>
</div>

