﻿@model Sabis.Bolum.Core.ABS.DEGERLENDIRME.BasariDegerlendirmeVM
@{
    Layout = null;
}

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">
        Başarı Not Değerlendirme
        <div class="options pull-right">
            <span class="label">Aktarım Durumu: <span class="badge">@Sabis.Enum.Utils.GetEnumDescription(Model.EnumDegerlendirmeAsama)</span></span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row" id="degerlendirmeContainer">
            <div class="col-md-12">
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="col-sm-6">
                                Bölüm
                            </th>
                            <th class="col-sm-1 text-center">
                                Öğretim Türü
                            </th>
                            <th class="col-sm-1 text-center">
                                Grup
                            </th>
                            <th class="col-sm-1 text-center">
                                Öğrenci Sayısı
                            </th>
                            <th class="col-sm-3 text-center">
                                Yazdır
                            </th>
                        </tr>
                    </thead>
                    @if (Model.OrtakGruplar != null)
                    {


                        <tbody>
                        @foreach (var grup in Model.OrtakGruplar)
                        {
                            <tr>
                                <td>
                                    @grup.Bolum.BirimAdi
                                </td>
                                <td class="text-center">
                                    @Sabis.Enum.Utils.GetEnumDescription(grup.EnumOgretimTur)
                                </td>
                                <td class="text-center">
                                    @grup.Ad
                                </td>
                                <td class="text-center">
                                    @grup.OgrenciSayisi
                                </td>
                                <td class="text-center"> 
                                    <button type="button" class="btn btn-sky btn-sm" onclick="basarilistesiFinal(@grup.DersGrupID)">Final Başarı Listesi</button> 
                                    @if (Model.ButunlemeMi)
                                    {
                                        <button type="button" class="btn btn-sky btn-sm" onclick="basarilistesiButunleme(@grup.DersGrupID)">Bütünleme Başarı Listesi</button> 
                                    }
                                    <br />
                                    @*<button type="button" class="btn btn-sky btn-sm" onclick="yardimcliste(@grup.DersGrupID)">Yardımcı Liste</button>*@
                                    <button type="button" class="btn btn-green btn-sm" onclick="gecmislisteler(@grup.DersGrupID)">Alınan Başarı Listeleri</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    }
                    <tfoot style="visibility:hidden" >
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sky btn-sm" onclick="tumliste()">Başarı Listesi Tümü</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="container" id="raporContainer" style="display:none;">
            <div class="row">
                <div class="col-sm-1">
                    <button type="button" class="btn btn-inverse" onclick="raporToggle()">Geri</button>
                </div>
                <div class="col-sm-11">
                    <h4>Başarı Listesi</h4>
                </div>
            </div>
            <iframe id="rapor" role="document" style="width:100%; height:720px;"></iframe>
        </div>
    </div>
    <div class="panel-footer">
        @*if (Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.BOS 
            || Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.KAYITLI 
            || Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.YAYINLANDI)
        {
            <button type="button" id="btnKaydet" class="btn btn-success" onclick="kaydet()">Kaydet</button>
        } *@
         
        @if (Model.TarihUygunMu)
        {
            if (Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.BOS
                    || Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.KAYITLI)
            {
            <button type="button" class="btn btn-info" onclick="yayinla()">YAYINLA</button>
            }
            else if (Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.YAYINLANDI)
            {
            <button type="button" class="btn btn-warning" onclick="yayindankaldir()">YAYINDAN KALDIR</button>
            }
            else if (Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.SONHAL
                || Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.AKTARILDI)
            {
            <button type="button" class="btn btn-sky disabled">YAYINLANDI</button>
            }

            if (Model.SonHalYetkisiVarMi &&
                    (Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.BOS
                    || Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.KAYITLI
                    || Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.YAYINLANDI))
            {
                <button type="button" class="btn btn-danger pull-right" onclick="sonhal()">SON HAL</button>
            }
            else if (Model.SonHalKaldirmaYetkisiVarMi
                && (Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.SONHAL))
            {
                <button type="button" class="btn btn-danger pull-right" onclick="sonhalkaldir()">SON HAL KALDIR</button>
            }
            else if (Model.SonHalYetkisiVarMi
                && (Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.AKTARILDI
                     || Model.EnumDegerlendirmeAsama == Sabis.Bolum.Core.ABS.DEGERLENDIRME.EnumDegerlendirmeAsama.SONHAL))
            {
                <button type="button" class="btn btn-danger pull-right disabled" >SON HAL VERİLDİ</button>
            }
        }
        else
        {
            <button type="button" class="btn btn-info disabled">YAYINLA</button><span class="bold" style="color:red"> Not giriş tarih aralığında değilsiniz.</span>

            <button type="button" class="btn btn-danger pull-right disabled">SON HAL</button>
        }
    </div>
</div>


<script src="~/Content/assets/global/plugins/bootbox/bootbox.min.js"></script>

<script type="text/javascript">


    function uyariGoster(url, params) {
        $.post(url, params)
          .done(function (data) {
              console.log(data);

              if (data != null) {
                  if (data.length > 0) {
                      var mesaj = "<ul>";
                      $.each(data, function (i, item) {
                          mesaj += "<li><strong>" + item.Baslik + "</strong> " + item.Mesaj + "</li>"
                      });
                      mesaj += "</ul>";

                      bootbox.dialog({
                          message: mesaj,
                          title: "İşlem sırasında sorunla karşılaşıldı",
                          onEscape: false,
                          closeButton: false,
                          buttons: {
                              main: {
                                  label: "Tamam",
                                  className: "btn-primary",
                                  callback: function () {
                                      // window.location.reload();
                                  }
                              }
                          }
                      });

                  } else {
                      window.location.reload();
                  }
              }
          })
          .fail(function (data) {
              console.log(data);
          });
    }

    function raporToggle() {
        $("#degerlendirmeContainer").toggle();
        $("#raporContainer").toggle();
    }

    function sonhal() {
        var params = {
            ID: '@ViewBag.grupID'
        }
        uyariGoster("/Ders/Degerlendirme/SonHalSerbest", params);
    }

    function sonhalkaldir() {
        var params = {
            ID: '@ViewBag.grupID'
        }
        uyariGoster("/Ders/Degerlendirme/SonHalKaldirSerbest", params);
    }

    function yayinla() {
        var params = {
            ID: '@ViewBag.grupID'
        }
        uyariGoster("/Ders/Degerlendirme/YayinlaSerbest", params);
    }

    function yayindankaldir() {
        var params = {
            ID: '@ViewBag.grupID'
        }
        uyariGoster("/Ders/Degerlendirme/YayindanKaldirSerbest", params);
    }

    function basarilistesiFinal(grupid) {
        GlobalAjaxLoader = false;

        $.blockUI({ message: '<h1>Rapor Hazırlanıyor</h1>' });
        raporToggle();
        $("#rapor").attr("src", "about:blank");

        $.post('@Url.Action("BasariListesiOlusturSerbest", "Degerlendirme")', { ID: grupid, butunlemeMi : false })
        .done(function (data) {
            $("#rapor").attr("src", data);
            document.getElementById('rapor').onload = function () {
                $.unblockUI();
            }
        })
        .fail(function (data) {
            $.unblockUI();
        });

    }

    function basarilistesiButunleme(grupid) {
        GlobalAjaxLoader = false;

        $.blockUI({ message: '<h1>Rapor Hazırlanıyor</h1>' });
        raporToggle();
        $("#rapor").attr("src", "about:blank");

        $.post('@Url.Action("BasariListesiOlusturSerbest", "Degerlendirme")', { ID: grupid, butunlemeMi : true })
        .done(function (data) {
            $("#rapor").attr("src", data);
            document.getElementById('rapor').onload = function () {
                $.unblockUI();
            }
        })
        .fail(function (data) {
            $.unblockUI();
        });

    }

    function gecmislisteler(grupid) {
        var params = {
            ID: grupid
        }
        //SDFSClient.FileClient.GetUrl(item.OGRDosya.DosyaKey, OISession.Kullanici)
        $.post("/Ders/Degerlendirme/BasariRaporListele", params)
          .done(function (data) {
              console.log(data);

              var mesaj = "<ul>";
              $.each(data, function (i, item) {
                  mesaj += "<li><a href=" + item.Url + ">" + item.Tarih + "</a></li>"
              });
              mesaj += "</ul>";

              if (data.length < 1) {
                  mesaj = "<li>Daha önce alınmış başarı listesi bulunamadı.</li>"
              }

              bootbox.dialog({
                  message: mesaj,
                  title: "Başarı Listeleri",
                  onEscape: false,
                  closeButton: false,
                  buttons: {
                      main: {
                          label: "Tamam",
                          className: "btn-primary",
                          callback: function () {

                          }
                      }
                  }
              });
          })
          .fail(function (data) {
              console.log(data);
          });
    }

</script>