﻿@using Dil = DilWebClient.Cevir
@model List<Sabis.Bolum.WebUI.Areas.Ders.Models.OgrenciBasariNotGirisVM>

@using Sabis.Enum
@{
    ViewBag.Title = "Başarı Not Girişi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string durum = "";
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    Sabis.Bolum.Core.ABS.DERS.DERSDETAY.DersDetayVM dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
    bool sonHalVerildiMi = Sabis.Bolum.Bll.SOURCE.ABS.GENEL.GENELMAIN.SonHalVerildiMi(dersDetay.DersGrupID, dersDetay.ButunlemeMiOrijinal);
    string sonHal = sonHalVerildiMi.ToString().Replace("True", "disabled").Replace("False", ""); 

    //var payBilgileri = Sabis.Bolum.Bll.SOURCE.ABS.DERS.PAYMAIN.GetirPayBilgileri(dersDetay.DersGrupID); // RMZN edit, gereksiz içerik

}

@*@Html.Action("_pGrupDersDetaylari", "Detay", new { redirect = false })*@

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>
                @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd
                @if (dersDetay.EnumOgretimTur != null)
                {
                    <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                }
                - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
            </li>
        </ul>
    </div>
}

@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")

@Html.Action("BasariNotDegerlendirme", "BasariNotGirisi", new { grupID = ViewBag.DersGrupID })

<!--div class="panel panel-primary">
    <div class="panel-heading">Proje Rapor Takvimi</div>
    <div class="panel-body">
        @*@Html.Action("_pProjeTakvimi", "Proje", new { id = dersDetay.DersPlanAnaID, grupid = dersDetay.DersGrupID, ekleGoster = "false" })*@
        Proje Takvim Bilgisi bulunamadı.
    </div>
</div-->

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">@Dil.Getir("basari_not_girisi")</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">

                <div class="col-md-6" style="padding-left: 0;">
                    <button  @sonHal  type="button" id="btnNotKaydet" class="btn btn-success" style="margin-bottom: 20px;">Kaydet</button>
                </div>
                <div class="col-md-6 text-right" style="padding-right:0;">
                    @*if (Model.FirstOrDefault().YayinlandiMi == false)
                        {
                            <button data-fkdersplananaid="@dersDetay.DersPlanAnaID" data-fkdersgrupid="@dersDetay.DersGrupID" data-toggle="tooltip" title="@Dil.Getir("yayinla")" class="btn btn-info btn-label btnYayinla"><i data-checked="false" class="fa fa-envelope"></i> @Dil.Getir("yayinla")</button>
                        }
                        else
                        {
                            <button data-fkdersplananaid="@dersDetay.DersPlanAnaID" data-fkdersgrupid="@dersDetay.DersGrupID" data-toggle="tooltip" title="@Dil.Getir("yayindan_kaldir")" class="btn btn-inverse btn-label btnYayindanKaldir"><i data-checked="false" class="fa fa-envelope"></i> @Dil.Getir("yayindan_kaldir")</button>
                        }*@
                </div>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="info">
                            <th>@Dil.Getir("numara")</th>
                            <th>@Dil.Getir("ad_soyad")</th>
                            <th>Yönetmelik</th>
                            @if (dersDetay.ButunlemeMiOrijinal)
                            {
                                <th>Önceki Notu</th>
                            }
                            <th>@Dil.Getir("basari_notu")</th>
                            <th>Raporlar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            
                            <tr>
                                <td>@item.Numara</td>
                                <td>@item.Ad @item.Soyad</td>
                                <td>@item.YonetmelikAciklama</td>
                                @if (item.ButunlemeMi)
                                {
                                    var notIE = item.BasariNotlari.Where(x => x.ID == item.ButunlemeOncesiMutlakHarf.Value);
                                    if (notIE != null && notIE.Count() > 0) 
                                    {
                                        <td> @notIE.First().Ad </td>
                                    }
                                    else
                                    {
                                        <td> Bilinmiyor </td>
                                    }

                                }

                                <td>
                                    <select @sonHal id="basariNotu" class="basariNotu" data-ogrenciid="@item.OgrenciID" data-ad="@item.Ad" data-soyad="@item.Soyad" data-numara="@item.Numara" data-dersgrupid="@item.DersGrupID" data-dersplanid="@item.DersPlanID" data-yazilmaid="@item.YazilmaID" data-dersplananaid="@item.DersPlanAnaID">

                                        @foreach (EnumDTO basariNotu in item.BasariNotlari)
                                        {
                                            durum = "";
                                            if (item.MutlakHarf == basariNotu.ID)

                                            {
                                                durum = "selected";
                                            }
                                            <option data-mutlakharf="@item.MutlakHarf" data-basari="@basariNotu.ID" value="@basariNotu.ID" @durum>@basariNotu.TurkceAd.ToString()</option>
                                        }
                                         


                                    </select>
                                </td>
                                <td>
                                    @foreach (var rapor in item.OgrenciRaporlar)
                                    {
                                        <span class="btn btn-success durum_@rapor.RaporDurum">

                                            <a href="#" style="text-decoration:none; color:white !important;" data-title='Rapor Detay' data-toggle='tooltip modal' data-source='/Ders/Proje/RaporDetay?raporid=@rapor.ID'>
                                                @rapor.RaporNo. Rapor (@Sabis.Enum.Utils.GetEnumDescription((Sabis.Bolum.Core.ABS.DERS.SINAV.RaporDurum)@rapor.RaporDurum))
                                            </a>
                                        </span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

@*if (dersDetay.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.ISYERI_UYGULAMASI ||
                     dersDetay.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.BITIRME ||
                     dersDetay.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.ENSTITU_PROJE ||
                     dersDetay.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.TASARIM ||
                     dersDetay.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.STAJ ||
                     dersDetay.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.UZMANLIKALANI ||
                     (dersDetay.EnumDegerlendirmeTip == (int)Sabis.Enum.EnumDegerlendirmeTipi.BASARI_NOT)
                    )
    {
        <script>
            $("#btnDegerlendirme").hide();
        </script>
    }
*@

<style>
    .durum_1 {
        background-color: #ff6d00;
    }

    .durum_2 {
        background-color: #18b00c
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnNotKaydet").click(function () {
            var dersGrupID = '@dersDetay.DersGrupID';
            var notListesi = [];
            $(".basariNotu > option:selected").each(function () {
                var ogrenci = {
                    OgrenciID: $(this).parent().data("ogrenciid"),
                    Numara: $(this).parent().data("numara"),
                    Ad: $(this).parent().data("ad"),
                    Soyad: $(this).parent().data("soyad"),
                    DersGrupID: $(this).parent().data("dersgrupid"),
                    DersPlanID: $(this).parent().data("dersplanid"),
                    DersPlanAnaID: $(this).parent().data("dersplananaid"),
                    MutlakHarf: 0,
                    YazilmaID: $(this).parent().data("yazilmaid"),
                    PersonelID: '@Sabitler.KullaniciID',
                    BasariHarf: this.value
                };
                notListesi.push(ogrenci);
            });

            $.post("/Ders/BasariNotGirisi/NotKaydet/", { dersGrupID: dersGrupID, notListesi: notListesi, dersGrupHocaID: '@dersGrupHocaID' })
             .success(function (json) {
                 toastr.success("@Dil.Getir("not_giris_tamamlandi")");
             });
        });

        $(".basariNotu").each(function (i, obj) {
            if ($(this).val() == "0") {
                $("#btnDegerlendirme").html('<a href="#" onclick="alert(\'HATA! Eksik öğrenci notları bulunuyor.\')"><i class="fa fa-pencil fa-2x"></i><br /> <span>@Dil.Getir("degerlendirme")</span></a>');
            }
        });
    });

    $(document).on("click", ".btnYayinla", function () {
        var $cBtn = $(this);
        $cBtn.attr("enabled", true);

        $.post("/Ders/BasariNotGirisi/BasariNotYayinIslem", { fkDersPlanAnaID: $cBtn.attr("data-fkdersplananaid"), fkDersGrupID: $cBtn.attr("data-fkdersgrupid"), yayinDurum: true })
            .success(function (json) {
                if (json == true) {
                    $cBtn.removeClass("btnYayinla btn-info").addClass("btnYayindanKaldir btn-inverse").html('<i class="fa fa-envelope"></i> Yayından Kaldır');
                    toastr.success("Yayınlandı");
                }
                else {
                    toastr.error("Hata oluştu");
                }
            });
    });

    $(document).on("click", ".btnYayindanKaldir", function () {
        $cBtn = $(this);
        $cBtn.attr("enabled", true);

        $.post("/Ders/BasariNotGirisi/BasariNotYayinIslem", { fkDersPlanAnaID: $cBtn.attr("data-fkdersplananaid"), fkDersGrupID: $cBtn.attr("data-fkdersgrupid"), yayinDurum: false })
            .success(function (json) {
                if (json == true) {
                    $cBtn.removeClass("btnYayindanKaldir btn-inverse").addClass("btnYayinla btn-info").html('<i class="fa fa-envelope"></i>  Yayınla');
                    toastr.info("Yayından kaldırıldı.");
                }
                else {
                    toastr.error("Hata oluştu");
                }
            });
    });
</script>