﻿@model Sabis.Bolum.Core.ABS.DERS.OSINAV.OSinavSoruDurum
@{
    Layout = null;
}
@Html.HiddenFor(model => model.SoruID, new { @id="hdnSoruID"})
@if (Model.Kullanimda == false)
{
    <div class="alert alert-dismissable alert-danger">
        Bu soru öğrenciler tarafından görülmüş ve cavap verilmiştir. Bu yüzden silinemez.       
    </div>
}
else
{  
        <button id="btnSoruSil" type="submit" class="btn blue">Onayla</button>

}
<script>
    $(document).ready(function () {
        $("#btnSoruSil").click(function () {
            var SoruID = $("#hdnSoruID").val();
            var data = { SoruID: SoruID };
            $.post("/Ders/Sinav/_OnlineSinavSoruSilOnay", data)
            .success(function (json) {
                alert("test");
                $("#btnModalClose").trigger("click");
                toastr.info("Soru Silindi.");
            });
        });
    
    });
</script>

