﻿@model Sabis.Bolum.Core.ABS.DERS.OSINAV.OSinavSoruEkle
@{
    ViewBag.Title = "SoruEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
<link href="~/Content/assets/global/plugins/jquery-fileupload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/jquery-fileupload/css/jquery.fileupload-ui.css" rel="stylesheet" />
<script src="/Content/assets/global/plugins/jquery-fileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="/Content/assets/global/plugins/jquery-fileupload/js/jquery.iframe-transport.js"></script>
<script src="/Content/assets/global/plugins/jquery-fileupload/js/jquery.fileupload.js"></script>
@Html.Action("_pGrupDersDetaylari", "Detay")
@using (Html.BeginForm())
{

@Html.HiddenFor(model => model.SinavID)
@Html.HiddenFor(model => model.PaylarOlcmeID)
@Html.HiddenFor(model => model.PayOlcmeSoruNo)
@Html.HiddenFor(model => model.PayID)
@Html.HiddenFor(model => model.GrupHocaID)
@Html.ValidationSummary("", new { @class = "myvalidation" })
    <div class="panel panel-primary wrapper2">
        <div class="panel-heading bar-arkaplan">
            Soru Ekle
        </div>
        <div class="panel-body div2">
            <div class="col-lg-6">
                <div class="form-group">

                    <div class="col-lg-12">
                        <span class="label label-primary label-md" style="font-size:16px;">@Model.SinavAd</span>
                        <br />
                        <br />
                        @Html.TextAreaFor(model => model.Baslik, new { @class = "ckeditor" })   
                        <br />
                        <br />                     
                    </div>
                    <div class="col-sm-3">
                        <br />
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Resim Ekle</span>
                            <input id="fileupload" type="file" name="files[]" multiple>
                        </span>
                       @Html.HiddenFor(model => model.SoruDosyaKey)
                        <div id="progress" class="progress" style="display: none;">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <table style="width:100%" class="table-answers table table-striped table-bordered table-hover">
                    <tr>
                        <th colspan="3">
                            Seçenekler
                        </th>
                    </tr>
                    <tr class="@(Model.DogruCevap==1?"green":"")">
                        <td class="tdR" style="width:5% !important">@Html.RadioButton("DogruCevap", "1")</td>
                        <td class="tdT" style="width:5% !important">A.</td>
                        <td class="tdA" style="width:90% !important">@Html.TextBoxFor(model => model.Cevap1, new { @class = "form-control" })</td>
                    </tr>
                    <tr class="@(Model.DogruCevap==2?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "2")</td>
                        <td class="tdT">B.</td>
                        <td class="tdA">@Html.TextBoxFor(model => model.Cevap2, new { @class = "form-control" })</td>
                    </tr>
                    <tr class="@(Model.DogruCevap==3?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "3")</td>
                        <td class="tdT">C.</td>
                        <td class="tdA">@Html.TextBoxFor(model => model.Cevap3, new { @class = "form-control" })</td>
                    </tr>
                    <tr class="@(Model.DogruCevap==4?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "4")</td>
                        <td class="tdT">D.</td>
                        <td class="tdA">@Html.TextBoxFor(model => model.Cevap4, new { @class = "form-control" })</td>
                    </tr>
                    <tr class="@(Model.DogruCevap==5?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "5")</td>
                        <td class="tdT">E.</td>
                        <td class="tdA">@Html.TextBoxFor(model => model.Cevap5, new { @class = "form-control" })</td>
                    </tr>
                </table>
                
                

            </div>
            <br />
            <div class="col-lg-12">
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 pull-right">
                            <div class="btn-toolbar pull-right">
                                <a data-toggle="tooltip" title="" class="popbox btn btn-danger btn-label" href="/Ders/Sinav/SinavSorulari/@Model.GrupHocaID?P=@Model.PayID">
                                    <i class="fa fa-times"></i>İptal
                                </a>
                                <button class="btn btn-info btn-label"><i class="fa fa-check"></i> Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<style>
.myvalidation {
    background-color:#d3d3d3;
    color: red;
}
</style>
<script>
    dosyaKey = "";

    $('#fileupload').fileupload({
        url: '/Ders/Dokuman/Upload',
        dataType: 'json',
        done: function (e, data) {
            if (data.result.DosyaKey != null)
            {
                dosyaKey = data.result.DosyaKey;
                $('#SoruDosyaKey').val(dosyaKey);
            }       
        }
    });

    
</script>






























@*<div class="portlet-body">
   
    <div class="portlet light bordered">
        <div class="portlet-body form">
@using (Html.BeginForm())
{
    <script src="http://cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
    @Html.HiddenFor(model => model.SinavID)
    @Html.HiddenFor(model => model.PaylarOlcmeID)
    @Html.HiddenFor(model => model.PayOlcmeSoruNo)
    @Html.HiddenFor(model => model.PayID)
    @Html.HiddenFor(model => model.GrupHocaID)
    @Html.ValidationSummary(false)
            <div class="form-body">
                <div class="form-group">
                    <table style="width:100%" class="table-answers table table-striped table-bordered table-hover">
                        <tr>
                            <th colspan="3">
                                Soru Metni
                            </th>
                        </tr>
                        <tr>
                            <td>
                                @Html.TextAreaFor(model => model.Baslik, new { @class = "form-control" })
                                <textarea id="msg" name="msg" cols="80" rows="20" class="ckeditor"></textarea>
                            </td>
                        </tr>
                    </table>

</div>
                <div class="form-group">
                    <table style="width:100%" class="table-answers table table-striped table-bordered table-hover">
                        <tr>
                            <th colspan="3">
                                Seçenekler
                            </th>
                        </tr>
                        <tr class="@(Model.DogruCevap==1?"green":"")">
                            <td class="tdR" style="width:5% !important">@Html.RadioButton("DogruCevap", "1")</td>
                            <td class="tdT" style="width:5% !important">A.</td>
                            <td class="tdA" style="width:90% !important">@Html.TextBoxFor(model => model.Cevap1, new { @class = "form-control" })</td>
                        </tr>
                        <tr class="@(Model.DogruCevap==2?"green":"")">
                            <td class="tdR">@Html.RadioButton("DogruCevap", "2")</td>
                            <td class="tdT">B.</td>
                            <td class="tdA">@Html.TextBoxFor(model => model.Cevap2, new { @class = "form-control" })</td>
                        </tr>
                        <tr class="@(Model.DogruCevap==3?"green":"")">
                            <td class="tdR">@Html.RadioButton("DogruCevap", "3")</td>
                            <td class="tdT">C.</td>
                            <td class="tdA">@Html.TextBoxFor(model => model.Cevap3, new { @class = "form-control" })</td>
                        </tr>
                        <tr class="@(Model.DogruCevap==4?"green":"")">
                            <td class="tdR">@Html.RadioButton("DogruCevap", "4")</td>
                            <td class="tdT">D.</td>
                            <td class="tdA">@Html.TextBoxFor(model => model.Cevap4, new { @class = "form-control" })</td>
                        </tr>
                        <tr class="@(Model.DogruCevap==5?"green":"")">
                            <td class="tdR">@Html.RadioButton("DogruCevap", "5")</td>
                            <td class="tdT">E.</td>
                            <td class="tdA">@Html.TextBoxFor(model => model.Cevap5, new { @class = "form-control" })</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-actions">
                <button id="btnSoruEkle" type="submit" class="btn blue">Kaydet</button>
            </div>
}          
        </div>
    </div>
    <div class="clearfix margin-bottom-20"> </div>
</div>
<script type="text/javascript">

        CKEDITOR.replace('msg',
        {
            //uiColor: '#9AB8F3',
          
            removePlugins: 'elementspath',
            fillEmptyBlocks: false

        });

        


</script>*@




