﻿@model List<Sabis.Bolum.Core.ABS.DERS.SINAV.CevapAnahtariVM>
@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL
@{
    int SoruSayisi;
    if (ViewBag.FKSinavID != 0 && !string.IsNullOrEmpty(Request.QueryString["SS"]))
    {
        SoruSayisi = Convert.ToInt32(Request.QueryString["SS"]);
    }
    else
    {
        SoruSayisi = 0;
    }
    int FKSinavID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var cvpList = SINAVMAIN.GetirCevapAnahtariListe(FKSinavID);


    int FKDersGrupHocaID = Convert.ToInt32(Request.QueryString["D"]);
    var dersDetay = Sabitler.GetirDersDetay(FKDersGrupHocaID);
    bool koordinatorMu = GENELMAIN.KoordinatorMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);

    string durum = "";

    if (!koordinatorMu)
    {
        durum = "disabled";
    }

    bool cevapA = cvpList.Any(x => x.CevapA != null);
    bool cevapB = cvpList.Any(x => x.CevapB != null);
    bool cevapC = cvpList.Any(x => x.CevapC != null);
    bool cevapD = cvpList.Any(x => x.CevapD != null);

    List<string> aCevap = new List<string>();
    List<string> bSira = new List<string>();
    List<string> bCevap = new List<string>();
    List<string> cSira = new List<string>();
    List<string> cCevap = new List<string>();
    List<string> dSira = new List<string>();
    List<string> dCevap = new List<string>();

    if (cevapA)
    {
        aCevap = cvpList.Select(x => x.CevapA).FirstOrDefault().Split(',').ToList();
    }

    if (cevapB)
    {
        bSira = cvpList.Select(x => x.SiraB).FirstOrDefault().Split(',').ToList();
        bCevap = cvpList.Select(x => x.CevapB).FirstOrDefault().Split(',').ToList();
    }

    if (cevapC)
    {
        cSira = cvpList.Select(x => x.SiraC).FirstOrDefault().Split(',').ToList();
        cCevap = cvpList.Select(x => x.CevapC).FirstOrDefault().Split(',').ToList();
    }

    if (cevapD)
    {
        dSira = cvpList.Select(x => x.SiraD).FirstOrDefault().Split(',').ToList();
        dCevap = cvpList.Select(x => x.CevapD).FirstOrDefault().Split(',').ToList();
    }

}

<div class="row">
    <div class="col-md-6">
        <table id="tblGruplar" class="table table-bordered">
            <tbody>
                <tr>
                    <td>Gruplar</td>
                    <td>
                        <label class="mt-radio">
                            <input type="radio" name="optionsRadios" id="rbGrupA" value="A" checked="" @durum> A
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <label class="mt-radio">
                            <input type="radio" name="optionsRadios" id="rbGrupB" value="B" @durum> B
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <label class="mt-radio">
                            <input type="radio" name="optionsRadios" id="rbGrupC" value="C" @durum> C
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <label class="mt-radio">
                            <input type="radio" name="optionsRadios" id="rbGrupD" value="D" @durum> D
                            <span></span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<style>
    .mt-radio input {
        width: 20px;
        height: 20px;
    }

    .mt-radio {
        font-size: 20px;
    }
</style>

@if (Model.Any())
{
    <table id="tblCevapAnahtari" class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="info">
                <th colspan="2" class="text-center">A Grubu</th>
                <th colspan="3" class="text-center grupB" style="display: none;">B Grubu <span id="btnEsitleB" style="cursor: pointer;">(A Grubu İle Eşitle)</span></th>
                <th colspan="3" class="text-center grupC" style="display: none;">C Grubu <span id="btnEsitleC" style="cursor: pointer;">(B Grubu İle Eşitle)</span></th>
                <th colspan="3" class="text-center grupD" style="display: none;">D Grubu <span id="btnEsitleD" style="cursor: pointer;">(C Grubu İle Eşitle)</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th style="background-color: #DCDCDC;">Soru</th>
                <th style="background-color: #DCDCDC;">Cevap</th>
                <th class="grupB" style="display: none;background-color: #FFFACD;">Soru</th>
                <th class="grupB" style="display: none;background-color: #FFFACD;">A Grubu Sıra</th>
                <th class="grupB" style="display: none;background-color: #FFFACD;">Cevap</th>
                <th class="grupC" style="display: none;background-color: #DCDCDC;">Soru</th>
                <th class="grupC" style="display: none;background-color: #DCDCDC;">A Grubu Sıra</th>
                <th class="grupC" style="display: none;background-color: #DCDCDC;">Cevap</th>
                <th class="grupD" style="display: none;background-color: #FFFACD;">Soru</th>
                <th class="grupD" style="display: none;background-color: #FFFACD;">A Grubu Sıra</th>
                <th class="grupD" style="display: none;background-color: #FFFACD;">Cevap</th>
            </tr>
            @for (int soru = 1; soru <= SoruSayisi; soru++)
            {
                <tr>
                    <td style="background-color: #DCDCDC !important;">Soru @soru</td>
                    <td style="background-color: #DCDCDC !important;">
                        @if (cevapA)
                        {

                            <select class="form-control ddlA" data-soru="@soru" @durum>
                                @for (int i = 1; i <= 6; i++)
                                {
                                    string selected = "";
                                    string value = i.ToString().Replace("1", "A").Replace("2", "B").Replace("3", "C").Replace("4", "D").Replace("5", "E").Replace("6", "X");
                                    if (value == aCevap.ElementAt(soru - 1))
                                    {
                                        selected = "selected";
                                    }
                                    <option value="@value" @selected>@value.Replace("X", "Hatalı Soru (tüm cevaplar doğru kabul edilsin)")</option>
                                }
                            </select>
                        }
                        else
                        {
                            <select class="form-control ddlA" data-soru="@soru" @durum>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="X">Hatalı Soru (tüm cevaplar doğru kabul edilsin)</option>
                            </select>
                        }
                    </td>

                    <td class="grupB" style="display: none; background-color: #FFFACD !important;">Soru @soru</td>
                    <td class="grupB" style="display: none; max-width: 50px;background-color: #FFFACD !important;">
                        @if (cevapB)
                        {
                            <input type="text" class="form-control" value="@bSira.ElementAt(soru-1)" />
                        }
                        else
                        {
                            <input type="text" class="form-control txtSoruSira" data-grup="B" data-soru="@soru" value="@soru" />
                        }
                    </td>
                    <td class="grupB" style="display: none; background-color: #FFFACD !important;">
                        @if (cevapB)
                        {
                            <select class="form-control ddlB" data-soru="@soru" @durum>
                                @for (int i = 1; i <= 6; i++)
                                {
                                    string selected = "";
                                    string value = i.ToString().Replace("1", "A").Replace("2", "B").Replace("3", "C").Replace("4", "D").Replace("5", "E").Replace("6", "X");
                                    if (value == bCevap.ElementAt(soru - 1))
                                    {
                                        selected = "selected";
                                    }
                                    <option value="@value" @selected>@value.Replace("X", "Hatalı Soru (tüm cevaplar doğru kabul edilsin)")</option>
                                }
                            </select>
                        }
                        else
                        {
                            <select class="form-control ddlB" data-soru="@soru" @durum>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="X">Hatalı Soru (tüm cevaplar doğru kabul edilsin)</option>
                            </select>
                        }
                    </td>

                    <td class="grupC" style="display: none; background-color: #DCDCDC !important;">Soru @soru</td>
                    <td class="grupC" style="display: none; max-width: 50px; background-color: #DCDCDC !important;">
                        @if (cevapC)
                        {
                            <input type="text" class="form-control" value="@cSira.ElementAt(soru-1)" />
                        }
                        else
                        {
                            <input type="text" class="form-control txtSoruSira" data-grup="C" data-soru="@soru" value="@soru" />

                        }
                    </td>
                    <td class="grupC" style="display: none; background-color: #DCDCDC !important;">
                        @if (cevapC)
                        {
                            <select class="form-control ddlC" data-soru="@soru" @durum>
                                @for (int i = 1; i <= 6; i++)
                                {
                                    string selected = "";
                                    string value = i.ToString().Replace("1", "A").Replace("2", "B").Replace("3", "C").Replace("4", "D").Replace("5", "E").Replace("6", "X");
                                    if (value == cCevap.ElementAt(soru - 1))
                                    {
                                        selected = "selected";
                                    }
                                    <option value="@value" @selected>@value.Replace("X", "Hatalı Soru (tüm cevaplar doğru kabul edilsin)")</option>
                                }
                            </select>
                        }
                        else
                        {
                            <select class="form-control ddlC" data-soru="@soru" @durum>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="X">Hatalı Soru (tüm cevaplar doğru kabul edilsin)</option>
                            </select>
                        }
                    </td>

                    <td class="grupD" style="display: none; background-color: #FFFACD !important;">Soru @soru</td>
                    <td class="grupD" style="display: none; max-width: 50px;background-color: #FFFACD !important;">
                        @if (cevapD)
                        {
                            <input type="text" class="form-control" value="@dSira.ElementAt(soru-1)" />
                        }
                        else
                        {
                            <input type="text" class="form-control txtSoruSira" data-grup="D" data-soru="@soru" value="@soru" />
                        }
                    </td>
                    <td class="grupD" style="display: none; background-color: #FFFACD !important;">
                        @if (cevapD)
                        {
                            <select class="form-control ddlD" data-soru="@soru" @durum>
                                @for (int i = 1; i <= 6; i++)
                                {
                                    string selected = "";
                                    string value = i.ToString().Replace("1", "A").Replace("2", "B").Replace("3", "C").Replace("4", "D").Replace("5", "E").Replace("6", "X");
                                    if (value == dCevap.ElementAt(soru - 1))
                                    {
                                        selected = "selected";
                                    }
                                    <option value="@value" @selected>@value.Replace("X", "Hatalı Soru (tüm cevaplar doğru kabul edilsin)")</option>
                                }
                            </select>
                        }
                        else
                        {
                            <select class="form-control ddlD" data-soru="@soru" @durum>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="X">Hatalı Soru (tüm cevaplar doğru kabul edilsin)</option>
                            </select>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>

    if (koordinatorMu)
    {
        <button id="btnCevapKaydet" class="btn default">Kaydet</button>
    }
}


<script>
    $("#btnCevapKaydet").click(function () {
        //var grupA = [];
        //var grupB = [];
        //var grupC = [];
        //var grupD = [];

        var cevapA = [];
        var cevapB = [];
        var cevapC = [];
        var cevapD = [];
        var siraB = [];
        var siraC = [];
        var siraD = [];

        $(".ddlA").each(function (i, obj) {
            cevapA.push($(obj).val());
            //var soru = { Soru: $(obj).attr("data-soru"), Cevap: $(obj).val() };
            //grupA.push(soru);
        });


        if ($("#rbGrupB").is(":checked") || $("#rbGrupC").is(":checked") || $("#rbGrupD").is(":checked")) {
            $(".ddlB").each(function (i, obj) {
                cevapB.push($(obj).val());
                siraB.push($(this).parent().prev().children("input").first().val());
            });
            //$(".ddlB").each(function (i, obj) {
            //    var soru = { Soru: $(obj).attr("data-soru"), Sira: $(this).parent().prev().children("input").first().val(), Cevap: $(obj).val() };
            //    grupB.push(soru);
            //});

        }
        if ($("#rbGrupC").is(":checked") || $("#rbGrupD").is(":checked")) {
            $(".ddlC").each(function (i, obj) {
                cevapC.push($(obj).val());
                siraC.push($(this).parent().prev().children("input").first().val());
            });
            //$(".ddlC").each(function (i, obj) {
            //    var soru = { Soru: $(obj).attr("data-soru"), Sira: $(this).parent().prev().children("input").first().val(), Cevap: $(obj).val() };
            //    grupC.push(soru);
            //});
        }
        if ($("#rbGrupD").is(":checked")) {
            $(".ddlD").each(function (i, obj) {
                cevapD.push($(obj).val());
                siraD.push($(this).parent().prev().children("input").first().val());
            });
            //$(".ddlD").each(function (i, obj) {
            //    var soru = { Soru: $(obj).attr("data-soru"), Sira: $(this).parent().prev().children("input").first().val(), Cevap: $(obj).val() };
            //    grupD.push(soru);
            //});
        }

        var cvpAnahtari = {
            FKSinavID: '@FKSinavID',
            CevapA: cevapA.join(","),
            SiraB: siraB.join(","),
            CevapB: cevapB.join(","),
            SiraC: siraC.join(","),
            CevapC: cevapC.join(","),
            SiraD: siraD.join(","),
            CevapD: cevapD.join(","),
        };

        $.post("/Ders/Sinav/KaydetCevapAnahtari", { cevapAnahtari: cvpAnahtari })
         .success(function (json) {
             if (json) {
                 toastr.success("Cevap anahtarı kaydedildi");
             }
             else {
                 toastr.error("Bir hata oluştu");
             }
         });
    });

    $("input[name=optionsRadios]").on("click", function () {
        var slct = $(this).val();
        if (slct == "A") {
            $(".grupB").hide(1000);
            $(".grupC").hide(1000);
            $(".grupD").hide(1000);
        }
        if (slct == "B") {
            $(".grupB").show(1000);
            $(".grupC").hide(1000);
            $(".grupD").hide(1000);
        }
        if (slct == "C") {
            $(".grupB").show(1000);
            $(".grupC").show(1000);
            $(".grupD").hide(1000);
        }
        if (slct == "D") {
            $(".grupB").show(1000);
            $(".grupC").show(1000);
            $(".grupD").show(1000);
        }
    });

    $("#btnEsitleB").click(function () {
        $(".ddlA").each(function (i, obj) {
            $('.ddlB[data-soru="' + $(this).attr("data-soru") + '"').val($(this).val());
        });
    });

    $("#btnEsitleC").click(function () {
        $(".ddlB").each(function (i, obj) {
            $('.ddlC[data-soru="' + $(this).attr("data-soru") + '"').val($(this).val());
        });
    });

    $("#btnEsitleD").click(function () {
        $(".ddlC").each(function (i, obj) {
            $('.ddlD[data-soru="' + $(this).attr("data-soru") + '"').val($(this).val());
        });
    });

</script>

<style>
    #tblCevapAnahtari td, #tblCevapAnahtari th, #tblGruplar td {
        text-align: center !important;
    }
</style>

@if (!cevapB && !cevapC && !cevapD)
{
    <script>
        $(document).ready(function () {
            $("#rbGrupA").trigger("click");
        });
    </script>
}

@if (cevapB)
{
    <script>
        $(document).ready(function () {
            $("#rbGrupB").trigger("click");
        });
    </script>
}
@if (cevapC)
{
    <script>
        $(document).ready(function () {
            $("#rbGrupC").trigger("click");
        });
    </script>
}
@if (cevapD)
{
    <script>
        $(document).ready(function () {
            $("#rbGrupD").trigger("click");
        });
    </script>
}

<script>
    $(".txtSoruSira").on("keyup", function () {
        var soruNo = $(this).val();
        var oncekiSoru = $(this).attr("data-soru");
        var grup = $(this).attr("data-grup");
        var aGrubuCevap = $(".ddlA[data-soru=" + soruNo + "] option:selected").text();
        $(".ddl" + grup + "[data-soru=" + oncekiSoru + "]").val(aGrubuCevap);
    });
</script>