﻿@model List<Sabis.Bolum.Core.ABS.DERS.SINAV.SinavKagidiVM>
@using Sabis.Bolum.Core.ENUM.ABS
@{ 
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    int FKPaylarID = Convert.ToInt32(Request.QueryString["P"]);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
    var toplamOptik = Sabis.Bolum.Bll.SOURCE.ABS.DERS.SINAVMAIN.GetirToplamOptikKagitSayisi();
}

@*<script>
    lightbox.option({
        'fitImagesInViewport': true
    })
</script>*@

@*<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>*@

<h3 class="pull-left">Dosya Listesi (@Model.Count()) Adet @*- <span>%</span>@if (Model.Count(x => x.EnumKagitOkumaDurumu == 2) > 0)
    {
        <span>@Convert.ToInt32((Model.Count(x => x.EnumKagitOkumaDurumu == 2) / Model.Count()) * 100)</span>
    }
    else
    {
        <span>0</span>
    } Tamamlandı*@</h3>
<h3 class="pull-right">Sunucudaki Yoğunluk: @toplamOptik adet</h3>


<table id="tblDosya" class="table table-striped table-bordered table-condensed table-hover" style="margin-top: 20px;">
    <thead>
        <tr class="info">
            <th class="col-md-2">Öğrenci No</th>
            <th class="col-md-3">Ad Soyad</th>
            <th class="col-md-2 text-center">Eklenme Tarihi</th>
            <th class="col-md-3 text-center">Durum</th>
            <th class="col-md-5 text-center">İşlem</th>
        </tr>
    </thead>
    <tbody id="tblDosyaListe">
        @foreach (var item in Model.OrderByDescending(x => x.EnumKagitOkumaDurumu))
        {
            <tr>
                <td>@item.OgrenciNo</td>
                <td>@item.OgrenciAdSoyad</td>
                <td class="text-center">@item.TarihKayit</td>

                <td title="@item.HataDetay" class="text-center" style="color: white; background-color: @item.EnumKagitOkumaDurumu.ToString().Replace("1", "#F0E68C").Replace("2", "#6495ED").Replace("3", "#F08080") !important;">
                    @Sabis.Enum.Utils.GetEnumDescription((EnumKagitOkumaDurumu)item.EnumKagitOkumaDurumu)
                </td>
                @if (dersDetay.SonHalVerildiMi)
                {
                    <td class="text-center">
                        <a href="@SDFSClient.FileClient.GetUrl(item.DosyaKey)" class="btn btn-sm btn-icon-only default" title="İndir"><i class="fa fa-download"></i></a>
                    </td>
                }
                else
                {
                    <td class="text-center">
                        @if (item.EnumKagitOkumaDurumu == (int)EnumKagitOkumaDurumu.OKUNDU || item.EnumKagitOkumaDurumu == (int)EnumKagitOkumaDurumu.HATA)
                        {
                            <button class="btn default btnDuzenle btn-sm" data-toggle="modal" data-title="@item.OgrenciNo Öğrenci Sınav Kağıdı" data-size="80" data-source="/Ders/Sinav/_pSinavKagidiDuzenle/@item.ID?P=@FKPaylarID&H=@dersGrupHocaID">Düzenle</button>
                        }
                        <a href="@SDFSClient.FileClient.GetUrl(item.DosyaKey)" class="btn btn-icon-only default btn-sm" title="İndir"><i class="fa fa-download"></i></a>
                        <a class="btn btn-icon-only btn-danger btn-sm btnSil" data-id="@item.ID"><i class="fa fa-remove"></i></a>
                    </td>
                }
            </tr>
        }
        @if (Model.Count == 0)
        {
            <tr><td colspan="5">Eklenmiş dosya bulunamadı</td></tr>
        }
    </tbody>
</table>

@*<script>
    $(document).ready(function () {
        $('#tblDosya').DataTable({
            "paging": false,
            "ordering": false,
            "info": false
        });
    });
</script>*@

@*<style>
    .dataTables_filter input {
        border: 1px solid red;
        text-align: center;
    }
</style>*@