﻿@model List<string>
@{ 
    int sayac = 1;
}

<link href="~/Content/assets/global/plugins/jquery-easyzoom/easyzoom.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-easyzoom/easyzoom.js"></script>

@if (Model.Count == 0)
{
    <h3>Öğrenciye ait yüklenmiş sınav kağıdı bulunmuyor.</h3>
}


@if (Model.Count > 0)
{
    <div class="col-md-12" style="padding-left: 0; padding-right: 0; margin-bottom: 20px;">
        <div class="col-md-4"><button id="btnOnceki" class="btn default">Önceki</button></div>
        <div class="col-md-4 text-center" id="kagitSayisi"></div>
        <div class="col-md-4"><button id="btnSonraki" class="btn default pull-right">Sonraki</button></div>
    </div>

    <div id="img" class="easyzoom easyzoom--overlay"></div>
}

@if (Model != null)
{
    <div id="imgList" style="visibility: hidden;">
        @foreach (var item in Model)
        {
            string ilk = "";
            if (sayac == 1)
            {
                ilk = "imgActive";
            }
            <button class="btn default btnKagit @ilk" data-url="@SDFSClient.FileClient.GetUrl(item)">Görüntü @sayac</button>


            sayac++;

        }
    </div>
}

<script>
    $("#btnOnceki").click(function () {
        if ($(".imgActive").first().prev().length > 0) {
            var imgUrl = $(".imgActive").first().prev().attr("data-url");
            $("#img").html('<a href="' + imgUrl + '"><img src="' + imgUrl + '" class="col-md-12 col-sm-12 col-xs-12" alt="" /></a>');
            $item = $(".imgActive").first();
            $item.prev().addClass("imgActive");
            $item.removeClass("imgActive");
        }
        $('.easyzoom').easyZoom();
    });

    $("#btnSonraki").click(function () {
        if ($(".imgActive").first().next().length > 0) {
            var imgUrl = $(".imgActive").first().next().attr("data-url");
            $("#img").html('<a href="' + imgUrl + '"><img src="' + imgUrl + '" class="col-md-12 col-sm-12 col-xs-12" alt="" /></a>');
            $item = $(".imgActive").first();
            $item.next().addClass("imgActive");
            $item.removeClass("imgActive");
        }
        $('.easyzoom').easyZoom();
    });

    $(document).ready(function () {
        var imgList = $(".btnKagit");
        $("#kagitSayisi").html("Kağıt Sayısı: " + imgList.length);

        if (imgList.length == 1) {
            $("#btnOnceki,#btnSonraki").hide();
        }

        $("#img").html('<a href="' + $(".imgActive").first().attr("data-url") + '"><img src="' + $(".imgActive").first().attr("data-url") + '" alt="" class="col-md-12 col-sm-12 col-xs-12" /></a>');
        $(".imgActive").first().click();
        $('.easyzoom').easyZoom();
    });
</script>