﻿@model List<Sabis.Bolum.Core.ABS.DERS.DERSDETAY.PayBilgileriVM>
@using Dil = DilWebClient.Cevir
@{
    Sabis.Bolum.Core.ABS.DERS.DERSDETAY.DersDetayVM dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
    //bool koordinatorMu = Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.DersKoordinatoruMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);
    bool sonHalVerildiMi = Sabis.Bolum.Bll.SOURCE.ABS.GENEL.GENELMAIN.SonHalVerildiMi(dersDetay.DersGrupID);

    bool fakulteMi = dersDetay.ProgramID.HasValue && Sabis.Client.BirimIslem.Instance.getirBagliFakulte(dersDetay.ProgramID.Value).EnumBirimTuru == (int)Sabis.Enum.EnumBirimTuru.Fakulte;

    string payList = "";
    if (Model != null)
    {
        foreach (var item in Model)
        {
            payList += item.PayID + "-";
        }
        if (payList.Length > 1)
        {
            payList = payList.Substring(0, payList.Length - 1);
        }

    }

    bool NotGirisModel = false;
    if (dersDetay.FakulteID.HasValue && dersDetay.ProgramID.HasValue)
    {
        NotGirisModel = Sabis.Bolum.Bll.SOURCE.ABS.DERS.DERSMAIN.GetirNotGirisModel(dersDetay.FakulteID.Value, dersDetay.ProgramID.Value);
    }

    bool payKontrol = Sabis.Bolum.Bll.SOURCE.ABS.DERS.PAYMAIN.KontrolPayDurumuDogrumu(dersDetay.DersGrupID, Sabitler.Yil, Sabitler.Donem);
}

<div class="panel panel-primary wrapper2">
    <div class="panel-heading bar-arkaplan">Sınav Listesi</div>
    <div class="panel-body div2">
        @if (!payKontrol)
        {
            <div id="divUyari" class="alert alert-dismissable alert-danger">
                <strong>DİKKAT!</strong> Ön Lisans ve Lisans bölümlerinde yıl içi en az 4 çalışma türü olmak zorundadır! Ders ile ilgili bilgi güncellemeleri dersin koordinatörü tarafından yapılmaktadır.
            </div>
        }
        <table class="table table-striped table-bordered table-hover" style="overflow-x: scroll;">
            <thead>
                <tr class="info">
                    <th class="col-md-1 text-center">
                        <input class="md-radiobtn" style="width: 20px; height: 20px;" id="tumunusec" type="checkbox" onclick="checkAll(this, 'ders')" />
                    </th>
                    <th class="col-md-2">@Dil.Getir("calisma_tipi")</th>
                    <th class="col-md-1 text-center hidden-xs">@Dil.Getir("oran")</th>
                    <th class="col-md-1 text-center">@Dil.Getir("girilen") / @Dil.Getir("toplam")</th>

                    @if (fakulteMi && NotGirisModel)
                    {
                        <th class="col-md-3 text-center">Prog. Çık / Ögr. Çık</th>
                    }
                    <th class="col-md-2 text-center">@Dil.Getir("YayinDurumu")</th>
                    @*<th class="col-md-3 text-center hidden-sm hidden-xs">@Dil.Getir("uzaktan_egitim")</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-1 text-center vert-align">
                            @if (item.ToplamOgrenciSayisi > 0)
                            {
                                if (fakulteMi && NotGirisModel)
                                {
                                    <input style="width: 20px; height: 20px;" class="cbDers md-radiobtn" type="checkbox" name="ders" data-payid="@item.PayID" data-payadi="@item.SiraNo. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-paydurum="@item.TarihAraligiUygunMu" value="@item.PayID" />
                                    @*<input style="width: 20px; height: 20px;" class="cbDers" type="checkbox" name="ders" data-payid="@item.PayID" data-payadi="@item.SiraNo. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-paydurum="@item.TarihAraligiUygunMu" value="@item.PayID" />*@
                                }
                                else
                                {
                                    if (sonHalVerildiMi && item.EnumCalismaTipi != (int)Sabis.Enum.EnumCalismaTip.Butunleme)
                                    {
                                        @*<span>Son hal</span>*@
                                        <input style="width: 20px; height: 20px;" class="cbDers md-radiobtn" type="checkbox" name="ders" data-payid="@item.PayID" data-payadi="@item.SiraNo. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-paydurum="@item.TarihAraligiUygunMu" value="@item.PayID" />
                                    }
                                    else
                                    {
                                        <input style="width: 20px; height: 20px;" class="cbDers md-radiobtn" type="checkbox" name="ders" data-payid="@item.PayID" data-payadi="@item.SiraNo. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-paydurum="@item.TarihAraligiUygunMu" value="@item.PayID" />
                                    }

                                }

                            }
                        </td>
                        <td class="col-md-2 vert-align" id="@item.PayID" name="@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)">
                            <span>@item.SiraNo</span>. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)
                        </td>
                        @if (item.KatkiOrani.HasValue)
                        {
                            <td class="col-md-1 text-center vert-align hidden-xs">%@item.KatkiOrani</td>
                        }
                        else
                        {
                            <td class="col-md-1 text-center vert-align hidden-xs">@item.KatKiOraniPay / @item.KatKiOraniPayda</td>
                        }
                        <td class="col-md-1 text-center vert-align">@item.NotuGirilenOgrenciSayisi / @item.ToplamOgrenciSayisi</td>

                        @if (fakulteMi && NotGirisModel)
                        {
                            var payUrl = "/Ders/Sinav/SinavSorulari/" + dersDetay.DersGrupHocaID + "?P=" + item.PayID;

                            <td class="col-md-3 text-center">

                                <div class="btn-group">
                                    <a class="btn btn-sm default" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                        İşlemler
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@payUrl" style="text-decoration: none;" data-title="Sınav Soruları Düzenle / Görüntüle" @*data-toggle="tooltip modal"*@ data-source="@payUrl" data-width="10" data-backdrop="false" data-keyboard="true" data-original-title="" title="">
                                                <i class="fa fa-pencil" style="background-color: inherit !important"></i> Sınav Düzenle
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Ders/Sinav/Yukle/@dersDetay.DersGrupHocaID?P=@item.PayID" target="_blank" style="text-decoration: none;" data-title="Sınav Soruları Düzenle / Görüntüle" @*data-toggle="tooltip modal"*@ data-source="@payUrl" data-width="10" data-backdrop="false" data-keyboard="true" data-original-title="" title="">
                                                <i class="fa fa-file-text-o" style="background-color: inherit !important"></i> Sınav Kağıt Girişi
                                            </a>
                                        </li>
                                        @if (!sonHalVerildiMi)
                                        {
                                            if (item.EskiNotGirisiAktif)
                                            {
                                                <li>
                                                    <a href="#" class="btnEskiNotGiris" data-toggle="tooltip" data-payid="@item.PayID" data-payadi="@item.SiraNo. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-paydurum="@item.TarihAraligiUygunMu"><i class="fa fa-plus" style="background-color: inherit !important"></i> Not Girişi</a> @if (Sabitler.SimulasyonKullaniciAdi == "umit")
                                                    {     <a href="#" data-toggle="tooltip" data-calismatip="@item.SiraNo @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-title="Ölçme Soruları Not Giriş" class="btnPayNotGir" data-fakulteid="@dersDetay.FakulteID" data-payadi="@item.SiraNo. @item.EnumCalismaTipi" data-payid="@item.PayID" data-paydurum="lecture.TarihAraligiUygunMu">+</a>}
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="#" data-toggle="tooltip" data-calismatip="@item.SiraNo @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-title="Ölçme Soruları Not Giriş" class="btnPayNotGir" data-fakulteid="@dersDetay.FakulteID" data-payadi="@item.SiraNo. @item.EnumCalismaTipi" data-payid="@item.PayID" data-paydurum="lecture.TarihAraligiUygunMu"><i class="fa fa-plus" style="background-color: inherit !important"></i> Not Girişi</a>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li>
                                                Son hal verildi!
                                                @if (Sabitler.SimulasyonKullaniciAdi == "umit")
                                                {
                                                    <a href="#" data-toggle="tooltip" data-calismatip="@item.SiraNo @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-title="Ölçme Soruları Not Giriş" class="btnPayNotGir" data-fakulteid="@dersDetay.FakulteID" data-payadi="@item.SiraNo. @item.EnumCalismaTipi" data-payid="@item.PayID" data-paydurum="lecture.TarihAraligiUygunMu"><i class="fa fa-plus" style="background-color: inherit !important"></i> +</a>
                                                }
                                            </li>
                                        }

                                        <li>
                                            <a href="/Rapor/NotListesi?id=@dersDetay.DersGrupHocaID&payIDList=@item.PayID" data-title="Öğrenci Not Listesi" data-toggle="tooltip"><i class="fa fa-list" style="background-color: inherit !important"></i> Öğrenci Not Listesi</a>
                                        </li>
                                    </ul>
                                </div>
                                @*@if (sonHalVerildiMi || Sabitler.KullaniciAdi == "umit")
                                    {*@
                                <div class="btn-group">
                                    <a class="btn btn-sm default" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                                        Raporlar
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-title="Soru Başarı Raporu" data-toggle="tooltip modal" data-source="/Akreditasyon/_pSoruBasari?dersGrupID=@dersDetay.DersGrupID&payID=@item.PayID" data-size="80" data-backdrop="false" data-keyboard="true" data-original-title="" title="">
                                                Soru Başarı Raporu
                                            </a>
                                        </li>
                                        <li>
                                            <a data-title="Program Çıktı Başarı Raporu" data-toggle="tooltip modal" data-source="/Akreditasyon/_pPCBasari?dersGrupID=@dersDetay.DersGrupID&payID=@item.PayID" data-size="80" data-backdrop="false" data-keyboard="true" data-original-title="" title="">
                                                Program Çıktı Raporu
                                            </a>
                                        </li>
                                        <li>
                                            <a data-title="Öğrenme Çıktı Başarı Raporu" data-toggle="tooltip modal" data-source="/Akreditasyon/_pOCBasari?dersGrupID=@dersDetay.DersGrupID&payID=@item.PayID" data-size="80" data-backdrop="false" data-keyboard="true" data-original-title="" title="">
                                                Öğrenme Çıktı Raporu
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                @*}*@

                            </td>
                        }

                        <td class="col-md-2 text-center vert-align">
                            @if (item.YayinlanmaDurumu == false)
                            {
                                <button data-payid="@item.PayID" data-katkiorani="@item.KatkiOrani" data-enumcalismatipi="@item.EnumCalismaTipi" data-dersgrupid="@dersDetay.DersGrupID" data-toggle="tooltip" title="@Dil.Getir("yayinla")" class="btn btn-info btn-label btnYayinla"><i id="@item.PayID" data-checked="false" class="fa fa-envelope"></i> @Dil.Getir("yayinla")</button>
                            }
                            else
                            {
                                <button data-payid="@item.PayID" data-katkiorani="@item.KatkiOrani" data-enumcalismatipi="@item.EnumCalismaTipi" data-dersgrupid="@dersDetay.DersGrupID" data-toggle="tooltip" title="@Dil.Getir("yayindan_kaldir")" class="btn btn-inverse btn-label btnYayindanKaldir"><i id="@item.PayID" data-checked="false" class="fa fa-envelope"></i> @Dil.Getir("yayindan_kaldir")</button>
                            }
                        </td>


                    </tr>
                }
            </tbody>
        </table>
        @if (fakulteMi && NotGirisModel)
        {
            <div class="alert alert-dismissable alert-danger">
                <strong>BİLGİ!</strong> Not giriş işlemleri sınav oluşturarak yapılacaktır.
            </div>
        }
    </div>
</div>

<style>
    .pad-right-20 {
        padding-right: 20px;
    }
</style>

<script src="~/Scripts/Areas/Ders/Detay/_pGrupPaylar.min.js?version=1"></script>