﻿@model Sabis.Bolum.Core.ABS.DERS.SINAV.SinavKagidiVM
@using Sabis.Bolum.Bll.SOURCE.ABS.DERS;

@{
    int sayac = 1;
    int FKPaylarID = Convert.ToInt32(Request.QueryString["P"]);
    var sinav = SINAVMAIN.GetirSinavDetayi(FKPaylarID);
    var dersGrupHocaID = Convert.ToInt32(Request.QueryString["H"]);

    var url = SDFSClient.FileClient.GetUrl(Model.DosyaKey);
    int FKSinavKagitID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);

    var testPuanList = SINAVMAIN.GetirSinavPuanListesi(FKPaylarID, (int)Sabis.Bolum.Core.ENUM.ABS.EnumSoruTipi.TEST);
    var klasikPuanList = SINAVMAIN.GetirSinavPuanListesi(FKPaylarID, (int)Sabis.Bolum.Core.ENUM.ABS.EnumSoruTipi.KLASIK);

    var sinavGereksinimleri = new Sabis.Bolum.Core.ABS.DERS.SINAV.CevapAnahtari2VM();

    var cevapAnahtari = new List<string>();
    var sinavPuanList = new List<double>();
    if (sinav.EnumSinavTuru != (int)Sabis.Bolum.Core.ENUM.ABS.EnumSinavTuru.KLASIK)
    {
        sinavGereksinimleri = SINAVMAIN.GetirSiraliCevapAnahtari(Model.FKSinavID.Value, FKPaylarID);
        if (sinavGereksinimleri != null)
        {
            if (Model.KagitGrubu == "A" && sinavGereksinimleri.CevapA != null && sinavGereksinimleri.CevapA.Count() > 0) { cevapAnahtari = sinavGereksinimleri.CevapA; sinavPuanList = sinavGereksinimleri.PuanA; }
            if (Model.KagitGrubu == "B" && sinavGereksinimleri.CevapB != null && sinavGereksinimleri.CevapB.Count() > 0) { cevapAnahtari = sinavGereksinimleri.CevapB; sinavPuanList = sinavGereksinimleri.PuanB; }
            if (Model.KagitGrubu == "C" && sinavGereksinimleri.CevapC != null && sinavGereksinimleri.CevapC.Count() > 0) { cevapAnahtari = sinavGereksinimleri.CevapC; sinavPuanList = sinavGereksinimleri.PuanC; }
            if (Model.KagitGrubu == "D" && sinavGereksinimleri.CevapD != null && sinavGereksinimleri.CevapD.Count() > 0) { cevapAnahtari = sinavGereksinimleri.CevapD; sinavPuanList = sinavGereksinimleri.PuanD; }
        }
    }
    else
    {
        sinavPuanList = testPuanList.Concat(klasikPuanList).Select(x => x.SoruPuan.Value).ToList();
    }

}

<link href="~/Content/assets/global/plugins/jquery-easyzoom/easyzoom.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-easyzoom/easyzoom.js"></script>

<div class="row">
    <div class="col-md-12">

        <div id="img" class="col-md-7 easyzoom easyzoom--overlay">
            @*@foreach (var item in Model)
                {*@
            @*string url = SDFSClient.FileClient.GetUrl(Model.DosyaKey);*@
            <a href="@url"><img src="@url" alt="" class="col-md-12 col-sm-12 col-lg-12" /></a>
            @*}*@
        </div>

        <div class="col-md-5">

            <div class="alert alert-info">
                <strong>DİKKAT!</strong> Eğer optik okuma sonuçlarında hata bulunuyorsa değişiklik yapılmalıdır!
            </div>

            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2" class="info text-center">Optik Okuma Sonuçları</th>
                    </tr>
                    <tr class="info">
                        <td>Öğrenci Numara:</td>
                        <td><input id="txtOgrenciNo" type="text" class="form-control" value="@Model.OgrenciNo" /></td>
                    </tr>
                    <tr class="info">
                        <td>Ad Soyad</td>
                        <td>@Model.OgrenciAdSoyad</td>
                    </tr>
                    <tr class="info">
                        <td>Kitapçık Türü</td>
                        <td><input id="txtKitapcikTuru" data-fksinavkagitid="@FKSinavKagitID" type="text" class="form-control" maxlength="1" style="width:50px !important;" value="@Model.KagitGrubu" /></td>
                    </tr>
                </thead>
            </table>

            <table class="table table-bordered table-condensed">
                <thead>
                    <tr class="active">
                        <td class="col-md-3 text-center">Sıra</td>
                        <td class="col-md-3 text-center">Cevaplar</td>
                        <td class="col-md-3 text-center">Cevap Anahtarı</td>
                        <td class="col-md-3 text-center">Soru Puanı</td>
                        <td class="col-md-3 text-center">Sonuç</td>
                        <td class="col-md-3 text-center">Puan</td>
                    </tr>
                </thead>
                <tbody>
                    @if (cevapAnahtari.Count() > 0 && cevapAnahtari != null && Model.Sonuclar != null)
                    {
                        foreach (var item in Model.Sonuclar.Split(','))
                        {

                            string dogruCevap = "Kasik Soru";
                            if ((sayac - 1) < cevapAnahtari.Count())
                            {
                                dogruCevap = cevapAnahtari.ElementAt(sayac - 1);
                                if (cevapAnahtari.ElementAt(sayac - 1) == "X") { dogruCevap = "Hatalı Soru"; }
                            }

                            <tr>
                                <td class="text-center">Cevap @sayac</td>
                                <td class="text-center"><input type="text" class="form-control txt text-center" data-cevap="@dogruCevap" maxlength="3" value="@item" /></td>
                                @if (sinav.EnumSinavTuru != (int)Sabis.Bolum.Core.ENUM.ABS.EnumSinavTuru.KLASIK)
                                {
                                    <td class="text-center">
                                        @dogruCevap
                                    </td>
                                        <td class="text-center">@sinavPuanList.ElementAt(sayac - 1).ToString().Replace(",", ".")</td>
                                    if ((sayac - 1) < cevapAnahtari.Count())
                                    {
                                        <td class="text-center sonuc" data-durum="@Convert.ToBoolean(item == cevapAnahtari.ElementAt(sayac - 1)).ToString().ToLower()" data-tip="test">
                                            @if (item == cevapAnahtari.ElementAt(sayac - 1))
                                            {
                                                <i class="fa fa-check-circle fa-2x" style="color: #36D7B7"></i>
                                            }
                                            else if (cevapAnahtari.ElementAt(sayac - 1) == "X")
                                            {
                                                <i class="fa fa-check-circle fa-2x" style="color: #36D7B7"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-close fa-2x" style="color: #E7505A"></i>
                                            }
                                        </td>
                                        if (item == cevapAnahtari.ElementAt(sayac - 1))
                                        {
                                            <td class="text-center">@sinavPuanList.ElementAt(sayac - 1)</td>
                                        }
                                        else if (cevapAnahtari.ElementAt(sayac - 1) == "X")
                                        {
                                            <td class="text-center">@sinavPuanList.ElementAt(sayac - 1)</td>
                                        }
                                        else
                                        {
                                            <td class="text-center">0</td>
                                        }
                                    }
                                    else
                                    {
                                        <td class="text-center sonuc" data-durum="true" data-tip="klasik"></td>
                                            <td class="text-center soruPuani" data-durum="true" data-tip="klasik" data-puan="@item.ToString().Replace(",", ".")">@item.ToString().Replace(",", ".")</td>
                                    }
                                }
                            </tr>
                            sayac++;
                        }
                    }
                    else
                    {
                        foreach (var item in sinavPuanList)
                        {
                            var sonuclar = new List<string>();
                            if (Model.Sonuclar != null)
                            {
                                sonuclar = Model.Sonuclar.Split(',').ToList();
                            }
                            if (Model.Sonuclar != "" && Model.Sonuclar != null)
                            {
                                <tr>
                                    <td class="text-center">@sayac</td>
                                    <td class="text-center"><input type="text" class="form-control txt text-center" data-cevap="" maxlength="3" value="@sonuclar.ElementAt(sayac-1)" /></td>
                                    <td class="text-center">Klasik Soru</td>
                                    <td class="text-center">@item</td>
                                    <td class="text-center sonuc">@(sonuclar.ElementAt(sayac - 1) != "" && Double.Parse(sonuclar.ElementAt(sayac - 1)) > item ? "HATA" : "" )</td>
                                    <td class="text-center" data-durum="true" data-tip="klasik">@sonuclar.ElementAt(sayac - 1)</td>
                                </tr>
                            }
                            sayac++;
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> TOPLAM:</td>
                        <td class="text-center" id="puanToplam"></td>
                    </tr>
                </tfoot>
            </table>

            <button id="btnKaydet" class="btn btn-success">Kaydet</button>

            <button id="btnKaydetDegerlendir" class="btn btn-success">Kaydet ve Değerlendir</button>

        </div>


    </div>
</div>

<script>
    function puanlariTopla()
    {
        var toplam = parseFloat(0);
        $(".sonuc").each(function (i, obj) {
            var val = parseFloat($(this).next().text().replace(",","."));
            if (val > 0 && val <= 100) {
                toplam = toplam + val;
            }
        });
        $("#puanToplam").text(toplam);
    }

    $(document).ready(function () {
        $('.easyzoom').easyZoom();
        puanlariTopla();
    });

    $("#btnKaydet").click(function () {
        var data = {
            ID: $("#txtKitapcikTuru").attr("data-fksinavkagitid"),
            OgrenciNo: $("#txtOgrenciNo").val(),
            KagitGrubu: $("#txtKitapcikTuru").val(),
            Sonuclar: $(".txt").map(function () {return $(this).val();}).get().join(",")
        };
        console.log(data);

        $.post("/Ders/Sinav/GuncelleSinavSonuc", { sonuclar: data })
         .success(function (json) {
             if (json) {
                 toastr.success("Bilgiler güncellendi!");
             }
             else {
                 toastr.error("Hata oluştu!");
             }
         })
    });

    $("#btnKaydetDegerlendir").click(function () {
        var data = {
            ID: $("#txtKitapcikTuru").attr("data-fksinavkagitid"),
            OgrenciNo: $("#txtOgrenciNo").val(),
            KagitGrubu: $("#txtKitapcikTuru").val(),
            Sonuclar: $(".txt").map(function () { return $(this).val(); }).get().join(",")
        };

        $.post("/Ders/Sinav/GuncelleSinavSonuc", { sonuclar: data })
         .success(function (json) {
             if (json) {

                 toastr.success("Bilgiler güncellendi!");
                 toastr.warning("Notlar aktarılıyor. Lütfen bekleyin.")
                 $.blockUI({ message: "Lütfen bekleyin...", css: { fontSize: '30px' } });
                 $.post("/Ders/Sinav/SinavDegerlendir", { FKSinavID: '@sinav.FKSinavID', FKPaylarID: '@FKPaylarID', FKDersGrupHocaID: '@dersGrupHocaID', FKSinavKagitID: '@FKSinavKagitID', grupNotlariSilinsinMi: false })
                  .success(function (result) {
                      if (result) {
                          toastr.success("Öğrenci notları aktarıldı.");
                      } else {
                          toastr.error("Bir hata oluştu");
                      }
                      $.unblockUI();
                  });

             }
             else {
                 toastr.error("Hata oluştu!");
             }
         })
    });

</script>

@if (sinav.EnumSinavTuru != (int)Sabis.Bolum.Core.ENUM.ABS.EnumSinavTuru.KLASIK)
{
    <script>
        $(".txt").on("keyup", function () {
            var ogrCevap = $(this).val();
            var dogruCevap = $(this).attr("data-cevap");
            var soruTip = $(this).parent().next().next().next().attr("data-tip");

            if (ogrCevap == dogruCevap && soruTip == "test") {
                $(this).parent().next().next().next().html('<i class="fa fa-check-circle fa-2x" style="color: #36D7B7"></i>');
                $(this).parent().next().next().next().attr("data-durum", "true");
                $(this).parent().next().next().next().next().text($(this).parent().next().next().text());
            }

            if (ogrCevap != dogruCevap && soruTip == "test") {
                $(this).parent().next().next().next().html('<i class="fa fa-close fa-2x" style="color: #E7505A"></i>');
                $(this).parent().next().next().next().attr("data-durum", "false");
                $(this).parent().next().next().next().next().text("0");
            }

            if (soruTip == "klasik") {

                var maxVal = $(this).parent().next().next().text();
                if ($(this).val() > maxVal) {
                    $(this).val("0");
                    toastr.error("Puan, sorunun puanından büyük olamaz.");
                }
                else {
                    if ($(this).val() == "") {
                        $(this).parent().next().next().next().next().text("0");
                    }
                    else {
                        $(this).parent().next().next().next().next().text($(this).val());
                    }
                    $(this).parent().next().next().next().attr("data-durum", "true");

                }
            }

            puanlariTopla();
        });
    </script>
}