﻿@model List<Sabis.Bolum.Core.ABS.DERS.SINAV.PaylarOlcmeVM>
@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL
@{
    //var dersPlanAnaID = Convert.ToInt32(Request.QueryString["D"]);
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
    bool koordinatorMu = Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.KoordinatorMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);
    var degerlendirmeKoordinatoruMu = Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.DegerlendirmeGrupKoordinatorluguVarMi(dersDetay.DersPlanAnaID, Sabitler.KullaniciID, Sabitler.Yil, Sabitler.Donem);
    string pCikti = degerlendirmeKoordinatoruMu ? "pCiktiSil" : "";
    string oCikti = degerlendirmeKoordinatoruMu ? "oCiktiSil" : "";
    int FKPaylarID = Convert.ToInt32(Request.QueryString["P"]);

    List<Sabis.Bolum.Core.EBS.BIRIM.BolumProgramCiktilariVM> pcListe = new List<Sabis.Bolum.Core.EBS.BIRIM.BolumProgramCiktilariVM>();

    int enumDil = Convert.ToInt32(Request.QueryString["dil"]);

    if (enumDil == 0)
    {
        enumDil = 1;
    }

    if (dersDetay.ProgramID.HasValue)
    {
        pcListe = Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.BOLUMMAIN.GetirBolumProgramCiktilari(dersDetay.ProgramID.Value, Sabitler.Yil, enumDil);
    }

    var ocListe = Sabis.Bolum.Bll.SOURCE.EBS.DERS.DERSMAIN.GetirDersOgrenmeCiktilari(dersDetay.DersPlanAnaID, Sabitler.Yil, enumDil);

    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);

    var onlinesinavID = 0;
    var onlinesinav = Sabis.Bolum.Bll.SOURCE.ABS.DERS.SINAVMAIN.OnlineSinavGetir(dersGrupHocaID, FKPaylarID);
    if (onlinesinav != null)
    {
        onlinesinavID = onlinesinav.SinavID;
    }
    int FKKoordinatorID = Sabitler.KullaniciID;
}

@if (Model.Count > 0)
{
    <table class="table table-bordered table-striped" style="margin-top: 20px;">
        <thead>
            <tr class="info">
                <th class="col-md-1 text-center">Soru No</th>

                <th class="col-md-1 text-center">Puan</th>

                <th class="col-md-4 hidden-sm hidden-xs">Program Çıktıları</th>
                @if (koordinatorMu)
                {
                    <th class="col-md-3">Program Çıktıları Seçimi</th>
                }
                <th class="col-md-3 hidden-sm hidden-xs">Öğrenme Çıktıları</th>
                @if (koordinatorMu)
                {
                    <th class="col-md-3">Öğrenme Çıktıları Seçimi</th>
                }
            </tr>
        </thead>
        <tbody id="tblSorular">
            @foreach (var item in Model)
            {
                <tr data-kayit="true" data-id="@item.ID">
                    <td class="col-md-1 text-center">
                        @if (item.EnumSinavTuru == (int)Sabis.Bolum.Core.ENUM.ABS.EnumSinavTuru.KARMA && item.EnumSoruTipi.HasValue)
                        {
                            @Sabis.Enum.Utils.GetEnumDescription((Sabis.Bolum.Core.ENUM.ABS.EnumSoruTipi)item.EnumSoruTipi).Substring(0, 1)
                        }
                        @item.SoruNo
                    </td>

                    @if (koordinatorMu)
                    {
                        <td class="col-md-1 text-center"><input data-soruid="@item.ID" class="txtSoruPuan" type="text" value="@item.SoruPuan" /></td>
                    }
                    else
                    {
                        <td class="col-md-1 text-center"><input data-soruid="@item.ID" class="txtSoruPuan" type="text" value="@item.SoruPuan" disabled /></td>
                    }
                    @if (koordinatorMu)
                    {
                        <td class="col-md-2 hidden-sm hidden-xs">
                        @if (item.ProgramCiktilari != null)
                        {
                                <ol class="prgCikti">
                                    @foreach (var item3 in item.ProgramCiktilari)
                                    {
                                        <span data-id="@item3.ID" data-pciktiid="@item3.FKProgramCiktiID" data-pid="@item.ID" class="@pCikti badge pCiktiSil" title="@item3.Icerik">PÇ-@item3.Sira <span class="silButon" style="font-size: 14px;" title="Silmek için üzerine tıklayın">x</span></span>
                                    }
                                </ol>
                            }
                        </td>
                    }
                    else
                    {
                        <td class="col-md-2 hidden-sm hidden-xs">
                        @if (item.ProgramCiktilari != null)
                        {
                                <ol class="prgCikti">

                                    @foreach (var item3 in item.ProgramCiktilari)
                                    {
                                        <span class="badge" data-toggle="tooltip" title="@item3.Icerik">PÇ-@item3.Sira</span>
                                    }
                                </ol>
                            }
                        </td>
                    }

                    @if (koordinatorMu)
                    {
                        <td class="col-md-3">
                            <p>
                                <select data-fkpaylarolcmeid="@item.ID" class="selectPcikti" name="example-optgroup" multiple="multiple" size="5" style="width: 150px; max-width: 150px; z-index: 20000;">
                                    <optgroup class="optProgramCiktilari" label="Program Çıktıları">
                                        @foreach (var sItem in pcListe)
                                        {
                                            if (item.ProgramCiktilari.Any(y => y.FKProgramCiktiID == sItem.ID))
                                            {
                                                <option value="@sItem.ID" selected disabled>@sItem.YetID @sItem.Icerik</option>
                                            }
                                            else
                                            {
                                                <option value="@sItem.ID">@sItem.YetID @sItem.Icerik</option>
                                            }
                                        }
                                    </optgroup>
                                </select>
                            </p>
                        </td>
                    }
                    @if (koordinatorMu)
                    {
                        <td class="col-md-2 hidden-sm hidden-xs">
                            @if (item.OgrenmeCiktilari != null)
                        {
                                <ol class="ogrCikti">
                                    @foreach (var item3 in item.OgrenmeCiktilari)
                                    {
                                        <span data-id="@item3.ID" data-ociktiid="@item3.FKOgrenmeCiktiID" data-oid="@item.ID" class="@oCikti badge oCiktiSil" data-container="body" data-toggle="tooltip" title="@item3.Icerik" data-trigger="hover" data-content="@item3.Icerik">ÖÇ-@item3.Sira <span class="silButon" style="font-size: 14px;" title="Silmek için üzerine tıklayın">x</span></span>
                                        
                                    }
                                </ol>
                            }
                        </td>
                    }
                    else
                    {
                        <td class="col-md-2 hidden-sm hidden-xs">
                            @if (item.OgrenmeCiktilari != null)
                        {
                                <ol class="ogrCikti">
                                    @foreach (var item3 in item.OgrenmeCiktilari)
                                    {
                                        <span class="badge" data-toggle="tooltip" title="@item3.Icerik">ÖÇ-@item3.Sira</span>
                                    }
                                </ol>
                            }
                        </td>
                    }

                    @if (koordinatorMu)
                    {
                        <td class="col-md-3">
                            <p>
                                <select data-fkpaylarolcmeid="@item.ID" class="selectOcikti" name="example-optgroup" multiple="multiple" size="5" style="width: 150px; max-width: 150px; z-index: 20000;">
                                    <optgroup class="optOgrenmeCiktilari" label="Öğrenme Çıktıları">
                                        @foreach (var sItem in ocListe)
                                        {
                                            if (item.OgrenmeCiktilari.Any(y => y.FKOgrenmeCiktiID == sItem.ID))
                                            {
                                                <option value="@sItem.ID" selected disabled>@sItem.CiktiNo @sItem.Icerik</option>
                                            }
                                            else
                                            {
                                                <option value="@sItem.ID">@sItem.CiktiNo @sItem.Icerik</option>
                                            }
                                        }
                                    </optgroup>
                                </select>
                            </p>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <h4 style="display:block; color:red">Bu sayfadaki Program ve Öğrenme Çıktıları Dersin Tüm Gruplarında ortaktır.</h4>
if (onlinesinavID != 0 && koordinatorMu)
{
        <a class="btn btn-success" id="yeniOlcmeSoru"><i class="fa fa-plus"></i> Yeni Soru Ekle</a>
    }
}

<script src="~/Scripts/Areas/Ders/Sinav/_pSinavSoruListesi.js?version=6"></script>


@if (!koordinatorMu)
{
    <script>
        $(document).ready(function () {
            $("input").prop("disabled", true);
            $(".silButon").remove();
            $(".onlinesinavbuton").hide();
            $("#yeniOlcmeSoru").hide();
        });
    </script>
}
<script>
    $(document).ready(function () {
        $("#yeniOlcmeSoru").click(function () {
            var data = {
                PayID: '@FKPaylarID',
                GrupID: '@dersDetay.DersGrupID',
                KoordinatorID: '@FKKoordinatorID'

            };
            $.post("/Ders/Sinav/YeniOlcmeSoruEkle", data)
                 .success(function (json) {
                     $("#soruListe").load(soruURL);
                 }
            );

        });
    });


</script>
<style>
    input {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid silver;
        width: 35px;
        padding: 3px;
        text-align: center;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        z-index: 20000 !important;
    }
</style>