﻿@model Sabis.Bolum.Core.ABS.DERS.SINAV.SinavDetaylariVM

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading bar-arkaplan">Sınav Detayları</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th class="col-md-2" text-align="left"><span class="pull-right">Sınav Türü</span></th>
                            <td class="col-md-10" colspan="7" text-align="left">@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)Model.EnumCalismaTip)</td>
                        </tr>
                        <tr>
                            <th class="col-md-2" text-align="left"><span class="pull-right">Soru Sayısı</span></th>
                            <td class="col-md-10" colspan="7" text-align="left">@Model.SoruSayisi</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
