﻿@model List<Sabis.Bolum.Core.ABS.DERS.SINAV.SinavDokumanVM>

<div class="panel panel-info">
    <div class="panel-heading">Sınav Dokümanları (tüm örnek dokümanların 1 adet örneği)</div>

    <div class="panel-body" style="max-height:200px !important; min-height:200px !important; overflow:scroll !important;">

        @if (Model != null)
        {
            <div class="col-md-6">

                <span class="btn btn-success btn-xs fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Sınav kağıdı seçiniz...</span>
                    <input id="fileUploadSinavKagidi" type="file" name="files[]" multiple>
                </span>

                <table class="table table-bordered col-md-12" style="margin-top: 5px;">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.EnumDokumanTuru == 1))
                        {
                            <tr>
                                <td><button class="btn btn-danger btn-xs btnSinavDokumanSil" data-id="@item.ID">Sil</button></td>
                                <td><a href="@SDFSClient.FileClient.GetUrl(item.DosyaKey)">@item.DosyaAdi</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

            <div class="col-md-6">
                <span class="btn btn-success btn-xs fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Cevap anahtarı seçiniz...</span>
                    <input id="fileUploadCevapAnahtari" type="file" name="files[]" multiple>
                </span>

                <table class="table table-bordered col-md-12" style="margin-top: 5px;">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.EnumDokumanTuru == 2))
                        {
                            <tr>
                                <td><button class="btn btn-danger btn-xs btnSinavDokumanSil" data-id="@item.ID">Sil</button></td>
                                <td><a href="@SDFSClient.FileClient.GetUrl(item.DosyaKey)">@item.DosyaAdi</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }
        else
        {
            <h4>Sınav oluşturulmadan doküman yüklenemez.</h4>
        }

    </div>
</div>

<script>
    var fkDersGrupID = @ViewBag.DersGrupID;
    var fkPaylarID = @ViewBag.PayID;
</script>

<script src="~/Scripts/Areas/Ders/Sinav/_pSinavDokumanlari.js"></script>