﻿@model Sabis.Bolum.Core.ABS.DERS.SINAV.SinavIstatistikleriVM
@{ 
    Layout = null;

    int sinavaKatilmayanGrup = 0;
    int sinavaKatilmayanGenel = 0;

    double grupKatilanYuzde = 0;
    double grupKatilmayanYuzde = 0;

    double genelKatilanYuzde = 0;
    double genelKatilmayanYuzde = 0;

    if (Model.GrupIstatistikleri != null)
    {
        sinavaKatilmayanGrup = Convert.ToInt32(Model.GrupIstatistikleri.OgrenciSayisi - Model.GrupIstatistikleri.SinavaKatilan);
        sinavaKatilmayanGenel = Convert.ToInt32(Model.GenelIstatistikler.OgrenciSayisi - Model.GenelIstatistikler.SinavaKatilan);

        grupKatilanYuzde = (double)((double)Model.GrupIstatistikleri.SinavaKatilan / (double)Model.GrupIstatistikleri.OgrenciSayisi) * 100;
        grupKatilmayanYuzde = (double)((double)sinavaKatilmayanGrup / (double)Model.GrupIstatistikleri.OgrenciSayisi) * 100;

        genelKatilanYuzde = (double)((double)Model.GenelIstatistikler.SinavaKatilan / (double)Model.GenelIstatistikler.OgrenciSayisi) * 100;
        genelKatilmayanYuzde = (double)((double)sinavaKatilmayanGenel / (double)Model.GenelIstatistikler.OgrenciSayisi) * 100;
    }



}
<div class="row">
    @if (Model.GrupIstatistikleri != null)
    {
        <div class="col-md-12">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr class="info"><td colspan="2">Grup İstatistikleri</td></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Azami Not</td>
                            <td>@Model.GrupIstatistikleri.AzamiNot</td>
                        </tr>
                        <tr>
                            <td>Asgari Not</td>
                            <td>@Model.GrupIstatistikleri.AsgariNot</td>
                        </tr>
                        <tr>
                            <td>Ortalama Not</td>
                            <td>@Model.GrupIstatistikleri.OrtalamaNot.ToString("0.000")</td>
                        </tr>
                        <tr>
                            <td>Öğrenci Sayısı</td>
                            <td>@Model.GrupIstatistikleri.OgrenciSayisi</td>
                        </tr>
                        <tr>
                            <td>Sınava Katılan:</td>
                            <td>@Model.GrupIstatistikleri.SinavaKatilan  (@grupKatilanYuzde.ToString("0.000")<span>%</span>)</td>
                        </tr>
                        <tr>
                            <td>Sınava Katılmayan:</td>
                            <td>@sinavaKatilmayanGrup (@grupKatilmayanYuzde.ToString("0.000")<span>%</span>)</td>
                        </tr>
                        <tr>
                            <td>Yüz (100) Alan:</td>
                            <td>@Model.GrupIstatistikleri.YuzAlanSayisi</td>
                        </tr>
                        <tr>
                            <td>Sıfır (0) Alan:</td>
                            <td>@Model.GrupIstatistikleri.SifirAlanSayisi</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr class="info"><td colspan="2">Genel İstatistikler</td></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Azami Not</td>
                            <td>@Model.GenelIstatistikler.AzamiNot</td>
                        </tr>
                        <tr>
                            <td>Asgari Not</td>
                            <td>@Model.GenelIstatistikler.AsgariNot</td>
                        </tr>
                        <tr>
                            <td>Ortalama Not</td>
                            <td>@Model.GenelIstatistikler.OrtalamaNot.ToString("0.000")</td>
                        </tr>
                        <tr>
                            <td>Öğrenci Sayısı</td>
                            <td>@Model.GenelIstatistikler.OgrenciSayisi</td>
                        </tr>
                        <tr>
                            <td>Sınava Katılan:</td>
                            <td>@Model.GenelIstatistikler.SinavaKatilan (@genelKatilanYuzde.ToString("0.000")<span>%</span>)</td>
                        </tr>
                        <tr>
                            <td>Sınava Katılmayan:</td>
                            <td>@sinavaKatilmayanGenel  (@genelKatilmayanYuzde.ToString("0.000")<span>%</span>)</td>
                        </tr>
                        <tr>
                            <td>Yüz (100) Alan:</td>
                            <td>@Model.GenelIstatistikler.YuzAlanSayisi</td>
                        </tr>
                        <tr>
                            <td>Sıfır (0) Alan:</td>
                            <td>@Model.GenelIstatistikler.SifirAlanSayisi</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>