﻿@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL
@model Sabis.Bolum.Core.ABS.DERS.OSINAV.OSinavVM
@{

    ViewBag.Title = "Sınav İşlemleri";
    Layout = null;

    int FKPaylarID = Convert.ToInt32(Request.QueryString["P"]);
    var payBilgi = PAYMAIN.GetirPayBilgi(FKPaylarID);
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
    int FKKoordinatorID = Sabitler.KullaniciID;
    bool koordinatorMu = GENELMAIN.KoordinatorMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);

    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);

    int enumDil = 1;

    if (String.IsNullOrEmpty(Request.QueryString["D"]))
    {
        enumDil = 1;
    }
    else
    {
        enumDil = 2;
    }

    string soruUrl = "/Ders/Sinav/_pSinavSoruListesi/" + dersGrupHocaID + "?D=" + dersDetay.DersPlanAnaID + "&P=" + FKPaylarID + "&dil=" + enumDil;

    var sinavSorulari = SINAVMAIN.GetirPaySinavSoruListesi(dersGrupHocaID, FKPaylarID, Sabitler.Yil, Sabitler.Donem, enumDil);

    var degerlendirmeKoordinatorluguVarMi = GENELMAIN.DegerlendirmeGrupKoordinatorluguVarMi(dersDetay.DersPlanAnaID, Sabitler.KullaniciID, Sabitler.Yil, Sabitler.Donem);

    var sinavad = payBilgi.Sira + ". " + Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)Convert.ToInt32(payBilgi.EnumCalismaTip));

    bool degerlendirmeKoordinatoruMu = GENELMAIN.DegerlendirmeKoordinatoruMu(dersGrupHocaID, Sabitler.KullaniciID, Sabitler.Yil, Sabitler.Donem);

    bool degerlendirmeGruplariOlusuturulmusMu = GENELMAIN.DegerlendirmeGruplariOlusturulmusMu(dersGrupHocaID);
}

<link href="~/Content/assets/global/plugins/jquery-multiselect/jquery.multiselect.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-multiselect/jquery.multiselect.min.js"></script>
<link href="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>


<div class="row">
    <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr class="info">
                        <td colspan="2">Ders ve Sınav Bilgileri</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-md-4">Ders Adı</td>
                        <td class="col-md-8">
                            @Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.GetirDersAdi(dersDetay.DersPlanAnaID)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">Ölçme Tipi</td>
                        <td class="col-md-8">@payBilgi.Sira<span>.</span> @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)Convert.ToInt32(payBilgi.EnumCalismaTip))</td>
                    </tr>
                    <tr>
                        <td class="col-md-4">Sınav Türü</td>
                        <td class="col-md-8" id="sinavTuru"></td>
                    </tr>
                    <tr>
                        <td class="col-md-4">Soru Sayısı</td>
                        <td id="soruSayisi" class="col-md-8"></td>
                    </tr>
                    <tr>
                        <td class="col-md-4">Toplam Puan</td>
                        <td id="toplamPuan" class="col-md-8"></td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>

@if (koordinatorMu) // && payBilgi.EnumCalismaTip != (int)Sabis.Enum.EnumCalismaTip.Odev
{
    <div class="panel panel-info">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
            <div class="panel-heading"><h4>Kullanım yönergeleri için tıklayınız.</h4></div>
        </a>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="alert alert-dismissable alert-info">
                    - Sınav oluştur butonu ile girilen sayıda sorudan oluşan sınav oluşturulur.
                </div>
                <div class="alert alert-dismissable alert-info">
                    - Aritmetik ortalaması otomatik hesaplanan soruların puanları "puanları güncelle" butonu ile değiştirilebilir.
                </div>
                <div class="alert alert-dismissable alert-info">
                    - İlgili soruya ait program ve öğrenme çıktıları, o sorunun yanında bulunan açılır kutulardan seçilir.
                </div>
                <div class="alert alert-dismissable alert-info">
                    - Silmek istediğiniz program veya öğrenme çıktısını silmek için üzerine tıklayabilirsiniz.
                </div>
                <div class="alert alert-dismissable alert-info">
                    - Not girişi yapılmış bir sınav silinemez.
                </div>
            </div>
        </div>
    </div>
}
@if (koordinatorMu && !dersDetay.SonHalVerildiMi)
{
    <div id="btnSnv" class="btn-group" role="group" style="padding: 5px; display: none;">
        <button type="button" id="Olustur" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sınav Oluştur
        </button>
        <ul id="haftaListe" class="dropdown-menu keep-open" style="padding: 5px; min-width: 250px !important;">
            <li style="margin-bottom: 5px;">
                <label class="mt-radio">
                    <input id="rdTest" type="radio" value="2" name="sinavTur" checked>
                    <span></span>TEST
                </label>
                <label class="mt-radio">
                    <input id="rdKlasik" type="radio" value="1" name="sinavTur">
                    <span></span>KLASİK
                </label>
                <label class="mt-radio">
                    <input id="rdKarma" type="radio" value="4" name="sinavTur">
                    <span></span>KARMA
                </label>
                <label class="mt-radio">
                    <input id="rdOnline" type="radio" value="5" name="sinavTur">
                    <span></span>ONLINE
                </label>
            </li>
            <li style="margin-bottom: 5px;"><span id="lblSoruSayi">Soru Sayısı:</span> <input id="txtSoruSayisi" type="text" /></li>
            <li id="liKarma" style="margin-bottom: 5px; display: none;"><span id="lblKlasikSoruSayi">Klasik Soru Sayısı</span> <input id="txtKlasikSoruSayisi" type="text" /></li>
            <li id="liOnlineAktiviteTip" style="margin-bottom: 5px; display: none;">
                <span id="lblOnlineAktiviteTip">Aktivite Tipi</span>
                <input id="col-2" type="radio" value="2" name="aktiviteTur" checked>
                <span></span>Genel
                <input id="col-1" type="radio" value="1" name="aktiviteTur">
                <span></span>Grup
            </li>
            <li><button id="btnSinavOlustur" class="btn btn-success">Oluştur</button></li>
        </ul>
    </div>
    <button id="btnSinavSil" class="btn btn-danger" style="display: none;">SINAV SİL</button>

    <div id="AktiviteTur" style="display:none"></div>

    if (enumDil == 1)
    {
        <a class="btn btn-inverse pull-right" href="/Ders/Detay/Sinav/@dersGrupHocaID?P=@FKPaylarID&D=en">ENGLISH</a>
    }
    else
    {
        <a class="btn btn-inverse pull-right" href="/Ders/Detay/Sinav/@dersGrupHocaID?P=@FKPaylarID">TÜRKÇE</a>
    }
}
else
{
    <h3>Sınav oluşturma işlemleri sadece <strong>Ders Koordinatörü</strong> tarafından yapılmaktadır.</h3>
    @*<a id="btnOnlineSinavIslem" href="/Ders/Sinav/SoruIslem/@dersGrupHocaID?&P=@FKPaylarID" class="btn green-dark" style="display: none;"><i class="fa fa-globe"></i> Online Sınav İşlemleri</a>*@
    <a id="btnCevapAnahtari" class="btn green-dark" href="/Ders/Sinav/CevapAnahtari/@dersGrupHocaID?D=@dersDetay.DersPlanAnaID&P=@FKPaylarID" style="display: none;">Cevap Anahtarı</a>
    <div id="AktiviteTur" style="display:none"></div>
}

<script>
    var FKPaylarID = '@FKPaylarID';
    var soruURL = '@soruUrl';
    soruURL = soruURL.replace(/&amp;/g, '&');
    var soruSayisi = soruSayisi;
    var FKKoordinatorID = '@FKKoordinatorID';
    var FKDersGrupID = '@dersDetay.DersGrupID';
    var dersGrupHocaID = '@dersGrupHocaID';
    var sinavad = '@sinavad';
</script>

<script src="~/Scripts/Areas/Ders/Sinav/SinavDetay.js?version=4"></script>

<script>

    $(document).ready(function () {
        blockStatus = true;
        $.datetimepicker.setLocale('tr');
        $('.tarihSec').datetimepicker({
            step: 10,
            format: 'd.m.Y H:i'
        });
        $(".trmazeret").hide();
    });
    function ates() {
        if (document.getElementById('cbxMazeret').checked) {
            $(".trmazeret").show();
        } else {
            $(".trmazeret").hide();
        }
    }


    function GrupBilgiDoldur() {
        var data = {
            FKPaylarID: FKPaylarID,
            FKKoordinatorID: FKKoordinatorID,
            FKDersGrupID: FKDersGrupID,
            dersGrupHocaID: dersGrupHocaID
        };
        $.post("/Ders/Sinav/HocaGrupYetki", data)
         .success(function (json) {
             if (json.dgs != 0) {
                 $("#deggrup").text(json.dgs + " Sınıf");
                 $.each(json.degerlendirmegruplari, function (i, item) {
                     $("#deggrupliste").append(json.degerlendirmegruplari[i].GrupAd + " - " + json.degerlendirmegruplari[i].OgretimTuru + ". Öğretim " + json.degerlendirmegruplari[i].BirimAd + "<hr>");
                 });


             }
             if (json.kgs != 0) {
                 $("#tumgrup").text(json.kgs + " Sınıf");
                 $.each(json.tumgruplar, function (i, item) {
                     $("#tumgrupliste").append(json.tumgruplar[i].GrupAd + " - " + json.tumgruplar[i].OgretimTuru + ". Öğretim " + json.tumgruplar[i].BirimAd + "<hr>");
                 });
             }
             if (json.dgs != 0) {
                 $("#grupliste").empty();
                 $.each(json.degerlendirmegruplari, function (i, item) {
                     $("#grupliste").append(json.degerlendirmegruplari[i].GrupAd + " - " + json.degerlendirmegruplari[i].OgretimTuru + ". Öğretim " + json.degerlendirmegruplari[i].BirimAd + " - " + json.degerlendirmegruplari[i].HocaAd + "<hr>");
                 });
             }
         });
    }
    $("#rdKarma").click(function () {
        $("#liKarma").show();
        $("#lblSoruSayi").text("Test Soru Sayısı");
        $("#liOnlineAktiviteTip").hide();
    });
    $("#rdTest, #rdKlasik, #rdUygulama").click(function () {
        $("#liKarma").hide();
        $("#lblSoruSayi").text("Soru Sayısı");
        $("#liOnlineAktiviteTip").hide();
    });
    $("#rdOnline").click(function () {
        $("#liKarma").hide();
        $("#lblSoruSayi").text("Soru Sayısı");
        $("#liOnlineAktiviteTip").show();

    });
</script>