﻿@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@{
    ViewBag.Title = "CevapAnahtari";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int FKPaylarID = Convert.ToInt32(Request.QueryString["P"]);
    int FKDersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var dersDetay = Sabitler.GetirDersDetay(FKDersGrupHocaID);

    int FKDersPlanAnaID = Convert.ToInt32(Request.QueryString["D"]);
    var sinavDetay = SINAVMAIN.GetirSinavDetayi(FKPaylarID);

    int FKSinavID = SINAVMAIN.GetirSinavID(FKPaylarID, dersDetay.DersGrupID, dersDetay.DersPlanID, dersDetay.DersPlanAnaID);

    var cevapAnahtariVarMi = SINAVMAIN.GetirCevapAnahtariListe(FKSinavID).Any();

    if (!cevapAnahtariVarMi)
    {
        SINAVMAIN.EkleCevapAnahtari(FKSinavID);
    }
}

@Html.Action("_pGrupDersDetaylari", "Detay", new { redirect = true })

@Html.Action("_pSinavDetaylari")

<div class="alert alert-info">
    <strong>BİLGİ!</strong> Yalnızca tipi TEST olan sorular için cevap anahtarı girilebilir.
</div>

<div class="alert alert-warning">
    <strong>UYARI!</strong> Birden fazla kağıt grubu bulunuyorsa, diğer gruplardaki her sorunun A grubundaki sırası yazılmalıdır.
</div>

<div id="cevapAnahtari"></div>

<script>
    $(document).ready(function () {
        $("#cevapAnahtari").load("/Ders/Sinav/_pCevapListesi/" + @FKSinavID + "?SS=" + @sinavDetay.SoruSayisi + "&D=" + @FKDersGrupHocaID);
    });
</script>