﻿@using Dil = DilWebClient.Cevir
@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@model Sabis.Bolum.WebUI.Areas.Ders.Controllers.SinavController.ExcelModel
@{
    ViewBag.Title = "Sınav Not Girişi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    Sabis.Bolum.Core.ABS.DERS.DERSDETAY.DersDetayVM dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
    var fkAbsPaylarID = Convert.ToInt32(TempData["degerler"]);
    var onlinesinav = SINAVMAIN.SinavBilgi(dersGrupHocaID, fkAbsPaylarID);
    bool sinavKagitDurum = SINAVMAIN.GetirSinavKagitDurum(fkAbsPaylarID, dersDetay.DersGrupID);
}

@Styles.Render("~/bundles/jquery-fileupload-styles")
@Scripts.Render("~/bundles/jquery-fileupload")

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.84/jsrender.min.js"></script>

<script src="~/Content/assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js"></script>

<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css" />

<link href="~/Content/assets/global/plugins/bootstrap-tabdrop/css/tabdrop.css" rel="stylesheet" />
@*<script src="~/Content/assets/global/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>*@

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                    }
                    - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                </a>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li>Not Girişi</li>
        </ul>
    </div>
}

@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")

<div class="panel panel-info">
    <div class="panel-heading bar-arkaplan">
        Sınav Not Girişi
        <div class="pull-right">
            <input type="checkbox" id="cbOtomatikKaydet" style="width: 16px; height: 16px;" /> <span style="font-size: 16px;">Her 60 saniyede otomatik olarak kaydet</span><br /><span id="lblSure" class="label label-default"></span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 pull-right">
                <div class="col-md-4">
                    @if (!dersDetay.SonHalVerildiMi)
                    {
                        <button class="btn btn-success btn-label" id="BtnKaydet" name="BtnKaydet"><i class="fa fa-check"></i> @Dil.Getir("kaydet")</button>
                    }
                </div>

                <div class="col-md-4">
                    <div class="mt-action-buttons " style="position: relative; display: inline-block;">
                        
                        <div class="btn-group btn-group-circle">
                            <div class="mt-checkbox-list">
                                <label class="mt-checkbox">
                                    <input type="checkbox" id="cbSinavKagitGosterGizle" @sinavKagitDurum.ToString().ToLower().Replace("false", "").Replace("true", "checked")> Öğrenciler sınav kağıtlarını görebilir
                                    <span></span>
                                </label>
                            </div>

                            @*Öğrenciler sınav kağıtlarını: 
                            <button type="button" data-fkabspaylarid="@fkAbsPaylarID" data-durum="true" class="btn btn-outline green btn-sm tumKagitlariGoster">GÖREBİLİR</button>
                            <button type="button" data-fkabspaylarid="@fkAbsPaylarID" data-durum="false" class="btn btn-outline red btn-sm tumKagitlariGoster">GÖREMEZ</button>*@
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-right">
                    @if (!dersDetay.SonHalVerildiMi)
                    {
                        <div class="btn-group">
                            @if (onlinesinav != null)
                        	{
                                <a class="btn btn-success" href="/Ders/Sinav/YenidenDegerlendir/@dersGrupHocaID?payID=@TempData["degerler"]"><i class="fa fa-caret-square-o-right"></i> Yeniden Hesapla</a>
                        	}
                            
                            @*<a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                                Notları Sil
                            </a>
                            <ul class="dropdown-menu">
                                <li><a id="btnNotlariTemizle">Notları Sil</a></li>
                            </ul>*@
                        </div>
                    }
                    
                    <a class="btn btn-warning btn-sm" id="btnExcelIndir" href="/Ders/Sinav/ExcelIndir/@dersGrupHocaID?payID=@TempData["degerler"]&ad=@TempData["degerlerAd"]&dersAdi=@dersDetay.DersAd&dersGrup=@dersDetay.GrupAd&CalismaTipi=@TempData["EnumCalismaTip"]&ogretimTur=@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)"><i class="fa fa-cloud-download"></i> EXCEL İNDİR</a>

                    @if (!dersDetay.SonHalVerildiMi)
                    {
                        <span class="btn btn-success btn-sm fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span> Excel Yükle </span>
                            <input id="fileupload" type="file" name="ExcelFile" multiple="" style="width: 100% !important; height: 40px !important;">
                        </span>
                    }
                    else
                    {

                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top: 10px;">
                <div class="col-md-12">
                    <table id="tblOgrenciListesi" class="table table-striped table-bordered table-hover zui-table display nowrap" cellspacing="0" width="100%">
                        <thead id="tblBaslik"></thead>
                        <tbody id="tblIcerik" style="max-height: 500px; top:100px;"></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12 text-right">
                @if (!dersDetay.SonHalVerildiMi)
                {
                    <button class="btn btn-success btn-label" id="BtnKaydet2" name="BtnKaydet"><i class="fa fa-check"></i> @Dil.Getir("kaydet")</button>
                }
                else
                {
                    <script>
                        $(document).ajaxComplete(function (event, xhr, settings) {
                            $("input").prop("disabled", true);
                        });
                    </script>
                }

            </div>
        </div>
    </div>
</div>

<script>
    var payID = '@fkAbsPaylarID';
    var dgHOCAID = @dersGrupHocaID;
    var zaman = '@DateTime.Now';
    var kullanici = '@Sabitler.KullaniciAdi';
    var makina = '@Sabitler.IPAdresi';
</script>

<script src="~/Scripts/Areas/Ders/Sinav/NotGirisOld.js?version=13"></script>

<script>
    jwerty.key('shift+g', function () { $('.txtNot').each(function () { if ($(this).val() == "") { $(this).val("GR"); } }); });
    jwerty.key('shift+0', function () { $('.txtNot').each(function () { if ($(this).val() == "") { $(this).val("0"); } }); });
    jwerty.key('shift+space', function () { if (confirm("Tüm notları temizlenecektir. Onaylıyor musunuz?")) { $('.txtNot').each(function () { $(this).val(""); }) } });
</script>

<style>
    .dataTables_scrollHead {
        max-height: 75px !important;
        height: 75px !important;
        z-index: 999;
    }
    .fixedC {
        margin-top: 20px !important;
    }

    input {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid silver;
        width: 35px;
        padding: 3px;
        text-align: center;
    }
</style>