﻿@*@model List<Sabis.Bolum.Bll.DATA.OSinavRapor_Result>
@{
    ViewBag.Title = "OnlineSinavRapor";
    Layout = "~/Views/Shared/_MetronicLayout.cshtml";
}
@Html.Action("_pGrupDersDetaylari", "Detay")
@if (Model.Count() == 0)
{

}
else
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading bar-arkaplan">Oturum : 1/1<span class="pull-right"><a href="/" style="color: white;">13 Şubat 14:00 - 13 Şubat 15:00</a></span></div>
                    <div class="panel-body">
                        <div class="col-lg-6 col-md-6">
                            @item.OgrenciID
                            <br />
                            <span class="text-primary">EMRULLAH TUNCAY</span>
                            <br /><br />
                            <a href="javascript:;" class="btn btn-primary btnHakVer" data-id="@item.OturumID" title="">Hak Ver</a>


                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="col-lg-12 col-md-12">
                                <h3 class="pull-right">
                                    <span class="label label-default">@item.BoşSayisi</span>
                                    <span class="label label-danger">@item.YanlışSayisi</span>
                                    <span class="label label-success">@item.DogruSayisi</span>
                                </h3>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <h3 class="pull-right"><span class="text-primary">@item.Notu</span></h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
}
<script>
    $(".btnHakVer").on("click", function () {
        $.post("/Ders/Sinav/SinavHakVer", { id: $(this).attr("data-id") })
        .done(function (json) {
            json ? toastr.info("Hak Verildi.") : toastr.error("Hata oluştu.");
            location.reload();
            });
    });
</script>*@

