﻿@model Sabis.Bolum.Core.ABS.DERS.OSINAV.OSinavSoruEkle
@{
    ViewBag.Title = "Soru Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            @*<li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i></li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                    }
                    - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                </a>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li>Soru Yönetimi</li>
        </ul>
    </div>
}
@*<link href="https://cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.2.0/quill.js"></script>*@


<script src="http://cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
<link href="~/Content/assets/global/plugins/jquery-fileupload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/jquery-fileupload/css/jquery.fileupload-ui.css" rel="stylesheet" />
<script src="/Content/assets/global/plugins/jquery-fileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="/Content/assets/global/plugins/jquery-fileupload/js/jquery.iframe-transport.js"></script>
<script src="/Content/assets/global/plugins/jquery-fileupload/js/jquery.fileupload.js"></script>
@*@Html.Action("_pGrupDersDetaylari", "Detay")*@
@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.SinavID)
    @Html.HiddenFor(model => model.PaylarOlcmeID)
    @Html.HiddenFor(model => model.PayOlcmeSoruNo)
    @Html.HiddenFor(model => model.PayID)
    @Html.HiddenFor(model => model.GrupHocaID)
    @Html.HiddenFor(model => model.SoruNo)
    @Html.HiddenFor(model => model.SinavTur) 
    @Html.HiddenFor(model => model.MazeretSoru); 
    @Html.ValidationSummary("", new { @class = "myvalidation" })

    <div class="panel panel-primary wrapper2">
        <div class="panel-heading bar-arkaplan">
            Soru Ekle
        </div>
        <div class="panel-body div2">
            <div class="col-lg-6">
                <div class="form-group">

                    <div class="col-lg-12">
                        <span class="label label-primary label-md" style="font-size:16px;">@Model.SinavAd</span>
                        <br />
                        <br />
                        @Html.TextAreaFor(model => model.Baslik, new { @class = "ckeditor" })

                        <br />
                        <br />
                        @*<div id="editor">
                                <p>Hello World!</p>
                                <p>Some initial <strong>bold</strong> text</p>
                                <p><br></p>
                            </div>*@
                    </div>
                    <div class="col-sm-3">
                        <img id="imgSoruResim" src="" style="width:350px; height:250px; overflow:hidden; display:none;" />
                        <br />
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Resim Ekle</span>
                            <input id="fileupload" type="file" name="files[]" multiple>
                        </span>
                        @Html.HiddenFor(model => model.SoruDosyaKey)
                        @Html.HiddenFor(model => model.Cevap1DosyaKey)
                        @Html.HiddenFor(model => model.Cevap2DosyaKey)
                        @Html.HiddenFor(model => model.Cevap3DosyaKey)
                        @Html.HiddenFor(model => model.Cevap4DosyaKey)
                        @Html.HiddenFor(model => model.Cevap5DosyaKey)
                        <div id="progress" class="progress" style="display: none;">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <table style="width:100%" class="table-answers table table-striped table-bordered table-hover">
                    <tr>
                        <th colspan="3">
                            Seçenekler
                        </th>
                    </tr>
                    <tr class="@(Model.DogruCevap==1?"green":"")">
                        <td class="tdR" style="width:5% !important">@Html.RadioButton("DogruCevap", "1")</td>
                        <td class="tdT" style="width:5% !important">A.</td>
                        <td class="tdA" style="width:90% !important">
                            @Html.TextBoxFor(model => model.Cevap1, new { @class = "form-control pull-left", @style="width:90%" })
                            <span class="btn btn-success fileinput-button pull-left">
                                <i class="fa fa-picture-o fa-4"></i>
                                <input  class="fa fa-picture-o fileupload" data-cevapno="1" type="file" name="files[]" multiple>
                            </span>
                            <div id="img1" style="display:none;">
                                <img id="imgCevap1" src="" style="width:350px; height:250px; overflow:hidden;" />
                            </div>
                            
                        </td>
                    </tr>
                    <tr class="@(Model.DogruCevap==2?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "2")</td>
                        <td class="tdT">B.</td>
                        <td class="tdA">
                            @Html.TextBoxFor(model => model.Cevap2, new { @class = "form-control pull-left", @style = "width:90%" })
                            <span class="btn btn-success fileinput-button pull-left">
                                <i class="fa fa-picture-o fa-4"></i>
                                <input class="fa fa-picture-o fileupload"  data-cevapno="2" type="file" name="files[]" multiple>
                            </span>
                            <div id="img2" style="display:none;">
                                <img id="imgCevap2" src="" style="width:350px; height:250px; overflow:hidden;" />
                            </div>
                        </td>
                    </tr>
                    <tr class="@(Model.DogruCevap==3?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "3")</td>
                        <td class="tdT">C.</td>
                        <td class="tdA">
                            @Html.TextBoxFor(model => model.Cevap3, new { @class = "form-control pull-left", @style = "width:90%" })
                            <span class="btn btn-success fileinput-button pull-left">
                                <i class="fa fa-picture-o fa-4"></i>
                                <input class="fa fa-picture-o fileupload"  data-cevapno="3" type="file" name="files[]" multiple>
                            </span>
                            <div id="img3" style="display:none;">
                                <img id="imgCevap3" src="" style="width:350px; height:250px; overflow:hidden;" />
                            </div>
                        </td>
                    </tr>
                    <tr class="@(Model.DogruCevap==4?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "4")</td>
                        <td class="tdT">D.</td>
                        <td class="tdA">
                            @Html.TextBoxFor(model => model.Cevap4, new { @class = "form-control pull-left", @style = "width:90%" })
                            <span class="btn btn-success fileinput-button pull-left">
                                <i class="fa fa-picture-o fa-4"></i>
                                <input class="fa fa-picture-o fileupload"  data-cevapno="4" type="file" name="files[]" multiple>
                            </span>
                            <div id="img4" style="display:none;">
                                <img id="imgCevap4" src="" style="width:350px; height:250px; overflow:hidden;" />
                            </div>
                        </td>
                    </tr>
                    <tr class="@(Model.DogruCevap==5?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "5")</td>
                        <td class="tdT">E.</td>
                        <td class="tdA">
                            @Html.TextBoxFor(model => model.Cevap5, new { @class = "form-control pull-left", @style = "width:90%" })
                            <span class="btn btn-success fileinput-button pull-left">
                                <i class="fa fa-picture-o fa-4"></i>
                                <input class="fa fa-picture-o fileupload"  data-cevapno="5" type="file" name="files[]" multiple>
                            </span>
                            <div id="img5" style="display:none;">
                                <img id="imgCevap5" src="" style="width:350px; height:250px; overflow:hidden;" />
                            </div>
                        </td>
                    </tr>
                </table>
                @if (Model.SinavTur == 1 && !Model.MazeretSoru)
                {
                    <div class="form-horizontal">
                        <div class="col-lg-6"> <h4>Bu Soruyu Tüm Gruplarıma Ekle @Html.CheckBoxFor(model => model.TumGruplarimaEkle)</h4></div>
                    </div>
                }
                

                    </div>
                    <br />
                    <div class="col-lg-12">
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-6 pull-right">
                                    <div class="btn-toolbar pull-right">
                                        @*<a data-toggle="tooltip" title="" class="popbox btn btn-danger btn-label" href="/Ders/Sinav/SoruIslem/@Model.GrupHocaID?P=@Model.PayID">
                                            <i class="fa fa-times"></i>İptal
                                        </a>*@
                                        <a data-toggle="tooltip" title="" class="popbox btn btn-danger btn-label" href="/Ders/Detay/Sinav/@Model.GrupHocaID?P=@Model.PayID&tab=5">
                                            <i class="fa fa-times"></i>İptal
                                        </a>
                                        <button class="btn btn-info btn-label"><i class="fa fa-check"></i> Kaydet</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
}
<style>
    .myvalidation {
        background-color: red;
        color: white;
    }
</style>
<script>

    dosyaKey = "";

    $('#fileupload').fileupload({
        url: '/Ders/Sinav/ImageUpload',
        dataType: 'json',
        done: function (e, data) {
            if (data.result.DosyaKey != null) {
                dosyaKey = data.result.DosyaKey;
                dosyaAdres = data.result.DosyaAdres;
                $('#SoruDosyaKey').val(dosyaKey);
                $("#imgSoruResim").show();
                $("#imgSoruResim").attr("src", dosyaAdres);
            }
        }
    });


    $('.fileupload').fileupload({
        url: '/Ders/Sinav/ImageUpload',
        dataType: 'json',
        done: function (e, data) {
            if (data.result.DosyaKey != null) {
                dosyaKey = data.result.DosyaKey;
                dosyaAdres = data.result.DosyaAdres;
                var no = $(this).attr("data-cevapno");
                $('#Cevap' + no + 'DosyaKey').val(dosyaKey);
                $("#imgCevap" + no).attr("src", dosyaAdres);
                $('#img' + no).show();
            }
        }
    });


</script>
