﻿@model Sabis.Bolum.Core.ABS.DERS.OSINAV.OSinavSoruEkle
@{
    ViewBag.Title = "Soru Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
<link href="~/Content/assets/global/plugins/jquery-fileupload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/jquery-fileupload/css/jquery.fileupload-ui.css" rel="stylesheet" />
<script src="/Content/assets/global/plugins/jquery-fileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="/Content/assets/global/plugins/jquery-fileupload/js/jquery.iframe-transport.js"></script>
<script src="/Content/assets/global/plugins/jquery-fileupload/js/jquery.fileupload.js"></script>
@Html.Action("_pGrupDersDetaylari", "Detay")
@Html.HiddenFor(model => model.SinavID)
@Html.HiddenFor(model => model.PaylarOlcmeID)
@Html.HiddenFor(model => model.PayOlcmeSoruNo)
@Html.HiddenFor(model => model.PayID)
@*@Html.HiddenFor(model => model.GrupHocaID)*@
@Html.HiddenFor(model => model.SoruNo)
@Html.HiddenFor(model => model.SinavTur)
@*<input type="hidden" id="GrupHocaID" name="GrupHocaID" value="@ViewBag.HocaID"/>*@

@Html.ValidationSummary("", new { @class = "myvalidation" })

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.GrupHocaID)
    <div class="panel panel-primary wrapper2">
        <div class="panel-heading bar-arkaplan">
            Soru Sil
        </div>
        <div class="panel-body div2">
            <div class="col-lg-6">
                <div class="form-group">

                    <div class="col-lg-12">
                        <span class="label label-primary label-md" style="font-size:16px;">@Model.SinavAd</span>
                        <br />
                        <br />
                        @*@Html.TextAreaFor(model => model.Baslik, new { @class = "ckeditor" })*@
                        @Html.Raw(Model.Baslik)
                        <br />
                        <br />
                        @*<div id="editor">
                                <p>Hello World!</p>
                                <p>Some initial <strong>bold</strong> text</p>
                                <p><br></p>
                            </div>*@
                    </div>
                    <div class="col-sm-3">
                        @if (Model.SoruDosyaKey != null)
                        {
                            <img id="imgSoruResim" src="@SDFSClient.FileClient.GetUrl(Model.SoruDosyaKey)" style="width:350px; height:250px; overflow:hidden;" />
                            <br />
                            @*<a class="btn btn-danger" id="resimsil" data-id="@Model.SoruDosyaID"><i class="fa fa-times"></i> Resim Sil</a>*@
                        }
                        else
                        {
                            @*<span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Resim Ekle</span>
                                <input id="fileupload" type="file" name="files[]" multiple>
                            </span>*@
                        }
                        @Html.HiddenFor(model => model.SoruDosyaKey)
                        <div id="progress" class="progress" style="display: none;">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <table style="width:100%" class="table-answers table table-striped table-bordered table-hover">
                    <tr>
                        <th colspan="3">
                            Seçenekler
                        </th>
                    </tr>
                    <tr class="@(Model.DogruCevap==1?"green":"")">
                        <td class="tdR" style="width:5% !important">@Html.RadioButton("DogruCevap", "1")</td>
                        <td class="tdT" style="width:5% !important">A.</td>
                        <td class="tdA" style="width:90% !important">@Html.TextBoxFor(model => model.Cevap1, new { @class = "form-control" })</td>
                    </tr>
                    <tr class="@(Model.DogruCevap==2?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "2")</td>
                        <td class="tdT">B.</td>
                        <td class="tdA">@Html.TextBoxFor(model => model.Cevap2, new { @class = "form-control" })</td>
                    </tr>
                    <tr class="@(Model.DogruCevap==3?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "3")</td>
                        <td class="tdT">C.</td>
                        <td class="tdA">@Html.TextBoxFor(model => model.Cevap3, new { @class = "form-control" })</td>
                    </tr>
                    <tr class="@(Model.DogruCevap==4?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "4")</td>
                        <td class="tdT">D.</td>
                        <td class="tdA">@Html.TextBoxFor(model => model.Cevap4, new { @class = "form-control" })</td>
                    </tr>
                    <tr class="@(Model.DogruCevap==5?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "5")</td>
                        <td class="tdT">E.</td>
                        <td class="tdA">@Html.TextBoxFor(model => model.Cevap5, new { @class = "form-control" })</td>
                    </tr>
                </table>



            </div>
            <br />
            <div class="col-lg-12">
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 pull-right">
                            <div class="btn-toolbar pull-right">
                                <a data-toggle="tooltip" title="" class="popbox btn btn-danger btn-label" href="/Ders/Sinav/SoruIslem/@Model.GrupHocaID?P=@Model.PayID">
                                    <i class="fa fa-times"></i>İptal
                                </a>
                                <button class="btn btn-success btn-label"><i class="fa fa-check"></i> Silmeyi Onayla</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<style>
    .myvalidation {
        background-color: red;
        color: white;
    }
</style>
<script>

        $(document).ready(function () {
            //$("input").prop("disabled", true);
        });


    dosyaKey = "";

    $('#fileupload').fileupload({
        url: '/Ders/Dokuman/Upload',
        dataType: 'json',
        done: function (e, data) {
            if (data.result.DosyaKey != null) {
                dosyaKey = data.result.DosyaKey;
                $('#SoruDosyaKey').val(dosyaKey);
            }
        }
    });
    $("#resimsil").on("click", function () {
        $.post("/Ders/Sinav/SoruResimSil", { id: $(this).attr("data-id") })
        .done(function (json) {
            json ? toastr.info("Resim Silindi.") : toastr.error("Hata oluştu.");
            $('#imgSoruResim').hide();
            //location.reload();
            @*$('#modalBody').load('@url');*@
            });
    });

</script>


