﻿@model List<Sabis.Bolum.Core.ABS.DERS.SINAV.OturumDetayDto>
@{
    Layout = null;
}
@*<div class="row">
    @if (Model != null && Model.Where(x => x.MazeretSoru == false && x.MazeretCevap == false).Count() > 0)
    {
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">Oturum <span class="pull-right">@Model.Where(x => x.MazeretSoru == false && x.MazeretCevap == false).FirstOrDefault().TarihOturumBaslangic</span></div>

                <div class="panel-body" style="padding:0 !important;">
                    <table class="table table-bordered table-striped" style="margin-bottom:0 !important;">
                        <thead>
                            <tr class="info">
                                <th class="col-md-1 text-center">SoruNo</th>
                                <th class="col-md-8">Soru</th>
                                <th class="col-md-3 text-center">Sonuc</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Where(x => x.MazeretSoru == false && x.MazeretCevap == false).ToList())
                            {
                                <tr>
                                    <td class="col-md-1 text-center">@item.SoruNo</td>
                                    <td class="col-md-8 text-primary">@Html.Raw(item.Baslik)</td>
                                    <td class="col-md-3 text-center">
                                        @if (item.SoruIptal)
                                        {
                                            <span class="btn btn-danger">İptal</span>
                                        }
                                        else
                                        {
                                            if (item.CevapDogru == null)
                                            {
                                                <h3>Boş Bırakıldı</h3>
                                            }
                                            else
                                            {
                                                if (item.CevapDogru.Value)
                                                {
                                                    <h3><i class="fa fa-check" style="color:#2ad11e"></i></h3>
                                                }
                                                else
                                                {
                                                    <h3><i class="fa fa-times" style="color:red"></i></h3>
                                                }
                                            }

                                        }


                                    </td>
                                </tr>
                            }
                            <tr>
                                <td class="col-md-1 text-center">
                                    Not
                                </td>
                                <td class="col-md-8 text-center">
                                    <h3>
                                        <span class="text-primary">
                                            <strong>
                                                @Model.Where(x => x.MazeretSoru == false && x.MazeretCevap == false).FirstOrDefault().Notu
                                            </strong>
                                        </span>
                                    </h3>
                                </td>
                                <td class="col-md-3 text-center"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    }
    @if (Model != null && Model.Where(x => x.MazeretSoru == true && x.MazeretCevap == true).Count() > 0)
    {
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">Mazeret Oturumu <span class="pull-right">@Model.Where(x => x.MazeretSoru == true && x.MazeretCevap == true).FirstOrDefault().TarihMazeretOturumBaslangic</span></div>

                <div class="panel-body" style="padding:0 !important;">
                    <table class="table table-bordered table-striped" style="margin-bottom:0 !important;">
                        <thead>
                            <tr class="info">
                                <th class="col-md-1 text-center">SoruNo</th>
                                <th class="col-md-8">Soru</th>
                                <th class="col-md-3 text-center">Sonuc</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Where(x => x.MazeretSoru == true && x.MazeretCevap == true).ToList())
                            {
                                <tr>
                                    <td class="col-md-1 text-center">@item.SoruNo</td>
                                    <td class="col-md-8 text-primary">@Html.Raw(item.Baslik)</td>
                                    <td class="col-md-3 text-center">
                                        @if (item.CevapDogru.Value)
                                        {
                                            <h3><i class="fa fa-check" style="color:#2ad11e"></i></h3>
                                        }
                                        else
                                        {
                                            <h3><i class="fa fa-times" style="color:red;"></i></h3>
                                        }

                                    </td>
                                </tr>
                            }
                            <tr>
                                <td class="col-md-1 text-center">Not</td>
                                <td class="col-md-8 text-center">
                                    <h3>
                                        <span class="text-primary">
                                            <strong>
                                                @Model.Where(x => x.MazeretSoru == true && x.MazeretCevap == true).FirstOrDefault().MazeretNotu
                                            </strong>
                                        </span>
                                    </h3>
                                </td>
                                <td class="col-md-3 text-center"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

</div>*@

@if (Model != null && Model.Where(x => x.MazeretSoru == false && x.MazeretCevap == false).Count() > 0)
{
    <a href="#" id="oturumTemizle" class="btn btn-danger" data-eid="@Model.FirstOrDefault().EID"><i class="fa fa-trash"></i> Oturumu Temizle</a>    <span>(Öğrencinin bu oturumuyla ilgili tüm verileri silinecektir.)</span>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group panel-info" id="accordion">
                @foreach (var item in Model.Where(x => x.MazeretSoru == false && x.MazeretCevap == false).ToList())
                {
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.SoruNo" class="collapsed">
                            <div class="panel-heading cevap_@item.CevapDogru1.ToString()">
                                <h4>@item.SoruNo. Soru </h4>

                            </div>
                        </a>
                        <div id="collapse_@item.SoruNo" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <strong>Soru :</strong> @Html.Raw(item.Baslik)

                                <br />
                                <strong>Öğrenci Cevap : </strong> @item.OgrenciCevap
                                <br />
                                <strong>Doğru Cevap : </strong> @item.DogruCevap
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
}
@if (Model != null && Model.Where(x => x.MazeretSoru == true && x.MazeretCevap == true).Count() > 0)
{
    <a href="#" id="oturumTemizleMazeret" class="btn btn-danger" data-eid="@Model.FirstOrDefault().EID"><i class="fa fa-trash"></i>Mazeret Oturumu Temizle</a>    <span>(Öğrencinin bu oturumuyla ilgili tüm verileri silinecektir.)</span>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group panel-info" id="accordion">
                @foreach (var item in Model.Where(x => x.MazeretSoru == true && x.MazeretCevap == true).ToList())
                {
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.SoruNo" class="collapsed">
                            <div class="panel-heading cevap_@item.CevapDogru.ToString()">
                                <h4>@item.SoruNo. Soru </h4>

                            </div>
                        </a>
                        <div id="collapse_@item.SoruNo" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <strong>Soru :</strong> @Html.Raw(item.Baslik)

                                <br />
                                <strong>Öğrenci Cevap : </strong> @item.OgrenciCevap
                                <br />
                                <strong>Doğru Cevap : </strong> @item.DogruCevap
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
}
<style>
    .modal-dialog {
        width: 1000px !important;
    }

    .accordion-item {
        background-color: #2ad11e !important;
        padding: 10px !important;
        color: white !important;
    }
    .cevap_True{
        background-color:#247535 !important;
        color:white !important;
        text-decoration:none;
    }
    .cevap_False {
        background-color: #ff3d3d!important;
        color:white !important;
        text-decoration:none;
    }


    .cevap_1{
        background-color:#247535 !important;
        color:white !important;
        text-decoration:none;
    }
    .cevap_0 {
        background-color: #ff3d3d!important;
        color:white !important;
        text-decoration:none;
    }
    .cevap_-1 {
        background-color: #808080 !important;
        color:white !important;
        text-decoration:none;
    }






</style>

<script>
    $("#oturumTemizle").click(function () {
        var data = {
            EID: $("#oturumTemizle").attr("data-eid"),
            mazeret:false
        };
        $.post("/Ders/Sinav/OturumTemizle", data)
             .success(function (json) {
                 toastr.success("Oturum Temizlendi. Öğrenci Sınava Tekrar Girebilir.");
                 location.reload();
             }
        );

    });

    $("#oturumTemizleMazeret").click(function () {
        var data = {
            EID: $("#oturumTemizleMazeret").attr("data-eid"),
            mazeret : true
        };
        $.post("/Ders/Sinav/OturumTemizle", data)
             .success(function (json) {
                 toastr.success("Mazeret Oturumu Temizlendi. Öğrenci Sınava Tekrar Girebilir.");
                 location.reload();
             }
        );

    });
</script>