﻿@model Sabis.Bolum.WebUI.Areas.Ders.Models.SinavOturumVM
@{
    ViewBag.Title = "Sınav Oturumları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
    var mazeretSinaviVarmi = Sabis.Bolum.Bll.SOURCE.ABS.DERS.SINAVMAIN.MazeretSinavi(Model.SinavID);
    //ViewBag.Breadcrumb = "<li><a href='/'>Akademik Bilgi Sistemi</a><i class='fa fa-circle'></i></li><li><a href='/Ders/Detay/Grup/" + dersDetay.DersGrupHocaID + "'>" + dersDetay.DersAd.Substring(0, 1).ToUpper() + dersDetay.DersAd.Substring(1).ToLower() + "</a><i class='fa fa-circle'></i></li><li>asdasdasdasd<i class='fa fa-circle'></i></li><li>Sınav Oturumları</li>";

    
}
@*@Html.Action("_pGrupDersDetaylari", "Detay", new { redirect = true })*@

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/Ders/Detay/Grup/@dersDetay.DersGrupHocaID">@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/Ders/Sinav/SoruIslem/@dersDetay.DersGrupHocaID?P=@Model.PayID">@Model.SinavAd</a><i class="fa fa-chevron-right"></i></li>
            <li>SınavOturumları</li>
        </ul>
    </div>
}









@using (Html.BeginForm("SinavOturumlari", "Sinav", FormMethod.Post))
{
    <input type="hidden" name="id" id="id" value="@Model.grupHocaID" />
    <input type="hidden" name="k" id="k" value="@Model.koordinator.ToString()" />
    @Html.HiddenFor(m => m.SinavID)
    <div class="row">
        <div class="col-md-2">
            <div class="col-lg-12 col-md-12" style="padding:0 !important;">
                <div class="panel panel-primary">
                    <div class="panel-heading bar-arkaplan"><i class="fa fa-search"></i> Filtreleme</div>
                    <div class="panel-body">

                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    @*@Html.DropDownListFor(model => model.Gruplar.FirstOrDefault().Value, Model.Gruplar, "Sınıf Seçiniz", new { @class = "form-control" })*@
                                    @Html.DropDownListFor(model => model.Gruplar.FirstOrDefault().Value, Model.Gruplar, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.OgrenciNo, new { @class = "form-control", @placeholder = "Öğrenci No" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="radio-inline">
                                        <input name="form-field-radio" type="radio" class="ace" checked="checked" onchange="StatusFilter(0)">
                                        <span class="lbl"> Tüm Oturumlar</span>
                                    </label>
                                </div>
                                <div class="col-lg-12">
                                    <label class="radio-inline">
                                        <input name="form-field-radio" type="radio" class="ace" onchange="StatusFilter(1)">
                                        <span class="lbl"> Devam Eden Oturumlar</span>
                                    </label>
                                </div>
                                <div class="col-lg-12">
                                    <label class="radio-inline">
                                        <input name="form-field-radio" type="radio" class="ace" onchange="StatusFilter(2)">
                                        <span class="lbl"> Tamamlanan Oturumlar</span>
                                    </label>
                                </div>
                                <div class="col-lg-12">
                                    <label class="radio-inline">
                                        <input name="form-field-radio" type="radio" class="ace" onchange="StatusFilter(3)">
                                        <span class="lbl"> Sorun Bildirenler</span>
                                    </label>
                                </div>
                            </div>

                            <button class="btn btn-success">ARA</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <a class="btn btn-success" id="yenidenHesapla" data-sinavid="@Model.SinavID">
                    <i class="fa fa-calculator" aria-hidden="true"></i>
                    Sonuçları Yeniden Hesapla
                </a>
            </div>
            <br />
            <br />
            @if (Model.koordinator)
            {
                <br />
                <br />
                <div class="col-lg-12 col-md-12" style="margin-top:20px !important;">
                    <a class="btn btn-danger" id="tumSorunlar" href='@(Url.Action("TumSorunlar", "Sinav", new { id = Model.grupHocaID, SinavID = Model.SinavID}))'>
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Tüm Sorunlar
                    </a>
                </div>
            }
        </div>
        <div class="col-md-10">
            @if (Model.Oturumlar != null)
            {
                if (Model.Oturumlar.Count() > 0)
                {
                    foreach (var oturum in Model.Oturumlar)
                    {
                        <div class="col-lg-4 oturumdurum_@oturum.OturumDurum sorun_@oturum.GeriBildirimID rowbtn">
                            <div class="panel panel-primary">
                                <div class="panel-heading bar-arkaplan">
                                    @if (oturum.OturumDurum == 0)
                                    {
                                        <span>Sınava Katılmadı</span> <span class="pull-right">@oturum.OturumTarih</span>
                                    }
                                    else if (oturum.OturumDurum == 1)
                                    {
                                        <span>Oturum Devam Ediyor. <span class="pull-right" style="font-size:10px !important;">@oturum.TarihOturumBaslangic</span></span> 
                                    }
                                    else if (oturum.OturumDurum == 2)
                                    {
                                        <span>Oturum Tamamlandı.<span class="pull-right" style="font-size:10px !important;">@oturum.TarihOturumBaslangic - @oturum.TarihOturumBitis</span></span>                                        
                                    }
                                    else if (oturum.OturumDurum == 3)
                                    {
                                        <span>Mazeret Hakkı Verildi</span>
                                    }
                                    else if (oturum.OturumDurum == 4)
                                    {
                                        <span>Mazeret Sınavı Devam Ediyor. <span class="pull-right" style="font-size:10px !important;">@oturum.TarihMazeretOturumBaslangic</span></span>
                                    }
                                    else if (oturum.OturumDurum == 5)
                                    {
                                        <span>Mazeret Sınavı Tamamlandı. <span class="pull-right" style="font-size:10px !important;">@oturum.TarihMazeretOturumBaslangic - @oturum.TarihMazeretOturumBitis</span></span>
                                    }
                                </div>
                                <div class="panel-body">
                                    <div class="col-lg-6 col-md-6" style="padding-left:0 !important;">
                                        @oturum.OgrenciAd @oturum.OgrenciSoyad <br /><span class="text-primary">@oturum.OgrenciNumara</span>
                                        @if (oturum.GeriBildirimID != 0)
                                        {
                                            <span class="btn btn-xs btn-danger">
                                                <a href="#" style="text-decoration:none; color:white !important;" data-title='Sorun Bildirimi' data-toggle='tooltip modal' data-source='/Ders/Sinav/SorunBildirimi?bid=@oturum.GeriBildirimID'>1 SORUN BİLDİRİLİDİ</a>
                                            </span>
                                        }
                                        <div class="hover-btn" style="margin-top:6px;">
                                            @if (mazeretSinaviVarmi)
                                            {
                                                if (oturum.OturumDurum != 3)
                                                {
                                                    <a href="#" class="btn btn-xs btn-success pull-left mazeretHak" data-eid="@oturum.EID" data-sinavid="@Model.SinavID" data-ogrenciid="@oturum.OgrenciID" data-yazilmaid="@oturum.YazilmaID"><i class="fa fa-check"></i>Mazeret Hakkı Ver</a>
                                                }
                                                if (oturum.OturumDurum == 3)
                                                {
                                                    <a href="#" class="btn btn-xs btn-danger pull-left mazeretHakSil" data-eid="@oturum.EID" data-sinavid="@Model.SinavID" data-ogrenciid="@oturum.OgrenciID" data-yazilmaid="@oturum.YazilmaID"><i class="fa fa-remove"></i>Mazeret Hakkını Sil</a>
                                                }

                                            }
                                        </div>

                                    </div>

                                    <div class="col-lg-6 col-md-6 pull-right">
                                        @if (oturum.TarihMazeretOturumBaslangic != null && oturum.TarihMazeretOturumBitis != null)
                                        {
                                            <a href="#" class="btn btn-default pull-right">@oturum.MazeretBosSayisi</a>
                                            <a href="#" class="btn btn-danger pull-right">@oturum.MazeretYanlisSayisi</a>
                                            <a href="#" class="btn btn-success pull-right">@oturum.MazeretDogruSayisi</a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-default pull-right">@oturum.BosSayisi</a>
                                            <a href="#" class="btn btn-danger pull-right">@oturum.YanlisSayisi</a>
                                            <a href="#" class="btn btn-success pull-right">@oturum.DogruSayisi</a>
                                        }

                                        <br />
                                        <h3>
                                            <span class="text-primary pull-right">

                                                <a href="#" style="text-decoration:none;" data-title='Oturum Detayları' data-toggle='tooltip modal' data-source='/Ders/Sinav/OturumDetay?eid=@oturum.EID'>
                                                    @if (@oturum.Notu == null)
                                                    {
                                                        <span>0</span>

                                                    }
                                                    else
                                                    {
                                                        @oturum.Notu
                                                    }

                                                </a>

                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h4><i class="fa fa-info"></i> Bu Sınıfa Kayıtlı Öğrenci Bulunamadı.</h4>
                }

            }
        </div>
    </div>
}
<style>
    .hover-btn {
        position: relative;
        display: none;
    }

    .rowbtn:hover .hover-btn {
        display: block;
    }
</style>
<script>
    $("#oturumTemizle").click(function () {
        var data = {
            EID: $("#oturumTemizle").attr("data-id"),
        };
        $.post("/Ders/Sinav/OturumTemizle", data)
             .success(function (json) {
                 toastr.success("Oturum Temizlendi. Öğrenci Sınava Tekrar Girebilir.");
                 location.reload();
             }
        );

    });
    $(".mazeretHak").click(function () {
        var data = {
            sinavID: $(this).attr("data-sinavid"),
            ogrenciID: $(this).attr("data-ogrenciid"),
            EID: $(this).attr("data-eid"),
            yazilmaid: $(this).attr("data-yazilmaid")
        };
        $.post("/Ders/Sinav/MazeretHakVer", data)
             .success(function (json) {
                 toastr.success("Mazeret Hakkı Verildi. Öğrenci Mazeret Sınavı Tarihi Geldiğinde Sınava Tekrar Girebilir.");
                 location.reload();
             }
        );

    });
    $(".mazeretHakSil").click(function () {
        var data = {
            sinavID: $(this).attr("data-sinavid"),
            ogrenciID: $(this).attr("data-ogrenciid"),
            EID: $(this).attr("data-eid"),
            yazilmaid: $(this).attr("data-yazilmaid")
        };
        $.post("/Ders/Sinav/MazeretHakSil", data)
            .success(function (json) {
                toastr.success("Mazeret Hakkı Silindi.");
                location.reload();
            }
            );

    });
    function StatusFilter(enStatus) {
        status = parseInt(enStatus);
        var islem = "";
        if (status == 0) islem = "hepsi";
        if (status == 1) islem = "devameden";
        if (status == 2) islem = "biten";
        if (status == 3) islem = "sorun";

        switch (islem) {
            case "hepsi":
                $(".oturumdurum_0").show();
                $(".oturumdurum_1").show();
                $(".oturumdurum_2").show();
                $(".oturumdurum_3").show();
                $(".oturumdurum_4").show();
                $(".oturumdurum_5").show();
                break;
            case "devameden":
                $(".oturumdurum_0").hide();
                $(".oturumdurum_2").hide();
                $(".oturumdurum_5").hide();
                $(".oturumdurum_1").show();
                $(".oturumdurum_4").show();                
                break;
            case "biten":
                $(".oturumdurum_0").hide();
                $(".oturumdurum_1").hide();
                $(".oturumdurum_3").show();
                $(".oturumdurum_2").show();
                $(".oturumdurum_5").show();
                break;
            case "sorun":
                $(".sorun_0").hide();
                break;
        }

    }

    $("#yenidenHesapla").click(function () {
        var data = {
            SinavID: $(this).attr("data-sinavid")
        };
        $.post("/Ders/Sinav/SinavNotYenidenHesapla", data)
             .success(function (json) {
                 toastr.success("Sınav Sonuçları Yediden Hesaplandı");
                 location.reload();
             }
        );

    });

</script>
