﻿@model List<Sabis.Bolum.Core.ABS.DERS.SINAV.OSinavOnizleme>
@{
    Layout = null;
}
<div class="widget-main no-padding">
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];

        <div class="col-lg-12" style="padding-left:0 !important">
            <div class="widget-box  " margin-bottom:10px;">
                <div class="widget-header widget-header-flat">
                    <h5 class="widget-title">
                        @Html.HiddenFor(m => m[i].CevapID)
                        @Html.HiddenFor(m => m[i].CevapText)

                        <span id="@(item.CevapID)_no" class="btn @(item.Cevap.HasValue?"btn-success":"btn-info")">@(i + 1)</span>
                    </h5>
                    <div class="widget-toolbar loading" style="display:none;" id="@(item.CevapID)_loading">
                        <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>
                    </div>
                </div>
                <div class="widget-body" style="border: 1px solid #CCC;">
                    <div class="widget-main no-padding">
                        <div>
                            <div class="well" style="margin-bottom:0px;padding: 8px;">
                                @Html.Raw(item.Baslik)
                                @if (item.SoruResim != null)
                                {
                                    <br />
                                            <img src="@SDFSClient.FileClient.GetUrl(item.SoruResim)" style="max-width:600px; max-height:400px; overflow:scroll" />
                                }
                            </div>
                            <div class="clearfix">
                                <table style="width:100%;" class="table-answers table">
                                    <tr>
                                        <td class="tdT" style="width:3%"><b class="green">A.</b></td>
                                        <td>
                                            <div>
                                                <label style="width:100%;">
                                                    <input id="Cevaplar_@(i)_Cevap_1"
                                                           name="Cevaplar[@(i)].Cevap"
                                                           data-id="@item.CevapID"
                                                           data-no="@item.SoruNo"
                                                           data-index="@i"
                                                           data-text="@item.Cevap1"
                                                           @(item.DogruCevap == 1 ? "checked='checked'" : "")
                                                           type="radio" value="1" class="ace answer">
                                                    <span id="@(item.CevapID)_1_lbl" class="lbl"> @item.Cevap1</span>
                                                    @if (item.Cevap1Resim != null)
                                                    {
                                                        <br />
                                                                <img src="@SDFSClient.FileClient.GetUrl(item.Cevap1Resim)" style="max-width:600px; max-height:400px; overflow:scroll" />
                                                    }
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdT" style="width:3%"><b class="green">B.</b></td>
                                        <td>
                                            <div>
                                                <label style="width:100%;">
                                                    <input id="Cevaplar_@(i)_Cevap_2"
                                                           name="Cevaplar[@(i)].Cevap"
                                                           data-id="@item.CevapID"
                                                           data-no="@item.SoruNo"
                                                           data-index="@i"
                                                           data-text="@item.Cevap2"
                                                           @(item.DogruCevap == 2 ? "checked='checked'" : "")
                                                           type="radio" value="2" class="ace answer">
                                                    <span id="@(item.CevapID)_2_lbl" class="lbl"> @item.Cevap2</span>
                                                    @if (item.Cevap2Resim != null)
                                                    {
                                                        <br />
                                                                <img src="@SDFSClient.FileClient.GetUrl(item.Cevap2Resim)" style="max-width:600px; max-height:400px; overflow:scroll" />
                                                    }
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdT" style="width:3%"><b class="green">C.</b></td>
                                        <td>
                                            <div>
                                                <label style="width:100%;">
                                                    <input id="Cevaplar_@(i)_Cevap_3"
                                                           name="Cevaplar[@(i)].Cevap"
                                                           data-id="@item.CevapID"
                                                           data-no="@item.SoruNo"
                                                           data-index="@i"
                                                           data-text="@item.Cevap3"
                                                           @(item.DogruCevap == 3 ? "checked='checked'" : "")
                                                           type="radio" value="3" class="ace answer">
                                                    <span id="@(item.CevapID)_3_lbl" class="lbl"> @item.Cevap3</span>
                                                    @if (item.Cevap3Resim != null)
                                                    {
                                                        <br />
                                                                <img src="@SDFSClient.FileClient.GetUrl(item.Cevap3Resim)" style="max-width:600px; max-height:400px; overflow:scroll" />
                                                    }
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdT" style="width:3%"><b class="green">D.</b></td>
                                        <td>
                                            <div>
                                                <label style="width:100%;">
                                                    <input id="Cevaplar_@(i)_Cevap_4"
                                                           name="Cevaplar[@(i)].Cevap"
                                                           data-id="@item.CevapID"
                                                           data-no="@item.SoruNo"
                                                           data-index="@i"
                                                           data-text="@item.Cevap4"
                                                           @(item.DogruCevap == 4 ? "checked='checked'" : "")
                                                           type="radio" value="4" class="ace answer">
                                                    <span id="@(item.CevapID)_4_lbl" class="lbl"> @item.Cevap4</span>
                                                    @if (item.Cevap4Resim != null)
                                                    {
                                                        <br />
                                                                <img src="@SDFSClient.FileClient.GetUrl(item.Cevap4Resim)" style="max-width:600px; max-height:400px; overflow:scroll" />
                                                    }
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdT" style="width:3%"><b class="green">E.</b></td>
                                        <td>
                                            <div>
                                                <label style="width:100%;">
                                                    <input id="Cevaplar_@(i)_Cevap_5"
                                                           name="Cevaplar[@(i)].Cevap"
                                                           data-id="@item.CevapID"
                                                           data-no="@item.SoruNo"
                                                           data-index="@i"
                                                           data-text="@item.Cevap5"
                                                           @(item.DogruCevap == 5 ? "checked='checked'" : "")
                                                           type="radio" value="5" class="ace answer">
                                                    <span id="@(item.CevapID)_5_lbl" class="lbl"> @item.Cevap5</span>
                                                    @if (item.Cevap5Resim != null)
                                                    {
                                                        <br />
                                                                <img src="@SDFSClient.FileClient.GetUrl(item.Cevap5Resim)" style="max-width:600px; max-height:400px; overflow:scroll" />
                                                    }
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
    <style>
        .modal-dialog {
            width: 1000px !important;
        }
    </style>

