﻿@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL

@*@model Sabis.Bolum.Core.ABS.DERS.OSINAV.OSinavVM*@
@model Tuple<Sabis.Bolum.Core.ABS.DERS.OSINAV.OSinavVM, List<Sabis.Bolum.Core.ABS.DERS.SINAV.PaylarOlcmeVM>, List<Sabis.Bolum.Core.ABS.DERS.SINAV.PaylarOlcmeVM>>
@{
    ViewBag.Title = "SoruIslem";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
    int FKKoordinatorID = Sabitler.KullaniciID;
    bool KoordinatorMu = GENELMAIN.KoordinatorMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    int pid = Convert.ToInt32(Request.RequestContext.RouteData.Values["P"]);
}
<link href="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/Ders/Detay/Grup/@dersDetay.DersGrupHocaID">@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/Ders/Sinav/SinavSorulari/@dersDetay.DersGrupHocaID?P=@Model.Item1.PayID">@Model.Item1.Ad</a><i class="fa fa-chevron-right"></i></li>
            <li>Sınav&Soru İşlemleri</li>
        </ul>
    </div>
}
@Html.Action("_pGrupDersDetaylari", "Detay", new { redirect = true })
<div class="row">
    <div class="col-lg-12 col-md-12">
        @*<h3><span class="label label-warning">Önceki Yıllara Ait Sınav Sorularınıza <a href="http://lms.apollo.gtu.edu.tr/"> http://lms.apollo.gtu.edu.tr</a> adrresinden ulaşabilirsiniz.</span></h3>*@
        <div class="well well-sm tooltips" style="background-color:#3a83c1; color:white !important;">
            <h4><i class="fa fa-info"></i> Önceki Yıllara Ait Sınav Sorularınıza <a href="http://lms.apollo.gtu.edu.tr/" style="color:white !important; text-decoration: underline;"> http://lms.apollo.gtu.edu.tr</a> adresinden ulaşabilirsiniz.</h4>
        </div>
    </div>
</div>

@if (Model != null)
{
    using (Html.BeginForm())
    {
        @Html.ValidationSummary("", new { @class = "myvalidation" })
        @*if (!KoordinatorMu)
            {
                <a href="/Ders/Sinav/SinavOturumlari/@Model.Item1.HocaID?SinavID=@Model.Item1.SinavID&k=false" class="btn btn-success bigger-400" id="Oturumlar"><i class="fa fa-users"></i>Sınav Oturumları (Hoca Bazlı)</a>
            }*@
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading bar-arkaplan">Sınav İşlemleri</div>
                    <div class="panel-body">
                        @if (Model.Item1 != null)
                        {
                            @Html.HiddenFor(model => model.Item1.SinavID)
                            @Html.HiddenFor(model => model.Item1.SoruSayisi)
                            @Html.HiddenFor(model => model.Item1.HocaID)
                            @Html.HiddenFor(model => model.Item1.PayID)
                            if (KoordinatorMu || Model.Item1.EklemeTuru == 1)
                            {
                                <div class="col-lg-4">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="disabledinput" class="col-lg-3 control-label" style="text-align:left !important;">Sınav Adı</label>
                                            <div class="col-lg-9">
                                                @Html.TextBoxFor(model => model.Item1.Ad, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtarea1" class="col-lg-3 control-label" style="text-align:left !important;">Açıklama</label>
                                            <div class="col-lg-9">
                                                @Html.TextBoxFor(model => model.Item1.Aciklama, new { @class = "form-control", placeholder = "Açıklama" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtarea1" class="col-lg-3 control-label" style="text-align:left !important;">Başlangıç</label>
                                            <div class="col-lg-9">
                                                @Html.TextBoxFor(model => model.Item1.Baslangic, new { @class = "form-control tarihSec", placeholder = "Başlangıç Tarihi" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtarea1" class="col-lg-3 control-label" style="text-align:left !important;">Bitiş</label>
                                            <div class="col-lg-9">
                                                @Html.TextBoxFor(model => model.Item1.Bitis, new { @class = "form-control tarihSec", placeholder = "Başlangıç Tarihi" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" style="text-align:left !important;">Süre</label>
                                            <div class="col-lg-9">
                                                @Html.TextBoxFor(model => model.Item1.Sure, new { @class = "form-control", @type = "number", step = "1", placeholder = "Örn : 30" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="disabledinput" class="col-lg-5 control-label" style="text-align:left !important;">Mazeret Sınavı Var</label>
                                            <div class="col-lg-7">
                                                @Html.CheckBoxFor(model => model.Item1.Mazeret, new { @style = "width: 20px; height: 20px;" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtarea1" class="col-lg-5 control-label" style="text-align:left !important;">Mazeret Sınav Başlangıç</label>
                                            <div class="col-lg-7">
                                                @Html.TextBoxFor(model => model.Item1.MazeretBaslangic, new { @class = "form-control tarihSec", placeholder = "Mazeret Başlangıç Tarihi" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtarea1" class="col-lg-5 control-label" style="text-align:left !important;">Mazeret Sınav Bitiş</label>
                                            <div class="col-lg-7">
                                                @Html.TextBoxFor(model => model.Item1.MazeretBitis, new { @class = "form-control tarihSec", placeholder = "Mazeret Bitiş Tarihi" })
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <label for="txtarea1" class="col-lg-5 control-label" style="text-align:left !important;">Mazeret Sınav Süre</label>
                                                <div class="col-lg-7">
                                                    @Html.TextBoxFor(model => model.Item1.MazeretSure, new { @class = "form-control", @type = "number", step = "5", placeholder = "Örn : 30" })
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    @if (Model.Item1.Yayinlandi == 0)
                                    {
                                        <span class="text-danger"><h3>Sınav Yayınlanmadı.</h3></span><a class="btn btn-success bigger-400" id="SinavYayinla" data-id="@Model.Item1.SinavID"><i class="fa fa-check"></i>Yayınla</a>
                                    }
                                    else
                                    {
                                        <span class="text-success"><h3>Sınav Yayınlandı.</h3></span><a class="btn btn-danger bigger-400" id="SinavYayindanKaldir" data-id="@Model.Item1.SinavID"><i class="fa fa-times"></i>Yayından Kaldır</a>
                                    }
                                    <br />
                                    <br />
                                    @if (KoordinatorMu)
                                    {
                                        <a href="/Ders/Sinav/SinavOturumlari/@Model.Item1.HocaID?SinavID=@Model.Item1.SinavID&k=true" class="btn btn-success bigger-400" id="Oturumlar"><i class="fa fa-users"></i>Sınav Oturumları</a>
                                    }
                                    else
                                    {
                                        <a href="/Ders/Sinav/SinavOturumlari/@Model.Item1.HocaID?SinavID=@Model.Item1.SinavID&k=false" class="btn btn-success bigger-400" id="Oturumlar"><i class="fa fa-users"></i>Sınav Oturumları</a>
                                    }

                                </div>
                                <div class="col-lg-12">
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-6 pull-right">
                                                <div class="btn-toolbar pull-right">
                                                    @*<a data-toggle="tooltip" title="" class="popbox btn btn-danger btn-label" href="/Ders/OnlineSinav/Liste/@ViewBag.FKDersGrupHocaID">
                                                            <i class="fa fa-times"></i>İptal
                                                        </a>*@
                                                    <button class="btn btn-info btn-label"><i class="fa fa-plus"></i> Kaydet</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                if (!KoordinatorMu)
                                {
                                    <div class="col-lg-4">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="disabledinput" class="col-lg-3 control-label" style="text-align:left !important;">Sınav Adı</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(model => model.Item1.Ad, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtarea1" class="col-lg-3 control-label" style="text-align:left !important;">Açıklama</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(model => model.Item1.Aciklama, new { @class = "form-control", placeholder = "Açıklama", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtarea1" class="col-lg-3 control-label" style="text-align:left !important;">Başlangıç</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(model => model.Item1.Baslangic, new { @class = "form-control tarihSec", placeholder = "Başlangıç Tarihi", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtarea1" class="col-lg-3 control-label" style="text-align:left !important;">Bitiş</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(model => model.Item1.Bitis, new { @class = "form-control tarihSec", placeholder = "Başlangıç Tarihi", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label" style="text-align:left !important;">Süre</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(model => model.Item1.Sure, new { @class = "form-control", @type = "number", step = "1", placeholder = "Örn : 30", @readonly = "readonly" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="disabledinput" class="col-lg-5 control-label" style="text-align:left !important;">Mazeret Sınavı Var</label>
                                                <div class="col-lg-7">
                                                    @Html.CheckBoxFor(model => model.Item1.Mazeret, new { @style = "width: 20px; height: 20px;", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtarea1" class="col-lg-5 control-label" style="text-align:left !important;">Mazeret Sınav Başlangıç</label>
                                                <div class="col-lg-7">
                                                    @Html.TextBoxFor(model => model.Item1.MazeretBaslangic, new { @class = "form-control tarihSec", placeholder = "Mazeret Başlangıç Tarihi", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtarea1" class="col-lg-5 control-label" style="text-align:left !important;">Mazeret Sınav Bitiş</label>
                                                <div class="col-lg-7">
                                                    @Html.TextBoxFor(model => model.Item1.MazeretBitis, new { @class = "form-control tarihSec", placeholder = "Mazeret Bitiş Tarihi", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            @*<div class="form-group">
                                                    <label for="txtarea1" class="col-lg-5 control-label" style="text-align:left !important;">Mazeret Sınav Süre</label>
                                                    <div class="col-lg-7">
                                                        @Html.TextBoxFor(model => model.Item1.MazeretSure, new { @class = "form-control", @type = "number", step = "5", placeholder = "Örn : 30" })
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        @if (Model.Item1.Yayinlandi == 0)
                                        {
                                            <span class="text-danger"><h3>Sınav Yayınlanmadı.</h3></span>
                                        }
                                        else
                                        {
                                            <span class="text-danger"><h3>Sınav Yayınlandı.</h3></span>
                                        }
                                        <br />
                                        <br />
                                        <a href="/Ders/Sinav/SinavOturumlari/@Model.Item1.HocaID?SinavID=@Model.Item1.SinavID&k=false" class="btn btn-success bigger-400" id="Oturumlar"><i class="fa fa-users"></i>Sınav Oturumları</a>

                                    </div>
                                    <div class="col-lg-12">
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-6 pull-right">
                                                    <div class="btn-toolbar pull-right">
                                                        @*<a data-toggle="tooltip" title="" class="popbox btn btn-danger btn-label" href="/Ders/OnlineSinav/Liste/@ViewBag.FKDersGrupHocaID">
                                                                <i class="fa fa-times"></i>İptal
                                                            </a>*@
                                                        @*<button class="btn btn-info btn-label"><i class="fa fa-plus"></i> Kaydet</button>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            if (KoordinatorMu)
                            {
                                <h4>Öncelikle Sınav İşlemleri Menüsünden Sınav Oluşturmalısnız.</h4>
                            }
                            else
                            {
                                <h4>Henüz Koordinatör Tarafından Sınav Oluşturulmadı.</h4>
                            }

                        }

                    </div>
                </div>
            </div>
        </div>
    }
}

@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading bar-arkaplan">Soru İşlemleri</div>
                <div class="panel-body">
                    <div class="tab-container tab-danger">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#normal" data-toggle="tab">Sınav Soruları</a></li>
                            <li class=""><a href="#mazeret" data-toggle="tab">Mazeret Sınavı Soruları</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="normal">
                                <a href="#" class="btn btn-success pull-right" data-title='Sınav Önizleme' data-toggle='tooltip modal' data-source='/Ders/Sinav/SinavOnizleme?sinavID=@Model.Item1.SinavID&mazeret=false'><i class="fa fa-eye"></i> Sınav Önizleme</a>
                                @*<a class="btn btn-success pull-right" href="#"><i class="fa fa-eye"></i> Sınav Önizleme</a>*@
                                <br />
                                @if (Model.Item2 != null)
                                {
                                    if (Model.Item2.Count() > 0)
                                    {
                                        if (KoordinatorMu || Model.Item1.EklemeTuru == 1)
                                        {
                                            <table class="table table-bordered table-striped" style="margin-top: 20px;">
                                                <thead>
                                                    <tr class="info">
                                                        <th class="col-md-1 text-center">SoruNo</th>
                                                        <th class="col-md-9">Soru</th>
                                                        <th class="col-md-2">İşlem</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Item2)
                                                    {
                                                        <tr>
                                                            <td class="col-md-1 text-center">@item.SoruNo</td>
                                                            <td class="col-md-9 text-primary">@Html.Raw(@item.OSinavSoruBaslik)</td>
                                                            <td class="col-md-2">
                                                                @if (item.OSinavSoruID == 0)
                                                                {
                                                                    <a class="btn btn-success payislem" href="/Ders/Sinav/OSoruEkle/@dersGrupHocaID?SinavID=@Model.Item1.SinavID&SoruNo=@item.SoruNo&olcmeid=@item.ID&t=@Model.Item1.EklemeTuru&m=false" title="">
                                                                        <i class="fa fa-plus" style="margin-left:0px !important; margin-right:0px !important;"></i>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a class="btn btn-info payislem" style="margin-right:0px !important;" href="/Ders/Sinav/OSoruDuzenle/@dersGrupHocaID?SoruID=@item.OSinavSoruID&PayID=@Model.Item1.PayID" title="">
                                                                        <i class="fa fa-pencil" style="margin-left:0px !important; margin-right:0px !important;"></i>
                                                                    </a>
                                                                    <a class="btn btn-danger payislem" style="margin-right:0px !important;" href="/Ders/Sinav/OSoruSil/@dersGrupHocaID?SoruID=@item.OSinavSoruID&PayID=@Model.Item1.PayID" title="">
                                                                        <i class="fa fa-trash" style="margin-left:0px !important; margin-right:0px !important;"></i>
                                                                    </a>
                                                                    if (item.SoruIptal)
                                                                    {
                                                                        <span class="label label-danger">İptal</span>
                                                                    }

                                                                }

                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <h4>GENEL AKTİVİTE olarak Oluşturulan Sınava Sadece Koordinatör Soru Ekleyebilir.</h4>
                                        }
                                    }
                                    else
                                    {
                                        <h4>Henüz Pay Ölçme Eklenmedi.</h4>
                                    }
                                }
                                else
                                {
                                    <h4>Henüz Pay Ölçme Eklenmedi.</h4>
                                }
                            </div>
                            <div class="tab-pane" id="mazeret">
                                <a href="#" class="btn btn-success pull-right" data-title='Sınav Önizleme' data-toggle='tooltip modal' data-source='/Ders/Sinav/SinavOnizleme?sinavID=@Model.Item1.SinavID&mazeret=true'><i class="fa fa-eye"></i> Sınav Önizleme (Mazeret)</a>
                                <br />
                                @if (Model.Item3 != null)
                                {
                                    if (Model.Item3.Count() > 0)
                                    {
                                        if (KoordinatorMu || Model.Item1.EklemeTuru == 1)
                                        {
                                            <table class="table table-bordered table-striped" style="margin-top: 20px;">
                                                <thead>
                                                    <tr class="info">
                                                        <th class="col-md-1 text-center">SoruNo</th>
                                                        <th class="col-md-9">Soru</th>
                                                        <th class="col-md-2">İşlem</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Item3)
                                                    {
                                                        <tr>
                                                            <td class="col-md-1 text-center">@item.SoruNo</td>
                                                            <td class="col-md-9 text-primary">@Html.Raw(@item.OSinavSoruBaslik)</td>
                                                            <td class="col-md-2">
                                                                @if (item.OSinavSoruID == 0)
                                                                {
                                                                    <a class="btn btn-success payislem" href="/Ders/Sinav/OSoruEkle/@dersGrupHocaID?SinavID=@Model.Item1.SinavID&SoruNo=@item.SoruNo&olcmeid=@item.ID&t=@Model.Item1.EklemeTuru&m=true" title="">
                                                                        <i class="fa fa-plus" style="margin-left:0px !important; margin-right:0px !important;"></i>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a class="btn btn-info payislem" style="margin-right:0px !important;" href="/Ders/Sinav/OSoruDuzenle/@dersGrupHocaID?SoruID=@item.OSinavSoruID&PayID=@Model.Item1.PayID" title="">
                                                                        <i class="fa fa-pencil" style="margin-left:0px !important; margin-right:0px !important;"></i>
                                                                    </a>
                                                                    <a class="btn btn-danger payislem" style="margin-right:0px !important;" href="/Ders/Sinav/OSoruSil/@dersGrupHocaID?SoruID=@item.OSinavSoruID&PayID=@Model.Item1.PayID" title="">
                                                                        <i class="fa fa-trash" style="margin-left:0px !important; margin-right:0px !important;"></i>
                                                                    </a>
                                                                    if (item.SoruIptal)
                                                                    {
                                                                        <span class="label label-danger">İptal</span>
                                                                    }
                                                                }

                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <h4>GENEL AKTİVİTE olarak Oluşturulan Sınava Sadece Koordinatör Soru Ekleyebilir.</h4>
                                        }

                                    }
                                    else
                                    {
                                        <h4>Henüz Pay Ölçme Eklenmedi.</h4>
                                    }
                                }
                                else
                                {
                                    <h4>Henüz Pay Ölçme Eklenmedi.</h4>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<script>
    $(document).ready(function () {
        $.datetimepicker.setLocale('tr');
        $('.tarihSec').datetimepicker({
            step: 10,
            format: 'd.m.Y H:i'
        });
    });
    $(document).ready(function () {
        $("#SinavYayinla").click(function () {
            var data = {
                SinavID: $("#SinavYayinla").attr("data-id"),
            };
            $.post("/Ders/Sinav/SinavYayinla", data)
                 .success(function (json) {
                     toastr.success("Sınav Yayınlandı.");
                     location.reload();
                 }
            );

        });
    });
    $(document).ready(function () {
        $("#SinavYayindanKaldir").click(function () {
            var data = {
                SinavID: $("#SinavYayindanKaldir").attr("data-id"),
            };
            $.post("/Ders/Sinav/SinavYayindanKaldir", data)
                 .success(function (json) {
                     toastr.success("Sınav Yayından Kaldırıldı.");
                     location.reload();
                 }
            );

        });
    });
</script>


<style>
    .myvalidation {
        background-color: red;
        color: white;
    }
</style>