﻿@model Sabis.Bolum.Core.ABS.DERS.SINAV.GeriBildirimDto
@{
    Layout = null;
    var mazeretSinaviVarmi = Sabis.Bolum.Bll.SOURCE.ABS.DERS.SINAVMAIN.MazeretSinavi(Model.AktiviteID);
}
@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading bar-arkaplan">Sorun Bildirimi</div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Başlık</th>
                                <td>@Model.Baslik</td>
                            </tr>
                            <tr>
                                <th>İçerik</th>
                                <td>@Model.Icerik</td>
                            </tr>
                            <tr>
                                <th>Bildirim Tarihi</th>
                                <td>@Model.TarihKayit</td>
                            </tr>
                            <tr>
                                <th>Dosya</th>
                                <td>
                                    @if (Model.DosyaKey != null && Model.DosyaKey != "")
                                	{
                                		 <img src="@SDFSClient.FileClient.GetUrl(Model.DosyaKey)" style="max-width:500px !important; max-height:300px !important; overflow:scroll;"/>
                                	}
                                </td>
                            </tr>
                            @*@if (mazeretSinaviVarmi)
                            {
                                <tr>
                                    <th>İşlem</th>
                                    <td>
                                        <a href="#" id="btnMazeretHak" data-ogrenciid="@Model.OgrenciID" data-sinavid="@Model.AktiviteID" class="btn btn-success">Mazeret Hakkı Ver</a>
                                    </td>
                                </tr>
                            }*@
                            
                            <tr>
                                <th>Cevap</th>
                                <td>
                                    @Html.TextAreaFor(model => model.Cevap, new { rows = 5, style="width:400px" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="#" id="BildirimKaydet" data-bildirimid="@Model.ID" class="btn btn-success">İşlem Tamamlandı</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    if (Model.GecmisBildirimler != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading bar-arkaplan">Geçmiş Sorun Bildirimleri</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Başlık</td>
                                    <td>İçerik</td>
                                    <td>Tarih</td>
                                    <td>Cevap</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item2 in Model.GecmisBildirimler)
                                {
                                    <tr>
                                        <td>@item2.Baslik</td>
                                        <td>@item2.Icerik</td>
                                        <td>@item2.TarihKayit</td>
                                        <td>@item2.Cevap</td>
                                    </tr>
                                }                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

}
<style>
    .modal-dialog {
        width: 700px !important;
    }
</style>
<script type="text/javascript">
    $("#BildirimKaydet").on("click", function () {
        var data = {
            ID: $("#BildirimKaydet").attr("data-bildirimid"),
            Cevap : $('#Cevap').val()
        };
        $.post("/Ders/Sinav/BildirimKaydet", data)
             .done(function (json) {
                 json ? toastr.success("Tamamlandı") : toastr.error("Hata oluştu");
                 location.reload();
                 });
    });
</script>
