﻿@model Sabis.Bolum.WebUI.Areas.Ders.Models.SinavOturumVM
@using Sabis.Bolum.Core.ABS.DERS.SINAV
@{
    ViewBag.Title = "TumSorunlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
    var mazeretSinaviVarmi = Sabis.Bolum.Bll.SOURCE.ABS.DERS.SINAVMAIN.MazeretSinavi(Model.SinavID);
}
@*@Html.Action("_pGrupDersDetaylari", "Detay", new { redirect = true })*@
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/Ders/Detay/Grup/@dersDetay.DersGrupHocaID">@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/Ders/Sinav/SoruIslem/@dersDetay.DersGrupHocaID?P=@Model.PayID">@Model.SinavAd</a><i class="fa fa-chevron-right"></i></li>
            <li>Tüm Sınav Sorunları</li>
        </ul>
    </div>
}
@*<div class="alert alert-dismissable alert-info">
    <strong>1. Ara Sınava</strong> ait cevaplandırılmamış tüm sorunlar aşağıda listelenmektedir.
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
</div>*@
<div class="row">
    <div class="col-lg-12 col-md-12">
        @if (Model.Oturumlar != null)
            {
                if (Model.Oturumlar.Count() > 0)
                {
                    foreach (var oturum in Model.Oturumlar)
                    {
                    <div class="col-lg-4 oturumdurum_@oturum.OturumDurum sorun_@oturum.GeriBildirimID rowbtn" style="height:170px !important;">
                        <div class="panel panel-primary">
                            <div class="panel-heading bar-arkaplan">
                                @if (oturum.OturumDurum == (int)SinavDurum.GirisYapilmadi)
                                {
                                    <span>Sınava Katılmadı</span> <span class="pull-right">@oturum.OturumTarih</span>
                                }
                                else if (oturum.OturumDurum == (int)SinavDurum.DevamEdiyor)
                                {
                                    <span>Oturum Devam Ediyor.</span> <span class="pull-right">@oturum.OturumTarih</span>
                                }
                                else if (oturum.OturumDurum == (int)SinavDurum.Tamamlandi)
                                {
                                    <span>Oturum Tamamlandı.</span> <span class="pull-right">@oturum.OturumTarih</span>
                                }
                                else if (oturum.OturumDurum == (int)SinavDurum.MazeretHakkiVerildi)
                                {
                                    <span>Mazeret Hakkı Verildi</span>
                                }
                                else if (oturum.OturumDurum == (int)SinavDurum.MazeretSinavDevamEdiyor)
                                {
                                    <span>Mazeret Sınavı Devam Ediyor.</span>
                                }
                                else if (oturum.OturumDurum == (int)SinavDurum.MazeretSinavTamamlandi)
                                {
                                    <span>Mazeret Sınavı Tamamlandı.</span>
                                }
                            </div>
                            <div class="panel-body">
                                <div class="col-lg-6 col-md-6" style="padding-left:0 !important;">
                                    @oturum.OgrenciAd @oturum.OgrenciSoyad <br /><span class="text-primary">@oturum.OgrenciNumara</span>
                                    @if (oturum.GeriBildirimID != 0)
                                    {
                                        <br />
                                        <span class="btn btn-xs btn-danger">
                                            <a href="#" style="text-decoration:none; color:white !important;" data-title='Sorun Bildirimi' data-toggle='tooltip modal' data-source='/Ders/Sinav/SorunBildirimi?bid=@oturum.GeriBildirimID'>1 SORUN BİLDİRİLDİ</a>
                                        </span>
                                    }
                                    <div class="hover-btn" style="margin-top:6px;">
                                        @if (mazeretSinaviVarmi)
                                        {
                                            if (oturum.OturumDurum != 3)
                                            {
                                                <a href="#" class="btn btn-xs btn-success pull-left mazeretHak" data-eid="@oturum.EID" data-sinavid="@Model.SinavID" data-ogrenciid="@oturum.OgrenciID" data-yazilmaid="@oturum.YazilmaID"><i class="fa fa-check"></i>Mazeret Hakkı Ver</a>
                                            }

                                        }
                                    </div>

                                </div>

                                <div class="col-lg-6 col-md-6 pull-right">
                                    @if (oturum.TarihMazeretOturumBaslangic != null && oturum.TarihMazeretOturumBitis != null)
                                    {
                                        <a href="#" class="btn btn-default pull-right">@oturum.MazeretBosSayisi</a>
                                        <a href="#" class="btn btn-danger pull-right">@oturum.MazeretYanlisSayisi</a>
                                            <a href="#" class="btn btn-success pull-right">@oturum.MazeretDogruSayisi</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="btn btn-default pull-right">@oturum.BosSayisi</a>
                                        <a href="#" class="btn btn-danger pull-right">@oturum.YanlisSayisi</a>
                                            <a href="#" class="btn btn-success pull-right">@oturum.DogruSayisi</a>
                                    }

                                    <br />
                                    <h3>
                                        <span class="text-primary pull-right">

                                            <a href="#" style="text-decoration:none;" data-title='Oturum Detayları' data-toggle='tooltip modal' data-source='/Ders/Sinav/OturumDetay?eid=@oturum.EID'>
                                                @if (@oturum.Notu == null)
                                                {
                                                    <span>0</span>

                                                }
                                                else
                                                {
                                                    @oturum.Notu
                                                }

                                            </a>

                                        </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h4><i class="fa fa-info"></i> Kayıt Bulunamadı.</h4>
            }

        }
    </div>
</div>
<style>
    .hover-btn {
        position: relative;
        display: none;
    }

    .rowbtn:hover .hover-btn {
        display: block;
    }
</style>
<script>
    $(".mazeretHak").click(function () {
        var data = {
            sinavID: $(this).attr("data-sinavid"),
            ogrenciID: $(this).attr("data-ogrenciid"),
            EID: $(this).attr("data-eid"),
            yazilmaid: $(this).attr("data-yazilmaid")
        };
        $.post("/Ders/Sinav/MazeretHakVer", data)
             .success(function (json) {
                 toastr.success("Mazeret Hakkı Verildi. Öğrenci Mazeret Sınavı Tarihi Geldiğinde Sınava Tekrar Girebilir.");
                 location.reload();
             }
        );

    });
</script>


