﻿@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@{
    ViewBag.Title = "Yukle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int FKPaylarID = Convert.ToInt32(Request.QueryString["P"]);
    int FKDersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);

    var dersDetay = Sabitler.GetirDersDetay(FKDersGrupHocaID);

    var sinavDetay = SINAVMAIN.GetirSinavDetayi(FKPaylarID);
    int? FKSinavID = sinavDetay.FKSinavID; //SINAVMAIN.GetirSinavID(FKPaylarID, dersDetay.DersGrupID, dersDetay.DersPlanID, dersDetay.DersPlanAnaID);
    var cevapAnahtariVarMi = FKSinavID.HasValue ? SINAVMAIN.GetirCevapAnahtariListe(FKSinavID.Value).Any() : false;

    bool SinavDegerlendirilebilirMi = FKSinavID.HasValue ? SINAVMAIN.SinavDegerlendirilebilirMi(FKSinavID.Value) : false;

    var pay = PAYMAIN.GetirPayBilgi(FKPaylarID);

    //bool sonHalVerildiMi = Sabis.Bolum.Bll.SOURCE.ABS.GENEL.GENELMAIN.SonHalVerildiMi(dersDetay.DersGrupID);

    var notGirisTarihleri = Sabis.Bolum.Bll.SOURCE.ABS.DERS.DERSMAIN.GetirDersSinavTarihleri(dersDetay.DersGrupHocaID, Sabitler.Yil, Sabitler.Donem, Sabitler.UniversiteID);
    var ipYetkiListesi = Sabis.Bolum.Bll.SOURCE.ADMIN.IPMAIN.GetirIPYetkiListesi();
}

@if (sinavDetay == null)
{
    <script>
        window.location.href = "/Ders/Detay/@FKDersGrupHocaID";
    </script>
}

@Html.Action("_pGrupDersDetaylari", "Detay", new { redirect = true })

@Html.Action("_pSinavDetaylari")

@Scripts.Render("~/bundles/jquery-fileupload")
@Styles.Render("~/bundles/jquery-fileupload-styles")

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css" />*@

@*<link href="~/Content/assets/global/plugins/unslider/css/unslider.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/unslider/css/unslider-dots.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/unslider/js/unslider-min.js"></script>*@

<div class="alert alert-info">
    <strong>BİLGİ!</strong> Bu sayfada optik kağıtların tarama sonuçları yüklenmelidir. Dosyalar ".jpg" uzantılı olabilir.
</div>

@if (!dersDetay.SonHalVerildiMi && sinavDetay.SinavOlusturulmusMu)
{
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Dosyaları seçiniz...</span>
        <input id="fileupload" type="file" name="files[]" accept="image/jpg" multiple>
    </span>
    <span id="dosyaSayisi" style="display: none;"></span>
}
else
{
    <h4>Sınav oluşturulmadan yükleme işlemi yapılamaz.</h4>
}

@if (dersDetay.SonHalVerildiMi)
{
    <span>Son hal verildikten sonra işlem yapılamaz.</span>
}
else
{
    if (sinavDetay.NotlarAktarilabilirMi && sinavDetay.SinavOlusturulmusMu)
    {
        if (SinavDegerlendirilebilirMi && (cevapAnahtariVarMi || sinavDetay.EnumSinavTuru == (int)Sabis.Bolum.Core.ENUM.ABS.EnumSinavTuru.KLASIK) && 
            (notGirisTarihleri.Any(x => x.EnumAkademikTarih == Sabis.Enum.EnumAkademikTarih.YIL_ICI && x.TarihBitis > DateTime.Now && pay.EnumCalismaTip != (int)Sabis.Enum.EnumCalismaTip.Final)) ||
            (notGirisTarihleri.Any(x => x.EnumAkademikTarih == Sabis.Enum.EnumAkademikTarih.YIL_SONU && x.TarihBitis > DateTime.Now && pay.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.Final)) ||
            ipYetkiListesi.Any(x => x.IPAdresi == Sabitler.IPAdresi || x.KullaniciAdi == Sabitler.KullaniciAdi))
        {
            if (ipYetkiListesi.Any(x => x.IPAdresi == Sabitler.IPAdresi) || ipYetkiListesi.Any(x => x.KullaniciAdi == Sabitler.KullaniciAdi))
            {
                <button id="btnSonuclariDegerlendir" class="btn btn-default">Sonuçları Değerlendir</button>
            }
            else
            {
                if ((pay.EnumCalismaTip != (int)Sabis.Enum.EnumCalismaTip.Final && notGirisTarihleri.Any(x => x.EnumAkademikTarih == Sabis.Enum.EnumAkademikTarih.YIL_ICI && x.TarihBitis > DateTime.Now)))
                {
                    <button id="btnSonuclariDegerlendir" class="btn btn-default">Sonuçları Değerlendir</button>
                }
                if ((pay.EnumCalismaTip == (int)Sabis.Enum.EnumCalismaTip.Final && notGirisTarihleri.Any(x => x.EnumAkademikTarih == Sabis.Enum.EnumAkademikTarih.YIL_SONU && x.TarihBitis > DateTime.Now)))
                {
                    <button id="btnSonuclariDegerlendir" class="btn btn-default">Sonuçları Değerlendir</button>
                }
            }
        }
        else
        {
            <span>Sonuçların değerlendirilebilmesi için cevap anahtarı oluşturulmalıdır. Cevap anahtarı oluşturmak için <a href="/Ders/Sinav/CevapAnahtari/@FKDersGrupHocaID?D=@dersDetay.DersPlanAnaID&P=@FKPaylarID" target="_blank">TIKLAYIN</a></span>
        }
    }
}

@if (!dersDetay.SonHalVerildiMi && sinavDetay.SinavOlusturulmusMu)
{
    <div class="btn-group pull-right">
        <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
            Tüm Kağıtları Sil
        </a>
        <ul class="dropdown-menu">
            <li><a id="btnKagitlariTemizle">Tüm Kağıtları Sil</a></li>
        </ul>
    </div>
}

<div id="progress" class="progress" style="display: none;">
    <div class="progress-bar progress-bar-success"></div>
</div>

<div id="files" class="files"></div>
<div id="dListe"></div>

<script>
    var url = "/Ders/Sinav/_pDosyaListesi/@FKDersGrupHocaID?P=" + '@FKPaylarID' + "&G=" + '@dersDetay.DersGrupID' + "&D=" + '@dersDetay.DersPlanAnaID' + "&DP=" + '@dersDetay.DersPlanID';
    var FKPaylarID = '@FKPaylarID';
    var FKSinavID = '@FKSinavID';
    var FKDersGrupHocaID = '@FKDersGrupHocaID';
    var FKDersGrupID = '@dersDetay.DersGrupID';
</script>

<script src="~/Scripts/Areas/Ders/Sinav/Yukle.js?version=12"></script>