﻿@model List<Sabis.Bolum.Core.ABS.DERS.DERSDETAY.HiyerarsikPayDersListVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
}

@helper AltDersList(int fkDersPlanAnaID)
{
if (Model.Any(x => x.UstDersID == fkDersPlanAnaID))
{
    foreach (var altDers in Model.Where(x => x.UstDersID == fkDersPlanAnaID))
    {
            <div class="panel-group accordion scrollable" id="accordion1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="@*#accordion1*@" href="#ust-@altDers.DersPlanAnaID" aria-expanded="true">@altDers.DersAd (@altDers.DersPlanAnaID) </a>
                        </h4>
                    </div>
                    <div id="ust-@altDers.DersPlanAnaID" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            @*<ul>
                                                    <li>@altDers.DersAd (@altDers.DersPlanAnaID)</li>
                                                </ul>*@
                                            @AltDersList(altDers.DersPlanAnaID)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="panel panel-default" style="margin-left: 100px !important;">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#@altDers.DersPlanAnaID" aria-expanded="true"> @altDers.DersAd Pay Listesi (@altDers.DersPlanAnaID) </a>
                                    </h4>
                                </div>
                                <div id="@altDers.DersPlanAnaID" class="panel-collapse collapse in" aria-expanded="true">
                                    <div class="panel-body">
                                        <table class="table" @*style="margin-left: 100px !important;"*@>
                                            <tbody>
                                                @foreach (var pay in altDers.Paylar)
                                                {
                                                <tr>
                                                    <td>
                                                        <span>@pay.Sira</span>. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)pay.EnumCalismaTip) (@pay.FKDersPlanAnaID) @pay.AltDersPlanAnaID
                                                    </td>

                                                    <td style="text-align: right;">
                                                        <input type="text" class="text-center" maxlength="3" style="width: 50px;" value="@pay.Oran" data-tip="oran" data-dersplananaid="@pay.FKDersPlanAnaID" data-payid="@pay.ID" /> -
                                                        <input type="text" class="text-center" maxlength="3" style="width: 50px;" value="@pay.Pay" data-tip="pay" data-dersplananaid="@pay.FKDersPlanAnaID" data-payid="@pay.ID" /> /
                                                        <input type="text" class="text-center" maxlength="3" style="width: 50px;" value="@pay.Payda" data-tip="payda" data-dersplananaid="@pay.FKDersPlanAnaID" data-payid="@pay.ID" />
                                                        <button class="btn btn-danger btn-xs btnSil" data-id="@pay.ID">SİL</button>
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
    }
}
}
@*<script src="http://www.jqueryscript.net/demo/jQuery-Plugin-To-Connect-Two-Html-Elements-with-A-Line/required/script/jquery.svg.min.js"></script>
    <script src="http://www.jqueryscript.net/demo/jQuery-Plugin-To-Connect-Two-Html-Elements-with-A-Line/required/script/jquery.connectingLine.js"></script>*@

<h3 style="padding-left: 30px;">Hiyerarşik Değerlendirme</h3>

<div class="row" style="margin-bottom: 15px;padding-left: 30px;">
    <div class="col-md-3">
        <select id="ddlDers" class="form-control">
            @foreach (var ders in Model)
            {
                <option value="@ders.DersPlanAnaID">@ders.DersAd (@ders.DersPlanAnaID)</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <select id="ddlCalismaTipi" class="calismaTip form-control">
            @foreach (Sabis.Enum.EnumCalismaTip tip in Enum.GetValues(typeof(Sabis.Enum.EnumCalismaTip)))
            {
                <option data-enumcalismatip="@Convert.ToInt32(tip)" value="@Convert.ToInt32(tip)">@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)tip)</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <button class="btn btn-sm btnPayEkle">Ekle</button>
    </div>
    <div class="col-md-3"></div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel-group accordion scrollable" id="accordion2">

            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="note note-info">
                                @Model.FirstOrDefault(x => x.DersPlanAnaID == dersPlanAnaID).DersAd (@Model.FirstOrDefault(x => x.DersPlanAnaID == dersPlanAnaID).DersPlanAnaID)
                            </div>
                            @*<ul>
                                <li>@Model.FirstOrDefault(x => x.UstDersID == null).DersAd (@Model.FirstOrDefault(x => x.UstDersID == null).DersPlanAnaID)</li>
                            </ul>*@
                            @AltDersList(Model.FirstOrDefault(x => x.DersPlanAnaID == dersPlanAnaID).DersPlanAnaID)
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<style>
    table {
        margin-left: 30px !important;
        margin-bottom: 0 !important;
        width: 80% !important;
    }
</style>

<script>
    //$(document).ready(function () {
    //    var mySVG = $('body').connectSVG();
    //    mySVG.drawLine({
    //        left_node: '#ddlDers',
    //        right_node: '#ddlCalismaTipi',
    //        horizantal_gap: 10
    //    });
    //});

    blockStatus = false;
    $(document).on("click", ".btnPayEkle", function () {
        var payListe = [];

        var data = {
            PayID: null,
            EnumCalismaTipi: $("#ddlCalismaTipi").val(),
            SiraNo: null,
            KatkiOrani: 0,
            Donem: '@Sabitler.EBSDonem',
            Yil: '@Sabitler.EBSYil',
            DersPlanID: null,
            DersGrupID: null,
            DersPlanAnaID: $("#ddlDers").val(),
            PersonelID: '@Sabitler.KullaniciID',
            KullaniciAdi: '@Sabitler.KullaniciAdi',
            IP: '@Sabitler.IPAdresi'
        };

        payListe.push(data);
        $.post("/Ders/PayDuzenle/EklePay", { liste: payListe, id: $("#ddlCalismaTipi").val() }).done(function (data) { window.location.reload(); });
    });

    $(document).on("click", ".btnSil", function () {
        if (confirm("Pay silinecektir! Onaylıyor musunuz?")) {
            $.post("/Ders/PayDuzenle/SilPay", { payID: $(this).attr("data-id") }).success(function (data) {
                window.location.reload();
            });
        }
    });

    $(document).on("keyup", "input", function () {
        var oran = null;
        var pay = null;
        var payda = null;
        var tip = $(this).attr("data-tip");

        if (tip == "oran") {
            oran = $(this).val();
        }
        if (tip == "pay") {
            pay = $(this).val();
        }
        if (tip == "payda") {
            payda = $(this).val()
        }

        var listGuncelle = [];

        var data = {
            ID: $(this).attr("data-payid"),
            Sira: 0,
            Oran: oran,
            Pay: pay,
            Payda: payda
        };
        listGuncelle.push(data);

        $.post("/Ders/PayDuzenle/GuncellePay", { payListesi: listGuncelle }).success(function (result) {
            result ? toastr.success("Oranlar güncellendi.") : toastr.error("Hata oluştu");
        });
    });


</script>

