﻿@model List<Sabis.Bolum.Core.ABS.DERS.DokumanVM>
@{
    Layout = null;
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
}

<a class="btn btn-success btn-sm" data-title="Doküman Ekle" data-toggle="tooltip modal" data-source="/Ders/Dokuman/_pEkle/@dersGrupHocaID?tip=1" data-size="60" data-backdrop="false" data-keyboard="true" data-original-title="" title="">
    İÇERİK EKLE
</a>
 
<table class="table table-bordered" style="margin-top: 20px;">
    <thead>
        <tr class="info">
            <td class="text-center">Sıra</td>
            <td class="col-md-1 text-center">Tür</td>
            <td>Dosya Adı</td>
            <td class="text-center">Ekleyen</td>
            <td class="col-md-1 text-center">Hafta</td>
            <td class="col-md-1 text-center">İşlemler</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="6">Eklenmiş içerik bulunamadı.</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@Convert.ToInt32(Model.IndexOf(item)+1)</td>
                    <td class="text-center vert-align">
                        @item.DosyaTuru
                        @*@if (item.DosyaTuru == ".zip")
                        {
                            <i class="fa fa-file-zip-o fa-3x" aria-hidden="true" style="margin-top: 15px;"></i>
                        }
                        @if (item.DosyaTuru == ".jpg" || item.DosyaTuru == ".png")
                        {
                            <i class="fa fa-file-image-o fa-3x" aria-hidden="true" style="margin-top: 15px;"></i>
                        }
                        @if (item.DosyaTuru == ".doc" || item.DosyaTuru == ".docx")
                        {
                            <i class="fa fa-file-word-o fa-3x" aria-hidden="true" style="margin-top: 15px;"></i>
                        }
                        @if (item.DosyaTuru == ".txt")
                        {
                            <i class="fa fa-file-text-o fa-3x" aria-hidden="true"; style="margin-top: 15px;"></i>
                        }
                        @if (item.DosyaTuru == ".pdf")
                        {
                            <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true" style="margin-top: 15px;"></i>
                        }
                        @if (item.DosyaTuru == ".xls" || item.DosyaTuru == ".xlsx")
                        {
                            <i class="fa fa-file-excel-o fa-3x" aria-hidden="true" style="margin-top: 15px;"></i>
                        }                                
                        @if (item.DosyaTuru == ".ppt" || item.DosyaTuru == ".pptx")
                        {
                            <i class="fa fa-file-powerpoint-o fa-3x" aria-hidden="true" style="margin-top: 15px;"></i>
                        }
                        @if (item.DosyaTuru == ".mp4" || item.DosyaTuru == ".flv" || item.DosyaTuru == ".mov")
                        {
                            <i class="fa fa-video-camera fa-3x" aria-hidden="true" style="margin-top: 15px;"></i>
                        }*@
                    </td>
                    <td class="vert-align">
                        <h3 style="margin-top: 10px !important;">@item.DosyaAdi</h3>
                    </td>
                    <td class="text-center">@item.EkleyenAdSoyadUnvan</td>
                    <td class="col-md-1 text-center">
                        @if (item.Hafta == 0)
                        {
                            <span>Genel</span>
                        }
                        else
                        {
                            <span>@item.Hafta. Hafta</span>
                        }
                    </td>
                    <td class="col-md-4 text-center vert-align">
                        @if (item.EnumIcerikTipi == 1)
                        {
                            <button class="btn btn-info btn-sm openBtn" data-toggle="tooltip modal" data-title="Görüntüle" data-source="https://docs.google.com/viewer?embedded=true&url=@SDFSClient.FileClient.GetUrl(item.DosyaKey)" data-size="80" data-backdrop="false" data-keyboard="true"><i class="fa fa-search"></i></button>
                            <a href="@SDFSClient.FileClient.GetUrl(item.DosyaKey)" class="btn btn-sm default" download><i class="fa fa-download"></i></a>
                        }
                        else
                        {
                            <a href="@item.DosyaKey" class="btn btn-info" target="_blank"><i class="fa fa-search fa-2x"></i></a>
                        }
                        @if (item.FKPersonelID == Sabitler.KullaniciID)
                        {
                            <button class="btn grey-cascade" data-toggle="tooltip modal" data-title="Düzenle" data-source="/Ders/Dokuman/_pDuzenle/@item.ID?D=@dersGrupHocaID" data-size="80" data-backdrop="false" data-keyboard="true"><i class="fa fa-pencil"></i></button>
                        }
                        @*<button class="btn btn-danger btnGrupSil" data-dokumanid="@item.ID" data-dersgrupid="@dersDetay.DersGrupID">Sınıftan Kaldır</button>*@

                        @*@if (item.FKPersonelID == Sabitler.KullaniciID)
                        {*@
                            @if (Model.Any(x => x.ID == item.ID) && Model.Where(x => x.ID == item.ID).Any(x => x.FKDersGrupIDList.Contains(dersDetay.DersGrupID)))
                            {
                                <button class="btn btn-danger btn-sm btnSiniftanSil" data-dokumanid="@item.ID" data-dersgrupid="@dersDetay.DersGrupID">SINIFTAN SİL</button>
                            }
                            else
                            {
                                <button class="btn btn-success btn-sm btnSinifaEkle" data-dokumanid="@item.ID" data-dersgrupid="@dersDetay.DersGrupID">SINIFA EKLE</button>
                            }
                        @*}*@

                        @if (item.FKPersonelID == Sabitler.KullaniciID)
                        {
                            <button class="btn btn-danger btn-sm btnSil" data-dokumanid="@item.ID">SİL</button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $('.openBtn').click(function () {
        $("#modalBody").html('<iframe src="' + $(this).attr("data-source") + '" style="zoom:0.60" width="100%" height="1000" frameborder="0" target="_parent"></iframe>')
    });
</script>

