﻿@model Sabis.Bolum.Core.ABS.DERS.DokumanVM
@{
    Layout = null;
    int dokumanID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);

    int dersGrupHocaID = Convert.ToInt32(Request.QueryString["D"]);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
    var koordinatorMu = Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.DersKoordinatoruMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);
    int enumIcerikTipi = Convert.ToInt32(Request.QueryString["tip"]);
}

<link href="~/Content/assets/global/plugins/jquery-fileupload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/jquery-fileupload/css/jquery.fileupload-ui.css" rel="stylesheet" />
<script src="/Content/assets/global/plugins/jquery-fileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="/Content/assets/global/plugins/jquery-fileupload/js/jquery.iframe-transport.js"></script>
<script src="/Content/assets/global/plugins/jquery-fileupload/js/jquery.fileupload.js"></script>

<div class="portlet-body">
    @*<ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1_1" data-toggle="tab"> Doküman Ekle </a>
            </li>
            <li>
                <a href="#tab_1_2" data-toggle="tab"> İçeriklerim </a>
            </li>
        </ul>*@
    @*<div class="tab-content">
        <div class="tab-pane fade active in" id="tab_1_1">*@
    <div class="portlet light bordered">
        <div class="portlet-body form">

            <div class="form-body">

                @*<div class="form-group">
                    <div class="mt-radio-inline">
                        <label class="mt-radio">
                            <input type="radio" name="enumIcerikTipi" id="rbDokuman" value="1" checked> Doküman
                            <span></span>
                        </label>
                        <label class="mt-radio">
                            <input type="radio" name="enumIcerikTipi" id="rbIcerik" value="2"> Bağlantı
                            <span></span>
                        </label>
                    </div>
                </div>*@

                @if (Model.EnumIcerikTipi == (int)Sabis.Bolum.Core.ENUM.ABS.EnumIcerikTipi.Dokuman)
                {
                    <div class="form-group" id="divDosyaIcerik">
                        <h4>Önceki dosyayı değiştirmek için yeni dosya seçebilirsiniz</h4>
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Dosya seçiniz...</span>
                            <input id="fileupload" type="file" name="files[]" multiple>
                        </span>

                        <div id="progress" class="progress" style="display: none;">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group" id="divBaglantiIcerik" style="display:none;">
                        <input id="txtIcerikURL" class="form-control spinner" type="text" placeholder="İçerik adresi" value="@Model.DosyaKey">
                    </div>
                }

                <div class="form-group">
                    <input id="txtDosyaAdi" class="form-control spinner" type="text" placeholder="Dosya Adı" value="@Model.DosyaAdi">
                </div>

                <div class="form-group">
                    <input id="txtAciklama" class="form-control spinner" type="text" placeholder="Açıklama" value="@Model.Aciklama">
                </div>

                <div class="form-group">
                    <select id="ddlHafta" class="form-control">
                        <option value="0">Genel</option>
                        @for (int i = 1; i <= 14; i++)
                        {
                            <option value="@i">@i. Hafta</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <div class="mt-checkbox-list">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" value="1" name="gorunebilirMi" id="cbDigerOgretimGorevlileriGorebilir" @Model.DigerHocalarGorebilir.ToString().ToLower().Replace("true", "checked").Replace("false", "") style="width: 15px; height: 15px;">
                            Diğer öğretim elemanları kullanabilir
                            <span></span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="mt-checkbox-list">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" value="1" name="digerDersGruplarinaEkle" id="cbDigerDersGruplarinaEkle" @Model.DigerGruplaraEkle.ToString().ToLower().Replace("true", "checked").Replace("false", "") style="width: 15px; height: 15px;">
                            Tüm ders gruplarıma ekle
                            <span></span>
                        </label>
                    </div>
                </div>

                @if (koordinatorMu)
                {
                    <div class="form-group">
                        <div class="mt-checkbox-list">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" value="1" name="ebsGorunebilirMi" id="cbEBSDeGorunur" @Model.EBSGosterilsin.ToString().ToLower().Replace("true", "checked").Replace("false", "") style="width: 15px; height: 15px;">
                                Eğitim Bilgi Sisteminde görünsün
                                <span></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="mt-checkbox-list">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" value="1" name="tumDersGruplarinaEkle" id="cbTumDersGruplarinaEkle" @Model.TumGruplaraEkle.ToString().ToLower().Replace("true", "checked").Replace("false", "") style="width: 15px; height: 15px;">
                                Üniversitedeki tüm ders gruplarına ekle
                                <span></span>
                            </label>
                        </div>
                    </div>
                }
            </div>
            <div class="form-actions">
                <button id="btnKaydet" type="submit" class="btn blue">Değişiklikleri Kaydet</button>
            </div>

        </div>
    </div>

    <div class="clearfix margin-bottom-20"> </div>
</div>

<script>
    dosyaTuru = "";
    dosyaKey = "";
    dosyaBoyutu = "";

    $('#fileupload').fileupload({
        url: '/Ders/Dokuman/Upload',
        dataType: 'json',
        //maxChunkSize: 50000000,
        //formData: { FKPaylarID: FKPaylarID, FKDersGrupID: FKDersGrupID },
        done: function (e, data) {
            $("#txtDosyaAdi").val(data.result.DosyaAdi);
            dosyaKey = data.result.DosyaKey;
            dosyaTuru = data.result.DosyaTuru;
            dosyaBoyutu = data.result.DosyaBoyutu;
            toastr.success("Dosya yüklendi")
        },
        progressall: function (e, data) {
            $("#progress").show();
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css('width', progress + '%');
        },
        stop: function (e) {
            //$.post("/Ders/Sinav/GuncelleSinavDurum", { FKSinavID: FKSinavID, Durum: 1 });
            //$("#dListe").load(url);
        }
    }).prop('disabled', !$.support.fileInput)
    .parent().addClass($.support.fileInput ? undefined : 'disabled');


    $("#btnKaydet").on("click", function () {
        var icerikTip = 1;

        if ($("#rbIcerik").is(":checked")) {
            dosyaKey = $("#txtIcerikURL").val();
            dosyaBoyutu = 0;
            dosyaTuru = "Bağlantı";
            icerikTip = 2;
            hafta = $("ddlHafta").val();
        }

        //if (dosyaKey != "") {
            var data = {
                ID: '@dokumanID',
                DosyaAdi: $("#txtDosyaAdi").val(),
                DosyaKey: dosyaKey,
                Aciklama: $("#txtAciklama").val(),
                DosyaTuru: dosyaTuru,
                DosyaBoyutu: dosyaBoyutu,
                EnumIcerikTipi: icerikTip,
                Yil: '@Sabitler.Yil',
                EnumDonem: '@Sabitler.Donem',
                Hafta: $("#ddlHafta").val(),
                DigerHocalarGorebilir: $("#cbDigerOgretimGorevlileriGorebilir").is(":checked"),
                EBSGosterilsin: $("#cbEBSDeGorunur").is(":checked"),
                FKDersPlanAnaID: '@dersDetay.DersPlanAnaID',
                FKDersGrupHocaID: '@dersGrupHocaID',
                FKPersonelID: '@Sabitler.KullaniciID',
                DigerGruplaraEkle: $("#cbDigerDersGruplarinaEkle").is(":checked"),
                TumGruplaraEkle: $("#cbTumDersGruplarinaEkle").is(":checked")
            };
            $.post("/Ders/Dokuman/Kaydet", { dokuman: data }).done(function (json) {
                if (json) {
                    toastr.success("İşlem tamamlandı.");
                    load();
                    $("#btnModalClose").trigger("click");
                }
                else {
                    toastr.error("Hata.");
                }
            });
        //} else {
        //    toastr.info("Yüklenecek dosyayı seçiniz.");
        //}

    });

</script>

<script>
    $("#rbDokuman").on("click", function () {
        if ($(this).is(":checked")) {
            $("#divDosyaIcerik").show();
            $("#divBaglantiIcerik").hide();
        }
    });

    $("#rbIcerik").on("click", function () {
        if ($(this).is(":checked")) {
            $("#divDosyaIcerik").hide();
            $("#divBaglantiIcerik").show();
        }
    });
</script>