﻿@model List<Sabis.Bolum.Core.ABS.DERS.DokumanVM>
@{
    Layout = null;
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);

    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
    var koordinatorMu = Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.DersKoordinatoruMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);
    int enumIcerikTipi = Convert.ToInt32(Request.QueryString["tip"]);
}

<link href="~/Content/assets/global/plugins/jquery-fileupload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/jquery-fileupload/css/jquery.fileupload-ui.css" rel="stylesheet" />
<script src="/Content/assets/global/plugins/jquery-fileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="/Content/assets/global/plugins/jquery-fileupload/js/jquery.iframe-transport.js"></script>
<script src="/Content/assets/global/plugins/jquery-fileupload/js/jquery.fileupload.js"></script>

<div class="portlet-body">
    @*<ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_1_1" data-toggle="tab"> Doküman Ekle </a>
        </li>
        <li>
            <a href="#tab_1_2" data-toggle="tab"> İçeriklerim </a>
        </li>
    </ul>*@
    @*<div class="tab-content">
        <div class="tab-pane fade active in" id="tab_1_1">*@
            <div class="portlet light bordered">
                <div class="portlet-body form">

                    <div class="form-body">

                        <div class="form-group">
                            <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" name="enumIcerikTipi" id="rbDokuman" value="1" checked> Doküman
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" name="enumIcerikTipi" id="rbIcerik" value="2"> Bağlantı
                                    <span></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group" id="divDosyaIcerik">
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Dosya seçiniz...</span>
                                <input id="fileupload" type="file" name="files[]" multiple>
                            </span>

                            <div id="progress" class="progress" style="display: none;">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                        </div>

                        <div class="form-group" id="divBaglantiIcerik" style="display:none;">
                            <input id="txtIcerikURL" class="form-control spinner" type="text" placeholder="İçerik adresi">
                        </div>

                        <div class="form-group">
                            <input id="txtDosyaAdi" class="form-control spinner" type="text" placeholder="Dosya Adı">
                        </div>

                        <div class="form-group">
                            <input id="txtAciklama" class="form-control spinner" type="text" placeholder="Açıklama">
                        </div>

                        <div class="form-group">
                            <select id="ddlHafta" class="form-control">
                                <option value="0">Genel</option>
                                @for (int i = 1; i <= 14; i++)
                                {
                                    <option value="@i">@i. Hafta</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="mt-checkbox-list">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox" value="1" name="gorunebilirMi" id="cbDigerOgretimGorevlileriGorebilir" style="width: 15px; height: 15px;">
                                    Diğer öğretim elemanları kullanabilir
                                    <span></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="mt-checkbox-list">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox" value="1" name="gorunebilirMi" id="cbDigerDersGruplarinaEkle" style="width: 15px; height: 15px;">
                                    Ders gruplarıma ekle
                                    <span></span>
                                </label>
                            </div>
                        </div>

                        @if (koordinatorMu)
                        {
                            <fieldset>
                                <legend>Ders Koordinatör İşlemleri</legend>
                                <div class="form-group">
                                    <div class="mt-checkbox-list">
                                        <label class="mt-checkbox mt-checkbox-outline">
                                            <input type="checkbox" value="1" name="ebsGorunebilirMi" id="cbEBSDeGorunur" style="width: 15px; height: 15px;">
                                            Eğitim Bilgi Sisteminde görünsün
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="mt-checkbox-list">
                                        <label class="mt-checkbox mt-checkbox-outline">
                                            <input type="checkbox" value="1" name="cbTumDersGruplarinaEkle" id="cbTumDersGruplarinaEkle" style="width: 15px; height: 15px;">
                                            Bu dersin tüm gruplarına ekle
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        }





                            
                    </div>
                    <div class="form-actions">
                        <button id="btnDosyaEkle" type="submit" class="btn blue">Ekle</button>
                    </div>

                </div>
            </div>
        @*</div>*@
        @*<div class="tab-pane fade" id="tab_1_2">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-2">Sınıf</th>
                        <th class="col-md-3">Dosya Adı</th>
                        <th class="text-center col-md-1">Dosya Türü</th>
                        <th class="col-md-2">Ekleyen</th>
                        <th class="col-md-2">Tarih</th>
                        <th class="col-md-2">İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (Model.Any(x => x.ID == item.ID) && Model.Where(x => x.ID == item.ID).Any(x => x.FKDersGrupIDList.Contains(dersDetay.DersGrupID)))
                                {
                                    <button class="btn btn-danger btnSiniftanSil" data-dokumanid="@item.ID" data-dersgrupid="@dersDetay.DersGrupID">Sınıftan Sil</button>
                                }
                                else
                                {
                                    <button class="btn btn-success btnSinifaEkle" data-dokumanid="@item.ID" data-dersgrupid="@dersDetay.DersGrupID">Sınıfa Ekle</button>
                                }
                            </td>
                            <td>@item.DosyaAdi</td>
                            <td class="text-center">@item.DosyaTuru</td>
                            <td>@item.EkleyenAdSoyadUnvan</td>
                            <td>@item.SGTarih</td>
                            <td>
                                @if (item.FKPersonelID == Sabitler.KullaniciID)
                                {
                                    <button class="btn btn-danger btnSil" data-dokumanid="@item.ID">Sil</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>*@
    @*</div>*@
    <div class="clearfix margin-bottom-20"> </div>
</div>

<script>
    dosyaTuru = "";
    dosyaKey = "";
    dosyaBoyutu = "";

    $('#fileupload').fileupload({
        url: '/Ders/Dokuman/Upload',
        dataType: 'json',
        //autoUpload: false,
        //maxChunkSize: 50000000,
        //formData: { FKPaylarID: FKPaylarID, FKDersGrupID: FKDersGrupID },
        //add: function (e, data) {
        //    $("#btnDosyaEkle").off('click').on('click', function () {
        //        data.submit();
        //    });
        //},
        done: function (e, data) {
            
            dosyaKey = data.result.DosyaKey;
            dosyaTuru = data.result.DosyaTuru;
            dosyaBoyutu = data.result.DosyaBoyutu;

            console.log(data.result);

            if (data.result.DosyaKey == null) {
                toastr.error("Geçersiz dosya türü");
            }
            else {
                $("#txtDosyaAdi").val(data.result.DosyaAdi);
                toastr.success("Dosya yüklendi");
            }
        },
        progressall: function (e, data) {
            $("#progress").show();
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css('width', progress + '%');
        },
        stop: function (e) {
            //$.post("/Ders/Sinav/GuncelleSinavDurum", { FKSinavID: FKSinavID, Durum: 1 });
            //$("#dListe").load(url);
        }
    }).prop('disabled', !$.support.fileInput)
    .parent().addClass($.support.fileInput ? undefined : 'disabled');


    $("#btnDosyaEkle").on("click", function () {
        var icerikTip = 1;

        if ($("#rbIcerik").is(":checked")) {
            dosyaKey = $("#txtIcerikURL").val();
            dosyaBoyutu = 0;
            dosyaTuru = "Bağlantı";
            icerikTip = 2;
        }

        if (dosyaKey != "" && dosyaKey != null) {
            var data = {
                DosyaAdi: $("#txtDosyaAdi").val(),
                DosyaKey: dosyaKey,
                Aciklama: $("#txtAciklama").val(),
                DosyaTuru: dosyaTuru,
                DosyaBoyutu: dosyaBoyutu,
                EnumIcerikTipi: icerikTip,
                Yil: '@Sabitler.Yil',
                EnumDonem: '@Sabitler.Donem',
                Hafta: $("#ddlHafta").val(),
                DigerHocalarGorebilir: $("#cbDigerOgretimGorevlileriGorebilir").is(":checked"),
                EBSGosterilsin: $("#cbEBSDeGorunur").is(":checked"),
                FKDersPlanAnaID: '@dersDetay.DersPlanAnaID',
                FKDersGrupHocaID: '@dersGrupHocaID',
                FKPersonelID: '@Sabitler.KullaniciID',
                DigerGruplaraEkle: $("#cbDigerDersGruplarinaEkle").is(":checked"),
                TumGruplaraEkle: $("#cbTumDersGruplarinaEkle").is(":checked")
            };
            $.post("/Ders/Dokuman/Kaydet", { dokuman: data }).done(function (json) {
                if (json) {
                    toastr.success("İşlem tamamlandı.");
                    load();
                    $("#btnModalClose").trigger("click");
                }
                else {
                    toastr.error("Hata.");
                }
            });
            //dosyaKey = "";
        } else {
            toastr.info("Yüklenecek dosyayı seçiniz.");
        }

    });

    $("#cbTumDersGruplarinaEkle").on("click", function () {
        if ($(this).is(":checked")) {
            $("#cbDigerOgretimGorevlileriGorebilir").prop('checked', true);
        }
        else {
            $("#cbDigerOgretimGorevlileriGorebilir").prop('checked', false);
        }
    })
</script>

<script>
    $("#rbDokuman").on("click", function () {
        if ($(this).is(":checked")) {
            $("#divDosyaIcerik").show();
            $("#divBaglantiIcerik").hide();
        }
    });

    $("#rbIcerik").on("click", function () {
        if ($(this).is(":checked")) {
            $("#divDosyaIcerik").hide();
            $("#divBaglantiIcerik").show();
        }
    });
</script>