﻿@{ 
    Layout = null;
    int dokumanID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    int dersGrupHocaID = Convert.ToInt32(Request.QueryString["D"]);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
}

Dosya silinecektir. Onaylıyor musunuz?<br /><br />

<button id="btnDokumanSil" class="btn btn-danger">Sil</button>

<script>
    $("#btnDokumanSil").on("click", function () {
        $.post("/Ders/Dokuman/GrupSil", { dokumanID: '@dokumanID', dersGrupHocaID: '@dersDetay.DersGrupID' }).done(function (json) {
            if (json) {
                toastr.info("Doküman ders grubundan kaldırıldı.");
                load(true);
            }
            else {
                toastr.error("Hata.");
            }
        });
    });
</script>