﻿
@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class='fa fa-chevron-right'></i></li>
            @*<li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class="fa fa-chevron-right"></i></li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)

                    }
                            - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                        </a>
                        <i class="fa fa-chevron-right"></i>
                    </li>
            <li>Doküman Listesi</li>
        </ul>
    </div>
}
@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")

@*@Html.Action("_pGrupDersDetaylari", "Detay")*@

<div id="dokumanListesi"></div>

<script>
    $(document).ready(function () {
        load();
    });

    function load(modalClose)
    {
        $("#dokumanListesi").load("/Ders/Dokuman/_pDokumanListesi/@dersGrupHocaID");
        if (modalClose == true) {
            $("#btnModalClose").trigger("click");
        }
    }
</script>

@*<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Dialog</h3>
    </div>
    <div class="modal-body">
        <iframe src="" style="zoom:0.60" width="99.6%" height="250" frameborder="0"></iframe>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">OK</button>
    </div>
</div>*@

<script>
    $(document).on("click", ".btnSinifaEkle", function () {
        $cBtn = $(this);
        $.post("/Ders/Dokuman/GrupEkle", { dokumanID: $(this).attr("data-dokumanid"), dersGrupID: $(this).attr("data-dersgrupid") })
         .done(function (json) {
             if (json) {
                 toastr.success("İşlem tamamlandı.");
                 $cBtn.removeClass("btn-success").removeClass("btnSinifaEkle").addClass("btn-danger").addClass("btnSiniftanSil").text("Sınıftan Sil");
                 load();
             }
             else {
                 toastr.error("Hata oluştu.");
             }
         });
    });

    $(document).on("click", ".btnSiniftanSil", function () {
        $cBtn = $(this);
        $.post("/Ders/Dokuman/GrupSil", { dokumanID: $(this).attr("data-dokumanid"), dersGrupID: $(this).attr("data-dersgrupid") })
         .done(function (json) {
             if (json) {
                 toastr.success("İşlem tamamlandı.");
                 $cBtn.removeClass("btn-danger").removeClass("btnSiniftanSil").addClass("btn-success").addClass("btnSinifaEkle").text("Sınıfa Ekle");
                 load();
             }
             else {
                 toastr.error("Hata oluştu.");
             }
         });
    });

    $(document).on("click", ".btnSil", function () {
        $cBtn = $(this);
        if (confirm("Dosya tüm ders gruplarından kalıcı olarak silinecektir! Onaylıyor musunuz?")) {
            $.post("/Ders/Dokuman/Sil", { dokumanID: $cBtn.attr("data-dokumanid") }).done(function (json) {
                if (json) {
                    toastr.info("Dosya silindi.");
                    $cBtn.parent().parent().remove();
                    load();
                }
                else {
                    toastr.error("Hata oluştu.");
                }
            });
        }
    });
</script>