﻿@model Sabis.Bolum.Core.ABS.DERS.OSINAV.OSinavHocaGruplar2

@Html.HiddenFor(d => d.SinavID)
@Html.HiddenFor(d => d.FKDersGrupID)
@Html.HiddenFor(d => d.FKPersonelID)
@Html.HiddenFor(d => d.GrupAd)
@Html.HiddenFor(d => d.OgretimTuru)
@Html.HiddenFor(d => d.SelectedOld)

<div class="checkbox block">
    @if (Model.SelectedOld)
    {
        @Html.CheckBoxFor(m => m.Selected, new { @style = "width: 15px; height: 15px;", @disabled = "disabled" })
    }
    else
    {
        @Html.CheckBoxFor(m => m.Selected, new { @style = "width: 15px; height: 15px;" })
    }
    @*@Html.CheckBoxFor(m => m.Selected, new { @style = "width: 15px; height: 15px;"})*@
    
    @Model.GrupAd - (@Model.OgretimTuru. Öğretim)
    @if (Model.SelectedOld)
    {
        <a class="btn btn-xs btn-danger btn-bold btn-success" data-toggle="tooltip modal" data-source="/Ders/OnlineSinav/GrupOturumTemizle/@Model.FKDersGrupID?sinavid=@Model.SinavID"data-title="Sınavı Sınıftan Sil" data-size="60" data-original-title="" title="" style="margin-left:5px;">
            <i class="fa fa-times"></i>
            Sınavı Sınıftan Kaldır
        </a>
    }
    else
    {
        @*<a class="btn btn-xs btn-white btn-bold btn-success" href="/Ders/OnlineSinav/SinaviYayinla/484702?sinavID=83" style="margin-left:5px;">
            <i class="ace-icon fa fa-arrow-up bigger-110"></i>
            Sınavı Sınıfa Ekle
        </a>*@
    }
    
    
</div>

