﻿@model Dictionary<int, Sabis.Bolum.Core.ABS.ANKET.BirimSonuc>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="well well-lg">
        <strong data-ad="@item.Value.BirimAd" id="anchor-@item.Value.BirimID">@item.Value.BirimAd</strong>
        <a href="#genel" class="pull-right">Yukarı Git</a>
        @if (item.Value.BirimSonucList != null)
        {
            @Html.Partial("_Birim", item.Value.BirimSonucList)
        }
        else
        {
            if (item.Value.PersonelList != null)
            {
                @Html.Partial("_Personel", item.Value.PersonelList)
            }
        }
    </div>
}
