﻿@model List<Sabis.Bolum.Core.ABS.ANKET.DegerlendirmeSonuc>

@{
    Layout = null;
}

<table class="table table-condensed  table-bordered" style="background-color:#fff;">
    <thead>
        <tr>
            <th>
                Foto
            </th>
            <th>
                Ünvan Ad Soyad
            </th>
            <th>
                Birim
            </th>
            <th>
                Genel Toplam
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personel in Model)
        {
            <tr>
                <td class="text-center">
                    <img src="@FotografClient.Client.FotografGetir(personel.KullaniciAdi)" height="80" style="cursor:pointer;" onclick="personelGetir(@personel.PersonelID);" />
                </td>
                <td>
                    @personel.AdSoyadUnvan
                </td>
                <td>
                    @personel.BirimAd
                </td>
                <td>
                    @personel.GenelToplam
                </td>
            </tr>
        }
    </tbody>
</table>
