﻿@model Sabis.Bolum.Core.ABS.ANKET.GenelDegerlendirme

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Sonuç Birim</li>
        </ul>
    </div>
}
<div class="panel panel-green" id="genel">
    <div class="panel-heading">
        <h4>Genel Değerlendirme</h4>
    </div>
    <div class="panel-body">
        <div class="row text-right">
            <div class="btn-group ">
                <a href="#" class="btn btn-default-alt">Fakülteler</a>
                <a href="#" class="btn btn-default-alt dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu anchorListUst" role="menu"></ul>
            </div>
        </div>


        @foreach (var item in Model.BirimSonucList.OrderBy(x => x.Value.BirimAd))
        {
            <div class="well well-lg fakulte">
                <h4 name="@item.Value.BirimAd" id="anchor-@item.Value.BirimID">@item.Value.BirimAd</h4>
                <div class="row text-right">
                    <div class="btn-group " style="background:#fff;">
                        <a href="#" class="btn btn-default-alt">Bölümler</a>
                        <a href="#" class="btn btn-default-alt dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu anchorList" role="menu"></ul>
                    </div>
                    <br />
                </div>

                @if (item.Value.BirimSonucList != null)
                {
                    @Html.Partial("_Birim", item.Value.BirimSonucList.OrderBy(x=>x.Value.BirimAd).ToDictionary(x=> x.Key, x=> x.Value))
                }
                else
                {
                    if (item.Value.PersonelList != null)
                    {
                        @Html.Partial("_Personel", item.Value.PersonelList)
                    }
                }
            </div>
        }
    </div>
</div>

<div id="personel">

</div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/jquery.linq.min.js"></script>
@*<script src="~/assets/js/jquery.blockUI.min.js"></script>*@
<script type="text/javascript">

    function getSorted(selector, attrName) {
        return $($(selector).toArray().sort(function (a, b) {
            var aVal = parseInt(a.getAttribute(attrName)),
                bVal = parseInt(b.getAttribute(attrName));
            return aVal - bVal;
        }));
    }

    $(function () {

        $.blockUI("Lütfen Bekleyiniz..");

        //var list1 = [];

        $('strong[id^="anchor-"]').each(function (i, item) {
            //var data = {
            //    id: $(this).attr('id'),
            //    text: $(this).text()
            //};
            //list1.push(data);
            $(this).closest('.fakulte').find(".anchorList").append($('<li>').append($('<a href="#' + $(this).attr('id') + '">').append($(this).text())));
        });


        //var list2 = [];

        $('h4[id^="anchor-"]').each(function (i, item) {
            //var data = {
            //    id: $(this).attr('id'),
            //    text: $(this).text()
            //};
            //list2.push(data);
            $(this).closest('.panel-body').find(".anchorListUst").append($('<li>').append($('<a href="#' + $(this).attr('id') + '">').append($(this).text())));
        });

        //list2 = list2.sort(function (a, b) { return (a.text > b.text) ? 1 : ((b.text > a.text) ? -1 : 0); })
        //$.each(list2, function (i, obj) {
        //    $(this).closest('.panel-body').find(".anchorListUst").append($('<li>').append($('<a href="#' + obj.id + '">').append(obj.text)));
        //});

        $.unblockUI();

    });


    function personelGetir(personelID) {
        $("#genel").hide();
        $("#personel").load('@Url.Action("BireyselSonuc","Degerlendirme")', { personelID: personelID });
    }

    function geneleGit() {
        $("#personel").empty();
        $("#genel").show();
    }
</script>