﻿@model Sabis.Bolum.Core.ABS.ANKET.DegerlendirmeSonuc

@if (ViewBag.LayoutAc)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    Layout = null;
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Bireysel Sonuç</li>
        </ul>
    </div>
}

<div class="btn-group pull-right btn-sm-block btn-xs-block">
    <a class="btn default btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">YIL ve DÖNEM</a>
    <ul class="dropdown-menu pull-right">
        <li><a href="/Anket/Degerlendirme/Sonuc?yil=2017&donem=1" data-yil="2017" data-donem="1">2017 - 2018 Güz Dönemi</a></li>
        <li><a href="/Anket/Degerlendirme/Sonuc?yil=2016&donem=3" data-yil="2016" data-donem="3">2016 - 2017 Yaz Dönemi</a></li>
        <li><a href="/Anket/Degerlendirme/Sonuc?yil=2016&donem=2" data-yil="2016" data-donem="2">2016 - 2017 Bahar Dönemi</a></li>
        <li><a href="/Anket/Degerlendirme/Sonuc?yil=2016&donem=1" data-yil="2016" data-donem="1">2016 - 2017 Güz Dönemi</a></li>
        <li><a href="/Anket/Degerlendirme/Sonuc?yil=2015&donem=3" data-yil="2015" data-donem="3">2015 - 2016 Yaz Dönemi</a></li>
        <li><a href="/Anket/Degerlendirme/Sonuc?yil=2015&donem=2" data-yil="2015" data-donem="2">2015 - 2016 Bahar Dönemi</a></li>
        <li><a href="/Anket/Degerlendirme/Sonuc?yil=2015&donem=1" data-yil="2015" data-donem="1">2015 - 2016 Güz Dönemi</a></li>
    </ul>
</div>


<div class="panel panel-sky">
    <div class="panel-heading">
        <h4>@Model.AdSoyadUnvan</h4>
    </div>
    <div class="panel-body">
        <button type="button" onclick="geneleGit()" class="btn btn-danger pull-right">Geri</button>
        <h4>Genel Değerlendirme: @Model.GenelToplam</h4>

        <div class="well well-lg">
            <h4>Personel Değerlendirme Sonuçları</h4>
            <div class="row">
                <table class="table table-condensed table-striped table-bordered" style="background:#fff;">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Metin
                            </th>
                            <th>
                                Adet
                            </th>
                            <th>
                                Puan
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var personelSoru in Model.PersonelDegerlendirme.SoruCevapList)
                        {
                            <tr>
                                <td>
                                    @personelSoru.SoruNo
                                </td>
                                <td>
                                    @personelSoru.SoruMetin
                                </td>
                                <td>
                                    @personelSoru.Adet
                                </td>
                                <td>
                                    @personelSoru.Puan
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-right">
                                Toplam:
                            </td>
                            <td>
                                @Model.PersonelDegerlendirme.GenelToplam
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>



        @foreach (var ders in Model.DersDegerlendirmeList)
        {
            <div class="well well-sm">


                <h4>@ders.DersAd</h4>
                <div class="row">
                    <h5>Öğrenci Anket Sonuçları</h5>
                    <table class="table table-condensed table-striped table-bordered" style="background:#fff;">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Metin
                                </th>
                                <th>
                                    Adet
                                </th>
                                <th>
                                    Puan
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ogrenciSoru in ders.SoruCevapList)
                            {
                                <tr>
                                    <td>
                                        @ogrenciSoru.SoruNo
                                    </td>
                                    <td>
                                        @ogrenciSoru.SoruMetin
                                    </td>
                                    <td>
                                        @ogrenciSoru.Adet
                                    </td>
                                    <td>
                                        @ogrenciSoru.Puan
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-right">
                                    Toplam:
                                </td>
                                <td>
                                    @ders.SoruCevapToplam
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <h5>Döküman Sonuçları</h5>
                    <table class="table table-condensed table-striped table-bordered" style="background:#fff;">
                        <thead>
                            <tr>
                                <th>
                                    Tip
                                </th>
                                <th>
                                    Adet
                                </th>
                                <th>
                                    Puan
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dokuman in ders.DokumanList)
                            {
                                <tr>
                                    <td>
                                        @dokuman.DokumanTipi
                                    </td>
                                    <td>
                                        @dokuman.Adet
                                    </td>
                                    <td>
                                        @dokuman.Puan
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="text-right">
                                    Toplam:
                                </td>
                                <td>
                                    @ders.DokumanToplam
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }


    </div>
</div>