﻿@model List<Sabis.Bolum.Core.ABS.NOT.OgrenciListesiVM>
@using Dil = DilWebClient.Cevir

@if (Model != null && Model.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">@Dil.Getir("aldigi_dersler")</div>

                <div class="panel-body">

                    @foreach (var ders in Model)
                    {
                        <div class="panel-group accordion" id="accordion2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#@ders.DersPlanAnaID" aria-expanded="false"> @ders.DersAd </a>
                                    </h4>
                                </div>
                                <div id="@ders.DersPlanAnaID" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Çalışma Tipi</th>
                                                    <th class="text-center">@Dil.Getir("notu")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var not in ders.OgrenciNotListesi)
                                                {
                                                    <tr>
                                                        <td>@not.Sira<span>.</span> @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)not.EnumCalismaTip)</td>
                                                        <td class="text-center">@not.Notu.ToString().Replace("120", "GR").Replace("130", "DZ")</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>


}

