﻿@model Sabis.OICore.dto.transkript.YariyilDonemBilgisi
@using Dil = DilWebClient.Cevir


<div class="row">
    <div class="col-md-12" style="overflow: hidden;">
        <table class="table table-condensed table-striped table-hover col-md-12">
            <thead>
                <tr>
                    <th class="col-md-2">Z/S</th>
                    <th class="col-md-2">@Dil.Getir("kod")</th>
                    <th class="col-md-6">@Dil.Getir("ders_adi")</th>
                    <th class="col-md-1 text-center">AKTS</th>
                    <th class="col-md-1 text-center">GTÜ Kredi</th>
                    <th class="col-md-2">Başarı Durumu</th>
                    @*<th class="col-md-1 text-center" @Dil.Getir("nihai_not")</th>*@
                    @*<th class="col-md-1">Plan Durumu</th>*@
                    @*<th class="col-md-2">İntibak</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DersPlanList)
                {
                    if (item.Aktif == true || (item.Aktif == false && item.YazilmaList.Any()))
                    {
                        <tr>
                            <td>@item.DersBilgisi.EnumDersSecimTipi.ToString().Replace("0", "-")</td>
                            <td>@item.DersBilgisi.DersKod</td>
                            <td>
                                @if (@item.YazilmaList.Where(d => d.Yil == Sabitler.Yil && d.EnumDonem == (Sabis.Enum.EnumDonem)Sabitler.Donem).Any())
                                {
                                    <span>
                                        @item.DersBilgisi.DersAd <span class="label label-danger">@Dil.Getir("secilen_ders")</span>
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        @item.DersBilgisi.DersAd
                                    </span>
                                }
                            </td>
                            <td class="text-center">@item.DersBilgisi.AKTS</td>
                            <td class="text-center">@item.DersBilgisi.Kredi</td>
                            <td>
                                @if (item.NotBilgisi != null)
                                {
                                    <span><a class="btnNotDetay" href="javascript:;" data-ogrenciplanid="@item.ID" data-ogrencinotid="@item.NotBilgisi.NotID">@item.NotBilgisi.BasariNotu.ToString().Replace("ALMASI_GEREKMIYOR", "-")</a></span>
                                }
                                else
                                {

                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        
        <div>@Dil.Getir("donem_ici_toplam") AKTS: @Model.DersPlanList.Where(x => x.Aktif == true || x.Aktif == false && x.YazilmaList.Any()).Where(x => x.NotBilgisi != null).Sum(d => d.DersBilgisi.AKTS) - Dönem Ortalaması: @Model.Ortalama.DonemSonuAgNotOrt.ToString("0.00")</div>
        <div>@Dil.Getir("donem_ici_toplam") GTÜ Kredi: @Model.DersPlanList.Where(x => x.Aktif == true || x.Aktif == false && x.YazilmaList.Any()).Where(x => x.NotBilgisi != null).Sum(d => d.DersBilgisi.Kredi) - Dönem Ortalaması: @Model.Ortalama.DonemSonuAgNotOrtYerel.ToString("0.00")
        @if (Model.YonetmelikID == 1)
        {
            <span>- Koşullu Dönem Ortalaması: @Model.Ortalama.DonemSonuKosulluDersGecmeOrt.ToString("0.00")</span>
        }

        </div>
    </div>
</div>

