﻿@model List<Sabis.Bolum.Core.ABS.OGRENCI.DanismanMesajVM>
@using Dil = DilWebClient.Cevir


    <div class="row">

        <div class="panel panel-default">
            <div class="panel-body">
                <h3>@Dil.Getir("mesaj_gonder")</h3>
                <textarea id="txtAciklama" maxlength="1000" class="form-control counted" name="message" placeholder="@Dil.Getir("gonderilecek_mesaji_yaziniz")" rows="5" style="margin-bottom:18px;"></textarea>
                <button id="btnMesajGonder" class="btn btn-fresh text-uppercase" disabled>@Dil.Getir("mesaj_gonder")</button>
            </div>
        </div>

    </div>




    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">

                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-comment"></span>
                    @Dil.Getir("mesaj_gecmisi")
                </h3>
            </div>

            <div class="panel-body">
                <ul class="list-group">

                    @foreach (var item in Model)
                    {
                        <li class="list-group-item">
                            @Dil.Getir("gonderen"): @item.GonderenOgrenci.ToString().Replace("True", Dil.Getir("ogrenci")).Replace("False", Dil.Getir("ogretim_gorevlisi")) (@item.Tarih)
                            <br />Mesaj: @item.Mesaj
                        </li>
                    }

                </ul>
                </div>
        </div>

    </div>




<script>
    $("#btnMesajGonder").click(function () {
        var data = {
            FKOgrenciID: '@Request.RequestContext.RouteData.Values["id"]',
            FKPersonelID: '@Sabitler.KullaniciID',
            Mesaj: $("#txtAciklama").val(),
        };

        $.post("/Ders/Ogrenci/OgrenciMesajKaydet", { mesaj: data }).success(function (json) {
            if (json) {
                $("#mesajGecmisi").load("/Ogrenci/Bilgi/_pMesajGecmisi/" + '@Request.RequestContext.RouteData.Values["id"]');
                toastr.success("@Dil.Getir("mesaj_basariyla_gonderildi")");
                setTimeout(function () {
                    window.location.reload();
                }, 3000)
            }
            else {
                toastr.error("@Dil.Getir("istek_sirasinda_bir_hata_olustu")");
            }
        });
    });

    $("#txtAciklama").on("keyup", function () {
        if ($("#txtAciklama").val().length > 2) {
            $("#btnMesajGonder").attr("disabled", false);
        }
        if ($("#txtAciklama").val().length < 3) {
            $("#btnMesajGonder").attr("disabled", true);
        }
    });
</script>