﻿@model Sabis.Bolum.Core.ABS.OGRENCI.OgrenciListesiVM
@using Dil = DilWebClient.Cevir


<div class="row">
    <div class="col-sm-6 col-md-4">
        <img src="@Model.FotoAdres" alt="" class="img-rounded img-responsive" />
    </div>
    <div class="col-sm-6 col-md-8">
        <h2>@Model.Ad @Model.Soyad</h2>
        <p>
            <h4>@Dil.Getir("numara"): @Model.Numara</h4>
        </p>
    </div>
</div>


<div id="mesajGecmisi" class="col-xs-12 col-sm-12 col-md-12"></div>

<script>
    $(document).ready(function() {
        $("#mesajGecmisi").load("/Ders/Ogrenci/_pMesajGecmisi/" + '@Request.RequestContext.RouteData.Values["id"]');
    });
</script>