﻿@using Dil = DilWebClient.Cevir
@model IEnumerable<Sabis.Bolum.Core.ABS.OGRENCI.SecilenDerslerVM>
@{
    Layout = null;
}
@if (Model.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                @*<div class="panel-heading">@Dil.Getir("ogrencinin_sectigi_tum_dersler")</div>*@
                <div class="panel-heading">Öğrencinin Seçtiği Tüm Dersler</div>
                <div class="panel-body">
                
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>@Dil.Getir("kod")</th>
                                    <th>@Dil.Getir("ders_adi")</th>
                                    <th class="text-center">AKTS</th>
                                    <th class="text-center">GTÜ Kredi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.DersKod</td>
                                        <td>@item.DersAd</td>
                                        <td class="text-center">@item.Akts</td>
                                        <td class="text-center">@item.Kredi</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    <div>@Dil.Getir("toplam") <span>AKTS:</span> @Model.Sum(d => d.Akts)</div>
                    <div>@Dil.Getir("toplam") <span>GTÜ Kredi:</span> @Model.Sum(d => d.Kredi)</div>
                
                </div>
            </div>
        </div>
    </div>
}