﻿@model List<Sabis.Bolum.Core.ABS.OGRENCI.OgrenciBilgileri>
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://bolum.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Bölüm Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'></a>@ViewBag.YilDonem Kayıtlı Öğrenci Listesi</li>
        </ul>
    </div>
}

<script src="~/Content/assets/global/plugins/ckeditor/ckeditor.js"></script>

@{ 
    int sira = 1;
}

<div style="height:40px">
    <a href="/Ders/Ogrenci/ExceleAktar"> <div style="background-color:#4b8496; color:white; float:right; padding:5px;">Excele Aktar</div></a>
</div>

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Kayıtlı Öğrenci Listesi</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="info">
                            <th>Sıra</th>
                            <th>Numara</th>
                            <th>Ad Soyad</th>
                            <th>Giriş Yılı</th>
                            <th>Sınıf</th>
                            <th>Aktif Yarıyıl</th>
                            <th>Öğrencilik Statüsü</th>
                            <th>Program</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(a=>a.EnumSeviye).ThenBy(b=>b.BolumAdi).ThenBy(c=>c.Numara))
                        {
                            <tr>
                                <td>@sira</td>
                                <td>@item.Numara</td>
                                <td>@item.Ad @item.Soyad</td>
                                <td>@item.KayitYili</td>
                                <td>@item.Sinif</td>
                                <td>@item.AktifYariyil</td>
                                <td>@item.EnumOgrencilikStatusuDesc</td>
                                <td>@item.BolumAdi</td>
                                <td><a href="/Ders/Ogrenci/Profil?id=@item.OgrenciID">Detay</a></td>
                                <td style="visibility:hidden">@(sira++);</td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
