﻿@model List<Sabis.Bolum.Core.dto.Ogrenci.OgrenciBilgiDto>
@using Dil = DilWebClient.Cevir
@{
    ViewBag.Title = "Öğrenci Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string str = "</div><div class=" + '"' + "row" + '"' + '>';
    string resimurl = "";
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
    string trh = DateTime.Now.Day + "." + DateTime.Now.Month + "." + DateTime.Now.Year + " " + DateTime.Now.Hour + ":00";
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            @*<li>
                    <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i>
                </li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                    }
                    - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                </a>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li>Öğrenci Listesi</li>
        </ul>
    </div>
}
@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")

@*@Html.Action("_pGrupDersDetaylari", "Detay")*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.0/isotope.pkgd.min.js"></script>
<script src="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Dil.Getir("bes_haftalik_liste")
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="btn5Hafta" href="/Rapor/DevamTakip5/@dersDetay.DersGrupHocaID">PDF</a></li>
                <li><a id="btn5HaftaExcel" href="#">Excel</a></li>
            </ul>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Dil.Getir("onbes_haftalik_liste")
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="btn15Hafta" href="/Rapor/DevamTakip15/@dersDetay.DersGrupHocaID">PDF</a></li>
                <li><a id="btn15HaftaExcel" href="#">Excel</a></li>
            </ul>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Dil.Getir("tek_devam_listesi").ToUpper()
            </button>
            <ul id="haftaListe" class="dropdown-menu" style="-webkit-columns: 3; -moz-columns: 3; columns: 3;"></ul>
        </div>
        <div class="btn-group" role="group">


            @*<a id="topluPosta" href="/Ders/Ogrenci/topluPosta/@dersGrupHocaID" class="btn btn-success dropdown-toggle">TOPLU POSTA</a>*@

            <a id="model-opener" class="btn btn-success dropdown-toggle">TOPLU POSTA</a>

        </div>
    </div>

</div>

<div id="dialog-modal" title="TOPLU MAİL GÖNDER">


    <form>
        <fieldset>

            <div>

                @Html.Hidden("id", new { @class = "form-control" }, dersGrupHocaID)
            </div>
            <div>
                @Html.TextArea("mail_icerik", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "MAİL İÇERİĞİNİ GİRİNİZ." })
            </div>
            <p>
                <input type="button" value="TOPLU EMAİL GÖNDER" class="btn btn-success dropdown-toggle" onclick="Mailsender();" id="gonder" />

                @*<input type="submit" value="TOPLU EMAİL GÖNDER" class="btn btn-success dropdown-toggle" />*@
                @*<a id="topluPosta" href="/Ders/Ogrenci/topluPosta/@dersGrupHocaID" class="btn btn-success dropdown-toggle">*@
            </p>
            <h3 id="islemsonuc"></h3>

        </fieldset>


    </form>





</div>

<div id="filters" class="button-group" style="margin-top: 20px; margin-bottom: 10px;">
    <button class="btn default is-checked" data-filter="*">@Dil.Getir("tum_liste")</button>
    <button class="btn default" data-filter=".isimA">A</button>
    <button class="btn default" data-filter=".isimB">B</button>
    <button class="btn default" data-filter=".isimC">C</button>
    <button class="btn default" data-filter=".isimÇ">Ç</button>
    <button class="btn default" data-filter=".isimD">D</button>
    <button class="btn default" data-filter=".isimE">E</button>
    <button class="btn default" data-filter=".isimF">F</button>
    <button class="btn default" data-filter=".isimG">G</button>
    <button class="btn default" data-filter=".isimH">H</button>
    <button class="btn default" data-filter=".isimI">I</button>
    <button class="btn default" data-filter=".isimİ">İ</button>
    <button class="btn default" data-filter=".isimJ">J</button>
    <button class="btn default" data-filter=".isimK">K</button>
    <button class="btn default" data-filter=".isimL">L</button>
    <button class="btn default" data-filter=".isimM">M</button>
    <button class="btn default" data-filter=".isimN">N</button>
    <button class="btn default" data-filter=".isimO">O</button>
    <button class="btn default" data-filter=".isimÖ">Ö</button>
    <button class="btn default" data-filter=".isimP">P</button>
    <button class="btn default" data-filter=".isimR">R</button>
    <button class="btn default" data-filter=".isimS">S</button>
    <button class="btn default" data-filter=".isimŞ">Ş</button>
    <button class="btn default" data-filter=".isimT">T</button>
    <button class="btn default" data-filter=".isimU">U</button>
    <button class="btn default" data-filter=".isimÜ">Ü</button>
    <button class="btn default" data-filter=".isimV">V</button>
    <button class="btn default" data-filter=".isimY">Y</button>
    <button class="btn default" data-filter=".isimZ">Z</button>
</div>

<div class="row">
    <div>
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading col-md-12">
                    @Dil.Getir("ogrenci_listesi")
                </div>
                <div class="panel-body">
                    @if (Model == null)
                    {
                        <div class="row">
                            @Dil.Getir("ogrenci_listesi_bos")
                        </div>
                    }
                    else
                    {
                        <div class="row ISOTOPE">
                            <div class="col-md-12 text-center">
                                @foreach (var ogrenci in Model)
                                {
                                    <div class="col-md-2 col-sm-4 col-xs-6 istp @string.Concat("isim", ogrenci.Ad[0])" style="min-height: 280px; margin-top: 20px;">
                                        @{
                                            //resimurl = FotografClient.Client.FotografGetir(ogrenci.KullaniciAdi);
                                            if (resimurl == "" || resimurl == null) { resimurl = "/Content/assets/global/img/noimage.jpg"; }
                                        }
                                        <table class="table table-condensed" data-numara="@ogrenci.Numara" data-adsoyad="@ogrenci.Ad @ogrenci.Soyad">
                                            <thead>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="2">
                                                        <a href="/Ders/Ogrenci/Profil/@ogrenci.ID" target="_blank">
                                                            <img class="img-responsive fotograf-kenarlik center-block" style="max-width: 172px; max-height: 200px; width: 100%; height: auto; display: block; background-image: url('/Content/assets/global/img/noimage.jpg'); background-repeat: no-repeat; background-size: cover;" src="@resimurl" />
                                                        </a>
                                                        @*<img src="@Model.FotoAdres" alt="" class="img-rounded img-responsive" />*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        @ogrenci.Ad @ogrenci.Soyad
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>@Dil.Getir("numara"):</td>
                                                    <td>@ogrenci.Numara</td>
                                                </tr>
                                                <tr>
                                                    <td>@Dil.Getir("eposta"):</td>
                                                    <td><a href="mailto:@string.Concat(ogrenci.KullaniciAdi, "@gtu.edu.tr")">@string.Concat(ogrenci.KullaniciAdi, "@gtu.edu.tr")</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12" style="display: none;">
    <table id="tblOgrenciListesi" class="col-md-12">
        <thead></thead>
        <tbody id="ustTablo" class="col-md-12"></tbody>
        <tbody id="altTablo" class="col-md-12"></tbody>
    </table>

    <table id="tblOgrenciListesi15" class="col-md-12">
        <thead></thead>
        <tbody id="ustTablo15" class="col-md-12"></tbody>
        <tbody id="altTablo15" class="col-md-12"></tbody>
    </table>
</div>

<script>
    var dersAd = '@dersDetay.DersAd';
    var ogrtmTur = '@dersDetay.EnumOgretimTur';
    var dersKod = '@dersDetay.DersKod';
    var dersSaati = '@dersDetay.DersSaati';
    var yil = '@Sabitler.Yil';
    var donem = '@Sabitler.Donem';
    var dgHOCAID = '@dersDetay.DersGrupHocaID';

    function Mailsender() {
        var deger = "";
        var id = $('#id').val();
        var mail_icerik = $('#mail_icerik').val();
        if (mail_icerik == "") {
            deger = "Lütfen mail adresini girin!"
            return;
        }

        $.ajax({
            type: 'POST',
            url: "@(Url.Action("topluPosta", "Ogrenci", new { area ="Ders" }))",
            data: { 'id': id, 'mail_icerik': mail_icerik },
            ascyc: true,
            success: function (result) { debugger
                switch (result) {
                    case 2:
                        $('#islemsonuc').html(' Mailiniz başarı ile gönderildi.');
                        break;
                    case -2:
                        $('#islemsonuc').html('Personel kimlik id bilgisi boş');
                        break;
                    default:
                        $('#islemsonuc').html('işlem sırasında hata oluştu. Tekrar deneyiniz');
                        break;
                }                
                setInterval(function () {
                    $('.ui-dialog-titlebar-close').click();
                }, 3000);
            }
        });
    }


    $(function () {
        $("#dialog-modal").dialog(
            {
                autoOpen: false,
                width: 500,
                height: 350,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });
        $("#model-opener").click(function () {
            $("#dialog-modal").dialog("open");
        });

    });



</script>

<script src="~/Scripts/Areas/Ders/Ogrenci/Liste.js?version=3"></script>