﻿@{
    Layout = null;
}
@model Sabis.OICore.dto.transkript.Transkript
@using Dil = DilWebClient.Cevir

<div id="secilenDersler">

</div>



<div class="panel panel-default">
    <div class="panel-heading">@Dil.Getir("transkript")</div>
    <div class="panel-body">
        <div class="panel-group accordion" id="accordion1">
            @foreach (var item in Model.YariyilDonemList)
            {
                Guid newGuid = Guid.NewGuid();
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#@newGuid" aria-expanded="false"> @item.Baslik </a>
                        </h4>
                    </div>
                    <div id="@newGuid" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            @Html.Partial("_pDonemListesi", item)
                        </div>
                    </div>
                </div>
            }
            <div class="alert alert-info alert-dismissible" role="alert">
                @Dil.Getir("genel_toplam") AKTS: @Model.DersPlanList.Where(x => x.Aktif == true || x.Aktif == false && x.YazilmaList.Any()).Where(x => x.NotBilgisi != null).Sum(d => d.DersBilgisi.AKTS)
                - @Dil.Getir("genel_ort"): @Model.GenelOrtalama.GenelAgNotOrt.ToString("0.00")
            </div>
            <div class="alert alert-info alert-dismissible" role="alert">
                @Dil.Getir("genel_toplam") GTÜ Kredi: @Model.DersPlanList.Where(x => x.Aktif == true || x.Aktif == false && x.YazilmaList.Any()).Where(x => x.NotBilgisi != null).Sum(d => d.DersBilgisi.Kredi)
                - @Dil.Getir("genel_ort") Yerel: @Model.GenelOrtalama.GenelAgNotOrtYerel.ToString("0.00")
            </div>

        </div>
    </div>
</div>



@*<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            @foreach (var item in Model.YariyilDonemList)
            {
                <div class="panel-heading bar-arkaplan">@item.Baslik</div>

                    <div class="panel-body">
                        @Html.Partial("_pDonemListesi", item)
                    </div>
            }
            @Dil.Getir("genel_toplam") AKTS: @Model.DersPlanList.Where(x => x.Aktif == true || x.Aktif == false && x.YazilmaList.Any()).Where(x => x.NotBilgisi != null).Sum(d => d.DersBilgisi.AKTS)
        </div>
    </div>
</div>*@

<script>

    $(document).ready(function () {
        $("#secilenDersler").load("/Ders/Ogrenci/_pSecilenDersler?ogrenciID=" + @Request.QueryString["OgrenciID"]);
    });

</script>
