﻿@model List<Sabis.Bolum.Core.ABS.OGRENCI.DersOgrenciListesiVM>
@{
    ViewBag.Title = "TumListe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int fkDersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var dersDetay = Sabitler.GetirDersDetay(fkDersGrupHocaID);
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>

@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")

<h3>@dersDetay.DersAd Dersini Alan Tüm Öğrenci Listesi</h3>

<table class="table" id="tblListe">
    <thead>
        <tr>
            <th>Numara</th>
            <th>Ad Soyad</th>
            <th>Fakülte</th>
            <th>Bölüm</th>
            <th>Öğretim Görevlisi</th>
            <th>Ders Grubu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ogrenci in Model)
        {
            <tr>
                <td>@ogrenci.Numara</td>
                <td>@ogrenci.Ad @ogrenci.Soyad</td>
                <td>@ogrenci.Fakulte</td>
                <td>@ogrenci.Bolum</td>
                <td>@ogrenci.OgretimGorevlisi</td>
                <td>@ogrenci.Grubu</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#tblListe').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "pageLength": 25,
            dom: 'Bfrtip',
            buttons: [
                //'copyHtml5',
                'excelHtml5',
                //'csvHtml5',
                //'pdfHtml5'
            ],
            "scrollY": 400,
            //"scrollX": true,
            "scrollCollapse": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            }
        });
    });
</script>