﻿
@{
    ViewBag.Title = "Ders Koordinatör Yönetimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Ders Koordinatörleri</li>
        </ul>
    </div>
}
<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Ders Koordinatör Yönetimi</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">
                <select id="ddlFakulteListesi" class="form-control birimSec" data-tur="Fakülte">
                    <option>Fakülte Seçiniz</option>
                </select>

                <select id="ddlBolumListesi" class="form-control birimSec" data-tur="Bölüm">
                    <option>Bölüm Seçiniz</option>
                </select>

                <select id="ddlAraProgramListesi" class="form-control birimSec" data-tur="Ara" style="visibility: hidden;">
                    <option>Ara Program Seçiniz</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Yaz Okulu Dersi</th>
                            <th>Ders Adi</th>
                            <th>Koordinator</th>
                            <th class="text-center">İşlem</th>
                        </tr>
                    </thead>
                    <tbody id="tblDersListesi"></tbody>
                </table>
            </div>
        </div>


    </div>
</div>

<style>
    select {
        margin-bottom: 10px;
    }
</style>

<script>

    $(document).on("click", ".chkYazOkulu", function () {
        var $chk = $(this);
        $.post("/EBS/BolumYonetim/GuncelleYazOkuluDersi", { FKDersPlanAnaID: $(this).attr("data-fkdersplanid"), FakulteID: $("#ddlFakulteListesi").val(), BolumID: $("#ddlBolumListesi").val(), durum: $(this).is(":checked"), ProgramID: $("#ddlAraProgramListesi").val() })
        .success(function (json) {
            if (json) {
                if ($chk.is(":checked")) {
                    toastr.success("Yaz okulu dersi eklendi.");
                }
                else {
                    toastr.info("Yaz okulu dersi kaldırıldı.");
                }
            }
            else {
                toastr.error("Hata. En fazla 10 adet ders seçilebilir.");
                $chk.attr("checked", false);
            }
        });
    });

    $(document).ready(function () {
        $.post("/Home/GetirBirimListe", { ustBirimID: '@Sabitler.UniversiteID', FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: 0, yetkiKontrol: false })
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlFakulteListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                });
    });

    var araProgramGetir = function (ustBirimID) {
        $.post("/Home/GetirBirimListe", { ustBirimID: ustBirimID, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false })
             .success(function (json) {
                 $.each(json, function (i, val) {
                     $("#ddlAraProgramListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                 });
                 $("#ddlAraProgramListesi").removeAttr("style");
             });
    };

    $("#ddlFakulteListesi").on("change", function () {
        $("#tblDersListesi").html("");
        $("#ddlBolumListesi").empty().append(' <option value="0">Bölüm Seçiniz</option>');
        $("#ddlAraProgramListesi").css("visibility", "hidden");
        $("#ddlAraProgramListesi").empty();

        $.post("/Home/GetirBirimListe", { ustBirimID: $("#ddlFakulteListesi").val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false }) //3
            .success(function (json) {
                $.each(json, function (i, val) {
                    $("#ddlBolumListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                });
            });
    });
    $("#ddlBolumListesi").on("change", function () {
        var bID = $(this).val();
        $("#ddlAraProgramListesi").css("visibility", "hidden");
        $("#ddlAraProgramListesi").empty().append('<option value="0">Ara Program Seçiniz</option>');
        $("#tblDersListesi").html("");
        var jsonList = "";
        $.post("/Admin/DersKoordinatorleri/GetirBirimDersList", { FKBirimID: bID }).success(function (json2) {
            if (json2.length > 0) {
                console.log(json2.length);
                $.each(json2, function (index, value) {
                    var placeholder = "";
                    if (value.PersonelAdSoyadUnvan == null) {
                        value.PersonelAdSoyadUnvan = "";
                        placeholder = "Ad soyad giriniz";
                    }
                    $("#tblDersListesi").append('<tr><td class="col-md-1"><input type="checkbox" class="form-control chkYazOkulu" data-fkdersplanid="' + value.FKDersPlanAnaID + '" ' + value.YazOkuluDersiMi.toString().replace(/true/g, 'checked').replace(/false/g, '') + ' /></td><td class="col-md-6">' + value.DersAdi + '</td><td class="col-md-4"><input type="text" class="form-control arama" value="' + value.PersonelAdSoyadUnvan + '" placeholder="' + placeholder + '"/></td><td class="col-md-1 text-center"><button class="btn btn-primary btnGuncelle" data-personelid="' + value.FKPersonelID + '" data-dersplananaid="' + value.FKDersPlanAnaID + '">Güncelle</button></td><td><a href="/EBS/DersBilgileri/DersOzet/' + value.FKDersPlanAnaID + '?dil=tr" target="_blank" class="btn default">Ders Bilgileri</a></td></tr>');
                });
            }
            else {
                araProgramGetir(bID);
            }
        });


    });


    $("#ddlAraProgramListesi").on("change", function () {
        $("#tblDersListesi").html("");
        $.post("/Admin/DersKoordinatorleri/GetirBirimDersList", { FKBirimID: $(this).val() }).success(function (json) {
            $.each(json, function (index, value) {
                var placeholder = "";
                if (value.PersonelAdSoyadUnvan == null) {
                    value.PersonelAdSoyadUnvan = "";
                    placeholder = "Ad soyad giriniz";
                }
                $("#tblDersListesi").append('<tr><td class="col-md-1"><input type="checkbox" class="form-control chkYazOkulu" data-fkdersplanid="' + value.FKDersPlanAnaID + '" ' + value.YazOkuluDersiMi.toString().replace(/true/g, 'checked').replace(/false/g, '') + ' /></td><td class="col-md-6">' + value.DersAdi + '</td><td class="col-md-4"><input type="text" class="form-control arama" value="' + value.PersonelAdSoyadUnvan + '" placeholder="' + placeholder + '"/></td><td class="col-md-1 text-center"><button class="btn btn-primary btnGuncelle" data-personelid="' + value.FKPersonelID + '" data-dersplananaid="' + value.FKDersPlanAnaID + '">Güncelle</button></td><td><a href="/EBS/DersBilgileri/DersOzet/' + value.FKDersPlanAnaID + '?dil=tr" target="_blank" class="btn default">Ders Bilgileri</a></td></tr>');
            });
        });
    });

</script>

<script>
    $(document).on("keyup", ".arama", function () {
        blockStatus = true;
        $(this).autocomplete({
            source: function (request, response) {
                $.post("/Admin/DersKoordinatorleri/GetirPersonelBilgi", { aranan: request.term })
                 .success(function (data) {
                     response($.map(data, function (item) {
                         return {
                             label: item.Text,
                             value: item.Value
                         }
                     }));
                     delete blockStatus;
                 });
            },
            messages: {
                noResults: '',
                results: function () { }
            },
            select: function (event, ui) {
                $(this).val(ui.item.label);
                $(this).parent().next().children("button").attr("data-personelid", ui.item.value);
                return false;
            },
            minLength: 3
        });
    });

    $(document).on("click", ".btnGuncelle", function () {
        var response = confirm("Koordinatör değiştirilecektir! Onaylıyor musunuz?");
        if (response) {
            $.post("/Admin/DersKoordinatorleri/DersKoordinatorDegistir", { FKDersPlanAnaID: $(this).attr("data-dersplananaid"), FKPersonelID: $(this).attr("data-personelid") })
             .success(function (data) {
             if (data) {
                 toastr.success("Koordinatör değiştirildi.");
             }
         });
        }
    });

</script>