﻿
@{
    ViewBag.Title = "Simulasyon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://bolum.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>BÖLÜM BİLGİ SİSTEMİ</a><i class="fa fa-chevron-right"></i></li>
            <li>Simülasyon</li>
        </ul>
    </div>
}
<div class="panel panel-default">
    <div class="panel-heading">Simulasyon</div>
    <div class="panel-body">
        <div class="col-md-2">
            <input id="txtSimulasyon" data-kullaniciadigetir="true" class="form-control personelAra" placeholder="Kullanıcı Adı" />
        </div>
        @*<div class="col-md-2">
            <button id="btnSimuleEt" class="btn btn-primary">Simule Et</button>
        </div>*@
    </div>
</div>

<script type="text/javascript">
    function simuleEt() {
        $.post("/Admin/Simulasyon/SimuleEt", { kullaniciAdi: $("#txtSimulasyon").val() })
         .done(function () {
             window.location.href = "/";
         });
    }

    $(document).ready(function () {
        //$("#txtSimulasyon").keyup(function (e) {
        //    if (e.keyCode == 13 && $("#txtSimulasyon").val().trim() != "") {
        //        simuleEt();
        //    }
        //});

        //$("#btnSimuleEt").click(function () {
        //    simuleEt();
        //});

        $("#txtSimulasyon").focus();
    });

    blockStatus = true;
    $('#txtSimulasyon').autocomplete({
        source: function (request, response) {
            $.post("/Admin/DersKoordinatorleri/GetirPersonelBilgi", { aranan: request.term, kullaniciAdiGetir: true })
                .success(function (data) {
                    response($.map(data, function (item) { return { label: item.Text, value: item.Value } }));
                    delete blockStatus;
                });
        },
        messages: {
            noResults: '',
            results: function () { }
        },
        select: function (event, ui) {
            $(this).val(ui.item.value);
            //$(this).parent().next().children("button").attr("data-personelid", ui.item.value);
            simuleEt();
            return ui.item.value;
        },
        minLength: 3
    });
</script>