﻿@model List<Sabis.Bolum.Core.EBS.DERS.DersListesiVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Üniversite Ortak Dersleri</li>
        </ul>
    </div>
}
<div class="panel panel-default">
    <div class="panel-heading">Üniversite Ortak Ders Listesi</div>
    <div class="panel-body">
      
        <table id="tblDersListe" class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Yaz Okulu</th>
                    <th>Ders Adı</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(x=> x.YazOkuluDersiMi))
                {
                    <tr>
                        <td class="text-center">
                            <input type="checkbox" class="chkYazOkulu" style="width: 25px !important; height: 25px !important;" data-fkdersplanid="@item.ID" @item.YazOkuluDersiMi.ToString().ToLower().Replace("true", "checked").Replace("false", "") />
                        </td>
                        <td><a href="/EBS/DersBilgileri/DersOzet/@item.ID?dil=tr" target="_blank">@item.DersAd</a></td>
                        <td><input type="text" data-fkdersplananaid="@item.ID" data-fkkoordinatorid="@item.FKKoordinatorID" class="form-control arama" value="@item.KoordinatorAdSoyad" /></td>
                        <td>
                            <button class="btn btn-primary btnGuncelle" data-personelid="@item.FKKoordinatorID" data-dersplananaid="@item.ID">Güncelle</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
          
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tblDersListe').DataTable({
            "paging": false,
            "ordering": true,
            "info": false
        });
    });

    $(document).on("click", ".chkYazOkulu", function () {
        var $chk = $(this);
        $.post("/EBS/BolumYonetim/GuncelleYazOkuluDersi", { FKDersPlanAnaID: $(this).attr("data-fkdersplanid"), durum: $(this).is(":checked"), dersKontrol: false })
        .success(function (json) {
            if (json) {
                if ($chk.is(":checked")) {
                    toastr.success("Yaz okulu dersi eklendi.");
                }
                else {
                    toastr.info("Yaz okulu dersi kaldırıldı.");
                }
            }
            else {
                toastr.error("Hata. En fazla 10 adet ders seçilebilir.");
                $chk.attr("checked", false);
            }
        });
    });
</script>

<script>
    blockStatus = false;
    $(document).on("keyup", ".arama", function () {
        $(this).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Admin/DersKoordinatorleri/GetirPersonelBilgi',
                    data: { aranan: request.term },
                    dataType: 'json',
                    type: 'POST',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Text,
                                value: item.Value
                            }
                        }));
                    }
                })
            },
            messages: {
                noResults: '',
                results: function () { }
            },
            select: function (event, ui) {
                $(this).val(ui.item.label);
                $(this).parent().next().children("button").attr("data-personelid", ui.item.value);
                return false;
            },
            minLength: 3
        });
    });

    $(document).on("click", ".btnGuncelle", function () {
        var response = confirm("Koordinatör değiştirilecektir! Onaylıyor musunuz?");
        if (response) {
            $.post("/Admin/DersKoordinatorleri/DersKoordinatorDegistir", { FKDersPlanAnaID: $(this).attr("data-dersplananaid"), FKPersonelID: $(this).attr("data-personelid") })
         .success(function (data) {
             if (data) {
                 toastr.success('Koordinatör değiştirildi.');
             }
         });
        }
    });

</script>