﻿@model List<Sabis.Bolum.Core.ABS.DERS.DERSDETAY.KatilimOraniVM>
@{
    ViewBag.Title = "KatilimOrani";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class='fa fa-chevron-right'></i></li>
            <li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class="fa fa-chevron-right"></i></li>
            <li>Katılım Oranı</li>
        </ul>
    </div>
}
@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")

@Html.Action("_pGrupDersDetaylari", "Detay")

<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="info">
                    <th class="col-md-2">Numara</th>
                    <th class="col-md-3">Ad Soyad</th>

                    @foreach (var item in Model.FirstOrDefault().KatilimOraniHaftaVM)
            {
                        <th class="text-center col-md-1">@item.Tarih.ToShortDateString()</th>
                    }
                    <th class="text-center">Oran %</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Numara</td>
                        <td>@item.AdSoyad</td>
                        @foreach (var subItem in item.KatilimOraniHaftaVM)
                {
                            <td class="text-center">@subItem.KatilimSaati / @subItem.ToplamDersSaati</td>
                        }
                        <td class="text-center">@item.Orani</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>