﻿@using Dil = DilWebClient.Cevir
@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int yil = Sabitler.Yil;
    int donem = Sabitler.Donem;
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class='fa fa-chevron-right'></i></li>
            @*<li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class="fa fa-chevron-right"></i></li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                    }
                    - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                </a>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li>Devam Takibi</li>
        </ul>
    </div>
}
@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">@Dil.Getir("liste")</div>
    <div class="panel-body">
        <div id="haftaListe" style="visibility: hidden;"><button id="btnKaydet" class="btn btn-success pull-right">Kaydet</button></div>

        <div id="uyari" class="custom-alerts alert alert-success fade in">
            Ders programı henüz oluşturulmamış.
        </div>

        <table id="tbl" class="table table-bordered table-striped table-hover" style="margin-top: 20px; visibility: hidden;">
            <thead>
                <tr id="tblHead" class="active">
                    <th class="col-md-2">@Dil.Getir("numara")</th>
                    <th>@Dil.Getir("ogrenci")</th>
                    <th class="text-center">@Dil.Getir("tarih")</th>
                </tr>
            </thead>
            <tbody id="tblBody"></tbody>
        </table>

    </div>
</div>

<script>

    $("#btnKaydet").click(function () {

        //var len = $('#tblBody tr').first().children().length;
        var yListe = [];

        $('#tblBody > tr').each(function () {
            var data = {};
            data.OgrenciID = $(this).children().first().attr("data-ogrenciid");
            data.Numara = $(this).children().first().text();
            data.ListYoklamaDetay = [];
            $(this).children().each(function (i, obj) {
                if ($(this).attr("data-tip") == "input") {
                    var $eleman = $(this).children("input").first();
                    var subData = {
                        Yil: '@yil',
                        Donem: '@donem',
                        DevamTakipID: $eleman.attr("data-devamtakipid"),
                        FKDersProgramV2ID: $eleman.attr("data-fkdersprogramv2id"),
                        FKOgrenciID: $eleman.attr("data-fkogrenciid"),
                        Secili: $eleman.is(":checked")
                    };
                    data.ListYoklamaDetay.push(subData);
                }
            });
            yListe.push(data);
        });
        $.post("/Ders/Yoklama/KaydetYoklama", { yoklamaListe: yListe })
         .success(function (json) {
             toastr.success("İşlem tamamlandı");
         });
        //console.log(yListe);
    });

    $(document).on("click", ".btnGun", function () {
        //$(this).removeClass("btn-primary");
        $(".btn").removeClass("btn-warning");
        $(this).not("#btnKaydet").addClass("btn-warning");

        var secilenTarih = $(this).text();
        $.post("/Yoklama/GetirOgrenciListe", { dersGrupHocaID: '@Convert.ToInt32(Request.RequestContext.RouteData.Values["id"])', tarih: secilenTarih })
         .success(function (json) {
             //console.log(json);
             $("#tblHead").html('<th class="col-md-2">Numara</th><th>Öğrenci</th><th class="text-center">Tarih</th><th class="text-center">Tümü</th>');
             $("#tblBody").html('');
             var baslikEklendiMi = false;


             $.each(json, function (i, obj) {
                 var strSatir = "<tr><td class='col-md-2' data-ogrenciid='" + obj.OgrenciID + "'>" + obj.Numara + "</td><td class='col-md-6'>" + obj.Ad + " " + obj.Soyad + "</td><td class='text-center'>" + secilenTarih + "</td>";
                 var ders = 0;
                 strSatir = strSatir + '<td class="text-center"><input name="' + obj.OgrenciID + '" type="checkbox" style="width: 30px; height: 30px;" onclick="checkAll(this, ' + obj.OgrenciID  + ')" />';
                 $.each(obj.ListYoklamaDetay, function (j, subObj) {
                     var dersGunuMu = "";
                     @*if (secilenTarih != '@DateTime.Now.Date.ToString("dd.MM.yyyy")') {
                         dersGunuMu = "disabled";
                     }*@
                     if (baslikEklendiMi == false) {
                         $("#tblHead").append("<th class='text-center'><input type='checkbox' onclick='checkAll(this, " + subObj.DersSaati.replace(":", "") + ")' style='width: 30px; height: 30px;' /><br />" + ++ders + ". Saat</th>");
                     }
                     var secili = "";
                     if (subObj.Secili) {
                         secili = "checked";
                     }
                     var dTakip = subObj.DevamTakipID;
                     if (dTakip == null) {
                         dTakip = "";
                     }
                     strSatir = strSatir + '<td class="text-center" data-tip="input"><input class="' + subObj.DersSaati.replace(":", "") + '" data-devamtakipid="' + dTakip + '" data-fkdersprogramv2id="' + subObj.FKDersProgramV2ID + '" data-fkogrenciid="' + subObj.FKOgrenciID + '" name="' + subObj.FKOgrenciID + '" type="checkbox" style="width: 30px; height: 30px;" ' + dersGunuMu + ' ' + secili + '/></td>';
                 });
                 
                 baslikEklendiMi = true;
                 $("#tblBody").append(strSatir + "</tr>");
             });

             baslikEklendiMi = false;
         });
    });

    $(document).ready(function () {
        $.post("/DersProgrami/GetirOgretimElemaniDersProgramiTumu", { fkDersGrupHocaID: '@Convert.ToInt32(Request.RequestContext.RouteData.Values["id"])' })
            .success(function (json) {
                var tarih = new Date();
                $.each(json, function (i, obj) {
                    obj.start = new Date(parseInt(obj.start.substr(6))).toLocaleDateString();
                    if (tarih.toLocaleDateString() == obj.start) {
                        $("#haftaListe").prepend('<button id="btnToday" type="button" class="btn btn-danger btnGun" style="margin-right: 10px; margin-bottom: 10px;">' + obj.start + '</button>')
                    }
                    else {
                        $("#haftaListe").prepend('<button type="button" class="btn btn-primary btnGun" style="margin-right: 10px; margin-bottom: 10px;">' + obj.start + '</button>')
                    }
                    $("#haftaListe").css("visibility", "visible");
                    $("#tbl").css("visibility", "visible");
                    $("#uyari").remove();
                });
                $("#btnToday").trigger("click");
            });
    });

    //$(".tumunuSec").on("change", function () {
    //    checkAll(this, $(this).
    //});
</script>