﻿
@{
    ViewBag.Title = "Yoklama";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
}

@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")

@Html.Action("_pGrupDersDetaylari", "Detay")

<script src="~/Content/assets/global/plugins/jquery-qrcode/jquery-qrcode-0.14.0.min.js"></script>
<script src="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-printThis/printThis.js"></script>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>*@

<script src="~/Content/assets/global/plugins/pdfmake/pdfmake.js"></script>
<script src="~/Content/assets/global/plugins/pdfmake/vfs_fonts.js"></script>

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">5 Haftalık Yoklama Listesi</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr class="info">
                            <th>Sıra</th>
                            <th class="text-center">Başlangıç Tarihi</th>
                            <th class="text-center">Süre (saat)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1. Yoklama</td>
                            <td><input id="tarih1" type="text" class="form-control text-center tarih" placeholder="Tarih seçiniz" value="19.09.2016 19:00" /></td>
                            <td><input type="text" class="form-control text-center" value="2" /></td>
                        </tr>
                        @*<tr>
                            <td>2. Yoklama</td>
                            <td><input id="tarih2" type="text" class="form-control text-center tarih" placeholder="Tarih seçiniz" value="20.09.2016 19:00" /></td>
                            <td><input type="text" class="form-control text-center" value="2" /></td>
                        </tr>
                        <tr>
                            <td>3. Yoklama</td>
                            <td><input id="tarih3" type="text" class="form-control text-center tarih" placeholder="Tarih seçiniz" value="21.09.2016 19:00" /></td>
                            <td><input type="text" class="form-control text-center" value="2" /></td>
                        </tr>
                        <tr>
                            <td>4. Yoklama</td>
                            <td><input id="tarih4" type="text" class="form-control text-center tarih" placeholder="Tarih seçiniz" value="22.09.2016 19:00" /></td>
                            <td><input type="text" class="form-control text-center" value="2" /></td>
                        </tr>
                        <tr>
                            <td>5. Yoklama</td>
                            <td><input id="tarih5" type="text" class="form-control text-center tarih" placeholder="Tarih seçiniz" value="23.09.2016 19:00" /></td>
                            <td><input type="text" class="form-control text-center" value="2" /></td>
                        </tr>*@
                    </tbody>
                </table>

                <button id="btnOlustur" class="btn default">Oluştur</button>
                <button id="btnYazdir" class="btn default" style="visibility: hidden;">Yazdır</button>
            </div>
            @*<div id="baslik" class="col-md-12">
            <div class="col-md-4">
                <img src="~/Content/dikeylogo.png" />
            </div>
            <div class="col-md-4 text-center">
                <h4>T.C.</h4>
                <h4>SAKARYA ÜNİVERSİTESİ</h4>
                <h4>@dersDetay.FakulteAd</h4>
                <h4>@dersDetay.BolumAd</h4>
            </div>
            <div class="col-md-4 text-right" style="float: right;" id="grupQRcode"></div>
        </div>*@
            <div id="liste" style="visibility: hidden;">
                

                <div id="dersDetay" class="col-md-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-2">Dersin Adı</td>
                                <td class="col-md-6">@dersDetay.DersAd</td>
                                <td class="col-md-2">Öğretim Türü</td>
                                <td class="col-md-2">@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)</td>
                                <td rowspan="3"><div class="col-md-4 text-right" id="grupQRcode"></div></td>
                            </tr>
                            <tr>
                                <td>Kodu / Saati</td>
                                <td>@dersDetay.DersKod / @dersDetay.DersSaati</td>
                                <td>Öğretim Yılı</td>
                                <td>@dersDetay.Yil - @Convert.ToInt32(dersDetay.Yil+1)</td>
                            </tr>
                            <tr>
                                <td>Öğretim Üyesi</td>
                                <td>Prof. Dr. Ümit KOCABIÇAK</td>
                                <td>Dönemi</td>
                                <td>@dersDetay.Donem.ToString().Replace("1", "Güz").Replace("2", "Bahar").Replace("3", "Yaz")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="ogrListe" class="col-md-12">
                    <table class="table table-bordered table-condensed col-md-12">
                        <thead id="tblHead"></thead>
                        <tbody id="tblBody"></tbody>
                    </table>
                </div>
            </div>

            
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $.datetimepicker.setLocale('tr');
        $('.tarih').datetimepicker({
            step: 30,
            format: 'd.m.Y H:i'
        });
    });

    $("#btnOlustur").click(function () {
        $("#tblHead").append("<tr class='info'><th class='col-md-1'>Numara</th><th class='col-md-2'>Öğrenci</th><th class='text-center col-md-1'>" + $("#tarih1").val() + "</th><th class='col-md-1'>Numara</th><th class='col-md-2'>Öğrenci</th><th class='text-center col-md-1'>" + $("#tarih1").val() + "</th><th class='col-md-1'>Numara</th><th class='col-md-2'>Öğrenci</th><th class='text-center col-md-1'>" + $("#tarih1").val() + "</th></tr>");
            
        $.post("/Ders/Ogrenci/GetirOgrenciListesi", { id: '@Request.RequestContext.RouteData.Values["id"]' })
         .success(function (json) {
             var satir = "<tr>";
             var sayac = 0;
             $.each(json, function (i, obj) {
                 satir = satir + "<td class='col-md-1'>" + obj.Numara + "</td><td class='col-md-2'>" + obj.Ad.toLowerCase().capitalize() + " " + obj.Soyad.toLowerCase().capitalize() + "</td><td class='col-md-1'></td>";
                 sayac++;
                 if (sayac == 3) {
                     satir = satir + "</tr>";
                     $("#tblBody").append(satir);
                     satir = "<tr>";
                     sayac = 0;
                 }
                 //$("#tblBody").append("<tr></tr>");
             });
         });
        $("#grupQRcode").qrcode({
            render: 'image',
            minVersion: 6,
            maxVersion: 40,
            ecLevel: 'L',
            left: 0,
            top: 0,
            size: 100,
            fill: '#000',
            background: null,
            text: '@dersGrupHocaID',
            radius: 0,
            quiet: 0,
            mode: 0,
            mSize: 0.1,
            mPosX: 0.5,
            mPosY: 0.5,
            label: 'no label',
            fontname: 'sans',
            fontcolor: '#000',
            image: null
        });
        $("#liste").css("visibility", "visible");
        $("#btnYazdir").css("visibility", "visible");
    });

    $("#btnYazdir").click(function () {

        var rows = [];
        var columns = [];
        columns.push({ text: 'Numara', style: 'tableHeader' });
        columns.push({ text: 'Öğrenci', style: 'tableHeader' });
        columns.push({ text: 'Tarih', style: 'tableHeader' });
        columns.push({ text: 'Numara', style: 'tableHeader' });
        columns.push({ text: 'Öğrenci', style: 'tableHeader' });
        columns.push({ text: 'Tarih', style: 'tableHeader' });
        columns.push({ text: 'Numara', style: 'tableHeader' });
        columns.push({ text: 'Öğrenci', style: 'tableHeader' });
        columns.push({ text: 'Tarih', style: 'tableHeader' });

        rows.push(columns);

        var row = ["T135042013", "İsmail Hakkı Şen", "", "T135042013", "İsmail Hakkı Şen", "", "T135042013", "İsmail Hakkı Şen", ""];

        rows.push(row);


        console.log(rows);

        var dd = {
            content: [
                'First paragraph',
                'Another paragraph, this time a little bit longer to make sure, this line will be divided into at least two lines',
                {
                    style: 'tableExample',
                    table: {
                        headerRows: 1,
                        widths: [80,100,100,80,100,100,80,100,100],
                        body: rows
                    }
                },
            ],
            styles: {
                header: {
                    fontSize: 18,
                    bold: true,
                    margin: [0, 0, 0, 10]
                },
                subheader: {
                    fontSize: 16,
                    bold: true,
                    margin: [0, 10, 0, 5]
                },
                tableExample: {
                    margin: [0, 5, 0, 15]
                },
                tableHeader: {
                    bold: true,
                    fontSize: 13,
                    color: 'black',
                    width: '100%'
                }
            },
        }
        pdfMake.createPdf(dd).open();
        //pdfMake.createPdf(dd).print();
        @*$("#liste").printThis({
            debug: false,
            importCSS: true,
            importStyle: false,
            printContainer: false,
            //loadCSS: "../css/style.css",
            pageTitle: '@dersDetay.DersAd' + " - " + '@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)' + '@dersDetay.GrupAd' + "Grubu Listesi",
            removeInline: true,
            printDelay: 333,
            header: null,
            formValues: true
        });*@
    });
</script>

<style>
    

    div {
        margin-bottom: 10px;
    }

    .circle {
	    width: 20px;
	    height: 20px;
	    border: 1px solid black;
	    -moz-border-radius: 10px;
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
        padding: 0;
        margin: 0 !important;
        /*padding-left: 10px;*/
    }
</style>
