﻿@model List<Randevu.Core.Rapor>
@{
    Layout = null;
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.QueryString["DERSGRUPHOCAID"]));
}
<script src="~/Content/assets/global/plugins/jquery-printThis/printThis.js"></script>

<button id="btnYazdir" class="btn btn-primary" style="margin-bottom: 15px;">Yazdır</button>

<h3>Öğrenci sayısı: @dersDetay.OgrenciSayisi</h3>
<h3>Randevu alan öğrenci sayısı: @Model.Count()</h3>

<div id="randevuListe">
    <h3>@dersDetay.DersAd - @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur) @dersDetay.GrupAd Grubu</h3>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Numara</th>
                <th>Ad Soyad</th>
                <th>Randevu Tarihi</th>
                <th>Otomatik Atama</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.KullaniciAdi</td>
                        <td>@item.Ad @item.Soyad</td>
                        <td>@item.TarihRandevu</td>

                        @if (item.OtomatikAtama)
                        {
                            <td>Otomatik</td>
                        }
                        else
                        {
                            <td>Öğrenci</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    $("#btnYazdir").click(function () {
        $("#randevuListe").printThis({
            debug: false,
            importCSS: true,
            importStyle: true,
            printContainer: true,
            //loadCSS: "../css/style.css",
            pageTitle: '@dersDetay.DersAd' + " - " + '@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)' + '@dersDetay.GrupAd' + "Grubu Randevu Listesi",
            removeInline: true,
            printDelay: 333,
            header: null,
            formValues: true
        });
    });
</script>
