﻿@model Randevu.Core.Oturum
@{
    var RANDEVUID = Request.RequestContext.RouteData.Values["id"];
    var PAYID = Request.QueryString["PAYID"];
    var DERSGRUPID = Request.QueryString["DERSGRUPID"];
}

<div class="form-horizontal">
    <div class="form-group">
        <label for="txtRandevuBaslik" class="col-sm-3 control-label">Başlık</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="txtRandevuBaslik" value="@Model.Ad">
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    <div class="form-group">
        <label for="txtRandevuAciklama" class="col-sm-3 control-label">Açıklama</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="txtRandevuAciklama" value="@Model.Aciklama">
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    <div class="form-group">
        <label for="txtIlkBasvuru" class="col-sm-3 control-label">İlk Başvuru Tarihi</label>
        <div class="col-sm-6">
            <input type="text" class="form-control tarihSec" id="txtIlkBasvuru" value="@Model.BaslangicTarihi">
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    <div class="form-group">
        <label for="txtSonBasvuru" class="col-sm-3 control-label">Son Başvuru Tarihi</label>
        <div class="col-sm-6">
            <input type="text" class="form-control tarihSec" id="txtSonBasvuru" value="@Model.SonKayitTarihi">
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    @*<div class="form-group">
            <label for="txtRandevuBaslik" class="col-sm-3 control-label">Mekan</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="txtRandevuBaslik" placeholder="">
            </div>
            <div class="col-sm-3">
            </div>
        </div>*@

    <div class="form-group">
        <label for="focusedinput" class="col-sm-3 control-label">Saat Aralıkları</label>
        <div class="col-sm-6">

            <div class="col-md-1" style="padding-left: 0;"><button id="btnSaatEkle" class="btn btn-success" data-fkrandevuoturumid="@Model.ID">Ekle</button></div>
            <div class="col-md-3"><input id="txtBaslangicTarihi" type="text" class="form-control tarihSec" placeholder="Başlangıç Tarihi" /></div>
            <div class="col-md-3"><input id="txtBitisTarihi" type="text" class="form-control tarihSec" placeholder="Bitiş Tarihi" /></div>
            <div class="col-md-2"><input id="txtSure" type="text" class="form-control text-center" placeholder="Süre / dk" /></div>
            <div class="col-md-2"><input id="txtKisiSayisi" type="text" class="form-control text-center" placeholder="Kişi Sayısı" /></div>
            <div class="col-md-1"></div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>


        <div class="col-sm-12">
            <table id="tblSaatListe" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-4">Başlangıç</th>
                        <th class="col-md-4">Bitiş</th>
                        <th class="col-md-1 text-center">Süre</th>
                        <th class="col-md-1 text-center">Kişi</th>
                        <th class="col-md-1 text-center">Düzenle</th>
                        <th class="col-md-1 text-center">Sil</th>
                    </tr>
                </thead>
                <tbody id="tblSaatList">
                    @foreach (var item in Model.Ayarlar)
                    {
                        <tr>
                            <td><input type="text" class="form-control" value="@item.TarihBaslangic" /></td>
                            <td><input type="text" class="form-control" value="@item.TarihBitis" /></td>
                            <td class='text-center'><input type="text" class="form-control text-center" value="@item.AralikDakika" /></td>
                            <td class='text-center'><input type="text" class="form-control text-center" value="@item.AralikAdet" /></td>
                            <td class='text-center'>
                                @if (Model.RandevuVar)
                                {
                                    <span>Randevu alınmış!</span>
                                }
                                else
                                {
                                    <button class="btn btn-primary btnTarihGuncelle" data-fkrandevuoturumid="@Model.ID" data-ayarid="@item.ID" data-kayitlimi="true">Güncelle </button>
                                }
                            </td>
                            <td>
                                @if (Model.RandevuVar)
                                {
                                    <span>Randevu alınmış!</span>
                                }
                                else
                                {
                                    <button class='btn btn-danger btnTarihSil' data-fkrandevuoturumid="@Model.ID" data-ayarid="@item.ID" data-kayitlimi="true">Sil</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    <div class="form-group">
        <label for="focusedinput" class="col-sm-3 control-label"></label>
        <div class="col-sm-6">
            <button id="btnRandevuKaydet" class="btn btn-success">Kaydet</button>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.datetimepicker.setLocale('tr');
        $('.tarihSec').datetimepicker({
            step: 10,
            format: 'd.m.Y H:i'
        });
    });

    $(document).on("click", ".btnTarihGuncelle", function () {
        var data = {
            AralikAdet: $(this).parent().prev().children("input").val(),
            AralikDakika: $(this).parent().prev().prev().children("input").val(),
            FKRandevuOturumID: $(this).attr("data-fkrandevuoturumid"),
            TarihBaslangic: $(this).parent().prev().prev().prev().prev().children("input").val(),
            TarihBitis: $(this).parent().prev().prev().prev().children("input").val(),
            ID: $(this).attr("data-ayarid")
        };

        $.post("/Ders/Randevu/TarihAralikGuncelle", { ayarBilgi: data })
         .success(function (json) {
             if (json) {
                 toastr.info("Randevu tarih aralığı güncellendi.");
             }
         });
    });

    $(document).on("click", ".btnTarihSil", function () {
        var response = confirm("Tarih aralığı silinecektir! Onaylıyor musunuz?");
        if (response) {
            if($(this).attr("data-kayitlimi"))
            {
                $.post("/Ders/Randevu/TarihAralikSil", { FKRandevuOturumID: $(this).attr("data-fkrandevuoturumid"), AyarID: $(this).attr("data-ayarid") })
            }

            $(this).parent().parent().remove();
            toastr.info("Randevu tarih aralığı silindi.");
        }
    });

    $("#btnSaatEkle").click(function () {

        var dataEkle = {
            AralikAdet: $("#txtKisiSayisi").val(),
            AralikDakika: $("#txtSure").val(),
            FKRandevuOturumID: $(this).attr("data-fkrandevuoturumid"),
            TarihBaslangic: $("#txtBaslangicTarihi").val(),
            TarihBitis: $("#txtBitisTarihi").val(),
        };
        var dataList = [];
        dataList.push(dataEkle);

        if (dataEkle.TarihBaslangic.length > 0 && dataEkle.TarihBitis.length > 0 && dataEkle.AralikDakika.length > 0 && dataEkle.AralikAdet.length > 0) {
            $("#tblSaatList").append("<tr><td>" + dataEkle.TarihBaslangic + "</td><td>" + dataEkle.TarihBitis + "</td><td class='text-center'>" + dataEkle.AralikDakika + "</td><td class='text-center'>" + dataEkle.AralikAdet + "</td><td class='text-center'><button class='btn btn-danger btnTarihSil'>Sil</button></tr>");
            $.post("/Ders/Randevu/TarihAralikEkle", { yeniAyar: dataList })
             .success(function (json) {
                 if (json) {
                     toastr.success("Randevu tarih aralığı eklendi.");
                 }
             });
        }
        else {
            alert("Eksik alanları doldurmanız gerekmektedir!");
        }
    });

    $("#btnRandevuKaydet").click(function () {
        var data = {
            ID: '@RANDEVUID',
            Aciklama: $("#txtRandevuAciklama").val(),
            Ad: $("#txtRandevuBaslik").val(),
            BaslangicTarihi: $("#txtIlkBasvuru").val(),
            SonKayitTarihi: $("#txtSonBasvuru").val(),
            TarihKayit: '@DateTime.Now'
        };


        $.post("/Ders/Randevu/GuncelleRandevu", { oturumBilgi: data, FKPayID: '@PAYID', FKDersGrupID: '@DERSGRUPID' })
         .success(function (json) {
             toastr.info("Randevu bilgileri güncellendi.");
             //setTimeout(function () {
             //    window.location.reload();
             //}, 3000);
         });
    });
</script>