﻿
@{
    var PAYID = Request.QueryString["PAYID"];
    var DERSGRUPID = Request.QueryString["DERSGRUPID"];
}
@*<link href="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>*@
<div class="form-horizontal">
    <div class="form-group">
        <label for="txtRandevuBaslik" class="col-sm-3 control-label">Başlık</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="txtRandevuBaslik" placeholder="">
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    <div class="form-group">
        <label for="txtRandevuAciklama" class="col-sm-3 control-label">Açıklama</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="txtRandevuAciklama" placeholder="">
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    <div class="form-group">
        <label for="txtIlkBasvuru" class="col-sm-3 control-label">Başvuru Başlangıç Tarihi</label>
        <div class="col-sm-6">
            <input type="text" class="form-control tarihSec" id="txtIlkBasvuru" placeholder="Başvuru Başlangıç Tarihi">
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    <div class="form-group">
        <label for="txtSonBasvuru" class="col-sm-3 control-label">Son Başvuru Tarihi</label>
        <div class="col-sm-6">
            <input type="text" class="form-control tarihSec" id="txtSonBasvuru" placeholder="Son Başvuru Tarihi">
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    @*<div class="form-group">
            <label for="txtRandevuBaslik" class="col-sm-3 control-label">Mekan</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="txtRandevuBaslik" placeholder="">
            </div>
            <div class="col-sm-3">
            </div>
        </div>*@

    <div class="form-group">
        <label for="focusedinput" class="col-sm-3 control-label">Saat Aralıkları</label>
        <div class="col-sm-6">

            <div class="col-md-1" style="padding-left: 0;"><button id="btnSaatEkle" class="btn btn-success">Ekle</button></div>
            <div class="col-md-3"><input id="txtBaslangicTarihi" type="text" class="form-control tarihSec" placeholder="Başlangıç Tarihi" /></div>
            <div class="col-md-3"><input id="txtBitisTarihi" type="text" class="form-control tarihSec" placeholder="Bitiş Tarihi" /></div>
            <div class="col-md-2"><input id="txtSure" type="text" class="form-control text-center" placeholder="Süre / dk" /></div>
            <div class="col-md-2"><input id="txtKisiSayisi" type="text" class="form-control text-center" placeholder="Kişi Sayısı" /></div>
            <div class="col-md-1"></div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    <div class="form-group">
        <label for="focusedinput" class="col-sm-3 control-label"></label>
        <div class="col-sm-6">
            <table id="tblSaatListe" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Başlangıç</th>
                        <th>Bitiş</th>
                        <th class="text-center">Süre</th>
                        <th class="text-center">Kişi</th>
                        <th class="text-center">Sil</th>
                    </tr>
                </thead>
                <tbody id="tblSaatList"></tbody>
            </table>
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    <div class="form-group">
        <label for="focusedinput" class="col-sm-3 control-label"></label>
        <div class="col-sm-6">
            <button id="btnRandevuKaydet" class="btn btn-success">Kaydet</button>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.datetimepicker.setLocale('tr');
        $('.tarihSec').datetimepicker({
            step: 10,
            format: 'd.m.Y H:i'
        });
    });

    $(document).on("click", ".btnTarihSil", function () {
        var response = confirm("Tarih aralığı silinecektir! Onaylıyor musunuz?");
        if (response) {
            $(this).parent().parent().remove();
        }
    });

    $("#btnSaatEkle").click(function () {
        var baTarih = $("#txtBaslangicTarihi").val();
        var biTarih = $("#txtBitisTarihi").val();
        var tSure = $("#txtSure").val();
        var tKisi = $("#txtKisiSayisi").val();
        if (baTarih.length > 0 && biTarih.length > 0 && tSure.length > 0 && tKisi.length > 0) {
            $("#tblSaatList").append("<tr><td>" + baTarih + "</td><td>" + biTarih + "</td><td class='text-center'>" + tSure + "</td><td class='text-center'>" + tKisi + "</td><td class='text-center'><button class='btn btn-danger btnTarihSil'>Sil</button></tr>");
        }
        else {
            alert("Eksik alanları doldurmanız gerekmektedir!");
        }

    });

    $("#btnRandevuKaydet").on("click", function () {
        var data = {
            Aciklama: $("#txtRandevuAciklama").val(),
            Ad: $("#txtRandevuBaslik").val(),
            BaslangicTarihi: $("#txtIlkBasvuru").val(),
            SonKayitTarihi: $("#txtSonBasvuru").val(),
            TarihKayit: '@DateTime.Now'
        };

        var ayarList = [];

        $("#tblSaatList").find("tr").each(function (i, val) {
            var yeniAyar = {
                AralikAdet: $(this).children(":nth-child(4)").text(),
                AralikDakika: $(this).children(":nth-child(3)").text(),
                FKRandevuOturumID: 0,
                TarihBaslangic: $(this).children(":nth-child(1)").text(),
                TarihBitis: $(this).children(":nth-child(2)").text()
            };
            ayarList.push(yeniAyar);
        });

        if (ayarList.length > 0) {
            $.post("/Ders/Randevu/KaydetYeniRandevu", { yeniOturum: data, ayarList: ayarList, FKPayID: '@PAYID', FKDersGrupID: '@DERSGRUPID' })
         .success(function (json) {
             toastr.success("Randevu oluşturuldu.");
             setTimeout(function () {
                 window.location.reload();
             }, 3000);
         });
        } else {
            toastr.error("Randevu için en az 1 adet tarih aralığı girilmelidir.");
        }


    });
</script>
