﻿@model List<Sabis.Bolum.Core.ABS.DERS.DERSDETAY.RandevuVM>
@{
    ViewBag.Title = "Randevu Yönetimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var enumList = Enum.GetValues(typeof(Sabis.Enum.EnumCalismaTip));
    var payList = Sabis.Bolum.Bll.SOURCE.ABS.DERS.PAYMAIN.GetirPayBilgileriv2(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]), Sabitler.KullaniciAdi, Request.UserHostAddress);
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            @*<li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class="fa fa-chevron-right"></i></li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                    }
                    - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                </a>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li>Randevu</li>
        </ul>
    </div>
}
@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")

@*@Html.Action("_pGrupDersDetaylari", "Detay")*@

<link href="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>

<div class="alert alert-dismissable alert-info">
    <strong>BİLGİ!</strong> Bu sayfada akademisyen, öğrenciler ile yüzyüze görüşmek amacıyla randevu oturumu oluşturabilir. Öğrenciler "öğrenci bilgi sistemi" üzerinden bu oturumlara randevu alabilir.
</div>

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Randevu Listesi</div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr class="active">
                    <td>Çalışma Türü</td>
                    <td class="col-md-2 text-center">Liste</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in payList)
                {
                    if (Model.Any(x => x.FKPayID == item.PayID))
                    {
                        <tr>
                            <td>@item.SiraNo. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)</td>
                            <td class="col-md-4 text-center">

                                <button class="btn btn-primary btnRandevuAta" data-randevuid="@Model.FirstOrDefault(x=>x.FKPayID == item.PayID).FKRandevuID">Boş Randevuları Ata</button>

                                <button class="btn btn-primary btnRandevuDuzenle" data-title="Randevu Düzenle" data-toggle="tooltip modal" data-source="/Ders/Randevu/_pRandevuDuzenle/@Model.FirstOrDefault(x=>x.FKPayID == item.PayID).FKRandevuID?DERSGRUPHOCAID=@dersDetay.DersGrupHocaID" data-size="90" data-backdrop="false" data-keyboard="true" data-original-title="" title="">Düzenle</button>

                                <button class="btn btn-inverse btnYazdir" data-fkrandevuid="@Model.FirstOrDefault(x=>x.FKPayID == item.PayID).FKRandevuID" data-title="@dersDetay.DersAd - @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur) @dersDetay.GrupAd Grubu Randevu Listesi" data-toggle="tooltip modal" data-source="/Ders/Randevu/_pListeDetay/@Model.FirstOrDefault(x=>x.FKPayID == item.PayID).FKRandevuID?DERSGRUPHOCAID=@dersDetay.DersGrupHocaID" data-size="90" data-backdrop="false" data-keyboard="true" data-original-title="" title="">Listeyi Yazdır</button>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@item.SiraNo. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)</td>
                            <td class="col-md-2 text-center">
                                <button class="btn btn-success btnYazdir" data-fkrandevuid="" data-title="Randevu Oluştur" data-toggle="tooltip modal" data-source="/Ders/Randevu/_pRandevuOlustur/@item.EnumCalismaTipi?PAYID=@item.PayID&DERSGRUPID=@dersDetay.DersGrupID" data-size="90" data-backdrop="false" data-keyboard="true" data-original-title="" title="">Randevu Oluştur</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).on("click", ".btnRandevuAta", function () {
        $.post("/Ders/Randevu/RandevuAta", { id: $(this).attr("data-randevuid"), dersGrupHocaID: '@dersDetay.DersGrupHocaID' })
         .success(function(json) {
             if (json) {
                 toastr.info("Randevu almayan öğrenciler boş aralıklara yerleştirildi.");
             }
             else {
                 toastr.error("Hata oluştu.");
             }
         });
    });
</script>