﻿
@{
    ViewBag.Title = "Fakülte Yönetimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Fakülte Yönetim</li>
        </ul>
    </div>
}
<script src="~/Content/assets/global/plugins/ckeditor/ckeditor.js"></script>
<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Fakülte / Enstitü Ortak Ders Koordinatörleri</div>
    <div class="panel-body">
        <div class="col-md-3">
            <select id="ddlFakulteListesi" class="form-control">
                <option value="0">Fakülte Seçiniz</option>
            </select>
        </div>

        <div class="col-md-3">
            <select id="ddlBolumListesi" class="form-control">
                <option value="null">Bölüm Seçiniz</option>
            </select>
        </div>

        <div class="col-md-3">
            <select id="ddlAraProgramListesi" class="form-control" style="visibility: hidden;">
                <option value="null">Ara Program / Program Seçiniz</option>
            </select>
        </div>

        <div class="col-md-3">
            <select id="ddlAraProgramListesi2" class="form-control" style="visibility: hidden;">
                <option value="null">Ara Program / Program Seçiniz</option>
            </select>
        </div>
    </div>
</div>

<div class="alert alert-dismissable alert-info">
    <strong>BİLGİ!</strong> Ders adlarına tıklayarak ders bilgilerini güncelleyebilirsiniz.
</div>

<div class="tab-container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#bolumDersListesi" data-toggle="tab">Bölüm Ders Listesi</a></li>
        <li><a href="#fakulteDersListesi" data-toggle="tab">Fakülte Ortak Ders Listesi</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="bolumDersListesi">
            <div class="alert alert-dismissable alert-info" id="bolumUyari">
                <strong>UYARI!</strong> Bölüm seçiniz.
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Yaz Okulu Dersi</th>
                                <th>Ders Adi</th>
                                <th>Koordinator</th>
                                <th class="text-center">İşlem</th>
                            </tr>
                        </thead>
                        <tbody id="tblBolumDersListesi"></tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="fakulteDersListesi">

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Yaz Okulu Dersi</th>
                                <th>Ders Adi</th>
                                <th>Koordinator</th>
                                <th class="text-center">İşlem</th>
                            </tr>
                        </thead>
                        <tbody id="tblFakulteDersListesi"></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    var birimID = 0;
    $(document).ready(function () {
        $.post("/Home/GetirBirimListe", { ustBirimID: '@Sabitler.UniversiteID', FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: 0, yetkiGrupID: 2 })
         .success(function (json) {
             $.each(json, function (i, val) {
                 $("#ddlFakulteListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
             });
         });
    });

var araProgramGetir = function (ustBirimID) {
        $.post("/Home/GetirBirimListe", { ustBirimID: ustBirimID, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false }) //23
             .success(function (json) {
                 $.each(json, function (i, val) {
                     $("#ddlAraProgramListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                 });
                 $("#ddlAraProgramListesi").removeAttr("style");
             });
    };

    var araProgramGetir2 = function (ustBirimID) {
        $.post("/Home/GetirBirimListe", { ustBirimID: ustBirimID, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false })
             .success(function (json) {
                 $.each(json, function (i, val) {
                     $("#ddlAraProgramListesi2").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                 });
                 $("#ddlAraProgramListesi2").removeAttr("style");
             });
    };

    $("#ddlFakulteListesi").on("change", function () {
        $("#ddlAraProgram").css("visibility", "hidden");
        $.post("/EBS/FakulteYonetim/GetirFakulteOrtakDersList", { fakulteID: $(this).val() })
         .success(function (json) {
             $("#tblFakulteDersListesi").html("");
             $.each(json, function (index, value) {
                 if (value.FKDersPlanAnaID == 51549) {
                     console.log(value.YazOkuluDersiMi);
                 }
                 var placeholder = "";
                 if (value.PersonelAdSoyadUnvan == null) {
                     value.PersonelAdSoyadUnvan = "";
                     placeholder = "Ad soyad giriniz";
                 }
                 $("#tblFakulteDersListesi").append('<tr><td class="col-md-1"><input data-derskontrol="false" type="checkbox" class="form-control chkYazOkuluFakulte" data-fkdersplanid="' + value.FKDersPlanAnaID + '" ' + value.YazOkuluDersiMi.toString().toLowerCase().replace(/true/g, 'checked').replace(/false/g, '') + ' /></td><td class="col-md-6"><a target="_blank" href="/EBS/DersBilgileri/DersOzet/' + value.FKDersPlanAnaID + '?dil=tr&birim=' + value.FakulteID + '">' + value.DersAdi + '</a></td><td class="col-md-4"><input type="text" class="form-control arama" value="' + value.PersonelAdSoyadUnvan + '" placeholder="' + placeholder + '" /></td><td class="col-md-1 text-center"><button class="btn btn-primary btnGuncelle" data-personelid="' + value.FKPersonelID + '" data-dersplananaid="' + value.FKDersPlanAnaID + '">Güncelle</button></td></tr>');
             });
         });

        $.post("/Home/GetirBirimListe", { ustBirimID: $(this).val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false, yetkiGrupID: 2 })
         .success(function (json) {
             $("#ddlBolumListesi").empty().append('<option value="0">Bölüm Seçiniz</option>');
             $.each(json, function (i, val) {
                 $("#ddlBolumListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
             });
         });
    });

    $("#ddlBolumListesi").on("change", function () {

        var bID = $(this).val();
        $("#ddlAraProgramListesi").css("visibility", "hidden");
        $("#ddlAraProgramListesi").empty().append('<option value="0">Ara Program Seçiniz</option>');
        $("#tblDersListesi").html("");
        var jsonList = "";

        $.post("/Admin/DersKoordinatorleri/GetirBirimDersList", { FKBirimID: bID }).success(function (json2) {
            if (json2.length > 0) {
                console.log(json2.length);
                $.each(json2, function (index, value) {
                    var placeholder = "";
                    if (value.PersonelAdSoyadUnvan == null) {
                        value.PersonelAdSoyadUnvan = "";
                        placeholder = "Ad soyad giriniz";
                    }
                    $("#tblBolumDersListesi").append('<tr><td class="col-md-1"><input type="checkbox" class="form-control chkYazOkulu" data-fkdersplanid="' + value.FKDersPlanAnaID + '" ' + value.YazOkuluDersiMi.toString().replace(/true/g, 'checked').replace(/false/g, '') + ' /></td><td class="col-md-6">' + value.DersAdi + '</td><td>' + value.Yariyil + '. Yarıyıl</td><td class="col-md-4"><input type="text" class="form-control arama" value="' + value.PersonelAdSoyadUnvan + '" placeholder="' + placeholder + '"/></td><td class="col-md-1 text-center"><button class="btn btn-primary btnGuncelle" data-personelid="' + value.FKPersonelID + '" data-dersplananaid="' + value.FKDersPlanAnaID + '">Güncelle</button></td><td><a href="/EBS/DersBilgileri/DersOzet/' + value.FKDersPlanAnaID + '?dil=tr" target="_blank" class="btn default">Ders Bilgileri</a></td></tr>');
                });
            }
            else {
                araProgramGetir(bID);
            }
        });


    });

    $("#ddlAraProgramListesi").on("change", function () {
        var bID = $(this).val();
        $("#tblDersListesi").html("");
        $("#ddlAraProgramListesi2").empty().append('<option value="null">Ara Program / Program Seçiniz</option>');
        $("#ddlAraProgramListesi2").css("visibility", "hidden");

        $.post("/Admin/DersKoordinatorleri/GetirBirimDersList", { FKBirimID: bID, FKProgramID: bID }).success(function (json) {
            //console.log(json);
            if (json.length > 0) {
                $.each(json, function (index, value) {
                    var placeholder = "";
                    if (value.PersonelAdSoyadUnvan == null) {
                        value.PersonelAdSoyadUnvan = "";
                        placeholder = "Ad soyad giriniz";
                    }
                    $("#tblBolumDersListesi").append('<tr><td class="col-md-1"><input type="checkbox" class="form-control chkYazOkulu" data-fkdersplanid="' + value.FKDersPlanAnaID + '"  ' + value.YazOkuluDersiMi.toString().replace(/true/g, 'checked').replace(/false/g, '') + ' /></td><td class="col-md-6">' + value.DersAdi + '</td><td>' + value.Yariyil + '. Yarıyıl</td><td class="col-md-4"><input type="text" class="form-control arama" value="' + value.PersonelAdSoyadUnvan + '" placeholder="' + placeholder + '"/></td><td class="col-md-1 text-center"><button class="btn btn-primary btnGuncelle" data-personelid="' + value.FKPersonelID + '" data-dersplananaid="' + value.FKDersPlanAnaID + '">Güncelle</button></td><td><a href="/EBS/DersBilgileri/DersOzet/' + value.FKDersPlanAnaID + '?dil=tr" target="_blank" class="btn default">Ders Bilgileri</a></td></tr>');
                });
            }
            else {
                araProgramGetir2(bID);
            }
        });
    });

    $("#ddlAraProgramListesi2").on("change", function () {
        var bID = $(this).val();
        $("#tblDersListesi").html("");
        //$("#ddlAraProgramListesi2").empty().append('<option value="null">Ara Program / Program Seçiniz</option>');
        //$("#ddlAraProgramListesi2").css("visibility", "hidden");
        $.post("/Admin/DersKoordinatorleri/GetirBirimDersList", { FKBirimID: bID, FKProgramID: bID }).success(function (json) {
            $.each(json, function (index, value) {
                var placeholder = "";
                if (value.PersonelAdSoyadUnvan == null) {
                    value.PersonelAdSoyadUnvan = "";
                    placeholder = "Ad soyad giriniz";
                }
                $("#tblBolumDersListesi").append('<tr><td class="col-md-1"><input type="checkbox" class="form-control chkYazOkulu" data-fkdersplanid="' + value.FKDersPlanAnaID + '"  ' + value.YazOkuluDersiMi.toString().replace(/true/g, 'checked').replace(/false/g, '') + ' /></td><td class="col-md-6">' + value.DersAdi + '</td><td>' + value.Yariyil + '. Yarıyıl</td><td class="col-md-4"><input type="text" class="form-control arama" value="' + value.PersonelAdSoyadUnvan + '" placeholder="' + placeholder + '"/></td><td class="col-md-1 text-center"><button class="btn btn-primary btnGuncelle" data-personelid="' + value.FKPersonelID + '" data-dersplananaid="' + value.FKDersPlanAnaID + '">Güncelle</button></td><td><a href="/EBS/DersBilgileri/DersOzet/' + value.FKDersPlanAnaID + '?dil=tr" target="_blank" class="btn default">Ders Bilgileri</a></td></tr>');
            });
        });
    });

</script>

<script>
    $(document).on("click", ".chkYazOkuluFakulte", function () {
        var $chk = $(this);
        $.post("/EBS/BolumYonetim/GuncelleYazOkuluDersi", { FKDersPlanAnaID: $(this).attr("data-fkdersplanid"), FakulteID: $("#ddlFakulte").val(), durum: $(this).is(":checked"), dersKontrol: $(this).attr("data-derskontrol") })
        .success(function (json) {
            if (json) {
                if ($chk.is(":checked")) {
                    toastr.success("Yaz okulu dersi eklendi.");
                }
                else {
                    toastr.info("Yaz okulu dersi kaldırıldı.");
                }
            }
            else {
                toastr.error("Hata. En fazla 10 adet ders seçilebilir.");
                $chk.attr("checked", false);
            }
        });
    });

    $(document).on("click", ".chkYazOkuluBolum", function () {
        var $chk = $(this);
        $.post("/EBS/BolumYonetim/GuncelleYazOkuluDersi", { FKDersPlanAnaID: $(this).attr("data-fkdersplanid"), FakulteID: $("#ddlFakulte").val(), BolumID: $("#ddlBolum").val(), durum: $(this).is(":checked"), ProgramID: $("#ddlAraProgram").val(), dersKontrol: $(this).attr("data-derskontrol") })
        .success(function (json) {
            if (json) {
                if ($chk.is(":checked")) {
                    toastr.success("Yaz okulu dersi eklendi.");
                }
                else {
                    toastr.info("Yaz okulu dersi kaldırıldı.");
                }
            }
            else {
                toastr.error("Hata. En fazla 10 adet ders seçilebilir.");
                $chk.attr("checked", false);
            }
        });
    });
</script>

<script>
    $(document).on("keyup", ".arama", function () {
        $(this).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Admin/DersKoordinatorleri/GetirPersonelBilgi',
                    data: { aranan: request.term },
                    dataType: 'json',
                    type: 'POST',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Text,
                                value: item.Value
                            }
                        }));
                    }
                })
            },
            messages: {
                noResults: '',
                results: function () { }
            },
            select: function (event, ui) {
                $(this).val(ui.item.label);
                $(this).parent().next().children("button").attr("data-personelid", ui.item.value);
                return false;
            },
            minLength: 3
        });
    });

    $(document).on("click", ".btnGuncelle", function () {
        var response = confirm("Koordinatör değiştirilecektir! Onaylıyor musunuz?");
        if (response) {
            $.post("/Admin/DersKoordinatorleri/DersKoordinatorDegistir", { FKDersPlanAnaID: $(this).attr("data-dersplananaid"), FKPersonelID: $(this).attr("data-personelid") })
         .success(function (data) {
             if (data) {
                 toastr.success('Koordinatör değiştirildi.');
             }
         });
        }
    });

</script>