﻿
@{
    ViewBag.Title = "DersListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var dersListesi = Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.BOLUMMAIN.GetirBolumDersListesi(FKBirimID, Sabitler.EBSYil, Sabitler.EBSDonem, Sabitler.KullaniciID, FKProgramID);
}

@*<link href="~/Content/assets/global/plugins/jquery-multi-select/css/multi-select.dist.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js?v=4"></script>*@
@*<script src="~/Content/assets/global/plugins/jquery-multi-select/js/jquery.quicksearch.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

<script src="~/Content/assets/global/plugins/jquery.selectlistactions.js/jquery.selectlistactions.js"></script>
<link href="~/Content/assets/global/plugins/jquery.selectlistactions.js/example/css/site.css" rel="stylesheet" />

<h2>@Sabitler.Yil - @Convert.ToInt32(Sabitler.Yil+1) Yaz Okulu Açılacak Dersler</h2>

@Html.Partial("~/Views/Shared/_BirimSecim.cshtml")

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4" style="padding-left:0 !important;">
            @*<div class="subject-info-box-1">
                
            </div>*@
            <label>Birim Ders Listesi</label>
            <select multiple class="form-control col-md-12" style="height: 600px !important;" id="listBirimDers"></select>
        </div>
        @*<div class="col-md-1">
            <div class="subject-info-arrows text-center">
                <br /><br />
                <input type='button' id='btnRight' value='>' class="btn btn-default" /><br />
                <input type='button' id='btnLeft' value='<' class="btn btn-default" /><br />
            </div>
        </div>*@
        <div class="col-md-4">
            <label>Birim Yaz Okulu Ders Listesi (Yaz okulunda açılacak dersler)</label>
            <select multiple class="form-control" style="height: 600px !important;" id="listBirimYazOkuluDers"></select>
        </div>
        <div class="col-md-4">
            @*<label>Kaydet</label>*@
            @*<table class="table">
                <tr>
                    <td>Seçilen Bölüm Dersi:</td>
                    <td id="tblBolumDersi">0</td>
                </tr>
                <tr>
                    <td>Seçilen Fakülte Dersi:</td>
                    <td id="tblFakulteDersi">0</td>
                </tr>
                <tr>
                    <td>Seçilen Üniversite Dersi:</td>
                    <td id="tblUniversiteDersi">0</td>
                </tr>
                <tr>
                    <td id="tblUyari" colspan="2" style="font-size: 20px; color: red;">
                        <p id="tblBolumUyari" style="display:none;">Azami 10 adet bölüm dersi eklenebilir</p>
                    </td>
                </tr>
            </table>*@
            <div class="alert alert-info alert-dismissible" role="alert">
                <strong>BİLGİ!</strong> Derslerin üzerine çift tıklayarak ekleme-kaldırma işlemi yapabilirsiniz.
            </div>
            <div class="alert alert-info alert-dismissible" role="alert">
                <strong>BİLGİ!</strong> En fazla 10 adet bölüm dersi seçilebilir.
            </div>
            <button id="btnKaydet" class="btn btn-default" style="margin-top: 25px;">Kaydet</button>
        </div>
    </div>
</div>

<script>

    

</script>


<script type="text/javascript">
    var listYazOkuluDersleri = $("#listBirimYazOkuluDers option");
    var dersListesi = "";
    var seciliDersListesi = "";

    $("#listBirimDers").dblclick(function () {
        $('select').moveToListAndDelete('#listBirimDers', '#listBirimYazOkuluDers');
        //sayiGuncelle();
    });

    $("#listBirimYazOkuluDers").dblclick(function () {
        $('select').moveToListAndDelete('#listBirimYazOkuluDers', '#listBirimDers');
        //sayiGuncelle();
    });

    function sayiGuncelle()
    {
        listYazOkuluDersleri = $("#listBirimYazOkuluDers option");
        var bolumDersiCount = 0;
        var fakulteDersiCount = 0;
        var universiteDersiCount = 0;
        $.each(listYazOkuluDersleri, function () {
            var dersBirimTuru = $(this).attr("enumdersbirimtipi");

            if (dersBirimTuru == 1) {
                bolumDersiCount++;
            }
            if (dersBirimTuru == 2) {
                fakulteDersiCount++;
            }
            if (dersBirimTuru == 3) {
                universiteDersiCount++;
            }
        });
        if (bolumDersiCount > 10) {
            $("#tblBolumUyari").show();
            $("#btnKaydet").prop("disabled", "disabled")
        }
        else {
            $("#tblBolumUyari").hide();
            $("#btnKaydet").attr("disabled", null)
        }
        $("#tblBolumDersi").text(bolumDersiCount);
        $("#tblFakulteDersi").text(fakulteDersiCount);
        $("#tblUniversiteDersi").text(universiteDersiCount);
    }

    function listeDoldur(dersList)
    {
        dersList = _.orderBy(dersList, ['EnumDersBirimTipi', 'DersAdi'], ['asc', 'asc']);

        console.log(dersList);
        console.log(seciliDersListesi);
        console.log(_.map(seciliDersListesi, 'ID'));

        var dersListString = "";
        var seciliListString = "";
        $.each(dersList, function (i, obj) {
            //if (_.some(seciliDersListesi, { 'ID': obj.FKDersPlanAnaID })) {
            if (obj.YazOkuluDersiMi) {
                seciliListString += '<option data-enumdersbirimtipi="' + obj.EnumDersBirimTipi + '" value="' + obj.FKDersPlanAnaID + '">' + obj.DersAdi + " (" + obj.EnumDersBirimTipi.toString().replace("1", "Bölüm Dersi").replace("2", "Fakülte Dersi").replace("3", "Üniversite Dersi") + ')</option>';
            }
            else {
                dersListString += '<option data-enumdersbirimtipi="' + obj.EnumDersBirimTipi + '" value="' + obj.FKDersPlanAnaID + '">' + obj.DersAdi + " (" + obj.EnumDersBirimTipi.toString().replace("1", "Bölüm Dersi").replace("2", "Fakülte Dersi").replace("3", "Üniversite Dersi") + ')</option>';
            }

        });

        $("#listBirimDers").html(dersListString);
        $("#listBirimYazOkuluDers").html(seciliListString);

    }

    function seciliDersDoldur(dersList, seciliDersList)
    {
        
    }

    $("#btnKaydet").on("click", function () {
        var dersList = [];
        $("#listBirimYazOkuluDers option").each(function () {
            dersList.push($(this).val());
        });

        var yazOkuluDersleri = {
            FakulteID: $("#ddlFakulteListesi").val(),
            FKBirimID: birimID,
            Yil: '@Sabitler.Yil',
            FKPersonelID: '@Sabitler.KullaniciID',
            DersList: dersList,
        };
        console.log(yazOkuluDersleri);
        $.post("/EBS/YazOkulu/KaydetYazOkuluDersleri", { yazOkuluDersleri: yazOkuluDersleri }).done(function (result) {
            result ? toastr.success("Güncelleme tamamlandı.") : toastr.error("Hata oluştu. En fazla 10 adet bölüm dersi seçilebilir.");
        });
    });
</script>