﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Yaz Okulu Dersleri</li>
        </ul>
    </div>
}


<div class="row">
    <div class="col-md-4">
        <select id="ddlFakulteListesi" class="form-control birimSec" data-tur="Fakülte">
            <option>Fakülte Seçiniz</option>
        </select>
    </div>

    <div class="col-md-4">
        <select id="ddlBolumListesi" class="form-control birimSec" data-tur="Bölüm">
            <option>Bölüm Seçiniz</option>
        </select>
    </div>
</div>

@*@if (Sabitler.KullaniciAdi == "ozmen" || Sabitler.KullaniciAdi == "yalcin" || Sabitler.KullaniciAdi == "umit")
{*@
    <div class="alert alert-info alert-dismissible" role="alert" style="margin-top: 15px;">
        <a href="/EBS/YazOkulu/DersListesi">Yaz okulu dersleri güncelleme işlemleri için tıklayın.</a>
    </div>
@*}*@


<div class="panel panel-default" style="margin-top: 20px;">
    <div class="panel-heading">@Sabitler.EBSYil - @Convert.ToInt32(Sabitler.EBSYil + 1)  Yaz Okulu Ders Listeleri</div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ders Kodu</th>
                    <th>Ders Adı</th>
                    <th class="text-center">Ders Tipi</th>
                    <th class="text-center">D+U Saati</th>
                    <th class="text-center">AKTS</th>
                </tr>
            </thead>
            <tbody id="tblDersListe"></tbody>
            <tfoot>
                <tr>
                    <td colspan="5" id="tblSayi"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.post("/Home/GetirBirimListe", { ustBirimID: 21398, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: 0, yetkiKontrol: false })
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlFakulteListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                });
    });

    $("#ddlFakulteListesi").on("change", function () {
        $("#tblDersListesi").html("");
        $("#ddlBolumListesi").empty().append(' <option value="0">Bölüm Seçiniz</option>');
        $("#ddlAraProgramListesi").css("visibility", "hidden");
        $("#ddlAraProgramListesi").empty();

        $.post("/Home/GetirBirimListe", { ustBirimID: $("#ddlFakulteListesi").val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false })
            .success(function (json) {
                $.each(json, function (i, val) {
                    $("#ddlBolumListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                });
            });
    });

    $("#ddlBolumListesi").on("change", function () {
        $("#tblDersListe").html("");
        var jsonList = "";
        $.post("/EBS/YazOkulu/ListeleYazOkuluDersleri", { FKBirimID: $(this).val() }).success(function (json) {
            $.each(json, function (i, obj) {
                $("#tblDersListe").append("<tr><td>" + obj.DersKod + "</td><td>" + obj.DersAd + "</td><td class='text-center'>" + obj.DersTipi.toString().replace(/2/, "Üniversite Dersi").replace(/3/, "MYO Dersi").replace(/4/, "Fakülte Dersi").replace(/6/, "Bölüm Dersi") + "</td><td class='text-center'>" + obj.DSaat + " + " + obj.USaat + "</td><td class='text-center'>" + obj.AKTS + "</td></tr>")
            });
            $("#tblSayi").text("Ders Sayısı: " + json.length);
        });
    });
</script>