﻿
@{
    ViewBag.Title = "ProgramCiktilari";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
    var payList = Sabis.Bolum.Bll.SOURCE.ABS.DERS.PAYMAIN.GetirPayBilgileriv2(dersGrupHocaID, Sabitler.KullaniciAdi, Sabitler.IPAdresi);

}

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>
                @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd
                @if (dersDetay.EnumOgretimTur != null)
                {
                    <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                }
                - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
            </li>
        </ul>
    </div>
}

@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")

<h3>Program Çıktıları</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Çalışma Tipi</th>
            <th>Grafik</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pay in payList)
        {
            <tr>
                <td>@pay.SiraNo. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)pay.EnumCalismaTipi)</td>
                <td>
                    <a data-source="/Akreditasyon/_pPCBasari?dersGrupID=@dersDetay.DersGrupID&payID=@pay.PayID&dersGrupHocaID=@dersDetay.DersGrupHocaID&sonHalVerildiMi=@dersDetay.SonHalVerildiMi.ToString().ToLower()" class="btn grey-cascade" data-toggle="tooltip modal" data-size="80" data-backdrop="false" data-keyboard="true" title="Program Çıktı Raporu">Program Çıktı Raporu</a>
                </td>
            </tr>
        }
        @if (dersDetay.SonHalVerildiMi)
            {
            <tr>
                <td>Genel Rapor</td>
                <td>
                    <a data-source="/Akreditasyon/_pPCDersGrupGenelBasari/@dersDetay.DersGrupID?dersGrupHocaID=@dersDetay.DersGrupHocaID" class="btn green-meadow" data-toggle="tooltip modal" data-size="80" data-backdrop="false" data-keyboard="true" title="Genel Program Çıktı Raporu">Genel Program Çıktı Raporu</a>
                </td>
            </tr>
        }
    </tbody>

</table>
