﻿@{
    Layout = null;
}
@using Dil = DilWebClient.Cevir
@model List<Sabis.Bolum.Core.ABS.DERS.HOME.UstDersViewModel>

@helper TreeView(List<Sabis.Bolum.Core.ABS.DERS.HOME.UstDersViewModel> altDersListesi)
{
    <div class="col-md-12">
        <ul>
            @foreach (var item in altDersListesi)
            {
                if (item.AltDersList != null)
                {
                    <li class="col-md-12">
                        <a style="color: white; font-size: 12px;" href="/Ders/Detay/Ana/@item.DersPlanAnaID">@item.DersAd</a>
                        <ul>
                            @TreeView(item.AltDersList)
                        </ul>
                    </li>
                }
                else
                {
                    <li style="list-style-type: none;"><a href="/Ders/Detay/Ana/@item.DersPlanAnaID"><span style="color: white;" class="altDers" data-dersgruphocaid="@item.DersPlanAnaID"><b>@item.DersAd</b></span></a></li>

                    foreach (var item1 in item.DersGrupList.OrderBy(x => x.EnumOgretimTur).ThenBy(x => x.GrupAd))
                    {
                        <li class="col-md-12">
                            <a href="/Ders/Detay/Grup/@item1.DersGrupHocaID"><span style="color:white;" class="altDers" data-dersgruphocaid="@item1.DersGrupHocaID">@item1.DersAd (@item1.GrupAd) @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)item1.EnumOgretimTur).ToUpper()</span></a>
                        </li>
                    }

                }
            }

        </ul>
    </div>

}
@*@Html.Raw(Json.Encode(Model))*@

<div class="row gridEX">
    <div class="tiles">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                if (item.AltDersList == null)
                {
                    foreach (var item1 in item.DersGrupList.OrderBy(x => x.EnumOgretimTur))
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 info-tiles @string.Concat("seviye", item1.EnumSeviye) @string.Concat("tur", item1.EnumOgretimTur)" data-tur="@string.Concat("tur", item1.EnumOgretimTur)" style="margin-bottom: 0px;">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#578ebe; color:white">                                    
                                    <div>@item1.DersKod - @item1.GorunenDersAd (@item1.GrupAd)</div>
                                    <div>@item1.ProgramAd</div>
                                </div>
                                <div class="panel-body" style="background-color:#cce4f9">

                                        <table class="table table-condensed">
                                            <tbody style="background-color:#cce4f9">
                                                <tr>
                                                    <td>Öğrenci Sayısı:</td>
                                                    <td colspan="5">
                                                         <span>@item1.OgrenciSayisi</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Hoca Adı:</td>
                                                    <td colspan="5">
                                                        @if (item1.HocaListesi.Count == 0)
                                                        {
                                                            <span>-</span>
                                                        }
                                                        @foreach (var hoca in item1.HocaListesi)
                                                        {
                                                            <span>@hoca</span> <br />
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Ders Adı:</td>
                                                    <td colspan="5">
                                                        <span>@item1.DersAd / @item1.DersYabAd</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Ders Kodu:</td>
                                                    <td colspan="5">
                                                        <span>@item1.DersKod</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Grup Adı:</td>
                                                    <td colspan="5">
                                                        <span>@item1.GrupAd</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>GTÜ Kredi:</td>
                                                    <td colspan="5">
                                                        <span>@item1.Kredi</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>AKTS Kredi:</td>
                                                    <td colspan="5">
                                                        <span>@item1.ECTSKredi</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>D/U Saat:</td>
                                                    <td colspan="5">
                                                        <span>@item1.DSaat / @item1.USaat</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Seçim Tipi:</td>
                                                    <td colspan="5">
                                                        <span>@item1.DersSecimTipi</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Etiketler:</td>
                                                    <td colspan="5">
                                                        @if (item1.DersEtiketleri.Count == 0)
                                                        {
                                                            <span>-</span>
                                                        }
                                                        @foreach(var etiket in item1.DersEtiketleri)
                                                        {
                                                            <span>@etiket</span> <br />
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Müfredatlar:</td>
                                                    <td colspan="5">
                                                        @if (item1.Mufredatlar.Count == 0)
                                                        {
                                                            <span>-</span>
                                                        }
                                                        @foreach (var mufredat in item1.Mufredatlar)
                                                        {
                                                            <span>@mufredat</span> <br />
                                                        }
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>



                                </div>


                                }
                                }

                                }
                                }
                            </div>
                        </div>








        <style>
            span {
                font-size: 14px !important;
            }
        </style>

        <script src="~/Scripts/Views/Home/_pAltDersListesi.min.js?version=1"></script>
