﻿@{
    Layout = null;
}
@using Dil = DilWebClient.Cevir
@model List<Sabis.Bolum.Core.ABS.DERS.HOME.UstDersViewModel>

@helper TreeView(List<Sabis.Bolum.Core.ABS.DERS.HOME.UstDersViewModel> altDersListesi)
{
    <div class="col-md-12">
        <ul>
            @foreach (var item in altDersListesi)
            {
                if (item.AltDersList != null)
                {
                    <li class="col-md-12">
                        <a style="color: white; font-size: 12px;" href="/Ders/Detay/Ana/@item.DersPlanAnaID">@item.DersAd</a>
                        <ul>
                            @TreeView(item.AltDersList)
                        </ul>
                    </li>
                }
                else
                {
                    <li style="list-style-type: none;"><a href="/Ders/Detay/Ana/@item.DersPlanAnaID"><span style="color: white;" class="altDers" data-dersgruphocaid="@item.DersPlanAnaID"><b>@item.DersAd</b></span></a></li>

                    foreach (var item1 in item.DersGrupList.OrderBy(x => x.EnumOgretimTur).ThenBy(x => x.GrupAd))
                    {
                        <li class="col-md-12">
                            <a href="/Ders/Detay/Grup/@item1.DersGrupHocaID"><span style="color:white;" class="altDers" data-dersgruphocaid="@item1.DersGrupHocaID">@item1.DersAd (@item1.GrupAd) @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)item1.EnumOgretimTur).ToUpper()</span></a>
                        </li>
                    }

                }
            }

        </ul>
    </div>

}
@*@Html.Raw(Json.Encode(Model))*@

@{
    int sira1 = 1;
    int sira2 = 1;
    var ModelList = Model;
}

<div style="height:40px">
    <a href="/Home/ExceleAktar"> <div style="background-color:#4b8496; color:white; float:right; padding:5px;margin-right: -15px;">Excele Aktar</div></a>
</div>
<div class="row gridEX">

    <div class="tiles">
        @if (Model != null)
        {
                     <div class="info-tiles" style="margin-bottom: 0px;">

                            <div class="panel panel-default">
                                
                                <div class="panel-heading" style="background-color:#81bccf; color:white">
                                    <span>Zorunlu Dersler</span>
                                    
                                </div>
                                <div>
                                    <div class="panel-body" style="background-color:#eff3f8">
                                        <table class="table table-condensed">
                                            <thead class="panel-heading" style="background-color:#578ebe; color:white">
                                                <tr>
                                                    <td>
                                                        Sıra
                                                    </td>
                                                    <td>
                                                        Seviye
                                                    </td>
                                                    <td>
                                                        Ders Kodu
                                                    </td>
                                                    <td>
                                                        Ders Adı
                                                    </td>
                                                    <td>
                                                        Grup Adı
                                                    </td>
                                                    <td>
                                                        GTÜ Kredi
                                                    </td>
                                                    <td>
                                                        AKTS Kredi
                                                    </td>
                                                    <td>
                                                        D/U Saat
                                                    </td>
                                                    <td>
                                                        Seçim Tipi
                                                    </td>
                                                    <td>
                                                        Hoca Adı
                                                    </td>
                                                    <td>
                                                        Etiketler
                                                    </td>
                                                    <td>
                                                        Müfredatlar
                                                    </td>
                                                    <td>
                                                        Öğrenci Sayısı
                                                    </td>
                                                </tr>
                                            </thead>


                                            <tbody style="background-color:#cce4f9">

                                                @foreach (var item in Model)
                                                {
                                                    if (item.AltDersList == null)
                                                    {
                                                        foreach (var item1 in item.DersGrupList.Where(a => a.DersSecimTipi == "Zorunlu").OrderBy(x => x.EnumSeviye).ThenBy(x=>x.EnumOgretimTur))
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <span>@sira1</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.Seviye</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.DersKod</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.DersAd / @item1.DersYabAd</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.GrupAd</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.Kredi</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.ECTSKredi</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.DSaat / @item1.USaat</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.DersSecimTipi</span>
                                                                </td>
                                                                <td>
                                                                    @if (item1.HocaListesi.Count == 0)
                                                                    {
                                                                        <span>-</span>
                                                                    }
                                                                    @foreach (var hoca in item1.HocaListesi)
                                                                    {
                                                                        <span>@hoca</span> <br />
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if (item1.DersEtiketleri.Count == 0)
                                                                    {
                                                                        <span>-</span>
                                                                    }
                                                                    @foreach (var etiket in item1.DersEtiketleri)
                                                                    {
                                                                        <span>@etiket</span> <br />
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if (item1.Mufredatlar.Count == 0)
                                                                    {
                                                                        <span>-</span>
                                                                    }
                                                                    @foreach (var mufredat in item1.Mufredatlar)
                                                                    {
                                                                        <span>@mufredat</span> <br />
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <span>@item1.OgrenciSayisi</span>
                                                                </td>
                                                                <td style="visibility:hidden">@(sira1++);</td>
                                                            </tr>

                                                      
                                                        }
                                                    }
                                                }
                                            </tbody>
                                    
                            </table>
                                        </div>

                                </div>

                                <div class="panel-heading" style="background-color:#81bccf; color:white">
                                    Seçmeli Dersler
                                </div>
                               
                                    <div class="panel-body" style="background-color:#eff3f8">
                                        <table class="table table-condensed">
                                            <thead class="panel-heading" style="background-color:#578ebe; color:white">
                                                <tr>
                                                    <td>
                                                        Sıra
                                                    </td>
                                                    <td>
                                                        Seviye
                                                    </td>
                                                    <td>
                                                        Ders Kodu
                                                    </td>
                                                    <td>
                                                        Ders Adı
                                                    </td>
                                                    <td>
                                                        GTÜ Kredi
                                                    </td>
                                                    <td>
                                                        AKTS Kredi
                                                    </td>
                                                    <td>
                                                        D/U Saat
                                                    </td>
                                                    <td>
                                                        Seçim Tipi
                                                    </td>
                                                    <td>
                                                        Hoca Adı
                                                    </td>
                                                    <td>
                                                        Grup Adı
                                                    </td>
                                                    <td>
                                                        Etiketler
                                                    </td>
                                                    <td>
                                                        Müfredatlar
                                                    </td>
                                                    <td>
                                                        Öğrenci Sayısı
                                                    </td>
                                                </tr>
                                            </thead>


                                            <tbody style="background-color:#cce4f9">

                                                @foreach (var item in Model)
                                                {
                                                    if (item.AltDersList == null)
                                                    {
                                                        foreach (var item1 in item.DersGrupList.Where(a => a.DersSecimTipi != "Zorunlu").OrderBy(x => x.EnumOgretimTur))
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <span>@sira2</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.Seviye</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.DersKod</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.DersAd / @item1.DersYabAd</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.Kredi</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.ECTSKredi</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.DSaat / @item1.USaat</span>
                                                                </td>
                                                                <td>
                                                                    <span>@item1.DersSecimTipi</span>
                                                                </td>
                                                                <td>
                                                                    @if (item1.HocaListesi.Count == 0)
                                                                    {
                                                                        <span>-</span>
                                                                    }
                                                                    @foreach (var hoca in item1.HocaListesi)
                                                                    {
                                                                        <span>@hoca</span> <br />
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <span>@item1.GrupAd</span>
                                                                </td>
                                                                <td>
                                                                    @if (item1.DersEtiketleri.Count == 0)
                                                                    {
                                                                        <span>-</span>
                                                                    }
                                                                    @foreach (var etiket in item1.DersEtiketleri)
                                                                    {
                                                                        <span>@etiket</span> <br />
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if (item1.Mufredatlar.Count == 0)
                                                                    {
                                                                        <span>-</span>
                                                                    }
                                                                    @foreach (var mufredat in item1.Mufredatlar)
                                                                    {
                                                                        <span>@mufredat</span> <br />
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <span>@item1.OgrenciSayisi</span>
                                                                </td>
                                                                <td style="visibility:hidden">@(sira2++);</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>

                                        </table>
                                    </div>

                             
                            </div>



                                </div>

                                }
                            </div>
                        </div>

                   

        <script src="~/Scripts/Views/Home/_pAltDersListesi.min.js?version=1"></script>

<script>
    //$("#btn-excel").click(function () {
    //    debugger;
    //    var send = $.post("/Home/ExceleAktar", ModelList);

    //    send.done(function (data) {
    //        if (data == true) {
    //            window.location = "/Home/Cikti";
    //        }
    //    });
    //});
</script>