﻿@{
    Layout = null;
}
@using Dil = DilWebClient.Cevir
@model List<Sabis.Bolum.Core.ABS.DERS.HOME.UstDersViewModel>

@helper TreeView(List<Sabis.Bolum.Core.ABS.DERS.HOME.UstDersViewModel> altDersListesi)
{
    <div class="col-md-12">
        <ul>
            @foreach (var item in altDersListesi)
            {
                if (item.AltDersList != null)
                {
                    <li class="col-md-12">
                        <a style="color: white; font-size: 12px;" href="/Ders/Detay/Ana/@item.DersPlanAnaID">@item.DersAd</a>
                        <ul>
                            @TreeView(item.AltDersList)
                        </ul>
                    </li>
                }
                else
                {
                    if (item.DersGrupList.Count > 1)
                    {
                        <li style="list-style-type: none;"><a href="/Ders/Detay/Ana/@item.DersPlanAnaID"><span style="color: white;" class="altDers" data-dersgruphocaid="@item.DersPlanAnaID"><b>@item.DersAd</b></span></a></li>
                    }
                    foreach (var item1 in item.DersGrupList.OrderBy(x => x.EnumOgretimTur).ThenBy(x => x.GrupAd))
                    {
                        <li class="col-md-12">
                            <a href="/Ders/Detay/Grup/@item1.DersGrupHocaID"><span style="color:white;" class="altDers" data-dersgruphocaid="@item1.DersGrupHocaID">@item1.DersAd (@item1.GrupAd) @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)item1.EnumOgretimTur).ToUpper()</span></a>
                        </li>
                    }

                }
            }

        </ul>
    </div>

}
@*@Html.Raw(Json.Encode(Model))*@

<div class="row gridEX">
    <div class="tiles">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                if (item.AltDersList == null)
                {
                    foreach (var item1 in item.DersGrupList.OrderBy(x => x.EnumOgretimTur).Where(x => x.OgrenciSayisi > 0))
                    {
                        <a href="/Ders/Detay/Grup/@item1.DersGrupHocaID" data-dersplananaid="@item.DersPlanAnaID">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 info-tiles @string.Concat("seviye", item1.EnumSeviye) @string.Concat("tur", item1.EnumOgretimTur)" data-tur="@string.Concat("tur", item1.EnumOgretimTur)" style="margin-bottom: 0px;">
                                <div class="dashboard-stat @item1.EnumOgretimTur.ToString().Replace("0", "dark").Replace("1", "blue-madison").Replace("2", "yellow-casablanca").Replace("3", "blue-dark")">
                                    <div class="more">
                                        @item1.DersKod - @item1.DersAd (@item1.GrupAd)
                                    </div>
                                    <div class="visual" style="width: 100%; color: white; margin-bottom: 5px;">
                                        @*<h6>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimSeviye)item1.EnumSeviye).ToUpper()</h6>*@
                                        <h6>@Dil.Getir(item1.EnumSeviye.ToString().Replace("1", "on_lisans").Replace("2", "lisans").Replace("3", "yuksek_lisans").Replace("4", "doktora")).ToUpper()</h6>
                                        <h5>@item1.BolumAd</h5>
                                        @if (item1.BolumAd != item1.ProgramAd)
                                        {
                                            <h5>@item1.ProgramAd</h5>
                                        }
                                    </div>
                                    <div class="visual" style="width: 100%; height: 30px; color: white; padding-top: 0; margin-bottom: 5px;">
                                        <span class="col-md-4 text-left no-padding" style="padding-left: 0;">
                                            @Dil.Getir(item1.EnumOgretimTur.ToString().Replace("1", "1_ogretim").Replace("2", "2_ogretim").Replace("3", "3_ogretim"))
                                            @*@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)item1.EnumOgretimTur)*@
                                        </span>

                                        <div class="col-md-4 no-padding" style="top: -8px;">
                                            @if (item1.EnumSonHal == (int)Sabis.Enum.EnumSonHal.EVET)
                                            {
                                                <span style="color:black;">@Dil.Getir("Son Hal Verildi")</span>  // TODO Dil : Burası dile eklenecek
                                            } 
                                            @if (item1.ButunlemeMi)
                                            {
                                                <span>@Dil.Getir("Bütünleme")</span> // TODO Dil : Burası dile eklenecek
                                            }
                                        </div>

                                        <span class="col-md-4 text-right no-padding">
                                            @if (item1.ButunlemeMi)
                                            {
                                                <span>@item1.OgrenciSayisiButunleme @Dil.Getir("ogrenci")</span>
                                            }
                                            else
                                            {
                                                <span>@item1.OgrenciSayisi @Dil.Getir("ogrenci")</span>
                                            }
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
                else
                {
                    <a href="/Ders/Detay/Ana/@item.DersPlanAnaID" data-dersplananaid="@item.DersPlanAnaID">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 info-tiles" style="margin-bottom: 20px;">
                            <div class="dashboard-stat grey-mint">
                                <div class="more" style="color: white;">
                                    @item.DersAd
                                </div>
                                <div class="visual" style="width: 100%; color: white; margin-bottom: 5px;">
                                    @if (item.AltDersList != null)
                                    {
                                        @*<span>1. Seviyedeki Alt Ders List Boş Değil<br /></span>*@
                                        if (item.AltDersList.FirstOrDefault().AltDersList != null)
                                        {
                                            @*<span>2. Seviyedeki Alt Ders List Boş Değil<br /></span>*@
                                            if (item.AltDersList.FirstOrDefault().AltDersList.FirstOrDefault().DersGrupList != null)
                                            {
                                                @*<span>2. Seviyedeki Alt Ders Listesindeki Ders Grup List Boş Değil<br /></span>*@

                                                <h6>@Dil.Getir(item.AltDersList.FirstOrDefault().AltDersList.FirstOrDefault().DersGrupList.FirstOrDefault().EnumSeviye.ToString().Replace("1", "on_lisans").Replace("2", "lisans").Replace("3", "yuksek_lisans").Replace("4", "doktora")).ToUpper()</h6>
                                                <h5>@item.AltDersList.FirstOrDefault().AltDersList.FirstOrDefault().DersGrupList.FirstOrDefault().BolumAd</h5>
                                                if (item.AltDersList.FirstOrDefault().AltDersList.FirstOrDefault().DersGrupList.FirstOrDefault().BolumAd != item.AltDersList.FirstOrDefault().AltDersList.FirstOrDefault().DersGrupList.FirstOrDefault().ProgramAd)
                                                {
                                                    <h5>@item.AltDersList.FirstOrDefault().AltDersList.FirstOrDefault().DersGrupList.FirstOrDefault().ProgramAd</h5>
                                                }
                                                {
                                                    /**/
                                                }
                                            }
                                            else
                                            {
                                                @*<span>2. Seviyedeki Alt Ders Listesindeki Ders Grup List BOŞ<br /></span>*@
                                            }
                                        }
                                        else
                                        {
                                            @*<span>2. Seviyedeki Alt Ders List BOŞ<br /></span>*@
                                            if (item.AltDersList.FirstOrDefault().DersGrupList != null)
                                        	{
                                        		 @*<span>1 seviyedeki altderslitin içinde Grup list var</span>*@
                                                <h6>@Dil.Getir(item.AltDersList.FirstOrDefault().DersGrupList.FirstOrDefault().EnumSeviye.ToString().Replace("1", "on_lisans").Replace("2", "lisans").Replace("3", "yuksek_lisans").Replace("4", "doktora")).ToUpper()</h6>
                                                <h5>@item.AltDersList.FirstOrDefault().DersGrupList.FirstOrDefault().BolumAd</h5>
                                                if (item.AltDersList.FirstOrDefault().DersGrupList.FirstOrDefault().BolumAd != item.AltDersList.FirstOrDefault().DersGrupList.FirstOrDefault().ProgramAd)
                                                {
                                                    <h5>@item.AltDersList.FirstOrDefault().DersGrupList.FirstOrDefault().ProgramAd</h5>
                                                }
                                            }
                                        }
                                    }
                                    else
                                    {
                                        @*<span>1. Seviyedeki Alt Ders List BOŞ<br /></span>*@
                                    }

                                </div>

                                @*<div class="col-md-12" style="color: white; padding-top: 15px; padding-bottom: 15px;">
                                        @TreeView(item.AltDersList)
                                    </div>*@
                            </div>
                        </div>
                    </a>
                }
            }
        }
    </div>
</div>
<style>
    span {
        font-size: 14px !important;
    }
</style>

<script src="~/Scripts/Views/Home/_pAltDersListesi.min.js?version=1"></script>