﻿@{
    ViewBag.Title = "Ders Listesi";
    ViewBag.Home = true;
}
@using Dil = DilWebClient.Cevir
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://bolum.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">BÖLÜM BİLGİ SİSTEMİ</a></li>
        </ul>
    </div>
}
<div class="row">
    <div class="col-md-12">
       
        @Html.Action("_pAcilanDersListesi")
    </div>
</div>

<script src="~/Scripts/Views/Home/Index.min.js?version=2"></script>