﻿@model List<string>

@if (Model.Count() > 0)
{
    <div class="portlet box blue-dark">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold">Yayınlanmayan notlar</span>
            </div>
        </div>
        <div class="portlet-body" style="height: auto;">
            <div class="table-scrollable">
                <table id="tblGrupList2" class="table table-condensed table-hover col-md-12" style="width: 100% !important;">
                    <thead><tr><th></th></tr></thead>
                    <tbody>
                        @foreach (var grup in Model)
                        {
                            <tr><td>@grup</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <style>
        .dataTables_scrollHead {
            display: none;
        }
    </style>

    <script>
    $(document).ready(function () {
        $('#tblGrupList2').DataTable({
            "fnInitComplete": function () {

                // Disable TBODY scoll bars
                //$('.dataTables_scrollBody').css({
                //    'overflow': 'hidden',
                //    'border': '0'
                //});

                // Enable TFOOT scoll bars
                $('.dataTables_scrollFoot').css('overflow', 'auto');

                $('.dataTables_scrollHead').css('overflow-x', 'auto');
                $('.dataTables_scrollHead').css('overflow-y', 'none');
                // Sync TFOOT scrolling with TBODY
                $('.dataTables_scrollFoot').on('scroll', function () {
                    $('.dataTables_scrollBody').scrollLeft($(this).scrollLeft());
                });

                $('.dataTables_scrollHead').on('scroll', function () {
                    $('.dataTables_scrollBody').scrollLeft($(this).scrollLeft());
                });
            },
            "scrollY": 250,
            "scrollX": true,
            "scrollCollapse": true,
            //"sScrollX": "190%",
            'bSort': false,
            searching: false,
            paging: false,
            info: false,
            columnDefs: [
                { className: 'fixedC', targets: 0 }
            ],
            //fixedColumns: {
            //    leftColumns: 2,
            //    "heightMatch": "none"
            //},
            fixedHeader: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            }
        });
    });
    </script>
}

