﻿@model List<Sabis.Bolum.Core.ABS.DEGERLENDIRME.Grup>
@{ 
    Layout = null;
}
<div class="table-scrollable">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    Ad
                </th>
                <th>
                    Öğretim Türü
                </th>
                <th>
                    Öğrenci Sayısı
                </th>
                <th>
                    Fakülte
                </th>
                <th>
                    Bölüm
                </th>
                <th>
                    Öğretim Üyesi
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grup in Model)
            {                
                <tr>
                    <td>
                        @grup.Ad
                        @Html.Hidden("grupid", grup.DersGrupID)
                    </td>
                    <td>
                        @Sabis.Enum.Utils.GetEnumDescription(grup.EnumOgretimTur)
                    </td>
                    <td>
                        @grup.OgrenciSayisi
                    </td>
                    <td>
                        @grup.Fakulte.BirimAdi
                    </td>
                    <td>
                        @grup.Bolum.BirimAdi
                    </td>
                    <td>
                        @foreach (var personel in grup.PersonelList)
                        {
                            <span>@personel.UnvanAd @personel.Ad @personel.Soyad</span><br />
                        }
                    </td>
                </tr>
            }
        </tbody>
        @{
            Sabis.Bolum.Core.ABS.DEGERLENDIRME.PersonelDTO degerlendirici = ViewBag.Degerlendirici;
            if (degerlendirici != null)
            {
                <tfoot>
                    <tr>
                        <td colspan="6" style="font-weight:normal;">Ortak Değerlendirme Yapacak Personel: <span class="font-blue-dark bold"> @degerlendirici.UnvanAd @degerlendirici.Ad @degerlendirici.Soyad</span></td>
                    </tr>
                </tfoot>
            }
        }
    </table>
</div>


