﻿@model Sabis.Bolum.Core.ABS.DEGERLENDIRME.DegerlendirmeViewModel
@using Dil = DilWebClient.Cevir
@using Sabis.Bolum.Core.ABS.DEGERLENDIRME;
@{
    ViewBag.Title = "Değerlendirme";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            @*<li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class="fa fa-chevron-right"></i></li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                    }
                    - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                </a>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li>Değerlendirme</li>
        </ul>
    </div>
}
@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")
<style type="text/css">
    .modal-content {
        cursor: default;
    }
</style>

<style type="text/css">
    .aktif-adim {
        background-color: aquamarine;
    }
</style>

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.25.0/css/theme.green.min.css" rel="stylesheet" />

@if (ViewBag.DersGrupID != 0)
{
    <div class="portlet box blue-dark">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold">  Değerlendirme Bilgisi</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                <a href="javascript:;" class="reload" data-load="true" data-url="@Url.Action("DegerlendirmeBilgisi", "Degerlendirme", new { grupID = ViewBag.DersGrupID })" data-original-title="" title=""> </a>
                <a href="javascript:;" class="fullscreen" data-original-title="" title=""> </a>
                <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">

        <div class="col-md-6" style="padding-left: 0;">
            @Html.Action("_EksikNotGirilenDersGruplari", "Degerlendirme", new { fkDersPlanAnaID = dersDetay.DersPlanAnaID, fkDersGrupID = dersDetay.DersGrupID })
        </div>
        <div class="col-md-6" style="padding-right: 0;">
            @Html.Action("_YayinlanmayanNotlar", "Degerlendirme", new { fkDersPlanAnaID = dersDetay.DersPlanAnaID, fkDersGrupID = dersDetay.DersGrupID })
        </div>       
    </div>
</div>




<div id="topContainer" class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-share"></i>
            <span class="caption-subject bold"> @(Model.Ders != null ? Model.Ders.DersAd : "")</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <label class="btn btn-circle btn-transparent grey-salsa active">
                    <input type="radio" name="options" class="toggle" id="option1">@Sabis.Enum.Utils.GetEnumDescription(Model.EnumDegerlendirmeAsama)
                </label>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div id="degerlendirmeContainer">
            @if (Model.NotificationList.Any())
            {
                <div class="container" style="border:1px solid #808080; margin-bottom:20px; padding-top:10px;">
                    <ul>
                        @foreach (var notification in Model.NotificationList)
                        {
                            string notClass = "";
                            switch (notification.MesajTipi)
                            {
                                case Notification.MasterMesajTip.Basari:
                                    notClass = "text-success";
                                    break;
                                case Notification.MasterMesajTip.Bilgi:
                                    notClass = "text-info";
                                    break;
                                case Notification.MasterMesajTip.Hata:
                                    notClass = "text-danger";
                                    break;
                                case Notification.MasterMesajTip.Uyari:
                                    notClass = "text-warning";
                                    break;
                            }
                            <li class="@notClass"><strong>@notification.Baslik:</strong> <span>@notification.Mesaj</span></li>
                        }
                    </ul>
                </div>
            }

            <!-- Tarih Aralığı, Değerlendirme Tipi -->

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <strong class="col-sm-4 control-label text-right">Değerlendirme Tarih Aralığı:</strong>
                        <div class="col-sm-6">
                            <label class="radio-inline">
                                @if (Model.AkademikTakvim != null)
                                {
                                    <span>@Model.AkademikTakvim.TarihBaslangic.ToString() - @Model.AkademikTakvim.TarihBitis.Value.ToString()</span>
                                }
                            </label>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <strong class="col-sm-4 control-label text-right">Değerlendirme Sınav Tipi</strong>
                        <div class="col-sm-6">
                            <label class="radio-inline">
                                <input type="radio" name="degerlendirmeTipi" value="1" @(!Model.DegerlendirmeCikti.Butunleme ? "checked='checked'" : "disabled")> Final
                            </label>
                            @*<label class="radio-inline">
                                    <input type="radio" name="degerlendirmeTipi" value="2" @(Model.DegerlendirmeCikti.Butunleme ? "checked='checked'" : "disabled")> Bütünleme
                                </label>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>

            <!-- Yatay custom değerlendirme progress -->
            <div class="row" style="margin-top:20px;">
                <div class="col-md-6 col-lg-3 @(Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.BOS ? "aktif-adim" : "")" style="border:1px solid #808080; border-right:none;">
                    <span class="col-sm-2" style="font-size:5em;">1</span>
                    <div class="col-sm-10" style="margin-top:10px;">
                        <strong>Değerlendirme Yapılmamış</strong>
                        <div>
                            Değerleri düzenledikten sonra <button type="button" class="btn btn-info btn-xs">HESAPLA</button> butonuna basınız.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 @(Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.KAYITLI ? "aktif-adim" : "")" style="border:1px solid #808080; border-right:none;">
                    <span class="col-sm-2" style="font-size:5em;">2</span>
                    <div class="col-sm-10" style="margin-top:10px;">
                        <strong>Bağıl Ortalamalar Hesaplandı</strong>
                        <div>
                            Listeleri kontrol ettikten sonra <button type="button" class="btn btn-danger btn-xs">SON HAL</button> butonuna basınız.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 @(Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.SONHAL ? "aktif-adim" : "")" style="border:1px solid #808080; border-right:none;">
                    <span class="col-sm-2" style="font-size:5em;">3</span>
                    <div class="col-sm-10" style="margin-top:10px;">
                        <strong>Son Hal Verildi</strong>
                        <div>
                            Not değerlendirme işleminiz tamamlanmıştır.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 @(Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.AKTARILDI ? "aktif-adim" : "")" style="border:1px solid #808080;">
                    <span class="col-sm-2" style="font-size:5em;">4</span>
                    <div class="col-sm-10" style="margin-top:10px;">
                        <strong>Aktarım Tamamlandı</strong>
                        <div>
                            Not değişikliği gerekiyorsa yönetim kurulu kararı ile ilgili birime başvurunuz.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Grup listesi-->
            <div class="row" style="margin-top:20px;">
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="col-sm-6">
                                Bölüm
                            </th>
                            <th class="col-sm-1 text-center">
                                Öğretim Türü
                            </th>
                            <th class="col-sm-1 text-center">
                                Grup
                            </th>
                            <th class="col-sm-1 text-center">
                                Öğrenci Sayısı
                            </th>
                            <th class="col-sm-3 text-center">
                                Yazdır
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Ders.Hiyerarsik)
                        {
                            <tr>
                                <td>
                                    @Model.Ders.Bolum.BirimAdi
                                </td>
                                <td></td>
                                <td class="text-center"></td>
                                <td class="text-center">
                                    @Model.Ders.OgrenciSayisi
                                </td>
                                <td class="text-center">
                                    @if (Model.EnumDegerlendirmeAsama != EnumDegerlendirmeAsama.BOS)
                                    {
                                        <button type="button" class="btn btn-sky btn-sm" onclick="basarilistesi(@Model.Ders.DersPlanAnaID)">Başarı Listesi</button>
                                        @*<button type="button" class="btn btn-sky btn-sm" onclick="yardimcliste(@Model.Ders.DersPlanAnaID)">Yardımcı Liste</button>*@
                                        <button type="button" class="btn btn-green btn-sm" onclick="gecmislisteler(@Model.Ders.DersPlanAnaID)">Alınan Başarı Listeleri</button>
                                    }
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var grup in Model.OrtakGruplar)
                            {
                                <tr>
                                    <td>
                                        @grup.Bolum.BirimAdi
                                    </td>
                                    <td class="text-center">
                                        @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)grup.EnumOgretimTur)
                                    </td>
                                    <td class="text-center">
                                        @(grup.Ad == "?" ? "A" : grup.Ad)
                                    </td>
                                    <td class="text-center">
                                        @grup.OgrenciSayisi
                                    </td>
                                    <td class="text-center">
                                        @if (Model.EnumDegerlendirmeAsama != EnumDegerlendirmeAsama.BOS)
                                        {
                                            <button type="button" class="btn btn-sky btn-sm" onclick="basarilistesi(@grup.DersGrupID)">Başarı Listesi</button>
                                            <button type="button" class="btn btn-sky btn-sm" onclick="yardimcliste(@grup.DersGrupID)">Yardımcı Liste</button>
                                            <button type="button" class="btn btn-green btn-sm" onclick="gecmislisteler(@grup.DersGrupID)">Alınan Başarı Listeleri</button>
                                        }
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4"></td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="basarilistesitumgruplar()">Tüm Gruplar İçin Başarı Listesi Oluştur</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot style="display:none;">
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sky btn-sm" onclick="tumliste()">Başarı Listesi Tümü</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <!-- grafikler -->
            <div class="row" id="chartAyri">
                <div class="col-sm-6 text-center">
                    <div id="chart_div_mutlak"></div>
                </div>
                <div class="col-sm-6 text-center">
                    <div id="chart_div_bagil"></div>
                </div>
            </div>
            <div class="row" id="chartBirlesik" style="display:none;">
                <div class="col-sm-8 text-center">
                    <div id="chart_div_birlesik"></div>
                </div>
            </div>

            <!-- Değerlendirme Ayarları-->
            <div class="row">
                <div class="col-sm-6 text-center">
                    <table class="table table-condensed" style="margin-top:10px;">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-center">
                                    Mutlak Notlarla Elde Edilen
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-right col-sm-4">
                                    Aritmetik Ortalama
                                </td>
                                <td class="text-left col-sm-4">
                                    <input type="text" disabled class="form-control disabled" value="@Model.DegerlendirmeCikti.Ortalama" />
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right col-sm-4">
                                    Standart Sapma
                                </td>
                                <td class="text-left col-sm-4">
                                    <input type="text" disabled class="form-control disabled" value="@Model.DegerlendirmeCikti.StandartSapma" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6 text-center">
                    <table class="table table-condensed" style="margin-top:10px;">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center">
                                    Bağıl Hesaptan Elde Edilen
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-6 text-right">
                                    Bağıl Aritmetik Ortalama
                                </td>
                                <td class="col-sm-2">
                                    @if ((Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.BOS || Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.KAYITLI) && Model.DegerlendirmeCikti.Sinif == OgrenciSinif.Lisans && Model.TarihAraligiUygunMu && !Model.ButunlemeMi && Model.DegerlendiriciMi)
                                    {
                                        <input type="text" id="txtBagilOrt" class="form-control" value="@Model.DegerlendirmeCikti.BagilAritmetikOrtalama" />
                                    }
                                    else
                                    {
                                        <input type="text" id="txtBagilOrt" class="form-control disabled" disabled value="@Model.DegerlendirmeCikti.BagilAritmetikOrtalama" />
                                    }
                                </td>
                                <td rowspan="2" class="col-sm-4" style="vertical-align:middle">
                                    @if ((Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.BOS || Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.KAYITLI) && Model.TarihAraligiUygunMu && Model.DegerlendiriciMi)
                                    {
                                        <button type="button" class="btn btn-sky btn-sm" onclick="hesapla()">Hesapla</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-sky btn-sm disabled" disabled>Hesapla</button>
                                    }
                                    @if (Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.KAYITLI && Model.TarihAraligiUygunMu && Model.DegerlendiriciMi)
                                    {
                                        <button type="button" class="btn btn-inverse btn-sm" onclick="sifirla()">Sıfırla</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-inverse btn-sm disabled" disabled>Sıfırla</button>
                                    }

                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">
                                    Üst Değer
                                </td>
                                <td>
                                    @if ((Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.BOS || Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.KAYITLI) && Model.DegerlendirmeCikti.Sinif == OgrenciSinif.Lisans && Model.TarihAraligiUygunMu && !Model.ButunlemeMi && Model.DegerlendiriciMi)
                                    {
                                        <input type="text" id="txtUst" class="form-control" value="@Model.DegerlendirmeCikti.UstDeger" />
                                    }
                                    else
                                    {
                                        <input type="text" id="txtUst" class="form-control disabled" disabled value="@Model.DegerlendirmeCikti.UstDeger" />
                                    }

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Rapor -->
        <div class="row" id="raporContainer" style="display:none;">
            <div class="row">
                <div class="col-sm-1">
                    <button type="button" class="btn btn-inverse" onclick="raporToggle()">Geri</button>
                </div>
                <div class="col-sm-11">
                    <h4>Başarı Listesi</h4>
                </div>
            </div>
            <iframe id="rapor" src="about:blank" style="width:100%; height:720px;"></iframe>
        </div>

        <!-- butonlar -->

        <div class="row">
            <div class="col-md-12">
                @if (false)
            {
                    <button type="button" class="btn btn-success" onclick="yayinla()">Yayınla</button>
                }
                @if ((Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.KAYITLI || Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.YAYINLANDI) && Model.DegerlendiriciMi)
            {
                    <button type="button" class="btn btn-danger" onclick="sonhal()">Son Hal</button>
                }
                @if (Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.YAYINLANDI && Model.DegerlendiriciMi)
            {
                    <button type="button" class="btn btn-warning" onclick="yayindankaldir()">Yayından Kaldır</button>
                }
                @if (Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.SONHAL && Model.SonHalKaldirmaYetkisiVarMi && Model.DegerlendiriciMi)
            {
                    <button type="button" class="btn btn-danger" onclick="sonhalkaldir ()">Son Hal Kaldır</button>
                }
                <button type="button" class="btn btn-info" id="btnOgrenciListesi" onclick="ogrenciListesiToggle()">Öğrenci Listesi</button>
                <button type="button" class="btn btn-warning" onclick="grafikToggle()">Grafik Değiştir</button>
            </div>
        </div>
    </div>
</div>

@*<div  class="panel panel-primary">
        <div class="panel-heading bar-arkaplan">
            <h4></h4>
            <div class="options">
                <span class="label">Aktarım Durumu: <span class="badge">@Sabis.Enum.Utils.GetEnumDescription(Model.EnumDegerlendirmeAsama)</span></span>
            </div>
        </div>
        <div class="panel-body">
        </div>
        <div class="panel-footer">

        </div>

    </div>*@
<div class="clearfix"> </div>

<div class="panel panel-sky" id="ogrenciListesi" style="display:none;">
    <div class="panel-body">
        <table class="table table-condensed" id="ogrenciList" style="margin-top:10px;">
            <thead>
                <tr>
                    <th class="col-sm-2">
                        Numara
                    </th>
                    <th class="col-sm-6">
                        Ad Soyad
                    </th>
                    <th class="col-sm-1 text-center">
                        Mutlak Not
                    </th>
                    <th class="col-sm-1 text-center">
                        Mutlak Harf
                    </th>
                    <th class="col-sm-1 text-center">
                        Bağıl Not
                    </th>
                    <th class="col-sm-1 text-center">
                        Bağıl Harf
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ogrenciNot in Model.DegerlendirmeCikti.NotList)
                {
                    <tr>
                        <td>
                            @ogrenciNot.Numara
                        </td>
                        <td>
                            @ogrenciNot.AdSoyad
                        </td>
                        <td class="text-center">
                            @ogrenciNot.Not
                        </td>
                        <td class="text-center">
                            @ogrenciNot.MutlakNot
                        </td>
                        <td class="text-center">
                            @ogrenciNot.BasariNot
                        </td>
                        <td class="text-center">
                            @ogrenciNot.BasariHarf
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    var hata = false;

    function uyariGoster(url, params, sonhal) {
        $.post(url, params)
          .done(function (data) {
              console.log(data);

              if (data != null) {
                  if(sonhal && @Json.Encode(Model.Ders.Hiyerarsik) == false){
                      basarilistesitumgruplar();
                  }

                  if (data.length > 0) {
                      var mesaj = "<ul>";
                      $.each(data, function (i, item) {
                          mesaj += "<li><strong>" + item.Baslik + "</strong> " + item.Mesaj + "</li>"
                      });
                      mesaj += "</ul>";

                      bootbox.dialog({
                          message: mesaj,
                          title: "İşlem sırasında sorunla karşılaşıldı",
                          onEscape: false,
                          closeButton: false,
                          buttons: {
                              main: {
                                  label: "Tamam",
                                  className: "btn-primary",
                                  callback: function () {
                                      window.location.reload();
                                  }
                              }
                          }
                      });
                  } else {
                      window.location.reload();
                  }
              }
          })
          .fail(function (data) {
              console.log(data);
          });
    }

    function ogrenciListesiToggle() {
        $("#ogrenciListesi").toggle("fast");
        $('#ogrenciList').trigger("sorton", [[[4, 1]]]);
    }

    function grafikToggle() {
        $("#chartAyri").toggle("fast");
        $("#chartBirlesik").toggle("fast");
    }

    function raporToggle() {
        $("#degerlendirmeContainer").toggle();
        $("#raporContainer").toggle();
    }

    function hesapla() {
        var params = {
            ID: '@Model.IslemID',
            bagil: $("#txtBagilOrt").val(),
            ust: $("#txtUst").val(),
            hiyerarsik: '@Model.Ders.Hiyerarsik'
        }
        uyariGoster("/Ders/Degerlendirme/Hesapla", params);

        //window.location.href = '/Ders/Degerlendirme/Hesapla?ID=@Model.IslemID&bagil=' + $("#txtBagilOrt").val() + '&ust=' + $("#txtUst").val();
    }

    function sifirla() {
        var params = {
            ID: '@Model.IslemID',
            hiyerarsik: '@Model.Ders.Hiyerarsik'
        }
        uyariGoster("/Ders/Degerlendirme/Sifirla", params);
    }

    function sonhal() {
        bootbox.dialog({
            message: "Son Hal verilmesi halinde notlar sisteme aktarılacaktır. <br/>Bu işlem geri alınamaz. Hatalı işlemler sadece fakülte yönetim kurulu kararı (FYK) ile düzeltilir.<br/>Notlar transkriptlere otomatik olarak aktarılır.<br/><strong>İmzalı başarı listelerinin öğrenci işlerine verilmesi mecburidir.</strong>",
            title: "UYARI!",
            buttons: {
                danger: {
                    label: "Onayladım ve Son Hal Ver",
                    className: "btn-danger",
                    callback: function() {
                        var params = {
                            ID: '@Model.IslemID',
                            hiyerarsik: '@Model.Ders.Hiyerarsik'
                        }
                        uyariGoster("/Ders/Degerlendirme/SonHal", params, true);
                    }
                },
                main: {
                    label: "İptal",
                    className: "btn-default"
                }
            }
        });

    }

    function sonhalkaldir() {
        var params = {
            ID: '@Model.IslemID',
            hiyerarsik: '@Model.Ders.Hiyerarsik'
        }
        uyariGoster("/Ders/Degerlendirme/SonHalKaldir", params);
    }

    function yayinla() {
        var params = {
            ID: '@Model.IslemID',
            hiyerarsik: '@Model.Ders.Hiyerarsik'
        }
        uyariGoster("/Ders/Degerlendirme/Yayinla", params);
    }

    function yayindankaldir() {
        var params = {
            ID: '@Model.IslemID',
            hiyerarsik: '@Model.Ders.Hiyerarsik'
        }
        uyariGoster("/Ders/Degerlendirme/YayindanKaldir", params);
    }

    function basarilistesi(grupid) {
        GlobalAjaxLoader = false;

        $.blockUI({ message: '<h1>Rapor Hazırlanıyor</h1>' });
        raporToggle();
        $("#rapor").attr("src", "about:blank");

        $.post('@Url.Action("BasariListesiOlustur", "Degerlendirme")', { ID: grupid,  hiyerarsik: '@Model.Ders.Hiyerarsik' })
        .done(function (data) {
            $("#rapor").attr("src", data);
            document.getElementById('rapor').onload = function () {
                console.log("elma");
                $.unblockUI();
            }
        })
        .fail(function (data) {
            $.unblockUI();
        });
    }

    function basarilistesitumgruplar() {
        GlobalAjaxLoader = false;

        $.blockUI({ message: '<h1>Rapor Hazırlanıyor</h1>' });

        $.post('@Url.Action("BasariListesiOlusturTumGruplar", "Degerlendirme")', { GrupIDList: @Newtonsoft.Json.JsonConvert.SerializeObject(Model.OrtakGruplar.Select(x => x.DersGrupID)) })
        .done(function (data) {
            var injectee = '<strong>' + data.length +' adet başarı listesi oluşturuldu. </strong><br/><br/>';
            $.each(data, function(i,item){
                injectee += '<a href="'+ item.Item2 + '" target="_blank">'+ item.Item1 + '</a><br/>';
            });

            injectee += '<hr/>Aldığınız başarı listelerini grup bazında <i>"Alınan Başarı Listeleri"</i> butonuna tıklayarak görüntüleyebilirsiniz.'

            bootbox.dialog({
                title: "Başarı Listeleri",
                message: injectee,
                buttons: {
                    main: {
                        label: "Tamam",
                        className: "btn-primary",
                        callback: function() {
                        }
                    }
                }
            });

            $.unblockUI();
        })
        .fail(function (data) {
            $.unblockUI();
        });
    }

    function yardimcliste(grupid) {
        $.blockUI({ message: '<h1>Rapor Hazırlanıyor</h1>' });
        raporToggle();
        $("#rapor").attr("src", "about:blank");
        $("#rapor").attr("src", "/Ders/Degerlendirme/YardimciListeOlustur/" + grupid + "?hiyerarsik="+  @Json.Encode(Model.Ders.Hiyerarsik));
        document.getElementById('rapor').onload = function () {
            $.unblockUI();
        }
    }

    function gecmislisteler(grupid) {
        var params = {
            ID: grupid,
            hiyerarsik: '@Model.Ders.Hiyerarsik'
        }
        //SDFSClient.FileClient.GetUrl(item.OGRDosya.DosyaKey, OISession.Kullanici)
        $.post("/Ders/Degerlendirme/BasariRaporListele", params)
          .done(function (data) {
              console.log(data);

              var mesaj = "<ul>";
              $.each(data, function (i, item) {
                  mesaj += "<li><a href=" + item.Url + ">" + item.Tarih + "</a></li>"
              });
              mesaj += "</ul>";

              if (data.length < 1) {
                  mesaj = "<li>Daha önce alınmış başarı listesi bulunamadı.</li>"
              }

              bootbox.dialog({
                  message: mesaj,
                  title: "Başarı Listeleri",
                  onEscape: false,
                  closeButton: false,
                  buttons: {
                      main: {
                          label: "Tamam",
                          className: "btn-primary",
                          callback: function () {

                          }
                      }
                  }
              });
          })
          .fail(function (data) {
              console.log(data);
          });
    }

    function hataVar() {
        var mesaj = "<ul>";
        var tmp = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.NotificationList))
        $.each(tmp, function (i, item) {
            mesaj += "<li><strong>" + item.Baslik + "</strong> " + item.Mesaj + "</li>"
        });
        mesaj += "</ul>";

        $('#topContainer').block({ message: mesaj });

        hata = true;
    }

    $(function () {
        $.extend($.tablesorter.characterEquivalents, {
            "c": "\u00e7\u0107\u010d", // çćč
            "C": "\u00c7\u0106\u010c", // ÇĆČ
            "i": "\u00ed\u00ec\u0130\u00ee\u00ef\u0131", // íìİîïı
            "I": "\u00cd\u00cc\u0130\u00ce\u00cf", // ÍÌİÎÏ
            "o": "\u00f3\u00f2\u00f4\u00f5\u00f6\u014d", // óòôõöō
            "O": "\u00d3\u00d2\u00d4\u00d5\u00d6\u014c", // ÓÒÔÕÖŌ
            "u": "\u00fa\u00f9\u00fb\u00fc\u016f", // úùûüů
            "U": "\u00da\u00d9\u00db\u00dc\u016e", // ÚÙÛÜŮ
            "S": "\u015E",
            "s": "\u015F"
        });

        jQuery.tablesorter.addParser({
            id: "fancyNumber",
            is: function (s) {
                return /^[0-9]?[0-9,\.]*$/.test(s);
            },
            format: function (s) {
                return jQuery.tablesorter.formatFloat(s.replace(/,/g, '.'));
            },
            type: "numeric"
        });

        var $table = $('#ogrenciList').tablesorter({
            theme: 'green',
            widgets: ["zebra", "filter"],
            sortLocaleCompare: true,
            ignoreCase: true,
            headers: {
                4: { sorter: "fancyNumber" },
                2: { sorter: "fancyNumber" }
            },
            sortInitialOrder: 'desc',
            sortList: [[3, 1]] // etc.
        });

        @if (!Model.DegerlendiriciMi && !(Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.SONHAL || Model.EnumDegerlendirmeAsama == EnumDegerlendirmeAsama.AKTARILDI))
        {
            Model.NotificationList.Add(new Notification("Hata","Bu ders için değerlendirme yetkiniz bulunmamaktadır!", Notification.MasterMesajTip.Hata));
        }

        @if (Model.NotificationList.Any(x=> x.MesajTipi == Notification.MasterMesajTip.Hata))
        {
            @:hataVar();
                                                                }
    });

    


</script>

@*<script src="~/assets/js/jquery.blockUI.min.js"></script>*@
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.25.0/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.25.0/js/widgets/widget-filter.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

@*<script type="text/javascript" src="https://www.google.com/jsapi"></script>*@
<script type="text/javascript" src="https://www.google.com/jsapi?autoload=
{'modules':[{'name':'visualization','version':'1.1','packages':
['corechart']}]}"></script>
<script type="text/javascript">

    $(document).ready(function(){
        if(!hata){
            // Load the Visualization API and the piechart package.
            //google.load('visualization', '1.0', { 'packages': ['corechart'] });

            // Set a callback to run when the Google Visualization API is loaded.
            google.setOnLoadCallback(drawChartMutlak);
            google.setOnLoadCallback(drawChartBagil);
            google.setOnLoadCallback(drawChartBirlesik);
        }
    });



    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChartMutlak() {

        // Create the data table.
        //var dataMutlak = new google.visualization.DataTable();
        //dataMutlak.addColumn('string', 'Harf');
        //dataMutlak.addColumn('number', 'Adet');
        console.log(@Html.Raw(ViewBag.MutlakGrafik));
        var dataMutlak = google.visualization.arrayToDataTable(@Html.Raw(ViewBag.MutlakGrafik));

        // Set chart options
        var optionsMutlak = {
            'title': 'Mutlak Değerlendirme',
            backgroundColor: { fill: '#eeeeee' },
            legend: { position: 'none' },
            theme: {
                chartArea: { width: '90%', },
                hAxis: { textPosition: 'out' }, vAxis: { textPosition: 'out' },
                titlePosition: 'out', axisTitlesPosition: 'in',
            }
        };

        // Instantiate and draw our chart, passing in some options.
        var chartMutlak = new google.visualization.ColumnChart(document.getElementById('chart_div_mutlak'));
        chartMutlak.draw(dataMutlak, optionsMutlak);
    }

    function drawChartBagil() {

        // Create the data table.
        var dataBagil = google.visualization.arrayToDataTable(@Html.Raw(ViewBag.BagilGrafik));

        // Set chart options
        var optionsBagil = {
            'title': 'Bağıl Değerlendirme',
            backgroundColor: { fill: '#eeeeee' },
            legend: { position: 'none' },
            theme: {
                chartArea: { width: '90%' },
                hAxis: { textPosition: 'out' }, vAxis: { textPosition: 'out' },
                titlePosition: 'out', axisTitlesPosition: 'in',
            }
        };

        var chartMutlak = new google.visualization.ColumnChart(document.getElementById('chart_div_bagil'));
        chartMutlak.draw(dataBagil, optionsBagil);
    }

    function drawChartBirlesik() {
        // Create the data table.
        var dataBirlesik = google.visualization.arrayToDataTable(@Html.Raw(ViewBag.BirlesikGrafik));

        // Set chart options
        var optionsBirlesik = {
            'title': 'Mutlak ve Bağıl',
            backgroundColor: { fill: '#eeeeee' },
            //legend: { position: 'none' },
            theme: {
                chartArea: { width: '70%', height: '80%' },
                hAxis: { textPosition: 'out' }, vAxis: { textPosition: 'out' },
                titlePosition: 'out', axisTitlesPosition: 'in',
            }
        };

        // Instantiate and draw our chart, passing in some options.
        var chartBirlesik = new google.visualization.ColumnChart(document.getElementById('chart_div_birlesik'));
        chartBirlesik.draw(dataBirlesik, optionsBirlesik);
    }

</script>
