﻿@using Dil = DilWebClient.Cevir

@{
    ViewBag.Title = "Ana";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
}

@Html.Action("_pAnaDersDetaylari", "Detay")

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.84/jsrender.min.js"></script>

@*@Html.Action("DersDetaylari", "Detay")*@
<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">
        Öğrenci Not Girişi
        <div class="pull-right">
            <input type="checkbox" id="cbOtomatikKaydet" style="width: 16px; height: 16px;" /> <span style="font-size: 16px;">@Dil.Getir("60_saniyede_bir_otomatik_kaydet")</span><br /><span id="lblSure" class="label label-default"></span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 pull-right">
                <div class="col-md-6">
                    @*<a class="btn btn-info btn-label" data-payid="" id="BtnYazdir" name="BtnYazdir" href=""><i class="fa fa-check"></i> Yazdır</a>*@
                    <button class="btn btn-success btn-label" id="BtnKaydet" name="BtnKaydet"><i class="fa fa-check"></i> Kaydet</button>
                    @*<a class="btn btn-inverse btn-label" href="/Ders/Detay/Ana/@dersPlanAnaID?Uyari=2"><i class="fa fa-times"></i> @Dil.Vazgec</a>
                        <a class="btn btn-primary btn-label" id="BtnGeriDon" name="BtnGeriDon" href="/Ders/Detay/Ana/@dersPlanAnaID"><i class="fa fa-undo"></i> @Dil.GeriDon</a>*@
                </div>
                @*<div class="col-md-6 text-right">
                    <input type="checkbox" id="cbOtomatikKaydet" style="width: 20px; height: 20px;" /> <span style="font-size: 20px;">Her 60 saniyede otomatik olarak kaydet</span>
                </div>*@
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <table class="table table-striped">
                    <thead id="tblNotBaslik"></thead>
                    <tbody id="tblNot"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">

        <div class="row">
            <div class="col-md-12" style="text-align:right">
                @*<a class="btn btn-info btn-label" data-payid="" id="BtnYazdir2" name="BtnYazdir2" href=""><i class="fa fa-check"></i> Yazdır</a>*@
                <button class="btn btn-success btn-label" id="BtnKaydet2" name="BtnKaydet"><i class="fa fa-check"></i> Kaydet</button>
            </div>
        </div>
    </div>
</div>

<script>
    var deger = '@TempData["degerler"]';
    var veri = { listPayID: deger, id: '@dersPlanAnaID' }
    var idListe = '@TempData["degerlerAd"]';

    var yil = @Sabitler.Yil;
    var donem = @Sabitler.Donem;

    var kullaniciAdi = '@Sabitler.KullaniciAdi';
</script>

<script src="~/Scripts/Areas/Ders/NotGiris/Ana.js?version=0"></script>

@*TEXTBOX STİL*@
<style>
    input {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid silver;
        width: 35px;
        padding: 3px;
        text-align: center;
    }
</style>
@*TEXTBOX STİL*@