﻿@using Dil = DilWebClient.Cevir

@model Sabis.Bolum.WebUI.Areas.Ders.Controllers.NotGirisController.ExcelModel
@{
    ViewBag.Title = "Not Girişi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
    var payList = Sabis.Bolum.Bll.SOURCE.ABS.DERS.PAYMAIN.GetirPayBilgileriv2(dersGrupHocaID, Sabitler.KullaniciAdi, Sabitler.IPAdresi);
}

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            @*<li>
                    <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i>
                </li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                    }
                    - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                </a>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li>Not Girişi</li>
        </ul>
    </div>
}

<div class="alert alert-dismissable alert-warning">
    <strong>BİLGİ!</strong> Aşağıda "Excel İndir" butonuna tıklayarak öğrenci listesini excel olarak indirebilirsiniz. Excel üzerinden öğrencilerin notlarını girdikten sonra "Excel Yükle" butonuna tıklayarak notları girebilirsiniz.
</div>

@Styles.Render("~/bundles/jquery-fileupload-styles")
@Scripts.Render("~/bundles/jquery-fileupload")

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.84/jsrender.min.js"></script>

<div class="panel panel-primary">
    <div class="panel-heading">
        @Dil.Getir("ogrenci_not_girisi")
        <div class="pull-right">
            <input type="checkbox" id="cbOtomatikKaydet" style="width: 16px; height: 16px;" /> <span style="font-size: 16px;">@Dil.Getir("60_saniyede_bir_otomatik_kaydet")</span><br /><span id="lblSure" class="label label-default"></span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row" style="margin-bottom: 20px; padding: 0 10px 0 10px">
            <div class="col-md-12" style="padding-left: 0;">
                <div class="col-md-8" style="padding-left: 0">

                    @if (!dersDetay.SonHalVerildiMi || payList.Any(x => x.EnumCalismaTipi == (int)Sabis.Enum.EnumCalismaTip.Butunleme))
                    {
                        <button class="btn btn-success btn-sm btn-label" id="BtnKaydet" name="BtnKaydet"><i class="fa fa-check"></i> @Dil.Getir("kaydet")</button>
                    }

                    <a class="btn btn-primary btn-sm btn-label" id="BtnGeriDon" name="BtnGeriDon" href="/Ders/Detay/Grup/@dersGrupHocaID">
                        <i class="fa fa-undo"></i> @Dil.Getir("geridon")
                    </a>

                </div>

                @if (!dersDetay.SonHalVerildiMi)
                {
                    <div class="col-md-4 text-right pull-right" style="padding-right:0;">
                        <a class="btn btn-warning btn-sm btn-label" id="btnExcelIndir" href="/Ders/NotGiris/ExcelIndir/@dersGrupHocaID?pay=@TempData["degerler"]&ad=@TempData["degerlerAd"]&dersAdi=@dersDetay.DersAd&dersGrup=@dersDetay.GrupAd"><i class="fa fa-cloud-download"></i> Excel İndir</a>

                        <span class="btn green btn-sm fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span> Excel Yükle </span>
                            <input id="fileupload" type="file" name="MyFile" multiple="" style="width: 100% !important; height: 40px !important;">
                        </span>
                    </div>
                }
            </div>


            <div class="col-md-12" style="margin-top: 20px;">
                <div class="row">
                    <table class="table table-striped table-bordered">
                        <thead id="tblNotBaslik"></thead>
                        <tbody id="tblNot"></tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    @if (!dersDetay.SonHalVerildiMi || payList.Any(x => x.EnumCalismaTipi == (int)Sabis.Enum.EnumCalismaTip.Butunleme))
                    {
                        <button class="btn btn-success btn-sm btn-label" id="BtnKaydet2" name="BtnKaydet"><i class="fa fa-check"></i> @Dil.Getir("kaydet")</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var deger = '@TempData["degerler"]';
    var veri = { listPayID: deger, id: '@dersGrupHocaID' };
    var idListe = '@TempData["degerlerAd"]';
    var dersgrupID = '@dersDetay.DersGrupID';
    var yil = @Sabitler.Yil;
    var donem = @Sabitler.Donem;
    var dersplanID = '@dersDetay.DersPlanID';
    var dersplananaID = '@dersDetay.DersPlanAnaID';
    var kullaniciAdi = '@Sabitler.KullaniciAdi';
</script>

<script src="~/Scripts/Areas/Ders/NotGiris/Grup.js?version=1"></script>

@*TEXTBOX STİL*@
<style>
    input {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid silver;
        width: 35px;
        padding: 3px;
        text-align: center;
    }
</style>
@*TEXTBOX STİL*@