﻿@model List<Tuple<int, string, string, bool>>
@using Dil = DilWebClient.Cevir
@{
    Layout = null;
}
@*@if (Model.Count < 5)
    {
        <div class="alert alert-danger">
            Öğretim üyeleri haricindeki personeller anket değerlendirmesine katılamaz. 5 kişi altındaki bölümlerde anket değerlendirmesi yapılamaz.
        </div>
    }
    else
    {*@
<div class="panel panel-green">
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        Fotoğraf
                    </th>
                    <th class="col-sm-11">
                        Öğretim Üyesi
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@FotografClient.Client.FotografGetir(item.Item3)" alt="@item.Item2" />
                        </td>
                        <td>
                            @item.Item2
                        </td>
                        <td class="text-center">
                            @if (item.Item4)
                            {
                                <span class="label label-info">Oylandı</span>
                            }
                            else
                            {
                                <a href="javascript:oyla(@item.Item1, '@item.Item2', '@FotografClient.Client.FotografGetir(item.Item3)');" class="btn btn-link">Anketi Oyla</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@* } *@