﻿@using Dil = DilWebClient.Cevir
@{
    Layout = null;
}
<style type="text/css">
    tr th.col-sm-1 {
        font-size: 20px;
        font-weight: bold;
    }
</style>

<div class="panel panel-danger">
    <div class="panel-body  table-responsive">
        <div class="row well well-sm">
            <img id="imgOylanacak" src="#" />&nbsp;
            <span id="lblOylanacak" style="font-size:20px; font-weight:bold;"></span>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-sm-4">
                        Anket Sorusu
                    </th>
                    <th class="col-sm-1">

                    </th>
                    <th class="col-sm-1">
                        😟😟
                    </th>
                    <th class="col-sm-1">
                        😟
                    </th>
                    <th class="col-sm-1">
                        😐
                    </th>
                    <th class="col-sm-1">
                        😊
                    </th>
                    <th class="col-sm-1">
                        😊😊
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Öğretim üyeleri ile iletişimi
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S1" value="-1" /> Fikrim Yok
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S1" value="0" /> Selam bile vermez
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S1" value="1" /> Sadece selamlaşır.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S1" value="2" /> Güler yüzlüdür, konuşur ama pek dinlemez
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S1" value="3" /> Güler yüzlüdür, dinler ve sözü dinlenir
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S1" value="4" /> Güler yüzlü, yapıcı ve paylaşımcıdır.
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Bölüm toplantılarına devamlılığı (mazeret bildirimi hariç
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S2" value="-1" /> Fikrim Yok
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S2" value="0" /> Katılmaz veya hemen hemen hiç katılmaz.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S2" value="1" /> Az katılır.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S2" value="2" /> Çoğuna katılır ancak zamanında gelmez.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S2" value="3" /> Hepsine katılır ancak zamanında gelmez.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S2" value="4" /> Hepsine tam zamanında katılır
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Karşılaşılan sorunlarda yapıcı katkısı
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S3" value="-1" /> Fikrim Yok
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S3" value="0" /> Öneri yapmaz. Her şeye karşı çıkar.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S3" value="1" /> Öneri yapmaz.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S3" value="2" /> Çoğu kez uygulanamayacak olan önerilerde bulunur.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S3" value="3" /> Önerileri ufak düzeltmelerle uygulanabilir.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S3" value="4" /> Önerileri doğrudan uygulanabilir.
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Verilen görevleri zamanında tamamlama
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S4" value="-1" /> Fikrim Yok
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S4" value="0" /> Görev almaktan kaçınır.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S4" value="1" /> Gecikmeyle ve görevi tam olarak yerine getirmez.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S4" value="2" /> Gecikmeyle görevi tamamlar.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S4" value="3" /> Az gecikmeyle tamamlar.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S4" value="4" /> Tam zamanında ya da zamanından önce tamamlar.
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Erişilebilirlik (Ders, toplantı, görevlendirme vb. dışında)
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S5" value="-1" /> Fikrim Yok
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S5" value="0" /> Ders günü haricinde odasında bulunmaz
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S5" value="1" /> Çoğu kez odasında bulunmaz
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S5" value="2" /> Genellikle odasındadır.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S5" value="3" /> Çoğu kez odasındadır.
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="S5" value="4" /> Kolayca erişilebilir.
                        </label>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="text-right">
                        <button type="button" class="btn btn-inverse" onclick="panelToggle();">İptal</button>
                        <button type="button" class="btn btn-success" onclick="anketKaydet(@ViewBag.HedefPersonelID);">Kaydet</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>





