﻿@{
    ViewBag.Title = "Anket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Anket Doldur</li>
        </ul>
    </div>
}
<style type="text/css">
    td img {
        height: 100px;
    }
</style>

@if (ViewBag.OylamaAcik)
{
    <div id="panelUyeler"></div>

    <div id="panelOyla" style="display:none;"></div>
    <script type="text/javascript">

        function oyla(hedefPersonelID, adSoyad, foto) {
            $("#panelOyla").load('@Url.Action("_Oyla", "Liste")', { HedefPersonelID: hedefPersonelID }, function () {
                panelToggle();
                $("#imgOylanacak").attr('src', foto);
                $("#lblOylanacak").text(adSoyad);
            });
        }

        function panelToggle() {
            $("#panelUyeler").toggle('slow');
            $("#panelOyla").toggle('slow');
        }

        function anketKaydet(hedefPersonelID) {
            var params = {
                HedefPersonelID: hedefPersonelID,
                S1: $("input[name='S1']:checked").val(),
                S2: $("input[name='S2']:checked").val(),
                S3: $("input[name='S3']:checked").val(),
                S4: $("input[name='S4']:checked").val(),
                S5: $("input[name='S5']:checked").val()
            }

            $.post('@Url.Action("Kaydet","Liste")', params)
            .done(function (data) {
                console.log(data);
                //uys_show_notify(data.MessageHeader, data.MessageType, data.MessageText);
                if (data.MessageType == "success") {
                    toastr.success(data.MessageText);
                    panelToggle();
                    uyeleriYukle();
                } else {
                    toastr.error(data.MessageText);
                }
            });
        }

        function uyeleriYukle() {
            $("#panelUyeler").load('@Url.Action("_Liste", "Liste")');
        }

        $(function () {
            uyeleriYukle();
        });

    </script>

}
else
{
    <span>Anket oylamaya kapalıdır!</span>
}