﻿@{
    int sonrakiYil = 0;
    if (!string.IsNullOrEmpty(Convert.ToString(Session["yil"])))
    {
        sonrakiYil = Convert.ToInt32(Session["yil"]) + 1;
    }
    else
    {
        sonrakiYil = Sabitler.Yil + 1;
    }
}

@if (ViewBag.Home == true)
{
    <div class="btn-group pull-right btn-sm-block btn-xs-block">
        <a class="btn default btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            Yıl ve Dönem
            @if (!string.IsNullOrEmpty(Convert.ToString(Session["yil"])) && !string.IsNullOrEmpty(Convert.ToString(Session["donem"])))
            {
                @Session["yil"] <span>-</span> @sonrakiYil <span> </span> @Session["donem"].ToString().Replace("1", "Güz").Replace("2", "Bahar").Replace("3", "Yaz")
            }
            else
            {
                @Sabitler.Yil <span>-</span> @sonrakiYil <span> </span> @Sabitler.Donem.ToString().Replace("1", "Güz").Replace("2", "Bahar").Replace("3", "Yaz")
            }
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
            <li><a class="btnDonem" data-yil="2018" data-donem="1">2018 - 2019 Güz Dönemi</a></li>
            <li><a class="btnDonem" data-yil="2017" data-donem="2">2017 - 2018 Bahar Dönemi</a></li>
            <li><a class="btnDonem" data-yil="2017" data-donem="1">2017 - 2018 Güz Dönemi</a></li>
            <li><a class="btnDonem" data-yil="2016" data-donem="3">2016 - 2017 Yaz Dönemi</a></li>
            <li><a class="btnDonem" data-yil="2016" data-donem="2">2016 - 2017 Bahar Dönemi</a></li>
            <li><a class="btnDonem" data-yil="2016" data-donem="1">2016 - 2017 Güz Dönemi</a></li>
            @*<li><a class="btnDonem" data-yil="2015" data-donem="3">2015 - 2016 Yaz Dönemi</a></li>*@
            @*<li><a class="btnDonem" data-yil="2015" data-donem="2">2015 - 2016 Bahar Dönemi</a></li>
            <li><a class="btnDonem" data-yil="2015" data-donem="1">2015 - 2016 Güz Dönemi</a></li>*@ 
        </ul>
    </div>
}

<script>
    $(document).on("click", ".btnDonem", function () {
        $.post("/Home/DonemDegistir", { yil: $(this).attr("data-yil"), donem: $(this).attr("data-donem") })
            .success(function (json) {
                if (json) {
                    window.location.reload();
                }
            });
    });
</script>