﻿@model Sabis.Bolum.Core.EBS.BIRIM.SecmeliIntibakOlusturDto
@{
    Layout = null;
}
<input type="hidden" id="captanimid" value="@Model.FKCapTanimID" />
<input type="hidden" id="anaetiketid" value="@Model.FKAnaEtiketID" />
<input type="hidden" id="saatbilgiid" value="@ViewBag.FKSaatBilgiID" />
<div class="row">
    <div class="col-lg-12">
        <div class="form-body">

            <div class="form-group">
                <label class="col-lg-4 control-label">Ders</label>
                <div class="col-lg-8">
                    @Model.EtiketAd
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-lg-4 control-label">İntibak Dersi</label>
                <div class="col-lg-8">
                    @Html.DropDownList("ddlSecmeliDersPlan", new SelectList(ViewBag.secmeliplanlar, "Value", "Text", "Ana Birim Seç"), new { @class = "form-control" })
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-lg-4 control-label">Adet</label>
                <div class="col-lg-8">
                    <input type="text" multiple id="txtAdet" width="300px">
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-lg-4 control-label"></label>
                <div class="col-lg-8 right">
                    <a href="javascript:;" id="SecmeliPlanKaydet" class="btn btn-success SecmeliPlanKaydet"><i class="fa fa-plus"></i> Kaydet</a>
                </div>
            </div>

        </div>
    </div>
</div>