﻿@model Sabis.Bolum.Core.EBS.BIRIM.IntibakOlusturDto
@{
    Layout = null;
}
<input type="hidden" id="captanimid" value="@Model.FKCapTanimID"/>
<input type="hidden" id="capplanid" value="@Model.FKDersPlanID" />
<div class="row">
    <div class="col-lg-12">
        <div class="form-body">

            <div class="form-group">
                <label class="col-lg-4 control-label">Ders</label>
                <div class="col-lg-8">
                    @Model.FKDersPlanAd
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-lg-4 control-label">İntibak Dersi</label>
                <div class="col-lg-8">
                    @Html.DropDownList("ddlCapDersPlan", new SelectList(ViewBag.planlar, "Value", "Text", "Ana Birim Seç"), new { @class = "form-control" })
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-lg-4 control-label">Aciklama</label>
                <div class="col-lg-8">
                    <input type="text" multiple id="txtAciklama" width="300px">
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-lg-4 control-label"></label>
                <div class="col-lg-8 right">
                    <a href="javascript:;" id="CapPlanKaydet" class="btn btn-success CapPlanKaydet"><i class="fa fa-plus"></i> Kaydet</a>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

        //$(document).on("click", ".CapPlanKaydet", function () {
        //    alert("test");
        //    var FKCapTanimid = $("#captanimid").val();
        //    var FKDersPlanid = $("#capplanid").val();

        //    var FKCapDersPlanid = $("#ddlCapDersPlan").val();

        //    $.post("/EBS/BolumDersPlan/_IntibakKaydet", { FKCapTanimID: FKCapTanimid, FKDersPlanID: FKDersPlanid, FKCapDersPlanID: FKCapDersPlanid })
        //     .success(function (json) {
        //         if (json) {
        //             toastr.info("Başarılı!");
        //             $('#GeneralModalBox').modal('hide');
        //             //  $.post("/EBS/BolumDersPlan/CapDerslerGetir", { FKCapTanimID: FKCapTanimid })
        //             //.success(function (json) {
        //             //    if (json) {
        //             //        $("#capdersplanlar").empty();
        //             //        $.each(json, function (i, val) {
        //             //            $("#capdersplanlar").append('<tr><td>' + val.DersAd + ' ' + (val.FKDersPlanID) + '</td><td>' + val.Yariyil + '</td><td>' + val.DersSaat + '</td><td>' + val.AKTS + '</td><td><a href="javascript:;" class="btn btn-xs btn-success" data-title="İntibak Oluştur" data-toggle="tooltip modal" data-source="/EBS/BolumDersPlan/_IntibakOlustur?FKCapTanimID=' + FKCapTanimid + '&FKAnaDersPlanID=' + val.FKDersPlanID + '&FKAltBirimID=3" data-size="30" data-backdrop="true" data-keyboard="true" data-original-title="" title="">intibak oluştur</a></td></tr>');
        //             //        });
        //             //    } else {
        //             //        toastr.error("Bir hata oluştu.");
        //             //    }
        //             //});

        //             //  $.post("/EBS/BolumDersPlan/IntibakDerslerGetir", { FKCapTanimID: FKCapTanimid })
        //             // .success(function (json) {
        //             //     if (json) {
        //             //         $("#intibakdersplanlar").empty();
        //             //         $.each(json, function (i, val) {
        //             //             $("#intibakdersplanlar").append('<tr><td>' + val.FKAnaDersPlanAnaAd + ' ' + (val.FKAnaDersPlanID) + '</td><td>' + val.Yariyil + '</td><td>' + val.DersSaat + '</td><td>' + val.AKTS + '</td><td>' + val.FKCapDersPlanAnaAd + ' ' + (val.FKCapDersPlanID) + '</td><td><a href="javascript:;" class="btn btn-xs btn-danger btnIntibakPlanSil" data-capdersplan="' + val.ID + '" data-captanimid="' + val.FKCapTanimID + '"><i class="fa fa-remove"></i></a></td></tr>');
        //             //         });
        //             //     } else {
        //             //         toastr.error("Bir hata oluştu.");
        //             //     }
        //             // });
        //         }
        //         else {
        //             toastr.info("_Hata Oluştu! Tanım Eklenmemiş Olabilir.");
        //         }
        //     });
        //});

   
</script>

