﻿
@{
    Layout = null;
}
<link href="~/Content/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-lg-12">
        <div class="form-body">

            <div class="form-group">
                <label class="col-md-2 control-label">Ana Birim</label>
                <div class="col-md-10">
                    @Html.DropDownList("ddlAnaBirim1", new SelectList(ViewBag.birimler, "Value", "Text", "Ana Birim Seç"), new { @class = "form-control" })
                </div>
            </div>



            
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-2 control-label">Çap Birim</label>
                <div class="col-md-10">
                    @Html.DropDownList("ddlCapBirim1", new SelectList(ViewBag.birimler, "Value", "Text", "Ana Birim Seç"), new { @class = "form-control" })
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-2 control-label">Kontenjan</label>
                <div class="col-md-10">
                    <input type="text" multiple id="txtKontenjan" width="20px">
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-10 right">
                    <a href="javascript:;" id="CapTanimKaydet" class="btn btn-success"><i class="fa fa-plus"></i> Kaydet</a>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $("#CapTanimKaydet").click(function () {
        var data = {
            EnumGecisTipi: 1,
            FKAnaBirimID: $("#ddlAnaBirim1").val(),
            FKAltBirimID: $("#ddlCapBirim1").val(),
            kontenjan : $("#txtKontenjan").val()
        };
        if (data.kontenjan.length) {
            $.post("/EBS/BolumDersPlan/CapTanimKaydet", data)
                .success(function (json) {
                    if (json) {
                        toastr.success("Tanım Eklendi.");
                        $('#GeneralModalBox').modal('hide');
                    } else {
                        toastr.error("Bir hata oluştu. Tanım daha önceden eklenmiş olabilir.");
                    }
                });
        }
        else {
            toastr.error("Kontenjan Girin.");
        }
        
    });

</script>



