﻿@model Sabis.Bolum.Core.EBS.BIRIM.CapTanimDuzenleDto
@{
    Layout = null;
}

<input type="hidden" id="captanimID" value="@Model.FKCapTanimID" />
<input type="hidden" id="anabirimID" value="@Model.AnaBolumID"/>
<input type="hidden" id="altbirimID" value="@Model.AltBolumID" />
<div class="row">
    <div class="col-lg-12">
        <div class="form-body">

            <div class="form-group">
                <label class="col-md-3 control-label">Ana Birim</label>
                <div class="col-md-9">
                    <label>@Model.AnaBolumAd</label>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-3 control-label">Çap Birim</label>
                <div class="col-md-9">
                    <label>@Model.AltBolumAd</label>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-3 control-label">Kontenjan</label>
                <div class="col-md-9">
                    @Html.TextBox("txtKontenjanDuzenle",Model.Kontenjan)
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9 right">
                    <a href="javascript:;" id="CapTanimDuzenle" class="btn btn-success"><i class="fa fa-plus"></i> Kaydet</a>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $("#CapTanimDuzenle").click(function () {
        
        $.post("/EBS/BolumDersPlan/CapTanimDuzenle", { FKCapTanimID: $("#captanimID").val(), FKAnaBirimID: $("#anabirimID").val(), FKAltBirimID: $("#altbirimID").val(), Kontenjan: $("#txtKontenjanDuzenle").val() })
                .success(function (json) {
                    if (json) {
                        toastr.success("Çap Tanım Güncellendi.");
                        $('#GeneralModalBox').modal('hide');
                        location.reload();
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
    });

</script>
