﻿@{
    Layout = null;
    var duzenlemeIzni = ViewBag.DuzenlemeIzin;
}

<input type="hidden" id="hdnCapTanimID" value="" />
<div class="row">
    <div class="col-lg-3">
        <select id="ddlFakulte" class="form-control birimSec">
            <option>Fakülte Seçiniz</option>
        </select>
    </div>
    <div class="col-lg-3">
        <select id="ddlBolum" class="form-control birimSec">
            <option>Bölüm Seçiniz</option>
        </select>

    </div>
    <div class="col-lg-3">
        <a href="javascript:;" class="btn blue capTanimListele">
            <i class="fa fa-file-o"></i> Öğrenci Alınabilecek Bölümleri Listele
        </a>
    </div>
    <br />
    <br />
    <br />
    <h3 class="_loading" style="display:none;s"><span class="text-info">Yükleniyor...</span></h3>
    <div id="capBirimler">
        <div class="col-lg-12">
            
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-paper-plane font-yellow-casablanca"></i>
                        <span class="caption-subject bold font-yellow-casablanca uppercase"> Öğrenci Alınabilecek Bölümler </span>
                        <span class="caption-helper"></span>
                    </div>

                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th style="width:39%">Fakülte Ad</th>
                                <th style="width:41%">Bölüm Ad</th>
                                <th style="width:6%" class="text-center">Ders Adedi</th>
                                <th style="width:8%" class="text-center">Toplam AKTS</th>
                                <th style="width:6%" class="text-center">Kontenjan</th>
                            </tr>
                        </thead>
                        <tbody id="captanimprogram">
                            <tr>
                                @*<td class="highlight"><a href="javascript:;"> Fakülte </a></td>*@
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
    </div>
    <div id="capPlanlar">
        <div class="col-lg-6">
            <div class="m-heading-1 border-green m-bordered">
                <p>Yukarıda Seçilen Anadal Programı Doğrultusunda;</p>
                <h4><span id="lblFakulte"></span> / <span id="lblBolum"></span></h4>
                <p class="font-red-mint">
                    ÇAP Dersleri aşağıda listelenmiştir.
                </p>
            </div>
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-pin font-yellow-crusta"></i>
                        <span class="caption-subject bold"> ÇAP Dersleri</span>
                        <span class="caption-helper"></span>
                    </div>

                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th style="width:60%">Ders Ad</th>
                                <th style="width:10%">Yarıyıl</th>
                                <th style="width:15%" class="text-center">Ders Saat</th>
                                <th style="width:5%" class="text-center">AKTS</th>
                                <th style="width:10%" class="text-center">İşlem</th>

                            </tr>
                        </thead>
                        <tbody id="capdersplanlar"></tbody>
                    </table>
                </div>
            </div>
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-pin font-yellow-crusta"></i>
                        <span class="caption-subject bold"> ÇAP Seçmeli Dersleri</span>
                        <span class="caption-helper"></span>
                    </div>

                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th style="width:75%">Ders Ad</th>
                                <th style="width:10%">Yarıyıl</th>
                                <th style="width:5%" class="text-center">AKTS</th>
                                <th style="width:10%" class="text-center">İşlem</th>

                            </tr>
                        </thead>
                        <tbody id="capsecmelidersplanlar"></tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="m-heading-1 border-green m-bordered">
                <p>Yukarıda Seçilen Anadal Programı Doğrultusunda;</p>
                <h4><span id="lblFakulte1"></span> / <span id="lblBolum1"></span></h4>
                <p class="font-red-mint">
                    İçin intibak Yapılan Dersler Aşağıda Listelenmiştir.
                </p>
            </div>
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-share font-green-sharp"></i>
                        <span class="caption-subject bold"> İntibak Yapılan Dersler</span>
                        <span class="caption-helper"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th style="width:35%">Ders Ad</th>
                                <th style="width:5%">Yarıyıl</th>
                                <th style="width:5%" class="text-center">AKTS</th>
                                <th style="width:40%" class="text-center">İntibak Dersi</th>
                                <th style="width:5%">Yarıyıl</th>
                                <th style="width:5%" class="text-center">AKTS</th>
                                <th style="width:5%" class="text-center">İşlem</th>

                            </tr>
                        </thead>
                        <tbody id="intibakdersplanlar"></tbody>
                    </table>
                </div>
            </div>






            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-share font-green-sharp"></i>
                        <span class="caption-subject bold"> İntibak Yapılan Seçmeli Dersler</span>
                        <span class="caption-helper"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th style="width:40%">Ders Ad</th>
                                <th style="width:5%">Yarıyıl</th>
                                <th style="width:5%" class="text-center">DersSaat</th>
                                <th style="width:5%" class="text-center">AKTS</th>
                                <th style="width:5%" class="text-center">Adet</th>
                                <th style="width:35%" class="text-center">İntibak Dersi</th>
                                <th style="width:5%" class="text-center">İşlem</th>

                            </tr>
                        </thead>
                        <tbody id="intibaksecmelidersplanlar"></tbody>
                    </table>
                </div>
            </div>







        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var yil = $("#hdnYil").val();
        $("#ddlYear").val(yil);
        $("#capBirimler").hide();
        $("#capPlanlar").hide();
        $.post("/EBS/BolumDersPlan/FakulteGetir")
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlFakulte").append('<option value="' + val.ID + '">' + val.BirimAdi + '</option>');
                    });
                });
    });

    var FKBolumID;

    $("#ddlFakulte").on("change", function () {
        $("#capBirimler").hide();
        $("#capPlanlar").hide();
        var year = $("#ddlYear").val();
        var FKFakulteID = $("#ddlFakulte").val();
        $.post("/EBS/BolumDersPlan/BolumGetir", { FKFakulteID: FKFakulteID })
                .success(function (json) {
                    if (json) {
                        $("#ddlBolum").empty();
                        $.each(json, function (i, val) {
                            $("#ddlBolum").append('<option value="' + val.ID + '">' + val.BirimAdi + '(' + val.ID + ')</option>');

                        });
                        FKBolumID = $("#ddlBolum").val();
                        $("._loading").show();
                        $.post("/EBS/BolumDersPlan/CapProgramListe", { FKAnaBirimID: FKBolumID, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("._loading").hide();
                        $("#capBirimler").show();
                        $("#captanimprogram").empty();
                        $.each(json, function (i, val) {
                            //$("#captanimprogram").append('<tr clas="rowCapTanim" onclick="CapTanimSec(' + val.FKCapTanimID + ');" data-id="' + val.FKCapTanimID + '"><td clas="tdCapTanim">' + val.FakulteAd + '</td><td style="text-primary">' + val.BolumAd + ' ('+val.FKBolumID +')' + '</td><td style="text-primary">' + val.DersAdedi + '</td><td>' + val.AKTS + '</td><td>' + val.Kontenjan + '</td></tr>');
                            if ('@duzenlemeIzni' == 'True') {
                                $("#captanimprogram").append('<tr clas="rowCapTanim"  data-id="' + val.FKCapTanimID + '"><td clas="tdCapTanim" onclick="CapTanimSec(' + val.FKCapTanimID + ');"><p class="text-info">' + val.FakulteAd + '</p></td><td style="text-primary">' + val.BolumAd + ' (' + val.FKBolumID + ')' + '</td><td style="text-primary">' + val.DersAdedi + '</td><td>' + val.AKTS + '</td><td><input type="text" class="kontenjanUpdate" data-captanimid="' + val.FKCapTanimID + '" id="' + val.FKCapTanimID + '" value="' + val.Kontenjan + '"></td></tr>');
                            }
                            else {
                                $("#captanimprogram").append('<tr clas="rowCapTanim"  data-id="' + val.FKCapTanimID + '"><td clas="tdCapTanim" onclick="CapTanimSec(' + val.FKCapTanimID + ');"><p class="text-info">' + val.FakulteAd + '</p></td><td style="text-primary">' + val.BolumAd + ' (' + val.FKBolumID + ')' + '</td><td style="text-primary">' + val.DersAdedi + '</td><td>' + val.AKTS + '</td><td>'+val.Kontenjan+'</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
    });

    $("#ddlBolum").on("change", function () {
        var year = $("#ddlYear").val();
        $("#capBirimler").hide();
        $("#capPlanlar").hide();
        var FKAnaBirimid = $("#ddlBolum").val();
        $.post("/EBS/BolumDersPlan/CapProgramListe", { FKAnaBirimID: FKAnaBirimid, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("#capBirimler").show();
                        $("#captanimprogram").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#captanimprogram").append('<tr class="rowCapTanim"  data-id="' + val.FKCapTanimID + '"><td onclick="CapTanimSec(' + val.FKCapTanimID + ');"><p class="text-info">' + val.FakulteAd + '</p></td><td>' + val.BolumAd + ' (' + val.FKBolumID + ')' + '</td><td>' + val.DersAdedi + '</td><td>' + val.AKTS + '</td><td><input type="text" class="kontenjanUpdate" data-captanimid="' + val.FKCapTanimID + '" id="' + val.FKCapTanimID + '" value="' + val.Kontenjan + '"></td></tr>');
                            }
                            else {
                                $("#captanimprogram").append('<tr class="rowCapTanim"  data-id="' + val.FKCapTanimID + '"><td onclick="CapTanimSec(' + val.FKCapTanimID + ');"><p class="text-info">' + val.FakulteAd + '</p></td><td>' + val.BolumAd + ' (' + val.FKBolumID + ')' + '</td><td>' + val.DersAdedi + '</td><td>' + val.AKTS + '</td><td>'+ val.Kontenjan+'</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
    });

    function CapTanimSec(capID) {
        $("#capBirimler").hide();
        var FKCapTanimid = capID;
        $("#hdnCapTanimID").val(capID);
        var FKAnaBirimid = $("ddlBolum").val();
        var year = $("#ddlYear").val();
        $.post("/EBS/BolumDersPlan/CapProgramBilgi", { FKCapTanimID: FKCapTanimid })
                .success(function (json) {
                    if (json) {
                        $("#lblFakulte").html(json.AnaFakulteAd);
                        $("#lblBolum").html(json.AnaBolumAd);
                        $("#lblFakulte1").html(json.FakulteAd);
                        $("#lblBolum1").html(json.BolumAd);
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
        $.post("/EBS/BolumDersPlan/CapDerslerGetir", { FKCapTanimID: FKCapTanimid, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("#capdersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#capdersplanlar").append('<tr><td>' + val.DersAd + ' (' + val.FKDersPlanID + ')' + '</td><td>' + val.Yariyil + '</td><td>' + val.DersSaat + '</td><td>' + val.AKTS + '</td><td><a href="javascript:;" class="btn btn-xs btn-success" data-title="İntibak Oluştur" data-toggle="tooltip modal" data-source="/EBS/BolumDersPlan/_IntibakOlustur?FKCapTanimID=' + val.FKCapTanimID + '&FKAnaDersPlanID=' + val.FKDersPlanID + '&Yil=' + year + '" data-size="30" data-backdrop="true" data-keyboard="true" data-original-title="" title="">intibak oluştur</a></td></tr>');
                            }
                            else {
                                $("#capdersplanlar").append('<tr><td>' + val.DersAd + ' (' + val.FKDersPlanID + ')' + '</td><td>' + val.Yariyil + '</td><td>' + val.DersSaat + '</td><td>' + val.AKTS + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });

        $.post("/EBS/BolumDersPlan/CapSecmeliDerslerGetir", { FKCapTanimID: FKCapTanimid, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("#capsecmelidersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#capsecmelidersplanlar").append('<tr><td>' + val.Etiket + ' (' + val.Sayi + ' adet)' + '</td><td>' + val.YariYil + '</td><td>' + val.AKTS + '</td><td><a href="javascript:;" class="btn btn-xs btn-success" data-title="Seçmeli İntibak Oluştur" data-toggle="tooltip modal" data-source="/EBS/BolumDersPlan/_IntibakOlusturSecmeli?FKCapTanimID=' + FKCapTanimid + '&FKAnaEtiketID=' + val.FKEtiketID + '&Yil=' + year + '&FKSaatBilgiID=' + val.FKSaatBilgiID + '" data-size="30" data-backdrop="true" data-keyboard="true" data-original-title="" title="">intibak oluştur</a></td></tr>');
                            }
                            else {
                                $("#capsecmelidersplanlar").append('<tr><td>' + val.Etiket + ' (' + val.Sayi + ' adet)' + '</td><td>' + val.YariYil + '</td><td>' + val.AKTS + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });


        //$.post("/EBS/BolumDersPlan/EBSDersPlanGetir", { FKCapTanimID: FKCapTanimid, Yil: year })
        //        .success(function (json) {
        //            if (json) {

        //            } else {
        //                toastr.error("Bir hata oluştu.");
        //            }
        //        });



        $.post("/EBS/BolumDersPlan/IntibakDerslerGetir", { FKCapTanimID: FKCapTanimid, Yil: $("#ddlYear").val() })
                .success(function (json) {
                    if (json) {
                        $("#intibakdersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#intibakdersplanlar").append('<tr><td>' + val.FKCapDersPlanAnaAd + '</td><td>' + val.Yariyil + '</td><td>' + val.AKTS + '</td><td>' + val.FKAnaDersPlanAnaAd + '</td><td>' + val.YariyilAna + '</td><td>' + val.AKTSAna + '</td><td><a href="javascript:;" class="btn btn-xs btn-danger btnIntibakPlanSil" data-capdersplan="' + val.ID + '" data-captanimid="' + val.FKCapTanimID + '"><i class="fa fa-remove"></i></a></td></tr>');
                            }
                            else {
                                $("#intibakdersplanlar").append('<tr><td>' + val.FKCapDersPlanAnaAd + ' </td><td>' + val.Yariyil + '</td><td>' + val.AKTS + '</td><td>' + val.FKAnaDersPlanAnaAd + '</td><td>' + val.YariyilAna + '</td><td>' + val.AKTSAna + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });


        $.post("/EBS/BolumDersPlan/IntibakSecmeliDerslerGetir", { FKCapTanimID: FKCapTanimid, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("#intibaksecmelidersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#intibaksecmelidersplanlar").append('<tr><td>' + val.CapEtiket + '</td><td>' + val.YariYil + '</td><td>-</td><td>' + val.AKTS + '</td><td>' + val.Adet + '</td><td>' + val.AnaEtiket + '</td><td><a href="javascript:;" class="btn btn-xs btn-danger btnIntibakSecmeliPlanSil" data-id="' + val.ID + '" data-captanimid="' + val.FKCapTanimID + '"><i class="fa fa-remove"></i></a></td></tr>');
                            }
                            else {
                                $("#intibaksecmelidersplanlar").append('<tr><td>' + val.CapEtiket + '</td><td>' + val.YariYil + '</td><td>-</td><td>' + val.AKTS + '</td><td>' + val.Adet + '</td><td>' + val.AnaEtiket + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });



        $("#capPlanlar").show();
    };

    $(document).on("click", ".capTanimListele", function () {
        $("#capBirimler").hide();
        $("#capPlanlar").hide();
        var year = $("#ddlYear").val();
        var FKAnaBirimid = $("#ddlBolum").val();
        $.post("/EBS/BolumDersPlan/CapProgramListe", { FKAnaBirimID: FKAnaBirimid, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("#capBirimler").show();
                        $("#captanimprogram").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#captanimprogram").append('<tr class="rowCapTanim"  data-id="' + val.FKCapTanimID + '"><td onclick="CapTanimSec(' + val.FKCapTanimID + ');"><p class="text-info">' + val.FakulteAd + '</p></td><td>' + val.BolumAd + ' (' + val.FKBolumID + ')' + '</td><td>' + val.DersAdedi + '</td><td>' + val.AKTS + '</td><td><input type="text" class="kontenjanUpdate" data-captanimid="' + val.FKCapTanimID + '" id="' + val.FKCapTanimID + '" value="' + val.Kontenjan + '"></td></tr>');
                            }
                            else {
                                $("#captanimprogram").append('<tr class="rowCapTanim"  data-id="' + val.FKCapTanimID + '"><td onclick="CapTanimSec(' + val.FKCapTanimID + ');"><p class="text-info">' + val.FakulteAd + '</p></td><td>' + val.BolumAd + ' (' + val.FKBolumID + ')' + '</td><td>' + val.DersAdedi + '</td><td>' + val.AKTS + '</td><td>'+val.Kontenjan+'</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
    });

    $(document).on("click", ".btnIntibakPlanSil", function () {
        var response = confirm("İntibak Ders Planlarından Silinecektir! Onaylıyor musunuz?");
        if (response) {
            var id = $(this).attr("data-capdersplan");
            var captanimid = $(this).attr("data-captanimid");

            $.post("/EBS/BolumDersPlan/IntibakPlanSil", { ID: id })
             .success(function (json) {
                 if (json) {
                     toastr.info("İntibak Plan Silindi");
                     $.post("/EBS/BolumDersPlan/CapDerslerGetir", { FKCapTanimID: captanimid, Yil: $("#ddlYear").val() })
                .success(function (json) {
                    if (json) {
                        $("#capdersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#capdersplanlar").append('<tr><td>' + val.DersAd + ' ' + (val.FKDersPlanID) + '</td><td>' + val.Yariyil + '</td><td>' + val.DersSaat + '</td><td>' + val.AKTS + '</td><td><a href="javascript:;" class="btn btn-xs btn-success" data-title="İntibak Oluştur" data-toggle="tooltip modal" data-source="/EBS/BolumDersPlan/_IntibakOlustur?FKCapTanimID=' + val.FKCapTanimID + '&FKAnaDersPlanID=' + val.FKDersPlanID + '&Yil=' + $("#ddlYear").val() + '" data-size="30" data-backdrop="true" data-keyboard="true" data-original-title="" title="">intibak oluştur</a></td></tr>');
                            }
                            else {
                                $("#capdersplanlar").append('<tr><td>' + val.DersAd + ' ' + (val.FKDersPlanID) + '</td><td>' + val.Yariyil + '</td><td>' + val.DersSaat + '</td><td>' + val.AKTS + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });





                     $.post("/EBS/BolumDersPlan/IntibakDerslerGetir", { FKCapTanimID: captanimid, Yil: $("#ddlYear").val() })
                .success(function (json) {
                    if (json) {
                        $("#intibakdersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#intibakdersplanlar").append('<tr><td>' + val.FKCapDersPlanAnaAd + '</td><td>' + val.Yariyil + '</td><td>' + val.AKTS + '</td><td>' + val.FKAnaDersPlanAnaAd + '</td><td>' + val.YariyilAna + '</td><td>' + val.AKTSAna + '</td><td><a href="javascript:;" class="btn btn-xs btn-danger btnIntibakPlanSil" data-capdersplan="' + val.ID + '" data-captanimid="' + val.FKCapTanimID + '"><i class="fa fa-remove"></i></a></td></tr>');
                            }
                            else {
                                $("#intibakdersplanlar").append('<tr><td>' + val.FKCapDersPlanAnaAd + '</td><td>' + val.Yariyil + '</td><td>' + val.AKTS + '</td><td>' + val.FKAnaDersPlanAnaAd + '</td><td>' + val.YariyilAna + '</td><td>' + val.AKTSAna + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
                 }
             });
        }

    });

    $(document).on("click", ".btnIntibakSecmeliPlanSil", function () {
        var response = confirm("İntibak Seçmeli Ders Planlarından Silinecektir! Onaylıyor musunuz?");
        if (response) {
            var secmelitanimid = $(this).attr("data-id");
            var captanimid = $(this).attr("data-captanimid");
            $.post("/EBS/BolumDersPlan/IntibakSecmeliPlanSil", { ID: secmelitanimid })
             .success(function (json) {
                 if (json) {
                     toastr.info("İntibak Seçmeli Plan Silindi");
                     $.post("/EBS/BolumDersPlan/IntibakSecmeliDerslerGetir", { FKCapTanimID: captanimid, Yil: $("#ddlYear").val() })
                .success(function (json) {
                    if (json) {
                        $("#intibaksecmelidersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#intibaksecmelidersplanlar").append('<tr><td>' + val.CapEtiket + '</td><td>' + val.YariYil + '</td><td>-</td><td>' + val.AKTS + '</td><td>' + val.Adet + '</td><td>' + val.AnaEtiket + '</td><td><a href="javascript:;" class="btn btn-xs btn-danger btnIntibakSecmeliPlanSil" data-id="' + val.ID + '" data-captanimid="' + val.FKCapTanimID + '"><i class="fa fa-remove"></i></a></td></tr>');
                            }
                            else {
                                $("#intibaksecmelidersplanlar").append('<tr><td>' + val.CapEtiket + '</td><td>' + val.YariYil + '</td><td>-</td><td>' + val.AKTS + '</td><td>' + val.Adet + '</td><td>' + val.AnaEtiket + '</td><td>-</td></tr>');
                            }

                        });


                        $.post("/EBS/BolumDersPlan/CapSecmeliDerslerGetir", { FKCapTanimID: captanimid, Yil: $("#ddlYear").val() })
               .success(function (json) {
                   if (json) {

                       $("#capsecmelidersplanlar").empty();
                       $.each(json, function (i, val) {
                           if ('@duzenlemeIzni' == 'True') {
                               $("#capsecmelidersplanlar").append('<tr><td>' + val.Etiket + ' (' + val.Sayi + ' adet)' + '</td><td>' + val.YariYil + '</td><td>' + val.AKTS + '</td><td><a href="javascript:;" class="btn btn-xs btn-success" data-title="Seçmeli İntibak Oluştur" data-toggle="tooltip modal" data-source="/EBS/BolumDersPlan/_IntibakOlusturSecmeli?FKCapTanimID=' + captanimid + '&FKAnaEtiketID=' + val.FKEtiketID + '&Yil=' + $("#ddlYear").val() + '&FKSaatBilgiID=' + val.FKSaatBilgiID + '" data-size="30" data-backdrop="true" data-keyboard="true" data-original-title="" title="">intibak oluştur</a></td></tr>');
                           }
                           else {
                               $("#capsecmelidersplanlar").append('<tr><td>' + val.Etiket + ' (' + val.Sayi + ' adet)' + '</td><td>' + val.YariYil + '</td><td>' + val.AKTS + '</td><td>-</td></tr>');
                           }

                       });
                   } else {
                       toastr.error("Bir hata oluştu.");
                   }
               });







                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
                 }
             });
        }

    });

    $(document).on("click", ".CapPlanKaydet", function () {
        var FKCapTanimid = $("#captanimid").val();
        var FKDersPlanid = $("#capplanid").val();
        var FKCapDersPlanid = $("#ddlCapDersPlan").val();
        var aciklama = $("#txtAciklama").val();
        var year = $("#ddlYear").val();

        $.post("/EBS/BolumDersPlan/_IntibakKaydet", { FKCapTanimID: FKCapTanimid, FKDersPlanID: FKDersPlanid, FKCapDersPlanID: FKCapDersPlanid, Yil: year, Aciklama: aciklama })
         .success(function (json) {
             if (json) {
                 toastr.info("Başarılı!");
                 $('#GeneralModalBox').modal('hide');
                 $.post("/EBS/BolumDersPlan/CapDerslerGetir", { FKCapTanimID: FKCapTanimid, Yil: year })
               .success(function (json) {
                   if (json) {
                       $("#capdersplanlar").empty();
                       $.each(json, function (i, val) {
                           if ('@duzenlemeIzni' == 'True') {
                               $("#capdersplanlar").append('<tr><td>' + val.DersAd + ' ' + (val.FKDersPlanID) + '</td><td>' + val.Yariyil + '</td><td>' + val.DersSaat + '</td><td>' + val.AKTS + '</td><td><a href="javascript:;" class="btn btn-xs btn-success" data-title="İntibak Oluştur" data-toggle="tooltip modal" data-source="/EBS/BolumDersPlan/_IntibakOlustur?FKCapTanimID=' + FKCapTanimid + '&FKAnaDersPlanID=' + val.FKDersPlanID + '&Yil=' + year + '" data-size="30" data-backdrop="true" data-keyboard="true" data-original-title="" title="">intibak oluştur</a></td></tr>');
                           }
                           else {
                               $("#capdersplanlar").append('<tr><td>' + val.DersAd + ' ' + (val.FKDersPlanID) + '</td><td>' + val.Yariyil + '</td><td>' + val.DersSaat + '</td><td>' + val.AKTS + '</td><td>-</td></tr>');
                           }

                       });
                   } else {
                       toastr.error("Bir hata oluştu.");
                   }
               });

                 $.post("/EBS/BolumDersPlan/CapSecmeliDerslerGetir", { FKCapTanimID: FKCapTanimid, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("#capsecmelidersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#capsecmelidersplanlar").append('<tr><td>' + val.Etiket + ' (' + val.Sayi + ' adet)' + '</td><td>' + val.YariYil + '</td><td>' + val.AKTS + '</td><td><a href="javascript:;" class="btn btn-xs btn-success" data-title="Seçmeli İntibak Oluştur" data-toggle="tooltip modal" data-source="/EBS/BolumDersPlan/_IntibakOlusturSecmeli?FKCapTanimID=' + FKCapTanimid + '&FKAnaEtiketID=' + val.FKEtiketID + '&Yil=' + year + '" data-size="30" data-backdrop="true" data-keyboard="true" data-original-title="" title="">intibak oluştur</a></td></tr>');
                            }
                            else {
                                $("#capsecmelidersplanlar").append('<tr><td>' + val.Etiket + ' (' + val.Sayi + ' adet)' + '</td><td>' + val.YariYil + '</td><td>' + val.AKTS + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });

                 $.post("/EBS/BolumDersPlan/IntibakDerslerGetir", { FKCapTanimID: FKCapTanimid, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("#intibakdersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#intibakdersplanlar").append('<tr><td>' + val.FKCapDersPlanAnaAd + '</td><td>' + val.Yariyil + '</td><td>' + val.AKTS + '</td><td>' + val.FKAnaDersPlanAnaAd + '</td><td>' + val.YariyilAna + '</td><td>' + val.AKTSAna + '</td><td><a href="javascript:;" class="btn btn-xs btn-danger btnIntibakPlanSil" data-capdersplan="' + val.ID + '" data-captanimid="' + val.FKCapTanimID + '"><i class="fa fa-remove"></i></a></td></tr>');
                            }
                            else {
                                $("#intibakdersplanlar").append('<tr><td>' + val.FKCapDersPlanAnaAd + '</td><td>' + val.Yariyil + '</td><td>' + val.AKTS + '</td><td>' + val.FKAnaDersPlanAnaAd + '</td><td>' + val.YariyilAna + '</td><td>' + val.AKTSAna + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
             }
             else {
                 toastr.info("_Hata Oluştu! Tanım Eklenmemiş Olabilir.");
             }
         });
    });

    $(document).on("click", ".SecmeliPlanKaydet", function () {
        var FKCapTanimid = $("#captanimid").val();
        var FKAnaEtiketid = $("#anaetiketid").val();
        var FKCapEtiketid = $("#ddlSecmeliDersPlan").val();
        var saatbilgiid = $("#saatbilgiid").val();
        var adet = $("#txtAdet").val();
        var year = $("#ddlYear").val();

        if (adet.length) {
            $.post("/EBS/BolumDersPlan/_IntibakSecmeliKaydet", { FKCapTanimID: FKCapTanimid, FKAnaEtiketID: FKAnaEtiketid, FKCapEtiketID: FKCapEtiketid, Adet: adet, FKSaatBilgiID: saatbilgiid, Yil: year })
         .success(function (json) {
             if (json) {
                 toastr.info("Başarılı!");
                 $('#GeneralModalBox').modal('hide');
                 $.post("/EBS/BolumDersPlan/IntibakSecmeliDerslerGetir", { FKCapTanimID: FKCapTanimid, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("#intibaksecmelidersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#intibaksecmelidersplanlar").append('<tr><td>' + val.CapEtiket + '</td><td>' + val.YariYil + '</td><td>-</td><td>' + val.AKTS + '</td><td>' + val.Adet + '</td><td>' + val.AnaEtiket + '</td><td><a href="javascript:;" class="btn btn-xs btn-danger btnIntibakSecmeliPlanSil" data-id="' + val.ID + '" data-captanimid="' + val.FKCapTanimID + '"><i class="fa fa-remove"></i></a></td></tr>');
                            }
                            else {
                                $("#intibaksecmelidersplanlar").append('<tr><td>' + val.CapEtiket + '</td><td>' + val.YariYil + '</td><td>-</td><td>' + val.AKTS + '</td><td>' + val.Adet + '</td><td>' + val.AnaEtiket + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });


                 $.post("/EBS/BolumDersPlan/CapSecmeliDerslerGetir", { FKCapTanimID: FKCapTanimid, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("#capsecmelidersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#capsecmelidersplanlar").append('<tr><td>' + val.Etiket + ' (' + val.Sayi + ' adet)' + '</td><td>' + val.YariYil + '</td><td>' + val.AKTS + '</td><td><a href="javascript:;" class="btn btn-xs btn-success" data-title="Seçmeli İntibak Oluştur" data-toggle="tooltip modal" data-source="/EBS/BolumDersPlan/_IntibakOlusturSecmeli?FKCapTanimID=' + FKCapTanimid + '&FKAnaEtiketID=' + val.FKEtiketID + '&Yil=' + year + '&FKSaatBilgiID=' + val.FKSaatBilgiID + '" data-size="30" data-backdrop="true" data-keyboard="true" data-original-title="" title="">intibak oluştur</a></td></tr>');
                            }
                            else {
                                $("#capsecmelidersplanlar").append('<tr><td>' + val.Etiket + ' (' + val.Sayi + ' adet)' + '</td><td>' + val.YariYil + '</td><td>' + val.AKTS + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });








             }
             else {
                 toastr.info("! Hata Oluştu! ");
             }
         });
        }
        else {
            toastr.error("Adet Giriniz.");
        }

    });

    $("#ddlYear").on("change", function () {
        var year = $("#ddlYear").val();
        var FKAnaBirimID = $("#ddlBolum").val();
        var captanimid = $("#hdnCapTanimID").val();
        var solbolumID = $("#ddlAnaBirim").val();
        var sagbolumID = $("#ddlCapBirim").val();

        if (captanimid != 0) {

            $.post("/EBS/BolumDersPlan/CapDerslerGetir", { FKCapTanimID: captanimid, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("#capdersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#capdersplanlar").append('<tr><td>' + val.DersAd + ' ' + (val.FKDersPlanID) + '</td><td>' + val.Yariyil + '</td><td>' + val.DersSaat + '</td><td>' + val.AKTS + '</td><td><a href="javascript:;" class="btn btn-xs btn-success" data-title="İntibak Oluştur" data-toggle="tooltip modal" data-source="/EBS/BolumDersPlan/_IntibakOlustur?FKCapTanimID=' + val.FKCapTanimID + '&FKAnaDersPlanID=' + val.FKDersPlanID + '&FKAltBirimID=3" data-size="30" data-backdrop="true" data-keyboard="true" data-original-title="" title="">intibak oluştur</a></td></tr>');
                            }
                            else {
                                $("#capdersplanlar").append('<tr><td>' + val.DersAd + ' ' + (val.FKDersPlanID) + '</td><td>' + val.Yariyil + '</td><td>' + val.DersSaat + '</td><td>' + val.AKTS + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
            $.post("/EBS/BolumDersPlan/CapSecmeliDerslerGetir", { FKCapTanimID: captanimid, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("#capsecmelidersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#capsecmelidersplanlar").append('<tr><td>' + val.Etiket + ' (' + val.Sayi + ' adet)' + '</td><td>' + val.YariYil + '</td><td>' + val.AKTS + '</td><td><a href="javascript:;" class="btn btn-xs btn-success" data-title="Seçmeli İntibak Oluştur" data-toggle="tooltip modal" data-source="/EBS/BolumDersPlan/_IntibakOlusturSecmeli?FKCapTanimID=' + captanimid + '&FKAnaEtiketID=' + val.FKEtiketID + '&Yil=' + year + '" data-size="30" data-backdrop="true" data-keyboard="true" data-original-title="" title="">intibak oluştur</a></td></tr>');
                            }
                            else {
                                $("#capsecmelidersplanlar").append('<tr><td>' + val.Etiket + ' (' + val.Sayi + ' adet)' + '</td><td>' + val.YariYil + '</td><td>' + val.AKTS + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });


            $.post("/EBS/BolumDersPlan/IntibakDerslerGetir", { FKCapTanimID: captanimid, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("#intibakdersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#intibakdersplanlar").append('<tr><td>' + val.FKCapDersPlanAnaAd + '</td><td>' + val.Yariyil + '</td><td>' + val.AKTS + '</td><td>' + val.FKAnaDersPlanAnaAd + '</td><td>' + val.YariyilAna + '</td><td>' + val.AKTSAna + '</td><td><a href="javascript:;" class="btn btn-xs btn-danger btnIntibakPlanSil" data-capdersplan="' + val.ID + '" data-captanimid="' + val.FKCapTanimID + '"><i class="fa fa-remove"></i></a></td></tr>');
                            }
                            else {
                                $("#intibakdersplanlar").append('<tr><td>' + val.FKCapDersPlanAnaAd + '</td><td>' + val.Yariyil + '</td><td>' + val.AKTS + '</td><td>' + val.FKAnaDersPlanAnaAd + '</td><td>' + val.YariyilAna + '</td><td>' + val.AKTSAna + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });

            $.post("/EBS/BolumDersPlan/IntibakSecmeliDerslerGetir", { FKCapTanimID: captanimid, Yil: year })
                .success(function (json) {
                    if (json) {
                        $("#intibaksecmelidersplanlar").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#intibaksecmelidersplanlar").append('<tr><td>' + val.CapEtiket + '</td><td>' + val.YariYil + '</td><td>-</td><td>' + val.AKTS + '</td><td>' + val.Adet + '</td><td>' + val.AnaEtiket + '</td><td><a href="javascript:;" class="btn btn-xs btn-danger btnIntibakSecmeliPlanSil" data-id="' + val.ID + '" data-captanimid="' + val.FKCapTanimID + '"><i class="fa fa-remove"></i></a></td></tr>');
                            }
                            else {
                                $("#intibaksecmelidersplanlar").append('<tr><td>' + val.CapEtiket + '</td><td>' + val.YariYil + '</td><td>-</td><td>' + val.AKTS + '</td><td>' + val.Adet + '</td><td>' + val.AnaEtiket + '</td><td>-</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
        }

        @*$.post("/EBS/BolumDersPlan/CapProgramListe", { FKAnaBirimID: FKAnaBirimID, Yil: year })
                .success(function (json) {
                    if (json) {

                        $("#captanimprogram").empty();
                        $.each(json, function (i, val) {
                            if ('@duzenlemeIzni' == 'True') {
                                $("#captanimprogram").append('<tr class="rowCapTanim" onclick="CapTanimSec(' + val.FKCapTanimID + ');" data-id="' + val.FKCapTanimID + '"><td>' + val.FakulteAd + '</td><td>' + val.BolumAd + ' (' + val.FKBolumID + ')' + '</td><td>' + val.DersAdedi + '</td><td>' + val.AKTS + '</td><td><input type="text" class="kontenjanUpdate" data-captanimid="' + val.FKCapTanimID + '" id="' + val.FKCapTanimID + '" value="' + val.Kontenjan + '"></td></tr>');
                            }
                            else {
                                $("#captanimprogram").append('<tr class="rowCapTanim" onclick="CapTanimSec(' + val.FKCapTanimID + ');" data-id="' + val.FKCapTanimID + '"><td>' + val.FakulteAd + '</td><td>' + val.BolumAd + ' (' + val.FKBolumID + ')' + '</td><td>' + val.DersAdedi + '</td><td>' + val.AKTS + '</td><td>'+val.Kontenjan+'</td></tr>');
                            }

                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });*@



    });


    var gecikme = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();

    $(document).on("keyup", ".kontenjanUpdate", function () {
        var captanimid = $(this).attr("data-captanimid");
        var kontenjan = $(this).val();
        $.post("/EBS/BolumDersPlan/KontenjanGuncelle", { FKCapTanimID: captanimid, Kontenjan: kontenjan })
                .success(function (json) {
                    if (json) {
                        toastr.success("Kontenjan Güncellendi.");
                    } else {
                        toastr.error("Kontenjan Güncellenirken Hata Oluştu.");
                    }
                });
    });
</script>


