﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Ders Plan Eşleştirme</li>
        </ul>
    </div>
}
<input type="hidden" id="hdnYil" value="@Sabitler.Yil" />

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="portlet light ">
            <div class="portlet-body tabbable-custom">
                <ul class="nav nav-tabs">
                    <li class="dropdown pull-right tabdrop">
                        <select class="form-control" id="ddlYear" name="ddlYear">
                            <option value="2007">2007</option>
                            <option value="2008">2008</option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                        </select>

                    </li>
                    <li class="active" id="capdersplan2">
                        <a href="#tab_capdersplan2" data-toggle="tab" aria-expanded="false"><i class="fa fa-list"></i> Çap Ders Plan</a>
                    </li>
                    @if (Sabitler.KullaniciAdi == "umit" || Sabitler.KullaniciAdi == "ozmen")
                    {
                        <li id="captanim">
                            <a href="#tab_captanim" data-toggle="tab" aria-expanded="true"><i class="fa fa-pencil"></i> Çap Tanım </a>
                        </li>
                    }


                    @*<li class="" id="capdersplan">
                            <a href="#tab_capdersplan" data-toggle="tab" aria-expanded="false"><i class="fa fa-list"></i> Çap Ders Plan </a>
                        </li>*@
                    
                </ul>
                <div class="tab-content">

                        

                    <div class="tab-pane fade" id="tab_capdersplan">
                        <div class="col-lg-12">
                            <div class="col-lg-2" style="padding-left:0 !important;">
                                <select class="form-control" id="ddlYil" name="ddlYil">
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                </select>
                            </div>

                        </div>
                        <br />
                        <br />
                        <div class="col-lg-6">
                            @Html.DropDownList("ddlAnaBirim", new SelectList(ViewBag.anabirimler, "Value", "Text", "Ana Birim Seç"), new { @class = "form-control" })
                            <br />
                            @*@Html.DropDownList("ddlAnaBirimPlan", new SelectList(ViewBag.anabirimler, "Value", "Text", "Ana Birim Seç"), new { @class = "form-control" })*@
                            <select id="ddlAnaBirimPlan" class="form-control birimSec">
                                <option>DersPlan Seçiniz</option>
                            </select>
                            <br />
                        </div>
                        <div class="col-lg-6">
                            @Html.DropDownList("ddlCapBirim", new SelectList(ViewBag.altbirimler, "Value", "Text", "Cap Birim Seç"), new { @class = "form-control" })
                            <br />
                            <select id="ddlCapBirimPlan" class="form-control birimSec">
                                <option>DersPlan Seçiniz</option>
                            </select>
                            <br />
                        </div>
                        <div class="col-lg-12 text-center">
                            <a href="javascript:;" class="btn btn-success btnCapPlanEkle"><i class="fa fa-plus"> Kaydet</i></a>
                            <br />
                            <br />
                        </div>

                        <div class="col-lg-12">
                            <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="numeric text-center" style="width:50%"> Ders Ad </th>
                                        <th style="width:2%"></th>
                                        <th class="numeric text-center" style="width:47%"> Ders Ad </th>
                                        <th style="width:2%">İşl.</th>

                                    </tr>
                                </thead>
                                <tbody id="tbody_captanim"></tbody>
                            </table>
                        </div>

                    </div>
                    <div class="tab-pane fade active in" id="tab_capdersplan2">
                        <div class="col-lg-12">
                            @Html.Action("Cap", "BolumDersPlan")
                        </div>
                    </div>
                    @if (Sabitler.KullaniciAdi == "umit" || Sabitler.KullaniciAdi == "ozmen")
                    {
                    <div class="tab-pane fade" id="tab_captanim" style="padding-bottom: 150px;">
                        <a href="javascript:;" class="btn btn-success" data-title="Çap Tanım Ekle" data-toggle="tooltip modal" data-source="/EBS/BolumDersPlan/_pCapTanimEkle/" data-size="40" data-backdrop="false" data-keyboard="true" data-original-title="" title=""><i class="fa fa-plus"></i>Çap Tanım Ekle</a>
                        Düzenleme : <input type="checkbox" id="duzenlemekontrol"/>
                        <br />
                        <br />
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="numeric"> Ana Birim </th>
                                    <th class="numeric"> Çap Birim </th>
                                    <th class="numeric"> Kontenjan </th>
                                    <th class="numeric"> İşlem </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.captanimliste)
                                {
                                    <tr id="tanim_@item.ID">
                                        <td>@item.FKFakulteAd / @item.AnaBirimAd (@item.FKAnaBirimID)</td>
                                        <td>@item.FKCapFakulteAd / @item.AltBirimAd (@item.FKAltBirimID)</td>
                                        <td class="numeric"> @item.Kontenjan</td>
                                        <td class="numeric">
                                            <a href="javascript:;" class="btn btn-xs btn-success" data-title="ÇAP Tanım Düzenle" data-toggle="tooltip modal" data-source="/EBS/BolumDersPlan/_pCapTanimDuzenle?CapTanimID=@item.ID" data-size="30" data-backdrop="true" data-keyboard="true" data-original-title="" title=""><i class="fa fa-edit"></i></a>
                                            <a href="javascript:;" class="btn btn-danger btnTanimSil" data-tanimid="@item.ID"><i class="fa fa-remove"></i></a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    }
                    <div class="clearfix margin-bottom-20"> </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var yil = $("#hdnYil").val();
        var solbolumID = $("#ddlAnaBirim").val();
        var sagbolumID = $("#ddlCapBirim").val();
        $("#ddlYil").val(yil);

        $.post("/EBS/BolumDersPlan/BolumPlanGetir", { yil: yil, bolumID: solbolumID })
                .success(function (json) {
                    if (json) {

                        $.each(json, function (i, val) {
                            $("#ddlAnaBirimPlan").append('<option value="' + val.FKDersPlanID + '">' + val.DersAd + '</option>');
                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
        $.post("/EBS/BolumDersPlan/BolumPlanGetir", { yil: yil, bolumID: sagbolumID })
                .success(function (json) {
                    if (json) {
                        $.each(json, function (i, val) {
                            $("#ddlCapBirimPlan").append('<option value="' + val.FKDersPlanID + '">' + val.DersAd + '</option>');
                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
        $.post("/EBS/BolumDersPlan/CapDersPlanlariGetir", { FKAnaBirimID: solbolumID, FKAltBirimID: sagbolumID })
                .success(function (json) {
                    if (json) {
                        $("#tbody_captanim").empty();
                        $.each(json, function (i, val) {
                            $("#tbody_captanim").append('<tr><td>' + val.FKAnaDersPlanAnaAd + '</td><td></td><td>' + val.FKCapDersPlanAnaAd + '</td><td><a href="" class="btn btn-danger btnTanimSil" data-tanimid="' + val.ID + '"><i class="fa fa-remove"></i></a></td></tr>');
                        });
                    } else {
                        $("#tbody_captanim").empty();
                        toastr.error("Bir hata oluştu.");
                    }
                });

        $.post("/EBS/BolumDersPlan/DuzenlemeIzinKontrol")
                .success(function (json) {
                    if (json) {
                        $("#duzenlemekontrol").prop('checked', true);
                    } else {
                        $("#duzenlemekontrol").prop('checked', false);
                    }
                });




    });

    $("#ddlAnaBirim").on("change", function () {
        var yil = $("#ddlYil").val();
        var bolumID = $("#ddlAnaBirim").val();
        var sagbolumID = $("#ddlCapBirim").val();
        $.post("/EBS/BolumDersPlan/BolumPlanGetir", { yil: yil, bolumID: bolumID })
                .success(function (json) {
                    if (json) {
                        $("#ddlAnaBirimPlan").empty();
                        $.each(json, function (i, val) {
                            $("#ddlAnaBirimPlan").append('<option value="' + val.FKDersPlanID + '">' + val.DersAd + '</option>');
                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });

        $("#tbody_captanim").empty();
        $.post("/EBS/BolumDersPlan/CapDersPlanlariGetir", { FKAnaBirimID: bolumID, FKAltBirimID: sagbolumID })
                .success(function (json) {
                    if (json) {
                        $("#tbody_captanim").empty();
                        $.each(json, function (i, val) {
                            $("#tbody_captanim").append('<tr id="capplan_' + val.ID + '"><td>' + val.FKAnaDersPlanAnaAd + '</td><td></td><td>' + val.FKCapDersPlanAnaAd + '</td><td><a href="" class="btn btn-danger btnCapPlanSil" data-tanimid="' + val.ID + '"><i class="fa fa-remove"></i></a></td></tr>');
                        });
                    } else {
                        $("#tbody_captanim").empty();
                        toastr.error("Bir hata oluştu.");
                    }
                });

    });

    $("#ddlCapBirim").on("change", function () {
        var yil = $("#ddlYil").val();
        var bolumID = $("#ddlCapBirim").val();
        var solbolumID = $("#ddlAnaBirim").val();
        $.post("/EBS/BolumDersPlan/BolumPlanGetir", { yil: yil, bolumID: bolumID })
                .success(function (json) {
                    if (json) {
                        $.each(json, function (i, val) {
                            $("#ddlCapBirimPlan").append('<option value="' + val.FKDersPlanID + '">' + val.DersAd + '</option>');
                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });

        $("#tbody_captanim").empty();
        $.post("/EBS/BolumDersPlan/CapDersPlanlariGetir", { FKAnaBirimID: solbolumID, FKAltBirimID: bolumID })
                .success(function (json) {
                    if (json) {
                        $("#tbody_captanim").empty();
                        $.each(json, function (i, val) {
                            $("#tbody_captanim").append('<tr id="capplan_' + val.ID + '"><td>' + val.FKAnaDersPlanAnaAd + '</td><td></td><td>' + val.FKCapDersPlanAnaAd + '</td><td><a href="" class="btn btn-danger btnCapPlanSil" data-tanimid="' + val.ID + '"><i class="fa fa-remove"></i></a></td></tr>');
                        });
                    } else {
                        $("#tbody_captanim").empty();
                        toastr.error("Bir hata oluştu.");
                    }
                });
    });

    $("#ddlYil").on("change", function () {
        var yil = $("#ddlYil").val();
        var solbolumID = $("#ddlAnaBirim").val();
        var sagbolumID = $("#ddlCapBirim").val();
        $.post("/EBS/BolumDersPlan/BolumPlanGetir", { yil: yil, bolumID: solbolumID })
                .success(function (json) {
                    if (json) {
                        $("#ddlAnaBirimPlan").empty();
                        $.each(json, function (i, val) {
                            $("#ddlAnaBirimPlan").append('<option value="' + val.FKDersPlanID + '">' + val.DersAd + '</option>');
                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
        $.post("/EBS/BolumDersPlan/BolumPlanGetir", { yil: yil, bolumID: sagbolumID })
                .success(function (json) {
                    if (json) {
                        $("#ddlCapBirimPlan").empty();
                        $.each(json, function (i, val) {
                            $("#ddlCapBirimPlan").append('<option value="' + val.FKDersPlanID + '">' + val.DersAd + '</option>');
                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
    });

    $(document).on("click", ".btnTanimSil", function () {
        var response = confirm("Tanım ve varsa eşleştirilmiş ders planlar silinecektir! Onaylıyor musunuz?");
        if (response) {
            var tanimid = $(this).attr("data-tanimid");
            $.post("/EBS/BolumDersPlan/CapTanimSil", { FKCapTanimID: tanimid })
             .success(function (json) {
                 if (json) {
                     $("#tanim_" + tanimid).remove();
                     toastr.info("Tanım silindi");
                 }
             });
        }
    });

    $(document).on("click", ".btnCapPlanEkle", function () {
        var yil = $("#ddlYil").val();
        var solbolumID = $("#ddlAnaBirim").val();
        var sagbolumID = $("#ddlCapBirim").val();
        var soldersplanid = $("#ddlAnaBirimPlan").val();
        var sagdersplanid = $("#ddlCapBirimPlan").val();

        $.post("/EBS/BolumDersPlan/CapPlanEkle", { FKAnaBirimID: solbolumID, FKAltBirimID: sagbolumID, FKAnaDersPlanID: soldersplanid, FKCapDersPlanID: sagdersplanid })
         .success(function (json) {
             if (json) {
                 toastr.info("Başarılı!");
                 $.post("/EBS/BolumDersPlan/CapDersPlanlariGetir", { FKAnaBirimID: solbolumID, FKAltBirimID: sagbolumID })
                .success(function (json) {
                    if (json) {
                        $("#tbody_captanim").empty();
                        $.each(json, function (i, val) {
                            $("#tbody_captanim").append('<tr id="capplan_' + val.ID + '"><td>' + val.FKAnaDersPlanAnaAd + '</td><td></td><td>' + val.FKCapDersPlanAnaAd + '</td><td><a href="" class="btn btn-danger btnCapPlanSil" data-tanimid="' + val.ID + '"><i class="fa fa-remove"></i></a></td></tr>');
                        });
                    } else {
                        toastr.error("Bir hata oluştu.");
                    }
                });
             }
             else {
                 toastr.info("Hata Oluştu! Tanım Eklenmemiş Olabilir.");
             }
         });
    });

    $(document).on("click", ".btnCapPlanSil", function () {
        var response = confirm("Eşleştirilmiş ders plan silinecektir! Onaylıyor musunuz?");
        if (response) {
            var capdersplanID = $(this).attr("data-tanimid");

            $.ajax({
                url: '/EBS/BolumDersPlan/CapPlanSil?CapDersPlanID=' + capdersplanID,
                type: 'POST',
                dataType: 'json',
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data) {
                        $("#capplan_" + capdersplanID).remove();
                        toastr.info("Ders Plan Silindi.");
                    }
                }
            });



            //$.post("/EBS/BolumDersPlan/CapPlanSil", { CapDersPlanID: capdersplanID })
            // .success(function (json) {
            //     if (json) {
            //         $("#capplan_" + capdersplanID).remove();
            //         toastr.info("Ders Plan Silindi.");
            //     }
            // });
        }
    });


    $("#duzenlemekontrol").change(function () {
        if (this.checked) {
            $.post("/EBS/BolumDersPlan/DuzenlemeIzin", { Deger : true })
                .success(function (json) {
                    if (json) {
                        toastr.success("Düzenleme İzinleri Açıldı.");
                    } else {
                        toastr.error("Hata Oluştu.");
                    }
                });
        }
        else {
            $.post("/EBS/BolumDersPlan/DuzenlemeIzin", { Deger: false })
                .success(function (json) {
                    if (json) {
                        toastr.success("Düzenleme İzinleri Kapatıldı.");
                    } else {
                        toastr.error("Hata Oluştu.");
                    }
                });
        }
    });

</script>
