﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Ders Program Çıktıları</li>
        </ul>
    </div>
}
<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Bölüm Bilgileri</div>
    <div class="panel-body">
        <div class="col-md-4">
            <select id="ddlFakulte" class="form-control">
                <option value="0">Fakülte Seçiniz</option>
            </select>
        </div>

        <div class="col-md-4">
            <select id="ddlBolumListesi" class="form-control">
                <option value="0">Bölüm Seçiniz</option>
            </select>
        </div>

        @*<div class="col-md-3">
            <select id="ddlProgramListesi" class="form-control birimSec">
                <option value="0">Program Seçiniz</option>
            </select>
        </div>*@

        <div class="col-md-4">
            <select id="ddlOrtakDersList" class="form-control">
                <option value="0">Ders Seçiniz</option>
                <option value="51518">ATATÜRK İLKELERİ VE İNKILÂP TARİHİ</option>
                <option value="51926">TÜRK DİLİ</option>
                <option value="51947">İNGİLİZCE</option>
                <option value="68050">GİRİŞİMCİLİK VE PROJE YÖNETİMİ</option>
                <option value="39877">KİMYA</option>
            </select>
        </div>

        @*
        <div class="col-md-3">
            <select id="ddlAraProgramListesi2" class="form-control birimSec" data-tur="Ara" style="visibility: hidden;">
                <option>Ara Program / Program Seçiniz</option>
            </select>
        </div>*@

    </div>
</div>

<div class="alert alert-info">
    <strong>BİLGİ!</strong> Bu sayfada üniversite ortak derslerinin program çıktılarına katkıları belirlenmektedir.
</div>

<div class="row">
    <div id="liste" class="col-md-12" style="display: none;">
        <div id="programCiktiListesi" style="margin-top: 15px;">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="info">
                        <th class="text-center" rowspan="2">Sıra</th>
                        <th rowspan="2">Program Çıktısı</th>
                        <th colspan="6" class="text-center">Katkı Düzeyi</th>
                    </tr>
                    <tr>
                        <td class="text-center">Yok</td>
                        <td class="text-center">1</td>
                        <td class="text-center">2</td>
                        <td class="text-center">3</td>
                        <td class="text-center">4</td>
                        <td class="text-center">5</td>
                    </tr>
                </thead>
                <tbody id="tblListe"></tbody>
                <tfoot>
                    <tr>
                        <td colspan="8" class="text-right">
                            <button id="btnKaydet" class="btn btn-success">Kaydet</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<script>
    function GetirProgramCiktiListe() {
        $("#liste").show();
        $.post("/EBS/DersProgramCiktilari/GetirDersProgramCiktilari", { dersPlanAnaID: $("#ddlOrtakDersList").val(), dil: 1, birim: $("#ddlBolumListesi").val() })
         .success(function (json) {
             $.each(json, function (i, obj) {
                 $('input[name="' + obj.YeterlilikID + '"]').attr("data-id", obj.ID);
                 if (obj.KatkiDuzeyi == 0) {
                     $('input[name="' + obj.YeterlilikID + '"][value="0"]').attr("checked", "checked");
                 }
                 if (obj.KatkiDuzeyi == 1) {
                     $('input[name="' + obj.YeterlilikID + '"][value="1"]').attr("checked", "checked");
                 }
                 if (obj.KatkiDuzeyi == 2) {
                     $('input[name="' + obj.YeterlilikID + '"][value="2"]').attr("checked", "checked").attr("data-id", obj.ID);
                 }
                 if (obj.KatkiDuzeyi == 3) {
                     $('input[name="' + obj.YeterlilikID + '"][value="3"]').attr("checked", "checked").attr("data-id", obj.ID);
                 }
                 if (obj.KatkiDuzeyi == 4) {
                     $('input[name="' + obj.YeterlilikID + '"][value="4"]').attr("checked", "checked").attr("data-id", obj.ID);
                 }
                 if (obj.KatkiDuzeyi == 5) {
                     $('input[name="' + obj.YeterlilikID + '"][value="5"]').attr("checked", "checked").attr("data-id", obj.ID);
                 }
             });
             //console.log(json);
         });
    }

    $(document).ready(function () {
        $.post("/Home/GetirBirimListe", { ustBirimID: 21398, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: 0, yetkiKontrol: false })
         .success(function (json) {
             $.each(json, function (i, val) {
                 $("#ddlFakulte").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
             });
         });
    });

    $("#ddlFakulte").on("change", function () {
        $("#ddlBolumListesi").empty().append(' <option value="0">Bölüm Seçiniz</option>');

        $.post("/Home/GetirBirimListe", { ustBirimID: $("#ddlFakulte").val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false })
            .success(function (json) {
                $.each(json, function (i, val) {
                    $("#ddlBolumListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                });
            });
    });

    $("#ddlBolumListesi").on("change", function () {
        @*$("#ddlProgramListesi").empty().append(' <option value="0">Program Seçiniz</option>');

        $.post("/Home/GetirBirimListe", { ustBirimID: $("#ddlBolumListesi").val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, YetkiKontrol: false })
           .success(function (json) {
               $.each(json, function (i, val) {
                   $("#ddlProgramListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
               });
           });*@

        //$("#ddlOrtakDersList").empty().append(' <option value="0">Ders Seçiniz</option>');
        //$.post("/EBS/DersProgramCiktilari/GetirBolumOrtakDersListesi", { FKBirimID: $(this).val() })
        // .success(function (json) {
        //     $.each(json, function (i, obj) {
        //         $("#ddlOrtakDersList").append('<option value="' + obj.ID + '">' + obj.DersAd + '</option>');
        //     });
        // });
    });

    $("#ddlProgramListesi").on("change", function () {

    });

    $("#ddlOrtakDersList").on("change", function () {
        $("#tblListe").html('');
        $.post("/EBS/DersProgramCiktilari/GetirBolumProgramCiktiListesi", { FKBirimID: $("#ddlBolumListesi").val(), FKDersPlanAnaID: $(this).val() })
         .success(function (json) {
             $.each(json, function (i, obj) {
                 $("#tblListe").append('<tr><td>' + obj.YetID + '</td><td>' + obj.Icerik + '</td><td><input name="' + obj.ID + '" type="radio" value="0" class="' + obj.ID + ' md-radiobtn" data-id="0" /></td><td><input name="' + obj.ID + '" type="radio" value="1" class="' + obj.ID + ' md-radiobtn" data-id="0" /></td><td><input name="' + obj.ID + '" type="radio" value="2" class="' + obj.ID + ' md-radiobtn" data-id="0" /></td><td><input name="' + obj.ID + '" type="radio" value="3" class="' + obj.ID + ' md-radiobtn" data-id="0" /></td><td><input name="' + obj.ID + '" type="radio" value="4" class="' + obj.ID + ' md-radiobtn" data-id="0" /></td><td><input name="' + obj.ID + '" type="radio" value="5" class="' + obj.ID + ' md-radiobtn" data-id="0" /></td></tr>');
             });
             GetirProgramCiktiListe();
             //console.log(json);
         });
    });

    $("#btnKaydet").click(function () {
        var elements = $("input[type=radio]:checked");
        var katkiArray = [];
        $.each(elements, function (i, obj) {
            var data = {
                ID: $(obj).attr("data-id"),
                YeterlilikID: $(obj).attr("name"),
                DersPlanAnaID: $("#ddlOrtakDersList").val(),
                FKBirimID: $("#ddlBolumListesi").val(),
                KatkiDuzeyi: $(this).val(),
                Yil: '@Sabitler.EBSYil',
                KullaniciAdi: '@Sabitler.KullaniciAdi',
                Zaman: '@DateTime.Now'
            };
            katkiArray.push(data);
        });

        console.log(katkiArray);

        $.post("/EBS/DersBilgileri/GuncelleDersProgramCiktiKatkiDuzeyi", { katkiDuzeyList: katkiArray, fkDersPlanAnaID: $("#ddlOrtakDersList").val() })
        .success(function (json) {
            if (json) {
                toastr.info("Bilgiler güncellendi.");
            }
        });

    });


</script>

<style>
    input {
        width: 25px !important;
        height: 25px !important;
    }
</style>