﻿@model List<Sabis.Bolum.Core.GENEL.DersGrupBilgi>
@{
    ViewBag.Title = "Grup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Sanal Sınıf Raporları</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-primary">@Model.FirstOrDefault().BirimAd / @Model.FirstOrDefault().DersAd </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Birim Adı</th>
                            <th>Sınıf Adı</th>
                            <th>Öğretim Görevlisi</th>
                            <th>Rapor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="tetext-primary">@item.BirimAd</td>
                                <td class="text-primary">@item.GrupAd</td>
                                <td class="text-primary">@item.HocaAd</td>
                                <td>
                                    <a href="javascript:;" class="btn btn-success" data-title="Sanal Sınıf Raporu" data-toggle="tooltip modal" data-source="/EBS/SanalSinif/Rapor/@item.FKDersGrupID" data-size="30" data-backdrop="false" data-keyboard="true" data-original-title="" title="">Raporu Görüntüle</a>
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>

