﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.84/jsrender.min.js"></script>
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Sanal Sınıf Raporları</li>
        </ul>
    </div>
}
<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Sanal Sınıf Raporları</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-3">
                <select id="ddlFakulteListesi" class="form-control birimSec" data-tur="Fakülte">
                    <option>Fakülte Seçiniz</option>
                </select>
            </div>

            <div class="col-md-3">
                <select id="ddlBolumListesi" class="form-control birimSec" data-tur="Bölüm">
                    <option>Bölüm Seçiniz</option>
                </select>
            </div>

            <div class="col-md-3">
                <select id="ddlAraProgramListesi" class="form-control birimSec" data-tur="Ara" style="visibility: hidden;">
                    <option>Ara Program / Program Seçiniz</option>
                </select>
            </div>

            <div class="col-md-3">
                <select id="ddlAraProgramListesi2" class="form-control birimSec" data-tur="Ara" style="visibility: hidden;">
                    <option>Ara Program / Program Seçiniz</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Ders Adi</th>
                            <td>Dönem</td>
                            <th>Koordinator</th>
                            @*<th class="text-center">İşlem</th>*@
                        </tr>
                    </thead>
                    <tbody id="tblDersListesi">
                        <tr>
                            <td> 
                                @*<a href="Grup/{{:FKDersPlanAnaID}}" target="_blank">{{:DersAdi}} - {{:GrupSayisi}}</a>*@
                                {{if GrupSayisi == 0 }}
                                <div>
                                    <span style="color:#d7d7d7">{{:DersAdi}}</span>
                                </div>
                                {{else }}
                                <div>
                                    <a href="SanalSinif/Grup/{{:FKDersPlanAnaID}}" target="_blank">{{:DersAdi}}</a>
                                </div>
                                {{/if}}
                            </td>
                            <td>{{:Donem}}</td>
                            <td>{{:PersonelAdSoyadUnvan}}</td>
                            @*<td>
                                <button class="btn default" data-toggle="modal" data-title="" data-size="60" data-source="Rapor/{{:FKDersPlanID}}">Rapor</button>
                            </td>*@
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<style>
    select {
        margin-bottom: 10px;
    }
</style>

<script>
    var template;
    $(document).ready(function () {
        template = $.templates("#tblDersListesi");
        $("#tblDersListesi").html('');
        $.post("/Home/GetirBirimListe", { ustBirimID: '@Sabitler.UniversiteID', FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: 0 })
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlFakulteListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                });
    });

    var araProgramGetir = function (ustBirimID) {
        $.post("/Home/GetirBirimListe", { ustBirimID: ustBirimID, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null }) //23
             .success(function (json) {
                 $.each(json, function (i, val) {
                     $("#ddlAraProgramListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                 });
                 $("#ddlAraProgramListesi").removeAttr("style");
             });
    };

    var araProgramGetir2 = function (ustBirimID) {
        $.post("/Home/GetirBirimListe", { ustBirimID: ustBirimID, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: false })
             .success(function (json) {
                 $.each(json, function (i, val) {
                     $("#ddlAraProgramListesi2").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                 });
                 $("#ddlAraProgramListesi2").removeAttr("style");
             });
    };

    $("#ddlFakulteListesi").on("change", function () {
        $("#tblDersListesi").html("");
        $("#ddlBolumListesi").empty().append(' <option value="0">Bölüm Seçiniz</option>');
        $("#ddlAraProgramListesi").css("visibility", "hidden");
        $("#ddlAraProgramListesi").empty();

        $.post("/Home/GetirBirimListe", { ustBirimID: $("#ddlFakulteListesi").val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null })
            .success(function (json) {
                $.each(json, function (i, val) {
                    $("#ddlBolumListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                });
            });
    });

    $("#ddlBolumListesi").on("change", function () {

        var bID = $(this).val();
        $("#ddlAraProgramListesi").css("visibility", "hidden");
        $("#ddlAraProgramListesi").empty().append('<option value="0">Ara Program Seçiniz</option>');
        $("#tblDersListesi").html("");
        var jsonList = "";
        $.post("/Admin/DersKoordinatorleri/GetirBirimDersListDonemBazli", { FKBirimID: bID }).success(function (data) {
            if (data.length > 0) {
                $("#tblDersListesi").html(template.render(data));
            }
            else {
                araProgramGetir(bID);
            }
        });
    });

    $("#ddlAraProgramListesi").on("change", function () {
        var bID = $(this).val();
        $("#tblDersListesi").html("");
        $.post("/Admin/DersKoordinatorleri/GetirBirimDersListDonemBazli", { FKBirimID: bID, FKProgramID: bID }).success(function (data) {
            if (data.length > 0) {
                $("#tblDersListesi").html(template.render(data));
            }
            else {
                araProgramGetir2(bID);
            }
        });
    });
     

    $("#ddlAraProgramListesi2").on("change", function () {
        var bID = $(this).val();
        $("#tblDersListesi").html("");
        $.post("/Admin/DersKoordinatorleri/GetirBirimDersListDonemBazli", { FKBirimID: bID, FKProgramID: bID }).success(function (data) {
            $("#tblDersListesi").html(template.render(data));
        });
    });

</script>