﻿@model List<Sabis.Bolum.Core.GENEL.SanalSinifRapor>
@{
    Layout = null;
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Hafta</th>
            <th>Aktivite Adı</th>
            <th>Aktif Süre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Hafta</td>
                <td><a href="@item.Adres" target="_blank" class="pull-left">@item.Ad</a> <span class="pull-right" style="font-size:11px !important; color:#cfcfcf !important;">@item.PID - @item.RoomID</span></td>
                <td>
                    @if (@item.AktifSure == null)
                    {
                        <span>-</span>
                    }
                    else if(@item.AktifSure == 0)
                    {
                        <span>0</span>
                    }
                    else
                    {
                        <span class="label label-primary" style="font-size:13px !important;">@item.AktifSure dk.</span>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
    </table>
            
