﻿@{
    Layout = null;
    int fkDersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
}



@*@Html.Action("/Ders/Detay/_pGetirGrupDersDetaylari/" + Request.RequestContext.RouteData.Values["id"])*@

@Html.Action("_pGrupDersDetaylari", "Detay", new { area = "Ders", id = Request.RequestContext.RouteData.Values["id"] }) 

@*<div id="dersDetaylari"></div>*@

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="active">
            <th class="col-md-2">Başlangıç</th>
            <th class="col-md-2">Bitiş</th>
            <th class="col-md-4">Mekan</th>
            <th class="col-md-4">Sınıf</th>
        </tr>
    </thead>
    <tbody id="tbl">
        <tr>
            <td>{{start}}</td>
            <td>{{end}}</td>
            <td>{{mekan}}</td>
            <td>{{title}}</td>
        </tr>
    </tbody>
</table>


<script>
    $(document).ready(function () {
        template = $("#tbl").html();
        $("#tbl").html("");
        $.post("/DersProgrami/GetirOgretimElemaniDersProgramiTumu/", { fkDersGrupHocaID: '@fkDersGrupHocaID' })
         .success(function (json) {
             $.each(json, function (key, value) {
                 value.start = new Date(parseInt(value.start.substr(6))).toLocaleString();
                 value.end = new Date(parseInt(value.end.substr(6))).toLocaleString();
                 $("#tbl").append(Mustache.to_html(template, value));
             });
         });

        //$("#dersDetaylari").load("/Ders/Detay/_pGrupDersDetaylari/" + '@Request.RequestContext.RouteData.Values["id"]');
    });
</script>