﻿
@{
    ViewBag.Title = "Ders Programı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Ders Programı</li>
        </ul>
    </div>
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.0/fullcalendar.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.0/fullcalendar.print.css" rel="stylesheet" type="text/css" media="print" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.0/fullcalendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.0/lang/tr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>

<p>
    <a class="btn blue" href="/DersProgrami/iCalendar"><i class="fa fa-download"></i> Ders Programını Dışa Aktar </a>
</p>
<div id='calendar'></div>

<script src="~/Scripts/Views/DersProgrami/Index.min.js?version=0"></script>

<style>
    .ui-state-default .ui-icon {
        background-image: url('https://code.jquery.com/ui/1.12.0/themes/smoothness/images/ui-icons_454545_256x240.png') !important;
    }
    #calendar .fc-today {
        background: #F4FFB3 !important;
    }
    #calendar .fc-event {
        font-size: .75em;
    }
</style>