﻿@model Sabis.Bolum.Core.ABS.DERS.PROJE.ProjeTakvimVM
@{
    ViewBag.Title = "_pProjeTakvimiDuzenle";
    int projeid = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    Layout = null;
}
<link href="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
<div class="col-lg-12" style="padding-left:0px; padding-bottom:0px;">
    <div class="col-lg-12" style="padding-left:0px !important;">
        <table class="table">
            <tbody>
                @Html.HiddenFor(model => model.ID)
@using (Html.BeginForm())
{
                <tr>
                    <td>Proje Adı</td>
                    <td>
                        @Html.TextBoxFor(model => model.Baslik, new { @class = "form-control" })
                        @*<input id="txtAd" type="text" style="text-align:left;" class="form-control" />*@
                    </td>
                </tr>
                <tr>
                    <td>Proje Açıklama</td>
                    <td>
                        @Html.TextBoxFor(model => model.Aciklama, new { @class = "form-control" })
                        @*<input id="txtAciklama" type="text" style="text-align:left;" class="form-control" />*@
                    </td>
                </tr>
                <tr>
                    <td>Rapor Sayısı</td>
                    <td>
                        <select id="RaporSayisi" name="RaporSayisi" class="form-control">

                            @for (int i = 1; i <= 5; i++)
                            {
                                if (Model.RaporSayisi == i)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }

                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>1. Rapor</td>
                    <td>
                        @Html.TextBoxFor(model => model.Rapor1BitisTarihi, new { @class = "form-control tarihBitis" })
                        @*<input type="text" id="txtRapor1" class="form-control tarihBitis" />*@
                    </td>
                </tr>
                <tr id="rd2">
                    <td>2. Rapor</td>
                    <td>
                        @Html.TextBoxFor(model => model.Rapor2BitisTarihi, new { @class = "form-control tarihBitis" })
                        @*<input type="text" id="txtRapor2" class="form-control tarihBitis" />*@
                    </td>
                </tr>
                <tr id="rd3">
                    <td>3. Rapor</td>
                    <td>
                        @Html.TextBoxFor(model => model.Rapor3BitisTarihi, new { @class = "form-control tarihBitis" })
                        @*<input type="text" id="txtRapor3" class="form-control tarihBitis" />*@
                    </td>
                </tr>
                <tr id="rd4">
                    <td>4. Rapor</td>
                    <td>
                        @Html.TextBoxFor(model => model.Rapor4BitisTarihi, new { @class = "form-control tarihBitis" })
                        @*<input type="text" id="txtRapor4" class="form-control tarihBitis" />*@
                    </td>
                </tr>
                <tr id="rd5">
                    <td>5. Rapor</td>
                    <td>
                        @Html.TextBoxFor(model => model.Rapor5BitisTarihi, new { @class = "form-control tarihBitis" })
                        @*<input type="text" id="txtRapor5" class="form-control tarihBitis" />*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="btnProjeDuzenle" class="btn btn-primary">Kaydet</button>
                    </td>
                </tr>
}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        ShowRaporTarih();
        $("#RaporSayisi").change(ShowRaporTarih);

    });
    function ShowRaporTarih() {
        var selectedValue = $("#RaporSayisi").val();
        for (i = 1; i <= 5; i++) {
            if (selectedValue < i) {
                $('#rd' + i).hide();
            }
            else {
                $('#rd' + i).show();
            }
        }
    }

    $.datetimepicker.setLocale('tr');
    $('.tarihBitis').datetimepicker({
        timepicker: false,
        step: 10,
        format: 'd.m.Y H:i',
        minTime: '23:59',
        maxTime: '23:59',
        defaultTime: '23:59'
    });

    

    $("#btnProjeDuzenle").on("click", function () {
        var data = {
            ID: '@projeid',
            Baslik: $("#Baslik").val(),
            Aciklama: $("#Aciklama").val(),
            RaporSayisi: $("#RaporSayisi").val(),
            Rapor1BitisTarihi: $("#Rapor1BitisTarihi").val(),
            Rapor2BitisTarihi: $("#Rapor2BitisTarihi").val(),
            Rapor3BitisTarihi: $("#Rapor3BitisTarihi").val(),
            Rapor4BitisTarihi: $("#Rapor4BitisTarihi").val(),
            Rapor5BitisTarihi: $("#Rapor5BitisTarihi").val()
        };
        alert(data.Bas)
        $.post("/Ders/Proje/DuzenleProjeTakvim", data)
             .done(function (json) {
                 json ? toastr.success("Proje Güncellendi.") : toastr.error("Hata oluştu");
                 location.reload();
                 });
    });



</script>



