﻿@model Sabis.Bolum.Core.ABS.DERS.PROJE.ProjeKonu
@{
    Layout = null;
}
<div class="col-md-12">
@Html.HiddenFor(model => model.ID)
@using (Html.BeginForm())
{

    <div class="col-md-12 text-left" style="padding-left: 0;">
        @Html.TextBoxFor(model => model.KonuBaslik, new { @class="form-control"})
        @*<input id="txtKonuBaslik" class="form-control" type="text" placeholder="Konunun Kısaca Başlığını Giriniz." />*@
    </div>
    <br />
    <br />
    <div class="col-md-12 text-left" style="padding-left: 0;">
        @*<input id="txtKonu" class="form-control" type="text" placeholder="Konunun Açıklamasını Giriniz." />*@
        @*<textarea name="txtKonu" id="txtKonu" class="form-control" placeholder="Konunun Açıklamasını Giriniz." rows="5"></textarea>*@
        @Html.TextAreaFor(model => model.Konu, new { @class = "form-control" })
    </div>
    <br />
    <br />
    <div class="col-md-2 text-left" style="padding-left:0 !important;">
        <button id="btnKaydet" class="btn btn-info">Kaydet</button>
    </div>
    <div class="col-md-8"></div>
}
</div>
<script>
    $("#btnKaydet").on("click", function () {

        $.post("/Ders/Proje/ProjeKonuDuzenle", { konuid: $('#ID').val(), konubaslik: $('#KonuBaslik').val(), konu: $('#Konu').val() })
             .done(function (json) {
                 json ? toastr.success("Konu Düzenlendi.") : toastr.error("Hata oluştu");
                 @*$('#tblKonu').load('@url');*@
                 location.reload();
             });
    });
</script>