﻿@model List<Sabis.Bolum.Core.ABS.DERS.PROJE.ProjeKonu>
@{
    //int projeid = Convert.ToInt32(Request.RequestContext.RouteData.Values["projeID"]);
    //int projeid = Model.FirstOrDefault().ProjeID;
    int projeid = ViewBag.pid;
    string url = "/Ders/Proje/_pProjeKonulari/" + projeid;

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("_pGrupDersDetaylari", "Detay", new { redirect = false })
<link href="~/Content/assets/pages/css/select2.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/select2/css/select2.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/select2/js/select2.full.js"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.full.min.js"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.js"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.min.js"></script>
@*<div class="row">*@
    <div class="panel panel-primary">
        <div class="panel-heading">Proje Konuları</div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-12 text-left" style="padding-left: 0;">
                    <input id="txtKonuBaslik" class="form-control" type="text" placeholder="Konunun Kısaca Başlığını Giriniz." />
                </div>
                <br />
                <br />
                <div class="col-md-12 text-left" style="padding-left: 0;">
                    @*<input id="txtKonu" class="form-control" type="text" placeholder="Konunun Açıklamasını Giriniz." />*@
                    <textarea name="txtKonu" id="txtKonu" class="form-control" placeholder="Konunun Açıklamasını Giriniz." rows="5"></textarea>
                </div>
                <br />
                <br />
                <div class="col-md-2 text-left" style="padding-left:0 !important;">
                    <button id="btnKonuEkle" class="btn btn-info">Konuyu Ekle</button>
                </div>
                <div class="col-md-8"></div>
            </div>

            <div class="col-md-12" style="margin-top: 20px;">
                <table class="table table-striped table-bordered" id="tblKonu">
                    <thead>
                        <tr class="info">
                            <th width="85%">Konu</th>
                            <th width="15%">İşlem</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td width="85%">@item.KonuBaslik</td>
                                    <td width="15%">
                                        <a href="javascript:;" class="btn btn-success" data-title="Proje Konusu Düzenle" data-toggle="tooltip modal" data-source="/Ders/Proje/_pProjeKonuDuzenle/@item.ID" data-size="60" data-backdrop="false" data-keyboard="true" data-original-title="" title=""><i class="fa fa-pencil"></i></a>
                                        <button class="btn btn-danger btnKonuSil" data-id="@item.ID">Sil</button>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
@*</div>*@
<script type="text/javascript">


    $(".js-example-basic-multiple").select2();








    $("#btnKonuEkle").on("click", function () {

        $.post("/Ders/Proje/ProjeKonuEkle", { projeid: '@projeid', konubaslik: $('#txtKonuBaslik').val(), konu: $('#txtKonu').val() })
             .done(function (json) {
                 json ? toastr.success("Konu Eklendi") : toastr.error("Hata oluştu");
                 @*$('#tblKonu').load('@url');*@
                 location.reload();
             });
    });
    $(".btnKonuSil").on("click", function () {
        $.post("/Ders/Proje/ProjeKonuSil", { konuid: $(this).attr("data-id") })
        .done(function (json) {
            json ? toastr.info("Konu silindi") : toastr.error("Hata oluştu, Konuya Eklenmiş Olan Öğrenciler Olabilir.");

            $('#modalBody').load('@url');
            location.reload();
        });
    });
</script>
