﻿@model Sabis.Bolum.Core.ABS.DERS.PROJE.ProjeTakvimVM

@{
    //int fkDersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    //int fkDersGrupID = Convert.ToInt32(Request.RequestContext.RouteData.Values["grupid"]);
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    Sabis.Bolum.Core.ABS.DERS.DERSDETAY.DersDetayVM dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);


    string url = "/Ders/Proje/_pProjeTakvimi/" + dersDetay.DersPlanAnaID + "/" + dersDetay.DersGrupID;

    string ekleGoster = ViewBag.ekleGoster;
}

<link href="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>


@*<link href="~/Content/assets/pages/css/select2.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/select2/css/select2.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/select2/js/select2.full.js"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.full.min.js"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.js"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.min.js"></script>*@

@if (Model == null)
{
    <div class="col-lg-12" style="padding-left:0px; padding-bottom:0px;">
        <div class="col-lg-4" style="padding-left:0px !important;">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Proje Adı</td>
                        <td><input id="txtAd" type="text" style="text-align:left;" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Proje Açıklama</td>
                        <td><input id="txtAciklama" type="text" style="text-align:left;" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Rapor Sayısı</td>
                        <td>
                            <select id="ddlRapor" class="form-control">

                                @for (int i = 1; i <= 5; i++)
                                {
                                <option value="@i">@i</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>1. Rapor</td>
                        <td><input type="text" id="txtRapor1" class="form-control tarihBitis" /></td>
                    </tr>
                    <tr id="rd2">
                        <td>2. Rapor</td>
                        <td><input type="text" id="txtRapor2" class="form-control tarihBitis" /></td>
                    </tr>
                    <tr id="rd3">
                        <td>3. Rapor</td>
                        <td><input type="text" id="txtRapor3" class="form-control tarihBitis" /></td>
                    </tr>
                    <tr id="rd4">
                        <td>4. Rapor</td>
                        <td><input type="text" id="txtRapor4" class="form-control tarihBitis" /></td>
                    </tr>
                    <tr id="rd5">
                        <td>5. Rapor</td>
                        <td><input type="text" id="txtRapor5" class="form-control tarihBitis" /></td>
                    </tr>
                    <tr>
                        <td>
                            <button id="btnProjeEkle" class="btn btn-primary">Oluştur</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="info">
                <th>Ad</th>
                <th>Rapor Sayısı</th>
                @if (Model.RaporSayisi == 1)
                {
                    <th>1.Rapor Tarihi</th>
                }
                else if (Model.RaporSayisi == 2)
                {
                    <th>1.Rapor Tarihi</th>
                    <th>2.Rapor Tarihi</th>
                }
                else if (Model.RaporSayisi == 3)
                {
                    <th>1.Rapor Tarihi</th>
                    <th>2.Rapor Tarihi</th>
                    <th>3.Rapor Tarihi</th>
                }
                else if (Model.RaporSayisi == 4)
                {
                    <th>1.Rapor Tarihi</th>
                    <th>2.Rapor Tarihi</th>
                    <th>3.Rapor Tarihi</th>
                    <th>4.Rapor Tarihi</th>
                }
                else if (Model.RaporSayisi == 4)
                {
                    <th>1.Rapor Tarihi</th>
                    <th>2.Rapor Tarihi</th>
                    <th>3.Rapor Tarihi</th>
                    <th>4.Rapor Tarihi</th>
                    <th>5.Rapor Tarihi</th>
                }
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model)
                {*@
            <tr>
                <td><span class="text-primary">@Model.Baslik</span></td>
                <td><h4><span class="label label-primary">@Model.RaporSayisi</span></h4></td>
                @if (Model.RaporSayisi == 1)
                {
                    <td>@Model.Rapor1BitisTarihi</td>
                }
                else if (Model.RaporSayisi == 2)
                {
                    <td>@Model.Rapor1BitisTarihi</td>
                    <td>@Model.Rapor2BitisTarihi</td>
                }
                else if (Model.RaporSayisi == 3)
                {
                    <td>@Model.Rapor1BitisTarihi</td>
                    <td>@Model.Rapor2BitisTarihi</td>
                    <td>@Model.Rapor3BitisTarihi</td>
                }
                else if (Model.RaporSayisi == 4)
                {
                    <td>@Model.Rapor1BitisTarihi</td>
                    <td>@Model.Rapor2BitisTarihi</td>
                    <td>@Model.Rapor3BitisTarihi</td>
                    <td>@Model.Rapor4BitisTarihi</td>
                }
                else if (Model.RaporSayisi == 5)
                {
                    <td>@Model.Rapor1BitisTarihi</td>
                    <td>@Model.Rapor2BitisTarihi</td>
                    <td>@Model.Rapor3BitisTarihi</td>
                    <td>@Model.Rapor4BitisTarihi</td>
                    <td>@Model.Rapor5BitisTarihi</td>
                }
                <td>
                    @*<a href="javascript:;" class="btn btn-success" data-title="Proje Konuları" data-toggle="tooltip modal" data-source="/Ders/Proje/_pProjeKonulari/@Model.ID" data-size="60" data-backdrop="false" data-keyboard="true" data-original-title="" title=""><i class="fa fa-book"></i></a>*@
                    <a href="/Ders/Proje/_pProjeKonulari/@dersGrupHocaID?projeID=@Model.ID" class="btn btn-success" ><i class="fa fa-book"></i></a>
                    <a href="/Ders/Proje/ProjeOgrenci/@dersGrupHocaID?projeID=@Model.ID" class="btn btn-primary"><i class="fa fa-users"></i></a>
                    <a href="javascript:;" class="btn btn-success" data-title="Proje Düzenle" data-toggle="tooltip modal" data-source="/Ders/Proje/_pProjeTakvimiDuzenle/@Model.ID" data-size="30" data-backdrop="false" data-keyboard="true" data-original-title="" title=""><i class="fa fa-pencil"></i></a>
                    <a href="javascript:;" class="btn btn-danger btnSil" data-id="@Model.ID" title=""><i class="fa fa-trash"></i></a>
                </td>               
            </tr>
            @*}*@

        </tbody>
    </table>

}
<script type="text/javascript">
    $(document).ready(function () {
        ShowRaporTarih();
        $("#ddlRapor").change(ShowRaporTarih);

    });
    function ShowRaporTarih() {
        var selectedValue = $("#ddlRapor").val();
        for (i = 1; i <= 5; i++) {
            if (selectedValue < i) {
                $('#rd' + i).hide();
            }
            else {
                $('#rd' + i).show();
            }
        }
    }

    $.datetimepicker.setLocale('tr');
    $('.tarihBitis').datetimepicker({
        timepicker: false,
        step: 10,
        format: 'd.m.Y H:i',
        minTime: '23:59',
        maxTime: '23:59',
        defaultTime: '23:59'
    });

    $("#btnProjeEkle").on("click", function () {
        var data = {
            FKDersPlanAnaID: '@dersDetay.DersPlanAnaID',
            FKDersGrupID: '@dersDetay.DersGrupID',
            Yil: 2016,
            EnumDonem: 2,
            Baslik: $("#txtAd").val(),
            Aciklama: $("#txtAciklama").val(),
            MaxDosyaBoyut: $("#txtMaxDosyaBoyut").val(),
            RaporSayisi: $("#ddlRapor").val(),
            Rapor1BitisTarihi: $("#txtRapor1").val(),
            Rapor2BitisTarihi: $("#txtRapor2").val(),
            Rapor3BitisTarihi: $("#txtRapor3").val(),
            Rapor4BitisTarihi: $("#txtRapor4").val(),
            Rapor5BitisTarihi: $("#txtRapor5").val()
        };
        $.post("/Ders/Proje/EkleProjeTarih", data)
             .done(function (json) {
                 json ? toastr.success("Proje Takvim Eklendi") : toastr.error("Hata oluştu");
                 location.reload();
                 @*$('#modalBody').load('@url');*@
             });
    });

    $(".btnSil").on("click", function () {
        $.post("/Ders/Proje/SilProjeTarih", { id: $(this).attr("data-id") })
        .done(function (json) {
            json ? toastr.info("Proje silindi") : toastr.error("Hata oluştu, İlk önce konuları silmeniz gerekebilir.");
            location.reload();
            @*$('#modalBody').load('@url');*@
        });
    });
</script>