﻿@model Sabis.Bolum.Core.ABS.DERS.PROJE.ProjeKonuOgrenci
@{
    ViewBag.Title = "ProjeOgrenci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("_pGrupDersDetaylari", "Detay", new { redirect = false })

@*<link href="~/Content/assets/pages/css/select2.css" rel="stylesheet" />*@
<link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/select2/css/select2.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/select2/js/select2.full.js"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.full.min.js"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.js"></script>
<script src="~/Content/assets/global/plugins/select2/js/select2.min.js"></script>

<div class="panel panel-primary">
    <div class="panel-heading">Proje Konu Seçimi</div>
    <div class="panel-body">
        <div class="col-lg-12">
        </div>
        @if (Model != null)
        {
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="info">
                        <th width="50%">Konu</th>
                        <th width="50%">Öğrenciler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.projeKonu)
                    {
                        <tr>
                            <td width="50%">@item.KonuBaslik</td>
                            <td width="50%">
                                <select class="js-example-basic-multiple" id="@item.ID" data-projeid="@item.ProjeID" data-konuid="@item.ID" multiple="multiple">
                                    @foreach (var ogr in Model.ogrenciListesi)
                                    {
                                        if (item.OgrenciListe.Any(x => x.OgrenciID == ogr.OgrenciID))
                                        {
                                            <option value="@ogr.OgrenciID" selected disabled>@ogr.Ad @ogr.Soyad</option>
                                        }
                                        else
                                        {
                                            <option value="@ogr.OgrenciID">@ogr.Ad @ogr.Soyad</option>
                                        }

                                    }
                                </select>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>Henüz Konu Eklenmedi.</h4>
        }
    </div>
    <ul class="js-event-log"></ul>
</div>
<style>
    .select2 {
        width:100% !important;
    }
</style>
<script type="text/javascript">
    $(".js-example-basic-multiple").select2();
    var $eventSelect = $(".js-example-basic-multiple");

    $eventSelect.on("select2:select", function (e) {
        var projeID = $(this).attr("data-projeid");
        var konuID = $(this).attr("data-konuid");

        var konuOgrenciListe = new Array();

        $(this).find("option:selected").filter(":not(option[disabled])").each(function () { //.find("[selected]:not(option[disabled])")

            konuOgrenciListe.push($(this).val());
        });
        if (konuOgrenciListe.length > 0) {
            $.post("/Ders/Proje/OgrenciKonuKaydet", { ProjeID: projeID, KonuID: konuID, OgrenciListe: konuOgrenciListe }).success(function (json) {
                toastr.success("Öğrenciden Konuya Eklendi.")
            }).promise().done(function () {
            });
        }
    });

    $eventSelect.on("select2:unselect", function (e) {
        var projeID = $(this).attr("data-projeid");
        var konuID = $(this).attr("data-konuid");
        var ogrenciID = e.params.data.id;
        $.post("/Ders/Proje/OgrenciKonuSil", { ProjeID: projeID, KonuID: konuID, OgrenciID: ogrenciID }).success(function (json) {
            toastr.success("Öğrenciden Konudan Silindi.")
        }).promise().done(function () {
        });


    });
</script>