﻿@model Sabis.Bolum.Core.ABS.DERS.PROJE.ProjeRaporDto
@{
    Layout = null;
}
<div class="col-lg-12" style="padding-left:0px; padding-bottom:0px;">
    <div class="col-lg-12" style="padding-left:0px !important;">
        <table class="table">
            <tbody>
                @Html.HiddenFor(model => model.ID)
                @using (Html.BeginForm())
                {
                    <tr>
                        <th>Rapor No</th>
                        <td>@Model.RaporNo</td>
                    </tr>
                    @*<tr>
                        <th>Rapor Durum</th>
                        <td>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Bolum.Core.ABS.DERS.SINAV.RaporDurum)Model.RaporDurum)</td>
                    </tr>*@
                    <tr>
                        <th>Rapor Dosya</th>
                        <td>
                            <a href="@SDFSClient.FileClient.GetUrl(Model.ProjeDosyaKey)" class="btn btn-xs btn-success"><i class="fa fa-download"></i> İndir</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Rapor Durum</th>
                        <td>
                            @Html.RadioButtonFor(model => model.RaporDurum, 2) Onayla
                            @Html.RadioButtonFor(model => model.RaporDurum, 3) Reddet
                            @Html.RadioButtonFor(model => model.RaporDurum, 4) Yeni Rapor İste
                        </td>
                    </tr>                 
                    <tr>
                        <th>Açıklama</th>
                        <td>@Html.TextAreaFor(model => model.HocaAciklama, new { rows = "6", cols = "40" })</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><a href="#" id="raporKadet" class="btn btn-success">Kaydet</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $("#raporKadet").on("click", function () {
        var data = {
            ID: $("#ID").val(),
            RaporDurum: $('input[name="RaporDurum"]:checked').val(),
            HocaAciklama: $("#HocaAciklama").val()
        };
        $.post("/Ders/Proje/RaporDuzenle", data)
             .done(function (json) {
                 json ? toastr.success("Proje Takvim Eklendi") : toastr.error("Hata oluştu");
                 location.reload();
                 });
    });
</script>
