﻿
<div class="row" style="margin-bottom: 15px;">
    <div class="col-md-12">

        <div class="col-md-4" style="padding-left: 0 !important;">
            <select id="ddlFakulteListesi" class="form-control birimSec" data-tur="Fakülte">
                <option>Fakülte Seçiniz</option>
            </select>
        </div>
        <div class="col-md-4">
            <select id="ddlBolumListesi" class="form-control birimSec" data-tur="Bölüm">
                <option>Bölüm Seçiniz</option>
            </select>
        </div>
        <div class="col-md-4">
            <select id="ddlAraProgramListesi" class="form-control birimSec" data-tur="Ara" style="visibility: hidden;">
                <option>Ara Program Seçiniz</option>
            </select>
        </div>

    </div>
</div>

<script>
    var dersList;
    var birimID;
    $(document).ready(function () {
        $.post("/Home/GetirBirimListe", { ustBirimID: @Sabitler.UniversiteID, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: 0, yetkiKontrol: true })
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlFakulteListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                });
    });

    function araProgramGetir (ustBirimID) {
        if ($("#ddlFakulteListesi").val() == 117) {
            $.post("/Home/GetirApiAltBirim", { ustBirimID: ustBirimID, EnumBirimTuru: 4 }).done(function (json) {
                $.each(json, function (i, val) {
                    $("#ddlAraProgramListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                });
                $("#ddlAraProgramListesi").removeAttr("style");
            });
        }
        else {
            $.post("/Home/GetirBirimListe", { ustBirimID: ustBirimID, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: true })
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlAraProgramListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                    $("#ddlAraProgramListesi").removeAttr("style");
                });
        }
    };

    $("#ddlFakulteListesi").on("change", function () {
        birimID = $(this).val();
        $("#tblDersListesi").html("");
        $("#ddlBolumListesi").empty().append(' <option value="0">Bölüm Seçiniz</option>');
        $("#ddlAraProgramListesi").css("visibility", "hidden");
        $("#ddlAraProgramListesi").empty();

        $.post("/Home/GetirBirimListe", { ustBirimID: $("#ddlFakulteListesi").val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, yetkiKontrol: true }) //3
            .success(function (json) {
                $.each(json, function (i, val) {
                    $("#ddlBolumListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                });
            });

        //$.post("/EBS/YazOkulu/GetirFakulteDersList", { FKBirimID: birimID }).success(function (dersListJson) {
        //    if (dersListJson.length > 0) {
        //        listeDoldur(dersListJson);
        //    }
        //});
    });

    $("#ddlBolumListesi").on("change", function () {
        birimID = $(this).val();
        $("#ddlAraProgramListesi").css("visibility", "hidden");
        $("#ddlAraProgramListesi").empty().append('<option value="0">Ara Program Seçiniz</option>');
        $("#tblDersListesi").html("");
        var jsonList = "";
        $.post("/EBS/YazOkulu/GetirBirimDersList", { FKBirimID: birimID }).success(function (dersListJson) {
            if (dersListJson.length > 0) {
                listeDoldur(dersListJson);
                //dersListesi = dersListJson;
            }
            else {
                araProgramGetir(birimID);
            }
        });


    });


    $("#ddlAraProgramListesi").on("change", function () {
        birimID = $(this).val();
        $("#tblDersListesi").html("");
        $.post("/EBS/YazOkulu/GetirBirimDersList", { FKBirimID: birimID }).success(function (json) {
            $.each(json, function (index, value) {
                listeDoldur(json);
                //dersListesi = json;
            });
        });
    });
</script>