﻿@if (ViewBag.Home == true)
{
    <div class="page-toolbar pull-right">

        <div class="btn-group btn-theme-panel" style="margin-top: 13px;">
            <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="icon-settings"></i>
            </a>
            <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click" style="min-width:100px; width: 200px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="filters" class="button-group">
                            <button class="btn default btn-block is-checked" data-filter="*">TÜM DERSLER</button>
                            <button class="btn default btn-block" data-filter=".seviye1">ÖN LİSANS</button>
                            <button class="btn default btn-block" data-filter=".seviye2">LİSANS</button>
                            <button class="btn default btn-block" data-filter=".seviye3">YÜKSEK LİSANS</button>
                            <button class="btn default btn-block" data-filter=".seviye4">DOKTORA</button>
                            <button class="btn default btn-block" data-filter=".tur1">1. ÖĞRETİM</button>
                            <button class="btn default btn-block" data-filter=".tur2">2. ÖĞRETİM</button>
                            <button class="btn default btn-block" data-filter=".tur3">UZAKTAN EĞİTİM</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
