﻿<!-- BEGIN INNER FOOTER -->
<div class="page-footer">
    <div class="container-fluid">
        &copy; Gebze Teknik Üniversitesi
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->
<script>
        var ie = function () { for (var e, r = 3, i = document.createElement("div"), n = i.getElementsByTagName("i") ; i.innerHTML = "<!--[if gt IE " + ++r + "]><i></i><![endif]-->", n[0];); return r > 4 ? r : e }(); 10 > ie && (window.location.href = "/browser_error/");
</script>
<audio id="pop" hidden="hidden">
    <source src="" type="audio/mp3">
</audio>
<!-- GENERAL MODAL START -->
<div id="GeneralModalBox" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div id="ModalContent" class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalTitle">Modal title</h4>
            </div>
            <div id="modalBody" class="modal-body" role="dialog" tabindex="-1" aria-hidden="true">
                <img src="/Content/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Açılıyor... </span>
            </div>
            <div class="modal-footer">
                <button id="btnModalClose" type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- GENERAL MODAL END -->