﻿@{
    Layout = null;
    string kullaniciAdi = Sabitler.KullaniciAdi;
    Sabis.Bolum.Core.ABS.PERSONEL.PersonelBilgiVM PersonelBilgi = Sabis.Bolum.Bll.SOURCE.ABS.PERSONEL.PERSONELMAIN.GetirPersonelBilgi(kullaniciAdi);
}



<li class="dropdown dropdown-user">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img alt="" class="img-circle" src="@FotografClient.Client.FotografGetir(kullaniciAdi)" />
        <span class="username username-hide-on-mobile">@PersonelBilgi.Unvan @PersonelBilgi.Ad @PersonelBilgi.Soyad </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        <li>
            <a href="http://login.apollo.gtu.edu.tr/tr/Hesap?t=6" target="_blank">
                <i class="icon-user"></i> Profil
            </a>
        </li>
        <li>
            <a href="http://login.apollo.gtu.edu.tr/tr/Hesap" target="_blank">
                <i class="fa fa-cog"></i> Hesap Ayarları
            </a>
        </li>
        <li>
            <a href="https://login.apollo.gtu.edu.tr/Logout">
                <i class="icon-key"></i> Oturumu Kapat
            </a>
        </li>
    </ul>
</li>
@if (!string.IsNullOrEmpty(Convert.ToString(HttpContext.Current.Session["simulasyon"])))
{
    <li class="dropdown dropdown-quick-sidebar-toggler">
        <a id="btnSimuleSonlandir" href="javascript:;" class="dropdown-toggle" title="Simulasyon Sonlandır">
            <i class="icon-logout"></i>
        </a>
    </li>
}

<script>
    $("#btnSimuleSonlandir").click(function () {
        $.post("/Admin/Simulasyon/SimulasyonSonlandir")
         .done(function () {
             window.location.href = "/";
         });
    });
</script>