﻿@using Dil = DilWebClient.Cevir
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.5
Version: 4.5.1
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>BÖLÜM BİLGİ SİSTEMİ | APOLLO</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="APOLLO" name="author" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- BEGIN THEME GLOBAL -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @Styles.Render("~/bundles/global-styles")
    @Scripts.Render("~/bundles/global-scripts")

    <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
    <script src="~/Content/custom.js?version=5"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jwerty/0.3.2/jwerty.min.js"></script>
    <!-- END THEME GLOBAL -->

    @*<script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js" data-apikey="79ba0b8e48321d83ab5fd5ad78c2411a"></script>*@

    <noscript>
        <meta http-equiv="refresh" content="1; /browser_error">
    </noscript>
</head>
<!-- END HEAD -->
<body class="page-container-bg-solid page-md">
    <!-- BEGIN HEADER -->
    <div class="page-header" style="height: 100px !important;">
        <!-- BEGIN HEADER TOP -->

        <div class="page-header-top" style="background-color: #81BCCF; height: 60px !important;">
            <div class="container-fluid" style="height: 60px !important;">
                <!-- BEGIN LOGO -->
                <div class="page-logo" style="width: 150px !important; height: 60px !important;">
                    <a href="http://bolum.apollo.gtu.edu.tr">
                        <img src="/Content/logo.png" alt="logo" class="logo-default" style="margin-top: 15px;">
                    </a>
                </div>
                <div class="top-menu pull-left hidden-sm hidden-xs" style="background-color: transparent !important">
                    <h3 class="caption" style="margin-left: 10px; color: white; margin-top: 5px;">BÖLÜM BİLGİ SİSTEMİ</h3>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler"></a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                @Html.Partial("_UserMenu")
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- END HEADER TOP -->
        <!-- BEGIN HEADER MENU -->
        @Html.Partial("_TopMenu")
        <!-- END HEADER MENU -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <div class="container-fluid">
                    <!-- BEGIN PAGE TITLE -->
                    @*<div class="page-title">*@
                        <div class="col-md-12" style="margin-top:10px; padding-left: 0 !important;">
                            @RenderSection("Navigation", required: false)
                            
                            <div class="col-md-3">
                                @RenderSection("NotGirisTarih", required: false)
                                
                                @Html.Partial("_YilveDonemSecim")

                                @Html.Partial("_DersTipFiltre")
                            </div>
                        </div>
                    @*</div>*@
                </div>
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE CONTENT BODY -->
            <div class="page-content">
                <div class="container-fluid">
                    <!-- BEGIN PAGE BREADCRUMBS -->

                    <!-- END PAGE BREADCRUMBS -->
                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="page-content-inner">
                        @*<div class="note note-info">*@
                            @RenderBody()
                        @*</div>*@
                    </div>
                    <!-- END PAGE CONTENT INNER -->
                </div>
            </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    @Html.Partial("_Footer")
    <!-- END FOOTER -->
    <!--[if lt IE 9]>
    <script src="/Content/assets/global/plugins/respond.min.js"></script>
    <script src="/Content/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
</body>
</html>