﻿
@using Dil = DilWebClient.Cevir;
@{ 
    Layout = null;
}

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://bolum.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">BÖLÜM BİLGİ SİSTEMİ</a><i class="fa fa-chevron-right"></i></li>
            @Html.Raw(ViewData["url"])
        </ul>
    </div>
}