﻿@{ 
    bool ebsKontrol = Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.BolumKoordinatoruMu(Sabitler.KullaniciID) || Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.DersKoordinatorluguVarMi(Sabitler.KullaniciID) || Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.FAKULTEMAIN.FakulteKoordinatorluguVarMi(Sabitler.KullaniciID) || Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.OrtakDersKoordinatoruMu(Sabitler.KullaniciID);
}
@using Dil = DilWebClient.Cevir

<ul class="page-sidebar-menu page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px;">

    <li class="sidebar-toggler-wrapper hide">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler"> </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>

    <li class="nav-item start">
        <a href="/" class="nav-link nav-toggle">
            <i class="fa fa-list-ul"></i>
            <span class="title">@Dil.Getir("ders_listesi")</span>
        </a>
    </li>

    <li class="nav-item start">
        <a href="/DersProgrami" class="nav-link nav-toggle">
            <i class="fa fa-calendar"></i>
            <span class="title">@Dil.Getir("ders_programi")</span>
        </a>
    </li>


    <li class="nav-item start ">
        <a href="#" class="nav-link nav-toggle">
            <i class="fa fa-book"></i>
            <span class="title">@Dil.Getir("anket")</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item start ">
                <a href="/Anket/Liste" class="nav-link ">
                    @*<i class="icon-bar-chart"></i>*@
                    <span class="title">@Dil.Getir("anket_doldur")</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="/Anket/Degerlendirme/Index" class="nav-link ">
                    @*<i class="icon-bar-chart"></i>*@
                    <span class="title">@Dil.Getir("bireysel_sonuc")</span>
                </a>
            </li>
            @if (
                    User.IsInRole("Anket Yönetici") ||
            Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.FAKULTEMAIN.DekanligiVarMi(Sabitler.KullaniciID) != 0 ||
            Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.FAKULTEMAIN.DekanYardimciligiVarMi(Sabitler.KullaniciID) != 0 ||
            Sabitler.KullaniciAdi == "umit" || Sabitler.KullaniciAdi == "elmas" || Sabitler.KullaniciAdi == "eken" || Sabitler.KullaniciAdi == "yalcin" || Sabitler.KullaniciAdi == "aarkan"
                    )
            {
                <li class="nav-item start ">
                    <a href="/Anket/Degerlendirme/Genel" class="nav-link ">
                        @*<i class="icon-bar-chart"></i>*@
                        <span class="title">@Dil.Getir("birim_sonuclari")</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="/Anket/Degerlendirme/Genel2" class="nav-link ">
                        @*<i class="glyphicon glyphicon-plus"></i>*@
                        <span class="title">@Dil.Getir("sirali_sonuclar")</span>
                    </a>
                </li>
            }
        </ul>
    </li>

    @*<li class="nav-item  start">
            <a href="#" class="nav-link nav-toggle">
                <i class="fa fa-edit"></i>
                <span class="title">Anket</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="/Anket/Liste" class="nav-link ">
                        <span class="title">Ankete Katıl</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/Anket/Sonuc" class="nav-link ">
                        <span class="title">Anket Sonuçları</span>
                    </a>
                </li>
            </ul>
        </li>*@

    @*@if (Sabis.Client.BirimIslem.Instance)
        {
            <li class="nav-item start ">
                <a href="/Akreditasyon/Liste" class="nav-link nav-toggle">
                    <i class="fa fa-line-chart"></i>
                    <span class="title">Program Çıktıları</span>
                </a>
            </li>
        }*@


    @if (ebsKontrol)
    {

        <li class="nav-item start ">
            <a href="#" class="nav-link nav-toggle">
                <i class="fa fa-book"></i>
                <span class="title">@Dil.Getir("egitim_bilgi_sistemi")</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                @if (Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.DersKoordinatorluguVarMi(Sabitler.KullaniciID))
                {
                    <li class="nav-item start ">
                        <a href="/EBS/DersBilgileri" class="nav-link ">
                            @*<i class="icon-bar-chart"></i>*@
                            <span class="title">@Dil.Getir("ders_bilgileri")</span>
                        </a>
                    </li>
                }
                @if (Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.BolumKoordinatoruMu(Sabitler.KullaniciID))
                {
                    <li class="nav-item start ">
                        <a href="/EBS/BolumBilgileri" class="nav-link ">
                            @*<i class="glyphicon glyphicon-plus"></i>*@
                            <span class="title">@Dil.Getir("bolum_bilgileri")</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/EBS/BolumYonetim" class="nav-link ">
                            @*<i class="icon-bar-chart"></i>*@
                            <span class="title">@Dil.Getir("bolum_ders_koordinatorleri")</span>
                        </a>
                    </li>
                }
                @if (Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.FAKULTEMAIN.FakulteKoordinatorluguVarMi(Sabitler.KullaniciID))
                {
                    <li class="nav-item start ">
                        <a href="/EBS/FakulteYonetim" class="nav-link ">
                            @*<i class="icon-bar-chart"></i>*@
                            <span class="title">@Dil.Getir("fakulte_ders_koordinatorleri")</span>
                        </a>
                    </li>
                }
                @if (Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.OrtakDersKoordinatoruMu(Sabitler.KullaniciID))
                {
                    <li class="nav-item start ">
                        <a href="/EBS/UniversiteOrtakDersler" class="nav-link ">
                            @*<i class="icon-bar-chart"></i>*@
                            <span class="title">Üniv. Ortak Ders Koordinatörleri</span>
                        </a>
                    </li>
                }

                @if (Sabitler.KullaniciAdi == "umit")
                {
                    <li class="nav-item start"><a href="/EBS/DersProgramCiktilari">Ders Program Çıktıları</a></li>
                }
                @*<li class="nav-item start">
                    <a href="/Akreditasyon" class="nav-link nav-toggle">
                        <i class="fa fa-calendar"></i>
                        <span class="title">Akreditasyon</span>
                    </a>
                </li>*@


                    <li class="nav-item start">
                        <a href="/Akreditasyon/Ders" class="nav-link nav-toggle">
                            <i class="fa fa-calendar"></i>
                            <span class="title">Program ve Öğrenme Çıktıları</span>
                        </a>
                    </li>

                <li class="nav-item start">
                    <a href="/EBS/SanalSinif/" class="nav-link nav-toggle">
                        <i class="fa fa-video-camera"></i>
                        <span class="title">Sanal Sınıf Raporlar</span>
                    </a>
                </li>
                <li class="nav-item start">
                    <a href="/EBS/GeriBildirim/" class="nav-link nav-toggle">
                        <i class="fa fa-info-circle"></i>
                        <span class="title">Geri Bildirim Raporları</span>
                    </a>
                </li>

            </ul>
        </li>

    }

    @if (Sabitler.KullaniciAdi == "ozmen" || Sabitler.KullaniciAdi == "umit" || Sabitler.KullaniciAdi == "kkose")
    {
        <li class="nav-item start">
            <a href="#" class="nav-link nav-toggle">
                <i class="fa fa-calendar"></i>
                <span class="title">Yaz Okulu Yönetimi</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item start ">
                    <a href="/EBS/YazOkulu" class="nav-link ">
                        <span class="title">Yaz Okulu Dersleri</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="/EBS/UniversiteOrtakDersler" class="nav-link ">
                        <span class="title">Üniversite Ortak Dersleri</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="/Admin/DersKoordinatorleri" class="nav-link ">
                        <span class="title">Bölüm Dersleri</span>
                    </a>
                </li>
            </ul>
        </li>
    }
    @if (Sabitler.KullaniciAdi == "iyatik")
    {
        <li class="nav-item start">
            <a href="/Admin/Simulasyon" class="nav-link nav-toggle">
                <span class="title">Simulasyon</span>
            </a>
        </li>
    }
    @if (Sabitler.KullaniciAdi == "ismailkoc")
    {
        <li class="nav-item start">
            <a href="/EBS/SanalSinif/" class="nav-link nav-toggle">
                <i class="fa fa-video-camera"></i>
                <span class="title">Sanal Sınıf Raporlar</span>
            </a>
        </li>
    }

    @if (Sabitler.AdminListesi.Contains(Sabitler.KullaniciAdi))
            {
        <li class="nav-item start ">
            <a href="#" class="nav-link nav-toggle">
                <i class="icon-user"></i>
                <span class="title">Yönetici</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item start ">
                    <a href="/Admin/DersKoordinatorleri" class="nav-link ">
                        <span class="title">Ders Koordinatörleri</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="/Admin/BolumKoordinatorleri" class="nav-link ">
                        <span class="title">Bölüm Koordinatörleri</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="/Admin/IPYetkilendirme" class="nav-link ">
                        <span class="title">IP Yetkilendirme</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="/Admin/Istatistik" class="nav-link ">
                        <span class="title">İstatistikler</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="/Admin/Simulasyon" class="nav-link ">
                        <span class="title">Simulasyon</span>
                    </a>
                </li>
            </ul>
        </li>
    }


</ul>

@*<li class="heading">
        <h3 class="uppercase">Layouts</h3>
    </li>*@