﻿@{
    bool ebsKontrol = Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.BolumKoordinatoruMu(Sabitler.KullaniciID) || Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.DersKoordinatorluguVarMi(Sabitler.KullaniciID) || Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.FAKULTEMAIN.FakulteKoordinatorluguVarMi(Sabitler.KullaniciID) || Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.OrtakDersKoordinatoruMu(Sabitler.KullaniciID);
}
@using Dil = DilWebClient.Cevir
<div class="page-header-menu" style="margin-top:0 !important;">
    <div class="container-fluid">
        <!-- BEGIN HEADER SEARCH BOX -->
        @*<form class="search-form" action="page_general_search.html" method="GET">
            <div class="input-group">
                <input id="txtOgrenciAra" type="text" class="form-control" placeholder="Öğrenci ara" name="query">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit">
                        <i class="icon-magnifier"></i>
                    </a>
                </span>
            </div>
        </form>*@
        <!-- END HEADER SEARCH BOX -->
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
        <div class="hor-menu">
            <ul class="nav navbar-nav">
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a href="/Home/AcilanDersListesi">Açılan Ders Listesi@*<span class="arrow"></span>*@</a>
                </li>  
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a href="/Home/AcilanDersListesiV2">Açılan Ders Listesi 2@*<span class="arrow"></span>*@</a>
                </li>  
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a href="/Hoca/HocaDers">Bölüm Personel Listesi@*<span class="arrow"></span>*@</a>
                </li>  
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a href="/Ders/Ogrenci/AktifOgrenciListesi">Kayıtlı Öğrenci Listesi@*<span class="arrow"></span>*@</a>
                </li>  
                @if (ebsKontrol)
                {
                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                        <a href="javascript:;">
                            @*@Dil.Getir("egitim_bilgi_sistemi")*@
                            @Dil.Getir("_ebs_")
                            <span class="arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-left" style="min-width:235px !important;">
                            @if (Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.DersKoordinatorluguVarMi(Sabitler.KullaniciID))
                            {
                                <li aria-haspopup="true" class=" ">
                                    <a href="/EBS/DersBilgileri" class="nav-link  "> @Dil.Getir("ders_bilgileri") </a>
                                </li>
                            }
                            @if (Sabis.Bolum.Bll.SOURCE.EBS.GENEL.GENELMAIN.BolumKoordinatoruMu(Sabitler.KullaniciID))
                            {
                                <li aria-haspopup="true" class=" ">
                                    <a href="/EBS/BolumBilgileri" class="nav-link  "> @Dil.Getir("bolum_bilgileri") </a>
                                </li>
                                <li aria-haspopup="true" class=" ">
                                    <a href="/EBS/BolumYonetim" class="nav-link  "> @Dil.Getir("bolum_ders_koordinatorleri") </a>
                                </li>
                            }
                            @if (Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.FAKULTEMAIN.FakulteKoordinatorluguVarMi(Sabitler.KullaniciID))
                            {
                                <li aria-haspopup="true" class=" ">
                                    <a href="/EBS/FakulteYonetim" class="nav-link  "> @Dil.Getir("fakulte_ders_koordinatorleri") </a>
                                </li>
                            }
                            @if (Sabitler.KullaniciAdi == "umitxxx")
                            {
                                <li aria-haspopup="true" class=" ">
                                    <a href="/EBS/DersProgramCiktilari" class="nav-link  ">  @Dil.Getir("ders_program_ciktilari") </a>
                                </li>
                            }
                            <li aria-haspopup="true" class=" ">
                                <a href="/Akreditasyon/Ders" class="nav-link  ">  @Dil.Getir("program_ogrenme_ciktilari")</a>
                            </li>
                            <li aria-haspopup="true" class=" ">
                                <a href="/EBS/YazOkulu" class="nav-link  ">  @Dil.Getir("yaz_okulu_dersleri")</a>
                            </li>
                            @if (Sabitler.KullaniciAdi == "umitxx" )
                            {
                                <li aria-haspopup="true" class=" ">
                                    <a href="/EBS/BolumDersPlan" class="nav-link  ">ÇAP İşlemleri</a>
                                </li>
                                <li aria-haspopup="true" class="">
                                    <a href="/EBS/Yandal" class="nav-link"> Yandal İşlemleri</a>
                                </li>
                            }


                        </ul>
                    </li>
                }

                @*<li class="menu-dropdown mega-menu-dropdown  ">
                        <a href="/DersProgrami"> @Dil.Getir("_danismanlik_")<span class="arrow"></span></a>
                        <ul class="dropdown-menu pull-left">
                            <li aria-haspopup="true" class=" ">
                                <a href="#" class="nav-link  "> @Dil.Getir("derse_yazilma")</a>
                            </li>
                            <li aria-haspopup="true" class=" ">
                                <a href="/Ders/Ogrenci/Index" class="nav-link  "> @Dil.Getir("ogrenci_bilgileri")</a>
                            </li>

                        </ul>
                    </li>*@
                @*<li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                    <a href="javascript:;">
                        @Dil.Getir("_plan_programlar")
                        <span class="arrow"></span>
                    </a>
                </li>*@
                @*<li class="menu-dropdown mega-menu-dropdown  ">
                        <a href="/DersProgrami">@Dil.Getir("onceki_kazanimlar")<span class="arrow"></span></a>
                    </li>*@
    @*
                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                    <a href="javascript:;">
                        @Dil.Getir("anketler")
                        <span class="arrow"></span>
                    </a>

                    <ul class="dropdown-menu pull-left">
                        <li aria-haspopup="true" class=" ">
                            <a href="/Anket/Liste" class="nav-link  ">@Dil.Getir("anket_doldur")</a>
                        </li>
                        <li aria-haspopup="true" class=" ">
                            <a href="/Anket/Degerlendirme/Index" class="nav-link  ">@Dil.Getir("anket_sonuclari")</a>
                        </li>
                        <li aria-haspopup="true" class=" ">
                            <a href="/Anket/Degerlendirme/Sonuc/?yil=@Sabitler.Yil&donem=@Sabitler.Donem" class="nav-link  ">@Dil.Getir("bireysel_sonuc")</a>
                        </li>
                        @if (
                            User.IsInRole("Anket Yönetici") ||
                            Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.FAKULTEMAIN.DekanligiVarMi(Sabitler.KullaniciID) != 0 ||
                            Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.FAKULTEMAIN.DekanYardimciligiVarMi(Sabitler.KullaniciID) != 0 ||
                            Sabitler.KullaniciAdi == "umit" || Sabitler.KullaniciAdi == "elmas" || Sabitler.KullaniciAdi == "eken" || Sabitler.KullaniciAdi == "yalcin" || Sabitler.KullaniciAdi == "aarkan"
                            )
                        {
                            <li aria-haspopup="true" class=" ">
                                <a href="/Anket/Degerlendirme/Genel" class="nav-link  "> @Dil.Getir("birim_sonuclari")</a>
                            </li>
                            <li aria-haspopup="true" class=" ">
                                <a href="/Anket/Degerlendirme/Genel2" class="nav-link  "> @Dil.Getir("sirali_sonuclar")</a>
                            </li>
                        }


                    </ul>

            </li>

    *@

@if (ebsKontrol)
{
    @*
    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
            <a href="javascript:;">
                @Dil.Getir("raporlar")
                <span class="arrow"></span>
            </a>
            <ul class="dropdown-menu pull-left" style="min-width:235px !important;">
*@
    @*<li aria-haspopup="true">
        <a href="/Akreditasyon/Ders">
            @Dil.Getir("program_ogrenme_ciktilari")
        </a>

    </li>
    <li aria-haspopup="true" class="dropdown-submenu ">
        <a href="javascript:;" class="nav-link nav-toggle ">
             @Dil.Getir("ozdegerlendirme_raporu")
            <span class="arrow"></span>
        </a>
        <ul class="dropdown-menu">
            <li aria-haspopup="true" class=" ">
                <a href="#" class="nav-link "> MÜDEK </a>
            </li>
            <li aria-haspopup="true" class=" ">
                <a href="#" class="nav-link "> FEDEK </a>
            </li>
            <li aria-haspopup="true" class=" ">
                <a href="#" class="nav-link "> HEPDAK </a>
            </li>
            <li aria-haspopup="true" class=" ">
                <a href="#" class="nav-link "> EPDAD </a>
            </li>
            <li aria-haspopup="true" class=" ">
                <a href="#" class="nav-link "> AACSB </a>
            </li>
            <li aria-haspopup="true" class=" ">
                <a href="#" class="nav-link "> EAPAA </a>
            </li>

        </ul>
    </li>
    <li aria-haspopup="true">
        <a href="/DersProgrami"> @Dil.Getir("ders_programlari")</a>

    </li>
    <li aria-haspopup="true">
        <a href="/DersProgrami"> @Dil.Getir("ogretim_elemani_ders_programi")<span class="nav-link  "></span></a>

    </li>
    <li aria-haspopup="true">
        <a href="#"> @Dil.Getir("mekan_programi")<span class="nav-link  "></span></a>

    </li>
    <li aria-haspopup="true">
        <a href="#"> @Dil.Getir("derse_yazilma_istatistikleri")<span class="nav-link  "></span></a>
    </li>*@                            @*
                                    <li aria-haspopup="true">
                                        <a href="/EBS/SanalSinif" class="nav-link  "> Sanal Sınıf</a>
                                    </li>
                                    <li aria-haspopup="true">
                                        <a href="/Ders/DevamListe" class="nav-link  ">Haftalık Devam Listesi</a>
                                    </li>
                                    <li aria-haspopup="true">
                                        <a href="/EBS/GeriBildirim" class="nav-link  "> @Dil.Getir("geri_bildirim")</a>
                                    </li>
                                </ul>
                            </li>
                                           *@
        }


        @*
            <li class="menu-drodown mega-menu-dropdown">
                <a href="/Ders/Yardim/Liste"> @Dil.Getir("yardim")</a>
            </li>


            <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                    <a href="javascript:;">
                        Yaz Okulu Yönetimi
                        <span class="arrow"></span>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li aria-haspopup="true" class=" ">
                            <a href="/EBS/YazOkulu" class="nav-link  "> Yaz Okulu Dersleri </a>
                        </li>
                        <li aria-haspopup="true" class=" ">
                            <a href="/EBS/UniversiteOrtakDersler" class="nav-link  "> Üniversite Ortak Dersleri </a>
                        </li>
                        <li aria-haspopup="true" class=" ">
                            <a href="/Admin/DersKoordinatorleri" class="nav-link  "> Bölüm Dersleri </a>
                        </li>
                    </ul>
                </li>
            *@

                @if (Sabitler.AdminListesi.Contains(Sabitler.KullaniciAdi))
                {
                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                        <a href="javascript:;">
                            @Dil.Getir("_yonetici")
                            <span class="arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li aria-haspopup="true" class=" ">
                                <a href="/Admin/DersKoordinatorleri" class="nav-link  "> @Dil.Getir("ders_koordinatorleri")</a>
                            </li>
                            <li aria-haspopup="true" class=" ">
                                <a href="/Admin/BolumKoordinatorleri" class="nav-link  ">  @Dil.Getir("bolum_koordinatorleri")</a>
                            </li>
                            <li aria-haspopup="true" class=" ">
                                <a href="/EBS/UniversiteOrtakDersler" class="nav-link  ">  Üniversite Ortak Dersler</a>
                            </li>
                            <li aria-haspopup="true" class=" ">
                                <a href="/Admin/IPYetkilendirme" class="nav-link  ">  @Dil.Getir("ip_yetkilendirme")</a>
                            </li>
                            <li aria-haspopup="true" class=" ">
                                <a href="/Admin/Istatistik" class="nav-link  ">@Dil.Getir("istatistikler")</a>
                            </li>
                            <li aria-haspopup="true" class=" ">
                                <a href="/Admin/Simulasyon" class="nav-link  ">@Dil.Getir("simulasyon")</a>
                            </li>
                        </ul>
                    </li>
                }
                
                @if (Sabitler.KullaniciID == 1108 || Sabitler.KullaniciID == 973 || Sabitler.KullaniciID == 348 || Sabitler.KullaniciID == 2649)
                {
                    <li class="menu-drodown mega-menu-dropdown">
                        <a href="/Admin/Simulasyon"> @Dil.Getir("simulasyon")</a>
                    </li>
                }

            </ul>
            
        </div>
        <div class="pull-right text-right" style="width: 300px;">
            <input id="txtOgrenciAra" type="text" class="form-control ui-autocomplete-input" style="margin-top: 10px;" placeholder="Öğrenci arayabilirsiniz..." value="" />
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){

    $("#txtOgrenciAra").autocomplete({
        source: function (request, response) { $.post("/Home/OgrenciAra", { adSoyad: request.term }).done(function (data) { response($.map(data, function (item) { return { adsoyad: item.Text, ogrenciid: item.Value, foto: item.Foto, birim: item.Birim } })); }); },
        minLength: 3,
        focus: function (request, response) {
            //$( "#search" ).val( ui.item.title ); // uncomment this line if you want to select value to search box  
            return false;
        },
        select: function (request, response ) {
            //console.log(response);
            //window.location.href = "/Ders/Ogrenci/Profil/" + response.ogrenciid;
        }
    }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
        var inner_html = '<a href="/Ders/Ogrenci/Profil/' + item.ogrenciid + '" s><img src="' + item.foto + '" style="max-width: 70px; width: 70px; height: 70px; float: left; margin-right: 5px;" />' + item.adsoyad + '<br/><small>' + item.birim + '</small></a>';
        return $("<li></li>")
                .data( "item.autocomplete", item )
                .append(inner_html)
            .appendTo(ul);
        
    };

 });
</script>

<style>
    .ui-autocomplete {
        max-width: 300px !important;
    } 
    
    .ui-menu-item {
        height: 80px;
        border: 1px solid #ececf9;
    }
</style>