﻿@{
    Layout = null;
    string kullaniciAdi = Sabitler.KullaniciAdi;
    Sabis.Bolum.Core.ABS.PERSONEL.PersonelBilgiVM PersonelBilgi = Sabis.Bolum.Bll.SOURCE.ABS.PERSONEL.PERSONELMAIN.GetirPersonelBilgi(kullaniciAdi);
    var dilcookie = Request.Cookies["dil"];
    var dil = "tr";
    if (dilcookie != null)
    {
        dil = dilcookie.Value;
    }

}

<style>
    .open, .userLink {
        background-color: #81BCCF !important;
    }
    .navbar-nav > li.dropdown.open {
        background-color: #81BCCF !important;
    }
</style>

<div class="top-menu hidden-sm hidden-xs" style="margin-top: 6px !important;">
    <ul class="nav navbar-nav pull-right">
        <!-- BEGIN USER LOGIN DROPDOWN -->
        <li class="dropdown dropdown-user dropdown-dark">
            <a href="javascript:;" class="dropdown-toggle userLink" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <!--<img alt="" class="img-circle" src="@FotografClient.Client.FotografGetir(kullaniciAdi)">-->
                <span class="username username-hide-mobile" style="color:white;">@PersonelBilgi.Unvan @PersonelBilgi.Ad @PersonelBilgi.Soyad</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a href="http://login.apollo.gtu.edu.tr/tr/Hesap?t=6" target="_blank">
                        <i class="icon-user"></i> Profil
                    </a>
                </li>
                <li>
                    <a href="http://login.apollo.gtu.edu.tr/tr/Hesap" target="_blank">
                        <i class="fa fa-cog"></i> Hesap Ayarları
                    </a>
                </li>
                <li>
                    <a href="http://login.apollo.gtu.edu.tr/Logout">
                        <i class="icon-key"></i> Oturumu Kapat
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-language dropdown-dark">
            <a href="javascript:;" class="dropdown-toggle userLink" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                @if (dil == "tr" || dil == null)
                {
                    <img src="~/Content/assets/global/img/flags/tr.png" />
                    <span class="username username-hide-mobile" style="color:white">TR</span>
                    <i class="fa fa-angle-down"></i>
                }
                else
                {
                    <img src="~/Content/assets/global/img/flags/us.png" />
                    <span class="username username-hide-mobile" style="color:white">EN</span>
                    <i class="fa fa-angle-down"></i>
                }
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a href="javascript:;" id="dil_tr" data-dil="tr">
                        <img src="~/Content/assets/global/img/flags/tr.png" /> Türkçe
                        
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="dil_en" data-dil="en">
                        <img src="~/Content/assets/global/img/flags/us.png" data-dil="en" /> İngilizce
                    </a>
                </li>
            </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
        @if (!string.IsNullOrEmpty(Convert.ToString(HttpContext.Current.Session["simulasyon"])))
        {
            <li class="dropdown dropdown-quick-sidebar-toggler">
                <a id="btnSimuleSonlandir" href="javascript:;" class="dropdown-toggle" title="Simulasyon Sonlandır">
                    <i class="icon-logout"></i>
                </a>
            </li>
        }
        <!-- END QUICK SIDEBAR TOGGLER -->
    </ul>
</div>

<script>
    $("#btnSimuleSonlandir").click(function () {
        $.post("/Admin/Simulasyon/SimulasyonSonlandir")
         .done(function () {
             window.location.href = "/";
         });
    });
    $(document).on("click", "#dil_en", function () {
        var dil = $(this).attr("data-dil");
        var cookieName = 'dil';
        var cookieValue = 'en';
        var myDate = new Date();
        myDate.setMonth(myDate.getMonth() + 12);
        document.cookie = cookieName + "=" + cookieValue + ";expires=" + myDate
                          + ";domain=.sakarya.edu.tr;path=/";
        $.post("/Admin/Simulasyon/DilDegistir", { lang: dil })
             .success(function (json) {
                 if (json) {
                    
                 }
             });
        location.reload();
    });
    $(document).on("click", "#dil_tr", function () {
        var dil = $(this).attr("data-dil");
        var cookieName = 'dil';
        var cookieValue = 'tr';
        var myDate = new Date();
        myDate.setMonth(myDate.getMonth() + 12);
        document.cookie = cookieName + "=" + cookieValue + ";expires=" + myDate
                          + ";domain=.sakarya.edu.tr;path=/";
        $.post("/Admin/Simulasyon/DilDegistir", { lang: dil })
             .success(function (json) {
                 if (json) {
                    
                 }
             });
       
        location.reload();
    });
</script>