﻿@model Sabis.Bolum.Bll.DATA.OSinavSoru
@{
    ViewBag.Title = "Yeni Soru ";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.SinavID)
    @Html.HiddenFor(m => m.SoruNo)
    @Html.ValidationSummary(false, "Lütfen Aşağıdaki hataları Düzeltiniz.")
    <script src="http://cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
<div class="col-lg-6">
    <span class="label label-primary label-md" style="font-size:16px;">Soru No : @Model.SoruNo</span>
    <br />
    <br />
    <div class="form-horizontal">
    <div class="form-group">
        
        <div class="col-lg-12">
            @*<textarea name="txtarea1" id="txtarea1" cols="200" rows="10" class="form-control" placeholder="Soru Metni">
                @Html.Raw(@Model.Baslik)
            </textarea>*@

            <textarea id="msg" name="msg" cols="80" rows="20" class="ckeditor">
                @Html.Raw(@Model.Baslik)
            </textarea>
            
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div></div>
<div class="col-lg-6">

    <table style="width:100%" class="table-answers table table-striped table-bordered table-hover">
        <tr>
            <th colspan="3">
                Cevaplar
            </th>

        </tr>
        <tr class="@(Model.DogruCevap==1?"green":"")">
            <td class="tdR" style="width:5% !important">@Html.RadioButton("DogruCevap", "1")</td>
            <td class="tdT" style="width:5% !important">A.</td>
            <td class="tdA" style="width:90% !important">@Html.TextBoxFor(model => model.Cevap1, new { @class= "form-control" })</td>
        </tr>
        <tr class="@(Model.DogruCevap==2?"green":"")">
            <td class="tdR">@Html.RadioButton("DogruCevap", "2")</td>
            <td class="tdT">B.</td>
            <td class="tdA">@Html.TextBoxFor(model => model.Cevap2, new { @class = "form-control" })</td>
        </tr>
        <tr class="@(Model.DogruCevap==3?"green":"")">
            <td class="tdR">@Html.RadioButton("DogruCevap", "3")</td>
            <td class="tdT">C.</td>
            <td class="tdA">@Html.TextBoxFor(model => model.Cevap3, new { @class = "form-control" })</td>
        </tr>
        <tr class="@(Model.DogruCevap==4?"green":"")">
            <td class="tdR">@Html.RadioButton("DogruCevap", "4")</td>
            <td class="tdT">D.</td>
            <td class="tdA">@Html.TextBoxFor(model => model.Cevap4, new { @class = "form-control" })</td>
        </tr>
        <tr class="@(Model.DogruCevap==5?"green":"")">
            <td class="tdR">@Html.RadioButton("DogruCevap", "5")</td>
            <td class="tdT">E.</td>
            <td class="tdA">@Html.TextBoxFor(model => model.Cevap5, new { @class = "form-control" })</td>
        </tr>
    </table>
</div>
<div class="col-lg-12">
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-6 pull-right">
                <div class="btn-toolbar pull-right">
                    <button class="btn btn-info btn-label"><i class="fa fa-check"></i> Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>
}





