﻿@model Sabis.Bolum.Core.ABS.DERS.OSINAV.OSinavVM
@using Dil = DilWebClient.Cevir
@{
    ViewBag.Title = "Sınav Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sinavID = Model.SinavID;
    var hocaID = Model.HocaID;
}
@Html.Action("_pGrupDersDetaylari", "Detay")
<link href="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.GrupID)
    @Html.HiddenFor(model => model.HocaID)
    @Html.HiddenFor(model => model.PayID)
    @Html.ValidationSummary(false)
    <div class="panel panel-primary wrapper2">
        <div class="panel-heading bar-arkaplan">
            Sınav Düzenle
        </div>
        <div class="panel-body div2">
            <div class="col-lg-4">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="disabledinput" class="col-lg-2 control-label">Sınav Adı</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Ad, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtarea1" class="col-lg-2 control-label left">Açıklama</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Aciklama, new { @class = "form-control", placeholder = "Açıklama" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtarea1" class="col-lg-2 control-label left">Başlangıç</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Baslangic, new { @class = "form-control tarihSec", placeholder = "Başlangıç Tarihi" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtarea1" class="col-lg-2 control-label">Bitiş</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Bitis, new { @class = "form-control tarihSec", placeholder = "Bitiş Tarihi" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Süre</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Sure, new { @class = "form-control", @type = "number", step = "5", placeholder = "Örn : 30" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Soru Sayısı</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.SoruSayisi, new { @class = "form-control", @type = "number", step = "1", placeholder = "Soru Sayısı" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-lg-2 control-label">Yayınla</label>
                        <div class="col-lg-10">
                            @Html.CheckBoxFor(model => model.Yayinlandi, new { @style= "width: 20px; height: 20px;" })
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Eklenecek Sınıflar</div>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            @*@Html.EditorFor(model => model.hocagruplar2)*@
                            @Html.EditorFor(model => model.hocagrups)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                @if (Model.Yayinlandi == 0 || Model.Yayinlandi == 2)
                {
                    <a class="btn btn-white btn-bold btn-success pull-right" href="@Url.Action("SinaviYayinla", new { id = Model.HocaID, sinavID = Model.SinavID })" style="margin-left:5px;">
                        <i class="ace-icon fa fa-arrow-up bigger-110"></i>
                        Sınavı Yayınla
                    </a>
                }
                else
                {
                    <a class="btn btn-white btn-bold btn-danger pull-right" href="@Url.Action("SinaviAskiyaAl", new { id = Model.HocaID, sinavID = Model.SinavID })" style="margin-left:5px;">
                        <i class="ace-icon fa fa-arrow-down bigger-110"></i>
                        Sınavı Askıya Al
                    </a>
                }

            </div>
            <div class="col-lg-12">
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 pull-right">
                            <div class="btn-toolbar pull-right">
                                <a data-toggle="tooltip" title="" class="popbox btn btn-danger btn-label" href="/Ders/OnlineSinav/Liste/@Model.HocaID">
                                    <i class="fa fa-times"></i>İptal
                                </a>
                                <button class="btn btn-info btn-label"><i class="fa fa-check"></i> Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
}
@Html.Action("SoruListe", new { sinavID = sinavID, hocaID = Model.HocaID })
<script>
    $(document).ready(function () {
        $.datetimepicker.setLocale('tr');
        $('.tarihSec').datetimepicker({
            step: 10,
            format: 'd.m.Y H:i'
        });
    });
</script>

