﻿@model List<Sabis.Bolum.Core.ABS.DERS.OSINAV.SinavOturumDto>

@if (Model.Count() > 0)
{
<div class="row">
        <div class="col-md-12">
            <h4 style="background:#ff0000; padding: 5px 10px; color: #fff; border-radius: 1px; margin: 20px 0 20px; text-align:center"><i class="fa fa-warning"></i> Silmek istediğiniz sınava ait öğrenci oturumları bulunmaktadır. Sınavı silerseniz sınavın ekli olduğu diğer sınıflardaki öğrenciler de dahil tüm öğrencilerin notları sistemden silinecektir !</h4>
        </div>
    </div>
<div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Öğrenci</th>
                                <th>Numarası</th>
                                <th>Kullanıcı Adı</th>
                                <th>Notu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var oturum in Model)
                            {
                                <tr>
                                    <td><img width="50px" height="50px" src="@oturum.FotografAdres" /> @oturum.OgrenciAd @oturum.OgrenciSoyad</td>
                                    <td>@oturum.OgrenciNumara</td>
                                    <td>@oturum.OgrenciKullaniciAdi</td>
                                    <td>@oturum.Notu</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
}
<div class="col-lg-12">
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-6 pull-right">
                <div class="btn-toolbar pull-right">
                    <a data-toggle="tooltip" title="" class="popbox btn btn-danger btn-label" href="/Ders/OnlineSinav/GrupOturumTemizleOnay/@ViewBag.grupid?sinavid=@ViewBag.sinavid">
                        <i class="fa fa-times"></i>İptal
                    </a>
                    @*<button class="btn btn-danger btn-label"><i class="fa fa-trash"></i> Onaylıyorum, Sil</button>*@
                </div>
            </div>
        </div>
    </div>
</div>
