﻿@model Sabis.Bolum.Core.ABS.DERS.OSINAV.OSinavVM

@using Dil = DilWebClient.Cevir
@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("_pGrupDersDetaylari", "Detay")
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.HocaID)
    @Html.HiddenFor(m => m.GrupID)
<div class="panel panel-primary wrapper2">
    <div class="panel-heading bar-arkaplan">Sınav Sil</div>
    <div class="panel-body div2">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th class="col-md-3" text-align="left"><span class="pull-left">Sınav Adı</span></th>
                        <td class="col-md-3" colspan="1" text-align="left">@Model.Ad</td>
                    <th class="col-md-3" text-align="left"><span class="pull-left">Başlangıç</span></th>
                    <td class="col-md-3" colspan="1" text-align="left">@Model.Baslangic</td>
                </tr>
                <tr>
                    <th class="col-md-3" text-align="left"><span class="pull-left">Süre</span></th>
                    <td class="col-md-3" colspan="1" text-align="left">@Model.Sure</td>
                    <th class="col-md-3" text-align="left"><span class="pull-left">Bitiş Tarihi</span></th>
                    <td class="col-md-3" colspan="1" text-align="left">@Model.Bitis</td>
                </tr>
                <tr>
                    <th class="col-md-3" text-align="left"><span class="pull-left">Soru Sayısı</span></th>
                    <td class="col-md-3" colspan="1" text-align="left">@Model.SoruSayisi</td>
                    <th class="col-md-3" text-align="left"><span class="pull-left">Ekleyen</span></th>
                    <td class="col-md-3" colspan="1" text-align="left">@Model.Ekleyen</td>
                </tr>
            </table>
        </div>
    </div>
    </div>
    @if (Model.sinavoturumlari.Count() > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <h4 style="background:#ff0000; padding: 5px 10px; color: #fff; border-radius: 1px; margin: 20px 0 20px; text-align:center"><i class="fa fa-warning"></i> Silmek istediğiniz sınava ait öğrenci oturumları bulunmaktadır. Sınavı silerseniz sınavın ekli olduğu diğer sınıflardaki öğrenciler de dahil tüm öğrencilerin notları sistemden silinecektir !</h4>              
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Öğrenci</th>
                                <th>Numarası</th>
                                <th>Kullanıcı Adı</th>
                                <th>Notu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var oturum in Model.sinavoturumlari)
                            {
                                <tr>
                                    <td><img width="50px" height="50px" src="@oturum.FotografAdres" /> @oturum.OgrenciAd @oturum.OgrenciSoyad</td>
                                    <td>@oturum.OgrenciNumara</td>
                                    <td>@oturum.OgrenciKullaniciAdi</td>
                                    <td>@oturum.Notu</td>
                                </tr>
                            }                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6 pull-right">
                    <div class="btn-toolbar pull-right">
                        <a data-toggle="tooltip" title="" class="popbox btn btn-danger btn-label" href="/Ders/OnlineSinav/Liste/@Model.HocaID">
                            <i class="fa fa-times"></i>İptal
                        </a>
                        <button class="btn btn-info btn-label"><i class="fa fa-check"></i> Silmeyi Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
