﻿@model Sabis.Bolum.Core.ABS.DERS.OSINAV.OSinavSoruListe
<link href="~/Content/assets/global/plugins/jquery-fileupload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/jquery-fileupload/css/jquery.fileupload-ui.css" rel="stylesheet" />
<script src="/Content/assets/global/plugins/jquery-fileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="/Content/assets/global/plugins/jquery-fileupload/js/jquery.iframe-transport.js"></script>
<script src="/Content/assets/global/plugins/jquery-fileupload/js/jquery.fileupload.js"></script>
<a data-toggle="tooltip" title="" class="popbox btn btn-success btn-label" href="/Ders/OnlineSinav/SoruEkle/@Model.HocaID?sinavID=@Model.SinavID">
    <i class="fa fa-plus-circle"></i>Soru Ekle
</a>
<span class="btn btn-primary fileinput-button">
    <i class="fa fa-file-excel-o"></i>
    <span>SORU YÜKLE</span>
    <input id="fileupload" type="file" name="files">
</span>
<span>
    <a href="~/Content/ornek_sinav_sablon.xlsx" class="btn btn-info btn-sm pull-right"><i class="fa fa-cloud-download"></i>Örnek excel şablonunu indir</a>
</span>
<br />
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h5><i class="fa fa-pencil"></i> Sorular</h5>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            @if (Model == null)
            {
                <div class="well well-sm tooltips" data-trigger="hover" data-original-title=".well.well-sm">
                   Henüz Soru Eklenmedi.
                </div>
            }
            else
            {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="padding-right:10px">Soru No</th>
                        <th>Soru</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var soru in Model.Sorular)
                    {
                        <tr>
                            <td align="left" style="width:5%">                           
                            <span class="btn btn-primary">@soru.SoruNo</span>
                            </td>
                            <td style="width:75%">@Html.Raw(soru.Baslik)</td>
                            <td style="width:15%">
                                <a data-toggle="tooltip" title="Düzenle" class="popbox btn btn-info btn-label" href="/Ders/OnlineSinav/SoruDuzenle/@Model.HocaID?soruID=@soru.SoruID">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a data-toggle="tooltip" title="Sil" class="popbox btn btn-danger btn-label" onclick="SoruSil(@soru.SoruID)" href="#">
                                <i class="fa fa-trash"></i>
                            </a>
                                @if (soru.Iptal == true)
                                {
                                    <a href="" class="btn btn-danger">İptal Edildi</a>
                                }
                                else
                                { 
                                <a data-toggle="tooltip" title="İptal" class="popbox btn btn-warning btn-label" onclick="SoruIptal(@soru.SoruID)" href="#">
                                    <i class="fa fa-times"></i>
                                </a>
                                }
                            </td>
                        </tr>
                    }
                    
                </tbody>
                
            </table>
            }
        </div>
    </div>
</div>
<script>
    blockStatus = true;
    function SoruSil(soruid) 
    {
        var send = $.post("/OnlineSinav/SoruSil/"+ soruid)
             .done(function(data) {
                 if(data.Success)
                 {

                     toastr["success"]("Soru Silindi", "Başarılı")   
                     location.reload();
                 }
                 else
                 {
                     toastr["error"]("Bu Soru Silinmeden Önce Sınavda kullanılmış ve öğrenciler cevap vermiştir. Bu yüzden soru silinemez.", "Uyarı")         
                 }

             })
             .fail(function() {
                 alert("fail");
             })
    }
    function SoruIptal(soruid) 
    {
        var send = $.post("/OnlineSinav/SoruIptal/"+ soruid)
             .done(function(data) {
                 if(data.Success)
                 {

                     toastr["success"]("Soru İptal Edildi.", "Başarılı")   
                     toastr["success"]("Sınav Sonuçları Yeniden Hesaplandı.", "Bilgi")   
                     location.reload();
                 }
                 else
                 {
                     toastr["error"]("Soru İptal Edilemedi.", "Uyarı")         
                 }

             })
             .fail(function() {
                 alert("fail");
             })
    }
    $(function () {
        'use strict';
        FUpload();
    });



        function FUpload() {
            $('#fileupload').fileupload({
                dataType: 'json',
                url:'/OnlineSinav/ExcelUpload/@Model.SinavID',
                add: function (e, data) {
                    var goUpload = true;
                    var uploadFile = data.files[0];
                    if (!(/\.(xls|xlsx)$/i).test(uploadFile.name)) {
                        toastr["error"]("İzin verilen dosya türleri: xls|xlsx", "Geçersiz İşlem")  
                        goUpload = false;
                    }
                    if (uploadFile.size > 2147483648) {
                        toastr["error"]("Dosya boyutu en fazla 1.500 mb olabilir.", "Geçersiz İşlem")  
                        goUpload = false;
                    }
                    if (goUpload === true) {
                        data.submit();
                    }
                },
                done: function (e, data) {
                    console.log(data.result);
                    $(".progress").hide();

                    if (data.result.Status === 1) {
                        toastr["success"]("Sorular Yüklendi.", "Başarılı")   
                        location.reload();
                    }
                    else {
                        if (data.result.Status === 2) {
                            toastr["error"](data.result.Message, "Uyarı")  
                        }
                        else {
                            toastr["error"](data.result.Message, "Hata Oluştu")  
                        }
                    }
                },
                fail: function (e, data) {
                    console.log(data);
                    $(".progress").hide();
                    toastr["error"]("Yüklediğiniz dosya bozuk olabilir !", "Hata Oluştu")  
                },
                progressall: function (e, data) {
                    $(".progress").show();
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('.progress .progress-bar').css('width', progress + '%');
                }
            });
        }
</script>
