﻿@model Sabis.Bolum.Core.ABS.DERS.OSINAV.OSinavSoruEkle
@{
    ViewBag.Title = "SoruEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
@Html.Action("_pGrupDersDetaylari", "Detay")
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.SinavID)
    @Html.HiddenFor(m => m.SinavAd)
    @Html.HiddenFor(m => m.SoruNo)
    @Html.HiddenFor(m => m.HocaID)
    @Html.ValidationSummary(false)
    
    <div class="panel panel-primary wrapper2">
        <div class="panel-heading bar-arkaplan">
            Soru Ekle
        </div>
        <div class="panel-body div2">
            <div class="col-lg-6">
                <div class="form-group">

                    <div class="col-lg-12">
                        <span class="label label-primary label-md" style="font-size:16px;">@Model.SinavAd</span>
                        <br />
                        <br />
                        @Html.TextAreaFor(model => model.Baslik, new { @class= "ckeditor" })
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <table style="width:100%" class="table-answers table table-striped table-bordered table-hover">
                    <tr>
                        <th colspan="3">
                            Seçenekler
                        </th>
                    </tr>
                    <tr class="@(Model.DogruCevap==1?"green":"")">
                        <td class="tdR" style="width:5% !important">@Html.RadioButton("DogruCevap", "1")</td>
                        <td class="tdT" style="width:5% !important">A.</td>
                        <td class="tdA" style="width:90% !important">@Html.TextBoxFor(model => model.Cevap1, new { @class = "form-control" })</td>
                    </tr>
                    <tr class="@(Model.DogruCevap==2?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "2")</td>
                        <td class="tdT">B.</td>
                        <td class="tdA">@Html.TextBoxFor(model => model.Cevap2, new { @class = "form-control" })</td>
                    </tr>
                    <tr class="@(Model.DogruCevap==3?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "3")</td>
                        <td class="tdT">C.</td>
                        <td class="tdA">@Html.TextBoxFor(model => model.Cevap3, new { @class = "form-control" })</td>
                    </tr>
                    <tr class="@(Model.DogruCevap==4?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "4")</td>
                        <td class="tdT">D.</td>
                        <td class="tdA">@Html.TextBoxFor(model => model.Cevap4, new { @class = "form-control" })</td>
                    </tr>
                    <tr class="@(Model.DogruCevap==5?"green":"")">
                        <td class="tdR">@Html.RadioButton("DogruCevap", "5")</td>
                        <td class="tdT">E.</td>
                        <td class="tdA">@Html.TextBoxFor(model => model.Cevap5, new { @class = "form-control" })</td>
                    </tr>
                </table>
                @Html.DropDownListFor(m => m.Cevap1, (IEnumerable<SelectListItem>)ViewBag.derece, new { @class = "form-control" })
                <div class="form-horizontal">
                    <div class="form-group">
                        <h3><div class="col-lg-3"><span class="label label-primary">Zorluk Derecesi</span></div></h3>
                        <h3>
                            <div class="col-lg-9">
                                <span class="label label-info">Kolay</span>
                                @foreach (var item in Model.ZorlukDerece)
                                {

                                    @Html.RadioButtonFor(m => m.Cevap1, item, new { @style = "width: 15px; height: 15px;" })
                                    @Html.Label(item.ToString(), new { @style = "width: 15px; height: 15px;margin-right:25px; " })


                                }
                                <span class="label label-danger">Zor</span>
                            </div>
                        </h3>
                    </div>
                </div>
                    
                </div>
            <br />
            <div class="col-lg-12">
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 pull-right">
                            <div class="btn-toolbar pull-right">
                                <a data-toggle="tooltip" title="" class="popbox btn btn-danger btn-label" href="/Ders/OnlineSinav/Duzenle/@Model.HocaID?sinavID=@Model.SinavID">
                                    <i class="fa fa-times"></i>İptal
                                </a>
                                <button class="btn btn-info btn-label"><i class="fa fa-check"></i> Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}                    
