﻿@model List<Sabis.Bolum.Core.dto.Ders.HaftalikDersProgramiDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Ders Devam Listesi</li>
        </ul>
    </div>
}
<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Haftalık Ders Programı</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12">
                @*<p>
                    <a class="btn blue" href="/Rapor/YoklamaListeTumu/"><i class="fa fa-print"></i> Tüm Listeyi Yazdır </a>
                </p>*@
                <p>
                    <a class="btn blue" href="/Rapor/TumYoklamaListe_JsReport/"><i class="fa fa-print"></i> Tüm Listeyi Yazdır </a>
                </p>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th> Ders </th>
                            <th> Başlangıç </th>
                            <th> Bitiş </th>
                            <th> Mekan </th>
                            <th> İşlem </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @item.DersBilgisi </td>
                                <td> @item.Baslangic </td>
                                <td> @item.Bitis </td>
                                <td> @item.Mekan </td>
                                <td>
                                    <span class="label label-sm label-info">
                                        @*<a href="/Rapor/YoklamaListe/@item.FKDersGrupHocaID?tarih=@item.Baslangic" style="color:white !important;"><i class="fa fa-print"></i> Yoklama Listesi Yazdır </a>*@
                                        <a href="/Rapor/YoklamaListe_JsReport/@item.FKDersGrupHocaID?tarih=@item.Baslangic" style="color:white !important;"><i class="fa fa-print"></i> Yoklama Listesi Yazdır </a>
                                    </span>
                                   
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>



    </div>
</div>

