﻿@using Dil = DilWebClient.Cevir
@using Sabis.Enum
@*@model List<Core.ViewModel.Ders.Pay.PayViewModel>*@
@model List<Sabis.Bolum.Core.ABS.DERS.DERSDETAY.PayBilgileriVM>
@{
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
}

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Pay Düzenle</div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr class="active">
                    <th class="col-md-1 text-center">Sıra</th>
                    <th class="col-md-8">Çalışma Tipi</th>
                    <th class="col-md-2 text-center">Oran</th>
                    <th class="col-md-1">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model.Where(x => x.EnumCalismaTipi < 10).OrderBy(x => x.EnumCalismaTipi))
                    {
                        <tr>
                            <td class="col-md-1 text-center">@item.SiraNo</td>
                            <td class="col-md-8">@Utils.GetEnumDescription((EnumCalismaTip)item.EnumCalismaTipi)</td>
                            <td class="col-md-2">
                                <input id="@item.PayID" type="text" data-fkdersplananaid="@item.DersPlanAnaID" data-fkdersplanid="@item.DersPlanID" data-dersgrupid="@item.DersGrupID" data-sira="@item.SiraNo" data-id="@item.PayID" data-enumcalismatip="@item.EnumCalismaTipi" value="@item.KatkiOrani" class="form-control text-center txtYilIciPay" onkeyup="integerInRange(this, this.value, 0, 100, this.id)" />
                            </td>
                            <td class="col-md-1"><button data-payid="@item.PayID" class="btn btn-danger btnPaySil">Sil</button></td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr class="active">
                    <td></td>
                    <td class="text-right"><b>Yıl İçi Toplam:</b></td>
                    <td class="text-center"><b><span id="yilIciToplam"></span></b></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <table class="table table-bordered">
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model.Where(x => x.EnumCalismaTipi > 10 && x.EnumCalismaTipi < 13))
                    {
                        <tr>
                            <td class="col-md-1 text-center">@item.SiraNo</td>
                            <td class="col-md-8">@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)</td>
                            <td class="col-md-2">
                                <input id="@item.PayID" type="text" data-fkdersplananaid="@item.DersPlanAnaID" data-fkdersplanid="@item.DersPlanID" data-dersgrupid="@item.DersGrupID" data-sira="@item.SiraNo" data-id="@item.PayID" data-enumcalismatip="@item.EnumCalismaTipi" value="@item.KatkiOrani" class="form-control text-center txtYilSonuPay" onkeyup="integerInRange(this, this.value, 0, 100, $(this).data('id'))" />
                            </td>
                            <td class="col-md-1">
                                @*@if (item.EnumCalismaTipi != (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya)
                                    {}*@
                                @if (!item.NotGirilmisMi)
                                {
                                    <button data-payid="@item.PayID" class="btn btn-danger btnPaySil">Sil</button>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tbody>
                <tr class="active">
                    <td></td>
                    <td class="text-right"><b>Genel Toplam:</b></td>
                    <td class="text-center"><b><span id="yilSonuToplam"></span></b></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <span class="btn btn-label text-center btn-danger" id="spnDegisiklik" style="display: none;">
            @Html.Label("lblUyari", "Değişiklikler kaydedilmedi", new { style = "padding-top:7px" })
        </span>
        <button id="btnKaydet" class="btn btn-success btn-label" style="margin:10px; margin-left: 0;" disabled>
            <i class="fa fa-check"></i>@Dil.Getir("kaydet")
        </button>
        <h2><span id="lblUyari" class="label label-danger">Yıl içi ve genel toplam 100'e eşit olmalıdır.</span></h2>
    </div>
</div>




<script>

    $(document).ready(function () {
        toplamKontrol();
    });

    $(document).on("keyup", ".txtYilIciPay, .txtYilSonuPay", function () {
        toplamKontrol();
    });


    var toplamKontrol = function() {
        $("#yilIciToplam").html(sumTxt(".txtYilIciPay"));
        $("#yilSonuToplam").html(sumTxt(".txtYilSonuPay"));
        var yilici = $("#yilIciToplam").html();
        var yilsonu = $("#yilSonuToplam").html();

        if(yilici == 100 && yilsonu == 100) {
            $("#btnKaydet").attr("disabled", false);
            $("#lblUyari").hide();
        } else {
            $("#btnKaydet").attr("disabled", true);
            $("#lblUyari").show();
        }
    };

    $(".btnPaySil").on("click", function () {
        var response = confirm("Pay silinecek! Onaylıyor musunuz?");
        if (response) {
            $.post("/Ders/PayDuzenle/SilPay", { payID: $(this).attr("data-payid"), FKKoordinatorID: '@Sabitler.KullaniciID', FKDersPlanAnaID: '@dersDetay.DersPlanAnaID' }).success(function (data) {
                toastr.info("Silme işlemi tamamlandı.");
                window.location.reload();
            });
        }
    });


    var sumTxt = function (selector) {
        var sum = 0;
        $(selector).each(function () {
            if($(this).val() == "") { $(this).val("1"); }
            sum += Number($(this).val());
        });
        return sum;
    }

    function integerInRange(context, value, min, max, id) {
        if (value < min || value > max) {
            document.getElementById(id).value = "100";
            toastr.error('Girilen değer ' + min + ' ile ' + max + ' arasında olmalıdır.');
        }
    }
</script>

<style>
    input {
        /*-webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;*/
        border: 2px solid silver;
        width: 40px;
        min-width: 40px;
        padding: 3px;
        text-align: center;
    }
</style>