﻿@model List<Sabis.Bolum.Core.ABS.DERS.DERSDETAY.PayVM>
@using Dil = DilWebClient.Cevir
@{
    ViewBag.Title = "Pay Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
}

@*@Html.Partial("~/Areas/Ders/Views/Detay/DersDetaylari.cshtml")*@
@Html.Action("_pGrupDersDetaylari", "Detay")

<div class="alert alert-danger">
    @Dil.Getir("dikkat")! @Dil.Getir("eger_yil_icinin_basariya_orani_tanimli_degilse")
</div>

<div class="row">
    <div class="col-md-6">
        @Html.Action("GetirPayListesi", "PayDuzenle", new { id = Request.RequestContext.RouteData.Values["id"] })
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading bar-arkaplan">@Dil.Getir("pay_ekle")</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-bordered">
                        <tbody id="OgrenciListesi">
                            <tr>
                                <td class="col-md-3">
                                    <select id="calismaTip" class="calismaTip form-control">
                                        @foreach (Sabis.Enum.EnumCalismaTip tip in Enum.GetValues(typeof(Sabis.Enum.EnumCalismaTip)))
                                        {
                                            if (Convert.ToInt32(tip) > 13 || Convert.ToInt32(tip) == 10 || Convert.ToInt32(tip) == 11) { continue; }
                                            <option data-enumcalismatip="@Convert.ToInt32(tip)" value="@Convert.ToInt32(tip)">@tip</option>
                                        }
                                    </select>
                                </td>
                                <td class="col-md-4">
                                    <button class="btn btn-primary btn-label" id="btnYeniCalismaTuruEkle" style="margin-right:10px; margin-left: 0;"><i class="fa fa-check"></i>Ekle</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $('#btnYeniCalismaTuruEkle').click(function () { PayEkle(null, 0, $("#calismaTip").val()); });

    function PayEkle(itemID, strValue, CalismaTip) {
        var listPostEdilecek = [];
        //tanımlamalar
        var Yil = '@Sabitler.Yil';
        var EnumDonem = '@Sabitler.Donem';
        var FKPersonelID = '@Sabitler.KullaniciID';
        var FKDersPlanAnaID = '@dersDetay.DersPlanAnaID';
        var FKDersPlanID = '@dersDetay.DersPlanID';
        var FKDersGrupID = '@dersDetay.DersGrupID';
        //tanımlamalar

        var data = {
            PayID: null,
            EnumCalismaTipi: CalismaTip,
            SiraNo: null,
            KatkiOrani: 0,
            Donem: EnumDonem,
            Yil: Yil,
            DersPlanID: FKDersPlanID,
            DersGrupID: FKDersGrupID,
            DersPlanAnaID: FKDersPlanAnaID,
            PersonelID: FKPersonelID,
            KullaniciAdi: '@Sabitler.KullaniciAdi',
            IP: '@Sabitler.IPAdresi'
        };

        listPostEdilecek.push(data);

        //console.log(listPostEdilecek);

        $.post("/Ders/PayDuzenle/EklePay", { liste: listPostEdilecek, id: @Request.RequestContext.RouteData.Values["id"] })
                .success(function (data) { window.location.reload(); })
                .error(function() { window.location.reload(); });
    }

    function PayGuncelle() {
        $.post("/Ders/PayDuzenle/GetirPayListesi", { id: @Request.RequestContext.RouteData.Values["id"] })
            .success(function(data) {
                $('#PayListeleri').html(data);
                PayFormClear();
                toastr.success("@Dil.Getir("islem_tamamlandi")");
                sumAllValue();
            });
    };



    $("#btnKaydet").click(function() {
        var listPost = [];
        var liste = $(".txtYilIciPay");
        var liste1 = $(".txtYilSonuPay");
        //console.log(liste);

        var hata = false;

        //tanımlamalar
        var Yil = '@Sabitler.Yil';
        var EnumDonem = '@Sabitler.Donem';
        var FKPersonelID = '@Sabitler.KullaniciID';
        var FKDersPlanAnaID = '@dersDetay.DersPlanAnaID';
        var FKDersPlanID = '@dersDetay.DersPlanID';
        var FKDersGrupID = '@dersDetay.DersGrupID';
        //tanımlamalar

        $.each(liste, function() {
            if($(this).val() < 1) {
                hata = true;
            }

            var tempData = {
                ID: $(this).data("id"),
                EnumCalismaTip: $(this).data("enumcalismatip"),
                Sira: $(this).data("sira"),
                Oran: $(this).val(),
                EnumDonem: EnumDonem,
                Yil: Yil,
                FKDersPlanID: FKDersPlanID,
                FKDersGrupID: FKDersGrupID,
                FKDersPlanAnaID: FKDersPlanAnaID,
                FKPersonelID: FKPersonelID,
                KullaniciAdi: '@Sabitler.KullaniciAdi',
                IP: '@Sabitler.IPAdresi'
            };

            listPost.push(tempData);
        });

        $.each(liste1, function() {
            if($(this).val() < 1) {
                hata = true;
            }
            var tempData = {
                ID: $(this).data("id"),
                EnumCalismaTip: $(this).data("enumcalismatip"),
                Sira: $(this).data("sira"),
                Oran: $(this).val(),
                EnumDonem: EnumDonem,
                Yil: Yil,
                FKDersPlanID: FKDersPlanID,
                FKDersGrupID: FKDersGrupID,
                FKDersPlanAnaID: FKDersPlanAnaID,
                FKPersonelID: FKPersonelID,
                KullaniciAdi: '@Sabitler.KullaniciAdi',
                IP: '@Sabitler.IPAdresi'
            };
            listPost.push(tempData);
        });

        if(hata == true)
        {
            toastr.error("Pay oranı sıfırdan büyük olmalıdır.");
        }
        else
        {
            $.post("/Ders/PayDuzenle/GuncellePay   ", { payListesi: listPost, id: @Request.RequestContext.RouteData.Values["id"] })
                .success(function(json) {
                    if (json) {
                        toastr.success("Kayıt işlemi tamamlandı.");
                    }
                    else {
                        toastr.error("Hata oluştu.");
                    }
                });
        }
    });
</script>
