﻿@model List<Sabis.Bolum.Core.ABS.DERS.DERSDETAY.PayHiyerarsikVM>
@using Dil = DilWebClient.Cevir

<div class="panel panel-primary wrapper2">
    <div class="panel-heading bar-arkaplan">@Dil.Getir("not_detaylari")</div>
    <div class="panel-body div2">
        <table class="table table-striped table-bordered table-hover" style="overflow-x: scroll;">
            <thead>
                <tr class="info">
                    <th class="col-md-1 text-center">
                        <input class="md-radiobtn" style="width: 20px; height: 20px;" id="tumunusec" type="checkbox" onclick="checkAll(this, 'ders')" />
                    </th>
                    <th class="col-md-2">@Dil.Getir("calisma_tipi")</th>
                    <th class="col-md-1 text-center">@Dil.Getir("oran")</th>
                    <th class="col-md-1 text-center">@Dil.Getir("girilen") / @Dil.Getir("toplam")</th>
                    <th class="col-md-2 text-center">@Dil.Getir("YayinDurumu")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x=> x.EnumCalismaTip != (int)Sabis.Enum.EnumCalismaTip.YilIcininBasariya).OrderBy(x=> x.EnumCalismaTip))
                {
                    <tr>
                        <td class="col-md-1 text-center vert-align">
                            <input style="width: 20px; height: 20px;" class="cbDers md-radiobtn" type="checkbox" name="ders" data-payid="@item.ID" data-payadi="@item.Sira @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTip)" data-paydurum="@*@item.TarihAraligiUygunMu*@" value="@item.ID" />

                        </td>
                        <td class="col-md-2 vert-align" id="@item.ID" name="@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTip)">
                            @if (item.EnumCalismaTip != (int)Sabis.Enum.EnumCalismaTip.Final)
                            { <span>@item.Sira</span><span>.</span> } @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTip)
                        </td>
                        @if (item.Oran.HasValue)
                        {
                            <td class="col-md-1 text-center vert-align">%@item.Oran</td>
                        }
                        else
                        {
                            <td class="col-md-1 text-center vert-align">@item.Pay / @item.Payda</td>
                        }
                        
                        <td class="col-md-1 text-center vert-align">@item.PayNotAdet.Girilen / @item.PayNotAdet.Toplam</td>

                        

                        <td class="col-md-2 text-center vert-align">
                            @if (item.YayinlanmaDurumu == false)
                            {
                                <button data-payid="@item.ID" data-katkiorani="@item.Oran" data-pay="@item.Pay" data-payda="@item.Payda" data-enumcalismatipi="@item.EnumCalismaTip" data-dersplananaid="@item.FKDersPlanAnaID" data-toggle="tooltip" title="@Dil.Getir("yayinla")" class="btn btn-info btn-label btnYayinla"><i id="@item.ID" data-checked="false" class="fa fa-envelope"></i> @Dil.Getir("yayinla")</button>
                            }
                            else
                            {
                                <button data-payid="@item.ID" data-katkiorani="@item.Oran" data-pay="@item.Pay" data-payda="@item.Payda" data-enumcalismatipi="@item.EnumCalismaTip" data-dersplananaid="@item.FKDersPlanAnaID" data-toggle="tooltip" title="@Dil.Getir("yayindan_kaldir")" class="btn btn-inverse btn-label btnYayindanKaldir"><i id="@item.ID" data-checked="false" class="fa fa-envelope"></i> @Dil.Getir("yayindan_kaldir")</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).on("click", ".btnYayinla", function () {
        var $cBtn = $(this);
        $cBtn.attr("enabled", true);
        var data = {
            ID: $(this).attr("data-payid"),
            FKDersPlanAnaID: $(this).attr("data-dersplananaid"),
            Yil: '@Sabitler.Yil',
            EnumDonem: '@Sabitler.Donem'
        }

        $.post("/Ders/Detay/AnaAltDersVeGruplariPayIslem", { payBilgi: data, durum: true })
            .success(function (json) {
                if (json) {
                    $cBtn.removeClass("btnYayinla btn-info").addClass("btnYayindanKaldir btn-inverse").html('<i class="fa fa-envelope"></i> Yayından Kaldır');
                    toastr.success("Yayınlandı");
                }
                else {
                    toastr.error("@Dil.Getir("islem_yapilirken_bir_hata")");
                }
            });
    });

    $(document).on("click", ".btnYayindanKaldir", function () {
        $cBtn = $(this);
        $cBtn.attr("enabled", true);

        var data = {
            ID: $(this).attr("data-payid"),
            FKDersPlanAnaID: $(this).attr("data-dersplananaid"),
            Yil: '@Sabitler.Yil',
            EnumDonem: '@Sabitler.Donem'
        }

        $.post("/Ders/Detay/AnaAltDersVeGruplariPayIslem", { payBilgi: data, durum: false })
            .success(function (json) {
                if (json) {
                    $cBtn.removeClass("btnYayindanKaldir btn-inverse").addClass("btnYayinla btn-info").html('<i class="fa fa-envelope"></i>  Yayınla');
                    toastr.info("Yayından kaldırıldı.");
                }
                else {
                    toastr.error("@Dil.Getir("islem_yapilirken_bir_hata")");
                }
            });
    });

</script>