﻿@model Sabis.Bolum.Core.ABS.DERS.HOME.UstDersViewModel
@using Dil = DilWebClient.Cevir

@*Menü*@
<nav class="navbar navbar-default yamm" role="navigation" style="z-index: 1029;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse large-icons-nav" id="horizontal-navbar">
        <ul class="nav navbar-nav">
            <li class="menuboyut" id="MenuDetay"><a href="/Ders/Detay/Ana/@Request.RequestContext.RouteData.Values["id"]"><i class="fa fa-columns"></i> <span>Ders Detayı</span></a></li>
            @*<li class="menuboyut2" id="MenuOgrenciListesi"><a href="#" onclick="location.href = '/Ders/OgrenciListesi'"><i class="fa fa-group"></i> <span>ÖĞRENCİ LİSTESİ</span></a></li>
                <li class="menuboyut" id="MenuDokumanlar"><a href="#" onclick="location.href = '/Ders/Dokumanlar'"><i class="fa fa-book"></i> <span>Dokümanlar</span></a></li>
                <li class="menuboyut2" id="MenuOgrenciIslemleri" class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="fa fa-calendar-o"></i><span>DEVAM DURUMU<i class="fa fa-angle-down"></i></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="location.href = '/Ders/DevamTakip'">Devam Takibi</a></li>
                        <li><a href="#" onclick="location.href = '/Ders/DevamTakip/KatilimOrani'">Katılım Oranı</a></li>
                        <li><a href="#" onclick="location.href = '/Ders/DevamsizOgrenciGirisi'">Devamsız Öğrenci</a></li>
                    </ul>
                </li>*@
            <li class="menuboyut2" id="MenuDegerlendirme"><a href="/Ders/Degerlendirme/Index/@Request.RequestContext.RouteData.Values["id"]?hiyerarsik=true"><i class="fa fa-pencil"></i> <span>Değerlendirme</span></a></li>
            @if (Sabitler.KullaniciAdi == "uerkorkmaz")
            {
                <li class="menuboyut2" id="MenuNotGiris"><a href="/Ders/ExcelNotGiris/Index/@Request.RequestContext.RouteData.Values["id"]"><i class="fa fa-pencil"></i> <span>Not Giriş</span></a></li>
            }

            @*<li class="menuboyut" id="MenuDuyuru"><a href="#" onclick="location.href = '/Ders/Duyuru'"><i class="fa fa-bullhorn"></i> <span>Duyuru</span></a></li>
                <li class="menuboyut" id="MenuSanalToplanti"><a href="#" onclick="location.href = '/Ders/SanalToplanti'"><i class="fa fa-video-camera"></i> <span>Sanal Sınıf</span></a></li>*@
            @*<li id="MenuSinavlar"><a href="#" onclick="location.href = '/Ders/Sinavlar'"><i class="fa fa-files-o"></i> <span>Sınavlar</span></a></li>*@
        </ul>
    </div>
</nav>
@*Menü*@

@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading bar-arkaplan">@Dil.Getir("ders_detaylari") <span class="pull-right"><a href="/" style="color: white;">Seçili Dersi Değiştir</a></span></div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th class="col-md-2" text-align="left"><span class="pull-right">Ders Adı</span></th>
                                <td class="col-md-10" colspan="7" text-align="left">@Model.DersAd</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}