﻿@model Sabis.Bolum.Core.ABS.DERS.HOME.UstDersViewModel

<script>altDersDurum = false;</script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading bar-arkaplan">Alt Dersler</div>
            <div class="panel-body">
                @if (Model.AltDersList != null)
                {
                    foreach (var item in Model.AltDersList)
                    {
                            <a href="/Ders/Detay/Ana/@item.DersPlanAnaID" data-dersplananaid="@item.DersPlanAnaID">
                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                                    <div class="dashboard-stat grey-mint">
                                        <div class="more" style="color: white;">
                                            @item.DersAd
                                        </div>
                                        <div class="col-md-12" style="color: white; padding-top: 15px; padding-bottom: 15px;">
                                            @if (item.AltDersList != null)
                                            {
                                                @TreeView(item.AltDersList)
                                            }
                                        </div>

                                    </div>
                                </div>
                            </a>
                    }
                }
                else
                {
                    <script>altDersDurum = true;</script>
                    foreach (var item in Model.DersGrupList)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="info-tiles tileDers tiles-primary">
                                <a href="/Ders/Detay/Grup/@item.DersGrupHocaID" data-dersgruphocaid="@item.DersGrupHocaID">
                                    <div class="tiles-heading">
                                        <div class="pull-left text-left overflowDiv col-md-12">@item.DersAd (@item.GrupAd) @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)item.EnumOgretimTur).ToUpper()</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

@helper TreeView(List<Sabis.Bolum.Core.ABS.DERS.HOME.UstDersViewModel> altDersListesi)
{
    <div class="col-md-12">
        <ul>
            @foreach (var item in altDersListesi)
                {
                    if (item.AltDersList != null)
                    {
                        <li>
                            <a href="/Ders/Detay/Ana/@item.DersPlanAnaID" style="color: white;">@item.DersAd</a>
                            <ul>
                                @TreeView(item.AltDersList)
                            </ul>
                        </li>
                    }
                    else
                    {
                        foreach (var item1 in item.DersGrupList.OrderBy(x => x.EnumOgretimTur).ThenBy(x => x.GrupAd))
                        {
                            <li>
                                <a href="/Ders/Detay/Grup/@item1.DersGrupHocaID"><span class="altDers" style="color: white;" data-dersgruphocaid="@item1.DersGrupHocaID">@item1.DersAd (@item1.GrupAd) @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)item1.EnumOgretimTur).ToUpper()</span></a>
                            </li>
                            @*<li>
                                        <a href="/Ders/Detay/Grup/@item1.DersGrupHocaID">
                                            <span class="altDers" data-dersgruphocaid="@item1.DersGrupHocaID">
                                                @item1.DersAd

                                            (@item1.GrupAd)
                                        </span>
                                    </a>
                                </li>*@
                        }
                    }
                }

        </ul>
    </div>
}