﻿@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL

@model Sabis.Bolum.Core.ABS.DERS.DERSDETAY.DersDetayVM
@using Dil = DilWebClient.Cevir
@{
    Layout = null;
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
}



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading bar-arkaplan">@Dil.Getir("ders_detaylari") </div>
            <div class="panel-body">
                <table class="table table-bordered table-condensed" style="margin-bottom: 0px !important;">
                    <tr>
                        <th class="col-md-2" text-align="left"><span class="pull-right">@Dil.Getir("birim")</span></th>
                        <td class="col-md-10" colspan="7" text-align="left">
                            @Model.FakulteAd / @Model.BolumAd @if (Model.BolumAd != Model.ProgramAd)
                            { <span> / @Model.ProgramAd</span> }
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-2" text-align="left"><span class="pull-right">@Dil.Getir("ders_bilgileri")</span></th>
                        <td class="col-md-10" colspan="7" text-align="left">
                            <a href="/Ders/Yoklama/Liste/@dersDetay.DersGrupHocaID">
                                @Model.BolumKod @Model.DersKod - @Model.DersAd @if (Model.EnumOgretimTur != null)
                                {
                                    <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)Model.EnumOgretimTur)
                                }
                                - @Model.GrupAd Grubu (@Model.OgrenciSayisi Öğrenci)
                            </a>
                        </td>
                    </tr>
                    @if (dersDetay.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.UZMANLIKALANI)
                    {
                        <tr>
                            <th class="col-md-2" text-align="left"><span class="pull-right">Ders Koordinatörü</span></th>
                            <td class="col-md-10" colspan="7" text-align="left">
                                @Sabitler.UnvanAdSoyad
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th class="col-md-2" text-align="left"><span class="pull-right">Koordinatör</span></th>
                            <td class="col-md-10" colspan="7" text-align="left">
                                @dersDetay.KoordinatorAdSoyad
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@if (Model.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.BITIRME ||
                 Model.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.ENSTITU_PROJE ||
                 Model.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.TASARIM ||
                 Model.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.STAJ ||
                 Model.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.UZMANLIKALANI)
{
    <script>
        $("#btnDegerlendirme").hide();
    </script>
}