﻿
@model List<Sabis.Bolum.Core.ABS.DERS.DERSDETAY.PayBilgileriVM>
@using Dil = DilWebClient.Cevir
@{
    Sabis.Bolum.Core.ABS.DERS.DERSDETAY.DersDetayVM dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));

    List<int> universiteOrtakDersler = new List<int>(new int[] { 43507, 28280, 28278, 43460, 43427, 28276, 51946, 51947, 58882, 68050, 51518, 51519, 51925, 51926, 72543, 68113, 72643, 53314, 28284, 71901, 21854, 52155, 78059, 71657, 71667, 22024, 42643, 42644, 50679, 50680 });

    bool fakulteMi = Sabitler.UniversiteID == 21398 &&
        dersDetay.DersPlanAnaID != 82901 &&
        dersDetay.DersPlanAnaID != 81991 &&
        (dersDetay.ProgramID.HasValue && Sabis.Client.BirimIslem.Instance.getirBagliFakulte(dersDetay.ProgramID.Value).EnumBirimTuru == (int)Sabis.Enum.EnumBirimTuru.Fakulte ||
        dersDetay.FakulteID == 339 ||
        (dersDetay.EnumOgretimSeviye == (int)Sabis.Enum.EnumOgretimSeviye.YUKSEK_LISANS && (dersDetay.EnumOgretimTur == (int)Sabis.Enum.EnumOgretimTur.OGRETIM_2 || dersDetay.EnumOgretimTur == (int)Sabis.Enum.EnumOgretimTur.UZAKTAN)) ||
        dersDetay.DersPlanAnaID == 51946 ||
        dersDetay.DersPlanAnaID == 51947 ||
        dersDetay.DersPlanAnaID == 58882 ||
        dersDetay.DersPlanAnaID == 68050 ||
        dersDetay.DersPlanAnaID == 51518 ||
        dersDetay.DersPlanAnaID == 51519 ||
        dersDetay.DersPlanAnaID == 51925 ||
        dersDetay.DersPlanAnaID == 51926 ||
        dersDetay.DersPlanAnaID == 72543 ||
        dersDetay.DersPlanAnaID == 68113 ||
        dersDetay.DersPlanAnaID == 72643 ||
        dersDetay.DersPlanAnaID == 53314 ||
        dersDetay.DersPlanAnaID == 28284 ||
        dersDetay.DersPlanAnaID == 71901 ||
        dersDetay.DersPlanAnaID == 21854 ||
        dersDetay.DersPlanAnaID == 52155 ||
        dersDetay.DersPlanAnaID == 78059 ||
        dersDetay.DersPlanAnaID == 71657 ||
        dersDetay.DersPlanAnaID == 71667 ||
        dersDetay.DersPlanAnaID == 22024 ||
        dersDetay.DersPlanAnaID == 62756 ||
        dersDetay.DersPlanAnaID == 56992 ||
        dersDetay.DersPlanAnaID == 83674 ||
        dersDetay.FKKoordinatorID == 798 ||
        dersDetay.FKKoordinatorID == 1974 ||
        dersDetay.FKKoordinatorID == 965 ||
        dersDetay.BolumKod == "EBT"
        );

    string payList = "";
    if (Model != null)
    {
        foreach (var item in Model)
        {
            payList += item.PayID + "-";
        }
        if (payList.Length > 1)
        {
            payList = payList.Substring(0, payList.Length - 1);
        }

    }

    bool payKontrol = Sabis.Bolum.Bll.SOURCE.ABS.DERS.PAYMAIN.KontrolPayDurumuDogrumu(dersDetay.DersGrupID, Sabitler.Yil, Sabitler.Donem);
}

@if (!payKontrol && Sabitler.Donem != (int)Sabis.Enum.EnumDonem.YAZ)
{
    <div id="divUyari" class="alert alert-dismissable alert-danger">
        <strong>DİKKAT!</strong> Ön Lisans ve Lisans bölümlerinde yıl içi en az 4 çalışma türü olmak zorundadır! Ders ile ilgili bilgi güncellemeleri dersin koordinatörü tarafından yapılmaktadır.
    </div>
}
<table class="table table-striped table-bordered table-hover" style="overflow-x: scroll;">
    <thead>
        <tr class="info">
            <th class="col-md-1 text-center">
                <input class="md-radiobtn" style="width: 20px; height: 20px;" id="tumunusec" type="checkbox" onclick="checkAll(this, 'ders')" />
            </th>
            <th class="col-md-2">@Dil.Getir("calisma_tipi")</th>
            <th class="col-md-1 text-center hidden-xs">@Dil.Getir("oran")</th>
            <th class="col-md-1 text-center">@Dil.Getir("girilen") / @Dil.Getir("toplam")</th>

            @if (fakulteMi)
            {
                <th class="col-md-2 text-center">Not Girişi</th>
            }
            <th class="col-md-2 text-center">@Dil.Getir("YayinDurumu")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-1 text-center vert-align">
                    @if (item.ToplamOgrenciSayisi > 0)
                    {
                        <input style="width: 20px; height: 20px;" class="cbDers md-radiobtn" type="checkbox" name="ders" data-payid="@item.PayID" data-enumcalismatipi="@item.EnumCalismaTipi" data-payadi="@item.SiraNo. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-paydurum="@item.TarihAraligiUygunMu" value="@item.PayID" />
                    }
                </td>
                <td class="col-md-2 vert-align" id="@item.PayID" name="@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)">
                    <span>@item.SiraNo</span>. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)
                </td>
                @if (item.KatkiOrani.HasValue)
                {
                    <td class="col-md-1 text-center vert-align hidden-xs">%@item.KatkiOrani</td>
                }
                else
                {
                    <td class="col-md-1 text-center vert-align hidden-xs">@item.KatKiOraniPay / @item.KatKiOraniPayda</td>
                }
                <td class="col-md-1 text-center vert-align">@item.NotuGirilenOgrenciSayisi / @item.ToplamOgrenciSayisi</td>

                @if (fakulteMi)
                {
                    var payUrl = "/Ders/Sinav/SinavSorulari/" + dersDetay.DersGrupHocaID + "?P=" + item.PayID;
                    var SoruIslemUrl = "/Ders/Sinav/SoruIslem/" + dersDetay.DersGrupHocaID + "?P=" + item.PayID;
                    var odevUrl = "/Ders/Detay/Odev/" + dersDetay.DersGrupHocaID + "?P=" + item.PayID;
                    var sinavUrl = "/Ders/Detay/Sinav/" + dersDetay.DersGrupHocaID + "?P=" + item.PayID;

                    <td class="col-md-2 text-center">
                        @if (item.EnumCalismaTipi == (int)Sabis.Enum.EnumCalismaTip.Odev || item.EnumCalismaTipi == (int)Sabis.Enum.EnumCalismaTip.ProjeTasarim)
                        {
                            <a href="@odevUrl" data-fakulteid="@dersDetay.FakulteID" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> İşlemler</a>
                        }
                        else if (item.EnumCalismaTipi == (int)Sabis.Enum.EnumCalismaTip.KisaSinav || item.EnumCalismaTipi == (int)Sabis.Enum.EnumCalismaTip.AraSinav || item.EnumCalismaTipi == (int)Sabis.Enum.EnumCalismaTip.Final || item.EnumCalismaTipi == (int)Sabis.Enum.EnumCalismaTip.PerformansGoreviSeminer)
                        {
                            <a href="@sinavUrl" data-fakulteid="@dersDetay.FakulteID" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> İşlemler</a>
                        }
                        else
                        {
                            <a href="@sinavUrl" data-fakulteid="@dersDetay.FakulteID" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> İşlemler</a>
                        }

                        @if (universiteOrtakDersler.Contains(dersDetay.DersPlanAnaID) && item.EnumCalismaTipi == (int)Sabis.Enum.EnumCalismaTip.Final)
                        {
                            <a data-fakulteid="@dersDetay.FakulteID" class="btn default btn-sm btnEskiNotGiris" data-payadi="@item.SiraNo. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-payid="@item.PayID" data-paydurum="lecture.TarihAraligiUygunMu" data-calismatip="@item.SiraNo @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-toggle="tooltip" title="Not Girişi"><i class="fa fa-plus"></i> NOT GİRİŞİ</a>
                        }
                        else
                        {
                            <a data-fakulteid="@dersDetay.FakulteID" class="btn default btn-sm btnPayNotGir" data-payadi="@item.SiraNo. @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-payid="@item.PayID" data-paydurum="lecture.TarihAraligiUygunMu" data-calismatip="@item.SiraNo @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-toggle="tooltip" title="Not Girişi"><i class="fa fa-plus"></i> NOT GİRİŞİ</a>
                        }

                        @*<a data-fakulteid="@dersDetay.FakulteID" class="btn default btn-sm btnPayNotGir" data-payadi="@item.SiraNo. @item.EnumCalismaTipi" data-payid="@item.PayID" data-paydurum="lecture.TarihAraligiUygunMu" data-calismatip="@item.SiraNo @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumCalismaTip)item.EnumCalismaTipi)" data-toggle="tooltip" title="Not Girişi"><i class="fa fa-plus"></i> NOT GİRİŞİ</a>*@
                    </td>
                }

                <td class="col-md-2 text-center vert-align">
                    @if (item.YayinlanmaDurumu == false)
                    {
                        <button data-payid="@item.PayID" data-katkiorani="@item.KatkiOrani" data-enumcalismatipi="@item.EnumCalismaTipi" data-dersgrupid="@dersDetay.DersGrupID" data-toggle="tooltip" title="@Dil.Getir("yayinla")" class="btn btn-info btn-sm btn-label btnYayinla"><i id="@item.PayID" data-checked="false" class="fa fa-envelope"></i> @Dil.Getir("yayinla")</button>
                    }
                    else
                    {
                        <button data-payid="@item.PayID" data-katkiorani="@item.KatkiOrani" data-enumcalismatipi="@item.EnumCalismaTipi" data-dersgrupid="@dersDetay.DersGrupID" data-toggle="tooltip" title="@Dil.Getir("yayindan_kaldir")" class="btn btn-inverse btn-sm btn-label btnYayindanKaldir"><i id="@item.PayID" data-checked="false" class="fa fa-envelope"></i> @Dil.Getir("yayindan_kaldir")</button>
                    }
                </td>


            </tr>
        }
    </tbody>

</table>
@*@if (fakulteMi)
{
    <div class="alert alert-dismissable alert-danger">
        <strong>BİLGİ!</strong> Not giriş işlemleri sınav oluşturarak yapılacaktır.
    </div>
}*@


<style>
    .pad-right-20 {
        padding-right: 20px;
    }
</style>

<script src="~/Scripts/Areas/Ders/Detay/_pGrupPaylar.min.js?version=1"></script>