﻿@using Dil = DilWebClient.Cevir
@{
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    Layout = null;
    var path = HttpContext.Current.Request.Url.PathAndQuery;
}

<div class="btn-group" style="margin-bottom: 20px;">
    <a id="btnDetay" href="/Ders/Detay/Grup/@dersGrupHocaID" class="btn default btn-sm-block btn-xs-block"><i class="fa fa-columns"></i>@Dil.Getir("ders_detaylari").ToUpper()</a>
    <a id="btnOgrenciListesi" href="/Ders/Ogrenci/Liste/@dersGrupHocaID" class="btn default btn-sm-block btn-xs-block"><i class="fa fa-group"></i>@Dil.Getir("ogrenci_listesi").ToUpper()</a>
   
    @*
        <a id="btnDokuman" href="/Ders/Dokuman/Liste/@dersGrupHocaID" class="btn default btn-sm-block btn-xs-block"><i class="fa fa-book"></i>@Dil.Getir("dokumanlar")</a>
        <div id="btnDevamDurumu" class="btn-group btn-sm-block btn-xs-block">
            <button type="button" class="btn default dropdown-toggle btn-sm-block btn-xs-block" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-ellipsis-horizontal"></i><i class="fa fa-calendar-o"></i> @Dil.Getir("devam_durumu").ToUpper()
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/Ders/Yoklama/Liste/@dersGrupHocaID">@Dil.Getir("devam_takibi")</a></li>
                <li><a href="/Ders/Yoklama/KatilimOrani/@dersGrupHocaID">@Dil.Getir("katilim_orani")</a></li>
                <li><a href="/Ders/DevamsizOgrenci/Liste/@dersGrupHocaID">@Dil.Getir("devamsiz_ogrenci")</a></li>
            </ul>
        </div>
        <a href="/Ders/Duyuru/Index/@dersGrupHocaID" class="btn default btn-sm-block btn-xs-block"><i class="fa fa-bullhorn"></i>@Dil.Getir("duyuru").ToUpper()</a>
        <a href="/Ders/SanalSinif/Toplanti/@dersGrupHocaID" class="btn default btn-sm-block btn-xs-block"><i class="fa fa-video-camera"></i>@Dil.Getir("sanal_sinif").ToUpper()</a>
        <a href="/Ders/Randevu/Liste/@dersGrupHocaID" class="btn default btn-sm-block btn-xs-block"><i class="fa fa-edit"></i>@Dil.Getir("randevu").ToUpper()</a>
        <div class="btn-group btn-sm-block btn-xs-block">
            <button type="button" class="btn default dropdown-toggle btn-sm-block btn-xs-block" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-ellipsis-horizontal"></i><i class="fa fa-file-excel-o"></i> Raporlar
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/Ders/Akreditasyon/SoruBasari/@dersGrupHocaID">Soru Başarı Raporları</a></li>
                <li><a href="#">Soru Ayırtedicilikleri</a></li>
                <li><a href="/Ders/Akreditasyon/ProgramCiktilari/@dersGrupHocaID">Program Çıktı Raporu</a></li>
                <li><a href="/Ders/Akreditasyon/OgrenmeCiktilari/@dersGrupHocaID">Öğrenim Çıktı Raporu</a></li>
            </ul>
        </div>

        @if (HttpContext.Current.Request.Url.AbsolutePath.ToString().Substring(0, 21) != "/Ders/BasariNotGirisi")
        {
            <a href="/Ders/Degerlendirme/Index/@dersGrupHocaID" class="btn default btn-sm-block btn-xs-block"><i class="fa fa-pencil"></i>@Dil.Getir("degerlendirme").ToUpper()</a>
        }
    *@
</div>

@*<script>
    if (@path.Length > 21) {
        if ('@path.Substring(0, 16)' == "/Ders/Detay/Grup") {
            $("#btnDetay").removeClass("default").addClass("grey-mint");
        }
    }
    if (@path.Length > 25) {
        if ('@path.Substring(0, 19)' == "/Ders/Ogrenci/Liste") {
            $("#btnOgrenciListesi").removeClass("default").addClass("grey-mint");
        }
        if ('@path.Substring(0, 19)' == "/Ders/Dokuman/Liste") {
            $("#btnDokuman").removeClass("default").addClass("grey-mint");
        }
        if ('@path.Substring(0, 19)' == "/Ders/Yoklama/Liste") {
            $("#btnDevamDurumu, ").removeClass("default").addClass("grey-mint");
        }
    }
    if (@path.Length > 32) {
        if ('@path.Substring(0, 26)' == "/Ders/Yoklama/KatilimOrani") {
            $("#btnDevamDurumu").removeClass("default").addClass("grey-mint");
        }
    }

    console.log('@path.Length');
    console.log(typeof @path.Length);
    console.log('@path.Substring(0, 16)');
</script>*@