﻿
@model List<Sabis.Bolum.Core.ABS.DERS.DERSDETAY.DersSinavTarihleriVM>
@using Dil = DilWebClient.Cevir

<div class="panel panel-info">
    <div class="panel-heading bar-arkaplan">@Dil.Getir("not_giris_tarih_araliklari")</div>
    <div class="panel-body">
        <table class="table table-bordered table-condensed" style="margin-bottom: 0px !important;">
            <thead>
                <tr>
                    <th>@Dil.Getir("calisma_tipi")</th>
                    <th>@Dil.Getir("baslangic_tarihi")</th>
                    <th>@Dil.Getir("bitis_tarihi")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Sabis.Enum.Utils.GetEnumDescription(item.EnumAkademikTarih)</td>
                        <td>@item.TarihBaslangic</td>
                        <td><span class="bitisTarihi">@item.TarihBitis</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style type="text/css">
    .bitisTarihi {
        color: #F44336;
        cursor: pointer;
        font-weight: bold;
    }
</style>

<script src="~/Content/assets/global/plugins/pulsate/jQuery.pulsate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".bitisTarihi").pulsate({
            reach: 20,
            glow: false,
            color: "#FF1744",
            onHover: true,
            speed: 700
        });
    });
</script>