﻿@model Sabis.Bolum.Core.ABS.DERS.DERSDETAY.DersDetayVM
@using Dil = DilWebClient.Cevir

@{
    ViewBag.Title = "Ders Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("_pAnaDersDetaylari")

@Html.Action("_pAnaAltDersler")

@Html.Action("_pAnaPaylar")

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-12">
        
        <a id="BtnYazdir" class="btn btn-info btn-label"><i class="fa fa-check"></i> @Dil.Getir("secili_listeyi_yazdir")</a>
        <a id="BtnNotGir" class="btn btn-success btn-label"><i class="fa fa-check"></i> @Dil.Getir("secilen_notlari_gir")</a>

    </div>
</div>

    @*NOT GİRİŞ BUTON CLICK*@
    <script>
        $("#BtnYazdir").click(function () {
            var listPost = new Array();
            var payListPost = "";
            $("input:checkbox[name=ders]:checked").each(function () {
                listPost.push($(this).val());
                payListPost += $(this).val() + "-";
            });
            var str = payListPost;
            var res = str.substr(0, payListPost.length - 1);
        
            $("#BtnYazdir").attr("href", "/Rapor/NotListesi?id=" + @Request.RequestContext.RouteData.Values["id"] + "&payIDList=" + res);
            $("#BtnYazdir").trigger("click");
        });

        $('#BtnNotGir').click(function () {

            var degerler = "";
            var degerlerAd = "";

            var payIDList = [];
            var payNameList = [];
            var payDurum = [];

            var cbs = $(".cbDers:checked");

            $(".cbDers:checked").each(function() {
                payIDList.push($(this).data("payid"));
                payNameList.push($(this).data("payadi"));
                payDurum.push("true");
            });

            console.log(payIDList);
            console.log(payNameList);
            if (payIDList.length > 0) {
                veriYolla(payIDList.toString().split(',').join('-'), payNameList.toString().split(',').join('-'), payDurum.toString().split(',').join('-'));
            }
            else {
                toastr.info("Bir hata oluştu");
            }
        });

        function veriYolla(veri, veri2, veri3) {
            var data = { secilenPayID: veri, secilenPayAD: veri2 , secilenDurum: veri3 };
            var kaydet = $.post("/Ders/Detay/SecilenleriKaydet", data);
            setTimeout(yonlendir, 1000)
        }

        function yonlendir() {
            window.location.replace('/Ders/NotGiris/Ana/' + @Request.RequestContext.RouteData.Values["id"]);
        }

        function postAndRedirect(url, postData) {
            var postFormStr = "<form method='POST' action='" + url + "'>\n";

            for (var key in postData) {
                if (postData.hasOwnProperty(key)) {
                    postFormStr += "<input type='hidden' name='" + key + "' value='" + postData[key] + "'></input>";
                }
            }

            postFormStr += "</form>";

            var formElement = $(postFormStr);

            $('body').append(formElement);
            $(formElement).submit();
        }

        function DiziKaydet(deger1) {
            var postData = { deger: deger1 };
            console.log(postData);
            $.ajax({
                type: "GET",
                url: "/Ders/Detay/DiziKaydet",
                data: postData,
                success: function (data) {
                    //alert(data.Result);
                },
                dataType: "json",
                traditional: true
            });
        }

        function SatirEkle(OgrenciID, Numara, Ad, Soyad, DanismanUnvanAdSoyad) {
            var satir = "<tr><td class='col-md-1' text-align='left'><span class='pull-left'><input name='secim' type='checkbox' data-OgrenciID='" + OgrenciID + "' data-OgrenciAdSoyad='" + Ad + ' ' + Soyad + "'></span></td><td class='col-md-3' text-align='left'><span class='pull-left'>" + Numara + "</span></td><td class='col-md-3' text-align='left'><span class='pull-left'>" + Ad + ' ' + Soyad + "</span></td><td class='col-md-3' text-align='left'><span class='pull-left'>" + DanismanUnvanAdSoyad + "</span></td></tr>";
            return satir;
        }

    </script>
    @*NOT GİRİŞ BUTON CLICK*@

    <script>
        //$(document).on("click", ".btnYayinla", function () {
        //    var data = {
        //        ID: $(this).data("payid"),
        //        EnumCalismaTip: $(this).data("enumcalismatipi"),
        //        Oran: $(this).data("katkiorani"),
        //        Yil: $(this).data("yil"),
        //        EnumDonem: $(this).data("donem"),
        //        FKDersPlanAnaID: $(this).data("dersplananaid")
        //    };
        //    var yayinliMi = $(this).data("yayindurumu");
        //    console.info(yayinliMi);
        //    console.log(data);
        //    console.info(altDersDurum);

        //    if (altDersDurum == false) {
        //        if (yayinliMi == false) {
        //            $.post("/Ders/Detay/AnaUstDersPayIslem", { payBilgi: data, durum: false }).success(function(json) {
        //                console.info(json);
        //                window.location.reload();
        //            });
        //        }
        //        else {
        //            $.post("/Ders/Detay/AnaUstDersPayIslem", { payBilgi: data, durum: true }).success(function(json) {
        //                console.info(json);
        //                window.location.reload();
        //            });
        //        }
        //    }
        //    if (altDersDurum == true) {
        //        if (yayinliMi == false) {
        //            $.post("/Ders/Detay/AnaAltDersVeGruplariPayIslem", { payBilgi: data, durum: false }).success(function(json) {
        //                console.info(json);
        //                window.location.reload();
        //            });
        //        }
        //        else {
        //            $.post("/Ders/Detay/AnaAltDersVeGruplariPayIslem", { payBilgi: data, durum: true }).success(function(json) {
        //                console.info(json);
        //                window.location.reload();
        //            });
        //        }
        //    }
        //});

        //$(document).on("click", ".btnYayindanKaldir", function () {
        //    var data = {
        //        ID: $(this).data("payid"),
        //        EnumCalismaTip: $(this).data("enumcalismatipi"),
        //        Oran: $(this).data("katkiorani"),
        //        Yil: $(this).data("yil"),
        //        EnumDonem: $(this).data("donem"),
        //        FKDersPlanAnaID: $(this).data("dersplananaid")
        //    };
        //    var yayinliMi = $(this).data("yayindurumu");
        //    console.info(yayinliMi);
        //    console.log(data);
        //    console.info(altDersDurum);

        //    if (altDersDurum == false) {
        //        if (yayinliMi == false) {
        //            $.post("/Ders/Detay/AnaUstDersPayIslem", { payBilgi: data, durum: false }).success(function(json) {
        //                console.info(json);
        //                window.location.reload();
        //            });
        //        }
        //        else {
        //            $.post("/Ders/Detay/AnaUstDersPayIslem", { payBilgi: data, durum: true }).success(function(json) {
        //                console.info(json);
        //                window.location.reload();
        //            });
        //        }
        //    }
        //    if (altDersDurum == true) {
        //        if (yayinliMi == false) {
        //            $.post("/Ders/Detay/AnaAltDersVeGruplariPayIslem", { payBilgi: data, durum: false }).success(function(json) {
        //                console.info(json);
        //                window.location.reload();
        //            });
        //        }
        //        else {
        //            $.post("/Ders/Detay/AnaAltDersVeGruplariPayIslem", { payBilgi: data, durum: true }).success(function(json) {
        //                console.info(json);
        //                window.location.reload();
        //            });
        //        }
        //    }
        //});
    </script>

