﻿@using Dil = DilWebClient.Cevir
@{
    ViewBag.Title = "Ders Detayları";

    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    Sabis.Bolum.Core.ABS.DERS.DERSDETAY.DersDetayVM dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));

    List<int> universiteOrtakDersler = new List<int>(new int[] { 43507, 28280, 28278, 43460, 43427, 28276, 51946, 51947, 58882, 68050, 51518, 51519, 51925, 51926, 72543, 68113, 72643, 53314, 28284, 71901, 21854, 52155, 78059, 71657, 71667, 22024, 42643, 42644, 50679, 50680 });

    bool fakulteMi = Sabitler.UniversiteID == 21398 &&
         dersDetay.DersPlanAnaID != 82901 &&
         dersDetay.DersPlanAnaID != 81991 &&
         (dersDetay.ProgramID.HasValue && Sabis.Client.BirimIslem.Instance.getirBagliFakulte(dersDetay.ProgramID.Value).EnumBirimTuru == (int)Sabis.Enum.EnumBirimTuru.Fakulte ||
         dersDetay.FakulteID == 339 ||
         (dersDetay.EnumOgretimSeviye == (int)Sabis.Enum.EnumOgretimSeviye.YUKSEK_LISANS && (dersDetay.EnumOgretimTur == (int)Sabis.Enum.EnumOgretimTur.OGRETIM_2 || dersDetay.EnumOgretimTur == (int)Sabis.Enum.EnumOgretimTur.UZAKTAN)) ||
         dersDetay.DersPlanAnaID == 51946 ||
         dersDetay.DersPlanAnaID == 51947 ||
         dersDetay.DersPlanAnaID == 58882 ||
         dersDetay.DersPlanAnaID == 68050 ||
         dersDetay.DersPlanAnaID == 51518 ||
         dersDetay.DersPlanAnaID == 51519 ||
         dersDetay.DersPlanAnaID == 51925 ||
         dersDetay.DersPlanAnaID == 51926 ||
         dersDetay.DersPlanAnaID == 72543 ||
         dersDetay.DersPlanAnaID == 68113 ||
         dersDetay.DersPlanAnaID == 72643 ||
         dersDetay.DersPlanAnaID == 53314 ||
         dersDetay.DersPlanAnaID == 28284 ||
         dersDetay.DersPlanAnaID == 71901 ||
         dersDetay.DersPlanAnaID == 21854 ||
         dersDetay.DersPlanAnaID == 52155 ||
         dersDetay.DersPlanAnaID == 78059 ||
         dersDetay.DersPlanAnaID == 71657 ||
         dersDetay.DersPlanAnaID == 71667 ||
         dersDetay.DersPlanAnaID == 22024 ||
         dersDetay.DersPlanAnaID == 62756 ||
         dersDetay.DersPlanAnaID == 56992 ||
         dersDetay.DersPlanAnaID == 83674 ||
         dersDetay.FKKoordinatorID == 798 ||
         dersDetay.FKKoordinatorID == 1974 ||
         dersDetay.FKKoordinatorID == 965 ||
         dersDetay.BolumKod == "EBT"
         );
}
@section Navigation
{
<div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>
                @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd
                @if (dersDetay.EnumOgretimTur != null)
                {
                    <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                }
                - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
            </li>
        </ul>
    </div>
}
@section NotGirisTarih
{
    <button class="btn default btn-sm pull-right red" data-toggle="modal" data-title="NOT GİRİŞ TARİHLERİ" data-size="50" data-source="/Ders/Detay/_pNotGirisTarihAraliklari/@dersGrupHocaID">NOT GİRİŞ TARİHLERİ</button>
}
@Html.Partial("_pMenu")

<script src="~/Content/assets/global/plugins/jquery.pulsate.min.js"></script>

<div class="row">
    <div class="col-md-12" style="padding-left: 0; padding-right: 0;">
        <div class="col-md-6 col-sm-12 col-xs-12">
            @*@Html.Action("_pGrupDersDetaylari", new { redirect = true })*@
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            @*@Html.Action("_pNotGirisTarihAraliklari")*@
        </div>
    </div>
</div>

@if (dersDetay.DersPlanAnaID == 68050)
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <a href="/Ders/Ogrenci/TumListe/@dersGrupHocaID"><strong>BİLGİ!</strong> Girişimcilik dersi alan tüm öğrenci listesi için tıklayın.</a>
    </div>
}


@Html.Action("_pGrupPaylar")

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-12">
        <a id="BtnYazdir" class="btn btn-info btn-label btn-sm"><i class="fa fa-check"></i> @Dil.Getir("secili_listeyi_yazdir").ToString().ToUpper()</a>
        @*@if (!fakulteMi)
        {
            <a id="BtnNotGir" class="btn btn-success btn-label"><i class="fa fa-check"></i> @Dil.Getir("secilen_notlari_gir")</a>
        }*@ 

        @if (dersDetay.EnumDersSureTip == (int)Sabis.Enum.EnumDersSureTip.YILLIK || dersDetay.DersPlanAnaID == 70129 || dersDetay.DersPlanAnaID == 64311 || !fakulteMi && !dersDetay.SonHalVerildiMi)
        {
            <a id="BtnNotGir" class="btn btn-success btn-sm btn-label"><i class="fa fa-check"></i> @Dil.Getir("secilen_notlari_gir").ToString().ToUpper()</a>
        }

        @{ if (dersDetay.EnumKokDersTipi == (int)Sabis.Enum.EnumKokDersTipi.UZMANLIKALANI && !dersDetay.SonHalVerildiMi)
            {
                <a class="btn btn-danger btn-label" href="/Ders/PayDuzenle/Index/@dersGrupHocaID"><i class="fa fa-check"></i> Pay Düzenle</a>
            }
        }
    </div>
</div>
Ders Koordinatörü : @dersDetay.KoordinatorAdSoyad

<script>
    var dersGrupHocaID = '@dersGrupHocaID';
    var sonHalVerildiMi = '@dersDetay.SonHalVerildiMi.ToString().ToLower()';
</script>

<script src="~/Scripts/Areas/Ders/Detay/Grup.min.js?version=6"></script>