﻿@model List<Sabis.Bolum.Core.ABS.DERS.DERSDETAY.PayBilgileriVM>
@{
    ViewBag.Title = "Odev";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
}

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            @*<li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i></li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                    }
                    - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                </a>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li>Ödev Yönetimi</li>
        </ul>
    </div>
}

@Html.Partial("_pMenu")

<link href="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="portlet light ">

            <div class="portlet-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_odevIslemleri" data-toggle="tab" aria-expanded="true"><i class="fa fa-pencil"></i> Ödev İşlemleri </a>
                    </li>
                    <li class="">
                        <a href="#tab_Ciktilar" data-toggle="tab" aria-expanded="false"><i class="fa fa-list"></i> Program/Öğrenme Çıktıları </a>
                    </li>
                    <li class="">
                        <a href="#tab_odevDetaylari" data-toggle="tab" aria-expanded="false"><i class="fa fa-question"></i> Ödev Detayları </a>
                    </li>
                    <li class="">
                        <a href="#tab_KagitYukle" data-toggle="tab" aria-expanded="false"><i class="fa fa-file-o"></i> Kağıt Girişi </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab_odevIslemleri">
                        @Html.Action("_pDuzenle", "Odev")
                    </div>
                    <div class="tab-pane fade" id="tab_Ciktilar">
                        <div id="soruListe" @*style="margin-top: 20px;"*@></div>
                    </div>
                    <div class="tab-pane fade" id="tab_odevDetaylari">
                        @Html.Action("_pGuncelle", "Odev")
                    </div>
                    <div class="tab-pane fade" id="tab_KagitYukle">
                        @Html.Action("_pYukle", "Sinav")
                    </div>
                </div>
                <div class="clearfix margin-bottom-20"> </div>


            </div>
        </div>
    </div>
</div>