﻿@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL
@model List<Sabis.Bolum.Core.ABS.DERS.DERSDETAY.PayBilgileriVM>
@{
    ViewBag.Title = "Sinav";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersGrupHocaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    var dersDetay = Sabitler.GetirDersDetay(dersGrupHocaID);
    int hangiTab = Convert.ToInt32(Request.RequestContext.RouteData.Values["tab"]);
    int FKPaylarID = Convert.ToInt32(Request.QueryString["P"]);

    //string nav = "<li><a href='/Ders/Detay/Grup/'" + dersDetay.DersGrupHocaID + ">" + dersDetay.DersAd.Substring(0, 1).ToUpper() + dersDetay.DersAd.Substring(1).ToLower() + "</a><i class='fa fa-chevron-right'></i></li>";
}

@*@Html.Partial("~/Views/Shared/_Navigation.cshtml", new ViewDataDictionary { { "url", nav } })*@

@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/">Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            @*<li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class='fa fa-chevron-right'></i></li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                    }
                    - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                </a>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li>Sınav Yönetimi</li>
        </ul>
    </div>
}

@Scripts.Render("~/bundles/jquery-fileupload")
@Styles.Render("~/bundles/jquery-fileupload-styles")

@Html.Partial("_pMenu")

<link href="~/Content/assets/global/plugins/jquery-multiselect/jquery.multiselect.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-multiselect/jquery.multiselect.min.js"></script>
<link href="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>

<input type="hidden" id="hdnAktifTab" value="@ViewBag.AktifTab"/>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="portlet light ">
            <div class="portlet-body tabbable-custom">
                <ul class="nav nav-tabs">
                    <li class="active" id="SinavIslemleri">
                        <a href="#tab_SinavIslem" data-toggle="tab" aria-expanded="true"><i class="fa fa-pencil"></i> Sınav İşlemleri </a>
                    </li>
                    <li class="" id="ProgramCikti">
                        <a href="#tab_Cikti" data-toggle="tab" aria-expanded="false"><i class="fa fa-list"></i> Program/Öğrenme Çıktıları </a>
                    </li>
                    <li class="" id="CevapAnahtari">
                        <a href="#tab_CevapAnahtari" data-toggle="tab" aria-expanded="false"><i class="fa fa-question"></i> Soru-Cevap Anahtarı</a>
                    </li>
                    <li class="" id="KagitGirisi">
                        <a href="#tab_KagitGirisi" data-toggle="tab" aria-expanded="false"><i class="fa fa-file-o"></i> Kağıt Girişi</a>
                    </li>
                    <li class="" id="OnlineSinavIslemleri">
                        <a href="#tab_SoruIslem" data-toggle="tab" aria-expanded="false"><i class="fa fa-globe"></i> Online Sınav İşlemleri </a>
                    </li>
                    <li class="" id="SinavIstatistik">
                        <a href="#tab_SinavIstatistik" data-toggle="tab" aria-expanded="false"><i class="fa fa-file-text-o"></i> Sınav İstatistikleri </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab_SinavIslem" style="padding-bottom: 150px;">
                        @Html.Action("_SinavDetay", "Sinav")
                    </div>
                    <div class="tab-pane fade" id="tab_Cikti">
                        @Html.Action("_pSinavSoruListesi", "Sinav")
                    </div>
                    <div class="tab-pane fade" id="tab_CevapAnahtari">
                        @Html.Action("_CevapAnahtari","Sinav", new { id = dersGrupHocaID, P = FKPaylarID })
                        <br />
                        <div id="divSinavDokumanlari">@Html.Action("_pSinavDokumanlari", "Sinav", new { FKPaylarID = FKPaylarID, FKDersGrupID = dersDetay.DersGrupID })</div>
                    </div>
                    <div class="tab-pane fade" id="tab_KagitGirisi">
                        @Html.Action("_pYukle", "Sinav")
                    </div>
                    <div class="tab-pane fade" id="tab_SoruIslem">
                        @Html.Action("_SoruIslem", "Sinav")
                    </div>
                    <div class="tab-pane fade" id="tab_SinavIstatistik">
                        @Html.Action("_SinavIstatistikleri", "Sinav", new { fkPaylarID = FKPaylarID, fkDersGrupID = dersDetay.DersGrupID })
                    </div>
                </div>
                <div class="clearfix margin-bottom-20"> </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var hv = $('#hdnAktifTab').val();
        
        if (hv == 5) {
            $("#SinavIslemleri").removeClass("active");
            $("#tab_SinavIslem").removeClass("active in");

            $("#OnlineSinavIslemleri").addClass("active");
            $("#tab_SoruIslem").addClass("active in");
        }
        
    });
</script>