﻿@model List<Sabis.Bolum.Core.ADMIN.DokumanRaporVM>
@{
    ViewBag.Title = "Dokuman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

<table id="tblListe" class="table table-bordered">
    <thead>
        <tr class="active">
            <th>ID</th>
            <th>Ders Adı</th>
            <th>Hoca Adı</th>
            <th>Doküman Sayısı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FKDersPlanAnaID</td>
                <td>@item.DersAd</td>
                <td>@item.HocaAdSoyadUnvan</td>
                <td>@item.DokumanSayisi</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#tblListe').DataTable({
            "paging": false,
            "ordering": true,
            "info": false
        });
    });
</script>