﻿@model Sabis.Bolum.Core.ADMIN.IstatistikVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>İstatistik</li>
        </ul>
    </div>
}


<div class="row text-center">
    <h3>@Sabitler.Yil Yılı @Sabitler.Donem Dönem Raporu</h3>
    <div class="col-md-4">
        <h4>Son Hal Tamamlanma Oranı</h4>
        <input type="text" value="@Model.SonHalOran" class="sekil" data-width="90%" data-step=".1">
        <h5>@Model.SonHalSayisi / @Model.GrupSayisi</h5>
    </div>
    <div class="col-md-4">
        <h4>Yazılma Oranı</h4>
        <input type="text" value="@Model.YazilmaOran" class="sekil" data-width="90%" data-step=".1">
        <h5>@Model.YazilmaSayisi / @Model.OgrenciSayisi</h5>
    </div>
    <div class="col-md-4">

    </div>

</div>




<script>
    $(function () {
        $(".sekil").knob({
            readOnly: true,
        });
    });
</script>