﻿@model List<Sabis.Bolum.Core.EBS.BIRIM.BolumBilgiVM>

<div class="row">
    <div class="tab-container tab-left">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <ul id="sekmeList" class="nav nav-tabs tabs-left">
                @foreach (var item in Model)
            {
                    <li><a href="#@string.Concat("sekme", Model.IndexOf(item))" data-toggle="tab">@Enum.GetName(typeof(Sabis.Bolum.Core.ENUM.EBS.EnumBolumBilgiTur), item.EnumBolumBilgiTur).Replace("_", " ")</a></li>
                }
            </ul>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
            <div id="icerikList" class="tab-content">
                @foreach (var item in Model)
            {
                    <div id="@string.Concat("sekme", Model.IndexOf(item))">
                        <div id="@Model.IndexOf(item)">
                            <textarea data-id="@Model.IndexOf(item)" name="@string.Concat("editor", Model.IndexOf(item))" rows="30">
                                @if (!String.IsNullOrEmpty(item.Icerik))
                                {
                                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Icerik))
                                }
                            </textarea>
                        </div>
                        <button data-id="@Model.IndexOf(item)" data-bbid="@item.FKDilBolumBilgiID" class="btn btn-success btnPKaydet" style="margin-top: 15px;">Kaydet</button>

                    </div>
                }
            </div>
        </div>
    </div>
</div>


@if (Model.Count < 1)
{
    <h3>Kayıt bulunamadı.</h3>
}

<script>

    $(document).ready(function () {
        var inputs = $("textarea");
        $.each(inputs, function (index, value) {
            var thisID = $(this).attr("data-id");
            CKEDITOR.config.entities = false;
            //CKEDITOR.disableAutoInline = true;
            CKEDITOR.config.htmlEncodeOutput = false;
            CKEDITOR.config.basicEntities = false;
            CKEDITOR.config.height = 400;
            CKEDITOR.replace(thisID, {
                on: {
                    instanceReady: function (ev) {
                        this.setMode('source');
                        this.setMode('wysiwyg');

                        // Output paragraphs as <p>Text</p>.
                        //this.dataProcessor.writer.lineBreakChars = '<br>';
                        //this.dataProcessor.writer.lineBreakChars = '\n';
                        this.dataProcessor.writer.setRules('br', {
                            indent: false,
                            breakBeforeOpen: true,
                            breakAfterOpen: true,
                            breakBeforeClose: true,
                            breakAfterClose: true
                        });
                    }
                },
                toolbar: [
					['Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink'],
					['FontSize', 'TextColor', 'BGColor']
                ]
            }
           );

            $(this).parent().parent().addClass("tab-pane");

        });

        $(".tab-pane:first").addClass("active");
        $(".nav-tabs").children().first().addClass("active");
    });


    $(document).on("click", ".btnPKaydet", function () {
        $.post("/EBS/BolumBilgileri/GuncelleBolumBilgi", { FKDilBolumBilgiID: $(this).attr("data-bbid"), Icerik: CKEDITOR.instances[$(this).attr("data-id")].getData() })
         .success(function (data) {
             if (data) {
                 toastr.success("Güncelleme tamamlandı.");
             }
         });
    });

</script>