﻿
<div class="alert alert-dismissable alert-info" id="bilgi">
    <strong>BİLGİ!</strong> Bölüm başkanı, bölüm bilgileri ve bölüm ders koordinatörlerini değiştirmek üzere sadece 1 adet yetkili kişi atayabilir.
</div>

<div class="row islem">
    <div class="col-md-12">
        <div class="col-md-12" style="padding-left:0; margin-bottom: 15px;">
            Bölüm yetkilisi olarak tanımlanacak kişiyi ad soyad girerek arayabilirsiniz.
        </div>
        <div class="col-md-3" style="padding-left:0">

            <input id="txtKisiAra" type="text" class="form-control arama" placeholder="" />
        </div>
        <div class="col-md-1">
            <button id="btnKaydet" class="btn btn-success" data-personelid="">Kaydet</button>
        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>

<div class="row islem" style="margin-top: 20px;">
    <div class="col-md-12">
        Mevcut bölüm yetkilisi: <span id="mevcutVekil"></span>
    </div>
</div>

<script>
    var perID = 0;

    $(document).ready(function () {
        $.post("/EBS/BolumBilgileri/BolumVekiliMi", { BolumID: birimID })
         .success(function (json) {
             if (json) {
                 $(".islem").remove();
                 $("#bilgi").html("Yetkisiz erişim.")
             }
         });

        $.post("/EBS/BolumBilgileri/GetirVekilAdSoyad/" + birimID)
         .success(function(json)
         {
             $("#mevcutVekil").text(json);
         });
    });


    $("#btnKaydet").click(function () {
        console.log(perID);
        console.log(birimID);
        $.post("/EBS/BolumBilgileri/GuncelleBolumKoordinator", { FKPersonelID: perID, BolumID: birimID })
         .success(function (json) {
             if (json) {
                 toastr.success("Kaydedildi.");
             }
         });
    });

    $(document).on("keyup", ".arama", function () {
        $(this).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Admin/DersKoordinatorleri/GetirPersonelBilgi',
                    data: { aranan: request.term },
                    dataType: 'json',
                    type: 'POST',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Text,
                                value: item.Value
                            }
                        }));
                    }
                })
            },
            messages: {
                noResults: '',
                results: function () { }
            },
            select: function (event, ui) {
                $(this).val(ui.item.label);
                //$("#txtKisiAra").data("personelid", ui.item.value);
                $(this).parent().next().children("button").data("personelid", ui.item.value);
                //console.log(ui.item.value);
                perID = ui.item.value;

                return false;
            },
            minLength: 3
        });
    });

</script>