﻿@{
    if (string.IsNullOrEmpty(Request.QueryString["dil"]))
    {
        Response.Redirect(Request.Url.AbsolutePath + "?dil=tr");
    }
}

<div class="btn-group pull-right">
    @if (!string.IsNullOrEmpty(Request.QueryString["dil"]))
    {
        <button type="button" class="btn btn-inverse dropdown-toggle alt-border" data-toggle="dropdown">
            Dil: @Request.QueryString["dil"].Replace("tr", "Türkçe").Replace("en", "İngilizce") <span class="caret"></span>
        </button>
    }
    <ul class="dropdown-menu" role="menu">
        <li><a href="@Request.Url.AbsolutePath?dil=tr">Türkçe</a></li>
        <li><a href="@Request.Url.AbsolutePath?dil=en">İngilizce</a></li>
    </ul>
</div>