﻿
@model List<Sabis.Bolum.Core.EBS.BIRIM.BolumProgramCiktilariVM>
@{
    int dil = Convert.ToInt32(Request.QueryString["dil"].Replace("tr", "1").Replace("en", "2"));
    var kategoriList = Sabis.Bolum.Bll.SOURCE.EBS.BIRIM.BOLUMMAIN.GetirYeterlilikKategoriListe(dil);
}

<link href="~/Content/assets/global/plugins/jquery-multiselect/jquery.multiselect.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-multiselect/jquery.multiselect.min.js"></script>
@*<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />*@
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>*@

<button id="btnYeniEkle" class="btn btn-primary">Yeni Ekle</button>

<table id="tblProgramCiktilari" class="table table-striped table-bordered table-hover" style="margin-top: 20px;">
    <thead>
        <tr class="active">
            <td class="col-md-1 text-center">Sıra</td>
            <td class="col-md-6">Program Öğrenme Çıktıları</td>
            <td class="col-md-3">Kategori</td>
            <td class="col-md-2 text-center">Sil</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center col-md-1"><input type="text" class="form-control text-center" value="@item.YetID" /></td>
                <td class="col-md-6"><input data-id="@item.ID" data-dilid="@item.DilBolumYeterlilikID" class="txtIcerik form-control" type="text" value="@item.Icerik" /></td>
                <td class="col-md-3">
                    <select class="ddlKategori form-control" multiple="multiple">
                        @foreach (var subItem in kategoriList)
                        {
                            string durum = "";
                            if (item.BolumYeterlilikKategoriList.Any(x => x.FKYeterlilikAltKategoriID == subItem.FKYeterlilikAltKategoriID))
                            {
                                durum = "selected=selected";

                            }
                            <option value="@subItem.FKYeterlilikAltKategoriID" @durum>@subItem.IcerikAna / @subItem.IcerikAlt</option>
                        }
                        @*<option value="0">Kategori Seçiniz</option>*@

                    </select>
                </td>
                <td class="text-center col-md-2">
                    <button data-id="@item.ID" data-dilid="@item.DilBolumYeterlilikID" class="btn btn-success btnGuncelle">Güncelle</button>
                    <button data-id="@item.ID" class="btn btn-danger btnSil">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        $(".ddlKategori").multiselect({
            header: false,
            selectedText: '# adet seçildi',
            noneSelectedText: "Çıktı Seçiniz",
        });
    });
</script>