﻿@{
    ViewBag.Title = "Bölüm Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dersPlanAnaID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
    //int dil = Convert.ToInt32(Request.QueryString["dil"].Replace("tr", "1").Replace("en", "2"));
    string dil = "tr";

    if (!string.IsNullOrEmpty(Request.QueryString["dil"]))
    {
        dil = Request.QueryString["dil"];
    }

}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Bölüm Bilgileri</li>
        </ul>
    </div>
}

<script src="~/Content/assets/global/plugins/ckeditor/ckeditor.js"></script>

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Bölüm Bilgileri</div>
    <div class="panel-body">
        <div class="col-md-3">
            <select id="ddlFakulte" class="form-control">
                <option value="0">Fakülte Seçiniz</option>
            </select>
        </div>

        <div class="col-md-3">
            <select id="ddlBolumListesi" class="form-control">
                <option value="0">Bölüm Seçiniz</option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="ddlAraProgramListesi" class="form-control birimSec" data-tur="Ara" style="visibility: hidden;">
                <option>Ara Program / Program Seçiniz</option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="ddlAraProgramListesi2" class="form-control birimSec" data-tur="Ara" style="visibility: hidden;">
                <option>Ara Program / Program Seçiniz</option>
            </select>
        </div>
            @*<div class="col-md-1">
                <button id="btnAra" class="btn btn-success">Ara</button>
            </div>*@

        </div>
</div>

@Html.Partial("_pDilDegistir")

<br /><br />

<div id="bolumListesi"></div>

<script>
    var birimID = 0;
    var vekilMi = false;
    $(document).ready(function () {
        $.post("/Home/GetirBirimListe", { ustBirimID: 21398, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: 0 })
         .success(function (json) {
             $.each(json, function (i, val) {
                 $("#ddlFakulte").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
             });
         });
    });

    var araProgramGetir = function (ustBirimID) {
        $.post("/Home/GetirBirimListe", { ustBirimID: ustBirimID, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null }) //23
             .success(function (json) {
                 $.each(json, function (i, val) {
                     $("#ddlAraProgramListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                 });
                 $("#ddlAraProgramListesi").removeAttr("style");
             });
    };

    var getirBolumBilgileri = function (gBirimID) {
        birimID = gBirimID;
        $("#bolumListesi").load("/EBS/BolumBilgileri/_pBolumBilgileri?birimID=" + gBirimID + "&yil=" + '@Sabitler.EBSYil' + "&dil=" + '@dil', function () {
            $('<li><a href="#programCiktiListesi" data-toggle="tab">PRG. ÖĞRENME ÇIKTILARI</a></li>').insertAfter($("#sekmeList").children(":nth-child(3)"));
            $('<div id="programCiktiListesi" class="tab-pane"></div>').insertAfter($("#icerikList").children(":nth-child(3)"));
            $("#programCiktiListesi").load("/EBS/BolumBilgileri/_pGetirProgramCiktilari/" + gBirimID + "?dil=" + '@dil');

            $('<li><a href="#bolumBaskanVekili" data-toggle="tab">BÖLÜM YETKİLİSİ</a></li>').insertAfter($("#sekmeList").children(":nth-child(11)"));
            $('<div id="bolumBaskanVekili" class="tab-pane"></div>').insertAfter($("#icerikList").children(":nth-child(11)"));
            $("#bolumBaskanVekili").load("/EBS/BolumBilgileri/_pBolumBaskanVekili/" + gBirimID + "?dil=" + '@dil');

        });
    };

    $("#ddlFakulte").on("change", function () {
        $("#ddlBolumListesi").empty().append(' <option value="0">Bölüm Seçiniz</option>');

        $.post("/Home/GetirBirimListe", { ustBirimID: $("#ddlFakulte").val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null })
            .success(function (json) {
                $.each(json, function (i, val) {
                    $("#ddlBolumListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                });
            });
    });

    $("#ddlBolumListesi").on("change", function () {
        var bID = $(this).val();
        $("#ddlAraProgramListesi").css("visibility", "hidden");
        $("#ddlAraProgramListesi").empty().append('<option value="0">Ara Program / Program Seçiniz</option>');
        $("#ddlAraProgramListesi2").empty().append('<option value="null">Ara Program / Program Seçiniz</option>');
        $("#ddlAraProgramListesi2").css("visibility", "hidden");
        $("#tblDersListesi").html("");
        var jsonList = "";

        $.post("/Home/GetirBirimListe", { ustBirimID: $(this).val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null, birimGrup: true })
         .success(function (json) {
             console.log(json);
             if (json.length > 0) {
                 araProgramGetir(bID);
             }
             else {
                 getirBolumBilgileri($("#ddlBolumListesi").val());
             }
         });
    });

    $("#ddlAraProgramListesi").on("change", function () {
        $("#ddlAraProgramListesi2").empty().append('<option value="null">Program Seçiniz</option>');
        $("#ddlAraProgramListesi2").css("visibility", "hidden");
        $.post("/Home/GetirBirimListe", { ustBirimID: $(this).val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: 23 })
           .success(function (json) {
               if (json.length > 1) {
                   $.each(json, function (i, val) {
                       $("#ddlAraProgramListesi2").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                       $("#ddlAraProgramListesi2").css("visibility", "visible");
                   });
               } else {
                   getirBolumBilgileri($("#ddlAraProgramListesi").val());
               }

           });

    });

    $("#ddlAraProgramListesi2").on("change", function () {
        getirBolumBilgileri($("#ddlAraProgramListesi2").val());
    });
</script>
@*program çıktıları crud*@
<script>

    $(document).on("click", "#btnYeniEkle", function () {
        var data = {
            BirimID: birimID,
            EnumDilID: '@dil.Replace("tr", "1").Replace("en", "2")',
            Icerik: "",
            Yil: '@Sabitler.EBSYil',
            Ekleyen: '@Sabitler.KullaniciID',
            Zaman: '@DateTime.Now'
        };

        $.post("/EBS/BolumBilgileri/YeniProgramCiktisiEkle", { yeniProgramCiktisi: data })
        .success(function (json) {
            if (json == true) {
                toastr.success("Yeni program çıktısı eklendi.");
                $("#programCiktiListesi").load("/EBS/BolumBilgileri/_pGetirProgramCiktilari/" + birimID + "?dil=" + '@dil', function () {
                    //$("button").removeAttr("style");
                    $(".ui-multiselect").css('width', '250');
                });
            }
        });
    });

    $(document).on("click", ".btnGuncelle", function () {
        var yeterlilikID = $(this).attr("data-id")
        var dilID = '@dil.Replace("tr", "1").Replace("en", "2")';
        var yil = '@Sabitler.EBSYil';
        var ekleyen = '@Sabitler.KullaniciAdi';
        var zaman = '@DateTime.Now';

        var yeterlilikKategoriList = [];

        $(this).parent().prev().children("select").find("option:selected").each(function () {
            var yData = {
                FKBolumYeterlilikID: yeterlilikID,
                FKYeterlilikAltKategoriID: $(this).val(),
                FKProgramBirimID: birimID
            };
            yeterlilikKategoriList.push(yData);
        });

        var data = {
            ID: $(this).attr("data-id"),
            BirimID: birimID,
            EnumDilID: dilID,
            YetID: $(this).parent().prev().prev().prev().children("input").first().val(),
            Icerik: $(this).parent().prev().prev().children("input").first().val(),
            Yil: yil,
            Ekleyen: ekleyen,
            Zaman: zaman,
            DilBolumYeterlilikID: $(this).attr("data-dilid"),
            BolumYeterlilikKategoriList: yeterlilikKategoriList
        };
        //console.log(data);
        $.post("/EBS/BolumBilgileri/ProgramCiktisiGuncelle", { programCiktisi: data })
        .success(function (json) {
            if (json == true) {
                toastr.info("Güncelleme işlemi başarılı.");
                $("#programCiktiListesi").load("/EBS/BolumBilgileri/_pGetirProgramCiktilari/" + birimID + "?dil=" + '@dil', function () {
                    $(".ui-multiselect").css('width', '250');
                });
            }
        });
    });

    $(document).on("click", ".btnSil", function () {
        var respond = confirm("İçerik silinecektir. Onaylıyor musunuz?");
        if (respond) {
            $.post("/EBS/BolumBilgileri/ProgramCiktisiSil", { bolumYeterlilikID: $(this).attr("data-id") })
            .success(function (json) {
                if (json == true) {
                    toastr.info("Silme işlemi başarılı.");
                    //$(this).parent().parent().remove();
                    $("#programCiktiListesi").load("/EBS/BolumBilgileri/_pGetirProgramCiktilari/" + birimID + "?dil=" + '@dil', function () {
                        $(".ui-multiselect").css('width', '250');
                    });
                }
            });
        }
    });
</script>
@*program çıktıları crud*@