﻿@model Sabis.Bolum.Core.Hoca.DtoHocaDersOgrenciBilgileri

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://bolum.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Bölüm Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/Hoca/HocaDers">Personel Listesi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/Hoca/HocaDers/HocaDersleriniListele?personelID=@Model.PersonelID">@Model.Unvan @Model.AdSoyad - @ViewBag.YilDonem Ders Listesi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'></a>@Model.DersKod @Model.DersAd (@Model.GrupAd)</li>
        </ul>
    </div>
}

<script src="~/Content/assets/global/plugins/ckeditor/ckeditor.js"></script>


<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">@Model.DersKod @Model.DersAd (@Model.GrupAd)</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
               
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="info">
                            <th>Numara</th>
                            <th>Ad Soyad</th>
                            <th>Birim</th>
                            <th>EMail</th>
                            <th>Telefon</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OgrenciListesi)
                        {                            
                            <tr>
                                <td>@item.Numara</td>
                                <td>@item.Ad @item.Soyad</td>
                                <td>@item.BirimAdi</td>
                                <td>@string.Concat(item.KullaniciAdi, "@gtu.edu.tr")</td>
                                <td>@item.Telefon</td>
                                <td><a href="/Hoca/HocaDers/OgrenciProfil?ogrenciID=@item.ID&dersGrupHocaId=@Model.DersGrupHocaID">Detay</a></td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

