﻿@model Sabis.Bolum.Core.Hoca.DtoHocaDersBilgileri

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://bolum.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Bölüm Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href="/Hoca/HocaDers">Personel Listesi</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'></a>@Model.UnvanAd @Model.AdSoyad - @ViewBag.YilDonem Ders Listesi</li>
        </ul>
    </div>
}

<script src="~/Content/assets/global/plugins/ckeditor/ckeditor.js"></script>


<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">@Model.UnvanAd @Model.AdSoyad</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
               
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="info">
                            <th>Ders Kodu</th>
                            <th>Ders Adı</th>
                            <th>Grup Adı</th>
                            <th>Birim Adı</th>
                            <th>Öğrenci Sayısı</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DersListesi)
                        {                            
                            <tr>
                                <td>@item.DersKod</td>
                                <td>@item.DersAd</td>
                                <td>@item.GrupAd</td>
                                <td>@item.BolumAd</td>
                                <td>
                                    @item.OgrenciSayisi <a href="/Hoca/HocaDers/DersOgrenciListesi?dersGrupID=@item.DersGrupID&personelID=@Model.PersonelID">(Detay)</a>
                                </td>                                
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

