﻿@model List<Sabis.Bolum.Core.Hoca.DtoPersonelBilgisi>

@{
    ViewBag.Title = "Bölüm Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://bolum.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Bölüm Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            <li>Personel Listesi</li>
        </ul>
    </div>
}

<script src="~/Content/assets/global/plugins/ckeditor/ckeditor.js"></script>


<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Personel Listesi</div>
    <div class="panel-body">
        <div class="row">
            @*@if (Model.Count > 0)
            {
                <div class="pull-left text-right" style="width: 300px;">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <input id="txtTC" type="text" class="form-control ui-autocomplete-input" style="margin-top: 10px; margin-left: 2px" placeholder="TC Kimlik NO" value="" />
                            </td>
                            <td>
                                <input type="submit" value="Ara" onclick="OgrenciAra()" />
                            
                            </td>
                        </tr>
                    </table>               
                
                </div>
            }*@

            <div class="col-md-12">               
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="info">
                            <th>Ünvanı</th>
                            <th>Adı Soyadı</th>
                            <th>Mail Adresi</th>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Unvan</td>
                                <td>
                                    @item.Ad @item.Soyad
                                </td>
                                <td>@string.Concat(item.KullaniciAdi, "@gtu.edu.tr")</td>
                                <td><a href="/Hoca/HocaDers/HocaDersleriniListele?personelID=@item.ID">Detay</a></td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

<script>
    function OgrenciAra()
    {
        debugger;
        var tc = $('#txtTC').val();
        window.location.href = "/Basvuru/EnstituBasvurulari/BasvuruDetayGoster?TCKimlikNo=" + tc;
    }
</script>