﻿@using Dil = DilWebClient.Cevir
@model Sabis.Bolum.Core.ABS.OGRENCI.OgrenciListesiVM
@{
    ViewBag.Title = "Öğrenci Profili";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int ogrenciID = Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]);
}

@section Navigation
{
<div class="col-md-9">
    <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
        <li><a href="http://bolum.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
        <li><a href='/'>Bölüm Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
        <li><a href="/Hoca/HocaDers">Hoca Listesi</a><i class="fa fa-chevron-right"></i></li>
        <li><a href="/Hoca/HocaDers/HocaDersleriniListele?personelID=@ViewBag.PersonelID">@ViewBag.PersonelAd</a><i class="fa fa-chevron-right"></i></li>
        <li><a href="/Hoca/HocaDers/DersOgrenciListesi?dersGrupID=@ViewBag.DersGrupID&personelID=@ViewBag.PersonelID">@ViewBag.DersAd</a><i class="fa fa-chevron-right"></i></li>
        <li><a href='/'></a>@Model.Ad @Model.Soyad (@Model.Numara)</li>
    </ul>
</div>
}

<div class="row">
    <div class="col-md-12">

        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">@Model.Ad @Model.Soyad</div>
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td rowspan="9">
                                            <img src="@Model.FotoAdres" alt="" class="img-rounded img-responsive" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Dil.Getir("numara"):</td>
                                        <td>@Model.Numara</td>
                                    </tr>
                                    <tr>
                                        <td>@Dil.Getir("eposta"):</td>
                                        <td><a href="mailto:@string.Concat(Model.KullaniciAdi, "@gtu.edu.tr")">@string.Concat(Model.KullaniciAdi, "@gtu.edu.tr")</a></td>
                                    </tr>
                                    <tr>
                                        <td>Telefon:</td>
                                        <td>@Model.Telefon</td>
                                    </tr>
                                    <tr>
                                        <td>@Dil.Getir("ogrenci") @Dil.Getir("durum"):</td>
                                        <td>
                                            @if (Model.EnumArsivDurum.HasValue)
                                            {
                                                @Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumArsivDurum)Model.EnumArsivDurum)
                                            }
                                            else
                                            {
                                                <span>Aktif</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Dil.Getir("birim"):</td>
                                        <td>@Model.OgrenciBirim</td>
                                    </tr>
                                    <tr>
                                        <td>Bağlı Olduğu Yönetmelik:</td>
                                        <td>@Model.BagliOlduguYonetmelik</td>
                                    </tr>
                                    <tr>
                                        <td>Bağlı Olduğu Mufredat:</td>
                                        <td>@Model.BagliOlduguMufredat</td>
                                    </tr>
                                    <tr>
                                        <td>Danışman:</td>
                                        <td>@Model.DanismanAdSoyad</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div id="mesajGecmisi" class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 15px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8">
            <div id="ogrenciHocaDersNotList" class="col-xs-12 col-sm-12 col-md-12"></div>

            <div id="ogrenciTranskript" class="col-xs-12 col-sm-12 col-md-12"></div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        $("#ogrenciHocaDersNotList").load("/Ders/Ogrenci/_OgrenciHocaDersNotlari/" + '@Model.OgrenciID');
        $("#ogrenciTranskript").load("/Ders/Ogrenci/NotDurum?ogrenciID=" + '@Model.OgrenciID');
        //$("#mesajGecmisi").load("/Ders/Ogrenci/_pMesajGecmisi/" + '@ogrenciID');
    });
</script>