﻿@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL
@model Sabis.Bolum.Core.ABS.DERS.SANALSINIF.Dto.SanalSinifDto
@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
    int FKKoordinatorID = Sabitler.KullaniciID;

    bool koordinatorMu = GENELMAIN.KoordinatorMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);
}
@Html.Action("_pGrupDersDetaylari", "Detay")
<link href="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FKDersPlanAnaID)
    @Html.HiddenFor(model => model.FKDersPlanID)
    @Html.HiddenFor(model => model.FKDersGrupHocaID)
    <input type="hidden" name="ID" id="ID" value="@Model.ID" />
    @*@Html.HiddenFor(model => model.ID)*@
    @Html.ValidationSummary(false)
    <div class="panel panel-primary wrapper2">
        <div class="panel-heading bar-arkaplan">
            Sanal Sınıf Düzenle
        </div>
        <div class="panel-body div2">
            <div class="col-lg-4">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="disabledinput" class="col-lg-2 control-label">Sanal Sınıf Adı</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Ad, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtarea1" class="col-lg-2 control-label">Hafta</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Hafta, new { @class = "form-control", placeholder = "Açıklama" })
                            @*@Html.DropDownListFor(model => model.Hafta, (IEnumerable<SelectListItem>)ViewBag.weeks)*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtarea1" class="col-lg-2 control-label">Başlangıç</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Baslangic, new { @class = "form-control tarihSec", placeholder = "Başlangıç Tarihi" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Süre</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Sure, new { @class = "form-control", placeholder = "Örn : 30" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-lg-2 control-label">Yayınla</label>
                        <div class="col-lg-10">
                            @Html.CheckBoxFor(m => m.Yayinlandi, new { @style = "width: 15px; height: 15px;" })
                        </div>
                    </div>*@
                    @if (koordinatorMu)
                    {
                        <div class="form-group">
                            <label class="col-lg-5 control-label" style="text-align:left !important;">Bu Dersin Tüm Gruplarına Ekle</label>
                            <div class="col-lg-7">
                                @Html.CheckBoxFor(m => m.TumDersGruplarinaEkle, new { @style = "width: 15px; height: 15px;" })
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">Eklenecek Sınıflar</div>
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12-col-lg-12">
                            @Html.EditorFor(model => model.hocagrups)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 pull-right">
                            <div class="btn-toolbar pull-right">
                                <a data-toggle="tooltip" title="" class="popbox btn btn-danger btn-label" href="/Ders/SanalSinif/Toplanti/@Model.FKDersGrupHocaID">
                                    <i class="fa fa-times"></i>İptal
                                </a>
                                <button class="btn btn-info btn-label"><i class="fa fa-plus"></i> Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $.datetimepicker.setLocale('tr');
        $('.tarihSec').datetimepicker({
            step: 10,
            format: 'd.m.Y H:i'
        });
    });
    $('#Hafta').on('change', function () {
        var week = this.value;
        $('#Ad').val(week + '. Hafta Sanal Sınıf');
    });
</script>
