﻿@using Sabis.Bolum.Bll.SOURCE.ABS.DERS
@using Sabis.Bolum.Bll.SOURCE.EBS.GENEL

@model Sabis.Bolum.Core.ABS.DERS.SANALSINIF.Dto.SanalSinifDto
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
    int FKKoordinatorID = Sabitler.KullaniciID;

    bool koordinatorMu = GENELMAIN.KoordinatorMu(dersDetay.DersPlanAnaID, Sabitler.KullaniciID);



}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            @*<li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class="fa fa-chevron-right"></i></li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                    }
                    - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                </a>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li>Sanal Sınıf Oluştur</li>
        </ul>
    </div>
}
@*@Html.Action("_pGrupDersDetaylari", "Detay")*@
<link href="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/assets/global/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FKDersPlanAnaID)
    @Html.HiddenFor(model => model.FKDersPlanID)
    @Html.HiddenFor(model => model.FKDersGrupHocaID)
    @Html.ValidationSummary(false)
    <div class="panel panel-primary wrapper2">
        <div class="panel-heading bar-arkaplan">
            Sanal Sınıf Oluştur
        </div>
        <div class="panel-body div2">
            <div class="col-lg-4">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="txtarea1" class="col-lg-2 control-label">Hafta</label>
                        <div class="col-lg-10">
                            @*@Html.TextBoxFor(model => model.Hafta, new { @class = "form-control", placeholder = "Açıklama" })*@
                            @Html.DropDownListFor(model => model.Hafta, (IEnumerable<SelectListItem>)ViewBag.weeks, new { @class="form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="disabledinput" class="col-lg-2 control-label">Sanal Sınıf Adı</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Ad, new { @class = "form-control" })
                        </div>
                    </div>         
                    <div class="form-group">
                        <label for="txtarea1" class="col-lg-2 control-label">Başlangıç</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Baslangic, new { @class = "form-control tarihSec", placeholder = "Başlangıç Tarihi" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Süre</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Sure, new { @class = "form-control", @type = "number", step = "5", placeholder = "Örn : 30" })
                        </div>
                    </div>                  
                    @*<div class="form-group">
                        <label class="col-lg-2 control-label">Yayınla</label>
                        <div class="col-lg-10">
                            @Html.CheckBoxFor(m => m.Yayinlandi, new { @style = "width: 15px; height: 15px;" })
                        </div>
                    </div>*@
                    @if (koordinatorMu)
                    {
                        <div class="form-group">
                            <label class="col-lg-5 control-label" style="text-align:left !important;">Bu Dersin Tüm Gruplarına Ekle</label>
                            <div class="col-lg-7">
                                @Html.CheckBoxFor(m => m.TumDersGruplarinaEkle, new { @style = "width: 15px; height: 15px;" })
                            </div>
                        </div>
                    }
                    @if (Sabitler.KullaniciAdi == "umit")
                    {
                        <div class="form-group">
                            <label class="col-lg-5 control-label" style="text-align:left !important;">Sau Live</label>
                            <div class="col-lg-7">
                                @Html.CheckBoxFor(m => m.SauLive, new { @style = "width: 15px; height: 15px;" })
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <input  style="width: 20px; height: 20px;" id="chkAll" class="chkAll" type="checkbox" onclick="checkAll(this, 'ders')" />
                        Eklenecek Sınıflar
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12-col-lg-12">
                            @Html.EditorFor(model => model.hocagrups)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 pull-right">
                            <div class="btn-toolbar pull-right">
                                <a data-toggle="tooltip" title="" class="popbox btn btn-danger btn-label" href="/Ders/SanalSinif/Toplanti/@Model.FKDersGrupHocaID">
                                    <i class="fa fa-times"></i>İptal
                                </a>
                                <button class="btn btn-info btn-label"><i class="fa fa-plus"></i> Oluştur</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $.datetimepicker.setLocale('tr');
        $('.tarihSec').datetimepicker({
            step: 10,
            format: 'd.m.Y H:i'
        });
    });
    $('#Hafta').on('change', function () {
        var week = this.value;
        $('#Ad').val(week + '. Hafta Sanal Sınıf');
    });


    $("#chkAll").click(function () {
        var checked = $(this).is(':checked');
        $(".sid").attr("checked", checked);
    });
    $(".sid").click(function () {
        var valid = true;
        $(".sid").each(function () {
            var checked = $(this).is(':checked');
            if (!checked) {
                valid = false;
            }
        });
        $("#chkAll").attr("checked", valid);
    });

</script>
