﻿@model Sabis.Bolum.Core.ABS.DERS.SANALSINIF.Models.KatilVM
@{
    ViewBag.Title = "Sanal Sınıf Katılım";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-lg-12 col-sm-12 no-margin no-padding">
    @if (string.IsNullOrEmpty(Model.DurumMesaj))
    {
        <div class="col-md-12 col-lg-12 col-sm-12 no-margin no-padding">
            <iframe src="@Model.Adres" style="height: 800px; width: 1400px;"></iframe>
        </div>
    }
    else
    {
        <div class="col-md-12 alert alert-danger center">
            <strong>
                <i class="ace-icon fa fa-times"></i>
                @if (Model.Durum == Sabis.Bolum.Core.ABS.DERS.SANALSINIF.Models.SSDurum.Baslamadi)
                {
                    <span>
                        Sanal sınıf henüz başlamadı <br />
                        Tarih : @Model.DurumMesaj
                    </span>
                }
                else if (Model.Durum == Sabis.Bolum.Core.ABS.DERS.SANALSINIF.Models.SSDurum.Bitti)
                {
                    <span>
                        Sanal sınıf tamamlandı <br />
                        Tarih : @Model.DurumMesaj
                    </span>
                }
                else
                {
                    <span>Hata Oluştu : @Model.DurumMesaj</span>
                }
            </strong>
            <br>
        </div>
    }
</div>

<style type="text/css">
    .page-content {
        padding: 0;
    }
</style>

