﻿
@{
    ViewBag.Title = "Rapor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading bar-arkaplan">Ders Koordinatör Yönetimi</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-3">
                    <select id="ddlFakulteListesi" class="form-control birimSec pull-left" data-tur="Fakülte">
                        <option>Fakülte Seçiniz</option>
                    </select>
                </div>
               
                <div class="col-lg-3">
                    <select id="ddlBolumListesi" class="form-control birimSec" data-tur="Bölüm">
                        <option>Bölüm Seçiniz</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Yaz Okulu Dersi</th>
                            <th>Ders Adi</th>
                            <th>Yarıyıl</th>
                            <th>Öğretim Görevlisi</th>
                            <th class="text-center">İşlem</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tblDersListesi"></tbody>
                </table>
            </div>
        </div>


    </div>
</div>

<style>
    select {
        margin-bottom: 10px;
    }
</style>
<script>
    $(document).ready(function () {
        $.post("/Home/GetirBirimListe", { ustBirimID: 21398, FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: 0 })
                .success(function (json) {
                    $.each(json, function (i, val) {
                        $("#ddlFakulteListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                    });
                });
    });
    $("#ddlFakulteListesi").on("change", function () {
        $("#tblDersListesi").html("");
        $("#ddlBolumListesi").empty().append(' <option value="0">Bölüm Seçiniz</option>');
        $("#ddlAraProgramListesi").css("visibility", "hidden");
        $("#ddlAraProgramListesi").empty();

        $.post("/Home/GetirBirimListe", { ustBirimID: $("#ddlFakulteListesi").val(), FKPersonelID: '@Sabitler.KullaniciID', EnumBirimTuru: null })
            .success(function (json) {
                $.each(json, function (i, val) {
                    $("#ddlBolumListesi").append('<option value="' + val.ID + '">' + val.Ad + '</option>');
                });
            });
    });
    $("#ddlBolumListesi").on("change", function () {

        var bID = $(this).val();
        $("#tblDersListesi").html("");
        var jsonList = "";
        $("#tblDersListesi").append('<tr><td class="col-md-1"><input type="checkbox" class="form-control chkYazOkulu" data-fkdersplanid="' + 333 + '" ' + 444 + ' /></td><td class="col-md-6">' + 555 + '</td><td>' + 666 + '. Yarıyıl</td><td class="col-md-4"><input type="text" class="form-control arama" value="' + 777 + '" placeholder="' + 888 + '"/></td><td class="col-md-1 text-center"><button class="btn btn-primary btnGuncelle" data-personelid="' + 999 + '" data-dersplananaid="' + 111 + '">Güncelle</button></td><td><a href="/EBS/DersBilgileri/DersOzet/' + 222 + '?dil=tr" target="_blank" class="btn default">Ders Bilgileri</a></td></tr>');
        $.post("/Admin/DersKoordinatorleri/GetirBirimDersList", { FKBirimID: bID }).success(function (json2) {
            if (json2.length > 0) {
                console.log(json2.length);
                $.each(json2, function (index, value) {
                    var placeholder = "";
                    if (value.PersonelAdSoyadUnvan == null) {
                        value.PersonelAdSoyadUnvan = "";
                        placeholder = "Ad soyad giriniz";
                    }
                    $("#tblDersListesi").append('<tr><td class="col-md-1"><input type="checkbox" class="form-control chkYazOkulu" data-fkdersplanid="' + value.FKDersPlanAnaID + '" ' + value.YazOkuluDersiMi.toString().replace(/true/g, 'checked').replace(/false/g, '') + ' /></td><td class="col-md-6">' + value.DersAdi + '</td><td>' + value.Yariyil + '. Yarıyıl</td><td class="col-md-4"><input type="text" class="form-control arama" value="' + value.PersonelAdSoyadUnvan + '" placeholder="' + placeholder + '"/></td><td class="col-md-1 text-center"><button class="btn btn-primary btnGuncelle" data-personelid="' + value.FKPersonelID + '" data-dersplananaid="' + value.FKDersPlanAnaID + '">Güncelle</button></td><td><a href="/EBS/DersBilgileri/DersOzet/' + value.FKDersPlanAnaID + '?dil=tr" target="_blank" class="btn default">Ders Bilgileri</a></td></tr>');
                });
            }
            else {
                //araProgramGetir(bID);
            }
        });


    });
</script>

