﻿@model Sabis.Bolum.Core.ABS.DERS.SANALSINIF.Dto.SanalSinifSilDto
@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("_pGrupDersDetaylari", "Detay")
@using (Html.BeginForm())
{
    @*@Html.HiddenFor(m => m.HocaID)*@
    @Html.HiddenFor(m => m.FKDersGrupHocaID)
    @Html.HiddenFor(m => m.sanalsinif.ID)
    <div class="panel panel-primary wrapper2">
        <div class="panel-heading bar-arkaplan">Sanal Sınıf Sil</div>
        <div class="panel-body div2">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th class="col-md-3" text-align="left"><span class="pull-left">Sanal Sınıf Adı</span></th>
                            <td class="col-md-3" colspan="1" text-align="left">@Model.sanalsinif.Ad</td>
                            <th class="col-md-3" text-align="left"><span class="pull-left">Hafta</span></th>
                            <td class="col-md-3" colspan="1" text-align="left">@Model.sanalsinif.Hafta</td>
                        </tr>
                        <tr>
                            <th class="col-md-3" text-align="left"><span class="pull-left">Süre</span></th>
                            <td class="col-md-3" colspan="1" text-align="left">@Model.sanalsinif.Sure</td>
                            <th class="col-md-3" text-align="left"><span class="pull-left">Başlangıç</span></th>
                            <td class="col-md-3" colspan="1" text-align="left">@Model.sanalsinif.Baslangic</td>
                        </tr>
                        
                    </table>
                </div>
                <h4><span class="label label-danger">Sanal Sınıf aşağıdaki tüm gruplardan silinecektir. Sınıf bazlı silme işlemi yapmak istiyorsanız sanal sınıf düzenle ekranından sınıfın seçimini kaldırın.</span></h4>
                <br />
                @foreach (var grup in Model.sanalsinif_gruplar)
                {
                    <h4><span class="label label-success">@grup.GrupAd - (@grup.OgretimTuru Öğretim)</span></h4>
                }
            </div>
        </div>
        

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 pull-right">
                        <div class="btn-toolbar pull-right">
                            @*<a data-toggle="tooltip" title="" class="popbox btn btn-danger btn-label" href="/Ders/OnlineSinav/Liste/@Model.HocaID">
                                <i class="fa fa-times"></i>İptal
                            </a>*@
                            <button class="btn btn-info btn-label"><i class="fa fa-check"></i> Silmeyi Onayla</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

