﻿@model List<Sabis.Bolum.Core.ABS.DERS.SANALSINIF.Dto.SorunBildirimDto>
@{
    ViewBag.Title = "SorunBildirim";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
    var AktiviteAd = Request.QueryString["sad"];
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            @*<li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class="fa fa-chevron-right"></i></li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                    }
                    - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                </a>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li>@AktiviteAd Sorunları</li>
        </ul>
    </div>
}
@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")


<div class="row">
    <div class="col-md-12" style="margin-top: 30px;">
        <div class="table-responsive">
            <div class="panel panel-primary">
                <div class="panel-heading bar-arkaplan">Sanal Sınıf Sorunları</div>
                <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover" style="overflow-x: scroll;">
                            <thead>
                                <tr class="info">
                                    <th class="col-md-2">Ad Soyad</th>
                                    <th class="col-md-1 text-center hidden-xs">Başlık</th>
                                    <th class="col-md-1 text-center">İçerik</th>
                                    <th class="col-md-2 text-center">Tarih</th>
                                    <th class="col-md-1 text-center">Durum</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="col-md-3">@item.AdSoyad</td>
                                            <td class="col-md-3">@item.Baslik</td>
                                            <td class="col-md-3">@item.Icerik</td>
                                            <td class="col-md-2 text-center">@item.Tarih</td>
                                            <td class="col-md-1 text-center">
                                              @if (item.Durum == Sabis.Bolum.Core.ENUM.ABS.EnumGeriBildirimDurum.YENI)
                                              {
                                                <a href="#" class="popbox btn btn-danger btn-label" style="text-decoration:none; color:white !important;" data-title='Sorun Bildirimi Detay' data-toggle='tooltip modal' data-source='/Ders/SanalSinif/SorunBildirimDetay?gid=@item.GeriBildirimID'>@item.Durum</a>
                                              }
                                              else if (item.Durum == Sabis.Bolum.Core.ENUM.ABS.EnumGeriBildirimDurum.OKUNDU)
                                              {
                                                <a href="#" class="popbox btn btn-info btn-label" style="text-decoration:none; color:white !important;" data-title='Sorun Bildirimi Detay' data-toggle='tooltip modal' data-source='/Ders/SanalSinif/SorunBildirimDetay?gid=@item.GeriBildirimID'>@item.Durum</a>
                                              }
                                              else if (item.Durum == Sabis.Bolum.Core.ENUM.ABS.EnumGeriBildirimDurum.TAMAMLANDI)
                                              {
                                                <a href="#" class="popbox btn btn-success btn-label" style="text-decoration:none; color:white !important;" data-title='Sorun Bildirim Detay' data-toggle='tooltip modal' data-source='/Ders/SanalSinif/SorunBildirimDetay?gid=@item.GeriBildirimID'>@item.Durum</a>
                                              }                                                
                                            </td>
                                        </tr>
                                    }

                                }
                                else
                                {
                                    <tr>
                                        <td>Kayıt Bulunamadı</td>
                                    </tr>
                                        
                                }
                            </tbody>
                        </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>
