﻿@model Sabis.Bolum.Core.ABS.DERS.SANALSINIF.Dto.SorunBildirimDto
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading bar-arkaplan">@Model.AdSoyad</div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Durum</th>
                            <td>
                                @if (Model.Durum == Sabis.Bolum.Core.ENUM.ABS.EnumGeriBildirimDurum.YENI)
                                {
                                    <a href="#" class="popbox btn btn-danger btn-label" style="text-decoration:none; color:white !important;">Yeni</a>
                                }
                                else if (Model.Durum == Sabis.Bolum.Core.ENUM.ABS.EnumGeriBildirimDurum.OKUNDU)
                                {
                                    <a href="#" class="popbox btn btn-info btn-label" style="text-decoration:none; color:white !important;">Okundu</a>
                                }
                                else if (Model.Durum == Sabis.Bolum.Core.ENUM.ABS.EnumGeriBildirimDurum.TAMAMLANDI)
                                {
                                    <a href="#" class="popbox btn btn-success btn-label" style="text-decoration:none; color:white !important;" >Tamamlandı</a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>Başlık</th>
                            <td>@Model.Baslik</td>
                        </tr>
                        <tr>
                            <th>İçerik</th>
                            <td>@Model.Icerik</td>
                        </tr>
                        <tr>
                            <th>Bildirim Tarihi</th>
                            <td>@Model.Tarih</td>
                        </tr>
                        <tr>
                            <th>Dosya</th>
                            <td>
                                @if (Model.DosyaKey != null && Model.DosyaKey != "")
                                {
                                    <img src="@SDFSClient.FileClient.GetUrl(Model.DosyaKey)" style="max-width:500px !important; max-height:300px !important; overflow:scroll;" />
                                }
                            </td>
                        </tr>
                       
                        <tr>
                            <th>Cevap</th>
                            <td>
                                @Html.TextAreaFor(model => model.Cevap, new { rows = 5, style = "width:400px" })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a href="#" id="BildirimKaydet" data-bildirimid="@Model.GeriBildirimID" class="btn btn-success">İşlem Tamamlandı</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#BildirimKaydet").on("click", function () {
        var data = {
            gid: $("#BildirimKaydet").attr("data-bildirimid"),
            Cevap : $('#Cevap').val()
        };
        $.post("/Ders/SanalSinif/SanalSinifBildirimKaydet", data)
             .done(function (json) {
                 json ? toastr.success("Tamamlandı") : toastr.error("Hata oluştu");
                 location.reload();
                 });
    });
</script>