﻿@model List<Sabis.Bolum.Core.ABS.DERS.SANALSINIF.Dto.SanalSinifDto>
@using Dil = DilWebClient.Cevir
@{
    ViewBag.Title = "Toplanti";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dersDetay = Sabitler.GetirDersDetay(Convert.ToInt32(Request.RequestContext.RouteData.Values["id"]));
}
@section Navigation
{
    <div class="col-md-9">
        <ul class="page-breadcrumb breadcrumb" style="padding-top:10px;">
            <li><a href="http://abs.apollo.gtu.edu.tr">APOLLO</a><i class="fa fa-chevron-right"></i></li>
            <li><a href='/'>Akademik Bilgi Sistemi</a><i class="fa fa-chevron-right"></i></li>
            @*<li><a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>@dersDetay.DersAd.Substring(0, 1).ToUpper()@dersDetay.DersAd.Substring(1).ToLower()</a><i class="fa fa-chevron-right"></i></li>*@
            <li>
                <a href='/Ders/Detay/Grup/@dersDetay.DersGrupHocaID'>
                    @dersDetay.BolumKod @dersDetay.DersKod - @dersDetay.DersAd

                    @if (dersDetay.EnumOgretimTur != null)
                    {
                        <span>- </span>@Sabis.Enum.Utils.GetEnumDescription((Sabis.Enum.EnumOgretimTur)dersDetay.EnumOgretimTur)
                    }
                    - @dersDetay.GrupAd Grubu (@dersDetay.OgrenciSayisi Öğrenci)
                </a>
                <i class="fa fa-chevron-right"></i>
            </li>
            <li>Sanal Sınıf</li>
        </ul>
    </div>
}
@Html.Partial("~/Areas/Ders/Views/Detay/_pMenu.cshtml")

@*@Html.Action("_pGrupDersDetaylari", "Detay")*@

<div class="row">
    <div class="col-md-12" style="padding-left: 0; padding-right: 0;">
        <div class="col-md-6 col-sm-12 col-xs-12">
            @*@Html.Action("_pGrupDersDetaylari", "Detay", new { redirect = true })*@
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="alert alert-dismissable alert-info" style="color:black !important;">
                @*Sanal sınıf kullanımı hakkında bilgi için <strong><a href="~/Content/files/perculusegitim_video.mp4">EĞİTİM VİDEOMUZU</a></strong> izleyebilirsiniz.*@

                Sanal sınıf kullanımı hakkında bilgi için <strong><a data-toggle="modal" data-size="45" data-backdrop="false" data-keyboard="true" data-original-title="" title="" data-source="http://abs.sakarya.edu.tr/Content/files/perculus.html">EĞİTİM VİDEOMUZU</a> izleyebilirsiniz.</strong>
                <br />
                Sistem uyumluluğunuzu kontrol etmek için
                <strong>
                    <a title="Sistem uyumluluğu kontrol" target="_parent" href="www.etoplanti.sakarya.edu.tr/help/systemcheck.aspx?embed=true&amp;mediaserver=&amp;lang=tr-TR">tıklayınız</a>
                </strong>
                <br />
                Ekranınızı diğer katılımcılarla paylaşabilmeniz için bilgisayarınızda Java 1.6 JRE veya daha üstü kurulu olmalıdır.
                <br />
                Sanal sınıflarınızda kamera ve mikrofon sorunu ile karşılaşmamak için <strong>İnternet Explorer 11</strong> ve <strong>Mozilla Firefox 55</strong> tarayıcı versiyonlarını kullanmanız önerilmektedir.
                <br />
                Sanal sınıf esnasında ekran paylaşımı yapabilmek için <strong>İnternet Explorer 11</strong> tarayıcısını kullanmalısınız.
                <br />
                <strong>Destek Telefonu</strong> : 0264 295 55 41
                <br />
                <strong>Destek E-Posta</strong> : uzemdestek@gtu.edu.tr
                <br />
                <strong> Online Destek</strong> : Uzak masaüstü bağlantısı ile destek almak için bilgisayarınızda <a href="https://www.teamviewer.com/tr/">TEAMVIEWER</a> kurulu olmalıdır.
                <br />
                <strong>Çalışma saatleri</strong> : Haftaiçi 09:00 - 17:30
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-top: 30px;">
        <div class="table-responsive">
            <div class="panel panel-primary">

                <div class="panel-heading bar-arkaplan">@Dil.Getir("sanal_sinif")</div>
                <div class="panel-body">
                    <a class="btn btn-white btn-bold btn-success" href="@Url.Action("Ekle", new { @id = ViewBag.HocaID})">
                        <i class="ace-icon fa fa-plus bigger-110"></i>
                        Sanal Sınıf Oluştur
                    </a>
                    <br />
                    <br />
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-striped table-bordered table-hover" style="overflow-x: scroll;">
                            <thead>
                                <tr class="info">
                                    <th class="col-md-2">Aktivite</th>
                                    <th class="col-md-1 text-center hidden-xs">Başlangıç Tarihi</th>
                                    <th class="col-md-1 text-center">Süre</th>
                                    <th class="col-md-2 text-center">Erişim Durumu</th>
                                    <th class="col-md-1 text-center">İşlem</th>
                                    <th class="col-md-1 text-center">Sorun Bildir</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="vert-align"><i class="fa fa-group fa-2x text-primary" style="vertical-align:middle; !important;"></i> <a href='#' onClick="window.open('/Ders/SanalSinif/Katil/@item.ID', '_blank', 'width=1400, height=800'); return false;"> @item.Ad </a> </td>
                                        <td class="text-center"><h4><span class="label label-primary"> @item.Baslangic </span></h4></td>
                                        <td class="text-center"><h4><span class="label label-success"> @item.Sure Dakika </span></h4></td>
                                        <td class="text-center">
                                            @if (DateTime.Now > item.Baslangic && DateTime.Now < item.Baslangic.AddMinutes(item.Sure))
                                            {
                                                <h4><span class="label label-success">Sanal Sınıfa Katılabilirsiniz.</span></h4>
                                            }
                                            @if (DateTime.Now > item.Baslangic.AddMinutes(item.Sure))
                                            {
                                                <h4><span class="label label-danger">Sanal Sınıfın Tarihi Geçti.</span></h4>
                                            }
                                            @if (DateTime.Now < item.Baslangic)
                                            {
                                                <h4><span class="label label-warning">Sanal Sınıfın Tarihi Henüz Gelmedi</span></h4>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <a data-toggle="tooltip" title="Düzenle" alt="Düzenle" class="popbox btn btn-info btn-label" href="/Ders/SanalSinif/Duzenle/@ViewBag.HocaID?sanalsinifid=@item.ID">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a data-toggle="tooltip" title="Sil" alt="Sil" class="popbox btn btn-danger btn-label" href="/Ders/SanalSinif/Sil/@ViewBag.HocaID?sanalsinifid=@item.ID">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <a data-toggle="tooltip" title="Raporlar" alt="Raporlar" class="popbox btn btn-primary btn-label" href="/Ders/SanalSinif/Rapor/@ViewBag.HocaID?sanalsinifid=@item.ID">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a data-toggle="tooltip" title="Yeni" alt="Yeni" class="popbox btn btn-danger btn-label" href="/Ders/SanalSinif/SorunBildirim/@ViewBag.HocaID?sid=@item.ID&sad=@item.Ad&m=0">
                                                @if (@item.YeniSorunBildirim > 0)
                                                {
                                                    @item.YeniSorunBildirim
                                                }
                                                else
                                                {
                                                        <span>-</span>
                                                }

                                            </a>
                                            <a data-toggle="tooltip" title="Okundu" alt="Okundu" class="popbox btn btn-info btn-label" href="/Ders/SanalSinif/SorunBildirim/@ViewBag.HocaID?sid=@item.ID&sad=@item.Ad&m=1">
                                                @if (@item.OkunanSorunBildirim > 0)
                                                {
                                                    @item.OkunanSorunBildirim
                                                }
                                                else
                                                {
                                                    <span>-</span>
                                                }
                                            </a>
                                            <a data-toggle="tooltip" title="Tamamlandı" alt="Tamamlandı" class="popbox btn btn-success btn-label" href="/Ders/SanalSinif/SorunBildirim/@ViewBag.HocaID?sid=@item.ID&sad=@item.Ad&m=2">
                                                @if (@item.TamamlananSorunBildirim > 0)
                                                {
                                                    @item.TamamlananSorunBildirim
                                                }
                                                else
                                                {
                                                    <span>-</span>
                                                }
                                            </a>
                                            @*@if (item.SorunBildirim)
                                                {
                                                    <input style="width: 20px; height: 20px;" type="checkbox" class="cbxSorunBildir" data-id="@item.ID" checked/>
                                                }
                                                else
                                                {
                                                    <input style="width: 20px; height: 20px;" type="checkbox" class="cbxSorunBildir" data-id="@item.ID" />
                                                }*@

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <span class="">Henüz Sanal Sınıf Oluşturulmamış.</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="memberModalLabel">Sanal Sınıf Kullanımı İle İlgili Bilgilendirme</h4>
            </div>
            <div class="modal-body">
                <p>
                    1- <strong>Adobe Flash Player</strong> ve <strong>Java</strong> uygulamalarını en güncel versiyonlarına güncellemelisiniz.
                </p>
                <p>
                    2- Sanal sınıflarınızda kamera ve mikrofon sorunu ile karşılaşmamak için <strong>İnternet Explorer 11</strong> ve <strong>Mozilla Firefox 55</strong> tarayıcı versiyonlarını kullanmanız önerilmektedir.
                </p>
                <p>
                    3- Sanal sınıf esnasında ekran paylaşımı yapabilmek için <strong>İnternet Explorer 11</strong> tarayıcısını kullanmalısınız.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
@*<script>
        $(document).ready(function () {


            $.getJSON("http://lms.apollo.gtu.edu.tr/api/TApi/Test/@dersDetay.DersGrupID", function (result) {
                console.log(result);
                if (result.VClass.length > 0) {

                    for (var i = 0; i < result.VClass.length; i++) {
                        var ikonYayinDurumu = "";
                        if (result.VClass[i].Publish == 1) {
                            ikonYayinDurumu = "publish-ok";
                        }
                        if (result.VClass[i].Publish == 0) {
                            ikonYayinDurumu = "publish-not";
                        }
                        if (result.VClass[i].Publish == 2) {
                            ikonYayinDurumu = "publish-removed"
                        }

                        var linkler = '<td class="col-md-2 text-center vert-align">' +
                            '<a data-toggle="tooltip" class="popbox padding-right-20" target="_blank" title="Düzenle" href="http://www.vclass.sakarya.edu.tr/teacher/edit/' + result.VClass[i]["ActivityId"] + '"><i class="fa fa-2x fa-pencil" style="background-color: inherit !important"></i></a>' +
                            '<a data-toggle="tooltip" class="popbox padding-right-20" target="_blank" title="Rapor" href="http://www.vclass.sakarya.edu.tr/teacher/reports/' + result.VClass[i]["ActivityId"] + '"><i class="fa fa-2x fa-bar-chart green" style="background-color: inherit !important"></i></a>' +
                            '<a data-toggle="tooltip" class="popbox" title="Sil" target="_blank" href="http://www.vclass.sakarya.edu.tr/teacher/delete/' + result.VClass[i]["ActivityId"] + '"><i class="fa fa-2x fa-trash red" style="background-color: inherit !important"></i></a></td>';

                        $("#icerikListesi").append('<tr><td class="col-md-1 text-center vert-align"><i data-toggle="tooltip" title="" class="fa ' + result.VClass[i].Icon + ' fa-2x ' + ikonYayinDurumu + ' white" data-original-title="Yayınlandı"></i></td><td class="col-md-9 vert-align"><a class="modal-trigger title popbox" target="_blank" href="http://www.vclass.sakarya.edu.tr/teacher/details/' + result.VClass[i].ActivityId + '">' + result.VClass[i].Name + '</a><p><span class="label label-success middle">' + result.VClass[i].ViewCount + ' Görüntüleme</span></p></td>' + linkler + '</tr>');
                    }
                }

            });
        });
    </script>*@

<style>
    .padding-right-20 {
        margin-right: 20px !important;
    }
</style>
<script type="text/javascript">
    $('#memberModal').modal('show');
    $('.cbxSorunBildir').on("change", function () {
        console.log($(this).attr("data-id"));
        console.log($(this).is(":checked"));
        $.post("/Ders/SanalSinif/SorunBildir", { id: $(this).attr("data-id"), deger: $(this).is(":checked") })
             .done(function (json) {
                 json ? toastr.success("Kaydedildi.") : toastr.error("Hata oluştu");
             });
    });
</script>